& when (@media-common = true) {
    .page-layout-article {
        .page-main {
            padding: 0;
            .block-static-block {
                padding: 0;
                margin-bottom: 0;

                .top-bar {
                    margin: 0;
                    border-bottom: 1px solid @color-white2;

                    ul {
                        margin: 0;
                        padding: 0;
                        list-style-type: none;

                        li {
                            display: inline-block;
                            text-transform: uppercase;
                            letter-spacing: 2px;
                            font-size: 10px;
                            margin-left: 40px;
                            margin-bottom: 0;

                            h1 {
                                font-size: inherit;
                            }

                            a,
                            span,
                            div{
                                display: inline-block;
                                padding: 20px 0 16px 0;
                                border-bottom: 2px solid transparent;
                                height: 13px;
                                color: @color-warm-grey;
                                .lib-css(transition, border-color 0.3s, 1);

                                &:hover {
                                    border-color: @color-black-title;
                                    text-decoration: none;
                                }
                            }

                            &#blog-article-title {
                                display: inline-block;
                                padding: 20px 0 16px 0;
                                border-bottom: 2px solid transparent;
                                height: 13px;
                                -moz-transition: border-color 0.3s;
                                -o-transition: border-color 0.3s;
                                -webkit-transition: border-color 0.3s;
                                transition: border-color 0.3s;
                                color: @color-black;

                                &:hover {
                                    border-color: #222;
                                }

                                a,
                                span,
                                div{
                                    color: @color-black;
                                }
                            }
                        }
                    }
                }
            }
        }

        .column.main {
            .article-content {
                width: 66%;
                max-width: 800px;
                margin: auto;
                position: relative;
                font-weight: lighter;
                text-align: center;

                .date {
                    font-size: 11px;
                    letter-spacing: 1px;
                    color: #ed1e24;
                    padding-bottom: 10px;
                    border-bottom: 2px solid;
                    display: inline-block;
                    margin-bottom: 25px;
                    margin-top: 17px;
                }

                h1 {
                    font-weight: 800;
                    font-size: 26px;
                    text-align: center;
                    padding: .67em 0;
                    margin: 0;
                    color: @color-black-title;
                    text-transform: none;
                    letter-spacing: normal;
                    line-height: 1.4;
                }

                .text-content {
                    p {
                        color: #888;
                        line-height: 20px;
                        letter-spacing: 1px;
                        text-align: justify;
                        margin: 13px 0;
                        font-size: 13px;
                    }

                    img {
                        position: relative;
                        width: 100%;
                        margin: 20px 0;
                    }
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
    .page-layout-article {
        .main.column {
            .article-content {
                width: ~"calc(100% - 50px)";
                padding: 0 25px;
            }
        }
    }
}

.media-width(@extermum, @break) when (@extermum = 'max') and (@break = @screen__m) {
    .page-layout-article {
        .page-main {
            padding-top: 15px;
            .block-static-block {
                .top-bar {
                    ul {
                        li {
                            display: block;
                            margin-left: 20px;
                            a,
                            span,
                            div {
                                color: @color-black-title;
                            }

                            &:first-child {
                                a {
                                    border-bottom-color: @color-black-title;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
