.cms-page-view {
    &.cms-product-care-leather-goods,
    &.cms-product-care {
        &.page-layout-nofullscreen {
            .page-main {
                padding-top: 57px;
            }
            .columns {
                max-width: 100%;
                .column.main {
                    padding-bottom: 0;
                }
                h1 {
                    position: relative;
                    margin-bottom: 40px;
                    @media (max-width: @ipad__landscape) {
                        font-size: 14px;
                    }
                    &:after {
                        content: "";
                        position: absolute;
                        background: #dededd;
                        width: 96%;
                        height: 1px;
                        top: 55%;
                        display: block;
                        z-index: -1;
                        @media (max-width: @ipad__landscape) {
                            top:auto;
                            bottom: -13px;
                        }
                    }
                    .title {
                        background: white;
                        padding-right: 23px;
                    }
                }
                .section {
                    max-width: 100%;
                    &.first {
                        margin-bottom: 40px;
                        padding-bottom: 40px;
                        position: relative;
                        &:after {
                            content: "";
                            position: absolute;
                            bottom: 0;
                            background: url("@{baseDir}images/divider-dotted.png") repeat;
                            width: 100%;
                            height: 1px;
                        }
                    }
                    h2 {
                        font-weight: lighter;
                        font-size: 17px;
                        letter-spacing: 1px;
                        margin-bottom: 17px;
                    }
                    p,li {
                        font-size: 13px;
                    }
                    li {
                        margin-bottom: 0;
                    }
                    h3 {
                        font-size: 13px;
                        color: #222;
                        text-transform: uppercase;
                        margin-top: 1.33em;
                        margin-bottom: 5px;
                    }
                    a {
                        text-decoration: underline;
                    }
                    .last-p {
                        margin-top: 30px;
                    }
                }
            }
        }
    }

    #content-termsofsale,
    #content-termsofuse {
        height: 1110px;
        max-height: 1110px;
        display: flex;
        position: relative;
        ul,ol {
            margin: 1em 0;
        }
        ol {
            list-style-type: lower-roman;
        }
        a {
            color: #000000;
        }
        .subcontentTitle {
            color: #000000;
        }
        #left-policy {
            flex: 60%;
            overflow-y: scroll;
            padding: 70px 80px 40px 40px;
            height: 1040px;
            max-height: 1070px;
            overflow-x: hidden;
            &::-webkit-scrollbar {
                width: 6px;
            }
            &::-webkit-scrollbar-thumb {
                background: #cccccc;
                &:hover {
                    background: #bbb;
                }
            }
            h1 {
                position: relative;
                margin-bottom: 40px;
                &:after {
                    content: "";
                    position: absolute;
                    width: 87%;
                    height: 1px;
                    background: #f0f1f1;
                    top: 50%;
                    margin-left: 15px;
                }
                & + hr {
                    display: none;
                }
            }
            h2 {
                font-size: 26px;
                margin: 0.67em 0;
                text-transform: none;
                line-height: 1.4;
            }
            .cookies-policy {
                th {
                    font-size: 12.8px;
                    letter-spacing: 1px;
                    font-weight: lighter;
                    text-transform: uppercase;
                    padding: 10px 10px;
                    border: 1px solid #000;
                    p {
                        text-transform: lowercase;
                    }
                }
                p {
                    margin: 1em 0;
                    &.title {
                        color: #ed1e24 ;
                        height: 40px;
                        line-height: 20px;
                    }
                }
            }
            h4 {
                font-size: 1em;
                margin: 1.33em 0;
                color: #000;
            }
        }
        #right-policy {
            flex: 40%;
            height: 1150px;
            overflow: hidden;
        }
        table.cookies-policy {
            td {
                padding: 5px 10px;
                color: #888;
                height: 26px;
                vertical-align: top;
                border: 1px solid #000;
            }
            tr {
                text-align: left;
                &.cookies-policy-head_bg {
                    background-color: #d3d3d3;
                }
            }
        }
        .anchor {
            display: block;
            position: relative;
            top: -100px;
            visibility: hidden;
        }
    }
    &.cms-binding-corporate-rules,&.cms-cookies {
        #content-termsofsale {
            #right-policy {
                background: url("@{baseDir}images/cookies-bg.jpg") no-repeat;
                background-size: auto;
                background-position-x: -800px;
            }
        }
    }
    &.cms-binding-corporate-rules {
        #content-termsofsale {
            ol {
                list-style-type: decimal;
                li {
                    ol {
                        list-style-type: lower-alpha;
                    }
                }
            }
            #left-policy h2 {
                font-size: 15px;
            }
            table.country-rgpd {
                table-layout: fixed;
                width: 100%;
                border: 1px solid #f2f2f1;
                margin-bottom: 15px;
                tr:nth-child(odd) {
                    background-color: #f9fafa;
                }
                th {
                    text-align: center;
                    color: #ed1e24;
                    font-size: 13px;
                    letter-spacing: 1px;
                    font-weight: lighter;
                    text-transform: uppercase;
                    padding: 23px 10px;
                }
                td {
                    padding: 1px 6%;
                    color: #888;
                    height: 26px;
                }
            }
        }
    }
}

@media (max-width: @ipad__landscape) {
    .cms-page-view {
        #content-termsofsale {
            h2 {
                font-size: 15px;
            }
            #right-policy {
                display: none;
            }
        }
    }
    .cms-page-view #content-termsofsale #left-policy h1,
    .cms-page-view #content-termsofuse #left-policy h1 {
        font-size: 14px;
        line-height: 20px;
        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: auto;
            background: #f0f1f1;
            top: auto;
            margin-left: 0;
            bottom: -16px;
            border-bottom: 1px solid #f0f1f1;
            left: 0;
        }
    }
}

@media (max-width: @ipad__portrait) {
    .cms-page-view #content-termsofsale,
    .cms-page-view #content-termsofuse {
        width: 100%;
        height: auto;
        max-height: none;
        h1 {
            font-size: 1.15em;
        }
        #left-policy {
            flex: 100%;
            padding: 50px 20px 20px 20px;
            height: auto;
            max-height: none;
            overflow: hidden;
        }
        #right-policy {
            flex: 0;
        }
        .cookies-policy {
            font-size: 0.8em;
        }
        .contentTitle {
            font-size: 1em;
        }
        .anchor {
            top: -10px;
        }
        table.cookies-policy {
            tr {
                display: flex;
                flex-direction: column;
            }
            td {
                display: block;
                height: auto;
            }
        }
    }
}

@media (max-width: 480px) {
    .cms-page-view.cms-binding-corporate-rules #content-termsofsale #left-policy h2,
    .cms-page-view #content-termsofsale .subcontentTitle,
    .cms-page-view.cms-binding-corporate-rules #content-termsofuse #left-policy h2,
    .cms-page-view #content-termsofuse .subcontentTitle{
        line-height: 17px;
        font-size: 12.8px;
    }
}
