//
//  Common
//  _____________________________________________


& when (@media-common = true) {
    .discover-eyes {
        color: @color-black;
        .lib-font-family(@f-freightdisp);

        .bloc-video-title {
            background: url('@{baseDir}Magento_Cms/images/grain-bg.gif');
            padding-bottom: 23px;
            margin: 0 auto 54px;

            .topbox-video {
                padding: 0 52px 18px;
                margin-bottom: 0;

                .easycms-line-break {
                    margin: 0;
                }

                .video-container {
                    max-width: 920px;
                    margin: 0 auto;
                }
            }

            .title,
            .subtitle {
                text-align: center;
            }

            .title {
                font-size: @font-size_42;
                letter-spacing: 2px;
                font-weight: @font-weight__boldcn;
                line-height: 1.2;
                margin: 6px 0 0;
                text-transform: none;

                .ja-jp & {
                    font-weight: @font-weight__heavier;
                }
            }

            .subtitle {
                font-size: @font-size_12;
                letter-spacing: 9px;
                line-height: 1.8;
                text-transform: uppercase;
                padding: 0 30px;
                margin: 5px 0;
                font-weight: @font-weight__light;
            }
        }

        .block-quote,
        .block-paragraph,
        .block-product {
            padding: 0 30px;
            max-width: 315px;
            margin: 0 auto;
        }

        .block-quote {
            margin: 10px auto 36px;
            font-size: @font-size_18;
            text-align: center;
            font-weight: @font-weight__light;
            line-height: 1.6;
            letter-spacing: 1.2px;

            .ja-jp & {
                font-weight: normal;
            }

            .author {
                font-size: @font-size_12;
                letter-spacing: .8px;
                line-height: 1.4;
                margin-top: 12px;
            }

            .pre-quote {
                font-size: @font-size_15;
                letter-spacing: .7px;
                line-height: 1.4;
                margin-bottom: 25px;
            }
        }

        .block-paragraph {
            font-weight: @font-weight__light;
            margin: 0 auto 47px;
            font-size: @font-size_15;
            line-height: 1.7;
            letter-spacing: .7px;
            text-align: justify;

            .ja-jp & {
                font-weight: normal;
            }

            p {
                padding: 36px 0;
                border-top: solid 1px @color-input-grey-border;
                border-bottom: solid 1px @color-input-grey-border;
            }
        }

        .block-product {
            margin-bottom: 65px;

            .image {
                margin: 0 0 48px;
                text-align: center;
            }

            .product-title {
                margin: 0 0 43px;
            }

            .product-name {
                font-size: @font-size_14;
                font-weight: @font-weight__bold;
                line-height: 1.8;
                letter-spacing: 7.5px;
                text-transform: uppercase;
                margin: 20px 0 51px;
                max-width: 310px;
            }

            .colors {
                padding: 0 5px 0 0;

                li {
                    display: inline-block;
                    margin: 0 12% 33px 0;

                    a {
                        font-size: @font-size_15;
                        font-weight: @font-weight__boldcn;
                        letter-spacing: 1px;
                        text-decoration: none;
                        line-height: 1;
                        position: relative;

                        .ja-jp & {
                            font-weight: normal;
                        }

                        &:before {
                            content: '';
                            display: inline-block;
                            width: 16px;
                            height: 16px;
                            margin: 0 10px 0 0;
                            border-radius: 50%;
                            vertical-align: text-bottom;

                            .ja-jp & {
                                vertical-align: middle;
                            }
                        }

                        &:after {
                            content: "";
                            position: absolute;
                            top: -2px;
                            left: -3px;
                            .lib-css(border-radius, 50%, 1);
                            border: 1px solid #9B9B9B;
                            .lib-css(transition, all .3s ease-out, 1);
                            opacity: 0;
                            width: 20px;
                            height: 20px;

                            .ja-jp & {
                                top: 0;
                            }
                        }

                        &:hover {
                            &:after {
                                .lib-css(animation, pulse 1s both, 1);
                                opacity: 1;
                            }

                            @-webkit-keyframes pulse {
                                from {
                                    .lib-css(transform, scale3d(1,1,1), 1);
                                }
                                50% {
                                    .lib-css(transform, scale3d(1.05,1.05,1.05), 1);
                                }
                                to {
                                    .lib-css(transform, scale3d(1, 1, 1), 1);
                                }
                            }

                            @keyframes pulse {
                                from {
                                    .lib-css(transform, scale3d(1,1,1), 1);
                                }
                                50% {
                                    .lib-css(transform, scale3d(1.1,1.1,1.1), 1);
                                }
                                to {
                                    .lib-css(transform, initial, 1);
                                }
                            }
                        }
                    }

                    &.khol a {
                        color: rgb(5, 6, 11);

                        &:before {
                            background-color: rgb(5, 6, 11);
                        }
                    }

                    &.sevillana a {
                        color: rgb(83, 11, 49);

                        &:before {
                            background-color: rgb(83, 11, 49);
                        }
                    }

                    &.rouge-louboutin a {
                        color: rgb(230, 43, 48);

                        &:before {
                            background-color: rgb(230, 43, 48);
                        }
                    }

                    &.lady-twist a {
                        color: rgb(9, 70, 91);

                        &:before {
                            background-color: rgb(9, 70, 91);
                        }
                    }

                    &.deep-teal a {
                        color: rgb(28, 66, 69);

                        &:before {
                            background-color: rgb(28, 66, 69);
                        }
                    }

                    &.zoulou a {
                        color: rgb(75, 52, 44);

                        &:before {
                            background-color: rgb(75, 52, 44);
                        }
                    }

                    &.hot-chick a {
                        color: rgb(229, 226, 65);

                        &:before {
                            background-color: rgb(229, 226, 65);
                        }
                    }

                    &.fierce a {
                        color: rgb(125, 51, 64);

                        &:before {
                            background-color: rgb(125, 51, 64);
                        }
                    }

                    &.brunette a {
                        color: rgb(93, 70, 63);

                        &:before {
                            background-color: rgb(93, 70, 63);
                        }
                    }

                    &.auburn a {
                        color: rgb(151, 96, 79);

                        &:before {
                            background-color: rgb(151, 96, 79);
                        }
                    }

                    &.taupe a {
                        color: rgb(162, 129, 109);

                        &:before {
                            background-color: rgb(162, 129, 109);
                        }
                    }

                    &.blonde a {
                        color: rgb(187, 149, 123);

                        &:before {
                            background-color: rgb(187, 149, 123);
                        }
                    }
                }
            }

            .description {
                font-size: @font-size_15;
                font-weight: @font-weight__light;
                letter-spacing: .7px;
                line-height: 1.7;
                text-align: justify;

                .ja-jp & {
                    font-weight: normal;
                }
            }

            &.lash {
                .image {
                    background: url('@{baseDir}Magento_Cms/images/sect1-item-bg-new.jpg') no-repeat center;
                    background-size: 97% 63%;

                    img {
                        width: 38%;
                        max-width: 143px;
                    }
                }
            }

            &.liner {
                .image {
                    background: url('@{baseDir}Magento_Cms/images/sect2-item-bg.jpg') no-repeat center;
                    background-size: 97% 68%;

                    img {
                        width: 23.4%;
                        max-width: 92px;
                    }
                }

                .product-title {
                    img {
                        max-width: 252px;
                    }
                }

                .colors {
                    li {
                        margin-right: 15%;
                    }
                }
            }

            &.definer {
                margin-top: 45px;

                .image {
                    background: url('@{baseDir}Magento_Cms/images/sect3-item-bg-new.jpg') no-repeat center;
                    background-size: 97% 64%;

                    img {
                        width: 9.6%;
                        max-width: 38px;
                    }
                }

                .product-title {
                    img {
                        max-width: 215px;
                    }
                }

                .colors {
                    li {
                        width: 98px;
                        margin-right: 5%;

                        .ja-jp & {
                            width: auto;
                            margin-right: 12%;
                        }
                    }
                }
            }

            &.brow-definer {
                margin-bottom: 30px;

                .image {
                    background: url('@{baseDir}Magento_Cms/images/sect4-item-bg.jpg') no-repeat center;
                    background-size: 97% 63%;

                    img {
                        width: 100%;
                        max-width: 89px;
                    }
                }

                .colors {
                    li {
                        width: 90px;

                        .ja-jp & {
                            width: 106px;
                            margin-right: 4%;
                        }
                    }
                }
            }
        }

        .block-images {
            max-width: 375px;
            margin: 0 auto 90px;

            .granulated-image {
                background: url('@{baseDir}Magento_Cms/images/grain-bg.gif');
                padding-top: 30%;
                padding-bottom: 30%;
                text-align: center;

                img {
                    width: 51%;
                }
            }
        }

        .link {
            display: inline-block;
            color: @color-black;
            border-bottom: solid 1px @color-black;
            margin: 15px 0;
            padding: 15px 0;
            font-size: @font-size_11;
            .lib-font-family(@f-avenir-roman);
            font-weight: @font-weight__regular;
            letter-spacing: 3px;
            text-transform: uppercase;
            text-decoration: none;
        }

        .block-link {
            .link {
                margin: 0 auto;
                text-align: center;
                line-height: 3.7;
                border: none;
                position: relative;
                padding: 0;
                max-width: 230px;
                display: block;
                border-bottom: 1px solid @color-black;

                &:after {
                    content: '';
                    display: none;
                    position: absolute;
                    top: 50%;
                    border-bottom: solid 1px @color-black;
                    width: 100%;
                }

                &:hover {
                    .lib-css(box-shadow, 0 1px 0 0 @color-grey, 1);
                }
            }
        }
    }

    .fr-fr,
    .ca-fr {
        .discover-eyes {
            .block-link {
                .link {
                    border-bottom: none;

                    &:after {
                        display: block;
                    }
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xxs) {
    .discover-eyes {
        .bloc-video-title {
            .title {
               letter-spacing: 1px;
                font-size: @font-size_40;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xs) {
    .discover-eyes {
        .block-link {
            text-align: center;
            .link {
                max-width: 330px;
                display: inline-block;

                &:after {
                    top: inherit;
                    display: block;
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = (@screen__m - 1)) {
    .discover-eyes {
        .bloc-video-title {
            padding-bottom: 63px;
            margin: 0 auto 100px;

            .title {
                font-size: @font-size_80;
                letter-spacing: 4px;
                margin: 10px 0 0;
            }
            .subtitle {
                font-size: @font-size_14;
                letter-spacing: 10px;
                margin: 10px 0;
            }
        }

        .block-quote,
        .block-paragraph,
        .block-product,
        .block-link {
            max-width: inherit;
        }

        .block-quote {
            margin-bottom: 90px;
            font-size: @font-size_28;
            line-height: 1.3;
            letter-spacing: 1.2px;
            max-width: 460px;

            .pre-quote {
                font-size: @font-size_20;
            }

            .author {
                font-size: @font-size_15;
            }
        }

        .block-paragraph {
            margin: 0 auto 52px;
            max-width: 964px;
            padding: 0;

            p {
                margin: 0 60px;
                .lib-css(column-count, 2, 1);
                .lib-css(column-gap, 3em, 1);
            }
        }

        .block-product {
            .lib-vendor-prefix-display(flex);
            max-width: 840px;

            .image {
                width: 50%;
                background-origin: content-box;
                margin-top: 40px;
                padding-top: 0;

                img {
                    width: auto;
                }
            }

            .content {
                width: 44%;
                padding-left: 6.3%;
                padding-top: 40px;
            }

            .product-title {
                margin-bottom: 25px;

                img {
                    max-width: 293px;
                }
            }

            .description {
                max-width: 280px;
            }

            &.lash {
                .image {
                    background-size: 100% 57%;
                    padding-top: 77px;
                }
            }

            &.liner {
                .image {
                    background-size: auto;
                }

                .colors {
                    li {
                        margin-right: 20%;

                        &.rouge-louboutin {
                            margin-right: 0;
                        }

                        .ja-jp & {
                            margin-right: 15%;
                        }
                    }
                }
            }

            &.definer {
                .image {
                    background-size: auto;
                    margin-top: 0;
                    padding-top: 40px;
                }

                .colors {
                    li {
                        .ja-jp & {
                            width: auto;
                            margin-right: 12%;
                        }
                    }

                    .zoulou {
                        .ja-jp & {
                            margin-right: 7.5%;
                        }
                    }
                }
            }

            &.brow-definer {
                .image {
                    background-size: auto;
                    margin-top: 0;
                    padding-top: 40px;

                    img {
                        max-width: 100px;
                    }
                }

                .product-title {
                    img {
                        max-width: 299px;
                    }
                }

                .colors {
                    li {
                        .ja-jp & {
                            width: 106px;
                            margin-right: 5%;
                        }
                    }
                }
            }
        }

        .block-images {
            .lib-vendor-prefix-display(flex);
            max-width: 880px;

            .granulated-image,
            .not-granulated-image {
                width: 50%;
            }

            .granulated-image {
                padding: 0;
                .lib-vendor-prefix-display(flex);
                .lib-css(align-items, center, 1);
                .lib-css(justify-content, center, 1);

                img {
                    width: 55%;
                }
            }

            .not-granulated-image {
                img {
                    display: block;
                }
            }
        }
    }
}


.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .discover-eyes {
        .bloc-video-title {
            .title {
                margin: 15px 0 0;
            }
            .subtitle {
                margin: 8px 0;
            }
        }

        .link {
            position: relative;

            &:before {
                content: '';
                position: absolute;
                margin: auto;
                right: 0;
                bottom: 0;
                left: 0;
                width: 0;
                border-bottom: solid 1px;
                .lib-css(transition, all .3s ease, 1);
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .block-link {
            margin-bottom: 66px;
        }
    }
}