//
//  Common
//  _____________________________________________


& when (@media-common = true) {
    .discover-beauty {
        .title-orange,
        .title-red,
        .title-mauve {
            span {
                padding: 0 15px;
            }
        }

        .fragrance-introduction {
            max-width: 600px;
            width: 100%;
            margin: 20px auto 40px;

            p {
                font-size: @font-size_14;
                line-height: 1.75;
                padding: 0 30px;
            }
        }

        .product-image-link {
            .lib-font-family(@f-avenir);
            max-width: 560px;

            img {
                width: 75%;

                &.half-width {
                    width: 50%;
                }
            }

            .title,
            .price {
                color: @color-orange;
            }

            .title {
                font-size: @font-size_16;
                text-transform: uppercase;
                margin: 10px 0 20px;
                .lib-font-family(@f-didot);
            }

            p {
                font-size: @font-size_13;
                padding: 0 30px;
                color: @color-dark-grey;
                line-height: 1.8;
                letter-spacing: 0;
                max-width: 500px;
                margin: 0 auto 20px;
            }

            .price {
                margin: 0 0 20px;
                .lib-font-family(@f-avenir);
                letter-spacing: 1.5px;
                font-size: @font-size_13;
            }

            a {
                .lib-font-family(@f-avenir-roman);
                font-weight: @font-weight__bold;
                letter-spacing: 2px;
                font-size: @font-size_11;

                &:after {
                    bottom: 0;
                }
            }
        }

        .topbox-video {
            margin-bottom: 40px;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .discover-beauty {
        .title-orange,
        .title-red,
        .title-mauve {
            font-size: @font-size_38;
            letter-spacing: 3px;
            margin-bottom: 40px;
        }

        .fragrance-introduction {
            p {
                font-size: @font-size_20;
                line-height: 2;
                letter-spacing: 1px;
                padding: 0;
            }
        }

        .topbox-video {
            margin-bottom: 60px;
        }
    }
}