//
//  Common
//  _____________________________________________

@nails-background: #f9f9f9;
@nails-color_blacks: #592842;
@nails-color_red: #cc0809;
@nails-color_pops: #69afa9;
@nails-color_nudes: #d7a187;

@keyframes thisway {
    0%,12.5%,25%,100% {
        .lib-css(transform, translateY(0), 1);
    }

    6.75%,19.25% {
        .lib-css(transform, translateY(7px), 1);
    }
}

.nails-loop (@i, @j) when (@i < 31) {
    &:nth-child(@{j}) {
        .lib-css(transform, rotate(@i*360/31deg) translate3d(0, -227px, 0), 1);
    }
    .nails-loop(@i + 1, @j + 1);
}

.nails-loop-zoom (@i, @j) when (@i < 31) {
    &:nth-child(@{j}) {
        .lib-css(transform, rotate(@i*360/31deg) translate3d(0, -380px, 0), 1);

        &:hover {
            .lib-css(transform, rotate(@i*360/31deg) translate3d(0, -390px, 0), 1);
        }
    }
    .nails-loop-zoom(@i + 1, @j + 1);
}

& when (@media-common = true) {
    .discover-nails {
        display: none;

        section:last-child {
            margin-bottom: -65px;
        }

        //
        //  Cover
        //  _____________________________________________
        > .cover {
            color: @color-black-title;
            overflow: hidden;
            position: relative;

            .image-holder {
                background-position: center center;
                background-size: cover;
                background-repeat: no-repeat;
                height: 100%;
                position: absolute;
                width: 100%;
            }

            .content {
                bottom: 0;
                font-weight: lighter;
                height: 340px;
                left: 0;
                margin: auto auto auto 10%;
                top: 0;
                right: 0;
                width: 290px;

                h1 {
                    font-size: @font-size_16;
                    font-weight: @font-weight__regular;
                    letter-spacing: 5px;
                    line-height: 25px;
                    margin-bottom: 40px;
                    position: absolute;
                    top: 30px;
                    width: 250px;
                }

                p {
                    font-size: @font-size_13;
                    font-weight: @font-weight__light;
                    letter-spacing: 1px;
                    line-height: 22px;
                    margin: 13px 0;
                }
            }

            &.morning,
            &.day {
                .details {
                    border-bottom: 1px solid rgba(0, 0, 0, .15);
                }
            }

            &.night {
                color: @color-white;
            }

            .details {
                border-bottom: 1px solid rgba(255, 255, 255, .15);
                box-sizing: border-box;
                display: none !important;
                font-size: @font-size_10;
                height: 50px;
                left: 0;
                letter-spacing: 2px;
                padding: 7px 30px 0 30px;
                position: absolute;
                text-transform: uppercase;
                top: 0;
                width: 100%;

                .wrapper {
                    display: table-cell;
                    height: 50px;
                    vertical-align: middle;
                }

                .country {
                    .lib-project-icon(
                        @_icon-font-content: @icon-project-pin-empty,
                        @_icon-font-size: @font-size_20
                    );

                    &:before {
                        bottom: 1px;
                        margin-right: 10px;
                        opacity: .5;
                        position: relative;
                    }
                }

                .time {
                    .lib-project-icon(
                        @_icon-font-content: @icon-project-clock,
                        @_icon-font-position: after,
                        @_icon-font-size: @font-size_20
                    );
                    float: right;

                    &:after {
                        bottom: 1px;
                        margin-left: 10px;
                        opacity: .5;
                        position: relative;
                    }
                }
            }

            .scrolldown-icon {
                .lib-css(animation-name, thisway, 1);
                .lib-css(animation-duration, 4s, 1);
                .lib-css(animation-iteration-count, infinite, 1);
                bottom: 20px;
                display: block;
                height: 30px;
                left: 50%;
                margin: 0 auto;
                opacity: .5;
                position: absolute;
                text-align: center;
                width: 30px;
                z-index: 19;

                .lib-project-icon(
                    @_icon-font-content: @icon-project-arrow-bottom-bold,
                    @_icon-font-size: @font-size_20,
                    @_icon-font-color: @color-pinkish-grey
                );
            }
        }

        //
        //  Wheel
        //  _____________________________________________
        > .wheel {
            padding: 60px 0 100px;

            .categories-menu {
                display: none;
            }

            .left-pane {
                li {
                    text-align: center;

                    a {
                        display: none;
                    }

                    img {
                        margin: auto;
                    }
                }
            }

            .info {
                margin: 60px auto 0;
                position: relative;
                text-align: center;
                width: 180px;

                a {
                    background-color: transparent;
                    border: 2px solid @color-button-grey;
                    color: @color-warm-grey;
                    display: inline-block;
                    font-size: @font-size_9;
                    letter-spacing: 2px;
                    padding: 11px 25px 8px 25px;
                    text-transform: uppercase;
                }

                .next,
                .prev {
                    height: 18px;
                    position: absolute;
                    top: 30px;
                    width: 18px;
                }

                .prev {
                    .lib-project-icon(
                        @_icon-font-content: @icon-project-arrow-left,
                        @_icon-font-size: @font-size_13
                    );
                    left: -60px;
                }

                .next {
                    .lib-project-icon(
                        @_icon-font-content: @icon-project-arrow-right,
                        @_icon-font-size: @font-size_13
                    );
                    right: -60px;
                }

                .wrap {
                    display: table;
                    height: 100%;
                    width: 100%;

                    .inner {
                        display: table-cell;
                        text-align: center;
                        vertical-align: middle;

                        .bottle {
                            color: @color-black-title;
                            font-size: @font-size_18;
                            height: 23px;
                            letter-spacing: 2px;
                            margin-bottom: 29px;
                        }

                        .category {
                            color: @color-warm-grey;
                            font-size: @font-size_12;
                            letter-spacing: 2px;
                            margin-bottom: 12px;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }

        //
        //  Categories
        //  _____________________________________________
        > .category-pane {
            background: @nails-background;
            border-top: 1px solid @color-gray92;
            width: 100%;

            .item {
                cursor: pointer;
                display: table;
                padding: 20px 0;
                text-align: center;
                vertical-align: middle;

                &:first-child {
                    display: none;
                }

                a {
                    color: @color-gray-light6;
                    display: block;
                    margin: 0 auto;
                    position: relative;
                    text-transform: uppercase;

                    &:hover {
                        text-decoration: none;
                    }
                }

                figure,
                .wrap {
                    display: table-cell;
                    vertical-align: middle;
                }

                figure {
                    width: 60%;

                    img {
                        display: block;
                        margin: 0 auto;
                        width: 70%;
                    }
                }

                .wrap {
                    .lib-project-icon(
                        @_icon-font-content: @icon-project-arrow-right-bold,
                        @_icon-font-size: @font-size_8,
                        @_icon-font-color: @color-warm-grey
                    );
                    display: table-cell;
                    font-size: @font-size_13;
                    letter-spacing: 2px;
                    padding-right: 20%;
                    position: relative;
                    width: 40%;

                    &:before {
                        left: auto;
                        right: 20%;
                        bottom: 50%;
                        margin-bottom: -5px;
                        font-size: @font-size_8;
                        position: absolute;
                        margin-left: -5px;
                    }
                }
            }
        }

        //
        //  Red louboutin
        //  _____________________________________________
        > .red-louboutin {
            background: @nails-background;
            border-top: 1px solid @color-gray92;
            border-bottom: 1px solid @color-gray92;
            overflow: hidden;
            position: relative;

            .image-holder {
                background-position: center center;
                background-size: cover;
                height: 150%;
                position: relative;
            }

            img.mobile {
                display: block;
                margin: auto;
                width: 320px;
            }

            .content {
                bottom: 0;
                left: 0;
                position: absolute;
                right: 0;
                top: 0;

                margin: 0 auto;
                width: 80%;
                height: auto;
                text-align: center;
                padding: 50px 0;

                h1 {
                    color: @color-black;
                    font-size: @font-size_16;
                    font-weight: @font-weight__regular;
                    letter-spacing: 5px;
                    line-height: 25px;
                    margin: 0 0 10px;
                    text-transform: uppercase;
                }

                p {
                    color: @color-warm-grey;
                    font-size: @font-size_13;
                    letter-spacing: 1px;
                    line-height: 22px;
                    margin: 1em 0;
                }

                a {
                    .lib-css(transition, all .5s, 1);
                    border: 1px solid @color-grey-three;
                    color: @color-black;
                    display: inline-block;
                    margin-top: 10px;
                    font-size: @font-size_10;
                    letter-spacing: 2px;
                    padding: 12px 30px;
                    text-transform: uppercase;

                    &:hover {
                        border: 1px solid @color-black;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .discover-nails {
        //
        //  Cover
        //  _____________________________________________
        > .cover {
            height: 280px !important; // Override JS

            .image-holder {
                transform: none !important; // Override JS
            }

            .scrolldown-icon {
                display: none;
            }
        }

        //
        //  Red louboutin
        //  _____________________________________________
        > .red-louboutin {
            // Override JS
            height: 610px !important;

            .image-holder {
                background-image: none !important;
                transform: none !important;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
    .discover-nails {
        //
        //  Wheel
        //  _____________________________________________
        > .wheel {
            height: inherit !important; // Override JS
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .discover-nails {
        section:last-child {
            margin-bottom: -65px;
        }

        //
        //  Cover
        //  _____________________________________________
        > .cover {
            .content {
                position: absolute;

                p {
                    opacity: .5;
                }

                h1 {
                    font-size: @font-size_20;
                    line-height: 30px;
                    position: static;
                    width: inherit;
                }
            }

            .details {
                display: table;
            }
        }

        //
        //  Wheel
        //  _____________________________________________
        > .wheel {
            padding: 60px 0;

            .info {
                .wrap {
                    .inner {
                        .bottle {
                            font-size: @font-size_16;
                            letter-spacing: 1px;
                        }
                    }
                }
            }
        }

        //
        //  Categories
        //  _____________________________________________
        > .category-pane {
            display: table;
            height: 300px;

            .item {
                display: table-cell;
                padding: 20px 0 60px;
                width: 25%;

                &:first-child {
                    display: table-cell;
                }

                figure {
                    .lib-css(transition, all .5s, 1);
                    display: block;
                    position: relative;
                    top: 0;
                    width: 100%;
                }

                .wrap {
                    display: block;
                    padding: 0;
                    width: 100%;

                    &:before {
                        bottom: -25px;
                        left: 50%;
                        margin-left: -5px;
                        right: inherit;
                    }
                }

                &:hover {
                    figure {
                        top: -5px;
                    }
                }
            }
        }

        //
        //  Red louboutin
        //  _____________________________________________
        > .red-louboutin {
            img.mobile {
                display: none;
            }

            .content {
                height: 330px;
                margin: auto 7% auto auto;
                text-align: left;
                width: 350px;

                a {
                    border: 1px solid @color-grey-eight;
                    margin-top: 40px;
                }

                h1 {
                    font-size: @font-size_20;
                    line-height: 30px;
                    margin-bottom: 40px;
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .discover-nails {
        section:last-child {
            margin-bottom: -40px;
        }

        //
        //  Wheel
        //  _____________________________________________
        .wheel {
            padding: 0;

            .categories-menu {
                background: @nails-background;
                border-left: 1px solid @color-gray92;
                display: block;
                float: right;
                height: 100%;
                position: relative;
                width: 20%;

                .back-btn {
                    background: @color-white;
                    border: 1px solid @color-gray92;
                    bottom: 30px;
                    cursor: pointer;
                    display: none;
                    height: 40px;
                    left: 50%;
                    margin-left: -60px;
                    opacity: 0;
                    position: absolute;
                    text-align: center;
                    width: 100px;

                    .wrap {
                        display: inline-block;
                        position: relative;
                        top: 11px;
                    }

                    img {
                        float: left;
                        margin-right: 10px;
                        width: 18px;

                        span {
                            color: @color-warm-grey;
                            font-size: @font-size_12;
                            letter-spacing: 2px;
                            line-height: 18px;
                            text-transform: uppercase;
                        }
                    }
                }

                ul {
                    height: 200px;
                    list-style: none;
                    margin: -100px 0 0;
                    padding: 0 40px 0 0;
                    position: absolute;
                    top: 50%;

                    li {
                        color: @color-warm-grey;
                        cursor: pointer;
                        font-size: @font-size_13;
                        letter-spacing: 2px;
                        margin-bottom: 30px;
                        padding-left: 40px;
                        padding-top: 3px;
                        position: relative;
                        text-transform: uppercase;

                        &:before {
                            .lib-css(transition, width .3s, 1);
                            background: @nails-color_blacks;
                            content: '';
                            display: block;
                            height: 22px;
                            left: 0;
                            position: absolute;
                            top: 0;
                            width: 3px;
                        }

                        &:hover:before  {
                            width: 12px;
                        }

                        &.rouge-louboutin:before {
                            background: @nails-color_red;
                        }

                        &.pops:before {
                            background: @nails-color_pops;
                        }

                        &.nudes:before {
                            background: @nails-color_nudes;
                        }

                        &.active,
                        &:hover {
                            color: @color-black-title;

                            &:before {
                                width: 12px;
                            }
                        }
                    }
                }
            }

            .left-pane {
                height: 100%;
                margin-right: 20%;
                position: relative;
                width: 80%;

                .wheel-wrapper {
                    height: 900px;
                    left: 50%;
                    margin-left: -450px;
                    margin-top: -450px;
                    position: absolute;
                    top: 50%;
                    width: 900px;

                    ul {
                        height: 100%;
                        list-style: none;
                        margin: 0;
                        padding: 0;
                        position: relative;
                        width: 100%;

                        li {
                            .nails-loop(0, 1);
                            cursor: pointer;
                            height: 120px;
                            left: 50%;
                            margin-left: -13px;
                            margin-top: -60px;
                            padding: 0;
                            position: absolute;
                            top: 50%;
                            width: 26px;

                            a {
                                display: none;
                            }
                        }
                    }

                    .info {
                        height: 80px;
                        left: 50%;
                        margin-left: -90px;
                        margin-top: -40px;
                        position: absolute;
                        top: 50%;

                        .prev,
                        .next {
                            display: none;
                        }
                    }

                    &.step-2 {
                        height: 330px;
                        margin-left: -455px;
                        margin-top: -165px;
                        width: 910px;

                        &.pops ul {
                            .lib-css(transform, rotate(-64deg), 1);
                        }

                        &.nudes ul {
                            .lib-css(transform, rotate(-180deg), 1);
                        }

                        &.noirs ul {
                            .lib-css(transform, rotate(64deg), 1);
                        }

                        .info {
                            bottom: 0;
                            top: auto;
                        }

                        ul {
                            height: 910px;
                            width: 910px;

                            li {
                                .nails-loop-zoom(0, 1);
                                .lib-css(transition, transform .3s, 1);
                                height: 170px;
                                margin-left: -20px;
                                margin-top: -85px;
                                width: 40px;
                            }
                        }
                    }
                }
            }
        }
    }
}
