//
//  Common
//  _____________________________________________


& when (@media-common = true) {
    .cms-discover-matte-fluids {
        .scroll-view.show {
            max-width: 509px;
            margin: auto;
        }
        .easycms-block.simple-image {
            max-width: 1200px;
        }
        .easycms-block {
            &.title-subtitle-slider {
                .title-slider-discover {
                    text-align: center;
                    p {
                        display: inline-block;
                        @media (max-width: 767px) {
                            font-size: 36px;
                        }
                        &:after {
                            width: 100%;
                        }
                    }
                }
            }
            &.image-single-product-left,&.image-single-product-right {
                .block-products-list {
                    ol {
                        .product-item {
                            .product-item-info {
                                &:hover {
                                    margin: 20px 20px 0 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
