//
//  Common
//  _____________________________________________


& when (@media-common = true) {

    .cms-discover-fragrance {
        .page-main {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .discover-fragrance {
        width: 1240px;
        max-width: 100%;
        margin: 0 auto;

        .main-title {
            text-align: center;
            text-transform: uppercase ;
            margin: 160px 0 100px;

            span {
                .lib-font-family(@f-gill);
                font-size: @font-size_20;
                letter-spacing: 5px;
                font-weight: @font-weight__light;
                color: #404040;

                .ja-jp & {
                    font-weight: @font-weight__regular;
                }
            }

            h1 {
                .lib-font-family(@f-didot);
                font-size: @font-size_60;
                letter-spacing: 10px;
                color: #232323;
                margin: 6px 0;

                .ja-jp & {
                    font-weight: @font-weight__regular;
                }
            }
        }

        .topbox-video {
            margin-bottom: 0;

            .video-container {
                img {
                    height: auto;
                }

                .play-button {
                    span {
                        letter-spacing: 1.75px;
                    }
                }
            }
        }

        .fragrance-introduction {
            margin: 20px 30px;
            text-align: center;
            max-width: 480px;

            p {
                .lib-font-family(@f-didot);
                font-size: @font-size_16;
                color: @color-grey-dark;
                letter-spacing: .5px;
                line-height: 1.7;
                margin: 0;
            }
        }

        .title-orange,
        .title-mauve {
            max-width: 480px;
            position: relative;
            margin: 0 30px 10px;

            span {
                z-index: 1;
                background: @color-white;
                position: relative;
            }

            &:before {
                border-bottom: 1px solid @color-orange;
                content: "";
                width: 100%;
                height: 1px;
                position: absolute;
                z-index: 0;
                top: 50%;
                left: 0;
                .lib-css(transform, translateY(-50%), 1);
            }
        }

        .title-mauve {
            &:before {
                border-color: @color-mauve;
            }
        }

        .image-left-text-right {
            .lib-font-family(@f-gill);
            text-align: center;
            color: #141413;
            font-weight: @font-weight__light;
            line-height: 2;

            figure {
                img {
                    display: block;
                    width: 100%;
                }

                figcaption {
                    font-size: @font-size_17;
                }
            }

            .text {
                max-width: 480px;
                margin: 0 auto;

                p {
                    margin: 30px;
                    font-size: @font-size_15;
                }
            }
        }

        .product-image-link {
            img {
                display: block;
                margin: 0 auto 20px;
                width: 60%;
            }

            a {
                .lib-font-family(@f-gill);
                font-size: @font-size_12;
                letter-spacing: 2.5px;
                font-weight: @font-weight__light;
            }

            &.mauve {
                a {
                    color: @color-mauve;

                    &:after {
                        border-color: @color-mauve;
                    }
                }
            }
        }

        .quote {
            margin: 20px 30px;
            text-align: center;
            .lib-font-family(@f-didot);

            .mobile,
            .desktop {
                margin: 0 auto;
            }

            p {
                line-height: 2;
            }

            .mobile {
                width: 480px;
                max-width: 100%;

                p {
                    font-size: @font-size_16;
                    color: @color-grey-dark;
                    letter-spacing: .5px;
                }
            }

            .desktop {
                width: 75%;
                display: none;

                p {
                    font-size: @font-size_20;
                    color: @color-grey-dark2;
                    letter-spacing: 1px;
                    font-style: italic;
                    margin-bottom: 10px;

                    &:before {
                        content: "\00ab";
                    }

                    &:after {
                        content: "\00bb";
                    }
                }

                span {
                    display: block;
                    font-size: @font-size_12;
                    color: @color-grey-dark;
                    letter-spacing: 1px;
                    line-height: 1;
                    font-style: italic;
                }
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .discover-fragrance {
        .main-title {
            margin-top: 100px;

            span {
                font-size: 3.2vw;
                letter-spacing: 1.5vw;
                color: @color-black-title;
            }

            h1 {
                font-size: 8vw;
                letter-spacing: 1.5vw;
                color: @color-black-title;
            }
        }

        .product-image-link {
            img {
                width: 100%;
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xs) {
    .discover-fragrance {
        .fragrance-introduction {
            margin: 20px auto 40px;
        }

        .title-orange,
        .title-mauve {
            margin: 0 auto 10px;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .discover-fragrance {
        .fragrance-introduction {
            margin: 60px auto;
            max-width: 800px;

            p {
                font-size: @font-size_24;
            }
        }

        .title-orange,
        .title-mauve {
            width: 100%;
            max-width: 768px;
            margin: 0 auto 90px;

            span {
                font-size: @font-size_27;
                letter-spacing: 2px;
                padding: 0 25px;
            }
        }

        .image-left-text-right {
            text-align: left;
            .lib-css(display, flex, 1);
            .lib-css(justify-content, flex-start, 1);
            .lib-css(align-items, center, 1);
            margin: 0 60px 60px;

            figure,
            .text {
                display: inline-block;
            }

            figure {
                width: 55%;

                img {
                    display: inline;
                }

                figcaption {
                    text-align: center;
                    line-height: 1;
                }
            }

            .text {
                width: 45%;

                p {
                    margin: 0 0 0 90px;
                    font-size: @font-size_17;
                }
            }

            &.reverse {
                figure {
                    .lib-css(order, 1, 1);
                }
                .text {
                    margin-right: 75px;
                    .lib-css(order, 0, 1);
                }
            }
        }

        .product-image-link {
            max-width: 50%;
            margin: 0 auto 60px;
            .lib-css(display, flex, 1);
            .lib-css(justify-content, flex-start, 1);
            .lib-css(align-items, center, 1);

            img {
                vertical-align: middle;
                margin-bottom: 0;
                width: 74%;
                max-height: 320px;
            }

            a {
                font-size: 12.6px;
                line-height: normal;
                padding-bottom: 10px;

                &:after {
                    bottom: 0;
                }
            }
        }

        .quote {
            margin: 60px auto;
            max-width: 800px;

            .mobile {
                display: none;
            }

            .desktop {
                display: block;
            }
        }
    }
}