//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .cms-test-discover-lips,
    .cms-discover-lips-html {
        .columns .column.main {
            padding: 0;
        }

        .page-footer {
            margin: 0;
        }
    }

    .discover-lips {
        padding: 0 0 50px;
        background: @color-black;

        .topbox-video {
            margin: 0;
        }

        .video-lips {
            .lib-font-family(@f-frutiger);
            background: @color-black;
            width: 100%;
            height: calc(~"100vh - 50px");
            position: relative;
            background-size: 100%;
            z-index: 0;
            overflow: hidden;
            min-height: 600px;

            &.video-container-lips img.arrow,
            .video-text {
                &.hidden {
                    opacity: 0;
                }
            }

            &.video-container-lips {
                img.arrow {
                    width: 30px;
                    height: 20px;
                    position: absolute;
                    bottom: 30px;
                    left: 50%;
                    top: inherit;
                    .lib-css(transform, translateX(-50%), 1);
                    text-align: center;
                    z-index: 2;
                    display: block;
                    cursor: pointer;
                    opacity: 0;
                    .lib-css(animation-name, arrowAnimation, 1);
                    .lib-css(animation-duration, 4s, 1);
                    .lib-css(animation-iteration-count, infinite, 1);
                    .lib-css(transition, opacity .4s, 1);
                }
            }

            video {
                display: none;
            }

            .video-text {
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                position: absolute;
                height: 400px;
                margin: auto;
                text-align: center;
                width: 100%;

                &.visible {
                    opacity: 1;
                }

                img {
                    width: 200%;
                    position: absolute;
                    z-index: 0;
                    top: 0;
                    left: 0;
                    margin-left: -50%;
                    margin-top: -30%;
                    max-width: inherit;
                    height: auto;
                }

                .text-title,
                .list,
                ul,
                p {
                    position: relative;
                    z-index: 1;
                }

                .text-title {
                    font-size: @font-size_26;
                    text-transform: uppercase;
                    font-weight: @font-weight__bold;
                    color: @color-yellow;
                    letter-spacing: 6px;
                    line-height: 1.24;
                    margin: 0 0 20px;
                    display: block;
                    padding: 35% 0 0;
                }

                .list,
                ul li {
                    font-size: @font-size_14;
                    text-transform: uppercase;
                    font-weight: @font-weight__600;
                    letter-spacing: 3px;
                }

                .list {
                    color: @color-warm-grey;
                    line-height: 1.2;
                    margin: 0 0 3px;
                }

                ul {
                    padding: 0;
                    margin: 0;

                    li {
                        color: @color-white;
                        line-height: 1.6;
                        list-style: none;
                        margin: 0;
                    }
                }

                p {
                    font-size: @font-size_13;
                    color: @color-warm-grey;
                    font-weight: @font-weight__600;
                    line-height: 1.3;
                    letter-spacing: 3px;
                    margin: 13px 0 0;
                    padding: 0 40px;
                }
            }
        }

        .easycms-line-break {
            margin: 0;
        }

        .wheel-slider {
            position: relative;
            overflow: hidden;
            height: calc(~"100vh - 30px");
            min-height: 700px;

            .product-selector {
                position: absolute;
                left: 50%;
                top: 43%;
                width: 205px;
                .lib-css(transform, translate(-50%), 1);
                z-index: 1;

                .product {
                    text-align: center;

                    .image {
                        width: 80px;
                        height: 340px;
                        position: absolute;
                        left: 50%;
                        top: -280px;
                        .lib-css(transform, translateX(-50%), 1);

                        .lipstick {
                            width: 100%;
                            height: 100%;
                            background: url('@{baseDir}Project_Beauty/images/lipstick-discover-sprite.png') no-repeat 0 0;
                            background-size: 3353px;
                            overflow: hidden;

                            a {
                                display: block;
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }

                    .color-name a,
                    .category a {
                        text-transform: uppercase;
                        font-weight: @font-weight__bold;
                        .lib-font-family(@f-open);
                        font-size: @font-size_13;
                        text-decoration: none;
                    }

                    .color-name {
                        margin: 0 0 5px;

                        a {
                            color: @color-white;
                            letter-spacing: 4px;
                        }
                    }

                    .category {
                        a {
                            color: @color-warm-grey;
                            letter-spacing: 2px;
                        }
                    }

                    .navigation-arrows {
                        width: 100%;
                        display: inline-block;
                        margin: 0 0 50px;

                        i {
                            font-style: normal;
                            cursor: pointer;

                            &.arrow-left {
                                float: left;
                                margin-left: 30px;

                                .lib-project-icon(
                                    @icon-project-arrow-left,
                                    @_icon-font-size: @font-size_35,
                                    @_icon-font-color: @color-white
                                );

                            }

                            &.arrow-right {
                                float: right;
                                margin-right: 30px;

                                .lib-project-icon(
                                    @icon-project-arrow-right,
                                    @_icon-font-size: @font-size_35,
                                    @_icon-font-color: @color-white
                                );

                            }
                        }
                    }
                }
            }

            .wheel-colors {
                margin: 0 auto;
                position: relative;

                svg {
                    width: 100%;
                    height: 100%;
                    display: block;
                    position: relative;
                    margin-left: 50%;
                    .lib-css(transform, translateX(-50%) rotate(-5deg), 1);
                    .lib-css(transition, transform .3s cubic-bezier(.6, .86, 0, 1.5), 1);

                    .all-colors {
                        path {
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        .poster-product {
            background: @color-white;

            &.block-silky-satin .poster {
                background-image: url('@{baseDir}Magento_Cms/images/poster_satin.jpg');
            }

            &.block-velvet-matte .poster {
                background-image: url('@{baseDir}Magento_Cms/images/poster_matte.jpg');
            }

            &.block-sheer-voile .poster {
                background-image: url('@{baseDir}Magento_Cms/images/poster_sheer.jpg');
            }

            .poster,
            .product {
                height: 100vh;
                overflow: hidden;
                position: relative;
                background: @color-white;
            }

            .poster {
                background-size: cover;
                background-position: center;

                img {
                    height: 100%;
                    max-width: inherit;
                    position: absolute;
                    margin: auto;
                    left: -2000px;
                    right: -2000px;
                }


            }

            .product {
                .product-content {
                    padding: 0 15%;
                    position: absolute;
                    text-align: center;
                    top: 50%;
                    .lib-css(transform, translateY(-50%), 1);

                    .product-category,
                    .product-name {
                        text-transform: uppercase;
                        color: @color-black;
                    }

                    .product-category {
                        font-weight: @font-weight__600;
                        letter-spacing: 3px;
                        font-size: @font-size_20;
                        line-height: 1.5;
                    }

                    .product-name {
                        letter-spacing: 2.1px;
                        font-size: @font-size_14;
                        font-weight: @font-weight__heavier;
                        line-height: 1.4;
                    }

                    .product-image {
                        max-width: 250px;
                        display: block;
                        margin: 20px auto;

                        img {
                            height: 40vh;
                        }
                    }

                    .product-description {
                        .lib-font-family(@f-open);
                        font-size: @font-size_13;
                        color: @color-warm-grey;
                        margin: 0 0 20px;
                        letter-spacing: 1px;

                        p {
                            margin: 15px 0;

                            &:nth-child(2) {
                                font-weight: @font-weight__bold;
                            }
                        }
                    }

                    .product-link {
                        border: 3px solid @color-black-title;
                        color: @color-black-title;
                        font-size: @font-size_10;
                        text-transform: uppercase;
                        letter-spacing: 2px;
                        .lib-css(transition, all .3s, 1);
                        display: inline-block;
                        padding: 11px 30px 8px;
                        line-height: 1.3;
                        text-decoration: none;
                    }
                }
            }
        }

        .block-art {
            height: 100vh;
            position: relative;
            background: @color-white;

            .block-art-content {
                position: absolute;
                width: 100%;
                bottom: 0;
                left: 0;
            }

            .image {
                background: none;
                margin: 0 0 30px;
            }

            .text {
                max-width: 400px;
                padding: 0 50px;
                margin: 0 auto;
                text-align: center;

                .title,
                p {
                    .lib-font-family(@f-open);
                }

                .title {
                    text-transform: uppercase;
                    font-size: @font-size_26;
                    letter-spacing: 4px;
                    margin: 0 auto 10px;
                    font-weight: @font-weight__bold;
                    color: @color-yellow;
                    line-height: 1.6;
                }

                p {
                    font-size: @font-size_14;
                    color: @color-warm-grey;
                    max-width: 550px;
                    letter-spacing: 1px;
                    margin: 0 0 50px;
                    line-height: 1.4;
                }
            }
        }

        .block-loubilaque {
            background: url('@{baseDir}Magento_Cms/images/loubilaque-panel-bg.jpg') center center;
            background-size: cover;
            height: 100vh;
            width: 100%;
            position: relative;

            .content {
                text-transform: uppercase;
                font-weight: @font-weight__bold;
                .lib-font-family(@f-gill);
                position: absolute;
                top: 50%;
                left: 50%;
                .lib-css(transform, translate(-50%), 1);
                text-align: center;


                .title {
                    font-size: @font-size_25;
                    color: @color-white;
                    letter-spacing: 7px;
                    margin: 0 0 7px;
                }

                a {
                    color: @color-white;
                    .lib-css(transition, color .4s, 1);
                    display: inline-block;
                    position: relative;
                    padding: 0 0 5px;
                    text-decoration: none;
                    letter-spacing: 3px;
                    margin: 5px 0 0;
                    font-size: @font-size_11;

                    &:hover {
                        color: @color-louboutin-red;

                        &:after {
                            border-color: @color-louboutin-red;
                        }
                    }

                    &:after {
                        content: "";
                        display: block;
                        border-bottom: 1px solid @color-white;
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                    }
                }
            }
        }

        .lip-definer {
            background: url('@{baseDir}Magento_Cms/images/tips.png') no-repeat bottom center @color-black;
            background-size: 86%;
            height: calc(~'100vh - 50px');
            width: 100%;
            position: relative;
            overflow: hidden;

            .content {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 375px;
                max-width: 920px;
                margin: auto;
                text-align: center;
            }

            .lip-block {
                height: 52px;
                margin: 0 auto 50px;

                .lip-content {
                    width: 860px;
                    margin: auto;
                    text-align: center;
                    position: absolute;
                    left: 50%;
                    .lib-css(transform, translateX(-50%), 1);
                }

                img {
                    height: 52px;
                    position: relative;
                    width: auto;
                    left: -18%;

                    &.lip {
                        float: left;
                    }

                    &.cap {
                        float: right;
                    }
                }
            }

            .text {
                .title {
                    text-transform: uppercase;
                    font-size: @font-size_26;
                    margin: 0 0 20px;
                    color: @color-yellow;
                    font-weight: @font-weight__bold;
                    letter-spacing: 6px;
                    line-height: 1.3;
                }

                p {
                    font-size: @font-size_13;
                    color: @color-warm-grey;
                    font-weight: @font-weight__600;
                    margin: 0 30px 15px;
                    letter-spacing: 3px;
                    line-height: 1.7;
                }

                a {
                    border: 3px solid @color-white;
                    text-transform: uppercase;
                    padding: 11px 30px 8px;
                    margin: 20px auto;
                    font-size: @font-size_10;
                    line-height: 1.2;
                    letter-spacing: 1.5px;
                    color: @color-white;
                    display: inline-block;
                    text-decoration: none;
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .discover-lips {
        background: @color-black;
        padding: 90px 0 50px;

        .video-lips {
            .lib-vendor-prefix-display();
            .lib-css(justify-content, center, 1);
            margin: 0 auto;

            video {
                display: block;
                height: 110.7%;
                width: 205.7%;
                left: -53%;
                max-width: inherit;
                .lib-vendor-prefix-flex-shrink(0);
                z-index: 1;
                //position: fixed;
            }

            .video-text {
                width: 600px;

                .text-title {
                    padding: 40% 0 0;
                }

                ul {
                    li {
                        display: inline-block;
                        padding: 0 7px 0 0;

                        &:after {
                            content: "";
                            display: inline;
                            padding: 0 0 0 7px;
                            font-weight: @font-weight__light;
                            border-right: 1px solid @color-white;
                        }

                        &:last-child:after {
                            display: none;
                        }
                    }
                }
            }
        }

        .wheel-slider {
            min-height: 640px;

            .wheel-colors {
                svg {

                }
            }
        }

        .posters-products {
            position: relative;
            height: calc(~"100vh * 7.5");
            background: @color-white;

            .poster-product {
                width: 100%;
                height: 250vh;

                .poster-container {
                    width: 100%;
                    .lib-vendor-prefix-display();

                    .poster,
                    .product {
                        width: 50%;

                        &.skrollable-between {
                            z-index: 10;
                        }
                    }
                }

                &.reverse {
                    .poster-container {
                        .lib-vendor-prefix-flex-direction(row-reverse);
                    }
                }

                &.skrollable-between {
                    .poster-container {
                        z-index: 10;
                        position: fixed;
                        top: 0;
                        width: 100%;
                    }
                }

                &.block-sheer-voile {
                    &.skrollable-after {
                        .poster-container {
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            padding: 0;
                            top: inherit;
                            .lib-css(transition, position .2s, 1);
                        }
                    }
                }
            }
        }

        .block-art {
            background: url('@{baseDir}Magento_Cms/images/backstage.jpg') center 130%;
            background-size: cover;
            width: 100%;

            .block-art-content {
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, @color-white 70%);
                padding: 0 0 10vh;
                position: absolute;
            }

            .image {
               display: none;
            }

            .text {
                text-align: left;
                position: relative;
                margin: 0 auto;
                max-width: 400px;
                padding: 0 50px;

                .title {
                    max-width: 300px;
                    margin: 0 0 20px;
                }

                p {
                    max-width: 550px;
                }
            }
        }

        .lip-definer {
            background-size: 500px;

            .lip-block {
                width: 100%;
                margin-bottom: 12vh;

                img {
                    left: -86px;
                }
            }

            .text {
                .title {
                    margin-bottom: 50px;

                }
                p {
                    margin: 0 130px 50px;
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .discover-lips {
        padding: 0 0 50px;

        .video-lips {
            height: calc(~"100vh - 90px");

            video {
                height: 110%;
            }

            .video-text {
                .text-title {
                    padding: 42% 0 0;
                }
            }

            &.video-container-lips {
                img.arrow {
                    opacity: 1;
                }
            }
        }

        .wheel-slider {
            min-height: 720px;

            .product-selector {
                padding: 0 35px;

                .product {
                    .image {
                        top: -280px;
                    }

                    .navigation-arrows {
                        margin: 0 0 80px;

                        i {
                            &.arrow-right {
                                margin-right: -15px;
                            }

                            &.arrow-left {
                                margin-left: -15px;
                            }
                        }
                    }
                }
            }

            .wheel-colors {
                svg {

                }
            }
        }

        .posters-products {
            .poster-product {
                &.skrollable-between {
                    .poster-container {
                        top: 35px;
                    }
                }
            }
        }

        .block-art {
            .text {
                margin: 0 0 0 7.5vw;
            }
        }

        .block-loubilaque {
            .content {
                top: calc(~'50% - 30px');
                right: 15%;
                left: inherit;
                .lib-css(transform, translateY(-50%), 1);
            }

        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__ll) {
    .discover-lips {
        .wheel-slider {
            min-height: 820px;

            .wheel-colors {
                svg {

                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .discover-lips {
        .wheel-slider {
            .product-selector {
                .product {
                    .image {
                        top: -285px;
                    }

                    .navigation-arrows {
                        margin: 0 0 45px;

                        i {
                            &.arrow-left {
                                margin-left: -25px;
                            }

                            &.arrow-right {
                                margin-right: -25px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xxl) {
    .discover-lips {
        .wheel-slider {
            .product-selector {
                .product {
                    .image {
                        .lipstick {
                            .lib-css(transform, scale(1.5) translateY(-14%), 1);
                        }
                    }
                }
            }
        }
    }
}