//
//  Common
//  _____________________________________________

@-webkit-keyframes arrowAnimation {
    0%, 12.5%, 25%, 100% {
        .lib-css(transform, translateX(-50%) translateY(0), 1);
    }
    6.75%, 19.25% {
        .lib-css(transform, translateX(-50%) translateY(7px), 1);
    }
}
@-moz-keyframes arrowAnimation {
    0%, 12.5%, 25%, 100% {
        .lib-css(transform, translateX(-50%) translateY(0), 1);
    }
    6.75%, 19.25% {
        .lib-css(transform, translateX(-50%) translateY(7px), 1);
    }
}
@-ms-keyframes arrowAnimation {
    0%, 12.5%, 25%, 100% {
        .lib-css(transform, translateX(-50%) translateY(0), 1);
    }
    6.75%, 19.25% {
        .lib-css(transform, translateX(-50%) translateY(7px), 1);
    }
}
@keyframes arrowAnimation {
    0%,12.5%,25%,100% {
        .lib-css(transform, translateX(-50%) translateY(0), 1);
    }
    6.75%,19.25% {
        .lib-css(transform, translateX(-50%) translateY(7px), 1);
    }
}

& when (@media-common = true) {
    .discover-pages {
        .loader {
            position: fixed;
            left: 0;
            top: 0;
            width: 100vw;
            height: 100vh;
            z-index: 19;
            background: url('@{baseDir}images/loader-1.gif') center no-repeat @color-white;
        }

        .title-orange,
        .title-mauve,
        .title-red {
            text-transform: uppercase;
            color: @color-orange;
            font-size: @font-size_17;
            letter-spacing: 1.25px;
            text-align: center;
            .lib-font-family(@f-didot);

            span {
                display: inline-block;
                padding: 15px;
            }
        }

        .title-mauve {
            color: @color-mauve;
        }

        .title-red {
            color: @color-title-red;
        }

        .title-orange {
            color: @color-orange;
        }

        .fragrance-introduction {
            margin: 20px 30px;
            text-align: center;

            p {
                .lib-font-family(@f-didot);
                color: @color-grey-dark;
                margin: 0;
                letter-spacing: .5px;
            }
        }

        .product-image-link {
            text-align: center;
            margin: 0 auto 60px;

            a {
                color: @color-orange;
                display: inline-block;
                text-transform: uppercase;
                position: relative;
                line-height: 2.5;
                .lib-css(transition, all .3s ease, 1);

                &:after,
                &:before {
                    content: "";
                    display: block;
                    border-bottom: 1px solid @color-orange;
                    bottom: 1px;
                    position: absolute;
                    width: 100%;
                }

                &:before {
                    border-width: 0;
                }

                &:hover {
                    .lib-css(transform, translateY(-3px));
                    text-decoration: none;

                    &:before {
                        border-width: 2px;
                    }
                }
            }

            &.red {
                .title,
                .price,
                a {
                    color: @color-title-red;
                }

                a:before,
                a:after {
                    border-color: @color-title-red;
                }
            }

            &.mauve {
                .title,
                .price,
                a {
                    color: @color-mauve;
                }

                a:before,
                a:after {
                    border-color: @color-mauve;
                }
            }

            &.orange {
                .title,
                .price,
                a {
                    color: @color-orange;
                }

                a:before,
                a:after {
                    border-color: @color-orange;
                }
            }
        }

        .highlighted-link {
            text-align: center;
            margin: 0 0 20px;

            a {
                font-size: @font-size_8;
                text-transform: uppercase;
                .lib-css(transition, all .3s ease, 1);
                color: @color-warm-grey;
                .lib-font-family(@f-gill);
                position: relative;
                display: inline-block;
                font-weight: 600;
                letter-spacing: 2px;
                height: 30px;
                text-decoration: none;

                &:after,
                &:before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    top: 11px;
                }

                &:after {
                    display: block;
                    border-bottom: 2px solid @color-warm-grey;
                    margin: 7px auto 0 auto;
                }

                &:before {
                    display: none;
                }

                &:hover {
                    .lib-css(transform, translateY(-2px), 1);
                    text-decoration: none;

                    &:before {
                        display: block;
                        border-bottom: 1px solid @color-warm-grey;
                        margin: 6px auto 0 auto;
                    }
                }
            }

            &.red {
                a {
                    color: @color-title-red;

                    &:after,
                    &:before {
                        border-color: @color-title-red;
                    }
                }
            }

            &.orange {
                a {
                    color: @color-orange;

                    &:after,
                    &:before {
                        border-color: @color-orange;
                    }
                }
            }

            &.mauve {
                a {
                    color: @color-mauve;

                    &:after,
                    &:before {
                        border-color: @color-mauve;
                    }
                }
            }
        }

        .louboutin-separator {
            margin: 60px auto 10px;
            position: relative;
            text-align: center;
            max-width: 560px;

            .image {
                padding: 0 20px;
                background: @color-white;
                display: inline-block;
                z-index: 1;
                position: relative;

                img {
                    width: 8px;
                }
            }

            &:after {
                content: "";
                display: block;
                position: absolute;
                border-top: 1px solid @color-grey-eight;
                width: calc(~"100% - 60px");
                top: 50%;
                height: 1px;
                margin-left: 30px;
                .lib-css(transform, translateY(-50%), 1);
            }
        }

        .discover-navigation {
            max-width: 520px;
            margin: 0 auto;

            .image {
                text-align: center;

                img {
                    width: 18vw;
                    margin-bottom: 20px;
                }
            }

            .left,
            .right {
                width: 50%;
            }

            .left {
                margin-left: 25px;
            }

            .right {
                margin-right: 25px;
                float: right;
                .lib-vendor-prefix-display(flex);
                .lib-vendor-prefix-flex-direction(column-reverse);
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .discover-pages {
        .fragrance-introduction {
            margin: 20px auto 60px;

            p {
                letter-spacing: 1px;
                margin-bottom: 30px;
            }
        }

        .product-image-link {
            max-width: @screen__lxl;
            .lib-vendor-prefix-display(flex);
            width: 100%;
            padding-top: 20px;
            margin-bottom: 40px;

            .image,
            .text {
                max-width: inherit;
            }

            .image {
                width: 43%;
                padding-left: 12%;
                height: 380px;
                padding-top: 20px;
            }

            .text {
                width: 45%;
                white-space: normal;
                text-align: left;
                padding-top: 5%;

                p {
                    padding: 0 5% 0 0;
                    margin: 0 0 20px;
                    max-width: 310px;
                }

                .title {
                    font-size: @font-size_17;
                    letter-spacing: 4px;
                }

                .price {
                    font-size: @font-size_14;
                }
            }

            &.reverse {
                .lib-css(flex-direction, row-reverse, 1);

                .image {
                    padding-left: 0;
                    width: 55%;

                    img {
                        width: 50%;
                    }
                }

                .text {
                    padding-left: 15%;
                    width: 30%;
                }
            }
        }

        .highlighted-link {
            text-align: center;
            margin: 0 0 20px;

            a {
                font-size: @font-size_11;
                margin: 0 0 40px;

                &:after,
                &:before {
                    top: 16px;
                }
            }
        }

        .louboutin-separator {
            margin-top: 70px;
            margin-bottom: 30px;
            max-width: @screen__lxl;

            &:after {
                width: calc(~"100% - 120px");
                margin-left: 60px;
            }

            .image {
                img {
                    width: 6px;
                }
            }

        }

        .discover-navigation {
            .lib-vendor-prefix-display(flex);
            max-width: @screen__lxl;

            .left,
            .right {
                margin: 0;
                .lib-vendor-prefix-display(flex);
                .lib-vendor-prefix-flex-direction(row);
                .lib-vendor-box-align(center);
                .lib-css(justify-content, center, 1);
            }

            .left {
                .highlighted-link {
                    margin-left: 20px;
                }
            }

            .right {
                float: none;

                .highlighted-link {
                    margin-right: 20px;
                }
            }

            .image {
                img {
                    width: 73px;
                    padding: 0 30px;
                }
            }
        }
    }

}

