//
//  Common
//  _____________________________________________


& when (@media-common = true) {
    .cms-discover-rouge-html {
        .column.main {
            padding-bottom: 0;
        }
    }

    .discover-red {
        padding: 50px 0 0;

        .shoe-text-block {
            padding: 30px 25px;

            .section-content {
                position: relative;
                padding: 40px 0 0;
            }

            .image-wrapper {
                position: relative;
                height: 360px;
                width: 100%;

                .image {
                    position: absolute;
                    top: 0;
                    height: 100%;
                    width: 100%;
                    text-align: center;

                    img {
                        max-height: 100%;
                    }
                }
            }

            h1 {
                .lib-font-family(@f-frutiger);
                font-size: @font-size_13;
                font-weight: @font-weight__light;
                margin: 0;
                position: absolute;
                top: 0;
                text-align: center;
                color: @color-black-title;
                letter-spacing: 3px;
                line-height: 1.4;
                width: 100%;

            }

            .text {
                padding: 25px 0 30px;
                margin: 0 0 35px;

                p {
                    .lib-font-family(@f-frutiger);
                    font-size: @font-size_12;
                    font-weight: @font-weight__light;
                    margin: 0 0 12px;
                    line-height: 1.4;
                    text-align: center;
                    color: @color-warm-grey;
                    letter-spacing: 1px;

                }
            }
        }

        .nail-block {
            height: 423px;
            overflow: hidden;
            background: linear-gradient(@color-background-discover, @color-white);


            .image {
                position: relative;
                margin: 0 30px;
                width: calc(~'100% - 60px');
                height: 100%;

                img {
                    position: absolute;
                    bottom: 0;
                    max-width: 600px;
                    width: 100%;
                    margin: 0 0 30px;
                    left: 50%;
                    .lib-css(transform, translateX(-50%), 1);
                }
            }
        }

        .shoes-wheel-block {
            .left-bottle {
                display: none;
            }

            .red-block {
                padding: 40px 20px;
                background: @color-louboutin-red;

                .circle {
                    width: 280px;
                    height: 280px;
                    border: 1px solid @color-white;
                    border-radius: 50%;
                    margin: 0 auto;
                    text-align: center;

                    .text-icon {
                        margin-top: 50%;
                        .lib-css(transform, translateY(-50%), 1);
                    }

                    .icon {
                        margin: 0 0 15px;

                        .lib-project-icon (
                            @_icon-font-content: @icon-project-jewelry,
                            @_icon-font-size: 110px,
                            @_icon-font-color: @color-white
                        );
                    }

                    .text {
                        letter-spacing: 6px;
                        font-size: @font-size_13;
                        line-height: 1.5;
                        text-transform: uppercase;
                        color: @color-white;
                        font-weight: @font-weight__light;
                        padding: 0 15%;
                    }
                }
            }

            .shoes-wheel {
                background: @color-louboutin-red;
                height: 130px;
                overflow: hidden;
                margin-top: -60px;

                .image-rotate {
                    max-width: 500px;
                    margin: 0 auto;
                }

                @-webkit-keyframes rotating-wheel {
                    from {
                        .lib-css(transform, rotate(0deg), 1);
                    }
                    to {
                        .lib-css(transform, rotate(-360deg), 1);
                    }
                }
                @keyframes rotating {
                    from {
                        .lib-css(transform, rotate(0deg), 1);
                    }
                    to {
                        .lib-css(transform, rotate(-360deg), 1);
                    }
                }

                img {
                    .lib-css(animation, rotating-wheel 40s linear infinite, 1);
                }
            }
        }

        .red-background-image-block {
            .lib-vendor-prefix-display();
            .lib-vendor-prefix-flex-direction(column-reverse);

            .section-content {
                .lib-vendor-prefix-display();
                .lib-vendor-prefix-flex-direction(column);
            }

            .nail-background {
                .lib-vendor-prefix-order(1);
                height: 250px;
                overflow: hidden;
                position: relative;

                img {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    min-height: 100%;
                }
            }

            .red-quote {
                .lib-vendor-prefix-order(2);
                background: @color-louboutin-red;
                height: 250px;
                position: relative;

                .paragraph {
                    position: absolute;
                    top: 50%;
                    .lib-css(transform, translateY(-50%), 1);
                    text-align: center;
                    padding: 0 30px;
                }

                p {
                    color: @color-white;
                    font-size: @font-size_11;
                    font-weight: @font-weight__light;
                    text-transform: uppercase;
                    letter-spacing: 4px;
                    line-height: 1.7;

                    &:last-child {
                        color: @color-red-discover;
                        font-size: @font-size_12;
                        letter-spacing: 2px;
                        text-transform: none;
                        margin: 0;
                    }
                }
            }
        }

        .video-block {
            .iframe {
                width: calc(~"100vw - 17px");
                height: calc(~"(100vw - 17px) * 56/100");
                position: relative;
                max-width: 850px;
                max-height: 477px;
                margin: auto;

                iframe {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }

            p {
                margin: 30px 0;
                text-align: center;
                padding: 0 60px;
                font-family: 'Times New Roman', serif;
                color: @color-warm-grey;
                font-style: italic;
                letter-spacing: 2px;
                font-size: @font-size_16;

                span {
                    font-size: @font-size_13;
                    text-transform: uppercase;
                    font-style: normal;
                    color: @color-black-title;
                    .lib-font-family(@f-frutiger);
                }
            }

            .link {
                padding: 0 25px;
                margin: 20px 0 0;

                a {
                    padding: 15px 20px;
                    border: 1px solid @color-white2;
                    border-right: none;
                    background: @color-pale-grey;
                    display: block;
                    font-size: @font-size_11;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    text-align: center;
                    text-decoration: none;

                    span {
                        display: block;

                        &:last-child {
                            font-weight: @font-weight__regular;
                            font-size: @font-size_10;
                            color: @color-pinkish-grey;
                        }
                    }

                    &:hover {
                        color: @color-black-title;
                    }
                }

                img {
                    display: none;
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .discover-red {
        .shoe-text-block {
            h1 {
                max-width: 300px;
                left: 50%;
                .lib-css(transform, translateX(-50%), 1);
            }

            .text {
                max-width: 480px;
                margin: 0 auto 35px;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .cms-discover-rouge-html {
        .page-wrapper {
            padding-top: 35px;
        }

        .top-container {
            padding-top: 55px;
            z-index: 1;
        }
    }

    .discover-red {
        padding: 0;

        .shoe-text-block {
            height: calc(~"100vh * 3.5");
            padding: 0;
            position: relative;

            .section-content {
                height: calc(~"100vh - 90px");
                min-height: 740px;
                padding: 0;
                .lib-vendor-prefix-display();

                .image-wrapper,
                .text {
                    width: 50%;
                    max-width: inherit;
                    height: 100%;
                }
            }

            .text {
                margin: 0;
                padding: 0;
                position: relative;

                .text-content {
                    position: absolute;
                    top: 50%;
                    .lib-css(transform, translateY(-50%), 1);
                }

                h1 {
                    position: relative;
                    left: inherit;
                    .lib-css(transform, none, 1);
                    max-width: 390px;
                    font-size: @font-size_20;
                    margin: 0 0 40px;
                    text-align: left;
                }

                p {
                    font-size: @font-size_13;
                    line-height: 1.67;
                    text-align: left;
                    max-width: 350px;
                    margin: 0 0 35px;
                }

                .icon {
                    .lib-project-icon(
                        @_icon-font-content: @icon-project-arrow-bottom-bold,
                        @_icon-font-size: @font-size_20,
                        @_icon-font-color: @color-pinkish-grey
                    );

                    .lib-css(transform, translate3d(0, 0, 0), 1);
                    .lib-css(animation-name, arrowAnimation, 1);
                    .lib-css(animation-duration, 4s, 1);
                    .lib-css(animation-iteration-count, infinite, 1);
                    margin: 0 0 0 10px;
                }
            }

            .image-wrapper {
                .image {
                    top: 50%;
                    left: 50%;
                    .lib-css(transform, translate3d(-50%, -50%, 0), 1);
                    height: auto;
                    text-align: right;
                    z-index: 0;
                    overflow: hidden;
                    max-width: 570px;
                    .lib-css(transition, z-index .5s, 1);

                    &.active {
                        z-index: 1;
                    }

                    img {
                        max-width: 100%;
                    }
                }
            }

            &.skrollable-between {
                .section-content {
                    position: fixed;
                    bottom: 0;
                    width: 100%;
                }
            }

            &.skrollable-after {
                .section-content {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                }
            }
        }

        .nail-block {
            height: calc(~"(100vh * 2) - 35px");
            border-top: 1px solid @color-grey;
            border-bottom: 1px solid @color-grey;
            background: @color-background-discover;

            .image {
                img {
                    .lib-css(transition, bottom .2s, 1);
                }
            }
        }

        .shoes-wheel-block {
            position: relative;
            height: calc(~"100vh * 6");

            .left-bottle {
                display: block;
                width: 70%;
                height: calc(~"100vh * 4");
                position: relative;
                z-index: 1;

                .bottle-box {
                    height: 100%;
                    position: relative;
                    margin-top: 75px;

                    &.skrollable-between {
                        position: fixed;
                        top: 0;
                        width: 70%;
                    }

                    img,
                    .brush-drop {
                        position: absolute;
                        top: 0;
                        max-width: 156px;
                        margin-left: 50%;
                        .lib-css(transform, translateX(-50%), 1);
                        .lib-css(transition, all .3s ease-out, 1);
                    }

                    img {
                        &:first-child {
                            z-index: 3;
                        }

                        &:last-child {
                            z-index: 2;
                            top: -59px;
                        }
                    }

                    .brush-drop {
                        z-index: 1;
                        text-align: center;
                        width: 141px;
                        height: 673px;

                        img {
                            max-width: 100%;
                            margin-left: 0;
                            .lib-css(transform, none, 1);
                            left: 0;
                            top: 0;

                            &.bottle-drop {
                                .lib-css(transition, transform .5s ease, 1);

                                &.skrollable-after {
                                    opacity: 0;
                                }
                            }
                        }
                    }
                }
            }

            .fake-container {
                background: @color-louboutin-red;
                height: 100vh;
                .lib-css(transition, all 0s linear, 1);
                position: absolute;
                top: 0;
                width: 100%;
            }

            .red-block {
                padding: 0;
                height: 100vh;
                width: 100%;
                .lib-css(transition, all 1s, 1);
                position: fixed;
                top: 100vh;

                &.skrollable-after {
                    top: 0;
                }

                .red-block-container {
                    width: 100%;
                    height: 100%;

                    &.skrollable-between,
                    &.skrollable-after {
                        position: fixed;
                        top: 0;
                        width: 100%;
                        height: 100%;
                    }
                }

                .circle-container {
                    width: 70%;
                    height: 100%;
                    position: relative;
                }

                .circle {
                    width: 400px;
                    height: 400px;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    right: 0;
                    .lib-css(transform, translateY(-50%), 1);

                    .text {
                        font-size: @font-size_17;
                        letter-spacing: 11px;
                    }
                }
            }

            .shoes-wheel {
                height: calc(~"100vh - 35px");
                width: 30%;
                margin: 0;
                background: none;
                position: absolute;
                top: 0;
                right: 0;

                .image-rotate {
                    max-width: inherit;
                    height: 100%;
                    margin-top: -156px;
                    margin-left: 10px;

                    img {
                        max-width: inherit;
                    }
                }
            }

            &.skrollable-between {
                .shoes-wheel {
                    position: fixed;
                    top: 35px;
                }
            }

            &.skrollable-after {
                .red-block {
                    display: none;
                }
            }
        }

        .red-background-image-block {
            .lib-vendor-prefix-flex-direction(row);
            position: relative;
            height: calc(~"100vh * 3");

            .section-content {
                width: 100%;
                height: 100vh;
                overflow: hidden;
            }

            &.skrollable-between {
                .section-content {
                    position: fixed;
                    top: 0;
                }
            }

            &.skrollable-after {
                .section-content {
                    position: absolute;
                    bottom: 0;
                }
            }

            .red-quote {
                width: 50%;
                height: 100vh;
                position: absolute;
                top: 0;
                .lib-css(transform, translateX(-100%), 1);
                z-index: 1;

                .paragraph {
                    padding: 0 100px;
                    text-align: left;

                    p {
                        font-size: @font-size_14;
                        letter-spacing: 4px;
                        margin: 0 0 28px;

                        &:last-child {
                            font-size: @font-size_15;
                        }
                    }
                }
            }

            .nail-background {
                width: 100%;
                height: 100vh;

                img {
                    position: relative;
                    top: inherit;
                    bottom: inherit;
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .video-block {
            height: 920px;

            .video {
                padding: 100px 100px 50px;
            }

            p {
                margin: 30px 0 0;
            }

            .link {
                margin: 0;

                a {
                    background: none;
                    border: none;
                    font-size: @font-size_12;
                    text-transform: none;
                    letter-spacing: 1px;
                    padding: 0 20px;

                    &:hover {
                        span.icon {
                            .lib-css(transform, translateX(5px), 1);
                        }
                    }

                    span {
                        &:last-child {
                            text-transform: uppercase;
                        }

                        .icon {
                            color: @color-black;
                            margin-left: 8px;
                            .lib-css(transition, transform .3s, 1);

                            .lib-project-icon(
                                @_icon-font-content: @icon-project-arrow-right,
                                @_icon-font-size: @font-size_8
                            )
                        }
                    }
                }

                img {
                    display: inline;
                }
            }
        }
    }
}