//
//  Common
//  _____________________________________________


& when (@media-common = true) {
    .ja-jp {
        .discover-pages.discover-shoes {
            .section-top {
                .list-section-top {
                    .navs {
                        li {
                            a {
                                border-bottom: 1px solid @color-black;
                                font-family: @font-family-name__freightdisp;
                                font-weight: @font-weight__light;
                                padding-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
    }
    .discover-pages.discover-shoes {

        img {
            width: 100%;
        }

        .easycms-block.title-subtitle-slider {
            div.slick-list {
                .slick-track {
                    li.slide {
                        .product-item-info {
                            .product-item-name {
                                a {
                                    color: @color-warm-grey;
                                    text-transform: none;

                                    &:hover {
                                        color: @color-title-discover-red;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .subtitle-slider-discover {
                p {
                    .lib-font-family(@f-freightdisp);
                    font-weight: @font-weight__light;
                    font-size: @font-size_14;
                    margin-top: -15px;
                    letter-spacing: .75px;
                    color: @color-black;
                }
            }
        }

        .section-top {
            margin-bottom: 49px;
            position: relative;
            .topbox-image {
                margin-bottom: 0;
            }
            h1 {
                display: block;
                font-size: @font-size_46;
                color: @color-black;
                letter-spacing: 5px;
                line-height: 50px;
                text-align: center;
                font-family: @f-freightdisp;
                font-weight: lighter;
                text-transform: uppercase;
            }
            .list-section-top {
                max-width: 1060px;
                margin: 0 auto;
                padding: 0 50px;
                display: none;
                padding-top: 5.6vw;
                .navs {
                    padding-left: 0;
                    text-align: center;
                    font-size: 0;
                    margin: 0 -54px 0;
                    li {
                        display: inline-block;
                        margin: 0 2.3vw;
                        position: relative;
                        a {
                            font-size: 1.98vw;
                            letter-spacing: 0.71px;
                            line-height: 25px;
                            padding-bottom: 5px;
                            .lib-font-family(@f-freightdisp);
                            color: @color-black;

                            span {
                                display: block;
                            }

                            &:after {
                                position: absolute;
                                content: "";
                                background-color: @color-black;
                                display: block;
                                left: 0;
                                right: 0;
                                bottom: -1px;
                                height: 1px;
                                margin: 0 auto;
                                width: 100%;
                                .lib-css(transition, all .3s ease, 1);
                            }
                        }

                        &:hover {
                            a {
                                outline: 0;
                                text-decoration: none;
                                &:after {
                                    width: 95%;
                                }
                            }
                        }
                    }
                }
            }
        }
        section {
            .section-inner {
                box-sizing: border-box;
                max-width: 1060px;
                padding: 0 5.9vw;
                margin: 0 auto;
                .easycms-block {
                    margin-bottom: 0;
                }
                .title {
                    padding: 52px 0 58px;
                    position: relative;
                    text-align: center;

                    h2 {
                        font-family: @f-madelyn;
                        font-size: @font-size_37;
                        font-weight: @font-weight__light;
                        text-transform: capitalize;
                    }

                    p {
                        font-family: @f-freightdisp;
                        font-size: @font-size_46;
                        letter-spacing: 3.29px;
                        margin-top: -8px;
                        color: @color-black;
                        font-weight: @font-weight__light;
                    }

                    &:before {
                        position: absolute;
                        content: "";
                        height: 8px;
                        left: -40px;
                        right: -40px;
                        top: 0;
                        z-index: 1;
                        background: transparent url('@{baseDir}images/step-title-bg.jpg') repeat-x center left/auto 100%;
                    }
                }
                .description {
                    padding: 20px 0;
                    p {
                        width: 100%;
                        display: block;
                        text-align: center;
                        font-size: @font-size_14;
                        letter-spacing: .75px;
                        line-height: 25px;
                        .lib-font-family(@f-freightdisp);
                        font-weight: @font-weight__light;
                        vertical-align: top;
                        color: @color-black;
                        &:first-child {
                            margin-right: 5vw;
                        }
                    }
                }
            }

            &.step-1 {
                margin-bottom: 60px;
            }

            &.step-1,
            &.step-3 {

                .section-inner {
                    .img {
                        width: calc(~'100% + 20px');
                        margin: 0 -10px;

                        div {
                            display: none;
                        }
                    }
                    .step-description {
                        .info {
                            clear: both;
                            width: 100%;
                            top: 0;
                            padding: 60px 0 0;
                            p {
                                margin-bottom: 8.6vw;
                                font-weight: lighter;
                                span {
                                    font-size: @font-size_54;
                                    padding: 11px 8px 0 0;
                                    float: left;
                                }
                            }
                        }
                    }
                }


                clear: both;

                .section-inner {

                    .slider-container {
                        overflow: hidden;
                        position: relative;
                        background: @color-background-grey url('@{baseDir}images/shoe-types-line.png') no-repeat top left/100% 100%;
                        text-align: center;
                        padding: 0;
                        margin: 90px -10px 0;
                        height: auto;
                        max-height: 100%;
                        width: calc(~'100% + 20px');

                        h2 {
                            font-family: @font-family-name__freightdisp;
                            text-transform: uppercase;
                            color: @color-black;
                            font-size: @font-size_14;
                            letter-spacing: 1.27px;
                            line-height: 35px;
                            margin: 37px 0 40px;
                            position: relative;
                            z-index: 2;
                            font-weight: @font-weight__light;
                        }

                        h3 {
                            .lib-font-family(@font-family-name__madelyn);
                            font-size: @font-size_48;
                            letter-spacing: 1px;
                            top: 35px;
                            line-height: 25px;
                            position: relative;
                            font-weight: lighter;
                            color: @color-title-discover-red;
                            opacity: 1;
                            .lib-css(transition, all .5s linear, 1);

                            &.fadeout {
                                top: 50px;
                                opacity: 0;
                                .lib-css(transition, all .5s linear, 1);
                            }

                            &.fadein {
                                top: 50px;
                                opacity: 0;
                            }
                        }

                        .info {
                            text-align: center;
                            position: relative;
                            top: 0;
                            .lib-css(transition, all .5s ease, 1);
                            &.fadeout {
                                top: 15px;
                                opacity: 0;
                                .lib-css(transition, all .5s ease, 1);
                            }

                            &.fadein {
                                top: 15px;
                                opacity: 0;
                            }

                            > div {
                                display: inline-block;
                                vertical-align: top;
                                .lib-font-family(@f-freightdisp);
                                letter-spacing: .75px;
                                color: @color-black;
                            }

                            .link-shoe {
                                line-height: 25px;
                                width: auto;
                                margin: 3vw 0;

                                a {
                                    font-size: 10px;
                                    letter-spacing: 1.36px;
                                    margin-top: 18px;
                                    .lib-font-family(@font-family-name__avenir);
                                    position: relative;
                                    color: @color-black;
                                    font-weight: @font-weight__bold;
                                    display: inline-block;

                                    &:hover {
                                        text-decoration: none;

                                        &:after {
                                            width: 100%;
                                            .lib-css(transition, all .2s ease, 1);
                                        }
                                    }

                                    &:before,
                                    &:after {
                                        height: 1px;
                                        left: 0;
                                        right: 0;
                                        bottom: 0;
                                        content: '';
                                        background-color: @color-black;
                                        display: block;
                                        position: absolute;
                                        margin: 0 auto;
                                        .lib-css(transition, all .2s ease, 1);
                                    }

                                    &:after {
                                        left: 0;
                                        right: 0;
                                        bottom: 1px;
                                        width: 0;
                                    }
                                }
                            }

                            > p {
                                line-height: 25px;
                                letter-spacing: .86px;
                                width: 60%;
                                .lib-font-family(@f-freightdisp);
                                font-weight: @font-weight__light;
                                display: none;
                                color: @color-black;
                            }

                        }

                        .shoe-types-thumb {
                            float: none;
                            width: 100%;
                            margin-bottom: 22px;
                            margin-top: 3vw;
                            position: relative;
                            z-index: 2;
                            display: inline-block;

                            .pictos-slider {
                                width: 100%;
                                padding: 0;
                                margin: 0;
                                position: relative;
                                clear: both;
                                display: inline-block;
                                li {
                                    cursor: pointer;
                                    position: relative;
                                    width: 8px;
                                    margin: 0 11px;
                                    display: inline-block;
                                    &:after {
                                        border: 1px solid @color-pinkish-grey;
                                        width: 6px;
                                        height: 6px;
                                        display: block;
                                        position: absolute;
                                        top: 35%;
                                        right: 0;
                                        content: '';
                                        .lib-css(border-radius, 50%, 1);
                                    }
                                    img {
                                        width: 40px;
                                        .lib-css(transform, scale(0.75) translateY(-8px) translateZ(0), 1);
                                        .lib-css(transition, all .2s ease, 1);
                                        display: none;
                                    }

                                    &:hover,
                                    &.active {
                                        &:after {
                                            border-color: @color-title-discover-red;
                                            background-color: @color-title-discover-red;
                                        }
                                        img {
                                            .lib-css(transform, scale(1) translateY(-8px) translateZ(0), 1);
                                            .lib-css(transition, all .2s ease, 1);
                                        }
                                    }

                                    &:hover {
                                        &:after {
                                            background-color: @color-title-discover-red;
                                            opacity: 0.3;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .slider-animated-shoe {
                        background-color: @color-background-grey;
                        width: 100%;
                        float: none;
                        position: relative;
                        z-index: 1;

                        .slick-list {
                            overflow: visible;
                        }

                        .animated-shoe {
                            width: 100%;
                            margin: 0;
                            height: 64vw;
                            max-width: 100%;
                            max-height: 100%;
                            display: block;
                            background: transparent no-repeat 0 0 ~'/' auto 100%;
                            background-position-x: 100%;
                            background-position-y: 0!important;
                        }

                        .info {
                            > p {
                                width: 50%;
                            }
                        }

                        .slick-active {
                            .animated-shoe {
                                visibility: visible;
                            }
                        }
                    }

                    ul,
                    li {
                        list-style-type: none;
                        img {
                            width: 40px;
                        }
                    }
                }
                .step-description {
                    float: left;
                    margin-bottom: 81px;
                    .img {
                        float: left;
                    }

                    .info {
                        padding: 0 0 0 80px;
                    }
                }
            }
            &.step-2,
            &.step-4 {
                clear: both;

                .section-inner {
                    padding: 0;
                    .img {
                        width: calc(100% + 60px);
                        margin: 0 -30px;
                        div {
                            display: none;
                        }
                    }
                }

                .materials {
                    max-height: 100%;
                    height: auto;

                    .slider-materials,
                    .slider-embellishment {
                        margin-bottom: 65px;
                    }

                    .slider-materials,
                    .info,
                    .slider-embellishment {
                        clear: both;
                        box-sizing: border-box;
                        padding: 0 0 65px;
                        background-color: @color-background-grey;

                        .slick-arrow {
                            width: 66px;
                            height: 66px;
                            color: @color-black;
                            background: @color-white;
                            font-size: @font-size_24;
                            .lib-css(border-radius, 50%, 1);
                            margin-left: -35px;
                            margin-right: -35px;
                            top: -150px;
                            .lib-css(box-shadow, 0 0 4px 0 rgba(0, 0, 0, 0.15), 1);
                        }

                        .slick-prev,
                        .slick-next {
                            &:before {
                                .lib-project-icon(@icon-project-arrow-left);
                                background-color: @color-white;
                                color: @color-black;
                            }
                        }

                        .slick-next {
                            &:before {
                                .lib-project-icon(@icon-project-arrow-right);
                            }
                        }

                        p.materials-title {
                            color: @color-title-discover-red;
                            font-size: @font-size_60;
                            vertical-align: bottom;
                            line-height: 25px;
                            letter-spacing: 1.25px;
                            padding: 36px 30px 30px 40px;
                            width: 26%;
                            font-family: @f-madelyn;

                            span {
                                font-size: .3em;
                                margin-top: 12px;
                                margin-left: 15px;
                                display: block;
                            }

                            & + p {
                                display: none;
                            }
                        }

                        p {
                            display: inline-block;
                            padding: 11px 0;
                            font-size: @font-size_16;
                            letter-spacing: .86px;
                            line-height: 25px;
                            width: 60%;
                            color: @color-black;
                            font-family: @f-freightdisp;
                            font-weight: @font-weight__light;
                        }


                        .slick-list {
                            .slick-track {
                                padding-top: 22px;
                                padding-bottom: 32px;
                            }
                        }

                        .slide {
                            padding: 0 16px;
                            &:nth-child(odd) {
                                .lib-css(transform, translateY(-5%), 1);
                            }
                            &:nth-child(even) {
                                .lib-css(transform, translateY(6%), 1);
                            }
                            .lib-css(transition, all ease .8s, 1);

                            img {
                                margin: 8px auto 30px;
                                .lib-css(box-shadow, 10px 10px 5px 0 rgba(0, 0, 0, 0.05), 1);
                            }

                            .title-slide {
                                font-size: @font-size_20;
                                letter-spacing: .5px;
                                line-height: 25px;
                                text-align: center;
                                .lib-font-family(@f-freightdisp);
                                font-weight: @font-weight__light;
                                color: @color-black;
                                padding-left: 0;
                                width: 100%;
                            }
                        }

                        &.sliding {
                            .slide {
                                .lib-css(transform, translateY(0), 1);
                                .lib-css(transition, all ease .8s, 1);
                            }
                        }
                    }


                    .info {
                        padding: 66px 42px 20px;
                        text-align: center;
                    }
                }

                .section-inner {
                    padding: 0 50px;
                }

                .step-description {
                    margin-bottom: 135px;
                    float: right;
                    .img {
                        float: right;
                    }

                    .info {
                        padding: 60px 0 0;
                        clear: both;

                        > p {
                            margin-bottom: 55px;
                            font-weight: lighter;
                            span {
                                font-size: @font-size_54;
                                padding: 11px 8px 0 0;
                                float: left;
                            }
                        }
                    }
                }
            }

            &.step-4 {

                .materials {
                    padding-top: 0;
                    .info {
                        p.materials-title {
                            width: 34.4%;
                            padding-right: 0;
                        }
                    }
                }

                .step-description {
                    margin-bottom: 50px;

                    .info {
                        > p {
                            margin-bottom: 115px;
                        }
                    }
                }
            }
            .step-description {
                .img {
                    width: 65%;
                }
                p {
                    font-size: @font-size_14;
                    letter-spacing: .5px;
                    line-height: 25px;
                    color: @color-black;
                    .lib-font-family(@f-freightdisp);
                }
            }
        }


        .types-shoe {
            clear: both;
            max-width: 960px;
            font-weight: @font-weight__light;
            .lib-font-family(@font-family-name__freightdisp);
            line-height: 35px;
            margin: 0 auto;
            font-size: @font-size_14;
            letter-spacing: 1px;
            display: none;
        }

        .soles {
            max-width: 1060px;
            padding: 0;
            width: 100%;
            clear: both;
            margin: 0 auto 60px;
            .slide {
                width: calc(~'50% - 20px');
                margin: 0 20px;
                background: @color-background-grey url('@{baseDir}images/sole-type-line.png') no-repeat top left/100% 100%;
                display: inline-block;
                vertical-align: top;
                text-align: center;

                h2 {
                    text-transform: none;
                    font-weight: normal;
                    margin: 55px 0 59px;
                    font-size: @font-size_60;
                    letter-spacing: 0.67px;
                    color: @color-title-discover-red;
                    .lib-font-family(@f-madelyn);

                }

                img {
                    display: inline-block;
                    margin-bottom: 29vw;
                    width: 50vw;
                    max-width: inherit;
                }

                p {
                    margin: 44px auto 40px;
                    font-size: @font-size_14;
                    .lib-font-family(@f-freightdisp);
                    line-height: 25px;
                    letter-spacing: .75px;
                    max-width: 360px;
                    color: @color-black;
                    display: none;
                }



            }
            .slick-dots {
                 button {
                     background: transparent;
                     border: 1px solid @color-pinkish-grey;
                     width: 8px;
                     height: 8px;
                     .lib-css(border-radius, 50%, 1);
                     padding: 0;
                     margin: 0 13px;

                     &:before {
                         width: 100%;
                         color: transparent;
                         background-color: transparent;
                     }
                 }
                 .slick-active {
                     button {
                         background-color: @color-title-discover-red;
                     }
                 }
            }
            img {
                max-width: 184px;
                margin: 0 auto;
            }
        }

        .easycms-block.title-subtitle-slider {
            clear: both;

            .title-slider-discover {
                p {
                    position: relative;
                    &:after {
                        content: ' ';
                        position: absolute;
                        display: block;
                        background: @color-white url('@{baseDir}images/carousel-title-line.jpg');
                        height: 3px;
                        bottom: 20px;
                        left: 0;
                        right: 0;
                        z-index: -1;
                        background-size: 100% auto;
                    }
                }
            }

            .slick-list {
                .slick-track {
                    li.slide {
                        .product-item-details {
                            margin-top: 40px;
                            .product-item-link {
                                &:before {
                                    position: absolute;
                                    top: -15px;
                                    left: 20px;
                                    right: 20px;
                                    height: 1px;
                                    content: "";
                                    background-color: @color-grey-four;
                                    margin-bottom: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .discover-pages {
        &.discover-shoes {
            overflow: hidden;
            .easycms-block.topbox-image {
                img {
                    height: 106vw;
                    max-width: inherit;
                    width: auto;
                    display: inline-block;
                    margin-left: 50%;
                    margin-bottom: 50px;
                    .lib-css(transform, translateX(-50%), 1);
                }
            }
            h1 {
                margin-bottom: 55px;
            }
            .materials {
                .slick-track {
                    margin-left: -130px
                }
            }
            section.step-1,
            section.step-2,
            section.step-3,
            section.step-4 {
                .section-inner {
                    padding: 0 40px;
                    .img {
                        margin: 0 -40px;
                        width: calc(~'100% + 80px');
                    }
                    .slider-container {
                        width: calc(~'100% + 80px');
                        margin: 0 -40px;
                    }
                }
            }

            .soles {
                div.slick-track {
                    .lib-vendor-prefix-display();
                }
                .slide {
                    margin: 0;
                    height: auto;
                    max-height: 100%;

                    h2 {
                        margin-bottom: 45px;
                    }
                }
            }

            section {

                &.know-how {
                    .section-inner {
                        .title {
                            h2 {
                                font-size: @font-size_37;
                                line-height: 50px;
                                letter-spacing: 2.5px;
                            }
                            p {
                                font-size: @font-size_36;
                            }
                        }
                        .description {
                            p {
                                margin-bottom: 0;
                            }
                        }
                    }
                }

                .section-inner {
                    .title {
                        h2 {
                            font-size: @font-size_28;
                        }
                        p {
                            margin-bottom: 0;
                        }
                    }
                }

                &.step-1 {
                    margin-bottom: 80px;
                }
                &.step-2 {
                    .materials {
                        clear: both;
                        .info {
                            padding: 53px 0 25px;
                            p {
                                margin-bottom: 0;
                            }
                        }
                        .slider-materials {
                            padding-bottom: 65px;
                            margin-bottom: 86px;
                            .slick-list {
                                margin-top: -20px;
                            }
                        }
                    }
                    .section-inner {
                        .step-description {
                            margin-bottom: 64px;
                        }
                    }
                }
                &.step-3 {
                    .section-inner {
                        .step-description {
                            .info {
                                padding-top: 40px;
                                > p {
                                    margin-bottom: 65px;
                                }
                            }
                        }
                    }
                }
                &.step-4 {
                    .materials {
                        clear: both;
                        width: calc(~'100% - 20px');

                        .info {
                            width: 100%;

                            p.materials-title {
                                padding-left: 0;
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .discover-pages {
        &.discover-shoes {
            overflow: hidden;
            section {
                div.section-inner {
                    padding: 0;
                }
            }
            .types-shoe {
                display: block;
            }

            .soles {
                padding: 0 30px;
                .slide {
                    min-height: 587px;

                    h2 {
                        font-size: @font-size_48;
                    }
                    p {
                        display: block;
                        margin: 0 auto 40px;
                    }

                    img {
                        width: inherit;
                        max-width: 184px;
                        margin-bottom: 29px;
                    }
                }
            }

            .step-description {
                .info {
                    width: 35%;
                    position: relative;
                    float: left;
                    left: 0;
                    top: 104px;
                    box-sizing: border-box;

                    p {
                        span {
                            font-size: @font-size_54;
                            padding: 11px 8px 0 0;
                            float: left;
                        }
                    }
                }
            }

            .step-1,
            .step-2,
            .step-3,
            .step-4 {
                div.section-inner {

                    div.title {
                        &:before {
                            left: 0;
                            right: 0;
                        }
                    }

                    .img {
                        width: 65%;
                        margin: 0;

                        div {
                            display: block;
                        }
                    }
                    .step-description {
                        .info {
                            width: 35%;
                        }
                    }
                }
            }

            section.step-2,
            section.step-4 {
                div.section-inner {
                    div.title {
                        > h2,
                        > p {
                            margin-bottom: 0;
                        }

                        > p {
                            line-height: 64px;
                        }
                    }
                    .step-description {
                        .info {
                            float: right;
                            clear: none;
                            padding-right: 8vw;
                            padding-top: 0;
                            top: 60px;
                        }
                    }
                }

                .materials {

                    .slider-embellishment,
                    .slider-materials {
                        .slide {
                            &:nth-child(even) {
                                .lib-css(transform, translateY(13.5%), 1);
                            }
                            &:nth-child(odd) {
                                .lib-css(transform, translateY(-8%), 1);
                            }
                        }

                        &.sliding {
                            .slide {
                                .lib-css(transform, translateY(0), 1);
                            }
                        }
                    }

                    .info {
                        text-align: left;
                    }
                }
            }

            section.step-1,
            section.step-3 {
                div.section-inner {
                    .step-description {
                        .info {
                            float: left;
                            clear: none;
                            padding-left: 80px;
                            padding-top: 104px;

                            > p {
                                margin-bottom: 87px;
                            }
                        }
                    }
                    .slider-animated-shoe {
                        width: 91.6%;
                        float: left;

                        .animated-shoe {
                            display: block;
                            width: 106%;
                            max-width: 816px;
                            height: 52.8vw;
                            max-height: 540px;
                            visibility: hidden;
                            margin: -24.2vw -4.7vw 4.3vw 5.28vw;
                        }
                    }

                    .slider-container {
                        clear: both;
                        padding: 37px 40px 10px;
                        width: auto;
                        margin: 119px 0 0;

                        h2 {
                            text-align: left;
                            padding-top: 0;
                            margin: 0;
                            padding-bottom: 0;
                        }

                        .shoe-type {
                            h3 {
                                text-align: left;
                            }
                        }

                        .shoe-types-thumb {
                            margin-top: 3vw;
                            position: relative;
                            z-index: 2;
                            float: left;
                            width: 8.4%;

                            .pictos-slider {
                                float: none;
                                top: 50px;
                                li {
                                    float: none;
                                    display: block;
                                    width: auto;
                                    margin: auto;
                                    img {
                                        display: inline-block;
                                    }
                                }
                            }
                        }

                        .info {

                            text-align: left;

                            > p {
                                display: inline-block;
                            }

                            .link-shoe {
                                margin: 0;
                                width: 31%;
                            }
                        }
                    }
                }
            }

            section.step-3 {
                div.section-inner {
                    .step-description {
                        .info {
                            top: 60px;
                            padding-top: 0;

                            > p {
                                margin-bottom: 57px;
                            }
                        }
                    }
                }
            }

            section.step-4 {
                div.section-inner {
                    .step-description {
                        .info {
                            top: 143px;
                            padding-top: 0;
                        }
                    }
                }
            }

            section.step-2,
            section.step-4 {
                .materials {
                    clear: both;
                    max-width: 1060px;
                    padding: 0 50px;
                    width: auto;
                    margin: 0 auto 63px;
                    box-sizing: border-box;

                    .info {
                        p.materials-title + p {
                            display: inline-block;
                        }
                    }
                }
            }

            .section-top {
                h1 {
                    font-size: @font-size_72;
                    margin-bottom: 0;
                    position: absolute;
                    bottom: 21vw;
                    text-align: center;
                    width: 100%;
                    right: 0;
                    z-index: 1;
                    color: @color-white;
                }
                .list-section-top {
                    display: block;
                    padding-top: 57px;
                }
            }
            .know-how {
                .section-inner {
                    h2,
                    p {
                        margin-bottom: 0;
                    }
                    .description {
                        padding: 40px 0 75px;
                        p {
                            display: inline-block;
                            width: calc(~'50% - 3vw');
                            font-size: 1.37vw;
                            letter-spacing: .07vw;
                            line-height: 2.48vw;
                            font-weight: @font-weight__medium;
                            text-align: left;
                        }
                    }
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .discover-pages {
        &.discover-shoes {

            section {
                div.section-inner {
                    padding: 0 60px;
                }
            }

            section.step-2,
            section.step-4 {
                div.section-inner {
                    .step-description {
                        .info {
                            padding-right: 80px;
                        }
                    }
                }
            }

            section.step-1,
            section.step-3 {
                div.section-inner {
                    .step-description {
                        .info {
                            padding-left: 80px;
                        }
                    }
                }
            }

            .section-top {

                h1 {
                    bottom: 230px;
                }

                .list-section-top {
                    .navs {
                        li {
                            margin: 0 54px;
                            a {
                                font-size: @font-size_20;
                                letter-spacing: .71px;
                                line-height: 25px;
                            }
                        }
                    }
                }
            }

            section.know-how {
                .section-inner {
                    .description {
                        p {
                            width: calc(~'50% - 30px');
                            font-size: @font-size_14;
                            letter-spacing: .75px;
                            line-height: 25px;
                            &:first-child {
                                margin-right: 50px;
                            }
                        }
                    }
                }
            }


            section.step-1 {
                .section-inner {
                    div.slider-animated-shoe {
                        .animated-shoe {
                            margin: -248px -48px 44px 53px;
                        }
                    }
                }
            }
        }
    }
}