.cms-page-view {
    .gift-guide {
        .top-part {
            .top-links {
                ul {
                    .lib-font-family(@font-family-name__freightdisp);
                    font-size: 36px;
                    font-weight: 500;
                    text-transform: capitalize;
                    margin: 30px 0;
                    padding: 0;
                    text-align: center;
                    @media (max-width: @mobile__screen) {
                        font-size: 24px;
                        width: max-content;
                        overflow: auto;
                        margin: 10px 0;
                    }
                    li {
                        margin: 0 22px 20px;
                        box-sizing: border-box;
                        display: inline-block;
                        @media (max-width: @mobile__screen) {
                            display: inline-flex;
                            margin: 0 10px 10px 15px;
                        }
                        a {
                            position: relative;
                            display: inline-block;
                            color: #000;
                            text-decoration: none;
                            -moz-transition-property: color;
                            -o-transition-property: color;
                            -webkit-transition-property: color;
                            transition-property: color;
                            -moz-transition-duration: 0.4s;
                            -o-transition-duration: 0.4s;
                            -webkit-transition-duration: 0.4s;
                            transition-duration: 0.4s;
                            &:before {
                                position: absolute;
                                bottom: 0;
                                left: -2px;
                                right: 0;
                                margin: 0 auto;
                                height: 1px;
                                width: 0;
                                -webkit-transition: all 0.2s;
                                -khtml-transition: all 0.2s;
                                -moz-transition: all 0.2s;
                                -ms-transition: all 0.2s;
                                -o-transition: all 0.2s;
                                transition: all 0.2s;
                                content: "";
                                background-color: #1D1D1D;
                            }
                            &:after {
                                position: absolute;
                                bottom: 1px;
                                left: -2px;
                                right: 0;
                                margin: 0 auto;
                                height: 1px;
                                width: calc(~"100% - 3px");
                                -webkit-transition: all 0.2s;
                                -khtml-transition: all 0.2s;
                                -moz-transition: all 0.2s;
                                -ms-transition: all 0.2s;
                                -o-transition: all 0.2s;
                                transition: all 0.2s;
                                content: "";
                                background-color: #1D1D1D;
                            }
                            &:hover {
                                &:before {
                                    width: calc(~"100% - 3px");
                                }
                            }
                        }
                    }
                }
                @media (max-width: @mobile__screen) {
                    overflow: scroll;
                    width: 100%;
                    margin-left: -15px;
                    padding-left: 15px;
                    box-sizing: content-box;
                    margin-right: 20px;
                    &::-webkit-scrollbar {
                        width: 0;
                        background: transparent;
                    }
                }
            }
            .under-links {
                margin-top: 100px;
                clear: both;
                overflow: hidden;
                font-size: 18px;
                text-align: center;
                @media (max-width: @mobile__screen) {
                    margin-top: 42px;
                }
            }
            .image-title {
                img {
                    max-width: 600px;
                    margin: 70px auto;
                    display: block;
                    @media (max-width: @mobile__screen) {
                        max-width: 300px;
                    }
                }
            }
        }
        .section-category {
            &:not(.for-her) {
                overflow: hidden;
                margin-top: 100px;
                @media (max-width: @mobile__screen) {
                    margin-top: 0;
                }
            }
            .image-title {
                margin: 100px 0 50px;
                img {
                    width: auto;
                    max-width: 600px;
                    margin: auto;
                    display: block;
                    @media (max-width: @mobile__screen) {
                        max-width: 300px;
                    }
                }
            }
            .image-big {
                @media (max-width: @mobile__screen) {
                    padding: 0 20px;
                }
                .truck, .wishlist {
                    display: inline-block;
                    width: 240px;
                    margin: 0 40px;
                    p {
                        margin-top: 20px;
                    }
                }
            }
            .section-text {
                .scroll-view {
                    font-size: 11px;
                    color: #888;
                    letter-spacing: 2px;
                    font-family: "Avenir-Book";
                    text-transform: uppercase;
                    text-align: center;
                    margin-top: 60px;
                    @media (max-width: @mobile__screen) {
                        padding: 0 20px;
                    }
                }
            }
            .link-center {
                margin: 30px 0;
                text-align: center;
                a {
                    font-size: 11px;
                    color: #1D1D1D;
                    letter-spacing: 3.38px;
                    padding-bottom: 13px;
                    font-family: "Avenir-Medium";
                    line-height: 1;
                    text-transform: uppercase;
                    display: inline-block;
                    position: relative;
                    text-decoration: none;
                    &:after {
                        position: absolute;
                        bottom: 1px;
                        left: -2px;
                        right: 0;
                        margin: 0 auto;
                        height: 1px;
                        width: calc(~"100% - 3px");
                        -webkit-transition: all 0.2s;
                        -khtml-transition: all 0.2s;
                        -moz-transition: all 0.2s;
                        -ms-transition: all 0.2s;
                        -o-transition: all 0.2s;
                        transition: all 0.2s;
                        content: "";
                        background-color: #1D1D1D;
                    }
                    &:before {
                        position: absolute;
                        left: -2px;
                        right: 0;
                        margin: 0 auto;
                        height: 1px;
                        width: 0;
                        bottom: 0;
                        -webkit-transition: all 0.2s;
                        -khtml-transition: all 0.2s;
                        -moz-transition: all 0.2s;
                        -ms-transition: all 0.2s;
                        -o-transition: all 0.2s;
                        transition: all 0.2s;
                        content: "";
                        background-color: #1D1D1D;
                    }
                    &:hover {
                        &:before {
                            width: calc(~"100% - 3px");
                        }
                    }
                }
            }
            .easycms-block.title-subtitle-slider {
                margin: 100px auto;
                @media (max-width: @mobile__screen) {
                    margin: 50px auto;
                    padding: 0 ;
                }
                div.slick-list .slick-track li.slide {
                    .product-item-info {
                        .product-item-details {
                            position: relative;
                            &:after {
                                position: absolute;
                                top: -20px;
                                left: 20px;
                                right: 20px;
                                height: 1px;
                                content: "";
                                background-color: #eee;
                            }
                        }
                        .product-item-name {
                            a {
                                display: block;
                                position: relative;
                                color: #888;
                                font-size: 13px;
                                font-family: "Avenir-Book";
                                letter-spacing: 0.93px;
                                margin: 22px 0 6px;
                            }
                        }
                        .product-item-photo img {
                            max-width: 180px;
                        }
                        &:hover {
                            .product-item-name {
                                a {
                                    color: #ED1616;
                                }
                            }
                        }
                    }
                }
            }
            &.pictos {
                .image-big {
                    text-align: center;
                    img {
                        width: 240px;
                        display: inline-block;
                        vertical-align: middle;
                        @media (max-width: @mobile__screen) {
                            width: 140px;
                        }
                    }
                }
            }
        }
    }
    &.cms-christmas-gift-guide,.cms-gift-guide {
        .page-main {
            padding: 0;
        }
    }
}
