& when (@media-common = true) {
    .cms-home .page-main {
        padding: 0;

        .page.messages div.message {
            margin-top: 35px;
        }
    }
}

.cms-home #landing-home {
    .easycms-block.products-slider .title {
        margin: 0 0 35px;
    }

    #home-topbox-slider {
        .topbox-video {
            & > a {
                text-align: center;
                margin: 3.5vw 0 6vw;
                display: block;
                color: #1D1D1D;

                .title {
                    border-bottom: none;
                    margin: 0;
                    position: relative;
                    display: inline;
                    border-bottom: 1px solid;
                }
            }
        }
    }
    .big-image {
        padding: 0;
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .cms-home #landing-home #home-topbox-slider {
        .topbox-video {
            & > a {
                margin: 40px 0 60px;

                .title {
                    letter-spacing: 4.17px;
                    display: inline;
                    line-height: 4.11vw;
                }
            }
        }
    }
}

@media (max-width: @mobile__screen) {
    .cms-home #landing-home #home-topbox-slider .topbox-video > a {
        margin-top: 23px;
        margin-bottom: 17px;
        .title {
            display: inline;
            line-height: 10.11vw;
        }
    }
    .cms-home #landing-home {
        .easycms-block.products-slider .title {
            margin: 0 0 5px;
        }
        #home-topbox-slider {
            .topbox-image {
                > a {
                    &:last-child {
                        margin: 15px 10px 30px !important;
                    }
                    span {
                        margin-bottom: 11px;
                        font-size: 24px;
                        letter-spacing: 4.17px;
                        display: inline;
                        line-height: 10.11vw;
                        padding-bottom: 4px;
                        border-bottom: 1px solid;
                    }
                }
            }
        }
        .easycms-block.images-products {
            &.images-products-right {
                .image-first {
                    margin: 40px 20px 40px 70px !important;
                    .title {
                        top: -20px;
                        left: -50px;
                    }
                }
                .image-second {
                    .title {
                        bottom: -45px;
                        right: -20px;
                        top: auto;
                    }
                }
            }
            &.images-products-left .image-first {
                .title {
                    bottom: -45px;
                    top: auto !important;
                    right: auto;
                    left: 0;
                }
            }
        }
        .topbox-image .title {
            line-height: 10.11vw;
            padding-bottom: 4px;
            border-bottom: 1px solid;
        }
    }
}
