& when (@media-common = true) {
    .info-box-wrapper {
        width: 100%;
        padding: 50px 0 25px;
        text-align: center;
        .lib-font-family(@f-frutiger);
        color: @color-black;
        font-size: @font-size_13;
        line-height: 1.8;
        background: @color-white;

        p {
            margin: 0;
        }
        .separator {
            color: @color-black;
        }

        .info-box {
            position: relative;
            width: 100%;
            max-width: 700px;
            margin: 0 auto;
            padding: 0 60px;
            box-sizing: border-box;

            .close {
                position: absolute;
                top: 0;
                right: 0;
                cursor: pointer;

                .lib-project-icon(
                    @_icon-font-content: @icon-project-close,
                    @_icon-font-color: @color-grey,
                    @_icon-font-size: @font-size_13
                );
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .info-box-wrapper .info-box {
        padding: 0;

        .close {
            top: 50%;
            .lib-css(transform, translateY(-50%), 1);
        }
    }
}