#landing-generic {
    .images-products-left ,
    .images-products-right {
        a {
            display: inline-block;
            z-index: 2;
            position: relative;
        }
    }
    .image-first {
        background-repeat: no-repeat;
        background-position: left bottom;
        background-size: contain;
    }
    .image-second {
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 10px -20px;
        bottom: 40px;
    }

    .images-products-left {
        .image-second .title {
            right: 13px;
            padding-left: 0;
        }
    }
    .first-products {
        margin-top: -215px;
    }

    .nav-beauty-mobile , .m-mobile {
        display: none;
    }
}

@media all  and  (max-width: @mobile__screen) {
    #landing-generic {
        .top-image {
            margin: 3em auto;
        }
        .image-second {
            background-position: top;
            bottom: 0;
        }
        .images-products-left .image-second .title {
            z-index: 2;
            padding-left: 0;
            right: auto;
            bottom: -40px;
        }
        .first-products {
            top: 50px;
        }
        .products.last-products {
            padding-top: 120px;
        }
        .images-products-right .image-second .title {
            bottom: -40px;
        }
    }
}

@media all  and (min-width: 728px) and (max-width: @screen__l) {

    #landing-generic {
        .top-image {
            margin: 3em auto;
        }
        .products.x3 {
            padding-top: 0;
            position: relative;
            top: 90px;
        }
        .images-products-right {
            .image-first {
                max-width: 500px;
                height: auto;
                overflow: visible;
                float: none;
                margin: 0 auto;
                .title {
                    top: -15px;
                }
            }
            .image-second {
                z-index: -1;
                margin-top: 5em;
                .title {
                    bottom: -75px;
                }
            }
        }

        .images-products-left {
            position: relative;
            top: 5em;
            .image-first {
                background-size: 0;
                position: relative;
                top: -5em;
                .title {
                    bottom: -40px;
                    left: -10px;
                }
            }
            .image-second {
                background-size: 0;
                .title {
                    z-index: 2;
                    bottom: 0;
                    padding: 20px;
                }
            }
        }
    }
}
