& when (@media-common = true) {
    .page-products .category-cms {
        max-width: @landing-width;
        margin: 0 auto;
        padding: 70px 0 0;
        box-sizing: border-box;
        position: relative;
        z-index: 2;

        .page-title {
            margin: 0;
            .lib-font-family(@font-family-name__freightdisp);
            font-weight: @font-weight__light;
            font-size: @font-size_46;
            line-height: 1;
            letter-spacing: 5px;
            color: @color-black;
            text-align: center;
        }
        .block.filter {
            margin: 40px 0;
            text-transform: uppercase;
            color: @color-warm-grey;

            ul {
                .lib-list-reset-styles();
            }
        }
        #landing-beauty {
            .block.filter ul {
                display: inline-block;
                &.left {
                    margin-right: 40px;
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .page-products .category-cms {
        .page-title {
            font-size: @font-size_28;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
    .page-products .category-cms {
        .lib-css(display, flex, 1);
        .lib-css(flex-direction, column, 1);

        .page-title {
            .lib-css(order, 0, 1);
        }

        .block.filter.l-mobile {
            .lib-css(order, 2, 1);

            .filter-options-item {
                display: inline-block;
                padding: 0 10px;

                a {
                    font-size: @font-size_18;
                    color: @color-black-two;
                    padding-bottom: 7px;
                    border-bottom: 2px solid @color-black;
                    text-decoration: none;
                    margin: 0 0 15px;
                    .lib-font-family(@f-avenir);
                    display: block;

                }
            }
        }

        .easycms-block {
            .lib-css(order, 3, 1);
            width: 100%;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .page-products.cms-only .column.main {
        min-height: auto;
    }

    .page-products .category-cms {
        padding: 90px 0 0;

        .page-title {
            display: inline-block;
            margin: 0 0 40px;
            text-align: left;
        }
        .block-static-block {
            margin: 0;
        }
        .block.filter {
            float: right;
            margin: 0 0 40px;
            padding: 10px 0;

            .block.widget {
                padding: 0;
            }

            ul > li {
                margin: 0 0 0 40px;

                &:first-child {
                    margin: 0;
                }
            }

            .filter-options-item a {
                display: block;
                position: relative;
                z-index: 2;
                text-decoration: none;
                .lib-css(transition, color 0.4s, 1);
                font-size: @font-size_11;

                .lib-project-icon(
                    @icon-project-sole-top,
                    @_icon-font-size: @font-size_17,
                    @_icon-font-color: @color-louboutin-red
                );

                &:before {
                    position: absolute;
                    bottom: -12px;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    background-color: @color-white;
                    font-size: 17px;
                    width: 20px;
                    z-index: 2;
                    .lib-css(transition, all 0.15s ease 0.25s, 1);
                    .lib-css(transform, scale(0), 1);
                }
                &:after {
                    content: '';
                    position: absolute;
                    height: 1px;
                    left: 0;
                    right: 0;
                    bottom: -4px;
                    margin: 0 auto;
                    width: 0;
                    background-color: @color-grey;

                    .lib-css(transition, all 0.2s ease, 1);
                }
                &:hover {
                    color: @color-black;
                }
                &:hover:before {
                    .lib-css(transform, scale(1), 1);
                }
                &:hover:after {
                    width: 100%;
                }

                span {
                    display: block;
                    position: relative;

                    .lib-css(transition, all 0.3s ease, 1);
                }
                &:hover span {
                    .lib-css(transform, translateY(-8px), 1);
                }
            }
        }
    }
}

@media (max-width: @ipad__landscape) {
    .easycms-block.images-products .product-items > .product-item .product-item-name a {
        font-weight: lighter;
        line-height: 1.4em;
    }
    .catalog-category-view.page-products .category-cms {
        .mobile {
            display: block;
            order: 4;
            width: 100%;
            .splitter-shoe {
                position: relative;
                width: auto;
                margin: 40px 50px 70px;
                display: block !important;
                .sh {
                    margin: 0 auto;
                    z-index: 2;
                    position: absolute;
                    top: -26px;
                    left: 50%;
                    -webkit-transform: translateX(-50%);
                    -moz-transform: translateX(-50%);
                    -ms-transform: translateX(-50%);
                    transform: translateX(-50%);
                    &:after{
                        content: "\e00a";
                        font-family: 'LoubIcons';
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                        font-size: 48px;
                        line-height: 1em;
                        color: #ed1e24;
                        vertical-align: middle;
                        display: inline-block;
                        font-weight: normal;
                        speak: none;
                        text-align: center;
                        position: absolute;
                        left: 50%;
                        -webkit-transform: translateX(-50%);
                        -moz-transform: translateX(-50%);
                        -ms-transform: translateX(-50%);
                        transform: translateX(-50%);
                        background: #ffffff;
                    }
                }
                .ln {
                    content: " ";
                    width: 100%;
                    height: 1px;
                    background: #eee;
                    z-index: 1;
                    position: absolute;
                    left: 0;
                    font-size: 0;
                }
            }
        }
        #landing-beauty {
            .easycms-block {
                padding: 0 6.9vw 0;
                box-sizing: border-box;
                &.images-products {
                    &.images-products-right {
                        .image-first {
                            margin: 20px 20px 72px 70px !important;
                            .title {
                                top: -20px;
                                left: -50px;
                            }
                        }
                        .image-second {
                            .title {
                                bottom: -45px;
                                z-index: 9;
                            }
                        }
                        .products {
                            padding-top: 48px;
                        }
                    }
                    &.images-products-left {
                        .image-second {
                            margin-bottom: 40px;
                            margin-left: 21px;
                            .title {
                                bottom: -43px;
                                left: -20px;
                                right: auto;
                            }
                        }
                        .image-first {
                            .title {
                                bottom: -18px ;
                                left: auto ;
                                right: 0 ;
                            }
                        }

                    }
                    &.images-products-right,
                    &.images-products-left {
                        .image-first, .image-second {
                            img {
                                opacity: 0;
                            }
                        }
                    }
                }
            }
            .block.filter {
                margin: 20px 53px 0;
                width: 100%;
                .block-content.filter-content {
                    overflow: hidden;
                    ul {
                        margin-bottom: 75px;
                        margin-top: 25px;
                        &.left {
                            float: left;
                            margin-left: 25px;
                        }
                        &.right {
                            float: right;
                            text-align: right;
                            margin-right: 25px;
                        }
                    }
                }
                &.l-mobile .filter-options-item {
                    display: block;
                    margin: 0;
                    padding: 0;
                    a {
                        font-size: 18px;
                        padding-bottom: 0;
                        margin: 0 0 4px;
                        display: inline;
                    }
                }
            }
            .product-items > .product-item .product-item-info {
                margin: 0;
            }
        }
    }
}
@media (max-width: 414px) {
    .catalog-category-view.page-products {
        .category-cms #landing-beauty {
            .block.filter {
                margin: 20px 28px 0;
                &.l-mobile {
                   .filter-options-item {
                       line-height: 30px;
                       a  {
                           font-size: 12px;
                           padding-bottom: 4px;
                       }
                   }
                }
                .block-content.filter-content ul {
                    margin-bottom: 0;
                }
            }
        }
    }
}
