.cms-policy {
    ul > li,
    ol > li {
        margin: 0;
    }

    htag2 {
        font-size: 1.5em;
        margin: 0.83em 0;
        font-weight: 200;
        text-transform: capitalize;
    }

    h3{
        font-weight: bold;
        line-height: 1.4;
        font-size: 1.17em;
        margin: 1em 0;
        color: #000;
    }

    #content-termsofuse p {
        margin: 13px 0;
        font-size: 13px;
    }

    #content-termsofuse ol {
        list-style-type: decimal;
    }

    .cookies-policy-head_bg {
        background-color: #d3d3d3;

        .title {
            color: #ed1e24 !important;
            height: 40px;
        }

        th {
            vertical-align: top;
        }
    }

    .cookies-policy {
        h2 {
            display: inline;
            font-size: 13px;
            margin: 5px 0;
            color: #222;
            font-weight: bold;
        }

        th {
            p {
                text-transform: lowercase;
            }

            border: 1px solid #000;
        }

        td {
            border: 1px solid #000;

            .contentTitle {
                font-size: 13px !important;
                margin: 0 0 13px;
            }
        }
    }

    .policy-smalline {
        font-size: 10px;
    }

    table.cookies-policy {
        table-layout: auto;
        width: 98%;
        margin-bottom: 20px;
        text-align: left;
        border-spacing: 3px;

        caption {
            padding: 10px;
            caption-side: bottom;
            text-align: left;
        }

        th {
            letter-spacing: 1px;
            font-weight: lighter;
            text-transform: uppercase;
            padding: 10px 10px;
        }

        tr {
            text-align: left;
        }

        td {
            padding: 5px 10px;
            color: #888;
            height: 26px;
            vertical-align: top;
        }
    }
    #maincontent #content-termsofuse #left-policy h2 {
        font-size: 1.5em;
        margin: 0.83em 0;
        font-weight: 200;
        text-transform: capitalize;
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @mobile__screen__s) {
    .cms-page-view.cms-policy {
        #content-termsofuse {
            table.cookies-policy {
                width: 98%;
                border-spacing: 1px;

                p {
                    font-size: xx-small;
                }

                th {
                    font-size: 0.8rem;
                    padding: 5px;
                }

                h2{
                    font-size: 11px;
                }

                .cookies-policy-head_bg .title {
                    height: 20px;
                }

                td {
                    padding: 5px;
                }

                tr {
                    display: block;
                }
            }
        }
    }
    .cms-policy
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
    .cms-policy {
        #left-policy {
            flex: 100% !important;
        }
        #right-policy {
            flex: 0 !important;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .cms-page-view.cms-policy #content-termsofuse table.cookies-policy tr {
        display: table-row;
        th,
        td {
            display: table-cell;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @ipad__portrait) {
    .cms-page-view.cms-policy #content-termsofuse #left-policy table.cookies-policy h2 {
        font-size: 1.3em;
    }
}

