<div class="discover-pages discover-lips" data-parallax="true" data-parallax-mobile="false">
    <div class="loader"></div>
    <div class="easycms-block topbox-video">
        <div class="video-container-lips video-lips">
            <img src="{{media url='cms/page/discover-lips/scrolldown_arrow.svg'}}" class="arrow"/>
            {{widget type="Project\Core\Block\Widget\Video"
                     video_url="https://player.vimeo.com/external/134201341.hd.mp4?s=9c58cb30bcbea7ba818034c13a3dc95b&profile_id=113"
                     video_placeholder_text="Defaut video label"}}
            <div class="video-text">
                <img src="{{media url='cms/page/discover-lips/poster.png'}}" />
                <span class="text-title">Rouge Louboutin<br />唇膏</span>
                <p class="list">三種迷人質感</p>
                <ul>
                    <li>Sheer voile</li>
                    <li>Silky satin</li>
                    <li>Velvet matte</li>
                </ul>
                <p>完美襯托不同膚色的經典紅調。</p>
            </div>
        </div>
        <p class="easycms-line-break"> </p>
    </div>

    {{block class="Magento\Framework\View\Element\Template" template="Project_Beauty::lips.phtml"}}

    <div class="posters-products">
        <div class="poster-product block-silky-satin" data-90-top-top="opacity: 1" data--90-top-bottom="opacity: 1">
            <div class="poster-container">
                <div class="poster"></div>
                <div class="product">
                    <div class="product-content">
                        <div class="product-category">Silky Satin</div>
                        <div class="product-name">唇膏</div>
                        <div class="product-image"><img src="{{media url='cms/page/discover-lips/lipstick_satin.png'}}"/></div>
                        <div class="product-description">
                            <p>豔麗色澤與迷人質感交錯，完美貼服雙唇。中等顯色，可塗抹多層，質感如絲綢般柔滑。</p>
                            <p>共有20種顏色選擇。</p>
                        </div>
                        <a href="{{store url ='beauty/lips/silky-satin.html'}}" class="product-link">購買SILKY SATIN唇膏</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="poster-product block-velvet-matte reverse" data-90-top-top="opacity: 1" data--90-top-bottom="opacity: 1">
            <div class="poster-container">
                <div class="poster" data--50p-top-top="transform: translateY(-90%);" data-90-top-bottom="transform: translateY(0);" data-anchor-target=".block-silky-satin"></div>
                <div class="product" data--120p-top-top="transform: translateY(-18%);" data-90-top-bottom="transform: translateY(0);" data-anchor-target=".block-silky-satin">
                    <div class="product-content">
                        <div class="product-category">Velvet Matte</div>
                        <div class="product-name">唇膏</div>
                        <div class="product-image"><img src="{{media url='cms/page/discover-lips/lipstick_matte.png'}}" /></div>
                        <div class="product-description">
                            <p>深邃濃豔的色調，配以柔滑絲絨質感。色調亮麗奪目，貼服自然。不易變乾，滋潤雙唇。</p>
                            <p>共有13種顏色選擇。</p>
                        </div>
                        <a href="{{store url ='beauty/lips/velvet-matte.html'}}" class="product-link">購買VELVET MATTE唇膏</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="poster-product block-sheer-voile" data-90-top-top="opacity: 1" data-100p-top-bottom="opacity: 1;">
            <div class="poster-container">
                <div class="poster" data--50p-top-top="transform: translateY(-90%);" data-90-top-bottom="transform: translateY(0);" data-anchor-target=".block-velvet-matte"></div>
                <div class="product" data--120p-top-top="transform: translateY(-18%);" data-90-top-bottom="transform: translateY(0);" data-anchor-target=".block-velvet-matte">
                    <div class="product-content">
                        <div class="product-category">Sheer Voile</div>
                        <div class="product-name">唇膏</div>
                        <div class="product-image"><img src="{{media url='cms/page/discover-lips/lipstick_sheer.png'}}" /></div>
                        <div class="product-description">
                            <p>質感柔滑的鮮明色調與水潤亮澤的光芒，突顯櫻唇的自然魅力。</p>
                            <p>共有9種顏色選擇。</p>
                        </div>
                        <a href="{{store url ='beauty/lips/sheer-voile.html'}}" class="product-link">購買SHEER VOLIE唇膏</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="block-art">
        <div class="block-art-content">
            <div class="image"><img src="{{media url='cms/page/discover-lips/backstage.jpg'}}" /></div>
            <div class="text">
                <div class="title">獨特迷人的藝術精品</div>
                <p>設計師Christian Louboutin擅長創造別具魅力的精品，把平凡的唇膏變成女士的奇幻護身符，媲美藝術品的精緻設計更可變成迷人首飾。</p>
            </div>
        </div>
    </div>

    <div class="block-loubilaque">
        <div class="content">
            <div class="title">Loubilaque</div>
            <a href="{{store url=''}}">探索</a>
        </div>
    </div>

    <div class="lip-definer">
        <div class="content">
            <div class="lip-block">
                <div class="lip-content">
                    <img src="{{media url='cms/page/discover-lips/lip-definer-open.png'}}" class="lip" />
                    <img src="{{media url='cms/page/discover-lips/lip-definer-open-cap.png'}}" class="cap" />
                </div>
            </div>
            <div class="text">
                <div class="title">唇筆</div>
                <p>專業級唇筆能配合天然唇色，精準勾勒更立體豐滿的完美唇妝。</p>
                <p>備有五種裸色選擇。</p>
                <a href="{{store url=''}}">了解詳情</a>
            </div>
        </div>
    </div>
</div>