<?php
/**
 * Copyright © Zemez, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>

<div class="customer-wrap">
    <span class="customer-toggle"></span>
    <div class="customer-links">
        <?= $block->getChildHtml() ?>
    </div>
</div>
