//
//  Variables
//  _____________________________________________

@account-title-border-color: @color-gray-middle2;
@account-table-border-bottom-color: @color-gray-middle1;
@account-table-action-delete: @color-red12;

@_password-default: @color-gray-light01;
@_password-weak: #ffafae;
@_password-medium: #ffd6b3;
@_password-strong: #c5eeac;
@_password-very-strong: #81b562;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .customer-account-forgotpassword {
        h1 {
            text-transform: none;
            letter-spacing: normal;
        }
    }

    .customer-account-login {
        h1 {
            text-transform: none;
            letter-spacing: normal;
            font-size: 19.5px;
        }
    }

    .login-container {
        .block {
            padding: 0;
            margin: 20px 0 0;
            input[type="password"],input[type="email"] {
                font-size: 11px;
                font-family: sans-serif;
                padding-top: 10px;
            }
            &-new-customer {
                .actions-toolbar {
                    margin-top: 25px;
                }
            }

            .block-title {
                &:extend(.abs-login-block-title all);
                .lib-font-size(18);
                color: @color-black-title;
                border-bottom: none;
                strong {
                    font-weight: @font-weight__bold;
                }
            }
        }
        .action.remind {
            text-decoration: underline;
            font-size: 13px;
            -moz-transition-property: color;
            -o-transition-property: color;
            -webkit-transition-property: color;
            transition-property: color;
            -moz-transition-duration: 0.4s;
            -o-transition-duration: 0.4s;
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
            &:hover {
                color: #222;
                -moz-transition-property: color;
                -o-transition-property: color;
                -webkit-transition-property: color;
                transition-property: color;
                -moz-transition-duration: 0.4s;
                -o-transition-duration: 0.4s;
                -webkit-transition-duration: 0.4s;
                transition-duration: 0.4s;
            }
        }

        .fieldset {
            .lib-form-hasrequired(bottom);

            &:after {
                margin-top: 60px;
            }
        }

        .block-new-customer {
            .actions-toolbar {
                .secondary {
                    color: @color-warm-grey;
                    .lib-css(box-shadow, 0 2px 2px 0 @color-grey);
                    background: @color-button-grey;
                    padding: 13px 30px 10px;
                }
            }
        }

        .actions-toolbar {
            float: right;
            margin: 10px 0;

            .primary .action {
                margin-right: 0;

                &:hover {
                    color: @color-black;
                    .lib-css(transition, color .7s, 1);
                }
            }
        }
    }

    .block-addresses-list {
        .items.addresses {
            > .item {
                margin-bottom: @indent__base;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            .item.actions {
                margin-top: @indent__xs;

                .action {
                    &:extend(.abs-account-actions all);
                }
            }
        }

        address {
            &:extend(.abs-account-block-line-height all);
        }
    }

    .form-address-edit {
        #region_id {
            display: none;
        }

        .actions-toolbar .action.primary {
            &:extend(.abs-button-l all);
        }

        .jpzip {
            input {
                width: 65px;
                display: inline-block;
            }

            #jppostcode2 {
                width: 70px;
            }
        }

        .jp-address-fill,
        .jp-address-fill + p {
            margin: 0 0 20px;
        }
    }

    .form-edit-account {
        .fieldset.password {
            display: none;
        }
    }

    .customer-account-create {
        h1 {
            text-transform: none;
            letter-spacing: normal;
            color: @color-black-title;
            font-size: 19.5px;
            margin: 0 5px 25px;
            border-bottom: 1px solid #dededd;
            padding-bottom: 25px;
        }

        .fieldset.create.info {
            margin-bottom: 0;
        }


        .fieldset.create.account {
            legend.legend {
                display: none;
            }
        }
    }

    .form-create-account {
        .fieldset-fullname {
            .fields {
                .field {
                    float: none;
                }
            }
        }

        .fieldset > .legend {
            display: block;
            margin: 0 0 30px;
            padding: 0;
            border: 0;

            > span {
                color: #000;
                font-size: @font-size_13;
                font-weight: 400;
            }
        }

        .account-create-infos {
            font-size: @font-size_13;
            color: @color-black;
        }

        .fieldset > .field {
            &.gender {
                width: 100px;
            }
        }

        .actions-toolbar .primary {
            float: right;
        }
    }

    //  Full name fieldset
    .fieldset {
        .fullname {
            > .label {
                &:extend(.abs-visually-hidden all);
            }
        }
    }

    .box-billing-address,
    .box-shipping-address,
    .box-address-billing,
    .box-address-shipping,
    .box-information,
    .box-newsletter {
        .box-content {
            &:extend(.abs-account-block-line-height all);
        }
    }

    //  My account
    .account {
        .page-title-wrapper {
            .page-title {
                display: inline-block;
            }
        }

        .messages {
            margin-bottom: @indent__base;
        }

        .column.main {
            margin-bottom: @indent__l;
            color: #0A0A0A;

            h2 {
                margin-top: 0;
            }

            .block:not(.widget) {
                &:extend(.abs-account-blocks all);

                .block-title {
                    &:extend(.abs-add-clearfix-mobile-m all);

                    > .action {
                        font-size: @font-size_15;
                        font-weight: @font-weight__light;
                    }
                }
            }

        }

        .block {
            padding: 0;
            margin: 0;

            &.block-minicart {
                padding: 10px 20px 10px
            }

            & > .block-title {
                margin: 0 0 25px;
                font-size: @font-size_18;
                text-transform: uppercase;
            }
        }

        .sidebar-additional {
            margin-top: @indent__xl;
        }

        .table-wrapper {
            .lib-css(margin-bottom, @indent__base);
            border-bottom: 1px solid @account-table-border-bottom-color;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .legend {
            &:extend(.abs-account-title all);
        }

        .toolbar {
            select {
                background-color: @color-select-black;
            }
        }

        .actions-toolbar {
            .primary .action {
                color: @color-warm-grey;
                .lib-css(box-shadow, 0 2px 2px 0 @color-grey);
                background: @color-button-grey;
                padding: 13px 30px 10px;
            }
        }

        .block-collapsible-nav {
            .item {
                a,
                strong {
                    text-transform: uppercase;
                }

                &.current > strong {
                    font-weight: @font-weight__regular;
                }

                &:nth-last-child(2) {
                    padding-bottom: 20px;
                    background: url('@{baseDir}images/divider-dotted.png') repeat-x bottom left;
                }

                &:last-child {
                    margin-top: 15px;
                }
            }
        }
    }

    .account,
    [class^='sales-guest-'],
    .sales-guest-view {
        .column.main {
            .order-details-items {
                .table-wrapper {
                    .data.table {
                        &:extend(.abs-table-striped all);
                    }
                }
            }
        }

        .data.table {
            .col.actions {
                .action {
                    &:extend(.abs-account-actions all);

                    &.delete {
                        .lib-css(color, @account-table-action-delete);
                    }
                }
            }
        }
    }

    //  Checkout address (create shipping address)
    .field.street {
        .field.additional {
            .label {
                &:extend(.abs-visually-hidden all);
            }
        }
    }

    //
    //  Blocks & Widgets
    //  ---------------------------------------------

    .block {
        &:extend(.abs-margin-for-blocks-and-widgets all);

        .column.main & {
            &:last-child {
                margin-bottom: 0;
            }
        }

        .title {
            strong {
                .lib-heading(h4);

                .column.main & {
                }
            }

            margin-bottom: @indent__s;
        }

        p {
            &:last-child {
                margin: 0;
            }
        }

        .box-actions {
            margin-top: @indent__xs;

            .action {
                &:extend(.abs-account-actions all);
            }
        }
    }

    //
    //  Password Strength Meter
    //  ---------------------------------------------

    .field.password {
        .control {
            .lib-vendor-prefix-display();
            .lib-vendor-prefix-flex-direction();

            .mage-error {
                .lib-vendor-prefix-order(2);
            }

            .input-text {
                .lib-vendor-prefix-order(0);
                z-index: 2;
            }
        }
    }

    .password-strength-meter {
        background-color: @_password-default;
        height: @form-element-input__height;
        line-height: @form-element-input__height;
        padding: @form-element-input__padding;
        position: relative;
        z-index: 1;

        &:before {
            content: '';
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            z-index: -1;
        }

        .password-none & {
            &:before {
                background-color: @_password-default;
                width: 100%;
            }
        }

        .password-weak & {
            &:before {
                background-color: @_password-weak;
                width: 25%;
            }
        }

        .password-medium & {
            &:before {
                background-color: @_password-medium;
                width: 50%;
            }
        }

        .password-strong & {
            &:before {
                background-color: @_password-strong;
                width: 75%;
            }
        }

        .password-very-strong & {
            &:before {
                background-color: @_password-very-strong;
                width: 100%;
            }
        }
    }

    .field.terms {
        position: relative;
        .control {
            position: absolute;
            display: inline-block;
            div.mage-error {
                margin-top: 16px;
            }
        }

        & > label {
            font-size: @font-size_13 !important; //overriding fieldset style
            margin-left: 25px !important; //overriding fieldset style

            &:after, &::after {
                display: none !important; //overriding fieldset style
            }

            a {
                text-decoration: underline;
            }
        }
    }

    .field.choice.newsletter {
        & > label {
            font-size: @font-size_13;
            margin-left: 25px;
        }
    }

    .control.captcha-image {
        .lib-css(margin-top, @indent__s);

        .captcha-img {
            vertical-align: middle;
        }
    }

    .account {
        .data.table-return-items {
            .qty {
                .input-text {
                    &:extend(.abs-input-qty all);
                }
            }
        }
    }

    .order-products-toolbar {
        position: relative;

        .toolbar-amount {
            position: relative;
            text-align: center;
        }
    }


    .message.info.empty {
        color: @color-warm-grey;
        background: none;
        padding-left: 0;

        span:before {
            display: none;
        }
    }

    //
    //  Newsletter
    //  ---------------------------------------------

    .form-newsletter-manage {
        .field.choice {
            margin: 40px 0;

            label {
                font-size: @font-size_14;
            }
        }

        .newsletter-top-infos,
        .newsletter-bottom-infos,
        a {
            color: @color-black-title;
        }

        .newsletter-top-infos {
            a {
                text-decoration: underline;
            }
        }

        .newsletter-bottom-infos {
            font-size: @font-size_13;
            font-style: italic;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .login-container {
        &:extend(.abs-add-clearfix-desktop all);

        .block {
            width: 48.8%;
            &:extend(.abs-blocks-2columns all);

            &.login {
                .actions-toolbar {
                    > .primary {
                        margin-bottom: 0;
                        margin-right: @indent__l;
                    }

                    > .secondary {
                        float: left;
                    }
                }
            }
        }

        .fieldset {
            > .field {
                > .control {
                    width: 100%;
                }
            }
        }
        .block-customer-login {
            border-right: 1px dotted #ededed;
            padding-right: 20px;
        }
    }

    .form-create-account {
        .fieldset-fullname {
            .fields {
                display: table;
                width: 100%;

                .field {
                    display: table-cell;

                    + .field {
                        padding-left: @indent__s;
                    }
                }
            }

            .field-name-prefix,
            .field-name-suffix {
                width: 50px;
            }
        }

        .form-help {
            font-size: 11px;
            font-style: italic;
            color: #888;
            margin-bottom: 20px;
        }
    }

    .form.password.reset,
    .form.send.confirmation,
    .form.password.forget,
    .form.create.account {
        min-width: 600px;
        width: 50%;
        float: left;
        padding: 0 20px 0 0;
        box-sizing: border-box;
    }

    .form.create.account {
        min-width: 0;
    }

    .big-image {
        width: 50%;
        float: left;
        padding: 0 20px 0 0;
        box-sizing: border-box;

        img {
            width: 90%;
            display: block;
            margin: 82px auto 0 auto;
        }

    }

    //  My account
    .account.page-layout-2columns-left {
        .sidebar-main,
        .sidebar-additional {
            width: 22.3%;
        }

        .column.main {
            width: 77.7%;
        }
    }

    .account {
        .page-title-wrapper {
            &:extend(.abs-add-clearfix-desktop all);
        }

        .column.main {
            .block:not(.widget) {
                .block-content {
                    &:extend(.abs-add-clearfix-desktop all);

                    .box {
                        &:extend(.abs-blocks-2columns all);
                    }
                }
            }
        }

        .data.table {
            margin-bottom: 0;

            .col {
                &.actions {
                    white-space: nowrap;

                    a {
                        display: block;
                    }
                }
            }
        }

        .toolbar {
            &:extend(.abs-pager-toolbar all);
        }

        .page-main {
            padding: 120px 15px 40px;
        }
    }

    .block-addresses-list {
        .items.addresses {
            &:extend(.abs-add-clearfix-desktop all);
            font-size: 0;

            > .item {
                display: inline-block;
                font-size: @font-size__base;
                margin-bottom: @indent__base;
                vertical-align: top;
                width: 48%;

                &:nth-last-child(1),
                &:nth-last-child(2) {
                    margin-bottom: 0;
                }

                &:nth-child(even) {
                    margin-left: 4%;
                }
            }
        }

        address {
            &:extend(.abs-account-block-font-size all);
        }
    }

    .page-main {
        .block {
            &:extend(.abs-margin-for-blocks-and-widgets-desktop all);
        }
    }

    .form-address-edit {
        > .fieldset {
            &:extend(.abs-blocks-2columns all);
        }
    }

    .form-edit-account {
        .fieldset {
            &:extend(.abs-blocks-2columns all);

            .fieldset {
                margin-bottom: @indent__base;
                width: 100%;
            }
        }
    }

    .box-billing-address,
    .box-shipping-address,
    .box-address-billing,
    .box-address-shipping,
    .box-information {
        .box-content {
            &:extend(.abs-account-block-font-size all);
        }
    }

    .control.captcha-image {
        .captcha-img {
            margin: 0 @indent__s @indent__s 0;
        }
    }
}

//
//  Mobile @screen__s
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .account {
        .column.main,
        .sidebar-additional {
            margin: 0;
        }

        .table-wrapper .data.table {
            &:extend(.abs-table-striped-mobile all);

            &.table-order-items {
                & > tbody {
                    & > tr {
                        td {
                            padding: 5px 0;
                        }
                    }
                }
            }
        }
    }
}

//
//  Mobile @screen__m
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .login-container {
        .fieldset {
            &:after {
                text-align: center;
            }
        }
    }

    .account {
        .page.messages {
            margin-bottom: @indent__xl;
        }

        .columns {
            margin-top: 80px;
            position: relative;
            padding-top: 50px;
        }

        .column.main {
            .block:not(.widget) {
                .block-title {
                    &:extend(.abs-add-clearfix-mobile-m all);

                    > .action {
                        float: right;
                        .lib-css(margin-top, @indent__xs);
                    }
                }

                .block-content {
                    .box {
                        .lib-css(margin-bottom, @indent__base);

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }

        .block {
            margin: 0 auto 30px;
        }
    }

    .control.captcha-image {
        .captcha-img {
            display: block;
            .lib-css(margin-bottom, @indent__s);
        }
    }

    .customer-account-index {
        .page-title-wrapper {
            position: relative;
        }
    }

    .field.terms {
        .control {
            div.mage-error {
                margin-top: 36px;
            }
        }
    }
}
