<?php /** @var \Zemez\ThemeOptions\Block\SocialLinks $block */ ?>
<ul class="social-links position-<?php echo $block->getPosition() ?> type-<?php echo $block->getType() ?>">
    <?php foreach ($block->getAvailableSocialLinks() as $link): ?>
        <li>
            <?php echo $block->getRenderer()->setData($link)->toHtml(); ?>
        </li>
    <?php endforeach; ?>
</ul>