<?php /* @var $block Project\Addthis\Block\Share */ ?>
<?php if($block->getAddthisId()):?>
<div id="share-socials-btns">
    <p>Partager cette information</p>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=<?=$block->getAddthisId()?>"></script>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <div class="addthis_inline_share_toolbox_wlwv"></div>
</div>
<?php endif;?>
