<ul class="social-btns">
    <li class="social">
        <span class="title">Suivez-nous</span>
        <span class="trigger-and-icons">
            <span class="trigger icon-i27"></span>
            <span class="icons">
                <a class="facebook icon-i48" href="https://www.facebook.com/christianlouboutin" target="_blank" rel="noopener">&nbsp;</a>
                <a class="twitter icon-i43" href="https://twitter.com/louboutinworld" target="_blank" rel="noopener">&nbsp;</a>
                <a class="instagram icon-i61" href="http://instagram.com/louboutinworld" target="_blank" rel="noopener">&nbsp;</a>
                <a class="weibo icon-i53" href="http://weibo.com/LouboutinWorld" target="_blank" rel="noopener">&nbsp;</a>
            </span>
        </span>
    </li>
</ul>

<script>
    require([
        'jquery'
    ],
    function ($) {
        $( ".trigger.icon-i27" ).click(function() {
            $( ".icons" ).slideToggle( "slow");
        });
    });
</script>


