<?php
// @codingStandardsIgnoreFile

/** @var \Project\Rma\Block\Email\Trackings $block */

$trackings = $block->getTrackings();
?>
<span><?= /* @escapeNotVerified */ strtoupper(__('Parcel number:'));?></span>
<?php if (isset($trackings)): ?>
  <?php foreach ($trackings as $tracking): ?>
    <a href="<?= $block->getTrackingUrl($block->getRma()); ?>"><?= $tracking->getTrackNumber(); ?></a>
  <?php endforeach; ?>
<?php endif; ?>
