<div class="discover-pages">
    <div class="loader"></div>
    <div class="discover-nails" data-mage-init="{&quot;discoverNails&quot;:{}}">
        <section id="cover" class="cover">
            <div class="image-holder layer-1"
                 style="background-image: url('{{media url='cms/page/discover-nails/evening_1.jpg'}}');"></div>
            <div class="image-holder layer-2"
                 style="background-image: url('{{media url='cms/page/discover-nails/evening_2.png'}}');"></div>
            <div class="image-holder layer-3"
                 style="background-image: url('{{media url='cms/page/discover-nails/evening_3.png'}}');"></div>
            <div class="image-holder layer-4"
                 style="background-image: url('{{media url='cms/page/discover-nails/evening_4.png'}}');"></div>
            <div class="details">
                <div class="wrapper"><span class="country"></span> <span class="time"></span></div>
            </div>
            <div class="content">
                <h1>Colour is coming to Loubiville...</h1>
                <p>From Christian Louboutin’s vivid imagination comes Loubiville: a fictional landscape of all-white
                    peaks and passageways inspired by the bottle’s dramatic silhouette. As colour is introduced, the
                    city will transform, offering secrets of beautiful things yet to be revealed. <br><br>DISCOVER ALL
                    NAIL COLOURS</p>
            </div>
            <span class="scrolldown-icon"></span></section>
        <section id="category-selector" class="wheel">
            <div class="categories-menu">
                <ul>
                    <li class="rouge-louboutin" data-category-beauty="rouge-louboutin">Rouge Louboutin</li>
                    <li class="pops" data-category-beauty="pops">Pops</li>
                    <li class="nudes" data-category-beauty="nudes">Nudes</li>
                    <li class="noirs" data-category-beauty="noirs">Noirs</li>
                </ul>
                <div class="back-btn">
                    <div class="wrap"><img class="all"
                                           src="{{media url='cms/page/discover-nails/rouge_louboutin.png'}}"
                                           alt="All"/><span data-default="All">All</span></div>
                </div>
            </div>
            <div class="left-pane">
                <div class="wheel-wrapper">
                    <ul>
                        <li data-name="Rouge Louboutin" data-category-beauty="rouge-louboutin"
                            data-category-human-readable="Rouge Louboutin"><img
                                src="{{media url='cms/page/discover-nails/products/K001.jpg'}}" alt="Rouge Louboutin"/>
                            <a
                                    href="{{store url=''}}0810413020003.html">Buy this product</a></li>
                        <li data-name="Escatin" data-category-beauty="pops" data-category-human-readable="Pops"><img
                                src="{{media url='cms/page/discover-nails/products/K300.jpg'}}"/> <a
                                href="{{store url=''}}0810413020218.html">Buy this product</a></li>
                        <li data-name="Edgypopi" data-category-beauty="pops" data-category-human-readable="Pops"><img
                                src="{{media url='cms/page/discover-nails/products/K314.jpg'}}"/> <a
                                href="{{store url=''}}0810413023509.html">Buy this product</a></li>
                        <li data-name="Jazzy Doll" data-category-beauty="pops" data-category-human-readable="Pops"><img
                                src="{{media url='cms/page/discover-nails/products/K313.jpg}}"/> <a
                                href="{{store url=''}}0810413023493.html">Buy this product</a></li>
                        <li data-name="Pluminette" data-category-beauty="pops" data-category-human-readable="Pops"><img
                                src="{{media url='cms/page/discover-nails/products/K303.jpg'}}"/> <a
                                href="{{store url=''}}0810413020249.html">Buy this product</a></li>
                        <li data-name="Bengali" data-category-beauty="pops" data-category-human-readable="Pops"><img
                                src="{{media url='cms/page/discover-nails/products/K304.jpg'}}"/> <a
                                href="{{store url=''}}0810413020256.html">Buy this product</a></li>
                        <li data-name="Mula Lisa" data-category-beauty="pops" data-category-human-readable="Pops"><img
                                src="{{media url='cms/page/discover-nails/products/K305.jpg'}}"/> <a
                                href="{{store url=''}}0810413020263.html">Buy this product</a></li>
                        <li data-name="Batignolles" data-category-beauty="pops" data-category-human-readable="Pops"><img
                                src="{{media url='cms/page/discover-nails/products/K306.jpg'}}"/> <a
                                href="{{store url=''}}0810413020270.html">Buy this product</a></li>
                        <li data-name="Baraboum" data-category-beauty="pops" data-category-human-readable="Pops"><img
                                src="{{media url='cms/page/discover-nails/products/K315.jpg'}}"/> <a
                                href="{{store url=''}}0810413023493.html">Buy this product</a></li>
                        <li data-name="Bolidonna" data-category-beauty="pops" data-category-human-readable="Pops"><img
                                src="{{media url='cms/page/discover-nails/products/K316.jpg'}}"/> <a
                                href="{{store url=''}}0810413027330.html">Buy this product</a></li>
                        <li data-name="Miss Loubi" data-category-beauty="pops" data-category-human-readable="Pops"><img
                                src="{{media url='cms/page/discover-nails/products/K309.jpg'}}"/> <a
                                href="{{store url=''}}0810413020300.html">Buy this product</a></li>
                        <li data-name="La Favorita" data-category-beauty="nudes" data-category-human-readable="Nudes">
                            <img src="{{media url='cms/page/discover-nails/products/K108.jpg'}}"/> <a
                                href="{{store url=''}}0810413020096.html">Buy this product</a></li>
                        <li data-name="Preciosa" data-category-beauty="nudes" data-category-human-readable="Nudes"><img
                                src="{{media url='cms/page/discover-nails/products/K111.jpg'}}"/> <a
                                href="{{store url=''}}0810413026081.html">Buy this product</a></li>
                        <li data-name="Tutulle" data-category-beauty="nudes" data-category-human-readable="Nudes"><img
                                src="{{media url='cms/page/discover-nails/products/K101.jpg'}}"/> <a
                                href="{{store url=''}}0810413020027.html">Buy this product</a></li>
                        <li data-name="Madame Est Nue" data-category-beauty="nudes"
                            data-category-human-readable="Nudes"><img
                                src="{{media url='cms/page/discover-nails/products/K105.jpg'}}"/> <a
                                href="{{store url=''}}0810413020065.html">Buy this product</a></li>
                        <li data-name="Just Nothing" data-category-beauty="nudes" data-category-human-readable="Nudes">
                            <img src="{{media url='cms/page/discover-nails/products/K109.jpg'}}"/> <a
                                href="{{store url=''}}0810413020102.html">Buy this product</a></li>
                        <li data-name="Goldissima" data-category-beauty="nudes" data-category-human-readable="Nudes">
                            <img src="{{media url='cms/page/discover-nails/products/K112.jpg'}}"/> <a
                                href="{{store url=''}}0810413026074.html">Buy this product</a></li>
                        <li data-name="Zoulou" data-category-beauty="nudes" data-category-human-readable="Nudes"><img
                                src="{{media url='cms/page/discover-nails/products/K100.jpg'}}"/> <a
                                href="{{store url=''}}0810413020010.html">Buy this product</a></li>
                        <li data-name="Tres Decollete" data-category-beauty="nudes"
                            data-category-human-readable="Nudes"><img
                                src="{{media url='cms/page/discover-nails/products/K107.jpg'}}"/> <a
                                href="{{store url=''}}0810413020089.html">Buy this product</a></li>
                        <li data-name="Sweet Charity" data-category-beauty="nudes" data-category-human-readable="Nudes">
                            <img src="{{media url='cms/page/discover-nails/products/K106.jpg'}}"/> <a
                                href="{{store url=''}}0810413020072.html">Buy this product</a></li>
                        <li data-name="Alta Perla" data-category-beauty="nudes" data-category-human-readable="Nudes">
                            <img src="{{media url='cms/page/discover-nails/products/K102.jpg'}}"/> <a
                                href="{{store url=''}}0810413020034.html">Buy this product</a></li>
                        <li data-name="Khol" data-category-beauty="noirs" data-category-human-readable="Noirs"><img
                                src="{{media url='cms/page/discover-nails/products/K200.jpg'}}"/> <a
                                href="{{store url=''}}0810413020119.html">Buy this product</a></li>
                        <li data-name="Miss Mars" data-category-beauty="noirs" data-category-human-readable="Noirs"><img
                                src="{{media url='cms/page/discover-nails/products/K211.jpg'}}"/> <a
                                href="{{store url=''}}0810413023813.html">Buy this product</a></li>
                        <li data-name="Lady Peep" data-category-beauty="noirs" data-category-human-readable="Noirs"><img
                                src="{{media url='cms/page/discover-nails/products/K210.jpg'}}"/> <a
                                href="{{store url=''}}0810413023486.html">Buy this product</a></li>
                        <li data-name="Miziggoo" data-category-beauty="noirs" data-category-human-readable="Noirs"><img
                                src="{{media url='cms/page/discover-nails/products/K212.jpg'}}"/> <a
                                href="{{store url=''}}0810413023820.html">Buy this product</a></li>
                        <li data-name="Lady Page" data-category-beauty="noirs" data-category-human-readable="Noirs"><img
                                src="{{media url='cms/page/discover-nails/products/K204.jpg'}}"/> <a
                                href="{{store url=''}}0810413020157.html">Buy this product</a></li>
                        <li data-name="Farida" data-category-beauty="noirs" data-category-human-readable="Noirs"><img
                                src="{{media url='cms/page/discover-nails/products/K205.jpg'}}"/> <a
                                href="{{store url=''}}0810413020164.html">Buy this product</a></li>
                        <li data-name="Daffodile" data-category-beauty="noirs" data-category-human-readable="Noirs"><img
                                src="{{media url='cms/page/discover-nails/products/K206.jpg'}}"/> <a
                                href="{{store url=''}}0810413020171.html">Buy this product</a></li>
                        <li data-name="Bianca" data-category-beauty="noirs" data-category-human-readable="Noirs"><img
                                src="{{media url='cms/page/discover-nails/products/K207.jpg'}}"/> <a
                                href="{{store url=''}}0810413020188.html">Buy this product</a></li>
                        <li data-name="Sevillana" data-category-beauty="noirs" data-category-human-readable="Noirs"><img
                                src="{{media url='cms/page/discover-nails/products/K208.jpg'}}"/> <a
                                href="{{store url=''}}0810413020195.html">Buy this product</a></li>
                        <li data-name="Very Prive" data-category-beauty="noirs" data-category-human-readable="Noirs">
                            <img src="{{media url='cms/page/discover-nails/products/K209.jpg'}}"/> <a
                                href="{{store url=''}}0810413020201.html">Buy this product</a></li>
                    </ul>
                    <div class="info">
                        <div class="wrap">
                            <div class="inner">
                                <div class="bottle"></div>
                                <div class="category"></div>
                            </div>
                        </div>
                        <span class="next"></span><span class="prev"></span>
                    </div>
                </div>
            </div>
        </section>
        <section id="category-pane" class="category-pane">
            <div class="item">
                <figure><a href="{{store url=''}}0810413020003.html"><img
                        src="{{media url='cms/page/discover-nails/discover_beauty_small_red.jpg'}}"
                        alt="Le Rouge Louboutin"/></a></figure>
                <div class="wrap"><span>Le Rouge Louboutin</span> <a
                        href="{{store url=''}}0810413020003.html">DISCOVER</a></div>
            </div>
            <div class="item">
                <figure><a href="{{store url=''}}beauty/nails/pops.html"><img
                        src="{{media url='cms/page/discover-nails/discover_beauty_small_pops.jpg'}}"
                        alt="Pops"/></a>
                </figure>
                <div class="wrap"><span>Pops</span> <a href="{{store url=''}}beauty/nails/pops.html">DISCOVER</a>
                </div>
            </div>
            <div class="item">
                <figure><a href="{{store url=''}}beauty/nails/nudes.html"><img
                        src="{{media url='cms/page/discover-nails/discover_beauty_small_nudes.jpg'}}" alt="Nudes"/></a>
                </figure>
                <div class="wrap"><span>Nudes</span> <a href="{{store url=''}}beauty/nails/nudes.html">DISCOVER</a></div>
            </div>
            <div class="item">
                <figure><a href="{{store url=''}}beauty/nails/noirs.html"><img
                        src="{{media url='cms/page/discover-nails/discover_beauty_small_blacks.jpg'}}" alt="Noirs"/></a>
                </figure>
                <div class="wrap"><span>Noirs</span> <a href="{{store url=''}}beauty/nails/noirs.html">DISCOVER</a>
                </div>
            </div>
        </section>
        <section id="red-louboutin" class="red-louboutin">
            <div class="image-holder"
                 style="background-image: url('{{media url='cms/page/discover-nails/discover_beauty_red_bg.jpg'}}');">
                <img class="mobile" src="{{media url='cms/page/discover-nails/discover_beauty_red_bg_mobile.jpg'}}"
                     alt=""/></div>
            <div class="centered content">
                <h1>Rouge Louboutin</h1>
                <p>Like a precious stone enclosed in a block of fine crystal, the nail color bottle offers an ombré effect unique to the signature 'Rouge Louboutin'.</p>
                <p>The flash of red and stiletto-like cap evoke the image of the classic Louboutin high heels, inspired by the height of Louboutin's highest ever pictured here, 'the Ballerina Ultima', designed in 2007.</p>
                <a href="{{store url=''}}discover-rouge.html">Discover the product</a></div>
        </section>
    </div>
</div>