& when (@media-common = true) {
    .retailer-presentation {
        .page-title-wrapper {
            position: relative;
            margin: 0 0 50px;
            border-bottom: solid 1px #eff1f1;

            .page-title {
                background: @color-white;
                font-family: @font-family-name__frutiger;
                font-weight: @font-weight__light;
                font-size: @font-size_24;
                color: @color-warm-grey;
                letter-spacing: 2px;
                line-height: 1em;
            }
        }


        .page-wrapper > .breadcrumbs,
        .page-main .breadcrumbs {
            margin: 0 0 30px;

            .items > li {
                margin: 0;

                &:not(:first-child):not(:last-child) {
                    margin: 0;
                }

                .lib-project-icon(
                    @_icon-font-content: @icon-project-arrow-right,
                    @_icon-font-size: @font-size_14,
                    @_icon-font-color: @color-louboutin-red,
                    @_icon-font-position: after
                );

                &:first-child a,
                &:not(:first-child):not(:last-child) a,
                a {
                    display: inline-block;
                    margin: 0;
                    padding: 0;
                    color: @color-louboutin-red;
                    font-family: @font-family-name__frutiger;
                    font-weight: @font-weight__roman;
                    font-size: @font-size_10;
                    line-height: @font-size_14;
                    letter-spacing: 1px;
                    text-transform: uppercase;

                    &:after {
                        content: none;
                    }
                }

                &:last-child {
                    &:after {
                        content: none;
                    }

                    a {
                        font-weight: @font-weight__bold;
                        color: @color-black;
                    }
                }
            }
        }
        .continent {
            h2.continent-name {
                display: block;
                padding: 60px;
                font-family: "HelveticaNeue-UltraLight","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
                font-weight: normal;
                font-size: 42px;
                text-transform: uppercase;
                letter-spacing: 13px;
                color: #222;
                cursor: pointer;
                background-position: -9999px -9999px;
                background-repeat: no-repeat;
                &:hover,
                &.active {
                    background-position: 0 50%;
                    color: #FFF;
                    font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
                    font-weight: bold;
                    -webkit-animation-name:flip_animation;
                    -moz-animation-name:flip_animation;
                    -ms-animation-name:flip_animation;
                    -o-animation-name:flip_animation;
                    animation-name:flip_animation;
                    -webkit-animation-duration:0.8s;
                    -moz-animation-duration:0.8s;
                    -ms-animation-duration:0.8s;
                    -o-animation-duration:0.8s;
                    animation-duration:0.8s;
                    -webkit-animation-timing-function:steps(8);
                    -moz-animation-timing-function:steps(8);
                    -ms-animation-timing-function:steps(8);
                    -o-animation-timing-function:steps(8);
                    animation-timing-function:steps(8);
                    -webkit-animation-iteration-count:infinite;
                    -moz-animation-iteration-count:infinite;
                    -ms-animation-iteration-count:infinite;
                    -o-animation-iteration-count:infinite;
                    animation-iteration-count:infinite
                }
            }
        }
    }

    .retailer-presentation-index {
        .continent-list {
            &,
            ul {
                .lib-list-reset-styles();

                li {
                    margin: 0;
                }
            }

            h4 {
                margin: 0;
            }

            .continent .name {
                margin: 0;
                padding: 46px 0;
                background-color: #f8f9f9;
                border: solid 1px #eaeaea;
                font-size: @font-size_42;
                letter-spacing: 13px;
                line-height: 1;
                color: @color-black-title;
                text-transform: uppercase;
                text-align: center;
                cursor: pointer;
                font-family: @font-family__sans-serif;
                font-weight: @font-weight__light;
            }

            .country {
                cursor: pointer;
                padding: 30px 0;
                background: #eef0ef;
                text-align: center;

                &:not(:first-child) {
                    border-top: 1px solid @color-white;
                }

                a {
                    font-weight: @font-weight__bold;
                    font-size: @font-size_18;
                    line-height: @font-size_24;
                    letter-spacing: 4px;
                    color: @color-warm-grey;
                    text-decoration: none;
                    text-transform: uppercase;

                    &:hover {
                        color: @color-black;
                    }
                }
            }
        }
    }

    .retailer-presentation,
    .retailer-presentation-index {
        .column.main {
            padding-bottom: 0;
            min-height: inherit;
        }

        .page-title-wrapper {
            .page-title {
                .lib-vendor-prefix-display(flex);
                .lib-vendor-prefix-flex-direction(row);

                span {
                    display: inline-block;
                }

                &:after {
                    content: '';
                    width: auto;
                    height: 1px;
                    background-color: #eaeaea;
                    position: relative;
                    display: inline-block;
                    .lib-css(align-self, center, 1);
                    .lib-vendor-prefix-flex-grow(1);
                    margin-left: 20px;
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .retailer-presentation .page-title-wrapper {
        position: relative;
        margin: 30px 0 50px;
        padding: 0 40px;
        border: 0;

        .page-title {
            position: relative;
            margin: 0;
            padding-right: 20px;
            background: @color-white;
            font-family: @font-family-name__frutiger;
            font-weight: @font-weight__light;
            font-size: @font-size_24;
            color: @color-warm-grey;
            letter-spacing: 2px;
            line-height: 1em;
            z-index: 1;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
    .retailer-presentation {
        .page-title-wrapper {
            padding: 0 25px;
        }
    }
}

@-moz-keyframes flip_animation{from{background-position:0 50%}to{background-position: -16000px 50%}}
@-ms-keyframes flip_animation{from{background-position:0 50%}to{background-position: -16000px 50%}}
@keyframes flip_animation{from{background-position:0 50%}to{background-position: -16000px 50%}}
@-webkit-keyframes flip_animation{from{background-position:0 50%}to{background-position: -16000px 50%}}
