& when (@media-common = true) {
    .retailer-presentation-listing .country-area {
        font-size: 0;

        .country-retailers {
            text-align: center;

            ul {
                .lib-list-reset-styles();

                li.city {
                    border-bottom: 1px solid #ccc;
                    width: 95%;

                    &:last-child {
                        border-bottom: none;
                    }
                }
            }

            .city {
                margin: 0 0 40px;

                & > a {
                    display: block;
                    margin: 0 0 30px;
                    font-family: @font-family-name__frutiger;
                    font-weight: @font-weight__bold;
                    color: @color-warm-grey;
                    font-size: @font-size_22;
                    line-height: @font-size_30;
                    text-decoration: none;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                }

                hr {
                    width: 80%;
                    margin: 0 10%;
                    border-top: 1px solid #ccc;
                }
            }

            .retailer {
                margin: 0 0 15px;

                a {
                    display: block;
                    font-family: @font-family-name__frutiger;
                    font-weight: @font-weight__roman;
                    font-size: @font-size_13;
                    line-height: @font-size_18;
                    color: #6a6a6a;
                    text-decoration: none;
                }
                .name {
                    display: block;
                    font-weight: @font-weight__bold;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    color: #333333;
                }
            }
        }
        .random-image {
            display: none;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .retailer-presentation-listing {
        .top-container {
            display: none;
        }

        .country-area {
            min-height: 500px;
            .country-retailers {
                display: inline-block;
                vertical-align: top;
                width: percentage(1/2);
                font-size: @font-size__base;
            }

            .random-image {
                height: 100vh;
                background-size: cover;
                position: fixed;
                top: 58px;
                width: 50%;
                z-index: -1;
                display: inline-block;
                right: 0;
            }
        }
    }
}