& when (@media-common = true) {
    .retailer-presentation-retailer {
        .page-wrapper > .breadcrumbs {
            margin: 0;
            padding: 40px 40px 20px;
        }
        .page-main {
            padding-top: 0;
        }

        .retailer-locator .result-container {
            display: block;
            max-width: 620px;
            margin: 0 auto;

            .map {
                width: 100%;

                .retailer-panel {
                    position: static;
                    padding: 0;

                    .title {
                        font-size: @font-size_26;
                    }
                    .details {
                        color: @color-black;
                    }
                    .schedules-table {
                        line-height: @font-size_13;
                        text-align: center;
                    }
                    .action.mail {
                        &:before {
                            display: inline-block;
                            margin: 0 10px 0 0;
                            vertical-align: -6px;
                        }
                    }
                    .additional-info {
                        font-family: @font-family-name__frutiger;
                        font-weight: @font-weight__roman;
                        font-size: @font-size_13;
                        line-height: @font-size_23;
                        color: @color-louboutin-red;
                        text-align: left;
                    }
                    .contact {
                        text-align: center;
                    }
                }
            }
        }
        .how-go-there {
            background: url('@{baseDir}images/divider-dotted.png') repeat-x top left;
            .store-map-canvas{
                margin-top: 40px;
                padding-top: 60px;
            }
        }
        .stores-nearby {
            text-align: center;

            .subtitle {
                margin-bottom: 20px;
                font-weight: bold;
                font-size: 14px;
                color: #222222;
            }
            ul > li {
                list-style: none;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .retailer-presentation-retailer {
        .page-wrapper > .breadcrumbs {
            margin: 0;
            padding: 40px 40px 60px;
        }

        .retailer-locator .result-container .map .retailer-panel {
            .schedules-table,
            .contact {
                text-align: left;
            }
        }
    }
}
