<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php $_creditmemo = $block->getCreditmemo() ?>
<?php $_order      = $block->getOrder() ?>
<?php if ($_creditmemo && $_order): ?>
    <?php $_sizeLabel     = $block->getSizeLabel($_creditmemo); ?>
    <table class="email-items">
        <thead>
        <tr>
            <!-- Item -->
            <th class="item-info">
                <?= /* @escapeNotVerified */  strtoupper(__('Item(s)')) ?>
            </th>
            <!-- Size -->
            <th class="item-size">
                <?= /* @escapeNotVerified */ strtoupper($_sizeLabel) ?>
            </th>
            <!-- Unit Price -->
            <th class="item-unit-price">
                <?= /* @escapeNotVerified */ strtoupper(__('Unit Price')) ?>
            </th>
            <!-- Qty -->
            <th class="item-qty">
                <?= /* @escapeNotVerified */ strtoupper(__('Qty')) ?>
            </th>
            <!-- Sub-Total -->
            <th class="item-price">
                <?= /* @escapeNotVerified */  strtoupper(__('Subtotal')) ?>
            </th>
        </tr>
        </thead>
        <?php foreach ($_creditmemo->getAllItems() as $_item): ?>
            <?php
            if ($_item->getOrderItem()->getParentItem()) {
                continue;
            }
            ?>
            <tbody>
            <?= $block->getItemHtml($_item) ?>
            </tbody>
        <?php endforeach; ?>
        <tfoot class="order-totals">
        <?= $block->getChildHtml('creditmemo_totals') ?>
        </tfoot>
    </table>
<?php endif; ?>
