<div>{{widget type="Magento\Cms\Block\Widget\Block" template="widget/static_block/default.phtml" block_id="discover-matte-fluids-title-image"}}</div>
<div>{{widget type="Magento\Cms\Block\Widget\Block" template="widget/static_block/default.phtml" block_id="discover-matte-fluids-title-text"}}</div>
<div>{{widget type="Magento\Cms\Block\Widget\Block" template="widget/static_block/default.phtml" block_id="discover-matte-fluids-image-single-product-right"}}</div>
<div>{{widget type="Magento\Cms\Block\Widget\Block" template="widget/static_block/default.phtml" block_id="discover-matte-fluids-title-subtitle-slider"}}</div>
<div>{{widget type="Magento\Cms\Block\Widget\Block" template="widget/static_block/default.phtml" block_id="discover-matte-fluids-simple-image"}}</div>
<div>{{widget type="Magento\Cms\Block\Widget\Block" template="widget/static_block/default.phtml" block_id="discover-matte-fluids-title-text2"}}</div>
<div>{{widget type="Magento\Cms\Block\Widget\Block" template="widget/static_block/default.phtml" block_id="discover-matte-fluids-image-single-product-left"}}</div>
<div>{{widget type="Magento\Cms\Block\Widget\Block" template="widget/static_block/default.phtml" block_id="discover-matte-fluids-title-subtitle-slider2"}}</div>
<div>{{widget type="Magento\Cms\Block\Widget\Block" template="widget/static_block/default.phtml" block_id="discover-matte-fluids-simple-image2"}}</div>
<div>{{widget type="Magento\Cms\Block\Widget\Block" template="widget/static_block/default.phtml" block_id="discover-matte-fluids-title-text3"}}</div>
<div>{{widget type="Magento\Cms\Block\Widget\Block" template="widget/static_block/default.phtml" block_id="discover-matte-fluids-simple-image4"}}</div>
<div>{{widget type="Magento\Cms\Block\Widget\Block" template="widget/static_block/default.phtml" block_id="discover-matte-fluids-link-category"}}</div>
