<h1><span class="wrap"><span class="title">PRODUCT CARE</span></span></h1>
<p><span class="wrap"><span class="title"></span></span></p>
<hr />
<p>The red lacquer of the soles wears out with use. This is not a manufacturing defect; it is simply normal wear and tear.</p>
<p>Christian Louboutin strongly recommends that our customers consult a professional in leather care or a shoemaker for specific care advice.</p>
<p>In order to keep your shoes in good condition, the following general leather care is recommended:</p>
<div class="section">
<ul>
    <li>Keep the leather area clean and dry using a dry soft cloth;</li>
    <li>Always store your products away from light and heat;</li>
    <li>Protect your leather good from rain and moisture;</li>
    <li><span><span>Store your products in the Christian Louboutin dust bag provided</span>;</span></li>
    <li>Avoid contact with abrasive surfaces.</li>
</ul>
</div>
<div class="section">
    <h2>Where do I repair my Louboutin®?</h2>
    <p>Should you need to repair or refurbish an item purchased online we are happy to suggest the following shoe and leather specialists:</p>
    <p>Website: <a title="Minuit Moins 7" href="http://www.minuitmoins7.com/" target="_blank">http://www.minuitmoins7.com/</a></p>
    <p><span style="color: #000000;"><strong>MINUIT MOINS 7</strong></span></p>
    <p class="address">10, Passage Véro-Dodat, Paris 1er<br /> Tel : +33(0)1 42 21 15 47<br /> email: <a href="mailto:Cordonnerie.paris@fr.minuitmoins7.com">Cordonnerie.paris@fr.minuitmoins7.com</a>
        <br /> Opening hours:<br /> Monday - Friday : 10am-7pm<br /> Saturday : 11am-7pm<br /> Sunday : Closed</p>
    <p><span style="color: #000000;"><strong>MINUIT MOINS 7</strong></span></p>
    <p class="address">163-165 Whitecross Street, LONDON EC1Y8JT<br /> Tel : +44(0)207 6082330<br /> email: <a href="mailto:Cobbler.london@uk.minuitmoins7.com">Cobbler.london@uk.minuitmoins7.com</a>
        <br /> Opening hours:<br /> Monday - Friday : 10am-6pm<br /> Saturday : 10am-2pm<br /> Sunday : Closed</p>
    <p class="address">Closed throughout the month of July</p><br>
    <p>Please note that Christian Louboutin has made these recommendations simply as a courtesy to those wishing to repair our products.</p>
    <p>Customers who make use of these locations have the sole responsibility for evaluating the suitability of the locations, their services and the results of any repairs conducted thereby. </p>
    <p>Christian Louboutin assumes no responsibility or liability related thereto.</p>
</div>
