<h1><span class="wrap"><span class="title">SOIN DES PRODUITS</span></span></h1>
<p><span class="wrap"><span class="title"></span></span></p>
<hr />
<p>La laque rouge des semelles est susceptible de s'abimer dès l'utilisation des souliers. Ce n'est pas un défaut de fabrication des souliers, mais une usure normale.</p>
<div class="section">
    <p>Christian Louboutin recommande vivement de consulter un professionnel en soin du cuir ou un cordonnier pour obtenir des conseils de soin spécifiques.</p>
    <p>Afin de conserver vos produits en bon état, il est recommandé d'effectuer l’entretien suivant pour tout type de cuir:</p>
    <ul>
        <li>Nettoyer et sécher la zone en cuir avec un chiffon doux et sec;</li>
        <li>Toujours entreposer vos produits à l’abri de la lumière et de la chaleur;</li>
        <li>Protéger vos produits en cuir de la pluie et de l'humidité;</li>
        <li>Lorsque vous ne les portez pas, stocker vos produits Christian Louboutin dans le pochon fourni;</li>
        <li>Eviter tout contact avec des surfaces abrasives.</li>
    </ul>
</div>
<div class="section">
    <h2>OÙ RÉPARER MES LOUBOUTIN ?</h2>
    <p>Si vous avez besoin de réparer ou remettre en état un article acheté en ligne, nous serions heureux de vous proposer ces deux cordonneries :</p>
    <p>Site internet: <a title="Minuit Moins 7" href="http://www.minuitmoins7.com/" target="_blank">http://www.minuitmoins7.com/</a></p>
    <p><strong><span style="color: #000000;">MINUIT MOINS 7</span></strong></p>
    <p class="address">10, Passage Véro-Dodat, Paris 1er<br /> Tel : +33(0)1 42 21 15 47<br /> email: <a href="mailto:Cordonnerie.paris@fr.minuitmoins7.com">Cordonnerie.paris@fr.minuitmoins7.com</a>
        <br /> Horaires d'ouverture<br /> Lundi - Vendredi : 10h à 19h<br /> Samedi : 11h à 19h<br /> Dimanche : Fermé</p>
    <p><strong><span style="color: #000000;">MINUIT MOINS 7</span></strong></p>
    <p class="address">163-165 Whitecross Street, LONDON EC1Y8JT<br /> Tel : +44(0)207 6082330<br /> email: <a href="mailto:Cobbler.london@uk.minuitmoins7.com">Cobbler.london@uk.minuitmoins7.com</a>
        <br /> Horaires d'ouverture<br /> Lundi - Jeudi : 10h à 18h<br />Vendredi - Samedi : 10h à 14h<br /> Dimanche : Fermé<br /><br /></p>
    <p>Christian Louboutin fait ces recommandations uniquement à titre de courtoisie pour ceux qui souhaitent réparer nos produits.</p>
    <p>Les clients qui en font l'usage ont l'entière responsabilité du choix des cordonniers, de l'évaluation de leurs services et des résultats de toutes les réparations effectuées.</p>
    <p>Christian Louboutin n'assume aucune responsabilité liée à celles-ci.</p>
</div>
