<?php /** @var  $block \Synolia\OrderArchive\Block\Order\OrderView */ ?>

<?php $order = $block->getOrder() ?>

<div class="block block-order-details-view">
    <div class="block-title">
        <strong><?php echo __('Order informations') ?></strong>
    </div>
    <div class="block-content">
        <div class="box box-order-shipping-address">
            <strong class="box-title"><span><?php echo __('Shipping address') ?></span></strong>
            <div class="box-content">
                <address><?php echo $order->getShippingFirstname().' '.$order->getShippingLastname() ?><br>
                    <?php echo $order->getData('shipping_street1').', '.$order->getData('shipping_street2') ?><br>
                    <?php echo $order->getShippingCity().', '.$order->getShippingPostcode() ?><br>
                    <?php echo $block->getCountryName($order->getShippingCountryId()) ?><br>
                    <?php echo $order->getShippingTelephone() ?>
                </address>
            </div>
        </div>

        <div class="box box-order-billing-address">
            <strong class="box-title">
                <span><?php echo __('Billing address') ?></span>
            </strong>
            <div class="box-content">
                <address><?php echo $order->getBillingFirstname().' '.$order->getBillingLastname() ?><br>
                    <?php echo $order->getData('billing_street1').', '.$order->getData('billing_street2') ?><br>
                    <?php echo $order->getBillingCity().', '.$order->getBillingPostcode() ?><br>
                    <?php echo $block->getCountryName($order->getBillingCountryId()) ?><br>
                    <?php echo $order->getBillingTelephone() ?>
                </address>
            </div>
        </div>

        <div class="box box-order-shipping-method">
            <strong class="box-title">
                <span><?php echo __('Shipping method') ?></span>
            </strong>
            <div class="box-content"><?php echo $order->getShippingMethod() ?></div>
        </div>
    </div>
</div>