<?php /** @var  $block \Synolia\OrderArchive\Block\Order\OrderView */ ?>

<?php $_order = $block->getOrder() ?>
<div class="table-wrapper order-items">
    <table class="data table table-order-items" id="my-orders-table" summary="<?php echo __('Items Ordered') ?>">
        <caption class="table-caption"><?php echo __('Items Ordered') ?></caption>
        <thead>
        <tr>
            <th class="col name" colspan="2"><?php echo __('Product Name') ?></th>
            <th class="col sku" colspan="2"><?php echo __('SKU') ?></th>
            <th class="col qty"><?php echo __('Qty') ?></th>
            <th class="col price"><?php echo __('Subtotal') ?></th>
        </tr>
        </thead>
        <?php $items = $_order->getItemsCollection(); ?>
        <?php foreach ($items as $item): ?>
            <tbody>
            <tr id="order-item-row-<?php echo $item->getId() ?>">
                <td class="col name" colspan="2" data-th="<?php echo $block->escapeHtml(__('Product Name')); ?>">
                    <strong class="product name product-item-name"><?php echo $block->escapeHtml($item->getProductName()) ?></strong>

                    <?php $color = $item->getProductColor(); ?>
                    <?php $size = $item->getProductSize(); ?>

                    <?php if ($color || $size): ?>
                        <dl class="item-options">
                            <?php if ($color) : ?>
                                <dt><?php echo __('Color : ') ?></dt>
                                <dd><?php echo __($color) ?></dd>
                            <?php endif; ?>
                            <?php if ($size) : ?>
                                <dt><?php echo __('Size : ') ?></dt>
                                <dd><?php echo $size ?></dd>
                            <?php endif; ?>
                        </dl>
                    <?php endif; ?>
                </td>
                <td class="col sku" colspan="2" data-th="<?php echo $block->escapeHtml(__('SKU')); ?>">
                    <?php echo $item->getProductSku() ?>
                </td>
                <td class="col qty" data-th="<?php echo $block->escapeHtml(__('Qty')); ?>">
                    <p><?php echo __('Ordered'); ?> : <?php echo $item->getQty() ?></p>
                    <p><?php echo __('Returned'); ?> : <?php echo $item->getQtyReturned() ?>
                </td>
                <td class="col price" data-th="<?php echo $block->escapeHtml(__('Price')); ?>">
                    <?php echo $block->getHelper()->formatPrice($item->getAmountInclTax()); ?>
                </td>
            </tr>
            </tbody>
        <?php endforeach; ?>
        <tfoot>
        <tr>
            <td colspan="4"></td>
            <td class="mark"><?php echo __('Subtotal') ?></td>
            <td class="col total-items price amount">
                <?php echo $block->getHelper()->formatPrice($_order->getItemsSubtotal()); ?>
            </td>
        </tr>
        <tr>
            <td colspan="4"></td>
            <td class="mark"><?php echo __('Shipping Fee') ?></td>
            <td class="col total-items price amount">
                <?php echo $block->getHelper()->formatPrice($_order->getShippingFee()); ?>
            </td>
        </tr>
        <tr class="last">
            <td colspan="4"></td>
            <td class="mark"><?php echo __('Grand Total') ?></td>
            <td class="col total-items price amount">
                <?php echo $block->getHelper()->formatPrice($_order->getTotalAmountInclTax()); ?>
            </td>
        </tr>
        </tfoot>
    </table>
</div>
