<!--@subject {{trans "Unsubscribe newsletter"}} @-->
<!--@vars {
"var customerEmail":"Customer Email",
"template config_path=\"design\/email\/footer_template\"":"Email Footer Template",
"template config_path=\"design\/email\/header_template\"":"Email Header Template"
} @-->

{{template config_path="design/email/header_template"}}

<p>{{trans "Dear Customer service,"}}</p>
<p>{{trans "I would like to unsubscribe from your newsletter with my email address "}}<strong>{{var customerEmail}}</strong></p>
<p>{{trans "Best regards"}}</p>

{{template config_path="design/email/footer_template"}}
