<div class="discover-pages discover-beauty">
    <div class="easycms-block topbox-video">
        <div class="video-container">
            {{widget type="Project\Core\Block\Widget\Video"
                     video_url="https://player.vimeo.com/external/233968513.hd.mp4?s=bcdea8f23daf3e4b33789f184b36638a1698a876&profile_id=175"
                     video_placeholder_text="Defaut video label"}}
            <img src="{{media url='cms/page/bikini-questa-sera/bikini_questa_sera_1200x800.jpg'}}" alt="" />
            <div class="play-button"><span>Watch the video</span></div>
            <div class="mute-button"></div>
        </div>
        <p class="easycms-line-break"> </p>
    </div>
    <div class="title-orange scroll-notvisible"><span>BIKINI QUESTA SERA</span></div>
    <div class="fragrance-introduction scroll-notvisible">
        <p>Bikini Questa Sera est un parfum opulent qui évoque la peau nue chauffée par le soleil au moment magique où le soleil cède à la nuit. Fleurs blanches, tubéreuse envôutante et jasmin entêtant se mêlent en une langoureuse danse olfactive.</p>
    </div>
    <div class="product-image-link with-text scroll-notvisible">
        <div class="image"><img src="{{media url='cms/page/bikini-questa-sera/BIKINI_QUESTA_SERA_30ML_BOX_DISCOVER.jpg'}}" /></div>
        <div class="text">
            <div class="title">Parfum</div>
            <p>Le parfum est construit comme on appréhende une note de piano. D'abord le "ping", la première note du parfum comme la frappe de la touche sur la corde d'un piano, suivie d'une longue résonance, écho de la note qui se prolonge.</p>
            <div class="price">€ 135.00</div>
            <a href="{{store url=''}}">ACHETER BIKINI QUESTA SERA</a></div>
    </div>
    <div class="product-image-link with-text reverse scroll-notvisible">
        <div class="image"><img class="half-width" src="{{media url='cms/page/bikini-questa-sera/product-large2-2.jpg'}}" /></div>
        <div class="text">
            <div class="title">L'Huile de Parfum</div>
            <p>L'huile de parfum est le rituel de beauté le plus raffiné pour découvrir Bikini Questa Sera.<br>Une véritable caresse sur la peau, cette huile de parfum rehausse l’indulgence et la sensualité de l'expérience de la fragrance. Conçue pour une application en massage, elle sublime le plaisir sensuel du toucher.</p>
            <div class="price">€ 320.00</div>
            <a href="{{store url=''}}">ACHETER BIKINI QUESTA SERA</a></div>
    </div>
    <div class="highlighted-link scroll-notvisible"><a href="{{store url=''}}discover-fragrance.html">Découvrez les Parfums</a></div>
    <div class="louboutin-separator">
        <div class="image"><img src="{{media url='cms/page/bikini-questa-sera/red-sole.svg'}}" /></div>
    </div>
    <div class="discover-navigation scroll-notvisible">
        <div class="left">
            <div class="image"><a href="{{store url=''}}trouble-in-heaven.html"><img src="{{media url='cms/page/bikini-questa-sera/product-large3.jpg'}}" /></a></div>
            <div class="highlighted-link red"><a href="{{store url=''}}trouble-in-heaven.html">Trouble in heaven</a></div>
        </div>
        <div class="right">
            <div class="highlighted-link mauve"><a href="{{store url=''}}tornade-blonde.html">Tornade blonde</a></div>
            <div class="image"><a href="{{store url=''}}tornade-blonde.html"><img src="{{media url='cms/page/bikini-questa-sera/product-large1.jpg'}}" /></a></div>
        </div>
    </div>
</div>