<div class="discover-pages discover-fragrance">
    <div class="main-title"><span>Découvrez les</span>
        <h1>Parfums</h1>
    </div>
    <div class="easycms-block topbox-video">
        <div class="video-container">{{widget type="Project\Core\Block\Widget\Video" video_url="https://player.vimeo.com/external/231566363.hd.mp4?s=154e3f7080d7a48acbfc57aca51f0bde2edfe491&amp;profile_id=175" video_placeholder_text="Defaut video label"}}<img src="{{media url='cms/page/discover-fragrance/bikini_questa_sera_1200x800.jpg'}}" alt="" />
            <div class="play-button"><span>Watch the video</span></div>
            <div class="mute-button"></div>
        </div>
        <p class="easycms-line-break"> </p>
    </div>
    <div class="fragrance-introduction scroll-notvisible">
        <p>Une femme n’est jamais une seule et même personne. Mais Qui est-elle vraiment? Cela dépend des moments… Un instant donné, elle est une amante passionnée puis une petite fille quelques instants plus tard. Elle travaille. Elle profite pleinement de la vie. A-t’elle un rendez-vous galant ? Cherche-t-elle se mettre en valeur ? Souhaite-t-elle rester inoubliable ou s’oublier elle-même ? Désire-t-elle souligner sa féminité ? La femme est un mystère…</p>
    </div>
    <div class="title-orange scroll-notvisible"><span>BIKINI QUESTA SERA</span></div>
    <div class="image-left-text-right scroll-notvisible"><figure><img src="{{media url='cms/page/discover-fragrance/bikini_questa_sera_1200x800.jpg'}}" alt="" /><figcaption>Dans les coulisses du film Bikini Questa Sera</figcaption></figure>
        <div class="text">
            <p>Bikini Questa Sera est un parfum opulent qui évoque la peau nue chauffée par le soleil et ce moment magique lorsque le soleil cède à la nuit.</p>
        </div>
    </div>
    <div class="product-image-link scroll-notvisible"><img src="{{media url='cms/page/discover-fragrance/BIKINI_QUESTA_SERA_30ML_BOX_DISCOVER.jpg'}}" /> <a href="{{store url=''}}bikini-questa-sera.html">Découvrir plus</a></div>
    <div class="title-orange scroll-notvisible"><span>TORNADE BLONDE</span></div>
    <div class="image-left-text-right reverse scroll-notvisible"><figure><img src="{{media url='cms/page/discover-fragrance/tornade_blonde_800x1200.jpg'}}" alt="" /><figcaption>Dans les coulisses du film Tornade Blonde</figcaption></figure>
        <div class="text">
            <p>Avec son cœur de rose bulgare, Tornade Blonde est un floral moderne et féminin irrésistible. Juvénile et dynamique, plein de fougue et de passion, ses notes addictives sont à la fois élégantes et sexy.</p>
        </div>
    </div>
    <div class="product-image-link reverse scroll-notvisible"><img src="{{media url='cms/page/discover-fragrance/TORNADE_BLONDE_30ML_BOX_DISCOVER.jpg'}}" /> <a href="{{store url=''}}tornade-blonde.html">Découvrir plus</a></div>
    <div class="title-mauve scroll-notvisible"><span>TROUBLE IN HEAVEN</span></div>
    <div class="image-left-text-right scroll-notvisible"><figure><img src="{{media url='cms/page/discover-fragrance/trouble_in_heaven_1200x800.jpg'}}" alt="" /><figcaption>Dans les coulisses du film Trouble in Heaven</figcaption></figure>
        <div class="text">
            <p>Trouble In Heaven attise le désir. L'ambre vénéneuse fait résonner les notes de patchouli tandis que l'absolu de tonka entretient des <i>liaisons dangereuses</i> avec l'Iris. Brûlante et sexy, fascinante.</p>
        </div>
    </div>
    <div class="product-image-link mauve scroll-notvisible"><img src="{{media url='cms/page/discover-fragrance/TROUBLE_IN_HEAVEN_30ML_BOX_DISCOVER.jpg'}}" /> <a href="{{store url=''}}trouble-in-heaven.html">Découvrir plus</a></div>
    <div class="quote scroll-notvisible">
        <div class="desktop">
            <p>Ce qui est captivant avec le parfum, c'est son rapport viscéral et paradoxal au présent et au passé : il s'impose immédiatement et s'inscrit dans la mémoire et le subconscient. Cette empreinte qu'il laisse dans l'air puis dans l'esprit est fascinante. Vous voyez une femme s'avancer vers vous, elle est avec vous un moment et s'éloigne déjà, vous laissant orphelin de sa présence dont vous conservez le souvenir de son parfum et le flash de l'éclair de ses semelles rouges.</p>
            <span class="signature">Christian Louboutin</span></div>
        <div class="mobile">
            <p>Christian Louboutin fragrances has its own unique personality, what unites them is Christian's idea behind their construction.</p>
        </div>
    </div>
</div>