<div class="discover-pages discover-lips" data-parallax="true" data-parallax-mobile="false">
    <div class="loader"></div>
    <div class="easycms-block topbox-video">
        <div class="video-container-lips video-lips">
            <img src="{{media url='cms/page/discover-lips/scrolldown_arrow.svg'}}" class="arrow"/>
            {{widget type="Project\Core\Block\Widget\Video"
                     video_url="https://player.vimeo.com/external/134201341.hd.mp4?s=9c58cb30bcbea7ba818034c13a3dc95b&profile_id=113"
                     video_placeholder_text="Defaut video label"}}
            <div class="video-text">
                <img src="{{media url='cms/page/discover-lips/poster.png'}}" />
                <span class="text-title">Rouge à lèvres<br />Rouge Louboutin</span>
                <p class="list">Disponible en 3 finis</p>
                <ul>
                    <li>Tendre Voile</li>
                    <li>Satin Soyeux</li>
                    <li>Velours Mat</li>
                </ul>
                <p>Un rouge universel et intemporel adapté à toutes les carnations.</p>
            </div>
        </div>
        <p class="easycms-line-break"> </p>
    </div>

    {{block class="Magento\Framework\View\Element\Template" template="Project_Beauty::lips.phtml"}}

    <div class="posters-products">
        <div class="poster-product block-silky-satin" data-90-top-top="opacity: 1" data--90-top-bottom="opacity: 1">
            <div class="poster-container">
                <div class="poster"></div>
                <div class="product">
                    <div class="product-content">
                        <div class="product-category">Satin Soyeux</div>
                        <div class="product-name">Rouge à lèvres</div>
                        <div class="product-image"><img src="{{media url='cms/page/discover-lips/lipstick_satin.png'}}"/></div>
                        <div class="product-description">
                            <p>Une couleur profonde et généreuse, alliée à une texture onctueuse. Couvrance moyenne. Effet satin.</p>
                            <p>Disponible dans 20 teintes.</p>
                        </div>
                        <a href="{{store url ='beauty/lips/silky-satin.html'}}" class="product-link">Acheter le rouge à lèvres satin soyeux</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="poster-product block-velvet-matte reverse" data-90-top-top="opacity: 1" data--90-top-bottom="opacity: 1">
            <div class="poster-container">
                <div class="poster" data--50p-top-top="transform: translateY(-90%);" data-90-top-bottom="transform: translateY(0);" data-anchor-target=".block-silky-satin"></div>
                <div class="product" data--120p-top-top="transform: translateY(-18%);" data-90-top-bottom="transform: translateY(0);" data-anchor-target=".block-silky-satin">
                    <div class="product-content">
                        <div class="product-category">Velours Mat</div>
                        <div class="product-name">Rouge à lèvres</div>
                        <div class="product-image"><img src="{{media url='cms/page/discover-lips/lipstick_matte.png'}}" /></div>
                        <div class="product-description">
                            <p>Une texture effet velours hautement concentrée en pigments, ultra-confortable sans dessèchement des lèvres.</p>
                            <p>Disponible dans 13 teintes.</p>
                        </div>
                        <a href="{{store url ='beauty/lips/velvet-matte.html'}}" class="product-link">Acheter le rouge à lèvres velours mat</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="poster-product block-sheer-voile" data-90-top-top="opacity: 1" data-100p-top-bottom="opacity: 1;">
            <div class="poster-container">
                <div class="poster" data--50p-top-top="transform: translateY(-90%);" data-90-top-bottom="transform: translateY(0);" data-anchor-target=".block-velvet-matte"></div>
                <div class="product" data--120p-top-top="transform: translateY(-18%);" data-90-top-bottom="transform: translateY(0);" data-anchor-target=".block-velvet-matte">
                    <div class="product-content">
                        <div class="product-category">Tendre Voile</div>
                        <div class="product-name">Rouge à lèvres</div>
                        <div class="product-image"><img src="{{media url='cms/page/discover-lips/lipstick_sheer.png'}}" /></div>
                        <div class="product-description">
                            <p>Un voile de couleur qui rehausse l'éclat des lèvres d'un effet glowy mouillé à la brillance naturelle.</p>
                            <p>Disponible dans 9 teintes.</p>
                        </div>
                        <a href="{{store url ='beauty/lips/sheer-voile.html'}}" class="product-link">Acheter le rouge à lèvres tendre voila</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="block-art">
        <div class="block-art-content">
            <div class="image"><img src="{{media url='cms/page/discover-lips/backstage.jpg'}}" /></div>
            <div class="text">
                <div class="title">Unique objet d'art et de désir</div>
                <p>Il existe de beaux objets. Chez Christian Louboutin, ils ont aussi de l'esprit. Entre ses mains, le rouge à lèvres devient un talisman baroque qui se porte comme un bijou précieux.</p>
            </div>
        </div>
    </div>

    <div class="block-loubilaque">
        <div class="content">
            <div class="title">Loubilaque</div>
            <a href="{{store url=''}}">Découvrir</a>
        </div>
    </div>

    <div class="lip-definer">
        <div class="content">
            <div class="lip-block">
                <div class="lip-content">
                    <img src="{{media url='cms/page/discover-lips/lip-definer-open.png'}}" class="lip" />
                    <img src="{{media url='cms/page/discover-lips/lip-definer-open-cap.png'}}" class="cap" />
                </div>
            </div>
            <div class="text">
                <div class="title">Crayon designer pour les lèvres</div>
                <p>Un crayon expert dont la teinte se fond avec la couleur du contour des lèvres pour lui donner naturellement un effet repulpant.</p>
                <p>Disponible dans 5 teintes de nudes.</p>
                <a href="{{store url=''}}">En savoir plus</a>
            </div>
        </div>
    </div>
</div>