<div class="discover-pages discover-shoes">
    <section class="section-top">
        <div class="easycms-block topbox-image">
            <img src="{{media url=cms/page/men-city-shoes/section-top-img1.jpg}}" alt="Image mobile" />
        </div>
        <div class="list-section-top">
            <ul class="navs">
                <li>
                    <a href="#manufacturing">La construction</a>
                </li>
                <li>
                    <a href="#the_last">La forme</a>
                </li>
                <li>
                    <a href="#the_upper">La tige</a>
                </li>
                <li>
                    <a href="#the_sole">La semelle</a>
                </li>
                <li>
                    <a href="#the_finishing">Les finitions</a>
                </li>
            </ul>
        </div>
        <h1>La maison Homme</h1>
    </section>
    <section class="know-how" id="manufacturing">
        <div class="section-inner">
            <div class="title scroll-notvisible">
                <h2>— Savoir-Faire —</h2>
                <p>La construction</p>
            </div>
            <div class="easycms-block topbox-video scroll-notvisible">
                <div class="video-container">{{widget type="Project\Core\Block\Widget\Video" video_url="https://player.vimeo.com/external/202033762.hd.mp4?s=515ec7409bf4a280ff229b46a553e2db13cd05c0&profile_id=119" video_placeholder_text="Defaut video label"}}
                    <div class="play-button"><span>Watch the video</span></div>
                    <div class="mute-button"></div>
                </div>
            </div>
            <div class="description scroll-notvisible">
                <p>De la mise sous forme à la patine, la genèse d'un soulier Christian Louboutin est un voyage au cœur d'un artisanat séculaire qui vaut la peine d'être narré encore et encore.</p>
                <p>Dirigée par la même famille depuis des générations, notre usine napolitaine est unique en son genre. Nos modèles masculins y sont réalisés à la main par des maîtres artisans travaillant les matériaux d'une qualité exceptionnelle.</p>
            </div>
        </div>
    </section>
    <section class="step-1" id="the_last">
        <div class="section-inner">
            <div class="title scroll-notvisible">
                <h2>— 1ère Étape —</h2>
                <p>La forme</p>
            </div>
            <div class="step-description left">
                <div class="img scroll-notvisible">
                    <p><img src="{{media url=cms/page/men-city-shoes/step1-img1.jpg}}"/></p>
                    <div>
                        <p>Un artisan reprend alors un des croquis dessiné par Christian et commence la réalisation d'un modèle qui deviendra le soulier final.</p>
                    </div>
                </div>
                <div class="info">
                    <p class="scroll-notvisible"><span>L</span>ors de la conception d'un soulier, tout commence par la forme en bois ! C'est elle qui détermine la morphologie de la chaussure. Une fois la forme de bois validée, elle est reproduite dans des matériaux techniques pour permettre la production.</p>
                    <div class="scroll-notvisible"><img src="{{media url=cms/page/men-city-shoes/step1-img2.jpg}}"/></div>
                </div>
            </div>
            <div class="slider-container scroll-notvisible">
                <h2>Types de souliers</h2>
                {{widget type="Synolia\Slider\Block\Widget\Slider" code="discover-animated-shoe-slider-fr" template="Synolia_Slider::widget/sliderAnimatedShoes.phtml"}}
            </div>
        </div>
    </section>
    <section class="step-2" id="the_upper">
        <div class="section-inner">
            <div class="title scroll-notvisible">
              <h2>— 2ème Étape —</h2>
              <p>La tige</p>
            </div>
            <div class="step-description">
              <div class="img scroll-notvisible">
                  <p><img src="{{media url=cms/page/men-city-shoes/step2-img1.jpg}}"/></p>
              </div>
              <div class="info">
                  <p class="scroll-notvisible"><span>U</span>ne fois la structure finalisée, il est temps d'habiller le soulier. Tagliere a mano est le processus qui consiste à découper chaque empiècement de cuir à la main. Nos artisans sont formés pendant des années afin de détecter toutes les imperfections de la peau et à couper autour, ce qui garantit que nos modèles sont réalisés dans des cuirs absolument parfaits.</p>
                  <div class="scroll-notvisible"><img src="{{media url=cms/page/men-city-shoes/step2-img2.jpg}}"/></div>
              </div>
            </div>
        </div>
        <div class="materials scroll-notvisible">
            <div class="info">
                <p class="materials-title">Matières</p>
                <p>Les matériaux que l'on retrouve dans chaque collection de Christian Louboutin reflètent l'état d'esprit ludique de la marque ainsi que l'engagement du créateur pour un artisanat d'exception au service d'un design novateur.</p>
            </div>
            <div>{{widget type="Synolia\Slider\Block\Widget\Slider" code="discover-materials-slider-fr" template="Synolia_Slider::widget/sliderMaterials.phtml"}}</div>
        </div>
    </section>
    <section class="step-3" id="the_sole">
        <div class="section-inner">
            <div class="title scroll-notvisible">
                <h2>— 3ème Étape —</h2>
                <p>La semelle</p>
            </div>
            <div class="step-description">
                <div class="img scroll-notvisible">
                    <p><img src="{{media url=cms/page/men-city-shoes/step3-img1.jpg}}"/></p>
                </div>
                <div class="info">
                    <p class="scroll-notvisible"><span>L</span>' iconique semelle rouge ! La plupart de nos souliers emblématiques sont construits en utilisant la couture Blake, une technique artisanale mondialement utilisée dans l'artisanat de luxe. Cette technique permet de fixer très fortement la semelle à la tige, offrant une mobilité naturelle du soulier avec le pied, offrant un confort et une durabilité maximum.</p>
                    <div class="scroll-notvisible"><img src="{{media url=cms/page/men-city-shoes/step3-img2.jpg}}"/></div>
                </div>
            </div>
        </div>
    </section>

    <h2 class="types-shoe">LES TYPES DE SEMELLES</h2>

    {{widget type="Synolia\Slider\Block\Widget\Slider" code="discover-soles-slider-fr" template="Synolia_Slider::widget/sliderSoles.phtml"}}

    <section class="step-4" id="the_finishing">
        <div class="section-inner">
            <div class="title scroll-notvisible">
                <h2>— 4ème Étape —</h2>
                <p>Les finitions</p>
            </div>
            <div class="step-description">
                <div class="img scroll-notvisible">
                    <p><img src="{{media url=cms/page/men-city-shoes/step4-img1.jpg}}"/></p>
                <div>
                    <p>Une étape supplémentaire consiste à appliquer sur le cuir de certains souliers une patine pour conférer une brillance et une profondeur de teinte que l'on ne trouve pas dans les cuirs classiques. Chaque couleur est entièrement créée avec l'oeil expert de chaque artisan. Le processus de patine est répété plusieurs fois jusqu'à ce que la couleur souhaitée soit parfaite. Elle doit se faire en plusieurs fois, les maîtres teinturiers de l'usine étant les seuls abilités à décider du nombre de passages que chaque chaussure doit recevoir, guidés par leur intuition aiguë et leur expérience.</p>
                </div>
                </div>
                <div class="info">
                    <p class="scroll-notvisible"><span>L</span>e soulier se révèle comme une œuvre d'art dans les mains de l'artisan lors des finitions. Celui-ci paye attention aux moindres détails, quand il brosse le cuir, applique des crèmes et polit le cuir.</p>
                    <div class="scroll-notvisible"><img src="{{media url=cms/page/men-city-shoes/step4-img2.jpg}}"/></div>
                </div>
            </div>
        </div>
        <div class="materials scroll-notvisible">
            <div class="info">
                <p class="materials-title">Embellissements</p>
                <p>Des strass aux studs pyramidaux en passant par les spikes multicolores, les embellissements spectaculaires de Christian Louboutin sont apposés à la main un à un.</p>
            </div>
            <div>{{widget type="Synolia\Slider\Block\Widget\Slider" code="discover-embellishment-slider-fr" template="Synolia_Slider::widget/sliderEmbellishment.phtml"}}</div>
        </div>
    </section>

    <div class="easycms-block title-subtitle-slider">
        <div class="title-slider-discover scroll-notvisible">
            <p>Depuis l'atelier</p>
        </div>
        <div class="subtitle-slider-discover scroll-notvisible">
            <p>Une sélection des plus élégants de nos modèles homme</p>
        </div>
        <div class="slider-slider-discover scroll-notvisible">{{widget type="Synolia\Slider\Block\Widget\Slider" code="home-products-slider" template="Synolia_Slider::widget/sliderMenCityShoes.phtml"}}</div>
    </div>
</div>
