//
//  Variables
//  _____________________________________________

@product-name-link__color: @text__color;
@product-name-link__color__active: @text__color;
@product-name-link__color__hover: @text__color;
@product-name-link__color__visited: @text__color;

@product-name-link__text-decoration: none;
@product-name-link__text-decoration__active: @link__hover__text-decoration;
@product-name-link__text-decoration__hover: @link__hover__text-decoration;
@product-name-link__text-decoration__visited: @link__hover__text-decoration;

@product-item__hover__background-color: @color-white;
@product-item__hover__box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, .3);

@product-price__muted__color: @color-gray40;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .catalog-product-view {
        .block-content {
            .products-related {
                .product-items {
                    & > .product-item {
                        .product-item-info {
                            height: 90px;
                            a {
                                img {
                                    width: 90px;
                                    height: 90px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .catalog-category-view {
        .main {
            .products-grid {
                .product-items {
                    & > .product-item {
                        .heel-height-or-material, .material-color {
                            padding: 0;
                        }
                        .product-item-info {
                            a {
                                img {
                                    width: auto;
                                    height: auto;
                                }
                            }
                        }
                        .product-item-name {
                            min-height: 30px;
                        }
                    }
                }
            }
        }
    }
    .product-items {
        &:extend(.abs-reset-list all);
        & > .product-item {
            position: relative;
            display: inline-block;
            width: percentage(1/2);
            margin: 0 0 50px;
            vertical-align: top;
            //font-size: @font-size__base;
            &:extend(.abs-add-box-sizing all);
            .product-item-photo-hover {
                display: none;
            }

            .product-item-name {
                display: block;

                .product-item-link {
                    .lib-font-family(@font-family-name__frutiger);
                    font-size: @font-size_15;
                    line-height: 1em;
                    color: @color-black;
                    text-decoration: none;
                }
            }

            .product-item-info {
                max-width: 100%;
                margin: 20px 20px 0 20px;
                position: relative;
            }

            .product-item-details{
                text-align: center;
                min-height: 6.5em;
                margin: 0 20px;
            }

            .heel-height-or-material,
            .material-color {
                padding: 0 0 20px;
                .lib-font-family(@font-family-name__frutiger);
                font-size: @font-size_13;
                line-height: 1em;
                color: @color-warm-grey;
            }

            .product-label {
                color: @color-louboutin-red;
                font-size: @font-size_13;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    .products-grid .product-items > .product-item  {
        width: percentage(1/3);
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .products-grid .product-items > .product-item  {
        width: percentage(1/3);
        margin: 0 0 80px;

        .product-item-photo-hover {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            .lib-css(transition, opacity 0.25s, 1);
        }
        &:hover .product-item-photo-hover {
            opacity: 1;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .products-grid .product-items > .product-item  {
        width: percentage(1/4);
        margin: 0;
    }
}

@media (max-width: @ipad__landscape) {
    .catalog-category-view.page-products .page-main .listing-top {
        .breadcrumbs {
            padding-left: 20px;
        }
        .block.filter {
            margin-right: 20px;
        }
    }
}
