.size-guide,
.belt-size-guide,
.bracelet-size-guide{
    table {
        table-layout: fixed;
        overflow: hidden;
        width: 100%;
        border: solid 1px @color-grey-six;

        th {
            padding: 20px 10px;
            background: @color-white;
            color: @color-louboutin-red;
            text-align: center;
            .lib-font-family(@f-frutiger);
            font-weight: @font-weight__light;
            font-size: @font-size_13;
            text-transform: uppercase;
        }
        tr.type {
            border-style: solid;
            border-color: @color-grey-six;
            border-width: 1px 0;

            td {
                padding: 10px;
                background: @color-white;
                background: @color-white;
                color: @color-black;
                text-transform: uppercase;
                text-align: center;
            }
            }
        tr.country td {
            background: @color-white;
            color: @color-warm-grey;
            text-transform: uppercase;
        }
        tr.bracelet-size td {
            background: @color-white;
            color: @color-warm-grey;
            text-transform: uppercase;
        }
        tr:nth-child(odd) {
            background: @color-pale-grey;
        }
        tr:nth-child(even) {
            background: @color-white;
        }
        td {
            padding: 10px 5%;
            .lib-font-family(@f-frutiger);
            font-size: @font-size_13;
            color: @color-warm-grey;
        }
        tr {
            text-align: center;
        }
    }
}

.modal-popup.size-suggestion-modal {
    width: 35%;
    margin: 0 auto;
    bottom: initial;
    overflow-y: inherit;
    text-align: center;

    &._show .modal-inner-wrap {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }

    .size-suggestions {
        font-family: 'Times New Roman', serif;
        font-size: @font-size_19;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin: 0 0 0 13px;

        &:before {
            content: @icon-project-sole-top;
            -moz-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
            float: left;
            font-family: @font-family-name__loub_icons;
            font-size: @font-size_23;
            color: @color-louboutin-red;
            margin-top: -4px;
            margin-right: 20px;
        }
    }
}

.modal-popup.size-guide-modal,
.modal-popup.belt-size-guide-modal,
.modal-popup.bracelet-size-guide-modal{
    .modal-inner-wrap {
        width: 100%;
        height: 100%;
        margin: 0;

        .modal-content {
            max-height: 85%;
            overflow-y: auto;
        }

        .modal-footer {
            display: none;
        }
    }
}
