<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
?>

<?php
/** @var $block \Magento\ConfigurableProduct\Block\Product\View\Type\Configurable*/
$_product    = $block->getProduct();
$_attributes = $block->decorateArray($block->getAllowAttributes());

/* @var $attributeSetHelper Project\Core\Helper\AttributeSet */
$attributeSetHelper = $this->helper('Project\Core\Helper\AttributeSet');
?>
<?php if (count($_attributes)):?>
    <?php foreach ($_attributes as $_attribute): ?>
        <div class="field configurable required">
            <div class="size-top">
                <label class="label" for="attribute<?= $_attribute->getAttributeId() ?>">
                    <?php
                    if (!$attributeSetHelper->isBelts($_product) && !$attributeSetHelper->isBracelets($_product)): ?>
                        <span><?= __('Choose your size') ?></span>
                    <?php else: ?>
                        <span><?= __('Select your size') ?></span>
                    <?php endif; ?>
                </label>

                <div class="additionnal-links">
                    <?php if ($attributeSetHelper->isShoes($_product)): ?>
                        <?php if ($_product->getGender()): ?><span <?php echo $this->helper('WeltPixel\GoogleTagManager\Helper\Data')->addProductSizeGuideClick($_product); ?> class="size-guide-link"><?php echo __('Size Guide'); ?></span><?php endif; ?>
                        <?php if ($_product->getSizeAdvice()): ?><span class="fit-suggestion-link"><?php echo __('Fit Suggestions'); ?></span><?php endif; ?>
                    <?php endif; ?>
                    <?php
                        $isBelts = $attributeSetHelper->isBelts($_product);
                        $isBracelets = $attributeSetHelper->isBracelets($_product);
                    ?>
                    <?php if ($isBelts || $isBracelets): ?>
                        <?php if ($_product->getGender()): ?><span class="<?php if($isBelts): echo "belt"; elseif ($isBracelets): echo "bracelet"; endif; ?>-size-guide-link" ><?php echo __('Size Guide ');?></span><?php endif; ?>
                    <?php endif; ?>
                </div>
            </div>
            <div class="control">
                <ul data-selector="super_attribute[<?= $_attribute->getAttributeId() ?>]"
                    id="attribute<?= $_attribute->getAttributeId() ?>"
                    class="super-attribute-select">
                </ul>

                <?php if (!$attributeSetHelper->isBelts($_product) && !$attributeSetHelper->isBracelets($_product)): ?>
                    <input type="text" class="super-attribute-hidden" name="super_attribute[<?= $_attribute->getAttributeId() ?>]" value=""
                       data-validate="{required:true}" data-msg-required="<?php echo __('Choose your size'); ?>" />
                <?php else: ?>
                    <input type="text" class="super-attribute-hidden" name="super_attribute[<?= $_attribute->getAttributeId() ?>]" value=""
                       data-validate="{required:true}" data-msg-required="<?php echo __('Select your size'); ?>" />
                <?php endif; ?>
            </div>
        </div>
    <?php endforeach; ?>
    <script type="text/x-magento-init">
        {
            "#product_addtocart_form": {
                "configurable": {
                    "spConfig": <?= $block->getJsonConfig() ?>,
                    "superSelector": ".super-attribute-select",
                    "gallerySwitchStrategy": "<?php echo $block->getVar('gallery_switch_strategy',
                        'Magento_ConfigurableProduct') ?: 'replace'; ?>"
                }
            }
        }
    </script>
<?php endif;?>
