<?php
/**
 * @see \Magento\Rma\Block\Adminhtml\Rma\Edit\Tab\General\Details
 */

$customerLink = $block->getCustomerLink();
?>
<div class="admin__page-section-item rma-request-details">
    <div class="admin__page-section-item-title">
        <span class="title"><?= /* @escapeNotVerified */ __('Request Details') ?></span>
    </div>
    <div class="admin__page-section-item-content">
        <table class="admin__table-secondary">
            <tr>
                <th><?= /* @escapeNotVerified */ __('ID') ?></th>
                <td><?= /* @escapeNotVerified */ __('#') . $block->getRmaData('increment_id') ?></td>
            </tr>
            <tr>
                <th><?= /* @escapeNotVerified */ __('Order ID') ?></th>
                <td><a href="<?= /* @escapeNotVerified */ $block->getOrderLink() ?>"><?= /* @escapeNotVerified */ __('#') . $block->getOrderIncrementId() ?></a></td>
            </tr>
            <tr>
                <th><?= /* @escapeNotVerified */ __('Customer Name') ?></th>
                <td>
                    <?php
                    if ($customerLink) {
                        /* @escapeNotVerified */ echo '<a href="' . $customerLink . '">';
                    }
                    /* @escapeNotVerified */ echo $block->getCustomerName();
                    if ($customerLink) {
                        echo '</a>';
                    }
                    ?>
                </td>
            </tr>
            <tr>
                <th><?= /* @escapeNotVerified */ __('Email Address') ?></th>
                <td><a href="mailto:<?= /* @escapeNotVerified */ $block->getCustomerEmail() ?>"><?= /* @escapeNotVerified */ $block->getCustomerEmail() ?></a></td>
            </tr>
            <tr>
                <th><?= /* @escapeNotVerified */ __('Contact Email Address') ?></th>
                <td><?php if ($block->getCustomerContactEmail()): ?><a href="mailto:<?= /* @escapeNotVerified */ $block->getCustomerContactEmail() ?>"><?= /* @escapeNotVerified */ $block->getCustomerContactEmail() ?></a><?php endif; ?></td>
            </tr>
            <?php if ($block->getRmaData('pickup_date')) : ?>
                <tr>
                    <th><?php echo __('Pickup date') ?></th>
                    <td><?php echo $block->getRmaData('pickup_date') ?></td>
                </tr>
            <?php endif; ?>

            <?php if ($block->getRmaData('delivery_date')) : ?>
                <tr>
                    <th><?php echo __('Delivery date') ?></th>
                    <td><?php echo $block->formatDate(
                            $block->getRmaData('delivery_date'),
                            \IntlDateFormatter::MEDIUM,
                            false,
                            'UTC'
                        ) ?>
                    </td>
                </tr>
            <?php endif; ?>

            <?php if ($block->getRmaData('received_date')) : ?>
                <tr>
                    <th><?php echo __('Received date') ?></th>
                    <td><?php echo $block->formatDate(
                            $block->getRmaData('received_date'),
                            \IntlDateFormatter::MEDIUM,
                            false,
                            'UTC'
                        ) ?>
                    </td>
                </tr>
            <?php endif; ?>
        </table>
    </div>
</div>
