<?php
/**
 * @var \Project\Rma\Block\Adminhtml\Rma\Edit\Tab\General\ImporterAddress $block
 */

$rma = $block->getRma();
?>
<?php if ($block->canDisplayProformaInvoiceEditAddressBlock($rma)) : ?>
    <div class="admin__page-section-item order-shipping-address">
        <div class="admin__page-section-item-title">
            <span class="title"><?php echo __('Importer Address') ?></span>
            <div class="actions"><?php echo $block->getAddressEditLink(); ?></div>
        </div>
        <?php if ($block->getImporterAddress()) : ?>
            <div class="admin__page-section-item-content">
                <address><?php echo $block->getImporterAddress() ?></address>
            </div>
        <?php endif ?>
    </div>
<?php endif;?>

