<?php
/** @var \Project\Rma\Block\Adminhtml\Rma\Edit\Tab\General\Returnaddress $block */
?>
<div>
    <div class="admin__page-section-item order-return-address" id="rma-return-address-details-block">
        <div class="admin__page-section-item-title">
            <span class="title"><?php echo __('Return Address') ?></span>
        </div>
        <div class="admin__page-section-item-content rma_return_address_content">
            <p>
                <select name="rma_return_address_id" id="rma_return_address_id" class="admin__control-select">
                    <option value=""><?php echo __('-- Please Select --') ?></option>
                    <?php foreach ($block->getReturnAddresses() as $option) : ?>
                        <?php $selected = ($option['value'] === $block->getRmaData('rma_return_address_id')) ? 'selected="selected"' : ''; ?>
                        <option value="<?php echo $option['value']; ?>" <?php echo $selected; ?>><?php echo $option['label']; ?></option>
                    <?php endforeach; ?>
                </select>
            </p>
            <address><?php echo $block->getReturnAddress() ?></address>
            <p>
                <?php echo $block->getChildHtml('submit_button'); ?>
            </p>
        </div>
    </div>

    <script type="text/x-magento-init">
        {
            ".rma_return_address_content": {
                "returnAddressSelect": {
                    "optionsConfig": <?php echo $block->getJsonConfig() ?>
                }
            }
        }
    </script>
</div>