<?php
/**
 * @var \Project\Rma\Block\Adminhtml\Rma\Edit\Tab\General\RmaAddress $block
 */

$rma = $block->getRma();
?>
<div class="admin__page-section-item order-shipping-address">
    <div class="admin__page-section-item-title">
        <span class="title"><?php echo __('RMA Address') ?></span>
        <div class="actions"><?php echo $block->getAddressEditLink($rma->getRmaAddress()); ?></div>
    </div>
    <?php if ($block->getRmaAddress()) : ?>
        <div class="admin__page-section-item-content">
            <address><?php echo $block->getRmaAddress() ?></address>
        </div>
    <?php endif ?>
</div>
