<!--@subject Christian Louboutin Europe Online Boutique: {{trans "New order"}} # {{var order.increment_id}} @-->
<!--@vars {
"var formattedBillingAddress|raw":"Billing Address",
"var order.getEmailCustomerNote()":"Email Order Note",
"var order.increment_id":"Order Id",
"layout handle=\"sales_email_order_items\" order=$order area=\"frontend\"":"Order Items Grid",
"var payment_html|raw":"Payment Details",
"var formattedShippingAddress|raw":"Shipping Address",
"var order.getShippingDescription()":"Shipping Description",
"var shipping_msg":"Shipping message"
} @-->

<table class="wrapper" width="100%">
    <tr>
        <td class="wrapper-inner" align="center">
            <table class="main" align="center">
                <tr>
                    <td>
                        {{block class="Magento\\Cms\\Block\\Block" area="frontend" block_id="email-header"}}
                    </td>
                </tr>
<table cellspacing="0" cellpadding="0" align="center" border="0" width="600" style="text-align:left">
    <tr class="email-intro">
        <td valign="top" style="color: #454545">
            <p class="greeting" style="font:15px/1.35em Verdana; color: #454545">{{trans "Dear %customer_name," customer_name=$order.getCustomerName()}}</p>
            <p style="color: #454545">{{trans "Thank you for shopping online with %store_name." store_name=$store.getFrontendName()}}</p>

            {{if is_preorder}}
                <p style="color: #454545;margin-top:-9px">
                    {{trans "We would like to confirm that your pre-order has been received. Your order is expected to be filled by %date." date=$availability_date}}
                    {{trans "Please note that these estimated product arrival dates are subjective and not guaranteed due to varying production and shipment timeframes."}}
                    {{trans "We will inform you if, for any reason, your order fulfillment is delayed or cannot be completed."}}
                </p>
                <p style="color: #454545">{{trans "Orders are processed and delivered Monday through Saturday, excluding holidays. All products on the website are subject to availability and we will inform you if we are unable to fill your order."}}</p>
            {{else}}
                <p style="color: #454545;margin-top:-9px">{{trans "We would like to confirm that your order has been received."}}</p>
                <p style="color: #454545">{{trans "Orders are processed and delivered Monday through Saturday, excluding holidays."}}</p>
            {{/if}}

            <p style="color: #454545">{{trans "Your billing and shipping information will be verified and your credit card will be charged at the time of shipment. A confirmation will be emailed to you as soon as each item has been shipped and we will provide a link for you to track your package."}}</p>
            <p style="color: #454545">{{trans "You can also check the status of your order by"}}
                <a href="{{store url='customer/account/'}}" style="color:#ea0000; font-weight: bold;">
                    <strong>{{trans "logging into your account"}}</strong>
                </a>.
            </p>
            <p style="color: #454545">{{trans "To organize the return of your order (except for beauty products), you can either log in the \"My account\" section or contact the Customer Service at"}} {{config path="general/store_information/phone"}}</p>
            <p style="color: #454545">{{trans "For other general inquiries or to view Christian Louboutin's online terms of sale, please feel free to visit the"}}
                <a href="{{store url=''}}terms-sale">{{trans "Terms and Conditions"}}</a> {{trans "section on our website"}}.
            </p>
            <br/>
        </td>
    </tr>
    <tr class="email-summary">
        <td>
            <h1>{{trans 'Your Order <span class="no-link">#%increment_id</span>' increment_id=$order.increment_id |raw}}</h1>
            <p>{{trans 'Placed on <span class="no-link">%created_at</span>' created_at=$order.getCreatedAtFormatted(1) |raw}}</p>
        </td>
    </tr>
    <tr class="email-information">
        <td>
            {{depend order.getEmailCustomerNote()}}
            <table class="message-info">
                <tr>
                    <td>
                        {{var order.getEmailCustomerNote()|escape|nl2br}}
                    </td>
                </tr>
            </table>
            {{/depend}}
            <table class="order-details">
                <tr>
                    <td class="address-details">
                        <h3>{{trans "Billing Info"}}</h3>
                        <p>{{var formattedBillingAddress|raw}}</p>
                    </td>
                    {{depend order.getIsNotVirtual()}}
                    <td class="address-details">
                        <h3>{{trans "Shipping Info"}}</h3>
                        <p>{{var formattedShippingAddress|raw}}</p>
                    </td>
                    {{/depend}}
                </tr>
                <tr>
                    <td class="method-info">
                        <h3>{{trans "Payment Method"}}</h3>
                        {{var payment_html|raw}}
                    </td>
                    {{depend order.getIsNotVirtual()}}
                    <td class="method-info">
                        <h3>{{trans "Shipping Method"}}</h3>
                        <p>{{var order.getShippingDescription()}}</p>
                        {{if shipping_msg}}
                        <p>{{var shipping_msg}}</p>
                        {{/if}}
                    </td>
                    {{/depend}}
                </tr>
            </table>
            {{layout handle="sales_email_order_items" order=$order area="frontend"}}
            {{block class="Magento\\Cms\\Block\\Block" area="frontend" block_id="email-footer"}}
        </td>
    </tr>
</table>
            </table>
        </td>
    </tr>
</table>
