<!-- ko if: shouldDisplay() -->
<tr class="totals cashondelivery excl">
    <th class="mark" scope="row">
        <span class="label" data-bind="text: title"></span>
    </th>
    <td class="amount">
        <span class="price" data-bind="text: getValue(), attr: {'data-th': title}"></span>
    </td>
</tr>
<!-- /ko -->
