// /**
//  * Copyright © Zemez, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .products-list {
        * + .product-item {
            margin-top: 30px;
        }

        .product-item-info {
            display: flex;
            align-items: flex-start;
        }

        .product-item-photo {
            flex-basis: 50%;
            width: 50%;
            max-width: 50%;
        }

        .product-item-details {
            flex-basis: 50%;
            width: 50%;
            max-width: 50%;
            padding-left: 10px;

            @media (min-width: @screen__xs) {
                padding-left: 20px;
            }
        }

        .product-item-name {
            line-height: 1.2;

            a {
                font-weight: 700;
            }

            @media (min-width: @screen__xs) {
                font-size: 20px;
            }
        }

        .product-reviews-summary {
            margin-top: 12px;

            @media (max-width: (@screen__s - 1)) {
                display: none;
            }
        }

        .product-item-description {
            margin-top: 14px;

            @media (max-width: (@screen__xs - 1)) {
                display: none;
            }
        }

        .swatch-attribute {
            margin-top: 15px;

            @media (max-width: (@screen__xs - 1)) {
                display: none;
            }
        }

        .price-box {
            font-size: 20px;
        }

        .old-price {
            font-size: 16px;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

}

//
//  Desktop
//  _____________________________________________

& when (@media-target = 'desktop') {
    .products-list {
        * + .product-item {
            margin-top: 40px;
        }

        .product-item-photo {
            flex-basis: 30%;
            width: 30%;
            max-width: 30%;
        }

        .product-item-details {
            display: flex;
            flex-basis: 70%;
            width: 70%;
            max-width: 70%;
            padding-left: 30px;
        }

        .product-content {
            flex-basis: 68%;
            width: 68%;
            max-width: 68%;
            padding-right: 30px;
        }

        .product-item-inner {
            flex-basis: 32%;
            width: 32%;
            max-width: 32%;
        }

        .swatch-attribute {
            margin-top: 25px;
        }

        .price-box {
            margin-top: 0;
        }

        .special-price {
            margin-right: 3px;
        }

        .action.tocart {
            width: 100%;
        }

        .actions-primary {
            margin-top: 22px;
        }

        div.actions-secondary {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin-top: 20px;

            .action {
                &:not(:last-child) {
                    margin-right: 20px;
                }
            }
        }

        @media (min-width: @screen__xl) {
            .product-item-details {
                padding-top: 12px;
            }

            .product-item-name {
                font-size: 30px;
            }

            .price-box {
                font-size: 30px;
            }

            .old-price {
                font-size: 24px;
            }
        }

        @media (min-width: @screen__xxl) {
            .action.towishlist {
                width: 46px;
                background-color: @color-white;
                color: @color-primary;
                box-shadow: 0 0 7px rgba(187, 176, 176, 0.25);

                &:before {
                    line-height: 46px;
                }

                &:hover {
                    color: @color-dark;
                }
            }

            .action.tocompare {
                white-space: nowrap;

                &:before {
                    display: inline-block;
                    vertical-align: middle;
                }

                span {
                    display: inline-block;
                    margin-left: 7px;
                    font-size: 14px;
                    text-transform: uppercase;
                    vertical-align: middle;
                }
            }
        }
    }
}
