// /**
//  * Copyright © Zemez, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  ---------------------------------------------

@product-name-link__color: @text__color;
@product-name-link__color__active: @text__color;
@product-name-link__color__hover: @text__color;
@product-name-link__color__visited: @text__color;

@product-name-link__text-decoration: none;
@product-name-link__text-decoration__active: @link__hover__text-decoration;
@product-name-link__text-decoration__hover: @link__hover__text-decoration;
@product-name-link__text-decoration__visited: @link__hover__text-decoration;

@product-name-text-decoration: none;
@product-name-text-decoration-hover: @link__hover__text-decoration;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .product-item {
        .product-reviews-summary, .price-box, .product-item-description, .swatch-attribute, .actions-primary, .actions-secondary {
            margin-top: 10px;
        }

        .actions-secondary {
            color: @color-light;

            .action {
                &:not(:last-child) {
                    margin-right: 25px;
                }
            }
        }

        .action.unavailable {
            background-color: @color-light;
            border-color: @color-light;
            pointer-events: none;
        }
    }

    //
    //  Product images
    //  ---------------------------------------------

    .product-item-photo {
        display: block;
        background-color: @color-lightest;

        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .product-image-container {
        display: block;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .product-image-wrapper {
        display: block;
        position: relative;
        z-index: 1;
    }

    .product-image-photo {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        max-width: 100%;
        height: auto;
        margin: auto;
    }

    .product-item-name {
        font-size: 14px;
        color: @color-default;

        a {
            &:extend(.abs-product-link all);
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .product-item {
        .actions-secondary {
            margin-top: 20px;
        }
    }
}
