<div class="text-center">
    <div class="about-us_info">
        <div class="about-us_info_img">
            <img src="{{media url="wysiwyg/about-us_1.jpg"}}" alt="" />
        </div>
        <div class="about-us_info_txt">
            <span class="heading-4">Catering to your requirements,<br>Handling your needs with care</span>
            <p>What can be more convenient than having all the assortment of any-type-of-products in one place? When you don’t have to dash to different shops looking for a specific brand, whether it is a bathroom cleaner or an activity tracker. All-in-one-shop, this is a way to save your time and money. Although you must already have an objection to it: what about those hour-length lines when you’ve bought household stuff for 2 months in advance, saved money, but still waste time standing in a queue?</p>
            <p>Let’s see on which exactly products you can save your money: electronics, movies, books, furniture, auto & home improvement, pharmacy, crafts. Also, you save on food, pet products, toys, games and party supplies. Apart from that, you can pay less than usual for beauty items, sports clothing and equipment, office stuff and… the list is almost endless. In all this rich variety of choice of thousands items there is, however, an easy navigation so you get the best search experience.
            </p>
        </div>
    </div>
    <div class="skills row">
        <div class="col-xs-4">
            <div class="value"><span class="number">14578</span></div>
            <div class="term">Products available</div>
        </div>
        <div class="col-xs-4">
            <div class="value"><span class="number">89</span>%</div>
            <div class="term">Clients come back</div>
        </div>
        <div class="col-xs-4">
            <div class="value"><span class="number">245789</span></div>
            <div class="term">Site members</div>
        </div>
    </div>
    <div class="about-us_services">
        <ul>
            <li>
                <div class="about-us_services_txt">
                    <h4>For Conveniece of Choice</h4>
                    <p>We think about the convenience of your choice. Our products are supplied with star rating that should help hesitant buyers to take a decision. What’s more, you can search our site if you know exactly what you are looking for or use a bunch of different filters that will considerably save your time and efforts.</p>
                </div>
            </li>
            <li>
                <img src="{{media url="wysiwyg/about-us_2.jpg"}}" alt="" />
            </li>
            <li>
                <div class="about-us_services_txt">
                    <h4>The Highest Quality of Products</h4>
                    <p>We guarantee the highest quality of the products we sell. Several decades of successful operation and millions of happy customers let us feel certain about that. Besides, all items we sell pass thorough quality control, so no characteristics mismatch can escape the eye of our professionals.</p>
                </div>
            </li>
            <li>
                <img src="{{media url="wysiwyg/about-us_3.jpg"}}" alt="" />
            </li>
            <li>
                <div class="about-us_services_txt">
                    <h4>Delivert to All Regions</h4>
                    <p>We deliver our goods worldwide. No matter where you live, your order will be shipped in time and delivered right to your door or to any other location you have stated. The packages are handled with utmost care, so the ordered products will be handed to you safe and sound, just like you expect them to be.</p>
                </div>
            </li>
            <li>
                <img src="{{media url="wysiwyg/about-us_4.jpg"}}" alt="" />
            </li>
        </ul>
    </div>

    <div class="team">
        <h3>Our team</h3>
        <ul class="row">
            <li class="col-xs-6 col-m-3">
                <figure>
                    <a href="#" title="Robert Johnson"><img src="{{media url="wysiwyg/team1.jpg"}}" alt="" /></a>
                    <span class="team_name"><a href="#" title="Robert Johnson">Robert Johnson</a></span>
                    <p>Senior salesman with 15 years of experience. He knows everything about the products he offers.</p>
                </figure>
            </li>
            <li class="col-xs-6 col-m-3">
                <figure>
                    <a href="#" title="JESSICA PRISTON"><img src="{{media url="wysiwyg/team2.jpg"}}" alt="" /></a>
                    <span class="team_name"><a href="#" title="JESSICA PRISTON">Jessica Priston</a></span>
                    <p>Mega positive shop assistant always ready to help you make the right choice and charm you with a smile.</p>
                </figure>
            </li>
            <li class="col-xs-6 col-m-3">
                <figure>
                    <a href="#" title="SAM KROMSTAIN"><img src="{{media url="wysiwyg/team3.jpg"}}" alt="" /></a>
                    <span class="team_name"><a href="#" title="SAM KROMSTAIN">Sam Kromstain</a></span>
                    <p>Wholesale manager. Contact him if you want to buy a batch of the products offered at our store.</p>
                </figure>
            </li>
            <li class="col-xs-6 col-m-3">
                <figure>
                    <a href="#" title="EDNA BARTON"><img src="{{media url="wysiwyg/team4.jpg"}}" alt="" /></a>
                    <span class="team_name"><a href="#" title="EDNA BARTON">Edna Barton</a></span>
                    <p>Quality control manager. Her mission is to check the products we ship and settle quality issues if any.</p>
                </figure>
            </li>
        </ul>
    </div>

    <div class="testimonials">
        <div class="testimonials_inner owl-carousel owl-testimonials">
            <blockquote>
                <i class="nc-icon-outline text_quote"></i>
                <q>Guys, you rock! Made a purchase at your store recently. The order has been shipped and delivered on time. The quality is superb! The price is quite reasonable. Told all my friends about your excellent service and the variety of choice. I think I’ll be your loyal customer in future as well. I wish your store many more years of prosperity.</q>
                <cite>Robert Johnson</cite>
            </blockquote>
            <blockquote class="item">
                <i class="nc-icon-outline text_quote"></i>
                <q>Having the distressing experience with some online shops before decided to say ‘’THANK YOU” to all personnel of this store. You are not only friendly, but deliver really good products in the shortest possible terms. In a word, I am absolutely happy with my purchase and the service. Everything was perfect!</q>
                <cite>Jessica Priston</cite>
            </blockquote>
            <blockquote>
                <i class="nc-icon-outline text_quote"></i>
                <q>Guys, you rock! Made a purchase at your store recently. The order has been shipped and delivered on time. The quality is superb! The price is quite reasonable. Told all my friends about your excellent service and the variety of choice. I think I’ll be your loyal customer in future as well. I wish your store many more years of prosperity.</q>
                <cite>Sam Kromstain</cite>
            </blockquote>
            <blockquote>
                <i class="nc-icon-outline text_quote"></i>
                <q>Having the distressing experience with some online shops before decided to say ‘’THANK YOU” to all personnel of this store. You are not only friendly, but deliver really good products in the shortest possible terms. In a word, I am absolutely happy with my purchase and the service. Everything was perfect!</q>
                <cite>Edna Barton</cite>
            </blockquote>
        </div>
    </div>
</div>
