<div class="customer-service">
    <div class="text-block customer-service__block">
        <h3>Delivery</h3>
        <h4>Hello and welcome to the shipping and delivery information page! Here you can get acquainted with useful information on terms
            and conditions of our goods delivery</h4>
        <p>You can purchase your items online and pick them up at our street store, or ship them directly to your doorstep. Shipping is free on some orders. We use the best carriers in the business to make sure your order gets to you on time. From the Secure Checkout page you'll see your item description, price and delivery timing. Where available, you can also choose a faster delivery method for each item on your order, for an additional fee. Delivery times vary according to your selected delivery address, availability of your items and the time of day you place your order.</p>
    </div>
    <div class="table-block  customer-service__block">
        <h3>Cost</h3>
        <div class="table-block_wrapper">
            <table>
                <thead>
                <th>Services</th>
                <th>Locations</th>
                <th>Delivery Schedule</th>
                <th>Cost Per Shipment</th>
                </thead>
                <tbody>
                <tr>
                    <td>Royal mail 1st Class Service (Order value $20 or less)</td>
                    <td>All of UK & some European Countries</td>
                    <td>1-3 days Monday - Saturday</td>
                    <td>$5</td>
                </tr>
                <tr>
                    <td>Royal mail Tracker (Order value $50 or less)</td>
                    <td>All of UK</td>
                    <td>1-3 days Delivery 7.30am - 5.30am Monday - Friday</td>
                    <td>$45</td>
                </tr>
                <tr>
                    <td>Standard Courier Delivery</td>
                    <td>UK mainland only</td>
                    <td>1-3 days Monday - Saturday</td>
                    <td>$124</td>
                </tr>
                <tr>
                    <td>Standard Courier Delivery</td>
                    <td>Northern Ireland, Eire, Scilly Isles</td>
                    <td>1-3 days Delivery 7.30am - 5.30am Monday - Friday</td>
                    <td>$11</td>
                </tr>
                <tr>
                    <td>Royal mail 1st Class Service (Order value $20 or less)</td>
                    <td>All of UK & some European Countries</td>
                    <td>1-3 days Monday - Saturday</td>
                    <td>$5</td>
                </tr>
                <tr>
                    <td>Priority courier pre 12pm Next Working Day</td>
                    <td>UK mainland only</td>
                    <td>1-3 days Delivery 7.30am - 5.30am Monday - Friday</td>
                    <td>$89</td>
                </tr>
                <tr>
                    <td>Royal mail 1st Class Service (Order value $20 or less)</td>
                    <td>All of UK & some European Countries</td>
                    <td>1-3 days Monday - Saturday</td>
                    <td>$72</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="text-block  customer-service__block">
        <h3>Free Delivery</h3>
        <p>Free two-day shipping is available on in-stock items. You can see in your bag if your item is in stock. Free two-day shipping is not available on customized, engraved products, and for certain order types, including orders paid for with financing or by bank transfer. To get free two-day shipping, you will need to place your order by 5pm, Monday to Friday. For instance, if you order your goods before 5:00 pm, Monday to Friday we will deliver them in two business days.</p>
    </div>
    <div class="list-block  customer-service__block">
        <h3>Terms & Conditions</h3>
        <ul class="row">
            <li class="col-m-6">
                <h4>Entire agreement</h4>
                <p>If you require a complete delivery of your orders, please enter an X in the Complete Delivery field on the shipping screen of the customer master record. The indicator is copied into the order header, which you can also use for the purpose.</p>
            </li>
            <li class="col-m-6">
                <h4>Entire agreement</h4>
                <p>If you require a complete delivery of your orders, please enter an X in the Complete Delivery field on the shipping screen of the customer master record. The indicator is copied into the order header, which you can also use for the purpose.</p>
            </li>
            <li class="col-m-6">
                <h4>Controlling terms</h4>
                <p>Buyer expressly agrees that Seller’s Invoice and these Terms and Conditions of Sale represent the complete agreement of the parties with respect to the sale of the product(s) listed on the Invoice and no different or additional terms or conditions in Buyer’s purchase order or in any other prior or subsequent communications in any way adding to, modifying or otherwise changing these Terms and Conditions of Sale shall be binding upon Seller.</p>
            </li>
            <li class="col-m-6">
                <h4>Controlling terms</h4>
                <p>Buyer expressly agrees that Seller’s Invoice and these Terms and Conditions of Sale represent the complete agreement of the parties with respect to the sale of the product(s) listed on the Invoice and no different or additional terms or conditions in Buyer’s purchase order or in any other prior or subsequent communications in any way adding to, modifying or otherwise changing these Terms and Conditions of Sale shall be binding upon Seller.</p>
            </li>
            <li class="col-m-6">
                <h4>Entire agreement</h4>
                <p>If you require a complete delivery of your orders, please enter an X in the Complete Delivery field on the shipping screen of the customer master record. The indicator is copied into the order header, which you can also use for the purpose.</p>
            </li>
            <li class="col-m-6">
                <h4>Entire agreement</h4>
                <p>If you require a complete delivery of your orders, please enter an X in the Complete Delivery field on the shipping screen of the customer master record. The indicator is copied into the order header, which you can also use for the purpose.</p>
            </li>
            <li class="col-m-6">
                <h4>Controlling terms</h4>
                <p>Buyer expressly agrees that Seller’s Invoice and these Terms and Conditions of Sale represent the complete agreement of the parties with respect to the sale of the product(s) listed on the Invoice and no different or additional terms or conditions in Buyer’s purchase order or in any other prior or subsequent communications in any way adding to, modifying or otherwise changing these Terms and Conditions of Sale shall be binding upon Seller.</p>
            </li>
            <li class="col-m-6">
                <h4>Controlling terms</h4>
                <p>Buyer expressly agrees that Seller’s Invoice and these Terms and Conditions of Sale represent the complete agreement of the parties with respect to the sale of the product(s) listed on the Invoice and no different or additional terms or conditions in Buyer’s purchase order or in any other prior or subsequent communications in any way adding to, modifying or otherwise changing these Terms and Conditions of Sale shall be binding upon Seller.</p>
            </li>
            <li class="col-m-6">
                <h4>Entire agreement</h4>
                <p>If you require a complete delivery of your orders, please enter an X in the Complete Delivery field on the shipping screen of the customer master record. The indicator is copied into the order header, which you can also use for the purpose.</p>
            </li>
            <li class="col-m-6">
                <h4>Entire agreement</h4>
                <p>If you require a complete delivery of your orders, please enter an X in the Complete Delivery field on the shipping screen of the customer master record. The indicator is copied into the order header, which you can also use for the purpose.</p>
            </li>
            <li class="col-m-6">
                <h4>Controlling terms</h4>
                <p>Buyer expressly agrees that Seller’s Invoice and these Terms and Conditions of Sale represent the complete agreement of the parties with respect to the sale of the product(s) listed on the Invoice and no different or additional terms or conditions in Buyer’s purchase order or in any other prior or subsequent communications in any way adding to, modifying or otherwise changing these Terms and Conditions of Sale shall be binding upon Seller.</p>
            </li>
            <li class="col-m-6">
                <h4>Controlling terms</h4>
                <p>Buyer expressly agrees that Seller’s Invoice and these Terms and Conditions of Sale represent the complete agreement of the parties with respect to the sale of the product(s) listed on the Invoice and no different or additional terms or conditions in Buyer’s purchase order or in any other prior or subsequent communications in any way adding to, modifying or otherwise changing these Terms and Conditions of Sale shall be binding upon Seller.</p>
            </li>
        </ul>
    </div>
</div>

<script>
    var headertext = [];
    var headers = document.querySelectorAll(".table-block thead");
    var tablebody = document.querySelectorAll(".table-block tbody");

    for (var i = 0; i < headers.length; i++) {
        headertext[i]=[];
        for (var j = 0, headrow; headrow = headers[i].rows[0].cells[j]; j++) {
            var current = headrow;
            headertext[i].push(current.textContent);
        }
    }

    for (var h = 0, tbody; tbody = tablebody[h]; h++) {
        for (var i = 0, row; row = tbody.rows[i]; i++) {
            for (var j = 0, col; col = row.cells[j]; j++) {
                col.setAttribute("data-th", headertext[h][j]);
            }
        }
    }
</script>