<div class="faq-page">
    <div id="faq-accordion">
        <div class="accordion-block close">
            <div class="accordion-trigger close">
                <span>Is it necessary for me to register an account in order to buy an item?</span>
            </div>
            <div class="accordion-content">
                <p> Yes and this is made with your own convenience in mind.  By creating (or using) an account during the  purchasing process you will have 3 things made so much easier for yourself:</p>
                <ul>
                    <li>- keeping track of your order's delivery status</li>
                    <li>- changing or canceling the order</li>
                    <li>- using your previous purchase history to become eligible for a Loyal Customer's discount</li>
                </ul>
            </div>
        </div>
        <div class="accordion-block close">
            <div class="accordion-trigger close">
                <span>Which shipping providers do you use?</span>
            </div>
            <div class="accordion-content">
                <p> Yes and this is made with your own convenience in mind.  By creating (or using) an account during the  purchasing process you will have 3 things made so much easier for yourself:</p>
                <ul>
                    <li>- keeping track of your order's delivery status</li>
                    <li>- changing or canceling the order</li>
                    <li>- using your previous purchase history to become eligible for a Loyal Customer's discount</li>
                </ul>
            </div>
        </div>
        <div class="accordion-block close">
            <div class="accordion-trigger close">
                <span>How long it will take to receive the furniture?</span>
            </div>
            <div class="accordion-content">
                <p> Yes and this is made with your own convenience in mind.  By creating (or using) an account during the  purchasing process you will have 3 things made so much easier for yourself:</p>
                <ul>
                    <li>- keeping track of your order's delivery status</li>
                    <li>- changing or canceling the order</li>
                    <li>- using your previous purchase history to become eligible for a Loyal Customer's discount</li>
                </ul>
            </div>
        </div>
        <div class="accordion-block close">
            <div class="accordion-trigger close">
                <span>How long it will take to receive the furniture?</span>
            </div>
            <div class="accordion-content">
                <p> Yes and this is made with your own convenience in mind.  By creating (or using) an account during the  purchasing process you will have 3 things made so much easier for yourself:</p>
                <ul>
                    <li>- keeping track of your order's delivery status</li>
                    <li>- changing or canceling the order</li>
                    <li>- using your previous purchase history to become eligible for a Loyal Customer's discount</li>
                </ul>
            </div>
        </div>
        <div class="accordion-block close">
            <div class="accordion-trigger close">
                <span>Do you offer any kind of discounts?</span>
            </div>
            <div class="accordion-content">
                <p> Yes and this is made with your own convenience in mind.  By creating (or using) an account during the  purchasing process you will have 3 things made so much easier for yourself:</p>
                <ul>
                    <li>- keeping track of your order's delivery status</li>
                    <li>- changing or canceling the order</li>
                    <li>- using your previous purchase history to become eligible for a Loyal Customer's discount</li>
                </ul>
            </div>
        </div>
        <div class="accordion-block close">
            <div class="accordion-trigger close">
                <span>Do you accept orders from all 50 US states?</span>
            </div>
            <div class="accordion-content">
                <p> Yes and this is made with your own convenience in mind.  By creating (or using) an account during the  purchasing process you will have 3 things made so much easier for yourself:</p>
                <ul>
                    <li>- keeping track of your order's delivery status</li>
                    <li>- changing or canceling the order</li>
                    <li>- using your previous purchase history to become eligible for a Loyal Customer's discount</li>
                </ul>
            </div>
        </div>
    </div>
</div>