<div class="guarantee-page">
    <div class="text-block">
        <p>Quite often, even after we’ve chosen an item and purchased it successfully, there may be some things we might want to change or repair afterward - either during or following the delivery process, when filing a return or applying for using our warranty. Here we'll try to explain in plain terms how does our store’s warranty policy works and how you can be using it when shopping with us!</p>
    </div>
    <div class="text-block">
        <h3>What Products are Provided with the Warranty?</h3>
        <p>Some of our furniture items apply for an almost unconditional Lifetime Warranty. The items included in this policy are sofas, couches, love seats, upholstered chairs, ottomans, sectionals, and sleepers. As a retailer we warrant these components to you, the original retail purchaser, to be free from material manufacturing defects. The lifetime duration of the Warranty means the standardized usage cycle for a specific furniture item.</p>
        <ul>
            <li>
                <h4>Repair & Refurbishing</h4>
                <span>Our store will pay, within one year from the date of purchase, reasonable and conditional labor rates for refurbishing or replacing the defective parts and shipping costs.</span>
            </li>
            <li>
                <h4>Different Types of Warranty</h4>
                <span>While for some items we have a lifetime warranty, the springs in all of our items are offered with a 5 Year Limited type of a Warranty.</span>
            </li>
            <li>
                <h4>Warranty Exceptions</h4>
                <span>All seat cushion cores have a natural tendencey to become softer during a normal usage cycle, and will conform to the shape of the user. A Limited 1 Year Warranty applies.</span>
            </li>
        </ul>
    </div>
    <div class="text-block">
        <h3>Where to Apply for Warranty Services?</h3>
        <p>Under these Limited Warranties, all of the legal liability of our store is limited to repair, or  if required (or requested by the customer), replacement. We are  ready to pay, within one year from the date of purchase, reasonable and customary labor rates to repair or replace the defective parts and shipping costs from the retailer...</p>
        <p>These Limited Warranties are not applicable for any of our products which ave been altered by any person, dealer, or company without the express written authorization of our store. PLease note, that some States Do Not Allow Limitations On How Long An Implied Warranty Lasts, So The Above Limitations May Not Apply To You.</p>
    </div>
    <div class="text-block">
        <h3>In What Cases the Warranty is Not Provided?</h3>
        <p>There can be two limits for the Warranties issued with the purchase of the furniture items on our website.</p>
        <ul class="row">
            <li class="col-m-6">
                <h4>1, 3 & 5 Years Limited Warranty</h4>
                <span>The first one is the Warranty time frame, if it is limited to 1, 3 or 5 years. Hence the Lifetime Warranty is not time-restricted.</span>
            </li>
            <li class="col-m-6">
                <h4>Regular Usage Check</h4>
                <span>The second one is the examination of the item by our customer support agent, making sure the usage was regular.</span>
            </li>
        </ul>
    </div>
    <div class="text-block">
        <h3>Change and Return</h3>
        <p>Filing a change or a return is an easy process, requiring nothing more than your proof of purchase (which usually is the receipt you received), the item itself and the return label printed out by you and put at the top of the package...</p>
    </div>
</div>