<div class="not-found-page">
    <img src="{{view url='images/404.png'}}" alt="404-img">
    <div>
        <strong>Sorry...</strong>
        <span>It’s not you. It’s us.</span>
    </div>
    <p>The page you are looking for can’t be found.</p>
    <a class="action default" href="{{store url=""}}">Go Home!</a>
</div>