<div class="secure-payment-page">
    <p>
        When it comes to purchasing something, anything online, the security question towers above everything else. We do not take our store’s overall cyber security and particularly the billing process security lightly. We can assure you that all of your shopping here will be a fun and safe experience, enhanced by the all of the factors listed below.
    </p>
    <ul>
        <li>
            <h4>SSL Certificate</h4>
            <span>If the website has an SLL certificate, this means that the owners care about your shopping experience being secure, safe and sound and want to make sure that all the data (including financial) that you enter on our website will be securely encrypted!</span>
        </li>
        <li>
            <h4>Multiple Gateways</h4>
            <span>When we were considering which payment gateways to use on our website, the choice narrowed down to 5 most universal ones: Visa; MasterCard; PayPal; Discover; Stripe.</span>
        </li>
        <li>
            <h4>24/7 Customer Support</h4>
            <span>Also, it is comforting to know that should you experience any kind of technical bump in the road during the checkout process, you can always address our customer support department with your billing questions!</span>
        </li>
    </ul>
    <div class="secure-payment_icons">
        <ul>
            <li><a href="#" class="fa fa-cc-visa"></a></li>
            <li><a href="#" class="fa fa-cc-mastercard"></a></li>
            <li><a href="#" class="fa fa-cc-paypal"></a></li>
            <li><a href="#" class="fa fa-cc-discover"></a></li>
            <li><a href="#" class="fa fa-cc-stripe"></a></li>
        </ul>
    </div>
</div>