<div class="shipping-delivery-page">
    <p>
        So you’ve done your shopping; just how long will it be till you can rock that swanky new Axolotl-themed laptop skin? The calculator below will give you the average amount of days it takes to ship a product to your door and the best time to contact our support team. Please note that every order at Redbubble is custom printed just for you, and will take 1-3 business days to print prior to shipping.
    </p>
    <span class="heading-5">Here are a few things to consider while you wait for your order:</span>
    <ul>
        <li><span>We ship in business days. Monday - Friday, excluding national holidays.</span></li>
        <li><span>Shipping starts from the date you received the “Your Order Has Shipped!” email.</span></li>
        <li><span>The estimate above does not include manufacturing time - we need 1-3 business days to make sure your custom order is everything you hoped it would be.</span></li>
    </ul>
    <p>
        Redbubble is a global company - we work with production and shipping partners all over the world to get your things to your doorstep, wherever that may be. Although the vast majority of our customers will get their orders by the day listed above, actual timeframes may vary from region to region.
    </p>
    <div class="shipping-delivery-page__border">
        <span class="heading-5">So when do you contact Redbubble?</span>
        <span>The calculator above lets you know the best time to message us. When that day rolls around.</span>
        <span>Even if your order hasn’t arrived by the listed date, it’s probably still on its way (and worth the wait).</span>
    </div>
    <ol class="shipping-delivery-page__list">
        <li>
            <span class="heading-5 themeicon-transportation_truck-front">How much is shipping?</span>
            <p>Once you’ve clicked through to Secure Checkout, you can enter your delivery address and choose a shipping method. Shipping costs are then calculated and tacked on to your subtotal at the bottom of the page.</p>
        </li>
        <li>
            <span class="heading-5 themeicon-ui-1_zoom">Can I track my order?</span>
            <p>We rely on a global network of shipping partners (UPS, FedEx, DHL) as well as local postal services (USPS) to get your order to your doorstep as soon as possible. For this reason, tracking is not always available. If your order is being sent by a trackable service, these details will be included on your orders page as well as on the shipping email we send you.</p>
        </li>
        <li>
            <span class="heading-5 themeicon-files_archive-check">Where does my order ship from?</span>
            <p>We rely on a global network of shipping partners (UPS, FedEx, DHL) as well as local postal services (USPS) to get your order to your doorstep as soon as possible. For this reason, tracking is not always available. If your order is being sent by a trackable service, these details will be included on your orders page as well as on the shipping email we send you.</p>
        </li>
    </ol>
</div>