<div class="support-page">
    <div class="text-block">
        <p>Our customer support department is ready to come to your aid in a 24/7 manner, be your request in a form on email ticket or a phone call... We have a team of professional managers who will consult you regarding any technical, in-stock or billing question you might have. Also, should there be any problems with the delivery or if you would want to file a return, we will help you as well!</p>
    </div>
    <div class="boxes-block">
        <h4>Have a Question?</h4>
        <ul class="row">
            <li class="col-m-6"><a href="#"><div>
                        <span class="themeicon-education_hat">Knowledge Base</span>
                    </div></a></li>
            <li class="col-m-6"><a href="#"><div>
                        <span class="themeicon-users_multiple-19">Community Forum</span>
                    </div></a></li>
            <li class="col-m-6"><a href="#"><div>
                        <span class="themeicon-education_language">24/7 Ticket Support</span>
                    </div></a></li>
            <li class="col-m-6"><a href="#"><div>
                        <span class="themeicon-ui-1_email-83">Contact us</span>
                    </div></a></li>
        </ul>
    </div>
</div>