<div class="custom-page">
    <h3><em>1. Pages Configuration</em></h3>
    <table class="data-table responsive">
        <thead>
        <tr>
            <th>#</th>
            <th>Page Name</th>
            <th>Page HTML (Content tab)</th>
            <th>Page XML (Design tab)</th>
            <th>Layout</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1.</td>
            <td>404 Not Found</td>
            <td>sources\demo\pages\no-route.phtml</td>
            <td>NA</td>
            <td>1 column</td>
        </tr>
        <tr>
            <td>2.</td>
            <td>Home Page</td>
            <td>sources\demo\pages\home.phtml</td>
            <td>NA</td>
            <td>1 column</td>
        </tr>
        <tr>
            <td>3.</td>
            <td>Enable Cookies</td>
            <td>sources\demo\pages\enable-cookies.phtml</td>
            <td>NA</td>
            <td>1 column</td>
        </tr>
        <tr>
            <td>4.</td>
            <td>Privacy Policy</td>
            <td>sources\demo\pages\privacy-policy-cookie-restriction-mode.phtml</td>
            <td>NA</td>
            <td>1 column</td>
        </tr>
        <tr>
            <td>5.</td>
            <td>Customer Service</td>
            <td>sources\demo\pages\customer_service.phtml</td>
            <td>NA</td>
            <td>1 column</td>
        </tr>
        <tr>
            <td>6.</td>
            <td>About  Us</td>
            <td>sources\demo\pages\about_us.phtml</td>
            <td>NA</td>
            <td>1 column</td>
        </tr>
        <tr>
            <td>7.</td>
            <td>Template Settings</td>
            <td>sources\demo\pages\template-settings.phtml</td>
            <td>NA</td>
            <td>1 column</td>
        </tr>
        <tr>
            <td>8.</td>
            <td>Shipping & Delivery</td>
            <td>sources\demo\pages\shipping-delivery.phtml</td>
            <td>NA</td>
            <td>1 column</td>
        </tr>
        <tr>
            <td>9.</td>
            <td>FAQ</td>
            <td>sources\demo\pages\faq.phtml</td>
            <td>NA</td>
            <td>1 column</td>
        </tr>
        <tr>
            <td>10.</td>
            <td>Support</td>
            <td>sources\demo\pages\support.phtml</td>
            <td>NA</td>
            <td>1 column</td>
        </tr>
        <tr>
            <td>11.</td>
            <td>Guarantee</td>
            <td>sources\demo\pages\guarantee.phtml</td>
            <td>NA</td>
            <td>1 column</td>
        </tr>
        <tr>
            <td>12.</td>
            <td>Secure Payment</td>
            <td>sources\demo\pages\secure-payment.phtml</td>
            <td>NA</td>
            <td>1 column</td>
        </tr>
        <tr>
            <td>13.</td>
            <td>Terms & Conditions</td>
            <td>sources\demo\pages\terms-conditions.phtml</td>
            <td>NA</td>
            <td>1 column</td>
        </tr>
        </tbody>
    </table>


    <h3><em>2. Static Blocks Configuration</em></h3>

    <table class="data-table responsive">
        <thead>
        <tr>
            <th>#</th>
            <th>Block Name</th>
            <th>Block Title</th>
            <th>Identifier</th>
            <th>Content</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1.</td>
            <td>Footer Column 1 Title</td>
            <td>Footer Column 1 Title</td>
            <td>footer_col_1_title</td>
            <td>sources\demo\blocks\footer_col_1_title.phtml</td>
        </tr>
        <tr>
            <td>2.</td>
            <td>Footer Info Links</td>
            <td>Footer Info Links</td>
            <td>footer_info_links</td>
            <td>sources\demo\blocks\footer_info_links.phtml</td>
        </tr>
        <tr>
            <td>3.</td>
            <td>Footer Column Content 2</td>
            <td>Footer Column Content 2</td>
            <td>footer_col_2</td>
            <td>sources\demo\blocks\footer_col_2.phtml</td>
        </tr>
        <tr>
            <td>4.</td>
            <td>Footer Column Content 3</td>
            <td>Footer Column Content 3</td>
            <td>footer_col_3</td>
            <td>sources\demo\blocks\footer_col_3.phtml</td>
        </tr>
        <tr>
            <td>5.</td>
            <td>Footer Column Content 4</td>
            <td>Footer Column Content 4</td>
            <td>footer_col_4</td>
            <td>sources\demo\blocks\footer_col_4.phtml</td>
        </tr>
        <tr>
            <td>6.</td>
            <td>Contact Us Info</td>
            <td>Contact Us Info</td>
            <td>contact_us_info</td>
            <td>sources\demo\blocks\contact_us_info.phtml</td>
        </tr>
        <tr>
            <td>7.</td>
            <td>Menu Banner</td>
            <td>Menu Banner</td>
            <td>menu-banner</td>
            <td>sources\demo\blocks\menu-banner.phtml</td>
        </tr>
        <tr>
            <td>12.</td>
            <td>Banner 2</td>
            <td>Banner 2</td>
            <td>banner_2</td>
            <td>sources\demo\blocks\banner_2.phtml</td>
        </tr>
        <tr>
            <td>13.</td>
            <td>Home Banners 3</td>
            <td>Home Banners 3</td>
            <td>home_banners_3</td>
            <td>sources\demo\blocks\home_banners_3.phtml</td>
        </tr>
        <tr>
            <td>14.</td>
            <td>Home Banners 4</td>
            <td>Home Banners 4</td>
            <td>home_banners_4</td>
            <td>sources\demo\blocks\home_banners_4.phtml</td>
        </tr>
        <tr>
            <td>15.</td>
            <td>Home Banners 5</td>
            <td>Home Banners 5</td>
            <td>home_banners_5</td>
            <td>sources\demo\blocks\home_banners_5.phtml</td>
        </tr>
        <tr>
            <td>16.</td>
            <td>Banner 3</td>
            <td>Banner 3</td>
            <td>banner_3</td>
            <td>sources\demo\blocks\banner_3.phtml</td>
        </tr>
         </tbody>
    </table>


    <h3><em>3. Widgets Configuration</em></h3>

    <table class="data-table responsive">
        <thead>
        <tr>
            <th>#</th>
            <th>Widget Name</th>
            <th>Widget Type</th>
            <th>Block Reference</th>
            <th>Template / (Static Blocks)</th>
            <th>Sort Order</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1.</td>
            <td>Banner 1 Layout 1</td>
            <td>CMS Static Block</td>
            <td>After Page Header</td>
            <td>Banner 1 CMS Static Block</td>
            <td>0</td>
        </tr>
        <tr>
            <td>2.</td>
            <td>Offers Layout 1</td>
            <td>CMS Static Block</td>
            <td>Main Content Area</td>
            <td>Offers CMS Static Block</td>
            <td>0</td>
        </tr>
        <tr>
            <td>3.</td>
            <td>Home Banners 1 Layout 1</td>
            <td>CMS Static Block</td>
            <td>Main Content Area</td>
            <td>Home Banners 1 CMS Static Block</td>
            <td>1</td>
        </tr>
        <tr>
            <td>4.</td>
            <td>Products List 1 Layout 1</td>
            <td>Featured Products</td>
            <td>Main Content Area</td>
            <td>Products Grid</td>
            <td>2</td>
        </tr>
        <tr>
            <td>5.</td>
            <td>Products List 2 Layout 1</td>
            <td>Featured Products</td>
            <td>Before Page Footer Container</td>
            <td>Products Grid</td>
            <td>0</td>
        </tr>
        <tr>
            <td>6.</td>
            <td>Home Banners 2 Layout 1</td>
            <td>CMS Static Block</td>
            <td>Before Page Footer</td>
            <td>Home Banners 2 CMS Static Block</td>
            <td>0</td>
        </tr>
        <tr>
            <td>7.</td>
            <td>Banner 2 Layout 2 Layout 3</td>
            <td>CMS Static Block</td>
            <td>After Page Header Top</td>
            <td>Banner 2 CMS Static Block</td>
            <td>1</td>
        </tr>
        <tr>
            <td>8.</td>
            <td>Home Banners 3 Layout 2</td>
            <td>CMS Static Block</td>
            <td>After Page Header Top</td>
            <td>Home Banners 3 CMS Static Block</td>
            <td>2</td>
        </tr>
        <tr>
            <td>9.</td>
            <td>Products List 3 Layout 2</td>
            <td>Featured Products</td>
            <td>Main Content Area</td>
            <td>Products Grid</td>
            <td>0</td>
        </tr>
        <tr>
            <td>10.</td>
            <td>Home Banners 4 Layout 2</td>
            <td>CMS Static Block</td>
            <td>Before Page Footer Container</td>
            <td>Home Banners 4 CMS Static Block</td>
            <td>0</td>
        </tr>
        <tr>
            <td>11.</td>
            <td>Home Banners 5 Layout 2</td>
            <td>CMS Static Block</td>
            <td>Before Page Footer Container</td>
            <td>Home Banners 5 CMS Static Block</td>
            <td>1</td>
        </tr>
        <tr>
            <td>12.</td>
            <td>Banner 3 Layout 2</td>
            <td>CMS Static Block</td>
            <td>Before Page Footer Container</td>
            <td>Banner 3 CMS Static Block</td>
            <td>2</td>
        </tr>
        <tr>
            <td>13.</td>
            <td>Brands List Layout 2</td>
            <td>Shop by Brand</td>
            <td>Before Page Footer</td>
            <td>Template for Default version / Custom Brands</td>
            <td>0</td>
        </tr>
        <tr>
            <td>14.</td>
            <td>Banner 4 Layout 3</td>
            <td>CMS Static Block</td>
            <td>After Page Header</td>
            <td>Banner 4 CMS Static Block</td>
            <td>0</td>
        </tr>
        <tr>
            <td>15.</td>
            <td>Banner 5 Layout 3</td>
            <td>CMS Static Block</td>
            <td>After Page Header</td>
            <td>Banner 5 CMS Static Block</td>
            <td>1</td>
        </tr>
        <tr>
            <td>16.</td>
            <td>Home Banners 6 Layout 3</td>
            <td>CMS Static Block</td>
            <td>After Page Header</td>
            <td>Home Banners 6 CMS Static Block</td>
            <td>2</td>
        </tr>
        <tr>
            <td>17.</td>
            <td>Home Banners 7 Layout 3</td>
            <td>CMS Static Block</td>
            <td>After Page Header Top</td>
            <td>Home Banners 7 CMS Static Block</td>
            <td>0</td>
        </tr>
        </tbody>
    </table>
</div>
<script>
    var headertext = [];
    var headers = document.querySelectorAll("table.data-table thead");
    var tablebody = document.querySelectorAll("table.data-table tbody");

    for (var i = 0; i < headers.length; i++) {
        headertext[i]=[];
        for (var j = 0, headrow; headrow = headers[i].rows[0].cells[j]; j++) {
            var current = headrow;
            headertext[i].push(current.textContent);
        }
    }

    for (var h = 0, tbody; tbody = tablebody[h]; h++) {
        for (var i = 0, row; row = tbody.rows[i]; i++) {
            for (var j = 0, col; col = row.cells[j]; j++) {
                col.setAttribute("data-th", headertext[h][j]);
            }
        }
    }
</script>
