<div class="terms-conditions-page">
    <div class="text-block">
        <p>This Policy is projected to all personal information and sensitive personal data or information that is given by or obtained from any person who visits or uses or accesses the website ("User"). We reserve the right to modify or review the details of this Policy without prior notice and the revised Policy will be in effect from the day of uploading.  Therefore, Users are requested to periodically visit the website and review the policy.</p>
        <ul>
            <li>
                <h4>Rule 1</h4>
                <p>A User may be required to give away some Personal Information, including Sensitive Personal Information while browsing through the website or for availing services at the website.
                </p>
            </li>
            <li>
                <h4>Rule 2</h4>
                <p>Personal Information disclosed to Us by a User will be used by Us for one or more of the following purposes: (a) to help Us in creating content that is relevant to the User; (b)  to collect a database of all the Personal Information collected from User</p>
            </li>
            <li>
                <h4>Rule 3</h4>
                <p>When a User visits the website, one or more cookies shall be sent to a computer or the device being used by the User to visit the websites. Cookies are used upscale the quality of the services provided by Us, including for keeping User preferences...</p>
            </li>
        </ul>
    </div>
</div>