// /**
//  * Copyright © Zemez, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */
@import '_owl.carousel.less';
@import '_header.less';
@import '_footer.less';

//
//  Theme variables
//  _____________________________________________

//  Messages
@message-global-note__background: @color-yellow-light2;
@message-global-note__border-color: @color-yellow-light3;
@message-global-note__color: @text__color;

@message-global-note-link__color: @link__color;
@message-global-note-link__color-hover: @link__hover__color;
@message-global-note-link__color-active: @link__active__color;

@message-global-caution__background: @color-red9;
@message-global-caution__border-color: none;
@message-global-caution__color: @color-white;

@message-global-caution-link__color: @link__color;
@message-global-caution-link__color-hover: @link__hover__color;
@message-global-caution-link__color-active: @link__active__color;

@addto-color: @text__color__muted;
@addto-hover-color: @primary__color;

@minicart-icons-color: @header-icons-color;
@minicart-icons-color-hover: @header-icons-color-hover;

@button__shadow: inset 0 2px 1px rgba(0, 0, 0, .12);

@h1__margin-bottom__desktop: @indent__xl;


//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    body {
        .lib-css(background-color, @page__background-color);
    }

    .page-wrapper {
        .lib-vendor-prefix-display(flex);
        .lib-vendor-prefix-flex-direction(column);
        min-height: 100vh; // Stretch content area for sticky footer
        overflow: hidden;
    }

    .page-main {
        .lib-vendor-prefix-flex-grow(1);
        margin-top: 30px;
    }

    .page-bottom {
        &, > .content {
            margin-top: 30px;
        }

        .container {
            min-width: 0;
        }
    }

    .cms-home .page-main {
        margin-top: 0;
    }

    * + .top-container {
        margin-top: 30px;
    }

    .action.skip {
        &:not(:focus) {
            &:extend(.abs-visually-hidden all);
        }

        &:focus {
            .lib-css(background, @color-gray94);
            .lib-css(padding, @indent__s);
            left: 0;
            position: absolute;
            text-align: center;
            top: 0;
            width: 100%;
            z-index: 15;
        }
    }

    .action-skip-wrapper {
        height: 0;
        position: relative;
    }

    .page-title-wrapper {
        .page-title {
            font-size: 30px;
            line-height: 1.1;
            font-weight: 600;
        }

        margin-bottom: 30px;
        text-align: center;

        & + .action {
            margin-top: @indent__l;
        }
    }

    //
    //  Global notice
    //  ---------------------------------------------

    .message.global {
        p {
            margin: 0;
        }

        &.noscript,
        &.cookie {
            .lib-message(@_message-type: global-note);
            margin: 0;
        }

        &.cookie {
            bottom: 0;
            left: 0;
            position: fixed;
            right: 0;
            z-index: 3;

            .actions {
                margin-top: @indent__s;
            }
        }

        &.demo {
            .lib-message(@_message-type: global-caution);
            margin-bottom: 0;
            text-align: center;
        }
    }

    .sidebar {
        .widget.block:not(:last-child),
        .widget:not(:last-child) {
            &:extend(.abs-margin-for-blocks-and-widgets all);
        }

        .block-title {
            .lib-heading(h5);
            margin-bottom: 10px;
            text-transform: uppercase;
        }

        .block + .block {
            margin-top: 40px;
        }
    }

    //
    //  Widgets
    //  ---------------------------------------------

    .widget {
        .block-title {
            &:extend(.abs-block-title all);
        }

        & + .widget {
            margin-top: 30px;
        }
    }

    .page-top {
        .block-static-block + .block-static-block {
            margin-top: 0;
        }
    }

    .cms-home .page-top {
        margin-bottom: 30px;
    }

    .top-container {
        .widget + .widget {
            margin-top: 30px;
        }
    }

    .no-display {
        &:extend(.abs-no-display all);
    }

    //
    //  Calendar
    //  ---------------------------------------------

    .ui-datepicker {
        td {
            padding: 0;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .page-main {
        margin-top: 54px;
    }

    .page-title-wrapper {
        .page-title {
            font-size: 42px;
        }

        margin-bottom: 40px;

        & + .action {
            float: right;
            margin-top: @indent__base;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .page-bottom {
        &, > .content {
            margin-top: 107px;
        }
    }

    .widget + .widget {
        margin-top: 54px;
    }

    .cms-home .page-top {
        margin-bottom: 55px;
    }

    * + .top-container {
        margin-top: 100px;
    }
}

& when (@media-target = 'desktop') {
    @media (min-width: @screen__l) {
        .column.left .sidebar {
            padding-right: 5%;
        }
    }

    @media (min-width: @screen__xxl) {
        .column.left .sidebar {
            padding-right: 20%;
        }
    }
}
