<div><br>Sign Up for our Newsletter and be the first to discover our new collections and latest trends.<br>
You will be able to unsubscribe easily by clicking on the link available in the Newsletters.<br>
Your data is collected by Christian Louboutin Suisse SA to keep you informed about Christian Louboutin news and events. For the same purpose, your details may<br>
be shared with other Christian Louboutin entities and our service providers.<br>
In accordance with applicable regulations on personal data protection, you have the right to access, rectify and erase your data and can do so by contacting<br>
<a href="mailto:privacy.europe@ch.christianlouboutin.com">privacy.europe@ch.christianlouboutin.com</a>. Please review our Privacy Policy for more information.
</div>