<?php
// @codingStandardsIgnoreFile
?>
<?php /** @var \Project\VisualMerchandiser\Block\Adminhtml\Category\Merchandiser $block */ ?>
<div id="merchandiser-app" class="merchandiser-app" data-role="merchandiser-app">
    <?php if ($block->isAllowed()): ?>
        <?= $block->getChildHtml('smart_category') ?>
    <?php endif; ?>
    <div id="regular-category-settings" class="regular-category-settings">
        <div class="actions">
            <?= $block->getChildHtml('add_products_button') ?>
        </div>
        <?php if ($block->isAllowed()): ?>
            <div class="merchandiser-toolbar">
                <?= $block->getChildHtml('sort_order') ?>
                <?= $block->getChildHtml('sort_products_button') ?>
            </div>
        <?php endif; ?>
    </div>
    <div class="merchandiser-tabs" data-role="merchandiser-tabs">
        <ul role="tablist" class="tabs">
            <li role="tab">
                <a href="#tab_grid" id="mode-grid" class="modes-mode mode-grid" data-role="mode-switcher" data-value="grid" title="<?= /* @escapeNotVerified */ __('Grid') ?>">
                    <span><?= /* @escapeNotVerified */ __('Grid') ?></span>
                </a>
            </li>
            <li role="tab">
                <a href="#tab_tile" id="mode-tile" class="modes-mode mode-tile" data-role="mode-switcher" data-value="tile" title="<?= /* @escapeNotVerified */ __('Tile') ?>">
                    <span><?= /* @escapeNotVerified */ __('Tile') ?></span>
                </a>
            </li>
        </ul>

        <div id="tab_grid" class="tabs-tab-grid merchandiser-tab" role="tabpanel">
            <?= $block->getChildHtml('grid') ?>
        </div>
        <div id="tab_tile" class="tabs-tab-tile merchandiser-tab" role="tabpanel">
            <?= $block->getChildHtml('tile') ?>
        </div>
        <div class="no-display">
            <input type="hidden" data-form-part="category_form" name="vm_category_products" id="vm_category_products" value="<?= $block->escapeHtml($block->getPositionDataJson()) ?>" />
        </div>
    </div>
</div>
<script type="text/x-magento-init">
    {
        "[data-role=merchandiser-app]": {
            "Magento_VisualMerchandiser/js/merchandiser": {
                "addProductsUrl": "<?= /* @escapeNotVerified */ $block->getDialogUrl() ?>",
                "savePositionsUrl": "<?= /* @escapeNotVerified */ $block->getSavePositionsUrl() ?>",
                "getPositionsUrl": "<?= /* @escapeNotVerified */ $block->getProductsPositionsUrl() ?>",
                "currentCategoryId": "<?= /* @escapeNotVerified */ $block->getCategoryId() ?>",
                "positionCacheKey": "<?= /* @escapeNotVerified */ $block->getPositionCacheKey() ?>",
                "positionCacheKeyName": "<?= /* @escapeNotVerified */ $block->getPositionCacheKeyName() ?>",
                "formName": "category_form"
            }
        }
    }
</script>
<!-- @todo remove when "UI components" will support such initialization -->
<script>
    require('mage/apply/main').apply();
</script>
