<div class="top-bar">
    <ul class="left">
        <li id="blog-title"><a title="News" href="{{store url='news'}}">News</a></li>
        <li id="blog-article-title">From draft to craft: Christian Louboutin unveils a new store on rue Saint-Honoré</li>
    </ul>
</div>

