<article class="easycms-block blog-article">
    <div class="first-half-article">
        <div class="date-article">
            <p>25.02.20</p>
        </div>
        <div class="title-article">
            <a title="Christian Louboutin - collection automne-hiver 2020" href="{{store url='christian-louboutin-presents-his-fall-winter-2020-collection'}}">
                Christian Louboutin présente sa collection automne-hiver 2020
            </a>
        </div>
        <div class="read-more-article">
            <a title="Christian Louboutin - collection automne-hiver 2020" href="{{store url='christian-louboutin-presents-his-fall-winter-2020-collection'}}">
                Lire la suite >
            </a>
        </div>
    </div>
    <div class="second-half-article">
        <div class="image-background">
            <a title="Christian Louboutin - collection automne-hiver 2020" href="{{store url='christian-louboutin-presents-his-fall-winter-2020-collection'}}">
                <img class="hidden img-article-src" src="{{media url='cms/blog/0R5A4832.jpg'}}" alt="Christian Louboutin - collection automne-hiver 2020"/>
            </a>
        </div>
    </div>
</article>
