<!-- article head -->
{{widget type="Magento\Cms\Block\Widget\Block"
template="widget/static_block/default.phtml"
block_id="christian-louboutin-presents-his-fall-winter-2020-collection-block-head"}}
<!-- end article head -->
<div class="article-content">
    <!-- article title -->
    {{widget type="Magento\Cms\Block\Widget\Block"
template="widget/static_block/default.phtml"
block_id="christian-louboutin-presents-his-fall-winter-2020-collection-block-title"}}
    <!-- end article title-->

    <div class="text-content">
        <!-- article content -->
        {{widget type="Magento\Cms\Block\Widget\Block"
    template="widget/static_block/default.phtml"
    block_id="christian-louboutin-presents-his-fall-winter-2020-collection-block-content"}}
        <!-- end article content -->
    </div>
</div>

