<article class="easycms-block blog-article">
    <div class="first-half-article">
        <div class="date-article">
            <p>26.05.20</p>
        </div>
        <div class="title-article">
            <a title="Isn't about time you went Nude?" href="{{store url='news-nudes-collection'}}">
                Isn't about time you went Nude?
            </a>
        </div>
        <div class="read-more-article">
            <a title="Isn't about time you went Nude?" href="{{store url='news-nudes-collection'}}">
                Read the article >
            </a>
        </div>
    </div>
    <div class="second-half-article">
        <div class="image-background">
            <a title="Isn't about time you went Nude?" href="{{store url='news-nudes-collection'}}">
                <img class="hidden img-article-src" src="{{media url='cms/blog/nudes_slider1.jpg'}}" alt="Isn't about time you went Nude?"/>
            </a>
        </div>
    </div>
</article>
