<article class="easycms-block blog-article">
    <div class="first-half-article">
        <div class="date-article">
            <p>22.07.20</p>
        </div>
        <div class="title-article">
            <a title="From draft to craft: Christian Louboutin unveils a new store on rue Saint-Honoré" href="{{store url='from-draft-to-craft-christian-louboutin-unveils-a-new-store-on-rue-saint-honor'}}">
                From draft to craft: Christian Louboutin unveils a new store on rue Saint-Honoré
            </a>
        </div>
        <div class="read-more-article">
            <a title="From draft to craft: Christian Louboutin unveils a new store on rue Saint-Honoré" href="{{store url='from-draft-to-craft-christian-louboutin-unveils-a-new-store-on-rue-saint-honor'}}">
                Read the article >
            </a>
        </div>
    </div>
    <div class="second-half-article">
        <div class="image-background">
            <a title="From draft to craft: Christian Louboutin unveils a new store on rue Saint-Honoré" href="{{store url='from-draft-to-craft-christian-louboutin-unveils-a-new-store-on-rue-saint-honor'}}">
                <img class="From draft to craft: Christian Louboutin unveils a new store on rue Saint-Honoré" src="{{media url='cms/blog/200716_boutique_400_st_honore_03_ok.jpg'}}" alt="From draft to craft: Christian Louboutin unveils a new store on rue Saint-Honoré"/>
            </a>
        </div>
    </div>
</article>
