<article class="easycms-block blog-submenu-article">
    <div class="first-half-submenu">
        <div class="title-article">
            <a title="There’s only one Cabaraparis" href="{{store url='therea-s-only-one-cabaraparis'}}">
                There’s only one Cabaraparis
            </a>
            <div class="read-more-article">
                <a title="There’s only one Cabaraparis" href="{{store url='therea-s-only-one-cabaraparis'}}">
                    Read the article
                </a>
            </div>
        </div>
    </div>
    <div class="second-half-submenu">
        <div class="image-background">
            <a title="There’s only one Cabaraparis" href="{{store url='therea-s-only-one-cabaraparis'}}">
                <img class="img-article-src" src="{{media url='cms/blog/post_848_162_slider_cabaraparis_2.jpg'}}" alt=""/>
            </a>
        </div>
    </div>
</article>
