<div class="louboutinworld-container">
    <div class="bolt">&nbsp;</div>
    <div class="actualites-menu-title">
        <ul class="louboutinworld-column-trigger">
            <li id="blog-title">
                <a title="News" href="{{store url='news'}}">News</a>
            </li>
        </ul>
    </div>
    <div class="louboutinworld-right-container">
        <div class="news">
            <div class="louboutinworld-menu-news">
                <span class="louboutinworld-submenu-title">
                    <a title="News" href="{{store url='news'}}"> News </a>
                </span>
                <a class="all-articles-submenu" title="News" href="{{store url='news'}}"> All news </a>
                <div class="article-bloc-list">
                    <article class="easycms-block blog-submenu-article">
                        <div class="first-half-submenu">
                            <div class="title-article">
                                <a title="From draft to craft:  Christian Louboutin unveils a new store on rue Saint-Honoré" href="{{store url='from-draft-to-craft-christian-louboutin-unveils-a-new-store-on-rue-saint-honor'}}">
                                    From draft to craft:  Christian Louboutin unveils a new store on rue Saint-Honoré
                                </a>
                                <div class="read-more-article">
                                    <a title="From draft to craft:  Christian Louboutin unveils a new store on rue Saint-Honoré" href="{{store url='from-draft-to-craft-christian-louboutin-unveils-a-new-store-on-rue-saint-honor'}}">
                                        Read the article
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="second-half-submenu">
                            <div class="image-background">
                                <a title="From draft to craft:  Christian Louboutin unveils a new store on rue Saint-Honoré" href="{{store url='from-draft-to-craft-christian-louboutin-unveils-a-new-store-on-rue-saint-honor'}}">
                                    <img class="img-article-src" src="{{media url='cms/blog/post_854_162_200716_boutique_400_st_honore_03_ok.jpg'}}" alt=""/>
                                </a>
                            </div>
                        </div>
                    </article>
                    <article class="easycms-block blog-submenu-article">
                        <div class="first-half-submenu">
                            <div class="title-article">
                                <a title="There’s only one Cabaraparis" href="{{store url='therea-s-only-one-cabaraparis'}}">
                                    There’s only one Cabaraparis
                                </a>
                                <div class="read-more-article">
                                    <a title="There’s only one Cabaraparis" href="{{store url='therea-s-only-one-cabaraparis'}}">
                                        Read the article
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="second-half-submenu">
                            <div class="image-background">
                                <a title="There’s only one Cabaraparis" href="{{store url='therea-s-only-one-cabaraparis'}}">
                                    <img class="img-article-src" src="{{media url='cms/blog/post_850_162_slider_cabaraparis_2.jpg'}}" alt=""/>
                                </a>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
