<img title="Christian Louboutin presents his Fall-Winter 2020 collection" src="{{media url='cms/blog/0R5A4832.jpg'}}" alt="Christian Louboutin presents his Fall-Winter 2020 collection" width="800">
<p>Innovation, reinvention, and of course, a whole lot of surprises: as ever, Christian Louboutin's new season was made to keep us on our toes. Presenting his Fall-Winter 2020 collection at the École des Beaux Arts in Paris, the designer proved yet again that anything and everything can become a source of inspiration.</p>
<br><img title="Christian Louboutin presents his Fall-Winter 2020 collection" src="{{media url='cms/blog/0R5A4876.jpg'}}" alt="Christian Louboutin presents his Fall-Winter 2020 collection" width="800">
<p>Color was clearly a big theme this season and the set design took its cues from the collection’s fresh vibrant palette of candy blues, acid yellows and hot pinks. Presiding over proceedings stood Christian Louboutin himself, or rather a giant 6 metre-tall sculpture of his Wonder Loubi alter ego. Inspired by comic strips and Japanese manga art, the Wonder Loubi print was developed especially for the collection features the adventures of a cartoon Christian, complete with beret and of course, the Maison’s signature studded sneakers.</p>
<br><img title="Christian Louboutin presents his Fall-Winter 2020 collection" src="{{media url='cms/blog/0R5A4726.jpg'}}" alt="Christian Louboutin presents his Fall-Winter 2020 collection" width="800">
<br><img title="Christian Louboutin presents his Fall-Winter 2020 collection" src="{{media url='cms/blog/0R5A4887.jpg'}}" alt="Christian Louboutin presents his Fall-Winter 2020 collection" width="800">
<p>Celebrities and influencers alike including Ikram Abdi, Sita Abellan, Clara Berry, Courtney Trop, Heizle, Ami and Aya Suziki, were invited to get a sneak peek of the collection.</p>
<br><img title="Ikra Mabdi attending Christian Louboutin presentation of his Fall-Winter 2020 collection" src="{{media url='cms/blog/0R5A5756.jpg'}}" alt="Ikra Mabdi attending Christian Louboutin presentation of his Fall-Winter 2020 collection" width="800">
<p>Ikra Mabdi attending Christian Louboutin presentation of his Fall-Winter 2020 collection</p>
<br><img title="Ami and Aya Suzuki attending Christian Louboutin presentation of his Fall-Winter 2020 collection" src="{{media url='cms/blog/0R5A5926.jpg'}}" alt="Ami and Aya Suzuki attending Christian Louboutin presentation of his Fall-Winter 2020 collection" width="800">
<p><em>Christian Louboutin, Ami and Aya Suzuki at the Fall-Winter 2020 collection presentation</em></p>
<br><img title="Sita Abellan attending Christian Louboutin presentation of his Fall-Winter 2020 collection" src="{{media url='cms/blog/0R5A5221.jpg'}}" alt="Sita Abellan attending Christian Louboutin presentation of his Fall-Winter 2020 collection" width="800">
<p>Sita Abellan attending Christian Louboutin presentation of his Fall-Winter 2020 collection</p>
<br><img title="Heizle attending Christian Louboutin presentation of his Fall-Winter 2020 collection" src="{{media url='cms/blog/0R5A5050.jpg'}}" alt="Heizle attending Christian Louboutin presentation of his Fall-Winter 2020 collection" width="800">
<p>Heizle attending Christian Louboutin presentation of his Fall-Winter 2020 collection</p>
<br><img title="Courtney Trop attending Christian Louboutin presentation of his Fall-Winter 2020 collection" src="{{media url='cms/blog/0R5A4982.jpg'}}" alt="Courtney Trop attending Christian Louboutin presentation of his Fall-Winter 2020 collection" width="800">
<p>Courtney Trop attending Christian Louboutin presentation of his Fall-Winter 2020 collection</p>
<br><img title="Clara Berry attending Christian Louboutin presentation of his Fall-Winter 2020 collection" src="{{media url='cms/blog/0R5A5437.jpg'}}" alt="Clara Berry attending Christian Louboutin presentation of his Fall-Winter 2020 collection" width="800">
<p>Clara Berry attending Christian Louboutin presentation of his Fall-Winter 2020 collection</p>
<br><p>Bursting with innovative new silhouettes and reimagined classics, Fall-Winter 2020 will be available in May and promises to be another Christian Louboutin hit.</p>
<br><img title="Christian Louboutin presents his Fall-Winter 2020 collection" src="{{media url='cms/blog/0R5A5285.jpg'}}" alt="Christian Louboutin presents his Fall-Winter 2020 collection" width="800">
