<article class="easycms-block blog-article">
    <div class="first-half-article">
        <div class="date-article">
            <p>10.07.20</p>
        </div>
        <div class="title-article">
            <a title="There’s only one Cabaraparis" href="{{store url='therea-s-only-one-cabaraparis'}}">
                There’s only one Cabaraparis
            </a>
        </div>
        <div class="read-more-article">
            <a title="There’s only one Cabaraparis" href="{{store url='therea-s-only-one-cabaraparis'}}">
                Read the article >
            </a>
        </div>
    </div>
    <div class="second-half-article">
        <div class="image-background">
            <a title="There’s only one Cabaraparis" href="{{store url='therea-s-only-one-cabaraparis'}}">
                <img class="There’s only one Cabaraparis" src="{{media url='cms/blog/slider_cabaraparis_2.jpg'}}" alt="There’s only one Cabaraparis"/>
            </a>
        </div>
    </div>
</article>
