<div class="top-bar">
    <ul class="left">
        <li id="blog-title"><a title="Actualités" href="{{store url='news'}}">News</a></li>
        <li id="blog-article-title">Isn't about time you went Nude?</li>
    </ul>
</div>

