<div class="top-bar">
    <ul class="left">
        <li id="blog-title"><a title="Actualités" href="{{store url='news'}}">NEWS</a></li>
        <li id="blog-article-title">Christian Louboutin presents his Fall-Winter 2020 collection</li>
    </ul>
</div>

