<div class="top-bar">
    <ul class="left">
        <li id="blog-title"><a title="News" href="{{store url='news'}}">News</a></li>
        <li id="blog-article-title">There’s only one Cabaraparis</li>
    </ul>
</div>

