<article class="easycms-block blog-submenu-article">
    <div class="first-half-submenu">
        <div class="title-article">
            <a title="From draft to craft:  Christian Louboutin unveils a new store on rue Saint-Honoré" href="{{store url='from-draft-to-craft-christian-louboutin-unveils-a-new-store-on-rue-saint-honor'}}">
                From draft to craft:  Christian Louboutin unveils a new store on rue Saint-Honoré
            </a>
            <div class="read-more-article">
                <a title="From draft to craft:  Christian Louboutin unveils a new store on rue Saint-Honoré" href="{{store url='from-draft-to-craft-christian-louboutin-unveils-a-new-store-on-rue-saint-honor'}}">
                    Read the article
                </a>
            </div>
        </div>
    </div>
    <div class="second-half-submenu">
        <div class="image-background">
            <a title="From draft to craft:  Christian Louboutin unveils a new store on rue Saint-Honoré" href="{{store url='from-draft-to-craft-christian-louboutin-unveils-a-new-store-on-rue-saint-honor'}}">
                <img class="img-article-src" src="{{media url='cms/blog/post_854_162_200716_boutique_400_st_honore_03_ok.jpg'}}" alt=""/>
            </a>
        </div>
    </div>
</article>
