<p>Watch your head! The paint's just about dry and the décor is finally coming together…</p>
<br><img title="Christian Louboutin unveils a new store on rue Saint-Honoré" src="{{media url='cms/blog/200716_boutique_400_st_honore_03_ok.jpg'}}" alt="Christian Louboutin unveils a new store on rue Saint-Honoré" width="800">
<br><p>Welcome to Paris’ iconic Rue Saint-Honoré and Christian Louboutin’s newest boutique. Spread out over three floors and showcasing both men’s and women’s collections, the 260 square meters space’s unique concept reflects the Maison’s signature visual elements whilst nodding to the designer’s very first boutique in the Galerie Véro Dodat, opened in 1991. Red is of course omnipresent, arches punctuate and rhythm the spaces, and the mouldings and decorations are painted directly onto the walls. The boutique is almost ready to open its doors: all that’s missing now are the finishing touches.</p>
<br><img title="Christian Louboutin unveils a new store on rue Saint-Honoré" src="{{media url='cms/blog/200716_BOUTIQUE_400_ST_HONORE_02_ok.jpg'}}" alt="Christian Louboutin unveils a new store on rue Saint-Honoré" width="800">
<br><p>As a trompe l’oeil play, brush strokes are transformed into vermilion ceramic scales or mirrors, plinths & stelas are dressed in textured stucco and in places, the walls have only been painted up to eye-level. Elsewhere, abandoned ladders and artisans’ toolboxes left behind in a hurry have been hijacked to showcase the shoes of the new collection. In their haste, the craftsmen seem even to have forgotten to erase their measurements and other technical annotations.</p>
<p>Haloed in shades of vermilion, purple, nude and royal blue, the ground and first floors are home to the women's collections, whilst the second floor is dedicated to the men's collections.</p>
<br><img title="Christian Louboutin unveils a new store on rue Saint-Honoré" src="{{media url='cms/blog/200716_BOUTIQUE_400_ST_HONORE_01_ok.jpg'}}" alt="Christian Louboutin unveils a new store on rue Saint-Honoré" width="800">
<p>So dear to Christian Louboutin and yet unable to make it in person for the grand opening, stuffed animals like Abyssinian tigers, Siam elephants and lemurs from Madagascar are interspersed throughout the space in the form of varnished kraft paper replicas.</p>
<p>With only six replicas in the world, the Maison’s Levitibotta Strass boots will be showcased exclusively alongside the men’s and women’s collections of shoes and accessories, as will the new Nudes collection, for men and women.</p>
<br><img title="Christian Louboutin unveils a new store on rue Saint-Honoré" src="{{media url='cms/blog/200716_BOUTIQUE_400_ST_HONORE_VITRINE.jpg'}}" alt="Christian Louboutin unveils a new store on rue Saint-Honoré" width="800">
<p>Christian Louboutin store</p>
<p>400 rue Saint Honoré, Paris 1er</p>
