<img title="Isn't about time you went Nude?" src="{{media url='cms/blog/nudes_slider1.jpg'}}" alt="Isn't about time you went Nude?" width="800">
<br><br><p style="text-align: center;"><iframe width="560" height="315" src="https://www.youtube.com/embed/OCc8Tm1_4m0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
<br><p>Originally launched in 2013, the Nudes collection was a revolutionary concept from the onset. Creating the illusion of elongated legs, these hand-crafted pieces went against the status quo of ‘one shade of Nude fits all’, championing diversity and inclusivity in all its glory. Since then, the offer has continued to grow and today, the Nudes are back with eight skin-perfect shades. Débuting new styles for women, the collection sees the introduction of the first ever men’s silhouettes as well as two unisex styles.</p>
<br><p>Ideal for summer adventures, the first is the Pool Stud, its thick rubber soles and signature studs ideal for pool-side lounging. Back in the city, the Louis Junior low top sneaker keeps things chic with its pared back lines and sleek contours. Over on women’s, the Cheeky Point booty is sure to win hearts over, her mesh upper, patent toe cap and dainty bow bringing ladylike appeal and an elegant twist on the Nudes theme.</p>
<br><p>This season will also see three of the Maison’s most emblematic bag silhouettes getting the Nudes treatment, including the now iconic Elisa bag. Elsewhere, you can always count on the Nude LoubiLab bag to provide style on-the-go for both men and women with its signature studs and contrasting Louboutin red body strap.</p>
<br><p>With more reasons than ever to try the Nudes collection, isn’t it about time you went au naturel?</p>
