<div class="banner">
    <img src="{{media url=&quot;wysiwyg/banner-16.jpg&quot;}}" alt="" />
    <div class="banner-content left text-center">
        <div class="flex-column-center">
            <h1>Denim <br> Perfect</h1>
            <div class="percentage-label color-primary hidden-mobile">20 <span>% <span>off</span></span></div>
            <h3 class="hidden-mobile">Designed to fit, <br> flex & flatter</h3>
            <a class="action default" href="{{store url='shoes.html'}}">Shop Now</a>
        </div>
    </div>
</div>