<a href="{{store url='shoes.html'}}" class="banner offset-none">
    <img src="{{media url=&quot;wysiwyg/banner-9.jpg&quot;}}" alt="" />
    <div class="banner-content color-white text-center">
        <div class="row">
            <div class="col-m-3 flex-column-center border-right hidden-mobile">
                <h3 class="color-white">buy $49 get</h3>
                <div class="percentage-label">10 <span>% <span>off</span></span></div>
            </div>
            <div class="col-m-6">
                <h1 class="color-white"><span class="font-primary">Buy More, Save More!</span></h1>
                <span class="action default hidden-mobile">Shop Now</span>
            </div>
            <div class="col-m-3 flex-column-center border-left hidden-mobile">
                <h3 class="color-white">buy $79 get</h3>
                <div class="percentage-label">12 <span>% <span>off</span></span></div>
            </div>
        </div>
    </div>
</a>