<h4>My account</h4>
<div class="footer-col-content">
    <ul>
        <li><a href="{{store url='customer/account/login/'}}">Sign In</a></li>
        <li><a href="{{store url='checkout/cart/'}}">View Cart</a></li>
        <li><a href="{{store url='wishlist/'}}">My Wishlist</a></li>
        <li><a href="{{store url=""}}faq">FAQ</a></li>
    </ul>
</div>
