<h4>Contacts</h4>
<div class="footer-col-content contact-info">
    <p>E-mail: <a href="mailto:devofice@org.com">devofice@org.com</a></p>
    <p>Telephone: <strong><a href="callto:380023456789">+3(800) 2345-6789</a></strong></p>
    <p>9am to 10pm everyday</p>
</div>