<li><a href="{{store direct_url="about-us"}}">About Us</a></li>
<li><a href="{{store direct_url="customer-service"}}">Customer Service</a></li>
<li><a href="{{store url=""}}template-settings">Template Settings</a></li>