<div class="row text-center">
    <div class="col-xs-6">
        <a href="{{store url='women.html'}}" class="banner hovered">
            <img src="{{media url=&quot;wysiwyg/banner-10.jpg&quot;}}" alt="" />
            <div class="banner-content bottom">
                <h1 class="color-white">Go out in style</h1>
                <h3 class="color-white">From $24</h3>
                <span class="action default">shop now</span>
            </div>
        </a>
    </div>
    <div class="col-xs-6">
        <a href="{{store url='men.html'}}" class="banner hovered">
            <img src="{{media url=&quot;wysiwyg/banner-11.jpg&quot;}}" alt="" />
            <div class="banner-content bottom">
                <h3 class="color-white">A great choice of</h3>
                <h1 class="color-white">Accessories</h1>
                <span class="action default">shop now</span>
            </div>
        </a>
    </div>
</div>