<div class="row text-center">
    <div class="col-xs-6">
        <a href="{{store url='women.html'}}" class="banner hovered">
            <img src="{{media url=&quot;wysiwyg/banner-12.jpg&quot;}}" alt="" />
            <div class="banner-content bottom">
                <h1 class="color-white"><p class="font-primary">Hurry Up!</p> new women collection</h1>
                <span class="action default">shop now</span>
            </div>
        </a>
    </div>
    <div class="col-xs-6">
        <a href="{{store url='women.html'}}" class="banner hovered">
            <img src="{{media url=&quot;wysiwyg/banner-13.jpg&quot;}}" alt="" />
            <div class="banner-content bottom">
                <h1 class="color-white"><p class="font-primary">Summer Sale!</p> 50% off everything</h1>
                <span class="action default">shop now</span>
            </div>
        </a>
    </div>
</div>