<div class="container">
    <div class="row">
        <div class="col-xl-4">
            <div class="banner custom-banner">
                <div class="row">
                    <div class="col-xxs-6">
                        <h3>for him</h3>
                        <ul class="heading-6">
                            <li><a href="{{store url='men.html'}}">New Arrivals</a></li>
                            <li><a href="{{store url='men.html'}}">Clothing</a></li>
                            <li><a href="{{store url='shoes.html'}}">Shoes</a></li>
                            <li><a href="{{store url='accessories.html'}}">Accessories</a></li>
                            <li><a href="{{store url='sale.html'}}">Sale</a></li>
                        </ul>
                    </div>
                    <div class="col-xxs-6">
                        <h3>for her</h3>
                        <ul class="heading-6">
                            <li><a href="{{store url='women.html'}}">New Arrivals</a></li>
                            <li><a href="{{store url='women.html'}}">Clothing</a></li>
                            <li><a href="{{store url='shoes.html'}}">Shoes</a></li>
                            <li><a href="{{store url='accessories.html'}}">Accessories</a></li>
                            <li><a href="{{store url='sale.html'}}">Sale</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xxs-6 col-xl-4 order-xl-first">
            <a href="{{store url='men.html'}}" class="banner hovered">
                <span class="decoration-top primary"></span>
                <img src="{{media url=&quot;wysiwyg/banner-14.jpg&quot;}}" alt="" />
            </a>
        </div>
        <div class="col-xxs-6 col-xl-4">
            <a href="{{store url='women.html'}}" class="banner hovered">
                <span class="decoration-bottom secondary"></span>
                <img src="{{media url=&quot;wysiwyg/banner-15.jpg&quot;}}" alt="" />
            </a>
        </div>
    </div>
</div>