<?php
// @codingStandardsIgnoreFile

/* @var $block \Magento\Customer\Block\Account\Link */
?>
<a class="opt my-account" title="<?php echo __('My account'); ?>" href="<?php /* @escapeNotVerified */ echo $block->getHref(); ?>">
    <span><?php echo __('My account'); ?></span>
</a>
