<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2020 Amasty (https://www.amasty.com)
 * @package Amasty_Acart
 */
?>
<?php
// phpcs:ignore
$_helper = $this->helper(\Magento\Catalog\Helper\Output::class);
?>
<?php if ($block->getQuote()): ?>
    <table cellspacing="0" cellpadding="0" border="0" style="width: 100%;">
        <tr>
            <?php
            $items = $block->getItems();
            $i = 0;
            foreach ($items as $_item):
                $i++ ?>
            <?php $_product = $block->getProduct($_item); ?>

            <td width="34%" style=" <?= (count($items) == $i && $i >1 && $i % 2 == 1)? 'position: relative; left: 24%;' : 'padding: 0.714em;' ?>">
                <?php if ($block->showImage()): ?>
                    <?php $block->initProductImageHelper($_product, 'amasty_acart_items_table'); ?>
                    <?php $_imageHelper = $block->getProductImageHelper(); ?>
                    <div>
                    <div style="vertical-align: top; width: 100%; text-align: center;">
                        <a style="text-decoration:none !important;"
                           href="<?= $block->escapeUrl($block->getProductUrl($_product)); ?>">
                            <img src="<?= $block->escapeUrl($block->prepareProductImageUrl($_imageHelper->getUrl())) ?>"
                                 alt="<?= $block->escapeHtml($_imageHelper->getLabel()) ?>"
                                 width="<?= $block->escapeHtml($_imageHelper->getWidth()) ?>"
                                 height="<?= $block->escapeHtml($_imageHelper->getHeight()) ?>"/>
                        </a>
                    </div>
                <?php endif; ?>
                <div style="text-align: center">
                    <a style="text-decoration:none !important; text-transform: uppercase; font-size: 0.7em;
                        color: #000;" href="<?= $block->escapeUrl($block->getProductUrl($_product)); ?>">
                        <?= /* @noEscape */ $_helper->productAttribute($_product, $_product->getName(), 'name') ?>
                    </a>
                </div>
                </div>
                <?php if ($block->showOptionList() && $_options = $block->getProductOptions($_item, $_product)): ?>
                    <dl>
                        <?php foreach ($_options as $_option): ?>
                            <?php $_formatedOptionValue = $block->getFormatedOptionValue($_option) ?>
                            <dt style="float: left; clear: left; padding-right: 5px;"><?= $block->escapeHtml($_option['label']) ?>:
                            </dt>
                            <dd style="float: left;">
                                <?php if (isset($_formatedOptionValue['full_view'])): ?>
                                    <?= /* @noEscape */ $_formatedOptionValue['full_view'] ?>
                                <?php else: ?>
                                    <?=  /* @noEscape */ $_formatedOptionValue['value'] ?>
                                <?php endif; ?>
                            </dd>
                        <?php endforeach; ?>
                    </dl>
                <?php endif; ?>
                <div style="clear: left;">
                    <?php if ($block->showDescription()): ?>
                        <?= /* @noEscape */ $_helper->productAttribute($_product, $_product->getDescription(), 'description') ?>
                    <?php endif; ?>
                </div>
                <div>
                    <?php if ($block->showPrice()): ?>
                        <span style="padding-right: 5px; font-weight: 700; margin-bottom: 5px; margin-top: 0;"><?= $block->escapeHtml(__('Price')) ?>: </span>
                        <span style="font-size: 1.8rem; color: #666666;">
                        <?= /* @noEscape */ $block->getPrice($_product); ?>
                    </span>
                    <?php endif; ?>
                </div>
            </td>

                <?php if ($i % 2 == 0): ?>
        </tr>
        <tr>
            <?php endif; ?>
            <?php endforeach; ?>
        </tr>
    </table>
<?php endif; ?>
