<!-- ko if: showAppliedBlock() -->
    <div class="gift-wrapping-summary">
        <!-- ko if: getObservable('activeWrappingLabel')() -->
            <span class="gift-wrapping-name" data-bind="i18n: getObservable('activeWrappingLabel')()"></span>
        <!-- /ko -->

        <!-- ko if: getObservable('printedCard')() && levelIdentifier == 'orderLevel' -->
            <div>
                <span data-bind="i18n: 'Printed card'"></span>
            </div>
        <!-- /ko -->
        <!-- ko if: getObservable('giftReceipt')() && levelIdentifier == 'orderLevel' -->
            <div>
                <span class="label" data-bind="i18n: 'Gift receipt'"></span>
            </div>
        <!-- /ko -->
    </div>
<!-- /ko -->
