<?php /** @var $block Magento\LayeredNavigationStaging\Block\Navigation */ ?>
<?php /** @var $categoryHelper Project\Catalog\Helper\Category */ ?>
<?php $categoryHelper  = $this->helper('Project\Catalog\Helper\Category'); ?>
<?php $currentCategory = $block->getLayer()->getCurrentCategory(); ?>

<div class="listing-top">
    <?php if(!$currentCategory || !$categoryHelper->isCategoryCmsOnlyView($currentCategory)): ?>
        <?php echo $block->getChildHtml('breadcrumbs'); ?>
        <?php if ($block->canShowBlock() && $categoryHelper->hasProductCollection($currentCategory->getId(), $currentCategory->getProductCollection())): ?>
            <div class="block filter" id="layered-filter-block" data-mage-init='{"catalogFilters":{"openedState": "active", "collapsible": true, "active": false, "collateral": { "openedState": "filter-active", "element": "body" } }}'>
                <?php $filtered = count($block->getLayer()->getState()->getFilters()) ?>
                <div class="block-title filter-title" data-count="<?php /* @escapeNotVerified */ echo $filtered; ?>">
                    <strong data-role="title"><?php /* @escapeNotVerified */ echo __('Filters') ?></strong>
                </div>
                <div class="block-content filter-content">
                    <?php echo $block->getChildHtml('state') ?>

                    <?php $wrapOptions = false; ?>

                    <?php foreach ($block->getFilters() as $filter): ?>
                        <?php if ($filter->hasAttributeModel() && $filter->getItemsCount()): ?>
                            <?php if (!$wrapOptions): ?>
                                <strong role="heading" aria-level="2" class="block-subtitle filter-subtitle"><?php /* @escapeNotVerified */ echo __('Shopping Options') ?></strong>
                                <div class="filter-options" id="narrow-by-list" data-role="content" data-mage-init='{"accordion":{"openedState": "active", "collapsible": true, "active": false, "multipleCollapsible": false}}'>
                                <?php  $wrapOptions = true; ?>
                            <?php endif; ?>
                                    <?php /* @escapeNotVerified */ echo $block->getChildBlock('renderer')->render($filter); ?>
                        <?php endif; ?>
                    <?php endforeach; ?>

                    <?php if ($block->getLayer()->getState()->getFilters()): ?>
                        <div class="block-actions filter-actions">
                            <a href="<?php /* @escapeNotVerified */ echo $block->getClearUrl() ?>" class="action clear filter-clear"><span><?php /* @escapeNotVerified */ echo __('Delete all active filters') ?></span></a>
                        </div>
                    <?php endif; ?>

                    <?php if ($wrapOptions): ?>
                        </div>
                    <?php else: ?>
                        <script>
                            require([
                                'jquery'
                            ], function ($) {
                                $('#layered-filter-block').addClass('filter-no-options');
                            });
                        </script>
                    <?php endif; ?>
                </div>
            </div>
        <?php endif; ?>
    <?php endif; ?>
</div>
