<?php /** @var \Project\Rma\Block\Adminhtml\Rma\Edit\Tab\General\Pickup $block */ ?>

<?php $pickupDates = $block->getPickupDates(); ?>
<div class="admin__page-section-item pickup-date-details" id="pickup-date-details-block">
    <div class="admin__page-section-item-content">
        <?php if (!empty($pickupDates)) : ?>
            <?php foreach ($pickupDates as $key => $date) : ?>
                <div class="admin__field admin__field-option">
                    <input type="radio" value="<?php echo $date; ?>"
                           class="admin__control-radio"
                           name="pickup_date" id="pickup_date:<?php echo $key; ?>"
                           <?php echo ($block->getRmaData('pickup_date') === $date) ? 'checked="checked"' : ''; ?>
                    />
                    <label class="admin__field-label" for="pickup_date:<?php echo $key; ?>"><?php echo $date; ?></label>
                </div>
            <?php endforeach; ?>
            <div class="admin__field admin__field-option">
                <input type="radio" value="access_point"
                       class="admin__control-radio"
                       name="pickup_date" id="pickup_date:access_point"
                />
                <label class="admin__field-label" for="pickup_date:access_point"><?php echo __('Access Point'); ?></label>
            </div>
        <?php else : ?>
            <p><?php echo __('Not applicable'); ?></p>
        <?php endif; ?>
    </div>
</div>
