<?php /** @var \Project\Rma\Block\Adminhtml\Rma\Edit\Tab\General\Properties $block */ ?>

<div class="admin__page-section-item rma-properties-details" id="rma-properties-details-block">
    <div class="admin__page-section-item-content">
        <table class="admin__table-secondary">
            <tr>
                <th><label for="rma_category"><?php echo __('Category') ?></label></th>
                <td>
                    <select name="rma_category" id="rma_category" class="admin__control-select">
                        <?php foreach ($block->getCategories() as $category): ?>
                            <option value="<?php echo $category['value']; ?>"><?php echo $category['label']; ?></option>
                        <?php endforeach; ?>
                    </select>
                </td>
            </tr>
            <tr>
                <th><label for="rma_priority"><?php echo __('Priority') ?></label></th>
                <td>
                    <select name="rma_priority" id="rma_priority" class="admin__control-select">
                        <?php foreach ($block->getPriorities() as $priority): ?>
                            <option value="<?php echo $priority['value']; ?>"><?php echo $priority['label']; ?></option>
                        <?php endforeach; ?>
                    </select>
                </td>
            </tr>
            <tr>
                <th><label for="rma_stock_code"><?php echo __('Stock Code') ?></label></th>
                <td>
                    <select name="rma_stock_code" id="rma_stock_code" class="admin__control-select">
                        <?php foreach ($block->getStockCodes() as $stockCode): ?>
                            <option value="<?php echo $stockCode['value']; ?>"><?php echo $stockCode['label']; ?></option>
                        <?php endforeach; ?>
                    </select>
                </td>
            </tr>
        </table>
    </div>
</div>
