<?php
/**
 * @var \Project\Rma\Block\Adminhtml\Rma\Create\Tab\General\RmaAddress $block
 */

?>
<div class="admin__page-section-item order-shipping-address">
    <div class="admin__page-section-item-title">
        <span class="title"><?php echo __('Order Shipping Address') ?></span>
        <?php if ($block->getOrderShippingAddress()) : ?>
        <div class="actions"><?php echo $block->getAddressEditLink(); ?></div>
        <?php endif ?>
    </div>
    <?php if ($block->getOrderShippingAddress()) : ?>
        <div class="admin__page-section-item-content">
            <address><?php echo $block->getOrderShippingAddress() ?></address>
            <input type="hidden" name="new_shipping" value='<?php echo $block->getShippingAddressJson(); ?>'>
        </div>
    <?php endif ?>
</div>
