<?php /** @var $block Magento\Framework\View\Element\Template */ ?>
<div class="info-box-wrapper no-display" id="infobox-banner">
    <div class="info-box">
        <?php echo $block->getChildHtml('info.box.content'); ?>

        <span class="close">&nbsp;</span>
    </div>
</div>

<script type="text/x-magento-init">
    {
        "#infobox-banner": {
            "infoBox": {
            }
        }
    }
</script>