<?php
/**
 * Copyright © Zemez, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/**
 * Product price wrapper template
 *
 * @var $block \Magento\Catalog\Block\Product\View
 */
?>

<?php
$product = $block->getProduct();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$currency = $objectManager->get('Magento\Framework\Pricing\PriceCurrencyInterface');
?>

<meta itemprop="mpn" content="<?= $block->escapeHtml($product->getSku()) ?>" />
<span class="no-display" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    <meta itemprop="price" content="<?= $block->escapeHtmlAttr($product->getFinalPrice()) ?>" />
    <meta itemprop="priceCurrency" content="<?= $block->escapeHtmlAttr($currency->getCurrency()->getCurrencyCode()) ?>" />
    <meta itemprop="availability" content="<?= $block->escapeHtmlAttr($product->isAvailable() ? 'InStock' : 'OutOfStock') ?>" />
    <meta itemprop="priceValidUntil" content="<?= $block->escapeHtmlAttr($product->getSpecialToDate() ? $product->getSpecialToDate() : '') ?>" />
    <meta itemprop="url" content="<?= $block->escapeHtmlAttr($product->getProductUrl()) ?>" />
</span>
