
<!-- ko foreach: { data: options, as: 'option' } -->
<input type="radio"
       class="radio"
       data-validate="{'validate-one-required-by-name':true}"
       data-bind="checked: element.value,
           event: {change: function(event) {
                element._onChange(event);
           }},
           attr: {
                name: element.inputName,
                id: element.inputName + '_' + option.value,
                value: option.value
           }"/>

<label data-bind="
        attr: {
            for: element.inputName + '_' + option.value,
        },
        text: option.label
    "></label>

<!--/ko-->

<span data-bind="uniqueName: radioReady()"></span>