<?php
/**
 * Copyright © Zemez, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var Magento\Customer\Block\Account\Customer $block */
?>

<div class="customer-account<?php if($block->customerLoggedIn()) : ?> logged<?php endif; ?>">
    <?php if ($block->getChildHtml()) :?>
        <div class="customer-menu" data-target="dropdown">
            <?= $block->getChildHtml() ?>
        </div>
    <?php endif; ?>
</div>
