<?php
/**
 * @see \Magento\Rma\Block\Adminhtml\Rma\Edit\Tab\General
 */
?>
<script>
    require(['prototype', 'Magento_Rma/rma'], function () {
        window.rma = new AdminRma();
    });
    require(['Magento_Rma/details-validator'], function () {});
</script>

<section class="admin__page-section">
    <div class="admin__page-section-title">
        <span class="title"><?= /* @escapeNotVerified */ __('Order &amp; Account Information') ?></span>
    </div>
    <div class="admin__page-section-content">
        <?= $block->getChildHtml('request_details') ?>

        <?php if ($block->getChildHtml('shipping_method')): ?>
            <?= $block->getChildHtml('shipping_method') ?>
        <?php endif; ?>
    </div>
</section>

<section class="admin__page-section">
    <div class="admin__page-section-title">
        <span class="title"><?= /* @escapeNotVerified */ __('RMA Properties') ?></span>
    </div>
    <div class="admin__page-section-content">
        <?= $block->getChildHtml('rma_properties') ?>
    </div>
</section>

<section class="admin__page-section">
    <div class="admin__page-section-title">
        <span class="title"><?= /* @escapeNotVerified */ __('Address Informations') ?></span>
    </div>
    <div class="admin__page-section-content">
        <?= $block->getChildHtml('shipping_address') ?>

        <?= $block->getChildHtml('return_address') ?>
    </div>
</section>

<section class="admin__page-section">
    <div class="admin__page-section-title">
        <span class="title"><?= /* @escapeNotVerified */ __('Pickup date') ?></span>
    </div>
    <div class="admin__page-section-content">
        <?= $block->getChildHtml('pickup_date') ?>
    </div>
</section>

<section class="admin__page-section">
    <div class="admin__page-section-title">
        <span class="title"><?= /* @escapeNotVerified */ __('Return Totals') ?></span>
    </div>
    <div class="admin__page-section-content">
        <?= $block->getChildHtml('comments_history') ?>

        <?= $block->getChildHtml('return_confirmation') ?>
    </div>
</section>
