// /**
//  * Copyright © Zemez, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */
@import 'module/_listings.less';
@import 'module/_grid.less';
@import 'module/_list.less';
@import 'module/_toolbar.less';
@import 'module/_compare.less';
@import 'module/_product-page.less';
@import 'module/_sidebar.less';

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .price-box {
        font-size: 14px;
        font-weight: 600;
        color: @color-default;

        .price-label {
            display: none !important;
        }

        p {
            display: inline-block;
            margin-bottom: 0;
        }

        .price-from {
            &:after {
                content: ' -';
            }
        }
    }

    .old-price,
    .old.price {
        text-decoration: line-through;
        font-weight: 300;
        color: @color-light;
    }

    .special-price {
        color: @color-primary;
    }

    .prices-tier {
        .price-container {
            .price-including-tax {
                + .price-excluding-tax {
                    &:before {
                        content: '(' attr(data-label) ': ';
                    }

                    &:last-child:after {
                        content: ')';
                    }
                }
            }

            .weee[data-label] {
                display: inline;

                .price {
                    .lib-font-size(11);
                }

                &:before {
                    content: ' +' attr(data-label) ': ';
                }
            }
        }
    }

    .actual-price {
        font-weight: @font-weight__bold;
    }

    .category-wrapper {
        margin-top: 22px;
        background-color: @color-lightest;

        .container {
            position: relative;
            padding-top: 30px;
            padding-bottom: 30px;
        }

        .category-image {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 50%;
            display: flex;
            align-items: flex-end;
            justify-content: center;

            @media (max-width: (@screen__xs - 1)) {
                display: none;
            }
        }

        .page-title-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-bottom: 0;
            text-align: left;

            .page-title {
                font-size: 26px;
                font-weight: 700;
                text-transform: none;
            }
        }

        .category-description {
            color: #828282;
            line-height: 1.5;
        }

        * + .category-description {
            margin-top: 9px;
        }

        @media (min-width: @screen__xs) {
            .category-image + .page-title-wrapper {
                min-height: 150px;
                padding-right: 54%;
            }
        }
    }

    .category-image {
        .image {
            display: block;
            height: auto;
            max-width: 100%;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

}

//
//  Desktop
//  _____________________________________________

& when (@media-target = 'desktop') {
    .category-wrapper {
        .page-title-wrapper {
            .page-title {
                font-size: 34px;
            }
        }

        .category-description {
            font-size: 14px;
        }

        .category-image + .page-title-wrapper {
            min-height: 230px;
        }
    }
}