<ul class="contact">
    <li>
        <a class="tel btn" href="tel:0800 945 804 - OPTION 2">
            <span class="icon icon-i8"></span>
            <span class="text">0800 945 804 - OPTION 2</span>
        </a>
    </li>
    <li>
        <a class="mail btn" href="mailto:eboutique.europe@christianlouboutin.fr">
            <span class="icon icon-i13"></span>
            <span class="text">Nous contacter</span>
        </a>
    </li>
</ul>
<ul class="footer-links-mobile">
    <li><a href="{{store url=''}}stopfake" target="_blank">Stopfake</a></li>
    <li><a href="{{store url=''}}product-care">Conseils d'entretien</a></li>
    <li><a href="{{store url=''}}terms-use">CGU</a></li>
    <li><a href="{{store url=''}}policy">Confidentialité</a></li>
</ul>
