<!-- ko if: isActive() -->
<div class="gift-message">
    <div class="gift-options-title">
        <span data-bind="i18n: 'Gift Message (optional)'"></span>
    </div>
    <div class="gift-options-content">
        <fieldset class="fieldset">
            <div class="field field-from">
                <label for="gift-message-whole-from" class="label">
                    <span data-bind="i18n: 'From:'"></span>
                </label>
                <div class="control">
                    <input type="text"
                           id="gift-message-whole-from"
                           class="input-text"
                           data-bind="value: getObservable('sender')">
                </div>
            </div>

            <div class="field field-to">
                <label for="gift-message-whole-to" class="label">
                    <span data-bind="i18n: 'To:'"></span>
                </label>
                <div class="control">
                    <input type="text"
                           id="gift-message-whole-to"
                           class="input-text"
                           data-bind="value: getObservable('recipient')">
                </div>
            </div>
            <div class="field text">
                <label for="gift-message-whole-message" class="label">
                    <span data-bind="i18n: 'Message:'"></span>
                </label>
                <div class="control">
                    <textarea id="gift-message-whole-message"
                              class="input-text"
                              rows="5" cols="10"
                              data-bind="value: getObservable('message'),
                              attr: {maxlength: window.giftOptionsConfig.giftMessage.messageMaxLength}">
                    </textarea>
                    <span><!-- ko text: $t('%1 Characters maximum').replace('%1', window.giftOptionsConfig.giftMessage.messageMaxLength) --><!-- /ko --></span>
                </div>
            </div>
        </fieldset>
    </div>
</div>
<!-- /ko -->
<div class="actions-toolbar">
    <div class="secondary">
        <button type="submit" class="action secondary action-update" data-bind="
                    attr: {title: $t('CONFIRM')},
                    click: $data.submitOptions.bind($data)">
            <span data-bind="i18n: 'CONFIRM'"></span>
        </button>
        <button class="action action-cancel" data-bind="
                    attr: {title: $t('Cancel')},
                    click: $data.hideFormBlock.bind($data)">
            <span data-bind="i18n: 'Cancel'"></span>
        </button>
    </div>
</div>
