<div class="discover-pages discover-beauty">
    <div class="easycms-block topbox-video">
        <div class="video-container">{{widget type="Project\Core\Block\Widget\Video" video_url="https://player.vimeo.com/external/233968824.hd.mp4?s=9d3d534a3e2aaabbcb729a122a4c3f34259c2861&profile_id=175" video_placeholder_text="Defaut video label"}} <img src="{{media url='cms/page/trouble-in-heaven/trouble_in_heaven_1200x800.jpg'}}" alt="" />
            <div class="play-button"><span>Watch the video</span></div>
            <div class="mute-button"></div>
        </div>
        <p class="easycms-line-break"> </p>
    </div>
    <div class="title-mauve scroll-notvisible"><span>TROUBLE IN HEAVEN</span></div>
    <div class="fragrance-introduction scroll-notvisible">
        <p>Trouble in Heaven. Puissante. Impérieuse. Séductrice. A la fois mystérieuse et franche tandis que l'ambre vénéneuse fait résonner les notes de patchouli et que l'absolu de tonka entretient des <i>liaisons dangereuses</i> avec l'iris. Brûlante et sexy, fascinante, Trouble in Heaven attise le désir.</p>
    </div>
    <div class="product-image-link mauve with-text scroll-notvisible">
        <div class="image"><img src="{{media url='cms/page/trouble-in-heaven/TROUBLE_IN_HEAVEN_30ML_BOX_DISCOVER.jpg'}}" /></div>
        <div class="text">
            <div class="title">Parfum</div>
            <p>Le parfum est construit comme on appréhende une note de piano. D'abord le "ping", la première note du parfum comme la frappe de la touche sur la corde d’un piano, suivie d'une longue résonance, écho de la note qui se prolonge.</p>
            <div class="price">CHF 160,00</div>
            <a href="{{store url=''}}">ACHETER TROUBLE IN HEAVEN</a></div>
    </div>
    <div class="product-image-link mauve with-text reverse scroll-notvisible">
        <div class="image"><img class="half-width" src="{{media url='cms/page/trouble-in-heaven/product-large3-2.jpg'}}" /></div>
        <div class="text">
            <div class="title">L'Huile de Parfum</div>
            <p>L'huile de parfum est le rituel de beauté le plus raffiné pour découvrir Trouble In Heaven. <br>Une véritable caresse sur la peau, cette huile de parfum rehausse l'indulgence et la sensualité de l'expérience de la fragrance. Conçue pour une application en massage, elle sublime le plaisir sensuel du toucher.</p>
            <div class="price">CHF 320,00</div>
            <a href="{{store url=''}}">ACHETER TROUBLE IN HEAVEN</a></div>
    </div>
    <div class="highlighted-link scroll-notvisible"><a href="{{store url=''}}discover-fragrance.html">Découvrez les Parfums</a></div>
    <div class="louboutin-separator">
        <div class="image"><img src="{{media url='cms/page/bikini-questa-sera/red-sole.svg'}}" /></div>
    </div>
    <div class="discover-navigation scroll-notvisible">
        <div class="left">
            <div class="image"><a href="{{store url=''}}tornade-blonde.html"><img src="{{media url='cms/page/trouble-in-heaven/product-large1.jpg'}}" /></a></div>
            <div class="highlighted-link red"><a href="{{store url=''}}tornade-blonde.html">Tornade Blonde</a></div>
        </div>
        <div class="right">
            <div class="highlighted-link orange"><a href="{{store url=''}}bikini-questa-sera.html">Bikini Questa Sera</a></div>
            <div class="image"><a href="{{store url=''}}bikini-questa-sera.html"><img src="{{media url='cms/page/trouble-in-heaven/product-large2.jpg'}}" /></a></div>
        </div>
    </div>
</div>