<?php
// @codingStandardsIgnoreFile

/**
 * @var \Magento\Theme\Block\Html\Header\Logo $block
 */
?>
<?php if($block->isHomePage()): ?>
    <h1>
<?php endif; ?>
<a class="header-logo noel" href="<?php echo $block->getUrl(''); ?>">
<!--    <img class="layers christian" src="--><?php //echo $block->getViewFileUrl('Magento_Theme::images/header-logo-layer-christian.svg'); ?><!--" alt="Christian Louboutin"/>-->
<!--    <img class="layers louboutin" src="--><?php //echo $block->getViewFileUrl('Magento_Theme::images/header-logo-layer-louboutin.svg'); ?><!--" alt="Christian Louboutin"/>-->
<!--    <img class="layers christian" src="--><?php //echo $block->getViewFileUrl('Magento_Theme::images/header-logo.svg'); ?><!--" alt="Christian Louboutin"/>-->
    <img src="<?php echo $block->getViewFileUrl('Magento_Theme::images/noel_logo.png'); ?>" alt="Christian Louboutin"/>
</a>
<?php if($block->isHomePage()): ?>
    </h1>
<?php endif; ?>
<div class="logo-wrp">
    <div>
        <a href="<?php /*echo $block->getUrl(''); */?>" class="logo-trigger"></a>
<!--        <svg class="logo-shape" version="1.1" xmlns="http://www.w3.org/2000/svg" width="158px" height="158px" viewBox="0 0 200 200" preserveAspectRatio="none"></svg>-->
    </div>
</div>
<a class="header-logo-minimal noel-minimal" href="<?php echo $block->getUrl(''); ?>">
<!--    <img src="--><?php //echo $block->getViewFileUrl('Magento_Theme::images/header-logo-minimal-v2.png'); ?><!--" alt="Christian Louboutin"/>-->
    <img src="<?php echo $block->getViewFileUrl('Magento_Theme::images/noel_logo.png'); ?>" alt="Christian Louboutin"/>
</a>
