@backinstock__popup__maxwidth: 560px;

& when (@media-common = true) {
    .block.backInStock-content {
        display: none;
        width: 100%;
        margin: 0;

        .messages {
            display: none;
        }

        .intro {
            margin-bottom: 30px;
            font-size: @font-size_15;
        }
        .h2 {
            margin: 0 0 40px;
            font-family: @font-family-name__frutiger;
            font-size: @font-size_14;
            font-weight: @font-weight__regular;
            line-height: initial;
            text-transform: uppercase;
            letter-spacing: 1px;
        }

        .fieldset {
            margin: 0 0 20px;
        }
        .field {
            margin: 0 0 30px;

            .input-text {
                padding: 12px 20px 14px;
            }
        }

        .actions {
            margin-top: 30px;
            text-align: right;

            .action.register {
                border-radius: 3px;
            }
        }

        .legalText{
            margin-top: 1.25em;
            text-align: justify;
        }

        #more {
            display: none;
            text-align: justify;
        }

        #moreLink{
            font-weight: bold;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .popup-backInStock .modal-inner-wrap {
        max-width : @backinstock__popup__maxwidth;
    }
    .block.backInStock-content {
        .field {
            margin: 0 10px 30px;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .popup-backInStock .modal-inner-wrap {
        max-width : initial;
    }
}