& when (@media-common = true) {
    .social-share {
        padding: 0 25px;

        .social-list {
            .lib-vendor-prefix-display();
            .lib-css(justify-content, center, 1);
            list-style: none;
            margin: 0 0 20px;
            padding: 15px 0 10px;
            border-bottom: solid 1px @color-grey;

            li {
                padding: 0 22px 0 0;

                &:last-child {
                    padding: 0;
                }

                &.line-share {
                    padding-top: 4px;
                }
                .icon-facebook {
                    .lib-project-icon(
                        @_icon-font-content: @icon-project-facebook-full,
                        @_icon-font-size: @font-size_28,
                        @_icon-font-color: @color-blue-facebook
                    );
                }
                .icon-twitter {
                    .lib-project-icon(
                        @_icon-font-content: @icon-project-twitter-full,
                        @_icon-font-size: @font-size_28,
                        @_icon-font-color: @color-blue-twitter
                    );
                }
                .icon-pinterest {
                    .lib-project-icon(
                        @_icon-font-content: @icon-project-pinterest-full,
                        @_icon-font-size: @font-size_28,
                        @_icon-font-color: @color-red-pinterest
                    );
                }
            }
        }
    }
}


.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .social-share {
        padding: 0;
    }
}