//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .page-products .page-main {
        .listing-top {
            max-width: @listing-products-top-max-width;
            margin: 0 auto 35px;
            padding: 0 20px;
            box-sizing: border-box;
            .lib-clearer();

            .breadcrumbs {
                display: block;
                float: left;
                margin: 0;
                padding: 17px 0 21px; /* make the breadcrumb block the same height as block filter titles */
            }
            .block.filter {
                display: block;
                float: right;
                margin: 0;
            }
        }
        .toolbar {
            margin: 0;
        }
    }

    .filter {
        &.block {
            margin-bottom: 0;
        }

        .block-subtitle {
            border-bottom: @border-width__base solid @border-color__base;
            font-size: @font-size__base;
            font-weight: @font-weight__semibold;
            line-height: 1em;
            padding: @indent__s @indent__s @indent__base;
        }

        &-subtitle {
            display: none;
        }

        &-current {
            margin: 0;

            .items {
                padding: @indent__xs @indent__s;
            }

            .item {
                padding-left: 17px;
                position: relative;
                z-index: 1;
            }

            .filter &-subtitle {
                border: none;
                display: block;
                padding-bottom: @indent__s;
            }

            .action.remove {
                &:extend(.abs-remove-button-for-blocks all);
                left: -2px;
                position: absolute;
                top: -1px;
            }
        }

        &-actions {
            margin-bottom: @indent__m;
            padding: 0 @indent__s;
        }

        &-label {
            font-weight: @font-weight__bold;

            &:after {
                content: ': ';
            }
        }

        &-value {
            .lib-css(color, @filter-quantity);
        }

        &-options {
            display: none;
            margin: 0;

            &-item {
                padding-bottom: @indent__s;
            }

            &-title {
                cursor: pointer;
                font-weight: @font-weight__semibold;
                margin: 0;
                overflow: hidden;
                padding: @indent__s @indent__s + 30px 0 @indent__s;
                position: relative;
                text-transform: uppercase;
                word-break: break-all;
                z-index: 1;

                .lib-icon-font(
                    @_icon-font-content: @icon-project-triangle-down,
                    @_icon-font: @font-family-name__project_icons,
                    @_icon-font-size: @font-size_7,
                    @_icon-font-position: after,
                    @_icon-font-display: block
                );

                &:after {
                    position: absolute;
                    right: 13px;
                    top: 12px;
                }

                &:hover {
                    .lib-css(color, @filter-link-hover);
                }

                .active > & {
                    &:after {
                        .lib-css(transform, rotate(180deg), 1);
                    }
                }
            }

            &-content {
                margin: 0;
                padding: @indent__s;

                .item {
                    line-height: 1.5em;
                    margin: @indent__s 0;
                }
                a {
                    .lib-css(color, @filter-link);

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
    body {
        &.filter-active {
            .columns {
                z-index: 999;
            }
        }
        &.catalog-category-view .category-view {
            margin-bottom: 0;
        }
    }

    .page-products .page-main .listing-top {
        display: flex;
        flex-direction: column-reverse;
        .breadcrumbs {
            float: none;
            padding: 18px 0 0 40px;
        }
        .block.filter {
            padding: 12px 0;

            &.active {
                padding: 0 0 12px;
                float: none;
                box-shadow: 0 15px 20px -6px rgba(190, 190, 190, 0.5);
                margin: 0;
                border-bottom: 1px solid #DDD;
            }
        }
    }
    .block.filter.active {
        margin: 0; // override review module style on .block elements
    }
    .filter-title {
        text-align: right;
        cursor: pointer;

        strong {
            display: inline-block;
            padding: 10px 17px;
            .lib-font-family(@font-family-name__gillsans);
            font-weight: @font-weight__light;
            color: @color-black;
            font-size: @font-size_13;
            letter-spacing: 2px;

            &:after {
                content: '';
                display: inline-block;
                margin-left: 10px;
                vertical-align: middle;

                background: url('@{baseDir}Magento_Catalog/images/filter-icon.png') 0 0;
                width: 17px;
                height: 16px;
            }
        }
    }


    .filter {
        &.active {
            /* PANEL IS OPEN */
            background: @color-white;

            .filter-title {
                position: fixed;
                top: 100px;
                right: 9px;
                height: 40px;
                padding: 0;
                z-index: 2;

                strong {
                    .lib-project-icon(
                        @_icon-font-content: @icon-project-close-small,
                        @_icon-font-color: @color-louboutin-red,
                        @_icon-font-size: @font-size_20,
                        @_icon-font-position: after
                    );
                    position: static;
                    background: none;
                    border: 0;
                    left: auto;
                    right: 3px;
                    top: 10px;
                    padding: 7px 24px 7px 10px;
                    .lib-font-family(@font-family-name__gillsans);
                    font-weight: @font-weight__bold;
                    color: @color-louboutin-red;
                    letter-spacing: 2px;
                    cursor: pointer;
                    .lib-css(box-shadow, none);

                    &:after {
                        margin-left: 13px;
                        background: none;
                        width: auto;
                        height: auto;
                    }
                }
            }

            .filter-current {
                display: none;
                margin: 0;
                border: solid @color-grey;
                border-width: 1px 0;

                strong {
                    padding: 10px 40px 12px 10px;

                    &:before {
                        right: 13px;
                    }
                }
            }
            .filter-subtitle {
                display: none;
            }

            .filter-options {
                display: block;
                padding: 0 20px 0;
                .lib-css(background, @color-white);

                .filter-options-item {

                    .filter-options-title {
                        padding: 10px 40px 12px 0;
                        border-bottom: solid 1px @color-grey;
                        .lib-font-family(@font-family-name__gillsans);
                        font-weight: @font-weight__semibold;
                        letter-spacing: 1px;
                        font-size: @font-size_14;
                        color: @color-black;
                        text-transform: none;
                        .lib-css(user-select, none, 1);
                    }
                    .filter-options-content {
                        padding: 20px 10px 10px;
                    }
                }
            }

            .filter-actions {
                text-align: right;
                padding: 15px 13px 10px 10px;

                a {
                    .lib-font-family(@font-family-name__gillsans);
                    font-size: @font-size_14;
                    color: @color-black;
                }
            }
        }
    }

    .filter .filter-current {
        display: none;
    }

    .filter-no-options {
        .filter-title {
            &:before {
                background: rgba(255,255,255,.5);
                content: '';
                display: block;
                height: 40px;
                left: -15px;
                margin-top: -60px;
                position: relative;
                width: 100px;
                z-index: 99;
            }
        }

        .filter-content {
            margin-bottom: @indent__base;
        }
    }

    .page-with-filter {
        .columns {
            .sidebar-main {
                .lib-vendor-prefix-order(0);
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {

    .filter {
        &-title {
            display: none;
        }

        &-content {
            text-align: right;
        }

        &-actions {
            display: block;
            margin: 0 37px 0 0;
            padding: 0;

            .filter-clear {
                &,
                &:hover,
                &:active,
                &:visited {
                    .lib-font-family(@font-family-name__gillsans);
                    font-weight: @font-weight__light;
                    font-size: @font-size_11;
                    line-height: 1em;
                    letter-spacing: 1px;
                    color: @color-black;
                }
            }
        }

        &-current {
            display: none;
        }

        &.active &-options,
        &-options {
            background: transparent;
            clear: both;
            display: block;
            overflow: initial;
            position: static;
        }
        &-options {
            display: inline-block;
            font-size: 0;

            &-item {
                padding-bottom: 0;
                .lib-font-family(@font-family-name__gillsans);
                font-weight: @font-weight__light;
                font-size: @font-size_12;
                line-height: 1em;
                letter-spacing: 1px;
                color: @color-black;

                .filter-options-title {
                    padding: 23px 32px 25px 16px;
                    border: solid 1px transparent;
                    border-bottom: 0;
                    box-sizing: border-box;
                    font-weight: @font-weight__light;
                    text-transform: none;
                    background: @color-white;
                    .lib-css(user-select, none, 1);

                    .lib-project-icon(
                        @_icon-font-content: @icon-project-triangle-down,
                        @_icon-font-size: @font-size_7,
                        @_icon-font-position: after
                    );

                    &:after {
                        top: 50%;
                        right: 10px;
                        .lib-css(transform, translateY(-50%), 1);
                    }
                }

                &.active .filter-options-title {
                    position: relative;
                    z-index: 3;
                    border: solid 1px @color-grey-four;
                    border-bottom: none;
                }

                .filter-options-content {
                    position: absolute;
                    top: 60px;
                    right: 0;
                    width: 300px; // default value, can be override attribute by attribute
                    z-index: 2;
                    padding: 30px 20px;
                    border: 1px solid @color-grey-four;
                    letter-spacing: 2px;
                    background: @color-white;
                    color: @color-black-title;
                    text-transform: none;
                    visibility: hidden;
                    text-align: left;

                    .item a {
                        margin: 0;
                        padding: 0;

                        &,
                        &:active,
                        &:focus,
                        &:hover {
                            background: none;
                        }
                    }
                }
            }
        }

        &-subtitle {
            display: block;
            position: static;
        }
    }

    .page-layout-1column {
        .toolbar-products {
            position: absolute;
            top: 0;
            width: 100%;
        }

        .products ~ .toolbar-products {
            position: static;
        }

        &.page-with-filter .column.main {
            position: relative;
            z-index: 1;
        }

        .filter {
            &-subtitle {
                display: none;
            }

            &-options {
                &-item {
                    border: 0;
                    display: inline-block;
                    margin-right: @indent__m;
                    position: relative;

                    &.active {
                        z-index: 2;

                        .filter-options-content {
                            visibility: visible;
                        }

                        &:hover {
                            z-index: 3;
                        }
                    }
                }

                &-content {
                    .item {
                        margin: 0;

                        a {
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }
}
