<!-- Need to rewrite this sentences here to fix knockout bug with i18n: getObservable('') -->
<span data-bind="i18n: 'Gift wrapping'"></span>
<span data-bind="i18n: 'No wrap'"></span>
<span data-bind="i18n: 'Gift Wrapping for Order'"></span>