<?php
/** @var $block \Magento\Rma\Block\Adminhtml\Rma\Edit\Tab\General\History */
// syno : removed visible on storefront checkbox
?>
<div class="admin__page-section-item order-comments-history" id="rma-history-block">
    <div class="admin__page-section-item-title">
        <span class="title"><?= /* @escapeNotVerified */ __('RMA History') ?></span>
    </div>
    <div class="admin__page-section-item-content">
        <div id="history_form" class="rma-history-form edit-order-comments">
            <div class="admin__field">
                <label class="admin__field-label" for="history_comment">
                    <span><?= /* @escapeNotVerified */ __('Comment Text') ?></span></label>
                <div class="admin__field-control">
                    <textarea name="comment[comment]"
                        class="admin__control-textarea"
                        rows="3"
                        cols="5"
                        id="history_comment"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
