
& when (@media-target = 'mobile') {
    // Product Brand
    .product-brand {
        margin-top: 20px;

        .label {
            color: @color-light;
        }

        .product-brand-name {
            font-weight: 600;
            text-transform: uppercase;
        }

        .product-brand-logo {
            margin-top: 10px;
        }
    }
}
