<div class="discover-pages discover-beauty">
    <div class="easycms-block topbox-video">
        <div class="video-container">
            {{widget type="Project\Core\Block\Widget\Video"
                     video_url="https://player.vimeo.com/external/233968513.hd.mp4?s=bcdea8f23daf3e4b33789f184b36638a1698a876&profile_id=175"
                     video_placeholder_text="Defaut video label"}}
            <img src="{{media url='cms/page/bikini-questa-sera/bikini_questa_sera_1200x800.jpg'}}" alt="" />
            <div class="play-button"><span>Watch the video</span></div>
            <div class="mute-button"></div>
        </div>
        <p class="easycms-line-break"> </p>
    </div>
    <div class="title-orange scroll-notvisible"><span>パルファン ビキニケスタセラ</span></div>
    <div class="fragrance-introduction scroll-notvisible">
        <p>「ビキニケスタセラ」は、豪華で贅沢な⾹り。情熱、太陽で⽕照った肌がゴールドに輝く⽇中の時間、それから太陽が⽔平線の向こうにすっと消えゆき、ひんやりとした夜が⽬を覚ます時間。そんな移りゆく時を「ビキニケスタセラ」の⾹りと共に感じて。「ビキニケスタセラ」の太陽の⾹りは、昼が夜に変わるとともに、官能的な⼥性の⾹りへと変貌します。陶酔のチュベローズの⾹りと華やかなジャスミンの⾹りが重なり合い、官能的で深く濃密に感覚にアプローチします。</p>
    </div>
    <div class="product-image-link with-text scroll-notvisible">
        <div class="image"><img src="{{media url='cms/page/bikini-questa-sera/BIKINI_QUESTA_SERA_30ML_BOX_DISCOVER.jpg'}}" /></div>
        <div class="text">
            <div class="title">パフューム</div>
            <p>パフュームオイルは、クリスチャンが“単音”と表現するユニークな香りの構築を奏でるのが特徴。ピアノの鍵盤を⼀つだけ叩き、単音が鳴ったかと思うと、音が反響して重なりあうように、最初の香りが弾けたあとに美しい余韻が続くのです。</p>
            <div class="price">￥20,520</div>
            <a href="{{store url=''}}">パルファン ビキニケスタセラ</a></div>
    </div>
    <div class="product-image-link with-text reverse scroll-notvisible">
        <div class="image"><img class="half-width" src="{{media url='cms/page/bikini-questa-sera/product-large2-2.jpg'}}" /></div>
        <div class="text">
            <div class="title">パフュームオイル</div>
            <p>贅沢なスタイルで体験することができるパフュームオイル　ビキニケスタセラ。このパフュームオイルは、女性が香りを纏う手法としてはこの上なく官能的で、気ままであり、そのフェミニティに酔いしれるように、肌と戯れます。肌に触れる貴重なオイルの魔⼒によって、纏う女性にとって何ともパーソナルな香りを生み出します。</p>
            <div class="price">￥47,520</div>
            <a href="{{store url=''}}">パルファン ビキニケスタセラ</a></div>
    </div>
    <div class="highlighted-link scroll-notvisible"><a href="{{store url=''}}discover-fragrance.html">パフュームを見る</a></div>
    <div class="louboutin-separator">
        <div class="image"><img src="{{media url='cms/page/bikini-questa-sera/red-sole.svg'}}" /></div>
    </div>
    <div class="discover-navigation scroll-notvisible">
        <div class="left">
            <div class="image"><a href="{{store url=''}}trouble-in-heaven.html"><img src="{{media url='cms/page/bikini-questa-sera/product-large3.jpg'}}" /></a></div>
            <div class="highlighted-link red"><a href="{{store url=''}}trouble-in-heaven.html">パルファン トラブルインヘヴン</a></div>
        </div>
        <div class="right">
            <div class="highlighted-link mauve"><a href="{{store url=''}}tornade-blonde.html">パルファン トルネードブロンド</a></div>
            <div class="image"><a href="{{store url=''}}tornade-blonde.html"><img src="{{media url='cms/page/bikini-questa-sera/product-large1.jpg'}}" /></a></div>
        </div>
    </div>
</div>