<div class="discover-pages discover-fragrance">
    <div class="main-title"><span>Discover</span>
        <h1>Parfums</h1>
    </div>
    <div class="easycms-block topbox-video">
        <div class="video-container">{{widget type="Project\Core\Block\Widget\Video" video_url="https://player.vimeo.com/external/231566363.hd.mp4?s=154e3f7080d7a48acbfc57aca51f0bde2edfe491&amp;profile_id=175" video_placeholder_text="Defaut video label"}}<img src="{{media url='cms/page/discover-fragrance/bikini_questa_sera_1200x800.jpg'}}" alt="" />
            <div class="play-button"><span>Watch the video</span></div>
            <div class="mute-button"></div>
        </div>
        <p class="easycms-line-break"> </p>
    </div>
    <div class="fragrance-introduction scroll-notvisible">
        <p>正確には、⼥性はたったひとりのパーソナリティではないだろう。”Who is she? ― 彼⼥は誰？” その時々によって、違う⼥性になれる。愛する恋⼈の顔でいるかと思えば、次の瞬間、少⼥のような表情もみせる。⽇々働き、⼈⽣を楽しんでいる⼥性たち。今⽇は、デートに⾏く？ならば、⾃分⾃⾝を主張したいのか？誰かに印象を残したいのか？はたまた我を忘れたいのか？それかもっとフェミニンな気分になりたいのか？― ”Who is she?”</p>
    </div>
    <div class="title-orange scroll-notvisible"><span>パルファン ビキニケスタセラ</span></div>
    <div class="image-left-text-right scroll-notvisible"><figure><img src="{{media url='cms/page/discover-fragrance/bikini_questa_sera_1200x800.jpg'}}" alt="" /><figcaption>Behind the scene of the film Bikini Questa Sera</figcaption></figure>
        <div class="text">
            <p>「ビキニケスタセラ」は、豪華で贅沢な⾹り。情熱、太陽で⽕照った肌がゴールドに輝く⽇中の時間、それから太陽が⽔平線の向こうにすっと消えゆき、ひんやりとした夜が⽬を覚ます時間。そんな移りゆく時を「ビキニケスタセラ」の⾹りと共に感じて。</p>
        </div>
    </div>
    <div class="product-image-link scroll-notvisible"><img src="{{media url='cms/page/discover-fragrance/BIKINI_QUESTA_SERA_30ML_BOX_DISCOVER.jpg'}}" /> <a href="{{store url=''}}bikini-questa-sera.html">詳しく見る</a></div>
    <div class="title-orange scroll-notvisible"><span>パルファン トルネードブロンド</span></div>
    <div class="image-left-text-right reverse scroll-notvisible"><figure><img src="{{media url='cms/page/discover-fragrance/tornade_blonde_800x1200.jpg'}}" alt="" /><figcaption>Behind the scene of the film Tornade Blonde</figcaption></figure>
        <div class="text">
            <p>「トルネードブロンド」は、抑えられない欲望にまるで悩殺されてしまう⾹り。都会的でモダンなその⾹りは、⼼のありさまを表しています。カシスとバイオレットリーフのフレッシュな⾹りで幕を開けた官能のストーリーは、移り⾏きフェミニンなブルガリアン・ローズの花の⾹りでうっとりととろけてしまう。</p>
        </div>
    </div>
    <div class="product-image-link reverse scroll-notvisible"><img src="{{media url='cms/page/discover-fragrance/TORNADE_BLONDE_30ML_BOX_DISCOVER.jpg'}}" /> <a href="{{store url=''}}tornade-blonde.html">詳しく見る</a></div>
    <div class="title-mauve scroll-notvisible"><span>パルファン トラブルインヘヴン</span></div>
    <div class="image-left-text-right scroll-notvisible"><figure><img src="{{media url='cms/page/discover-fragrance/trouble_in_heaven_1200x800.jpg'}}" alt="" /><figcaption>Behind the scene of the film Trouble In Heaven</figcaption></figure>
        <div class="text">
            <p>「トラブルインヘヴン」は、パワフルで誘惑されずにはいられない魅惑の⾹り。ミステリアスで、誰もが魅せられ酔わされてしまうセクシーな⾹りは、アンバーとパチュリ、トンカビーン・アブソリュート、そしてアイリスといった濃厚な⾹りの共鳴により、⼆⼈の距離を危険なまでにぎゅっと密着させる。</p>
        </div>
    </div>
    <div class="product-image-link mauve scroll-notvisible"><img src="{{media url='cms/page/discover-fragrance/TROUBLE_IN_HEAVEN_30ML_BOX_DISCOVER.jpg'}}" /> <a href="{{store url=''}}trouble-in-heaven.html">詳しく見る</a></div>
    <div class="quote scroll-notvisible">
        <div class="desktop">
            <p>香水には何か特別な魅力があると思います。香ったと思うとすぐに余韻に変わります。こちらに向かって歩いてくる女性がいるとします。あなたはすれ違いざまに彼女に目を向けますが、彼女は行ってしまいます。そこには彼女のレッドソールと香水の香りの余韻だけが残されているのです。クリスチャン・ルブタン</p>
            <span class="signature">Christian Louboutin</span></div>
        <div class="mobile">
            <p>Christian Louboutin fragrances has its own unique personality, what unites them is Christian’s idea behind their construction.</p>
        </div>
    </div>
</div>