<div class="discover-pages discover-red" data-parallax="true" data-parallax-mobile="false" data-parallax-breakpoint="(min-width: 1025px)">
    <div class="loader"></div>
    <div class="section shoe-text-block"
         data-100-top-top=""
         data-bottom-bottom="">
        <div class="section-content">
            {{block class="Magento\Framework\View\Element\Template" template="Project_Beauty::shoe.phtml"}}
            <div class="text">
                <div class="text-content">
                    <h1>クリスチャン ルブタンの<br>フェミニティを新たな高みへ</h1>
                    <p>重厚なガラス製のボトルは17～18世紀にかけてヨーロッパ建築に見られた古典的な手すりのデザインからインスパイア。キャップは、クリスチャンルブタンの中で最も高いヒールの2007年のデザイン、'the Ballerina Ultima'をイメージして作られました。</p>
                     <span class="icon"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="section nail-block">
        <div class="image">
            <img src="{{media url='cms/page/discover-red/giant_bottle.png'}}"
                 alt="Giant bottle"
                 data--100-bottom-top="bottom: 93%;"
                 data-100-top-bottom="bottom: -130%;"
                 data-anchor-target=".nail-block"
            />
        </div>
    </div>

    <div class="section shoes-wheel-block"
         data-35-top-top=""
         data-top-bottom="">

        <div class="left-bottle">
            <div class="bottle-box"
                 data-35-top-top=""
                 data--10p-top-bottom=""
                 data-anchor-target=".shoes-wheel-block .left-bottle"
            >
                <img src="{{media url='cms/page/discover-red/bottle_spike.png'}}"
                     class="bottle-spike"
                     alt="Bottle spike"
                     data-35-top-top="top: 0px"
                     data-bottom-bottom="top: -673px"
                     data-anchor-target=".shoes-wheel-block .left-bottle"
                />
                <span class="brush-drop"
                      data-35-top-top="top: 0px"
                      data-bottom-bottom="top: -673px"
                      data-anchor-target=".shoes-wheel-block .left-bottle">
                    <img src="{{media url='cms/page/discover-red/bottle_brush.png'}}"
                         class="bottle-brush"
                         alt="Bottle brush"

                    />
                    <img src="{{media url='cms/page/discover-red/bottle_drop.png'}}"
                         class="bottle-drop"
                         alt="Bottle drop"
                         data--95p-top-top="transform: translateY(0%);"
                         data-60-bottom-bottom="transform: translateY(125%);"
                         data-anchor-target=".shoes-wheel-block .left-bottle"
                    />
                </span>

                <img src="{{media url='cms/page/discover-red/bottle_body.png'}}"
                     class="bottle-body"
                     alt="Bottle body"
                     data-35-top-top="top: -59px"
                     data-bottom-bottom="top: 1000px"
                     data-anchor-target=".shoes-wheel-block .left-bottle"
                />
            </div>
        </div>

        <div class="fake-container"
             data--133p-top-top="transform: translate3d(0, 240%, 0);"
             data--290p-top-top="transform: translate3d(0, 395%, 0);"
             data-anchor-target=".shoes-wheel-block"></div>

        <div class="red-block"
             data-bottom-bottom=""
             data--10-bottom-bottom=""
             data-anchor-target=".shoes-wheel-block .left-bottle">

            <div class="red-block-container"
                 data-top-top=""
                 data-bottom-bottom=""
                 data-anchor-target=".shoes-wheel-block">

                <div class="circle-container">
                    <div class="circle">
                        <div class="text-icon">
                            <div class="icon"></div>
                            <div class="text">あらゆる肌色に映える <br />時空を超えた色、<br />”ルージュルブタン”</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="shoes-wheel">
            <div class="image-rotate">
                <img src="{{media url='cms/page/discover-red/shoes_wheel.png'}}" alt="Shoes wheel" />
            </div>
        </div>
    </div>

    <div class="section red-background-image-block"
         data-35-top-top=""
         data-bottom-bottom="">

        <div class="section-content">
            <div class="red-quote"
                 data-35-top-top="transform: translateX(-100%);"
                 data-bottom-bottom="transform: translateX(0)"
                 data-anchor-target=".red-background-image-block">
                <div class="paragraph">
                    <p>赤いマニキュアの一塗りから始まった、クリスチャン ルブタンのレッドソール。<br>かつで靴がマニキュアから受けた恩恵をビューティにお返ししようと考えました。</p>
                    <p>Christian Louboutin<br />クリスチャン・ルブタン</p>
                </div>
            </div>
            <div class="nail-background"
                 data-35-top-top="transform: translateX(0%);"
                 data-bottom-bottom="transform: translateX(25%)"
                 data-anchor-target=".red-background-image-block">
                <img src="{{media url='cms/page/discover-red/nail-background.jpg'}}" alt="Image" />
            </div>
        </div>
    </div>

    <div class="section video-block">
        <div class="video">
            <div class="iframe">
                <iframe src="//player.vimeo.com/video/100803196?color=FFFFFF"
                        width="850"
                        height="477"
                        frameborder="0"
                        webkitallowfullscreen
                        mozallowfullscreen
                        allowfullscreen>
                </iframe>
            </div>
            <p>ルージュ ルブタン ショート フィルム by <span>David Lynch</span></p>
        </div>
        <div class="link">
            <a href="{{store url=''}}">
                <img src="{{media url='cms/page/discover-red/btn_discover.png'}}" alt="Rouge Louboutin" />
                <span>ルージュ ルブタンを見る <span class="icon"></span></span>
            </a>
        </div>
    </div>
</div>