<div class="discover-pages discover-lips" data-parallax="true" data-parallax-mobile="false">
    <div class="loader"></div>
    <div class="easycms-block topbox-video">
        <div class="video-container-lips video-lips">
            <img src="{{media url='cms/page/discover-lips/scrolldown_arrow.svg'}}" class="arrow"/>
            {{widget type="Project\Core\Block\Widget\Video"
                     video_url="https://player.vimeo.com/external/134201341.hd.mp4?s=9c58cb30bcbea7ba818034c13a3dc95b&profile_id=113"
                     video_placeholder_text="Defaut video label"}}
            <div class="video-text">
                <img src="{{media url='cms/page/discover-lips/poster.png'}}" />
                <span class="text-title">Rouge Louboutin<br />リップカラー</span>
                <p class="list">3つの質感</p>
                <ul>
                    <li>シアーヴォワル</li>
                    <li>シルキーサテン</li>
                    <li>ベルベットマット</li>
                </ul>
                <p>あらゆる肌色に映える時空を超えた赤</p>
            </div>
        </div>
        <p class="easycms-line-break"> </p>
    </div>

    {{block class="Magento\Framework\View\Element\Template" template="Project_Beauty::lips.phtml"}}

    <div class="posters-products">
        <div class="poster-product block-silky-satin" data-90-top-top="opacity: 1" data--90-top-bottom="opacity: 1">
            <div class="poster-container">
                <div class="poster"></div>
                <div class="product">
                    <div class="product-content">
                        <div class="product-category">シルキーサテン</div>
                        <div class="product-name">リップカラー</div>
                        <div class="product-image"><img src="{{media url='cms/page/discover-lips/lipstick_satin.png'}}"/></div>
                        <div class="product-description">
                            <p>超微粒子のピグメントをリッチに配合したなめらかな質感の深く濃厚なカラー。ミディアム～フルカバレッジ。</p>
                            <p>全20色</p>
                        </div>
                        <a href="{{store url ='beauty/lips/silky-satin.html'}}" class="product-link">シルキー サテン リップカラーはこちら</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="poster-product block-velvet-matte reverse" data-90-top-top="opacity: 1" data--90-top-bottom="opacity: 1">
            <div class="poster-container">
                <div class="poster" data--50p-top-top="transform: translateY(-90%);" data-90-top-bottom="transform: translateY(0);" data-anchor-target=".block-silky-satin"></div>
                <div class="product" data--120p-top-top="transform: translateY(-18%);" data-90-top-bottom="transform: translateY(0);" data-anchor-target=".block-silky-satin">
                    <div class="product-content">
                        <div class="product-category">ベルベットマット</div>
                        <div class="product-name">リップカラー</div>
                        <div class="product-image"><img src="{{media url='cms/page/discover-lips/lipstick_matte.png'}}" /></div>
                        <div class="product-description">
                            <p>発色が良くスエードのような仕上がりとしっとりとした唇を実現。フルカバレッジ。長時間保湿、乾燥を防ぐ。</p>
                            <p>全13色</p>
                        </div>
                        <a href="{{store url ='beauty/lips/velvet-matte.html'}}" class="product-link">ベルベットマット リップカラーはこちら</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="poster-product block-sheer-voile" data-90-top-top="opacity: 1" data-100p-top-bottom="opacity: 1;">
            <div class="poster-container">
                <div class="poster" data--50p-top-top="transform: translateY(-90%);" data-90-top-bottom="transform: translateY(0);" data-anchor-target=".block-velvet-matte"></div>
                <div class="product" data--120p-top-top="transform: translateY(-18%);" data-90-top-bottom="transform: translateY(0);" data-anchor-target=".block-velvet-matte">
                    <div class="product-content">
                        <div class="product-category">シアーヴォワル</div>
                        <div class="product-name">リップカラー</div>
                        <div class="product-image"><img src="{{media url='cms/page/discover-lips/lipstick_sheer.png'}}" /></div>
                        <div class="product-description">
                            <p>輝きのあるグロッシーな仕上がり。滑らかでクリーミーな質感。</p>
                            <p>全9色</p>
                        </div>
                        <a href="{{store url ='beauty/lips/sheer-voile.html'}}" class="product-link">シアーヴォワル リップカラーはこちら</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="block-art">
        <div class="block-art-content">
            <div class="image"><img src="{{media url='cms/page/discover-lips/backstage.jpg'}}" /></div>
            <div class="text">
                <div class="title">Unique Object d'art and desire</div>
                <p>デザイナーであり、クリエイターでもあるクリスチャン・ルブタンにとって、リップカラーは女性のための魔法の杖。キーホルダーや爪やすりの間に押し込まれるのではなく、クリスチャン ルブタン リップ カラーは忘れ去られたものから貴重なジュエリーへと変化を遂げたのです。</p>
            </div>
        </div>
    </div>

    <div class="block-loubilaque">
        <div class="content">
            <div class="title">ルビラック</div>
            <a href="{{store url=''}}">_Discover</a>
        </div>
    </div>

    <div class="lip-definer">
        <div class="content">
            <div class="lip-block">
                <div class="lip-content">
                    <img src="{{media url='cms/page/discover-lips/lip-definer-open.png'}}" class="lip" />
                    <img src="{{media url='cms/page/discover-lips/lip-definer-open-cap.png'}}" class="cap" />
                </div>
            </div>
            <div class="text">
                <div class="title">リップ ディファイナー</div>
                <p>くちびるを完璧に彩るためにデザインされた芸術品のようなアイテム。唇のもつ肌色にあわせることですべてのリップカラーになじみます。</p>
                <p>全5色</p>
                <a href="{{store url=''}}">詳しく見る</a>
            </div>
        </div>
    </div>
</div>