<div class="discover-pages discover-eyes">
    <div class="bloc-video-title">
        <div class="easycms-block topbox-video">
            <div class="video-container mobile-not-mute">
                {{widget type="Project\Core\Block\Widget\Video"
                video_url="https://player.vimeo.com/external/209911922.sd.mp4?s=37b6b65ba9bb76e1129725cd9e13aa498cc307b8&profile_id=165"
                video_placeholder_text="Defaut video label"}}
            </div>
            <p class="easycms-line-break"> </p>
        </div>
        <h1 class="title">レズュノワール</h1>
        <div class="subtitle">アイメイク・コレクション</div>
    </div>
    <div class="block-quote">
        <p>目がいかに表現豊かであるか、私は常に魅了されてきた。目には生命が宿っている。その表現力を高めてくれるのがメイクアップだ。</p>
        <p class="author">Christian Louboutin</p>
    </div>
    <div class="block-paragraph">
        <p>クリスチャン ルブタンより目の表現力をパワーアップさせるアイメイクというカテゴリーが登場。クリスチャンらしいディテールへのこだわり、そして強烈にリッチな色彩と官能的な使用感を融合させたアイメイク・コレクションです。贅沢な重厚感、スレンダーなシェイプが印象的、まるでカリグラフィーの筆をすべらせるように正確なアプリケーションと官能的なジェスチャーをもたらします。クリスチャン ルブタンのアイメイク・コレクションは、インパクトのある目もとをつくり、表現力をプラスして、眼差しを極めることができるよう巧みに設計されています。</p>
    </div>
    <div class="block-product lash scroll-notvisible">
        <div class="image">
            <img src="{{media url='cms/page/discover-eyes/lash-amplifying-lacquer.png'}}" alt="マスカラ" />
        </div>
        <div class="content">
            <h2 class="product-title">
                <img src="{{media url='cms/page/discover-eyes/les-yeux-noirs-jp.jpg'}}" alt="Les Yeux Noirs" />
            </h2>
            <h3 class="product-name">マスカラ</h3>
            <ul class="colors">
                <li class="khol"><a href="{{store url=''}}">コオル</a></li>
                <li class="sevillana"><a href="{{store url=''}}">セヴィジャーナ</a></li>
                <li class="rouge-louboutin"><a href="{{store url=''}}">ルージュルブタン</a></li>
            </ul>
            <p class="description">まつ毛をドラマティックにボリュームアップさせるだけでなく、長さを出しながら、上向きにカールします。インパクトのあるゴージャスなルックに欠かせない要素をすべて盛り込んだマスカラ。ダマになりにくく、にじみにくいスミアプルーフ処方で、ムラなく重ね塗りすることが可能。高濃度にピグメントを配合して、鮮やかな発色と輝きに満ちた仕上がりが持続します。長短の異なる突起を交互に配置した独自設計のブラシは、スムースかつ正確にマスカラをのせることができ、どんなに短いまつ毛も確実に捉え、持ち上げたり、形を整えたり、思い通りの仕上がりを実現します。</p>
            <a class="link" href="{{store url=''}}">レズュノワールを見る</a>
        </div>
    </div>
    <div class="block-images">
        <div class="granulated-image">
            <img src="{{media url='cms/page/discover-eyes/sect1-img-sm.jpg'}}" alt="Image 1" />
        </div>
        <div class="not-granulated-image">
            <img src="{{media url='cms/page/discover-eyes/sect1-img-lg.jpg'}}" alt="Image 2" />
        </div>
    </div>
    <div class="block-product liner scroll-notvisible">
        <div class="image">
            <img src="{{media url='cms/page/discover-eyes/luminous-ink-liner.png'}}" alt="リキッドアイライナー" />
        </div>
        <div class="content">
            <h2 class="product-title">
                <img src="{{media url='cms/page/discover-eyes/oeil-vinyle-jp.jpg'}}" alt="Oeil Vinyle" />
            </h2>
            <h3 class="product-name">リキッドアイライナー</h3>
            <ul class="colors">
                <li class="khol"><a href="{{store url=''}}">コオル</a></li>
                <li class="rouge-louboutin"><a href="{{store url=''}}">ルージュルブタン</a></li>
                <li class="lady-twist"><a href="{{store url=''}}">レディツイスト</a></li>
            </ul>
            <p class="description">ブランドのシグネチャーのひとつ、艶やかなパテントレザーの風合いから着想を得て、仕上がりの質感に取り入れたリキッドアイライナー。グロッシーな光沢を放つ優れた発色のインクが、迫力あるラインを描きます。柔らかくフレキシブルなテクスチャーの処方で、アプリケーションは思いのまま。ムラなく均一なラインをひくことができ、ヨレにくく、にじみにくいスマッジプルーフ処方でクリアなラインを長時間キープします。色調には、クリスチャン ルブタンのアイコニックカラーであるルージュ ルブタンもラインアップ。</p>
        </div>
    </div>
    <div class="block-quote">
        <p>「目を開いてれば、『私は聞いています。ちゃんと見ています』とい意思表示になるし、目を閉じれば『私に耳を傾けて。私を見て』という表現になる。パーソナリティーは目を通して伝わるもの」 とクリスチャンは話します。</p>
    </div>
    <div class="block-product definer scroll-notvisible">
        <div class="image">
            <img src="{{media url='cms/page/discover-eyes/velvet-eye-definer.png'}}" alt="アイディファイナー" />
        </div>
        <div class="content">
            <div class="product-title">
                <img src="{{media url='cms/page/discover-eyes/oeil-velours-jp.jpg'}}" alt="Oeil Velours" />
            </div>
            <h3 class="product-name">アイディファイナー</h3>
            <ul class="colors">
                <li class="khol"><a href="{{store url=''}}">コオル</a></li>
                <li class="deep-teal"><a href="{{store url=''}}">ディープティール</a></li>
                <li class="zoulou"><a href="{{store url=''}}">ズウルウ</a></li>
                <li class="hot-chick"><a href="{{store url=''}}">ホットチック</a></li>
                <li class="fierce"><a href="{{store url=''}}">フィアス</a></li>
            </ul>
            <p class="description">ピグメントリッチな処方で、正確なアプリケーションと、さまざまなルックを叶えるなめらかな描き心地を兼ね備えたアイライナー。古代エジプトのファラオたちが用いた濃厚な墨のライナーのように大胆な発色で、色移りせずに仕上がりが長時間持続します。スレンダーで重厚感のあるボディは、最高の使いやすさを実現する長さに設計されています。ゴージャスなマットブラックでコーティングされたボディには、ゴールドのキャップがついており、非常に手の凝んだスタイルと雰囲気のデザインです。シャープナー付属で、いつでも正確なアプリケーションを実現します。</p>
            <a class="link" href="{{store url=''}}">オイユヴルールを見る</a>
        </div>
    </div>
    <div class="block-images">
        <div class="not-granulated-image">
            <img src="{{media url='cms/page/discover-eyes/sect3-img-lg.jpg'}}" alt="Image 1" />
        </div>
        <div class="granulated-image">
            <img src="{{media url='cms/page/discover-eyes/sect3-img-sm.jpg'}}" alt="Image 2" />
        </div>
    </div>
    <div class="block-product brow-definer scroll-notvisible">
        <div class="image">
            <img src="{{media url='cms/page/discover-eyes/brow-definer-image.png'}}" alt="Bro Definer" />
        </div>
        <div class="content">
            <h2 class="product-title">
                <img src="{{media url='cms/page/discover-eyes/brow-definer-jp.jpg'}}" alt="Bro Definer" />
            </h2>
            <ul class="colors">
                <li class="brunette"><a href="{{store url=''}}">ブルネット</a></li>
                <li class="auburn"><a href="{{store url=''}}">オーバーン</a></li>
                <li class="taupe"><a href="{{store url=''}}">トープ</a></li>
                <li class="blonde"><a href="{{store url=''}}">ブロンド</a></li>
            </ul>
            <p class="description">眉毛をしっかりと描いたり、形を整えたり、隙間に色を埋め込んだり、多様な使い方ができるアイブロウ用ペンシル。柔らかな芯でなめらかな使い心地。マットな仕上がりでカバー力が高く、眉毛を狙い通りに整えることができ、仕上がりが長時間持続します。眉毛の流れをつくったり、色をぼかしたりできるスプーリーブラシとシャープナー付属で、いつでも正確かつ繊細で自然な仕上がりを実現します。</p>
            <a class="link" href="{{store url=''}}">アイブロウディファイナーを見る</a>
        </div>
    </div>
    <div class="block-link scroll-notvisible">
        <a class="link" href="{{store url=''}}">アイ・メイクコレクションを見る</a>
    </div>
</div>