<div class="discover-pages discover-shoes">
    <section class="section-top">
        <div class="easycms-block topbox-image">
            <img src="{{media url=cms/page/men-city-shoes/section-top-img1.jpg}}" alt="Image mobile" />
        </div>
        <div class="list-section-top">
            <ul class="navs">
                <li>
                    <a href="#manufacturing">Manufacturing <span>靴の製造</span></a>
                </li>
                <li>
                    <a href="#the_last">The Last - <span>ラスト</span></a>
                </li>
                <li>
                    <a href="#the_upper">The Upper - <span>アッパー</span></a>
                </li>
                <li>
                    <a href="#the_sole">The Sole - <span>ラスト</span></a>
                </li>
                <li>
                    <a href="#the_finishing">The Finishing - <span>フィニッシュ</span></a>
                </li>
            </ul>
        </div>
        <h1>LA MAISON HOMME</h1>
    </section>
    <section class="know-how" id="manufacturing">
        <div class="section-inner">
            <div class="title scroll-notvisible">
                <h2>— Know How —</h2>
                <p>Manufacturing <span>靴の製造</span></p>
            </div>
            <div class="easycms-block topbox-video scroll-notvisible">
                <div class="video-container">{{widget type="Project\Core\Block\Widget\Video" video_url="https://player.vimeo.com/external/202033762.hd.mp4?s=515ec7409bf4a280ff229b46a553e2db13cd05c0&profile_id=119" video_placeholder_text="Defaut video label"}}
                    <div class="play-button"><span>Watch the video</span></div>
                    <div class="mute-button"></div>
                </div>
            </div>
            <div class="description scroll-notvisible">
                <p>木型の作成から仕上げの艶出しに至るまで、クリスチャン ルブタンの靴を作る過程には、語り継がれるべき職人たちのドラマが詰まっています。</p>
                <p>ナポリの地で何世代にもわたり家族経営されてきた、世界でもまれに見るユニークな工房。ここにいる一流の職人たちが最高級の素材を使い、クリスチャン ルブタン オムのスタイルを生み出しています。</p>
            </div>
        </div>
    </section>
    <section class="step-1" id="the_last">
        <div class="section-inner">
            <div class="title scroll-notvisible">
                <h2>— Step 1 —</h2>
                <p>The Last - <span>ラスト</span></p>
            </div>
            <div class="step-description left">
                <div class="img scroll-notvisible">
                    <p><img src="{{media url=cms/page/men-city-shoes/step1-img1.jpg}}"/></p>
                    <div>
                        <p>上の写真は、クリスチャンのスケッチを元に最終形となる商品のパターンを作っているところです。</p>
                    </div>
                </div>
                <div class="info">
                    <p class="scroll-notvisible"><span>靴</span>の製造での最初の工程はラスト。靴の良し悪しはラストで決まります。まず、靴の元となる原型を木材から削り出し、形が決められた後、靴の製造に適した人工素材でその複製を作ります。</p>
                    <div class="scroll-notvisible"><img src="{{media url=cms/page/men-city-shoes/step1-img2.jpg}}"/></div>
                </div>
            </div>
            <div class="slider-container scroll-notvisible">
                <h2>TYPES OF SHOES - <span>スタイル</span></h2>
                {{widget type="Synolia\Slider\Block\Widget\Slider" code="discover-animated-shoe-slider-jp" template="Synolia_Slider::widget/sliderAnimatedShoes.phtml"}}
            </div>
        </div>
    </section>
    <section class="step-2" id="the_upper">
        <div class="section-inner">
            <div class="title scroll-notvisible">
              <h2>— Step 2 —</h2>
              <p>The Upper <span>アッパー</span></p>
            </div>
            <div class="step-description">
              <div class="img scroll-notvisible">
                  <p><img src="{{media url=cms/page/men-city-shoes/step2-img1.jpg}}"/></p>
              </div>
              <div class="info">
                  <p class="scroll-notvisible"><span>T</span>aglio a Mano（裁断） : 靴のパターンが決まったら、次は断裁です。パターンに沿って、革を手作業で切り分けていきます。何年も訓練を積んだ職人は、革についたどんな傷も見落としません。この技術があるからこそ、クリスチャン ルブタンの靴は完璧に美しい革だけで作られているのです。</p>
                  <div class="scroll-notvisible"><img src="{{media url=cms/page/men-city-shoes/step2-img2.jpg}}"/></div>
              </div>
            </div>
        </div>
        <div class="materials scroll-notvisible">
            <div class="info">
                <p class="materials-title">Materials <span>マテリアル</span></p>
                <p>すべてのクリスチャン ルブタン コレクションのマテリアルには、ブランドの遊び心、一流のクラフトマンシップ、そして革新的なデザインへのコミットメントが反映されています。</p>
            </div>
            <div>{{widget type="Synolia\Slider\Block\Widget\Slider" code="discover-materials-slider-jp" template="Synolia_Slider::widget/sliderMaterials.phtml"}}</div>
        </div>
    </section>
    <section class="step-3" id="the_sole">
        <div class="section-inner">
            <div class="title scroll-notvisible">
                <h2>— Step 3 —</h2>
                <p>The Sole - <span>ソール</span></p>
            </div>
            <div class="step-description">
                <div class="img scroll-notvisible">
                    <p><img src="{{media url=cms/page/men-city-shoes/step3-img1.jpg}}"/></p>
                </div>
                <div class="info">
                    <p class="scroll-notvisible"><span>お</span>なじみのレッドソールの登場です！伝統的なブレイク製法で仕上げた、 世界でも珍しいレッドソールはルブタンを象徴するデザインで、一流職人の粋が詰まっています。ソールとアッパーがしっかり密着する製法のため、足なじみの良い自然なフィット感が特徴です。快適な履き心地と耐久性を追求し、丁寧に作業していきます。</p>
                    <div class="scroll-notvisible"><img src="{{media url=cms/page/men-city-shoes/step3-img2.jpg}}"/></div>
                </div>
            </div>
        </div>
    </section>

    <h2 class="types-shoe">シューズ タイプ</h2>

    {{widget type="Synolia\Slider\Block\Widget\Slider" code="discover-soles-slider-jp" template="Synolia_Slider::widget/sliderSoles.phtml"}}

    <section class="step-4" id="the_finishing">
        <div class="section-inner">
            <div class="title scroll-notvisible">
                <h2>— Step 4 —</h2>
                <p>The Finishing - <span>フィニッシュ</span></p>
            </div>
            <div class="step-description">
                <div class="img scroll-notvisible">
                    <p><img src="{{media url=cms/page/men-city-shoes/step4-img1.jpg}}"/></p>
                <div>
                    <p>1足1足に手作業で色を重ね、使い込んだ風合いを与えることで生まれる豊かな艶は、従来の革とは違った陰影を生み出します。この方法に決まったレシピはなく、毎回ゼロから模索します。靴職人の経験と判断力が頼りです。目指す色が出るまで、色を重ねていくプロセスを繰り返します。それぞれの靴に何回行うかは、塗装職人がその研ぎ澄まされた感性を頼りに決定します。</p>
                </div>
                </div>
                <div class="info">
                    <p class="scroll-notvisible"><span>職</span>人の手によって靴が芸術作品のように仕上がります。革を磨く際に細かい部分にまで注意を払い、クリームを使い革を研磨していきます。</p>
                    <div class="scroll-notvisible"><img src="{{media url=cms/page/men-city-shoes/step4-img2.jpg}}"/></div>
                </div>
            </div>
        </div>
        <div class="materials scroll-notvisible">
            <div class="info">
                <p class="materials-title">Embellishment</p>
                <p>ストラスからピラミッドスタッズ、ミックス スパイクまで、装飾の作業は職人が手作業で仕上げています。</p>
            </div>
            <div>{{widget type="Synolia\Slider\Block\Widget\Slider" code="discover-embellishment-slider-jp" template="Synolia_Slider::widget/sliderEmbellishment.phtml"}}</div>
        </div>
    </section>
</div>
