<div class="discover-pages discover-beauty">
    <div class="easycms-block topbox-video">
        <div class="video-container">{{widget type="Project\Core\Block\Widget\Video" video_url="https://player.vimeo.com/external/233968694.hd.mp4?s=026005a9c0a54391ccb482e90a0c715ee3d750c5&profile_id=175" video_placeholder_text="Defaut video label"}} <img src="{{media url='cms/page/tornade-blonde/tornade_blonde_1200x675.jpg'}}" alt="" />
            <div class="play-button"><span>Watch the video</span></div>
            <div class="mute-button"></div>
        </div>
        <p class="easycms-line-break"> </p>
    </div>
    <div class="title-red scroll-notvisible"><span>パルファン トルネードブロンド</span></div>
    <div class="fragrance-introduction scroll-notvisible">
        <p>「トルネードブロンド」は、抑えられない欲望にまるで悩殺されてしまう⾹り。都会的でモダンなその⾹りは、⼼のありさまを表しています。カシスとバイオレットリーフのフレッシュな⾹りで幕を開けた官能のストーリーは、移り⾏きフェミニンなブルガリアン・ローズの花の⾹りでうっとりととろけてしまう。若く、⼤胆に、好奇⼼の赴くまま、情熱に⾝を任せて。⼼まで虜になってしまうしまうほどのローズの⾹りは、⾊っぽくもあり、エレガントでもある。あふれる官能に、あなたを誘う熱望の⾹りです。</p>
    </div>
    <div class="product-image-link red with-text scroll-notvisible">
        <div class="image"><img src="{{media url='cms/page/tornade-blonde/TORNADE_BLONDE_30ML_BOX_DISCOVER.jpg'}}" /></div>
        <div class="text">
            <div class="title">パフューム</div>
            <p>パフュームオイルは、クリスチャンが“単音”と表現するユニークな香りの構築を奏でるのが特徴。ピアノの鍵盤を⼀つだけ叩き、単音が鳴ったかと思うと、音が反響して重なりあうように、最初の香りが弾けたあとに美しい余韻が続くのです。</p>
            <div class="price">￥20,520</div>
            <a href="{{store url=''}}">パルファン トルネードブロンド</a></div>
    </div>
    <div class="product-image-link red with-text reverse scroll-notvisible">
        <div class="image"><img class="half-width" src="{{media url='cms/page/tornade-blonde/product-large1-2.jpg'}}" /></div>
        <div class="text">
            <div class="title">パフュームオイル</div>
            <p>贅沢なスタイルで体験することができるパフュームオイル　トルネードブロンド。このパフュームオイルは、女性が香りを纏う手法としてはこの上なく官能的で、気ままであり、そのフェミニティに酔いしれるように、肌と戯れます。肌に触れる貴重なオイルの魔⼒によって、纏う女性にとって何ともパーソナルな香りを生み出します。</p>
            <div class="price">￥47,520</div>
            <a href="{{store url=''}}">パルファン トルネードブロンド</a></div>
    </div>
    <div class="highlighted-link scroll-notvisible"><a href="{{store url=''}}discover-fragrance.html">パフュームを見る</a></div>
    <div class="louboutin-separator">
        <div class="image"><img src="{{media url='cms/page/bikini-questa-sera/red-sole.svg'}}" /></div>
    </div>
    <div class="discover-navigation scroll-notvisible">
        <div class="left">
            <div class="image"><a href="{{store url=''}}bikini-questa-sera.html"><img src="{{media url='cms/page/tornade-blonde/product-large2.jpg'}}" /></a></div>
            <div class="highlighted-link orange"><a href="{{store url=''}}bikini-questa-sera.html">パルファン ビキニケスタセラ</a></div>
        </div>
        <div class="right">
            <div class="highlighted-link mauve"><a href="{{store url=''}}trouble-in-heaven.html">パルファン トラブルインヘヴン</a></div>
            <div class="image"><a href="{{store url=''}}trouble-in-heaven.html"><img src="{{media url='cms/page/tornade-blonde/product-large3.jpg'}}" /></a></div>
        </div>
    </div>
</div>