<div class="discover-pages discover-beauty">
    <div class="easycms-block topbox-video">
        <div class="video-container">{{widget type="Project\Core\Block\Widget\Video" video_url="https://player.vimeo.com/external/233968824.hd.mp4?s=9d3d534a3e2aaabbcb729a122a4c3f34259c2861&profile_id=175" video_placeholder_text="Defaut video label"}} <img src="{{media url='cms/page/trouble-in-heaven/trouble_in_heaven_1200x800.jpg'}}" alt="" />
            <div class="play-button"><span>Watch the video</span></div>
            <div class="mute-button"></div>
        </div>
        <p class="easycms-line-break"> </p>
    </div>
    <div class="title-mauve scroll-notvisible"><span>パルファン トラブルインヘヴン</span></div>
    <div class="fragrance-introduction scroll-notvisible">
        <p>
            「トラブルインヘヴン」は、パワフルで誘惑されずにはいられない魅惑の⾹り。ミステリアスで、誰もが魅せられ酔わされてしまうセクシーな⾹りは、アンバーとパチュリ、トンカビーン・アブソリュート、そしてアイリスといった濃厚な⾹りの共鳴により、⼆⼈の距離を危険なまでにぎゅっと密着させる。⾝も⼼も⽕照り、熱くなるほどにセクシーでインパクトのある炎のような⾹りに夢中にならずにはいられないはず。</p>
    </div>
    <div class="product-image-link mauve with-text scroll-notvisible">
        <div class="image"><img src="{{media url='cms/page/trouble-in-heaven/TROUBLE_IN_HEAVEN_30ML_BOX_DISCOVER.jpg'}}" /></div>
        <div class="text">
            <div class="title">パフューム</div>
            <p>パフュームオイルは、クリスチャンが“単音”と表現するユニークな香りの構築を奏でるのが特徴。ピアノの鍵盤を⼀つだけ叩き、単音が鳴ったかと思うと、音が反響して重なりあうように、最初の香りが弾けたあとに美しい余韻が続くのです。</p>
            <div class="price">￥41,040</div>
            <a href="{{store url=''}}">パルファン トラブルインヘヴン</a></div>
    </div>
    <div class="product-image-link mauve with-text reverse scroll-notvisible">
        <div class="image"><img class="half-width" src="{{media url='cms/page/trouble-in-heaven/product-large3-2.jpg'}}" /></div>
        <div class="text">
            <div class="title">パフュームオイル</div>
            <p>贅沢なスタイルで体験することができるパフュームオイル　トラブルインヘヴン。このパフュームオイルは、女性が香りを纏う手法としてはこの上なく官能的で、気ままであり、そのフェミニティに酔いしれるように、肌と戯れます。肌に触れる貴重なオイルの魔⼒によって、纏う女性にとって何ともパーソナルな香りを生み出します。</p>
            <div class="price">￥47,520</div>
            <a href="{{store url=''}}">パルファン トラブルインヘヴン</a></div>
    </div>
    <div class="highlighted-link scroll-notvisible"><a href="{{store url=''}}discover-fragrance.html">パフュームを見る</a></div>
    <div class="louboutin-separator">
        <div class="image"><img src="{{media url='cms/page/bikini-questa-sera/red-sole.svg'}}" /></div>
    </div>
    <div class="discover-navigation scroll-notvisible">
        <div class="left">
            <div class="image"><a href="{{store url=''}}tornade-blonde.html"><img src="{{media url='cms/page/trouble-in-heaven/product-large1.jpg'}}" /></a></div>
            <div class="highlighted-link red"><a href="{{store url=''}}tornade-blonde.html">パルファン トルネードブロンド</a></div>
        </div>
        <div class="right">
            <div class="highlighted-link orange"><a href="{{store url=''}}bikini-questa-sera.html">パルファン ビキニケスタセラ</a></div>
            <div class="image"><a href="{{store url=''}}bikini-questa-sera.html"><img src="{{media url='cms/page/trouble-in-heaven/product-large2.jpg'}}" /></a></div>
        </div>
    </div>
</div>