<?php /** @var \Project\Sales\Block\Magento\Sales\Adminhtml\Order\View\Info $block */ ?>
<tr>
    <th><?php echo $block->escapeHtml(__('Customer source')); ?></th>
    <td><?php echo $this->helper(\Project\Sales\Helper\Config::class)->getSourcesCodeLabel(
            $block->getOrder()->getData('source_code'),
            $block->getOrder()->getStoreId()
        ); ?></td>
</tr>
