<?php

// @codingStandardsIgnoreFile

?>
<?php /* @var $block \Magento\Catalog\Block\Product\View\AbstractView */ ?>
<?php /** @var $attributeSetHelper Project\Core\Helper\AttributeSet */ ?>
<?php $attributeSetHelper = $this->helper('Project\Core\Helper\AttributeSet'); ?>
<?php $_product = $block->getProduct(); ?>

<?php /* @var $backInStockHelper \Project\BackInStock\Helper\BackInStockHelper */ ?>
<?php $backInStockHelper = $this->helper('Project\BackInStock\Helper\BackInStockHelper'); ?>
<?php /* @var $preOrderStockHelper \Project\PreOrder\Helper\Product */ ?>
<?php $preOrderStockHelper = $this->helper('Project\PreOrder\Helper\Product'); ?>

<?php if ($block->displayProductStockStatus() && !$backInStockHelper->isBackInStock() && !$preOrderStockHelper->isPreOrder($_product)): ?>
    <?php if (!$_product->isAvailable()): ?>
        <button class="button primary stock unavailable <?= $attributeSetHelper->isPerfumes($_product) ? 'beauty-parfumes' : '' ?>"
                title="<?= /* @escapeNotVerified */ __('Availability') ?>">
            <span><?= __('Sold Out') ?></span>
        </button>
    <?php endif; ?>
<?php endif; ?>
