<!-- input field element and corresponding bindings -->
<!-- ko if: isJapan() -->
<div class="jppostcode">
    <div class="zipcode1">
        <label class="label" data-bind="i18n: 'Zipcode 1 *'"></label>
        <input class="admin__control-text" type="text" id="jppostcode1"
               data-bind="
                attr: {
                    'aria-describedby': noticeId,
                    disabled: disabled,
                    maxlength: 3
            }"/>
    </div>
    <span class="jppostcode-separator">-</span>
    <div class="zipcode2">
        <label class="label" data-bind="i18n: 'Zipcode 2 *'"></label>
        <input class="admin__control-text" type="text" id="jppostcode2"
               data-bind="
                attr: {
                    'aria-describedby': noticeId,
                    disabled: disabled,
                    maxlength: 4
            }"/>
    </div>
    <button type="button" class="jp-address-fill" data-bind="
        i18n: 'Automatically enter address',
        click: autocompleteAddress
    "></button>
    <p data-bind="i18n: 'After entering the zip code, please click.'"></p>

    <input class="admin__control-text" type="text"
           data-bind="
            event: {change: userChanges},
            value: value,
            hasFocus: focused,
            valueUpdate: valueUpdate,
            visible: false,
            attr: {
                name: inputName,
                placeholder: placeholder,
                'aria-describedby': noticeId,
                id: uid,
                disabled: disabled,
                maxlength: 255
        }"/>
</div>
<!-- /ko -->

<!-- ko ifnot: isJapan() -->
<input class="admin__control-text" type="text"
       data-bind="
        event: {change: userChanges},
        value: value,
        hasFocus: focused,
        valueUpdate: valueUpdate,
        attr: {
            name: inputName,
            placeholder: placeholder,
            'aria-describedby': noticeId,
            id: uid,
            disabled: disabled,
            maxlength: 255
    }"/>
<!-- /ko -->
