<?php /** @var $block Project\Core\Block\Navigation\Menu\RootMenu */ ?>
<nav class="navigation" data-action="navigation">
	<ul data-mage-init='{"menu":{"responsive":true, "expanded":true, "delay": 600, "position":{"my":"left top","at":"left bottom"}, "menus": ".submenu", "mediaBreakpoint": "(max-width: 1024px)"}}'>
		<?php foreach($block->getMainCategories() as $category): ?>
			<?php echo $block->getCategoryHtml($category) ?>
		<?php endforeach ?>
	</ul>
</nav>

<?php echo $this->getChildHtml(''); ?>

<?php if($this->getCurrentCategory()): ?>
	<script>
		require([
			'jquery'
		], function ($) {
			$('nav.navigation ul li a#cat-<?php echo $block->getCurrentCategory() ?>').parent().addClass('active');
		});
	</script>
<?php endif ?>
