& when (@media-common = true) {
    @stores_infos_height: 600px;

    .retailer-locator {
        max-width: @layout__max-width;
        margin: 0 auto;

        .search-header {
            .search-title {
                .lib-heading(h1);
            }

            .stockists-intro {
                display: block;
                margin-bottom: 10px;
            }
            .field {
                font-size: 0;

                label,
                .input-text,
                .action {
                    font-size: @font-size__base;
                }

                &.search {
                    .input-text,
                    .action {
                        display: inline-block;
                        vertical-align: top;
                    }
                    .input-text {
                        display: block;
                        padding: 10px 20px;
                        font-family: Arial, sans-serif;
                        font-size: @font-size_12;

                        ._lib-form-element-placeholder(
                            @_type: text,
                            @_color: @color-warm-grey,
                            @_font-style-default: default,
                            @_font-style-state: default
                        );
                    }
                    .action {
                        width: 25%;
                    }
                }
                &.filter-category {
                    .label,
                    .filter-options {
                        display: inline-block;
                        vertical-align: top;
                    }
                    .label {
                        margin-right: 10px;
                        font-weight: @font-weight__regular;
                    }
                    .filter-options {
                        .lib-list-inline();
                        text-align: center;

                        li {
                            margin: 0 10px 0 0;
                            border-radius: 2px;
                            border: solid 1px @color-black;

                            &.active {
                                border-color: @color-grey-three;

                                a {
                                    color: @color-grey-three;
                                }
                            }

                            a {
                                display: inline-block;
                                padding: 9px 7px;
                                font-family: @f-frutiger;
                                font-size: @font-size_10;
                                color: @color-black;
                                text-transform: uppercase;
                                text-decoration: none;
                            }

                            &.remove-active-filters {
                                &.no-display {
                                    display: none;
                                }

                                a {
                                    .lib-icon-font(
                                            @icon-remove,
                                        @_icon-font-size: @font-size_12,
                                        @_icon-font-line-height: 15px,
                                        @_icon-font-text-hide: true,
                                        @_icon-font-color: @color-gray46,
                                        @_icon-font-color-hover: @color-gray-darken4,
                                        @_icon-font-color-active: @color-gray60
                                    );
                                }
                            }
                        }
                    }
                }
            }
        }

        .result-container {
            .lib-vendor-prefix-display();
            .lib-vendor-prefix-flex-direction(column-reverse);
            margin: 40px 0 0;

            .infos {
                position: relative;
                height: @stores_infos_height;
                padding: 20px;
                overflow: auto;
                box-sizing: border-box;

                p {
                    margin: 0;
                }

                .results-content {
                    padding: 20px 0;
                    border-bottom: solid 2px @color-input-grey-border;
                    cursor: pointer;
                    font-family: @f-frutiger;
                    font-weight: @font-weight__roman;
                    font-size: @font-size_12;
                    line-height: 1.5;
                    color: @color-warm-grey;

                    &:first-child {
                        margin-top: 20px;
                        border-top: solid 2px @color-input-grey-border;
                    }
                    &:last-child {
                        border-bottom: 0;
                    }

                    .name {
                        font-size: @font-size_13;
                        color: @color-black-two;
                        text-transform: uppercase;
                        letter-spacing: 1.2px;
                    }
                }

                .actions {
                    width: 100%;
                    padding: 20px 0;
                    background: @color-white;
                    text-align: center;
                }
                .current-retailer {
                    width: 100%;
                    left: 0;
                    height: 100%;
                    z-index: 2;
                    background: white;
                    text-align: center;

                    .details {
                        border-top: solid 2px @color-input-grey-border;
                        border-bottom: solid 2px @color-input-grey-border;
                        padding: 20px 0;

                        .name {
                            font-weight: @font-weight__bold;
                            color: @color-black-title;
                            margin-bottom: 20px;
                        }
                    }

                    .actions {
                        width: 100%;
                        padding: 30px 0 10px;

                        .back {
                            background: none;
                            .lib-css(box-shadow, none, 1);
                        }

                        .primary {
                            padding: 15px 40px;
                        }
                    }
                }
            }
            .map {
                position: relative;

                #map-canvas {
                    height: @stores_infos_height;

                    &:before {
                        transition: background 0.4s;
                    }

                    &.loading:before {
                        content: '';
                        position: absolute;
                        width: 119px;
                        height: 119px;
                        top: 50px;
                        left: 0;
                        right: 0;
                        margin: 0 auto;
                        background-image: url('@{baseDir}images/loader-1.gif');
                        z-index: 1;
                    }
                }
                .retailer-panel {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                    padding: 0 40px;
                    box-sizing: border-box;
                    background: @color-white;
                    overflow: auto;

                    .actions .back {
                        position: absolute;
                        top: 0;
                        right: 0;
                        background: 0;
                        .lib-css(box-shadow, none, 1);

                        .lib-icon-font(
                                @icon-remove,
                            @_icon-font-size: @font-size_20,
                            @_icon-font-line-height: 15px,
                            @_icon-font-text-hide: true,
                            @_icon-font-color: @color-gray46,
                            @_icon-font-color-hover: @color-gray-darken4,
                            @_icon-font-color-active: @color-gray60
                        );
                    }
                    .title {
                        margin-bottom: 20px;
                        font-family: @f-frutiger;
                        font-weight: @font-weight__bold;
                        font-size: @font-size_14;
                        line-height: 1.5;
                        color: @color-black-title;
                        text-transform: uppercase;
                        text-align: center;
                    }
                    .details {
                        margin-bottom: 20px;
                        text-align: center;
                        color: @color-black;

                        & > div {
                            display: inline-block;

                            &:after {
                                content: ' | ';
                            }
                            &:last-child:after {
                                content: none;
                            }
                        }
                    }
                    .image {
                        margin-bottom: 40px;
                        text-align: center;
                    }
                    .schedules-and-contact {
                        .subtitle {
                            margin-bottom: 20px;
                            font-weight: @font-weight__bold;
                            font-size: @font-size_14;
                            color: @color-black-title;
                        }
                    }
                    .schedules-table,
                    .contact {
                        margin-bottom: 20px;
                    }
                    .schedules-table {
                        .day-schedule {
                            .lib-list-inline();

                            .schedule {
                                .day-of-the-week {
                                    &:after {
                                        content: ' : ';
                                    }
                                }

                                &:nth-child(2n) .day-of-the-week {
                                    display: none;
                                }
                            }
                        }
                    }
                    .contact {
                        .action {
                            .lib-button();
                            margin-bottom: 20px;

                            &.call {
                                .lib-project-icon(
                                        @icon-project-phone-out,
                                    @_icon-font-size: @font-size_20,
                                    @_icon-font-color: @color-gray46
                                );

                                &:before {
                                    margin-right: 10px;
                                }
                            }
                            &.mail {
                                .lib-project-icon(
                                        @icon-project-mail-empty,
                                    @_icon-font-size: @font-size_20,
                                    @_icon-font-color: @color-gray46
                                );

                                &:before {
                                    margin-right: 10px;
                                }
                            }
                        }
                    }

                    .additional-info {
                        font-family: @f-frutiger;
                        font-weight: normal;
                        font-size: @font-size_13;
                        line-height: 1.2;
                        color: @color-louboutin-red;
                        text-align: left;
                    }

                    .schedules-and-contact,
                    .additional-info {
                        max-width: 600px;
                        margin: 0 auto;
                    }
                }
                .infowindow.no-result {
                    width: 100%;
                    text-align: center;
                    padding: 20px 0;
                    .lib-font-family(@f-frutiger);
                    font-weight: @font-weight__std;

                    img {
                        max-height: 100px;
                        max-width: 100%;
                    }

                    .title {
                        color: @color-louboutin-red;
                        text-transform: uppercase;
                        margin: 1em 0;
                    }

                    .closest-distance {
                        span {
                            font-size: @font-size_24;
                            line-height: 30px;
                            font-weight: @font-weight__bold;
                        }
                    }

                    .closest-country {
                        text-transform: uppercase;
                    }

                    .actions {
                        margin: 15px 0 0;
                    }
                }
                .closest-store {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    z-index: 1;

                    .button {
                        background: 0;
                        border: 0;
                        .lib-css(box-shadow, none, 1);

                        .lib-project-icon(
                            @_icon-font-content: @icon-project-pin-full,
                            @_icon-font-size: @font-size_16,
                            @_icon-font-color: @color-louboutin-red
                        );

                        .text {
                            display: inline-block;
                            margin: 0 0 0 10px;
                            vertical-align: middle;
                            font-family: @f-frutiger;
                            font-weight: @font-weight__bold;
                            font-size: @font-size_13;
                            line-height: 16px;
                            color: @color-warm-grey;
                            letter-spacing: 1px;
                            text-transform: none;
                        }
                    }
                }
            }

            .gm-style .gm-style-iw > div {
                max-width: 100% !important; //override js
            }
        }

        .action.primary {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    #maincontent.page-main-full-width {
        .columns .column.main {
            margin-top: -40px;
            padding: 0;
        }
    }

    .retailer-locator {
        .result-container {
            .lib-vendor-prefix-flex-direction(row);

            .infos {
                width: 25%;
            }
            .map {
                width: 75%;

                .retailer-panel {
                    .schedules-and-contact {
                        font-size: 0;
                    }
                    .schedules-table,
                    .contact {
                        display: inline-block;
                        width: 44%;
                        margin-bottom: 20px;
                        font-size: @font-size__base;
                        vertical-align: top;
                    }

                    .schedules-table {
                        padding-right: 5%;
                        border-right: 2px dotted @color-input-grey-border;
                    }

                    .contact {
                        padding-left: 5%;
                    }
                }

                .infowindow.no-result {
                    width: inherit;
                    padding: 50px 50px 70px;
                }
            }
        }
    }
}

@media (max-width: @mobile__screen) {
    .retailer-locator .result-container {
        .map #map-canvas {
            height: 350px;
        }
        .infos {
            height: 355px;
        }
    }
}
