<!--@subject {{trans "Config value change"}} @-->
<!--@vars {
"var environment":"Environment",
"var scope":"Scope",
"var scopeId":"Scope Id",
"var path":"Path",
"var dateTime":"Date & Time",
"var reportId":"Report Id"
} @-->

<table cellspacing="0" cellpadding="0" align="center" border="0" width="600" style="text-align:left">
    <tr>
        <td valign="top" style="color: #454545">

            <p>A config value have been changed.</p>

            <p>Scope: {{var scope}}</p>

            <p>Scope Id: {{var scopeId}}</p>

            <p>Path: {{var path}}</p>

            <p>Date: {{var dateTime}}</p>

            <p>Report number: {{var reportId}}</p>
        </td>
    </tr>
</table>
