<!--@subject {{trans "Deleted user role"}} @-->
<!--@vars {
"var environment":"Environment",
"var deletedRole":"Deleted Role",
"var dateTime":"Date & Time"
} @-->

<table cellspacing="0" cellpadding="0" align="center" border="0" width="600" style="text-align:left">
    <tr>
        <td valign="top" style="color: #454545">
            <p>Role "{{var deletedRole}}" have been deleted.</p>

            <p>Date: {{var dateTime}}</p>
        </td>
    </tr>
</table>