<!--@subject {{trans "New user role"}} @-->
<!--@vars {
"var environment":"Environment",
"var newRole":"New Role",
"var permissions":"Permissions",
"var dateTime":"Date & Time"
} @-->

<table cellspacing="0" cellpadding="0" align="center" border="0" width="600" style="text-align:left">
    <tr>
        <td valign="top" style="color: #454545">
            <p>A new role "{{var newRole}}" have been created with these permissions:</p>

            {{layout handle='louboutin_security_email_permissions' area='adminhtml' permissions=$permissions}}

            <p>Date: {{var dateTime}}</p>
        </td>
    </tr>
</table>