<!--@subject {{trans "Permissions revoked"}} @-->
<!--@vars {
"var environment":"Environment",
"var revokedPermissions":"Revoked Permissions",
"var role":"Role",
"var dateTime":"Date & Time"
} @-->

<table cellspacing="0" cellpadding="0" align="center" border="0" width="600" style="text-align:left">
    <tr>
        <td valign="top" style="color: #454545">

            <p>Permissions have been revoked for "{{var role}}" role:</p>

            {{layout handle='louboutin_security_email_permissions' area='adminhtml' permissions=$revokedPermissions}}

            <p>Date: {{var dateTime}}</p>
        </td>
    </tr>
</table>