<!--@subject {{trans "User role scope change"}} @-->
<!--@vars {
"var environment":"Environment",
"var role":"Role",
"var referenceWebsites":"Reference Websites",
"var newWebsites":"New Websites",
"var dateTime":"Date & Time"
} @-->

<table cellspacing="0" cellpadding="0" align="center" border="0" width="600" style="text-align:left">
    <tr>
        <td valign="top" style="color: #454545">
            <p>Scope for role "{{var role}}" have been changed.</p>

            <p>From:</p>
            {{layout handle='louboutin_security_email_websites' area='adminhtml' websites=$referenceWebsites}}

            <p>To:</p>
            {{layout handle='louboutin_security_email_websites' area='adminhtml' websites=$newWebsites}}

            <p>Date: {{var dateTime}}</p>
        </td>
    </tr>
</table>