<!--@subject {{trans "User role change"}} @-->
<!--@vars {
"var environment":"Environment",
"var username":"Username",
"var firstName":"First Name",
"var lastName":"Last Name",
"var previousRole":"Previous Role",
"var newRole":"New Role",
"var dateTime":"Date & Time"
} @-->

<table cellspacing="0" cellpadding="0" align="center" border="0" width="600" style="text-align:left">
    <tr>
        <td valign="top" style="color: #454545">

            <p>Role for user "{{var username}}" have been changed from {{var previousRole}} to  {{var newRole}}.</p>

            <p>Date: {{var dateTime}}</p>
        </td>
    </tr>
</table>