<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Project\Sales\Block\Order\Email\Items\DefaultItems */
?>
<?php $_item = $block->getItem() ?>
<?php $_product = $block->getProductById($_item->getOrderItem()->getData('product_id')); ?>
<?php $_order = $block->getItem()->getOrder(); ?>
<tr>
    <td class="item-info<?php if ($block->getItemOptions()): ?> has-extra<?php endif; ?>">
        <p class="product-name"><?= $block->escapeHtml($_item->getName()) ?></p>

        <?php $addInfoBlock = $block->getProductAdditionalInformationBlock(); ?>
        <?php if ($addInfoBlock) :?>
            <?= $addInfoBlock->setItem($_item->getOrderItem())->toHtml() ?>
        <?php endif; ?>
        <?= $block->escapeHtml($_item->getDescription()) ?>
    </td>
    <!-- Size -->
    <?php if($_product): ?>
        <td class="item-size"><?= /* @escapeNotVerified */ $block->getSize($_product) ?></td>
    <?php endif; ?>
    <!-- Unit price -->
    <td class="item-unit-price">
        <?= /* @escapeNotVerified */  $block->getItemPrice($_item) ?>
    </td>
    <td class="item-qty"><?= /* @escapeNotVerified */  $_item->getQty() * 1 ?></td>
    <!-- Subtotal -->
    <td class="item-price">
        <?= /* @escapeNotVerified */  $_order->formatPrice($block->getItem()->getRowTotal()) ?>
    </td>
</tr>