<div class="init-infinite-scrolling no-display"></div>
<script type="text/x-magento-init">
    {
        ".init-infinite-scrolling": {
            "infiniteScrolling": {

            }
        }
    }
</script>