<div class="fieldset-wrapper customer-information">
    <table class="admin__table-secondary">
        <tbody>
            <tr>
                <th><?php echo $block->escapeHtml(__('ERP identifier')); ?></th>
                <td><?php echo $block->getIdentifierErp(); ?></td>
            </tr>
        </tbody>
    </table>
</div>

