<?php /* @var Synolia\Slider\Model\Slider $slider */ ?>
<?php /** @var Synolia\Slider\Block\Widget\Slider $block */ ?>
<?php $slider = $block->getSlider(); ?>
<?php /* @var $productHelper Magento\Catalog\Helper\Image */ ?>
<?php $productImageHelper = $this->helper('Magento\Catalog\Helper\Image'); ?>
<?php $helperGtm = $this->helper('WeltPixel\GoogleTagManager\Helper\Data'); ?>
<?php if ($slider): ?>
    <?php $_slides = $block->getSlides();
    $productToTrack = array();
    ?>

    <?php if (count($_slides) && count($_slides) == 1): ?>

        <?php foreach($_slides as $slide): ?>
            <?php $slideProducts = $slide->getProductCollection(); ?>

            <div class="products-grid grid">
                <?php if (count($slideProducts)): ?>
                    <ul class="slider <?php echo $block->getCssClasses(); ?> <?php echo $slider->getIdentifier(); ?> product-items items slider-products">
                        <?php $i=0; ?>

                        <?php foreach ($slideProducts as $product): ?>
                            <li class="slide item product product-item<?php if ($i==0): ?> first<?php endif; ?><?php if ($i>=2): ?> last-line<?php endif; ?>">
                                <div class="product-item-info">
                                    <a <?php echo $this->helper('WeltPixel\GoogleTagManager\Helper\Data')->addProductClick($product, $i); ?> href="<?php /* @escapeNotVerified */ echo $product->getUrlModel()->getUrl($product); ?>" class="product photo product-item-photo">
                                        <img src="<?php echo $productImageHelper->init($product, 'new_products_content_widget_grid')->getUrl(); ?>" alt="" />
                                    </a>
                                    <div class="product details product-item-details">
                                        <strong class="product name product-item-name">
                                            <a <?php echo $this->helper('WeltPixel\GoogleTagManager\Helper\Data')->addProductClick($product, $i); ?> class="product-item-link" title="<?php echo $block->escapeHtml($product->getName()) ?>" href="<?php /* @escapeNotVerified */ echo $product->getUrlModel()->getUrl($product); ?>">
                                                <?php echo $block->escapeHtml($product->getName()); ?>
                                            </a>
                                        </strong>
                                    </div>
                                </div>
                            </li>
                            <?php $i++;
                            $productToTrack[] = $product;
                            ?>
                        <?php endforeach; ?>

                    </ul>
                <?php endif; ?>
            </div>

        <?php endforeach; ?>

    <?php endif; ?>

    <?php $helperGtm->addCategorySliderInformation($productToTrack); ?>

    <script type="text/javascript">
        window.sliders.push({
            "identifier": ".slider.<?php echo $slider->getIdentifier(); ?>",
            "options": {
                "sliderType" : "<?php echo $block->getSliderType() ?>",
                "autoplay": <?php echo $slider->getAutoplay() ? 'true' : 'false'; ?>,
                "autoplaySpeed": <?php echo $slider->getAutoplaySpeed() ? (int) $slider->getAutoplaySpeed() : 4000 ?>,
                "infinite": <?php echo $slider->getInfinite() ? 'true' : 'false'; ?>,
                "slidesToShow": 2,
                "mobileFirst": true,
                "prevArrow": "<button type='button' class='slick-prev'></button>",
                "nextArrow": "<button type='button' class='slick-next'></button>",
                "responsive": [
                    {
                        "breakpoint": 768,
                        "settings": {
                            "slidesToShow": 3
                        }
                    }
                ]
            }
        });

       // window.dataLayer = window.dataLayer || [];
        <?php /* if ($dataLayerObject != '[[]]') : ?>
        var dlObjects = <?php echo $dataLayerObject; ?>;
        for (var i in dlObjects) {
            window.dataLayer.push(dlObjects[i]);
        }
        <?php endif;*/ ?>

    </script>
<?php endif; ?>