<?php
$projectHelper = $this->helper('Project\Core\Helper\Media')
/** @var Synolia\Slider\Block\Widget\Slider $block */ ?>
<?php $slider = $block->getSlider(); ?>
<?php /* @var $objectManager \Magento\Framework\App\ObjectManager */ ?>
<?php $objectManager = \Magento\Framework\App\ObjectManager::getInstance(); ?>

<?php if ($slider): ?>
    <?php $_slides = $block->getSlides(); ?>
    <div class="slider-embellishment" data-mage-init='{"discoverShoes":{}}'>
        <?php foreach($_slides as $slide): ?>
            <div class="slide">
                <img src="<?= $slide->getImageBigUrl(); ?>"/>
                <p class="title-slide"><?= $slide->getTitle(); ?></p>
            </div>
        <?php endforeach; ?>
    </div>
    <script type="text/javascript">
        window.sliders.push({
            "identifier": ".slider-embellishment",
            "options": {
                "autoplay": false,
                "infinite": false,
                "slidesToShow": 5,
                "swipeToSlide": true,
                "mobileFirst": false,
                "prevArrow": "<button type='button' class='slick-prev'></button>",
                "nextArrow": "<button type='button' class='slick-next'></button>",
                "responsive": [
                    {
                        "breakpoint": 768,
                        "settings": {
                            "slidesToShow": 2,
                            "centerMode": true,
                            "centerPadding": '-40px',
                            "arrows": false
                        }
                    }
                ]
            }
        });
    </script>
<?php endif; ?>