<?php
      $projectHelper = $this->helper('Project\Core\Helper\Media')
 /** @var Synolia\Slider\Block\Widget\Slider $block */ ?>
<?php $slider = $block->getSlider(); ?>
<?php /* @var $objectManager \Magento\Framework\App\ObjectManager */ ?>
<?php $objectManager = \Magento\Framework\App\ObjectManager::getInstance(); ?>

<?php if ($slider): ?>
    <?php $_slides = $block->getSlides(); ?>
    <div class="slider-materials" data-mage-init='{"discoverShoes":{}}'>
    <?php foreach($_slides as $slide): ?>
        <div class="slide">
            <img src="<?= $slide->getImageBigUrl(); ?>"/>
            <p class="title-slide"><?= $slide->getTitle(); ?></p>
        </div>
    <?php endforeach; ?>
    </div>
    <script type="text/javascript">
        window.sliders.push({
            "identifier": ".slider-materials",
            "options": {
                "autoplay": <?php echo $slider->getAutoplay() ? 'true' : 'false'; ?>,
                "autoplaySpeed": <?php echo $slider->getAutoplaySpeed() ? (int) $slider->getAutoplaySpeed() : 4000 ?>,
                "infinite": <?php echo $slider->getInfinite() ? 'true' : 'false'; ?>,
                "slidesToShow": 5,
                "mobileFirst": false,
                "swipeToSlide": true,
                "prevArrow": "<button type='button' class='slick-prev'></button>",
                "nextArrow": "<button type='button' class='slick-next'></button>",
                "responsive": [
                    {
                        "breakpoint": 768,
                        "settings": {
                            "slidesToShow": 2,
                            "centerPadding": '-40px',
                            "centerMode": true,
                            "arrows": false
                        }
                    }
                ]
            }
        });
    </script>
<?php endif; ?>
