<?php
$projectHelper = $this->helper('Project\Core\Helper\Media')
/** @var Synolia\Slider\Block\Widget\Slider $block */ ?>
<?php $slider = $block->getSlider(); ?>
<?php $slidesList = $block->getSlides(); ?>
<?php /* @var $objectManager \Magento\Framework\App\ObjectManager */ ?>
<?php $objectManager = \Magento\Framework\App\ObjectManager::getInstance(); ?>

<?php if ($slider): ?>
    <?php $_slides = $block->getSlides(); ?>
    <div class="slider-animated-shoe shoe-type">


        <?php foreach($_slides as $slide): ?>
            <div class="slide">
                <h3><?= $slide->getTitle(); ?></h3>
                <div class="animated-shoe <?= strtolower($slide->getIdentifier()); ?>" data-out="<?= $slide->getImageMediumUrl(); ?>"  data-in="<?= $slide->getImageBigUrl(); ?>" style="background-image: url('<?= $slide->getImageBigUrl(); ?>')">
                </div>
                <div class="info">
                    <div class="link-shoe"><a href="<?= $slide->getLink() ?>"><?= __('Browse Styles'); ?></a></div>
                    <p><?= $slide->getContent(); ?></p>
                </div>
            </div>
        <?php endforeach; ?>

    </div>

    <div class="shoe-types-thumb">
        <ul class="pictos-slider">
            <?php foreach($_slides as $slide): ?>
                <li data-slide=".<?= strtolower($slide->getIdentifier()); ?>"><img src="<?= $slide->getImageSmallUrl(); ?>"/>
                </li>
            <?php endforeach; ?>
        </ul>
    </div>

    <script type="text/javascript">
        window.sliders.push({
            "identifier": ".slider-animated-shoe",
            "options": {
                "autoplay": <?php echo $slider->getAutoplay() ? 'true' : 'false'; ?>,
                "autoplaySpeed": <?php echo $slider->getAutoplaySpeed() ? (int) $slider->getAutoplaySpeed() : 4000 ?>,
                "infinite": <?php echo $slider->getInfinite() ? 'true' : 'false'; ?>,
                "slidesToShow": 1,
                "slidesToScroll": 1,
                "mobileFirst": true,
                "swipeToSlide": true,
                "fade": true,
                "cssEase": 'linear',
                "arrows": false,
                "responsive": [
                    {
                        "breakpoint": 768,
                        "settings": {
                            "slidesToShow": 1
                        }
                    }
                ]
            }
        });
    </script>
<?php endif; ?>