<?php /* @var Synolia\Slider\Model\Slider $slider */ ?>
<?php /** @var Synolia\Slider\Block\Widget\Slider $block */ ?>
<?php $slider = $block->getSlider(); ?>
<?php /* @var $productHelper Magento\Catalog\Helper\Image */ ?>
<?php $productImageHelper = $this->helper('Magento\Catalog\Helper\Image'); ?>
<?php /* @var $objectManager \Magento\Framework\App\ObjectManager */ ?>
<?php $objectManager = \Magento\Framework\App\ObjectManager::getInstance(); ?>
<?php /* @var $catalogHelper Magento\Catalog\Helper\Output */ ?>
<?php $catalogHelper = $this->helper('Magento\Catalog\Helper\Output'); ?>
<?php /** @var $attributeSetHelper Project\Core\Helper\AttributeSet */ ?>
<?php $attributeSetHelper = $this->helper('Project\Core\Helper\AttributeSet'); ?>

<?php if ($slider): ?>
    <?php $_slides = $block->getSlides(); ?>
    <?php if (count($_slides) && count($_slides) == 1): ?>

        <?php foreach($_slides as $slide): ?>
            <?php $slideProducts = $slide->getProductCollection(); ?>
            <div class="products-grid grid">
                <?php if (count($slideProducts)): ?>
                    <ul class="slider <?php echo $block->getCssClasses(); ?> <?php echo $slider->getIdentifier(); ?> product-items items slider-products">
                        <?php $i=0; ?>
                        <?php $categoryName = ''; ?>
                        <?php $children = ''; ?>
                        <?php foreach ($slideProducts as $product): ?>
                            <li class="slide item product product-item<?php if ($i==0): ?> first<?php endif; ?><?php if ($i>=2): ?> last-line<?php endif; ?>">
                                <div class="product-item-info">
                                    <a href="<?php /* @escapeNotVerified */ echo $product->getUrlModel()->getUrl($product); ?>" class="product photo product-item-photo">
                                        <img src="<?php echo $productImageHelper->init($product, 'new_products_content_widget_grid')->getUrl(); ?>" alt="" />
                                    </a>
                                    <div class="product details product-item-details">
                                        <strong class="product name product-item-name">
                                            <a class="product-item-link" title="<?php echo $block->escapeHtml($product->getName()) ?>" href="<?php /* @escapeNotVerified */ echo $product->getUrlModel()->getUrl($product); ?>">
                                                <?php echo $block->escapeHtml($product->getName()); ?>
                                            </a>
                                        </strong>

                                        <?php if ($attributeSetHelper->isBag($product)): ?>
                                            <div class="material-color">
                                                <?php echo $catalogHelper->productAttribute($product, $product->getMaterialColor(), 'material_color') ; ?>
                                            </div>
                                        <?php elseif ($attributeSetHelper->isShoes($product)): ?>
                                            <div class="heel-height-or-material">
                                                <?php if ($product->getHeelHeight()>0): ?>
                                                    <?php echo __('%1 mm', $catalogHelper->productAttribute($product, round($product->getHeelHeight(), 0), 'heel_height')) ; ?>
                                                <?php else: ?>
                                                    <?php echo $catalogHelper->productAttribute($product, $product->getMaterial(), 'material') ; ?>
                                                <?php endif; ?>
                                            </div>
                                        <?php endif; ?>
                                    </div>
                                </div>
                            </li>
                            <?php $i++; ?>
                        <?php endforeach; ?>
                    </ul>
                <?php endif; ?>
            </div>

        <?php endforeach; ?>

    <?php endif; ?>

    <script type="text/javascript">
        window.sliders.push({
            "identifier": ".slider.<?php echo $slider->getIdentifier(); ?>",
            "options": {
                "sliderType" : "<?php echo $block->getSliderType() ?>",
                "autoplay": <?php echo $slider->getAutoplay() ? 'true' : 'false'; ?>,
                "autoplaySpeed": <?php echo $slider->getAutoplaySpeed() ? (int) $slider->getAutoplaySpeed() : 4000 ?>,
                "infinite": <?php echo $slider->getInfinite() ? 'true' : 'false'; ?>,
                "slidesToShow": 3,
                "mobileFirst": false,
                "prevArrow": "<button type='button' class='slick-prev'></button>",
                "nextArrow": "<button type='button' class='slick-next'></button>",
                "responsive": [
                    {
                        "breakpoint": 480,
                        "settings": {
                            "slidesToShow": 2
                        }
                    },
                    {
                        "breakpoint": 768,
                        "settings": {
                            "slidesToShow": 2
                        }
                    }
                ]
            }
        });
    </script>
<?php endif; ?>