<?php /* @var Synolia\Slider\Model\Slider $slider */ ?>
<?php /** @var Synolia\Slider\Block\Widget\Slider $block */ ?>
<?php $slider = $block->getSlider(); ?>

<?php if ($slider): ?>
    <ul class="slider <?php echo $block->getCssClasses(); ?> <?php echo $slider->getIdentifier(); ?>">

        <?php $_slides = $block->getSlides(); ?>
        <?php if (count($_slides)): ?>
            <?php $i=0; ?>
            <?php foreach($_slides as $slide): ?>
                <li class="slide <?php if ($i==0): ?>first<?php endif; ?>">
                    <?php $slideLink = $slide->getLink(); ?>
                    <?php if ($slideLink): ?>
                        <a class="slide-link" href="<?php echo $slideLink; ?>" target="<?php echo $slide->getTarget(); ?>">
                    <?php endif; ?>

                        <img src="<?php echo $slide->getImageSmallUrl() ?>" class="small-image" alt="<?php echo $slide->getTitle(); ?>" />
                        <img src="<?php echo $slide->getImageMediumUrl() ?>" class="medium-image" alt="<?php echo $slide->getTitle(); ?>" />
                        <img src="<?php echo $slide->getImageBigUrl() ?>" class="big-image" alt="<?php echo $slide->getTitle(); ?>" />

                        <?php echo $slide->getMediaContentFilter(); ?>

                    <?php if ($slideLink): ?>
                        </a>
                    <?php endif; ?>

                    <?php foreach ($block->getProductBlockCollection($slide) as $productBlock): ?>
                        <?php $product = $productBlock->getProduct(); ?>
                        <?php echo $product->getName(); ?>
                    <?php endforeach; ?>
                </li>
                <?php $i++; ?>
            <?php endforeach; ?>
        <?php endif; ?>
    </ul>

    <script type="text/javascript">
        window.sliders.push({
            "identifier": ".slider.<?php echo $slider->getIdentifier(); ?>",
            "options": {
                "sliderType" : "<?php echo $block->getSliderType() ?>",
                "autoplay": <?php echo $slider->getAutoplay() ? 'true' : 'false'; ?>,
                "autoplaySpeed": <?php echo $slider->getAutoplaySpeed() ? (int) $slider->getAutoplaySpeed() : 4000 ?>,
                "infinite": <?php echo $slider->getInfinite() ? 'true' : 'false'; ?>,
                "arrows": false,
                "fade": true,
                "pauseOnFocus": false,
                "pauseOnHover": false
            }
        });
    </script>
<?php endif; ?>
