<?php
    /** @var Synolia\Slider\Block\Widget\Slider $block */
    $slider = $block->getSlider();
?>

<?php if ($slider): ?>
    <?php $_slides = $block->getSlides(); ?>
    <div class="slider soles">
        <?php foreach($_slides as $slide): ?>
            <div class="slide">
                <h2><?= $slide->getTitle(); ?></h2>
                <img src="<?= $slide->getImageBigUrl(); ?>"/>
                <p><?= $slide->getContent(); ?></p>
            </div>
        <?php endforeach; ?>
    </div>
<?php endif; ?>
<script type="text/javascript">
    window.sliders.push({
        "identifier": ".slider.soles",
        "options": {
            "autoplay": false,
            "infinite": false,
            "arrows": false,
            "dots": false,
            "slidesToShow": 2,
            "responsive": [
                {
                    "breakpoint": 768,
                    "settings": {
                        "slidesToShow": 1,
                        "dots": true
                    }
                }
            ]
        }
    });
</script>