<?php /** @var \Magento\Framework\View\Element\Template $block */ ?>

<?php /** @var \Us\LiveChat\Helper\Config $tagHelper */ ?>
<?php $tagHelper = $this->helper('Us\LiveChat\Helper\Config'); ?>

<div class="livechat-init no-display"></div>

<?php if ($tagHelper->getActive()) : ?>
    <script type="text/x-magento-init">
        {
            ".livechat-init": {
                "liveChat": {
                    "url_script"  : "<?php echo $tagHelper->getUrlScript(); ?>",
                    "url_chat"    : "<?php echo $tagHelper->getUrlChat(); ?>",
                    "mainchatcode": "<?php echo $tagHelper->getMainChatCode(); ?>",
                    "chatcode1"   : "<?php echo $tagHelper->getChatCode1(); ?>",
                    "chatcode2"   : "<?php echo $tagHelper->getChatCode2(); ?>"
                }
            }
        }
    </script>
<?php endif; ?>
