/* FONTS */
@font-face {
    font-family: 'GillSans';
    src: url('../fonts/GillSans/std/GillSansStd.eot');
    src: url('../fonts/GillSans/std/GillSansStd.eot?#iefix') format('embedded-opentype'), url('../fonts/GillSans/std/GillSansStd.woff2') format('woff2'), url('../fonts/GillSans/std/GillSansStd.woff') format('woff'), url('../fonts/GillSans/std/GillSansStd.ttf') format('truetype'), url('../fonts/GillSans/std/GillSansStd.svg#GillSans') format('svg');
    font-weight: 400;
    font-style: normal;
}


/* IMAGE TOP */
.top-box {
    background: url('../images/topbox2.jpg') no-repeat center center;
    background-size: cover;
    color: #fff;
    height: 300px;
    width: 100%;
    position: relative;
    margin-top: 90px;
}
.top-box>.title {
    font-family: 'GillSans', sans-serif;
    font-weight: 100;
    -webkit-transform: translate(-50%, -50%);
    -khtml-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 4.25em;
    line-height: 70px;
    letter-spacing: 9px;
    margin: 0;
    color: white;
}
/* ACCORDION & CROSS */
#content-faq article:not(:first-child) {
    border-top: 1px solid #DADADA;
}

#content-faq article button {
    font-family: 'GillSans', sans-serif;
    font-weight: 100;
    -webkit-appearance: button;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    overflow: visible;
    text-transform: none;
    line-height: 1.15;
    margin: 0;
    padding: 0;
    background-color: white;
    width: 100%;
    text-align: left;
    box-shadow: unset;
    white-space: normal;
    border:0;
}

#content-faq article button:active {
    box-shadow: none !important;
}

#content-faq article h4.open button {
    color: #ed1e24;
}

#content-faq article {
    padding: 1em 5px 1em 0;
}

/* Titles */
#content-faq .btn {
    font-size: 1.1em;
}

#content-faq article .btn:focus {
    outline: thin dotted;
    outline-offset: -2px;
    outline: none;
}

#content-faq h4 {
    position: relative;
    font-size: 1.1em;
    width: 100%;
    text-align: left;
    padding: 0;
}

.add-before::before {
    background-color: #979797;
    width: 1px;
    height: 15px;
    position: absolute;
    top: 0px;
    right: 7px;
    content: "";
}

#content-faq h4::after {
    background-color: #979797;
    width: 15px;
    height: 1px;
    position: absolute;
    top: 7px;
    right: 0;
    content: "";
}

/* NAVIGATION */
#content-faq .faq-section .nav {
    display: inline-flex;
}

#content-faq .nav li a {
    font-family: 'GillSans', sans-serif;
    font-weight: 100;
    color: #000;
    font-size: 1.45em;
    letter-spacing: 2px;
    opacity: 0.4;
    position: relative;
    background: none;
    margin: 0 30px 0 0;
    padding-left: 0;
    padding-right: 0;
}

#content-faq .faq-section .nav li a:hover {
    opacity: 1;
}

#content-faq .faq-section .nav li.active a {
    opacity: 1;
    border-bottom: 1px solid #000;
    padding-left: 0;
    padding-right: 0;
}
#content-faq, .categories-nav {
    max-width: 1260px;
    margin: 0 auto;
    padding: 20px;
}

.faqtext {
    margin: 0 30px;
    font-size: 0.9em;
}

.categories-nav {
    text-align: center;
    margin-top: 22px;
}

.categories-nav ul {
    display: block;
    margin: 0;
    padding: 0;
}

.categories-nav ul li {
    transition-duration: 0.5s;
}

.categories-nav ul li:hover {
    font-weight: bold;
}

.categories-nav .section-link {
    font-family: 'GillSans', sans-serif;
    font-weight: 100;
    color: #000;
    font-size: 1.3em;
    letter-spacing: 2px;
    position: relative;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 63px 0 0;
    background-position: 50% -67px;
    background-origin: content-box;
    line-height: 100px;
}

.categories-nav ul li {
    display: inline-block;
    width: 30%;
    position: relative;
    padding: 25px 0;
    text-align: center;
}
/* End NAV */
.faqtext p {
    font-family: 'GillSans', Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    margin: 0;
    line-height: 1.625em;
}

#content-faq h4 {
    margin: 1em 0 0.5em 0;
}

.faq-section {
    display: none;
}

.active-section {
    display: block;
}

/* Table Size */
.gender table {
    table-layout: fixed;
    width: 100%;
    border: 1px solid #f2f2f1;
}

.gender table th {
    text-align: center;
    color: #ed1e24;
    font-size: 0.825em;
    letter-spacing: 1px;
    font-weight: lighter;
    text-transform: uppercase;
    padding: 23px 10px;
}

.gender table tbody tr.type {
    background: transparent !important;
    border-bottom: 1px solid #f2f2f1;
    border-top: 1px solid #f2f2f1;
}

.gender table tbody tr:nth-child(odd) {
    background: #f9fafa;
}

.gender.women td:nth-child(5),
.gender.women .type td:last-child {
    border-left: 1px solid #f2f2f1;
}

.gender table tbody tr.type td {
    color: #222;
    font-size: 0.7em;
    text-transform: uppercase;
    text-align: center;
    padding: 13px;
}

/* CTA contacts */
.cta-wrapper {
    text-align: center;
    margin: 20px auto;
    position: relative;
}

.cta-wrapper .contact-us {
    height: 41px;
    box-sizing: border-box;
    border: 1px solid #ed1e24;
    color: #ed1e24;
    display: inline-block;
    font-size: 0.9em;
    letter-spacing: 1px;
    line-height: 18px;
    padding: 11px 30px 8px 30px;
    text-transform: capitalize;
    text-decoration: none;
    text-align: center;
    -webkit-transition: transform 0.3s, opacity 0.3s;
    -khtml-transition: transform 0.3s, opacity 0.3s;
    -moz-transition: transform 0.3s, opacity 0.3s;
    -ms-transition: transform 0.3s, opacity 0.3s;
    -o-transition: transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
}

.cta-wrapper .contact-us:hover,
.cta-wrapper .contact-us:focus {
    opacity: 0.95;
    -webkit-transform: scale(1.05);
    -khtml-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
    text-decoration: none;
    color: #ed1e24;
}


/*** Responsive Styles Smartphone Only ***/
@media all and (max-width: 767px) {
    #content-faq h4 {
        font-size: 1.1em;
    }

    #content-faq .nav li a {
        margin: 0 5px 0 0;
        letter-spacing: 0;
    }
    #content-faq .nav li.active a {
        padding-bottom: 5px;
    }

    #content-faq h4::after,
    .add-before::before {
        display: none;
    }

    .categories-nav {
        margin-bottom: 20px;
    }

    .categories-nav .section-link {
        padding: 3px 0 0 0;
        background-position: 3% 0px;
        line-height: 80px;
        font-size: 1.15em;
        letter-spacing: 0;
    }

    .categories-nav ul li {
        width: 100%;
        text-align: left;
    }

    .categories-nav ul li:not(:last-child) {
        border-bottom: 1px solid #ccc;
        padding-bottom: 6px
    }

    .categories-nav ul li span {
        padding-left: 100px;
    }

    /* Tabs */
    #content-faq .nav>li>a {
        padding: 10px 5px;
        font-size: 1em;
    }

    .faqtext {
        font-size: 0.9em;
        margin: 0 10px;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .categories-nav .section-link {
        font-size: 1em;
    }
}

@media (max-device-width: 767px) {
    .categories-nav .section-link {
        background-size: 3.35em;
        background-position: 0 46%;
        font-size: 1.4em;
        line-height: 3.5em;
        letter-spacing: 2px;
    }
}

@media (min-device-width: 500px) and (max-device-width: 767px) {
    .categories-nav .section-link .title-link{
        padding: 0 0 0 15%;
     }
}

@media (max-device-width: 499px){
    .categories-nav .section-link .title-link{
        padding: 0 0 0 24%;
    }
}
