//
//  Common
//  _____________________________________________

.blog-article {
  display: block;
  padding: 0;
  height: 350px;
  overflow: hidden;
  border-top: 1px solid @color-grey-two;
  margin-bottom: 0;

  &:hover {
    background-color: @color-grey-two;
  }

  .first-half-article {
    width: 50%;
    float: right;
    padding: 80px 40px;
    box-sizing: border-box;

    &:after {
      display: table;
      content: '';
      clear: both;
    }
    .date-article {

      p {
        display: inline-block;
        padding-bottom: 10px;
        margin-bottom: 25px;
        text-align: center;
        font-size: @font-size_11;
        letter-spacing: 1px;
        color: @color-louboutin-red;
        border-bottom: 2px solid;
      }
    }

    .title-article {
      a {
        display: inline-block;
        text-align: left;
        width: 100%;
        margin-top: 0;
        font-size: @font-size_28;
        letter-spacing: 3px;
        color: @color-black-title;
        font-weight: @font-weight__xlight;
        &:hover {
          text-decoration: none;
        }
      }
    }

    .read-more-article {
      display: block;
      margin-top: 1.83em;

      a {
        color: @color-warm-grey;
        font-weight: @font-weight__xlight;

        &:hover {
          color: @color-warm-grey;
          text-decoration: none;
        }
      }
    }
  }


  .second-half-article {
    width: 50%;
    float: left;
    height: 100%;
    padding: 0;
    box-sizing: border-box;

    &:after {
      display: table;
      content: '';
      clear: both;
    }

    .image-background {
      background-size: cover;
      background-position: center center;
      height: 80%;
      padding-top: 14%;
      img {
        width: 100%;
      }
    }
  }
}