.images-products {
    max-width: 1200px;
    text-align: center;
    margin: 0 7.5% 80px;
    display: inline-block;

    .image-first,
    .image-second {
        position: relative;
        display: inline-block;
        margin: 0 20px;
    }

    .image-first,
    .products {
        float: right;
        width: 60%;
        margin: 0 90px 0 0;
    }

    .image-first {
        padding: 20px 0 40px;

        .title {
            top: 0;
        }

        img {
            margin: 0 0 0 10%;
            max-width: 90%;
        }
    }

    .image-second {
        padding: 0 0 20px;
        float: left;
        text-align: left;
        width: 40%;
        margin: 0 0 50px 0;

        img {
            margin: 0;
        }

        .title {
            bottom: 0;
            right: 0;
        }
    }

    .title {
        position: absolute;
        background: @color-white;
        margin: 0;
        font-weight: @font-weight__light;
        letter-spacing: 1.1px;
        color: @color-warm-grey;
        line-height: 1;
        font-size: @font-size_24;
        padding: 25px 20px;
        border-bottom: 3px solid @color-black;

        span {
            display: inline-block;
            padding: 0 0 6px;
            border-bottom: 3px solid @color-black;
        }
    }

    .products {
        clear: right;

        .block-products-list {
            margin: 0 0 0 10%;

            .block-title {
                display: none;
            }

            .products-grid {
                .widget-product-grid {
                    .product-item {
                        width: 45%;
                        margin: 0 4% 0 0;

                        img {
                            max-width: 180px;
                        }

                        &:nth-child(2) {
                            margin: 0 0 0 4%;
                        }

                        .product-item-name {
                            text-transform: capitalize;
                            font-size: @font-size_13;
                            letter-spacing: 1.2px;
                            font-weight: @font-weight__light;
                            padding: 27px 0 0;
                            border-top: 1px solid @color-grey-four;
                            display: block;
                            position: relative;

                            &:before {
                                position: absolute;
                                top: -19px;
                                left: 50%;
                                background: @color-white;
                            }
                        }
                    }
                }
            }
        }
    }

    &.images-products-right {
        .image-first {
            img {
                max-height: 340px;
            }
        }

        .image-second {
            img {
                max-height: 390px;
            }
        }
    }

    &.images-products-left {
        .image-first {
            text-align: left;

            .title {
                top: inherit;
                bottom: 0;
                padding-left: 0;
            }

            img {
                margin: 0 10% 0 0;
                max-height: 420px;
            }
        }

        .image-second {
            float: right;
            padding-right: 0;
            margin: 185px 0 50px 0;
            text-align: right;

            .title {
                padding-right: 0;
            }

            img {
                margin: 0 0 0 10%;
                max-width: 90%;
                max-height: 410px;
            }
        }

        .image-first,
        .products {
            float: left;
            margin-right: 0;
        }


        .products {
            clear: left;

            .block-products-list {
                margin: 0 10% 0 0;
            }
        }
    }
}