//
//  Common
//  _____________________________________________

.image-single-product-left,
.image-single-product-right {
  display: table;
  box-sizing: border-box;
  width: 100%;
  padding: 0 52px;

  > div {
    display: table-cell;
    vertical-align: middle;
  }

  .single-product-left,
  .single-product-right {
    margin-top: 70px;
    padding: 0 30px 0 0;
    box-sizing: border-box;
  }

  .single-product-right {
    padding: 0 0 0 30px;
  }

  .single-product-left {
    float: left;
    margin: 19.5% auto;
  }

  .block-products-list {
    padding: 0;

    ol {
      width: 100%;
      margin-left: 0;

      .product-item {
        width: 100%;
        padding-left: 0;

        .product-item-info {
          text-align: center;

          .product-item-link {
            display: block;
            font-size: @font-size_13;
            font-family: @font-family-name__avenir;
            color: @color-black-title;
            letter-spacing: 1px;
            text-transform: uppercase;
            max-width: 200px;
            margin: 40px auto 4px;
            line-height: 25px;
            transition: all .6s;
          }

          .product-item-photo {
            display: block;
            position: relative;

            &:after {
              opacity: 0;
              content: '';
              position: absolute;
              top: 100%;
              left: 0;
              right: 0;
              margin: 0 auto;
              height: 12px;
              width: 150px;
              background: radial-gradient(ellipse at center, rgba(0, 0, 0, .2) 0%, rgba(0, 0, 0, 0) 75%);
              transition: all .6s;
              z-index: 10;
            }

            img.photo {
                max-width: 150px;
                -moz-transition: opacity 0.2s;
                -o-transition: opacity 0.2s;
                -webkit-transition: opacity 0.2s;
                transition: opacity 0.2s;
            }
          }

          &:hover {
            .product-item-photo {

              img.photo {
                  opacity: 0.8;
              }

            }

            .product-item-link {
              color: #ec1616;
              text-decoration: none;
              transition: all .6s;
            }
          }
        }
      }
    }
  }
}

.image-single-product-left-image,
.image-single-product-right-image {
  width: 527px;

  a, img {
    width: 100%;
  }
}

.image-single-product-left-image {
  float: right;
}
