.link-category {
  padding: 0 52px;

  p {
    text-align: center;
  }

  a {
    display: inline-block;
    position: relative;
    font-size: @font-size_11;
    color: @color-black-title;
    letter-spacing: 3.38px;
    padding-bottom: 13px;
    font-family: @font-family-name__avenir;
    text-transform: uppercase;

    &:before {
      width: 0;
      bottom: 0;
    }

    &:after {
      position: absolute;
      left: -2px;
      right: 0;
      margin: 0 auto;
      height: 1px;
      width: calc(~"100% - 3px");
      content: "";
      background-color: @color-black-title;
      transition: all .2s;
    }

    &:hover {

      &:before {
        width: calc(~"100% - 3px");
      }
    }
  }
}