.blog-submenu-article {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;

  .first-half-submenu {
    float: left;
    width: 162px;
    height: auto;

    img {
      display: inline-block;
    }
  }

  .second-half-submenu {
    position: absolute;
    height: auto;
    top: 50%;
    left: 180px;

    .title-article {

      a {
        font-family: 'GillSans';
        font-size: unit(ceil(16 * 1), px);
        letter-spacing: 2px;
        line-height: 24px;
        font-weight: bold;
        color: @color-black;
        text-transform: initial;
      }
    }

    .read-more-article {

      a {
        text-transform: uppercase;
        font-size: unit(ceil( 9 * 1), px);
        letter-spacing: 1px;
        line-height: 10px;
        color: @color-warm-grey;
      }
    }
  }
}