.title-subtitle-slider {
  padding: 0 52px;

  .title-slider-discover {

    p {
      position: relative;
      font-family: @font-family-name__madelyn;
      font-size: @font_size_64;
      line-height: 1.17;
      color: @color-louboutin-red;
      text-shadow: 1.7px 1px 0 #fff;
      text-align: center;

      &:after {
        position: absolute;
        top: calc(~"100% - 17px");
        right: 0;
        left: 0;
        margin: 0 auto;
        content: "";
        width: 259px;
        height: 1px;
        background-color: #ececec;
      }
    }
  }

  .subtitle-slider-discover {
    margin-bottom: 66px;

    p {
      font-family: @font-family-name__avenir;
      font-size: @font-size_11;
      line-height: 1.36;
      letter-spacing: 2px;
      text-align: center;
      color: @color-warm-grey;
    }
  }

  .slick-slider {

    button.slick-prev {
      background: transparent;

      &:before {
        font-size: @font-size_24;
        font-family: @font-family-name__loub_icons;
        content: '\e005';
        color: @color-pinkish-grey;
        transition: all .6s;
      }

      &:hover {

        &:before {
          color: @color-black;
          transition: all .6s;
        }
      }
    }

    button.slick-next {
      background: transparent;

      &:before {
        font-size: @font-size_24;
        font-family: @font-family-name__loub_icons;
        content: '\e003';
        color: @color-pinkish-grey;
        transition: all .6s;
      }

      &:hover {

        &:before {
          color: @color-black;
          transition: all .6s;
        }
      }
    }
  }

  div.slick-list {
    margin: 0 3.75%;
    padding: 8px 0;

    .slick-track {

      li.slide {
        margin-left: 0;
        padding: 0;

        .product-item-details {
          text-align: center;
        }

        .product-item-info {
          position: relative;

          .product-item-name {
            text-align: center;
            margin-top: 24px;

            a {
              display: block;
              position: relative;
              color: @color-black-title;
              font-size: @font-size_13;
              font-family: @font-family-name__avenir;
              letter-spacing: .93px;
              padding: 0 20px;
              transition: all .6s;

              &:hover {
                text-decoration: none;
              }
            }
          }

          .product-item-photo {
            width: 100%;

            &:after {
              opacity: 0;
              content: '';
              position: absolute;
              top: 150px;
              left: 0;
              right: 0;
              margin: 0 auto;
              height: 12px;
              width: 150px;
              background: radial-gradient(ellipse at center, rgba(0, 0, 0, .2) 0%, rgba(0, 0, 0, 0) 75%);
              transition: all .6s;
              z-index: 10;
            }

            img {
                max-width: 150px;
                margin: 0 auto;
                -moz-transition: opacity 0.2s;
                -o-transition: opacity 0.2s;
                -webkit-transition: opacity 0.2s;
                transition: opacity 0.2s;
            }
          }

          &:hover {

            .product-item-name {

              a {
                color: @color-louboutin-red;
                transition: all .6s;
              }
            }

            .product-item-photo {

              img {
                  opacity: 0.8;
              }
            }
          }
        }
      }
    }
  }
}
