.title-image {
  margin-bottom: 73px;

  .title-image-title {
    margin: 70px 0 63px;
    padding: 0 52px;

    .h2 {
      font-size: @font-size_40;
      color: @color-black;
      font-family: @font-family-name__freightdisp;
      letter-spacing: 5px;
      text-transform: uppercase;
      line-height: 50px;
    }
  }

  .title-image-image {
    text-align: right;
    padding: 0 52px;

    a, img {
      width: 677px;
    }
  }
}