.title-text {
  padding: 0 52px;

  p {
    max-width: 315px;
    margin: 0 auto;
  }

  .title-text-title {
    margin-bottom: 26px;
    color: @color-black;
    font-size: @font-size_20;
    letter-spacing: 1.44px;
    line-height: 25px;
    font-family: @font-family-name__freightdisp;
    text-align: center;
  }

  .title-text-text {
    font-family: @font-family-name__avenir;
    letter-spacing: .5px;
    font-size: @font-size_13;
    color: @color-grey-three;
    text-align: center;
  }
}
