.topbox-video,
.topbox-image {
    max-width: 1200px;
    text-align: center;
    color: @color-black-title;

    a {
        color: @color-black-title;
        text-decoration: none;
        display: block;

        &:hover {
            .title {
                color: @color-louboutin-red;
                border-color: @color-louboutin-red;
            }
        }
    }

    .title {
        text-transform: uppercase;
        display: inline-block;
        transition: color .4s, border-color .4s;
        font-size: @font-size_40;
        letter-spacing: 3.6px;
        position: relative;
        max-width: 50%;
        border-bottom: 3px solid @color-black-title;
    }

    .subtitle {
        font-weight: @font-weight__light;
        display: block;
    }
}