.topbox-video {
    max-width: 1200px;

    .video-container {
        position: relative;

        .play-button {
            position: absolute;
            bottom: 12%;
            cursor: pointer;
        }

        .play-button {
            right: 50px;
            height: 51px;
            padding: 0 0 0 75px;

            &:before,
            span {
                display: inline-block;
                vertical-align: middle;
            }

            &:before {
                content: "";
                width: 58px;
                height: 51px;
            }

            span {
                text-transform: uppercase;
                letter-spacing: 3.5px;
                color: @color-white;
                font-size: @font-size_14;
                margin: 0 0 0 20px;
            }
        }

        img {
            max-width: 100%;
        }
    }
}