// Colors
@color-black: #000000;
@color-black-title: #222222;
@color-louboutin-red: #ed1e24;
@color-white: #ffffff;
@color-grey-two: #f6f6f6;
@color-grey-three: #767676;
@color-grey-four: #eeeeee;
@color-warm-grey: #888888;
@color-pinkish-grey: #cccccc;

// Font weight
@font-weight__light: 100;
@font-weight__xlight: 200;

// Font size
@font_size_64: 64px;
@font-size_40: 40px;
@font-size_28: 28px;
@font-size_24: 24px;
@font-size_20: 20px;
@font-size_16: 16px;
@font-size_14: 14px;
@font-size_13: 13px;
@font-size_12: 12px;
@font-size_11: 11px;

// Font family
@font-family-name__freightdisp: 'Freightdisp';
@font-family-name__avenir: 'Avenir';
@font-family-name__madelyn: 'Madelyn';
@font-family-name__loub_icons: 'LoubIcons';
