<?php /** @var \Project\ProductFile\Block\Product\FileLink $block */ ?>
<?php $filelinks = $block->getFileLinks(); ?>
<?php if (count($filelinks) > 0) : ?>
<div class="technical-information-link">
    <a href="<?php echo $block->getProductFileUrl($filelinks[0]); ?>" target="_blank">
            <?= __('Technical Information'); ?>
    </a>
</div>
<?php endif; ?>
