<?php
// @codingStandardsIgnoreFile
?>
<?php /** @var \Project\VisualMerchandiser\Block\Adminhtml\Category\Merchandiser\Tile $block */ ?>
<?php
/** @var \Magento\Catalog\Helper\Image $imageBlock */
$imageHelper =  $block->getImageHelper();
?>
<div data-role="catalog_category_merchandiser">
    <div class="admin__data-grid-header admin__data-grid-toolbar">
        <div class="admin__data-grid-header-row"> </div>
        <div class="admin__data-grid-header-row">
            <div class="admin__control-support-text">
                <?php $countRecords = $block->getCollection()->getSize(); ?>
                <span id="<?= $block->getHtmlId() ?>-total-count" <?= /* @escapeNotVerified */ $block->getUiId('total-count') ?>><?= /* @escapeNotVerified */ $countRecords ?></span> <?= /* @escapeNotVerified */ __('records found') ?>
            </div>
            <?php if ($block->getPagerVisibility()): ?>
                <div class="admin__data-grid-pager-wrap">
                    <select name="<?= /* @escapeNotVerified */ $block->getVarNameLimit() ?>"
                            id="<?= $block->getHtmlId() ?>_page-limit"
                            data-role="page_limiter"
                            class="admin__control-select">
                        <?php foreach([500,600,700,800,900,1000] as $perPageSize): ?>
                            <option value="<?= /* @escapeNotVerified */ $perPageSize ?>"<?php if ($block->getCollection()->getPageSize() == $perPageSize): ?>
                                selected="selected"<?php endif; ?>><?= /* @escapeNotVerified */ $perPageSize ?>
                            </option>
                        <?php endforeach; ?>
                    </select>
                    <label for="<?= $block->getHtmlId() ?><?= $block->getHtmlId() ?>_page-limit"
                           class="admin__control-support-text"><?= /* @escapeNotVerified */ __('per page') ?></label>

                    <div class="admin__data-grid-pager">
                        <?php $_curPage = $block->getCollection()->getCurPage() ?>
                        <?php $_lastPage = $block->getCollection()->getLastPageNumber() ?>
                        <?php if ($_curPage > 1): ?>
                            <button class="action-previous"
                                    type="button"
                                    data-role="button_previous"
                                    data-value="<?= /* @escapeNotVerified */ ($_curPage - 1) ?>">
                                <span><?= /* @escapeNotVerified */ __('Previous page') ?></span>
                            </button>
                        <?php else: ?>
                            <button type="button" class="action-previous disabled"><span><?= /* @escapeNotVerified */ __('Previous page') ?></span></button>
                        <?php endif; ?>
                        <input type="text"
                               id="<?= $block->getHtmlId() ?>_page-current"
                               name="<?= /* @escapeNotVerified */ $block->getVarNamePage() ?>"
                               value="<?= /* @escapeNotVerified */ $_curPage ?>"
                               class="admin__control-text"
                               data-role="input_page"
                            <?= /* @escapeNotVerified */ $block->getUiId('current-page') ?> />
                        <label class="admin__control-support-text" for="<?= $block->getHtmlId() ?>_page-current">
                            <?= /* @escapeNotVerified */ __('of %1', '<span>' . $block->getCollection()->getLastPageNumber() . '</span>') ?>
                        </label>
                        <?php if ($_curPage < $_lastPage): ?>
                            <button type="button"
                                    title="<?= /* @escapeNotVerified */ __('Next page') ?>"
                                    class="action-next"
                                    data-role="button_next"
                                    data-value="<?= /* @escapeNotVerified */ ($_curPage + 1) ?>">
                                <span><?= /* @escapeNotVerified */ __('Next page') ?></span>
                            </button>
                        <?php else: ?>
                            <button type="button" class="action-next disabled"><span><?= /* @escapeNotVerified */ __('Next page') ?></span></button>
                        <?php endif; ?>
                    </div>
                </div>
            <?php endif ?>
            <div class="merch-actions">
                <input type="checkbox" id="check-all-products" name="check-all-products">
                <label for="check-all-products"><?= /* @escapeNotVerified */ __('Select/Unselect all products') ?></label>
                <span><a href="#" id="deleteProducts"><?= /* @escapeNotVerified */ __('Delete selected product(s)') ?></a></span>
            </div>
        </div>
    </div>

    <?php if ($block->getCollection()): ?>
        <div class="admin__data-grid-wrap admin__data-grid-wrap-static">
            <div class="hor-scroll">
                <ul id="catalog_category_merchandiser_list" class="catalog-category-merchandiser-list">
                    <?php foreach ($block->getCollection() as $_index => $_product): ?>
                        <?php /** @var \Magento\Catalog\Model\Product $_product */ ?>
                        <li class="product_tile <?= $block->isProductDisabled($_product) ? 'disabled-product' : '' ?>">
                            <?php if ($block->isProductDisabled($_product)): ?>
                                <div class="disabled-product-mask"></div>
                            <?php endif; ?>
                            <div class="controlbar-top">
                                <a href="#" class="icon-gripper"><span><?= /* @escapeNotVerified */ __('Draggable') ?></span></a>
                                <a href="#" class="remove-product icon-close-mage"><span>--><?= /* @escapeNotVerified */ __('Close') ?></span></a>
                            </div>
                            <div class="image-holder">
                                <img src="<?= /* @escapeNotVerified */ $block->getImageUrl($_product) ?>" alt="<?= /* @escapeNotVerified */ __('Product image') ?>" />
                            </div>
                            <div class="info-block">
                                <?php foreach($block->getAttributesToDisplay($_product) as $attribute): ?>
                                    <?= /* @escapeNotVerified */ $attribute->render() ?>
                                <?php endforeach; ?>
                            </div>
                            <div class="controlbar-bottom">
                                <div class="position">
                                    <label for="id_position_<?= /* @escapeNotVerified */ $_index ?>"><?= /* @escapeNotVerified */ __('Position') ?></label>
                                    <div>
                                        <a href="#" class="move-top icon-backward"><span><?= /* @escapeNotVerified */ __('Top') ?></span></a>
                                        <input type="text" name="position" id="id_position_<?= /* @escapeNotVerified */ $_index ?>" value="<?= $block->escapeHtml($_product->getPosition()) ?>" />
                                        <a href="#" class="move-bottom icon-forward"><span><?= /* @escapeNotVerified */ __('Bottom') ?></span></a>
                                    </div>
                                </div>
                                <input type="hidden" name="entity_id" value="<?= /* @escapeNotVerified */ $_product->getId() ?>" />
                            </div>
                        </li>
                    <?php endforeach; ?>
                </ul>
            </div>
        </div>
    <?php endif; ?>
</div>

<script type="text/x-magento-init">
{
    "[data-role=catalog_category_merchandiser]": {
        "Magento_VisualMerchandiser/js/pager": {
            "gridUrl": "<?= /* @escapeNotVerified */ $block->getGridUrl() ?>",
            "varNamePage": "<?= /* @escapeNotVerified */ $block->getVarNamePage() ?>"
        }
    }
}
</script>
