<?php
/** @var \Project\WeltPixelGoogleTagManager\Block\Checkout $block */
?>

<div id="checkout-shipping-load">
    <!-- Content loaded dynamically -->
</div>

<script type="text/x-magento-init">
    {
        "*": {
            "WeltPixel_GoogleTagManager/js/actions/checkout": {
                "products": <?= /* @noEscape */ $block->getProducts() ?>,
                "pageData": <?= /* @noEscape */ $block->getPageData() ?>,
                "currencyCode": <?= /* @noEscape */ $block->getStoreCurrencyCode() ?>
            }
        }
    }
</script>