<div id="retailer-locator" class="retailer-locator">
    <div class="result-container">
        <div class="infos">
            <div class="search-header">
                <fieldset class="fieldset">
                    <div class="field search">
                        <input id="stockist-search-term" class="input-text" type="text" data-bind="attr: {placeholder: $t('Search the city')}" />
                    </div>
                    <div class="field filter-category">
                        <ul class="filter-options">
                            <!-- ko foreach: {data: filters, as: 'filter'} -->
                            <li class="filter-option"><a data-bind="attr:{href: '#'+filter.value}, text: filter.label"></a></li>
                            <!-- /ko -->
                            <li class="remove-active-filters no-display"><a href="#no-filter" data-bind="attr:{title: $t('Remove active filters')}">&nbsp;</a></li>
                        </ul>
                    </div>
                </fieldset>
            </div>

            <div class="retailer-results" data-bind="visible: !currentRetailerVisible()">
                <!-- ko foreach: {data: retailers, as: 'retailer'} -->
                <div class="results-content loaded-results" data-bind="attr:{'data-marker': retailer.retailer_id}, click: $parent.clickList.bind($parent)">
                    <div class="results-item-data">
                        <p class="name" data-bind="text: retailer.name"></p>

                        <!-- ko if: ($parent.widgetInitialized() && $parent.mapOptions.displayAddress) -->
                            <!-- ko if: (retailer.display_street==1 && retailer.street) -->
                            <p class="street" data-bind="text: retailer.street"></p>
                            <!-- /ko -->
                        <!-- /ko -->
                    </div>
                </div>
                <!-- /ko -->

                <div class="actions">
                    <a class="button action primary" data-bind="attr: {'href': allStorePage}">
                        <span data-bind="i18n: 'See all stores'"></span>
                    </a>
                </div>
            </div>

            <!-- ko if: (currentRetailerVisible) -->
            <div class="current-retailer">
                <div class="actions">
                    <button class="action back" data-bind="click: hideCurrentStore"><span data-bind="i18n: 'Back to results'"></span></button>
                </div>
                <div class="details">
                    <div class="name" data-bind="text: currentRetailer().name"></div>
                    <!-- ko if: mapOptions.displayAddress -->
                        <!-- ko if: (currentRetailer().display_street==1 && currentRetailer().street) --><div class="street" data-bind="text: currentRetailer().street"></div><!-- /ko -->
                        <!-- ko if: (currentRetailer().display_zip_code==1 && currentRetailer().zip_code) --><div class="zip" data-bind="text: currentRetailer().zip_code"></div><!-- /ko -->
                        <!-- ko if: (currentRetailer().display_city==1 && currentRetailer().city) --><div class="city" data-bind="text: currentRetailer().city"></div><!-- /ko -->
                        <div class="country" data-bind="text: currentRetailer().country_name"></div>
                    <!-- /ko -->
                </div>
                <div class="actions">
                    <button class="action primary more-info" data-bind="click: showFullDetails"><span data-bind="i18n: 'More informations'"></span></button>
                </div>
            </div>
            <!-- /ko -->
        </div>

        <div class="map">
            <div id="map-canvas" data-bind="afterRender: initMapWidget"></div>

            <div class="field closest-store">
                <button class="button action"><h1 class="text" data-bind="i18n: 'Show nearest store'"></h1></button>
            </div>

            <!-- ko if: (retailerPanelVisible) -->
            <div class="retailer-panel">
                <div class="actions">
                    <button class="action back" data-bind="click: hidePanel"><span data-bind="i18n: 'Hide panel'"></span></button>
                </div>
                <div class="title">
                    <div class="name" data-bind="text: currentRetailer().name"></div>
                </div>
                <!-- ko if: mapOptions.displayAddress -->
                <div class="details">
                    <!-- ko if: (currentRetailer().display_street==1 && currentRetailer().street) --><div class="street" data-bind="text: currentRetailer().street"></div><!-- /ko -->
                    <!-- ko if: (currentRetailer().display_zip_code==1 && currentRetailer().zip_code) --><div class="zip" data-bind="text: currentRetailer().zip_code"></div><!-- /ko -->
                    <!-- ko if: (currentRetailer().display_city==1 && currentRetailer().city) --><div class="city" data-bind="text: currentRetailer().city"></div><!-- /ko -->
                    <div class="country" data-bind="text: currentRetailer().country_name"></div>
                </div>
                <!-- /ko -->
                <div class="image">
                    <img data-bind="attr: {src: currentRetailer().image}" />
                </div>
                <div class="schedules-and-contact">
                    <!-- ko if: (currentRetailer().display_schedule==1 && currentRetailer().schedule_data) -->
                    <div class="schedules-table">
                        <div class="subtitle" data-bind="i18n: 'Opening hours'"></div>

                        <!-- ko foreach: {data: currentRetailer().schedule_data, as: 'schedule'} -->
                        <ul class="day-schedule">
                            <li class="schedule">
                                <span class="day-of-the-week" data-bind="text: schedule.day"></span>
                                <span class="start-time" data-bind="text: schedule.start_time"></span>
                                <!-- ko if: schedule.end_time != '' -->
                                    <span class="separator"> - </span>
                                    <span class="end-time" data-bind="text: schedule.end_time"></span>
                                <!-- /ko -->
                            </li>
                        </ul>
                        <!-- /ko -->
                    </div>
                    <!-- /ko -->

                    <!-- ko if: mapOptions.displayContact -->
                    <div class="contact">
                        <div class="subtitle" data-bind="i18n: 'Share'"></div>
                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        <script type="text/javascript" data-bind="attr: { src: addThisUrl }"></script>
                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        <div class="addthis_inline_share_toolbox_wlwv" style="margin-bottom: 30px"></div>
                        <div class="subtitle" data-bind="i18n: 'Contact us'"></div>
                        <!-- ko if: currentRetailer().display_phone==1 && currentRetailer().phone_number -->
                        <a id="retailer-phone" class="action call"  data-bind="attr: {'href': 'tel:'+currentRetailer().phone_number}"><span data-bind="text: currentRetailer().phone_number"></span></a><br />
                        <!-- /ko -->
                        <!-- ko if: currentRetailer().display_email==1 && currentRetailer().email -->
                        <a id="retailer-mail" class="action mail" data-bind="attr: {'href': 'mailto:'+currentRetailer().email+'?subject=Store%20Locator%20-%20'+currentRetailer().name}"><span data-bind="i18n: 'Email the store'"></span></a>
                        <!-- /ko -->
                    </div>
                    <!-- /ko -->
                </div>
                <div class="additional-info" data-bind="text: currentRetailer().information"></div>
            </div>
            <!-- /ko -->
        </div>
    </div>
</div>