<?php
/** @var  \Project\NewsletterPopup\Helper\Data $_helper */
$_dataHelper = $this->helper('Project\NewsletterPopup\Helper\Data');
?>
<?php
$cookieName = $_dataHelper->getCookieName();
$nbVisitedPages = $_dataHelper->getNbVisitedPages();
?>

<div class="modal-content newsletter-content" id="popup-newsletter" style="display: none" data-role="popup">
    <div class="responses">
        <div class="response">
            <div></div>
        </div>
    </div>

    <div class="content">
        <form class="form subscribe-newsletter"
              novalidate
              action="<?php /* @escapeNotVerified */ echo $_dataHelper->getFormActionUrl(); ?>"
              method="post"
              data-mage-init='{"validation": {"errorClass": "mage-error"}}'
              id="popup-newsletter-validate-detail">
            <label class="label no-display" for="newsletter"><?php __('Email Address') ?></label>
            <fieldset class="email-info">
                <input type="submit" data-category="Main Navigation" data-action="Newsletter ModalBox" data-label="Subscribe" value="OK" id="subscribe-popup">
                <input autocomplete="off" type="email" placeholder="<?php echo __('Email Address') ?>"
                       onfocus="this.placeholder=''" name="email" id="newsletter-email" title="<?php __('Email Address') ?>" data-validate="{required:true}">
            </fieldset>

            <fieldset class="email-checkboxs">
                <label data-target="women-collection" class="container"><?php echo __('Women collection') ?>
                    <input style="" type="checkbox" id="women-collection" name="women-collection" value="2" title="Women Collection" class="checkbox">
                    <span class="checkmark"></span>
                </label>

                <label data-target="men-collection" class="container"><?php echo __('Men collection') ?>
                    <input style="" type="checkbox" id="men-collection" name="men-collection" value="1" title="Men collection" class="checkbox">
                    <span class="checkmark"></span>
                </label>
            </fieldset>
            <p>
                <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('newsletter-popup-legal-text')->toHtml(); ?>
            </p>

        </form>
    </div>
</div>

<script type="text/x-magento-init">
    {
        "#popup-newsletter": {
            "Project_NewsletterPopup/js/process-popup-newsletter": {
                "cookieName": "<?php echo $cookieName ?>",
                "nbVisitedPages": "<?php echo $nbVisitedPages ?>"
            }
        }
    }
</script>
