// /**
//  * Copyright © Zemez, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@account-nav-background: @color-lightest;
@account-nav-color: false;

@account-nav-current-border: 3px solid transparent;
@account-nav-current-border-color: @active__color;
@account-nav-current-color: false;
@account-nav-current-font-weight: @font-weight__semibold;

@account-nav-delimiter__border-color: @color-gray82;

@account-nav-item-hover: @color-gray91;

@_password-default: @color-gray-light01;
@_password-weak: #ffafae;
@_password-medium: #ffd6b3;
@_password-strong: #c5eeac;
@_password-very-strong: #81b562;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .customer-account {
        &:not(.logged) {
            .account.links > li:first-child {
                display: none;
            }
        }
    }

    .login-container {
        .block {
            &-new-customer {
                .actions-toolbar {
                    margin-top: 25px;
                }
            }

            .block-title {
                &:extend(.abs-login-block-title all);
                .lib-font-size(18);
            }
        }

        .fieldset {
            .lib-form-hasrequired(bottom);

            &:after {
                margin-top: 35px;
            }
        }
    }

    .block-addresses-list {
        .items.addresses {
            > .item {
                margin-bottom: @indent__base;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .form-address-edit {
        .region_id {
            display: none;
        }

        .actions-toolbar .action.primary {
            &:extend(.abs-button-l all);
        }
    }

    .form-edit-account {
        .fieldset.password {
            display: none;
        }
    }

    .box-billing-address,
    .box-shipping-address,
    .box-address-billing,
    .box-address-shipping,
    .box-information,
    .box-newsletter {
        .box-content {
            &:extend(.abs-account-block-line-height all);
        }
    }

    //  My account
    .account {
        .page-title-wrapper {
            .page-title {
                display: inline-block;
            }
        }

        .messages {
            margin-bottom: @indent__base;
        }

        .column.main {
            margin-bottom: @indent__l;

            h2 {
                margin-top: 0;
            }

            .block:not(.widget) {
                &:extend(.abs-account-blocks all);
            }
        }

        .sidebar-additional {
            margin-top: @indent__xl;
        }

        .table-wrapper {
            .lib-css(margin-bottom, @indent__base);
            overflow-x: auto;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .legend {
            &:extend(.abs-account-title all);
        }
    }

    .account,
    [class^='sales-guest-'],
    .sales-guest-view {
        .column.main {
            .order-details-items {
                .table-wrapper {
                    .data.table {
                        &:extend(.abs-table-striped all);
                    }
                }
            }
        }

        .data.table {
            .col.actions {
                .action {
                    &:extend(.abs-account-actions all);

                    &.delete {
                        color: @color-light;
                    }
                }
            }
        }
    }

    //  Checkout address (create shipping address)
    .field.street {
        .field {
            .label {
                &:extend(.abs-visually-hidden all);
            }
        }
    }

    //
    //  Password Strength Meter
    //  ---------------------------------------------

    .field.password {
        .control {
            .lib-vendor-prefix-display();
            .lib-vendor-prefix-flex-direction();

            .mage-error {
                .lib-vendor-prefix-order(2);
            }

            .input-text {
                .lib-vendor-prefix-order(0);
                z-index: 2;
            }
        }
    }

    .password-strength-meter {
        background-color: @_password-default;
        height: @form-element-input__height;
        line-height: @form-element-input__height;
        padding: @form-element-input__padding;
        position: relative;
        z-index: 1;

        &:before {
            content: '';
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            z-index: -1;
        }

        .password-none & {
            &:before {
                background-color: @_password-default;
                width: 100%;
            }
        }

        .password-weak & {
            &:before {
                background-color: @_password-weak;
                width: 25%;
            }
        }

        .password-medium & {
            &:before {
                background-color: @_password-medium;
                width: 50%;
            }
        }

        .password-strong & {
            &:before {
                background-color: @_password-strong;
                width: 75%;
            }
        }

        .password-very-strong & {
            &:before {
                background-color: @_password-very-strong;
                width: 100%;
            }
        }
    }

    .control.captcha-image {
        .lib-css(margin-top, @indent__s);

        .captcha-img {
            vertical-align: middle;
        }
    }

    .account {
        .data.table-return-items {
            .qty {
                .input-text {
                    &:extend(.abs-input-qty all);
                }
            }
        }
    }

    .order-products-toolbar,
    .customer-addresses-toolbar {
        position: relative;

        .toolbar-amount {
            position: relative;
            text-align: center;
        }

        .pages {
            position: relative;
        }
    }

    .account-nav {
        .title {
            &:extend(.abs-visually-hidden all);
        }

        .content {
            .lib-css(background, @account-nav-background);
            padding: 15px 0;
        }

        .item {
            margin: 3px 0 0;

            &:first-child {
                margin-top: 0;
            }

            a,
            > strong {
                .lib-css(color, @account-nav-color);
                border-left: 3px solid transparent;
                display: block;
                padding: @indent__xs 18px @indent__xs 15px;
            }

            a {
                text-decoration: none;

                &:hover {
                    .lib-css(background, @account-nav-item-hover);
                }
            }

            &.current {
                a,
                strong {
                    .lib-css(border-color, @account-nav-current-border-color);
                    .lib-css(color, @account-nav-current-color);
                    .lib-css(font-weight, @account-nav-current-font-weight);
                }

                a {
                    .lib-css(border-color, @account-nav-current-border-color);
                }
            }

            .delimiter {
                border-top: 1px solid @account-nav-delimiter__border-color;
                display: block;
                margin: @indent__s 1.8rem;
            }
        }
    }

    .block-dashboard-orders,
    .block-dashboard-info,
    .block-dashboard-addresses,
    .block-reviews-dashboard,
    .customer-account-edit .form-edit-account,
    .block-addresses-default,
    .block-addresses-list,
    .custome-downloadable-products__wrapper,
    .orders-history__wrapper,
    .form-newsletter-manage,
    .my-reviews-table__wrapper,
    .account-billing-agreements__wrapper {
        border: 1px solid @border-color__base;
        border-radius: 2px;
        padding: 10px;
        margin-bottom: 20px;

        .block-title,
        .legend {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            color: @color-dark;
            font-size: 22px;
            line-height: 1;
            margin-bottom: 20px;

            > strong,
            > span {
                font-weight: 600;
            }

            a.action {
                font-size: 14px;
                line-height: 1;
                font-weight: 600;
                top: 50%;
                padding: 0;

                &:before {
                    content: '';
                    display: none;
                }

                span {
                    display: block;
                }
            }
        }

        .table-caption {
            display: none;
        }
    }

    .block-dashboard-info,
    .block-dashboard-addresses,
    .box-billing-address,
    .box-address-shipping {
        .box,
        &.box {
            background: @color-lightest;
            padding: 10px 20px 10px 15px;
            position: relative;

            @media (min-width: @screen__xs) {
                padding: 20px 20px 25px 25px;
            }
        }

        .box-title {
            font-size: 18px;
            font-weight: 600;
            color: @color-primary;
            margin-bottom: 22px;
        }

        .box-content {
            line-height: 2;

            p {
                margin-bottom: 18px;
            }
        }

        .box-actions {
            .action.edit {
                position: absolute;
                top: 10px;
                right: 10px;
                background-color: transparent;
                font-size: 14px;
                line-height: 1;
                color: @color-light;
                .font-icon(@themeicon-design_pen-01);

                span {
                    display: none;
                }

                &:hover {
                    color: @color-primary;
                    background: transparent;
                }
            }
        }

        .row > div {
            margin-bottom: 20px;
        }
    }

    .block-addresses-list {
        .block-content {
            background: @color-lightest;
            padding: 20px 20px 25px 25px;
            margin-bottom: 25px;
            position: relative;

            .action.edit,
            .action.delete {
                position: absolute;
                top: 22px;
                right: 15px;
                background-color: transparent;
                font-size: 14px;
                line-height: 1;
                color: @color-light;

                &:hover {
                    color: @color-primary;
                }
            }

            .action.delete {
                right: 35px;
            }
        }
    }

    .block-reviews-dashboard {
        .items li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 9px 16px;

            &:nth-child(odd) {
                background: @color-dark;
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

& when (@media-target = 'desktop') {
    .customer-account {
        .authorization-link {
            &:after {
                content: attr(data-label);
                display: inline-block;
                margin: 0 0 0 2px;
                color: @color-gray68;
            }

            &:last-child {
                &:after {
                    display: none;
                }
            }

            & + li {
                margin-left: 4px;
            }

            a {
                .font-icon(@themeicon-user-plus);

                &:before {
                    margin-right: 5px;
                    font-size: 16px;
                    line-height: 1;
                    vertical-align: text-top;
                }
            }

        }

        &.logged {
            .authorization-link a:before {
                content: @themeicon-user-minus;
            }
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }

        li {
            margin-left: 25px;
        }

        .account.links > li:first-child a {
            .font-icon(@themeicon-user);

            &:before {
                margin-right: 5px;
                font-size: 16px;
                line-height: 1;
                vertical-align: text-top;
            }
        }
    }

    .login-container {
        &:extend(.abs-add-clearfix-desktop all);

        .block {
            &:extend(.abs-blocks-2columns all);

            &.login {
                .actions-toolbar {
                    > .primary {
                        margin-bottom: 0;
                        margin-right: @indent__l;
                    }

                    > .secondary {
                        float: left;
                    }
                }
            }
        }
    }

    .form-create-account {
        .fieldset-fullname {
            .fields {
                display: table;
                width: 100%;

                .field {
                    display: table-cell;

                    + .field {
                        padding-left: @indent__s;
                    }
                }
            }

            .field-name-prefix,
            .field-name-suffix {
                width: 50px;
            }
        }
    }

    .form.password.reset,
    .form.send.confirmation,
    .form.password.forget,
    .form.create.account,
    .form.search.advanced,
    .form.form-orders-search {
        min-width: 600px;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .account {
        .page-title-wrapper {
            &:extend(.abs-add-clearfix-desktop all);
        }

        .column.main {
            .block:not(.widget) {
                .block-content {
                    .box {
                        height: 100%;
                    }
                }
            }
        }

        .data.table {
            margin-bottom: 0;

            .col {
                &.actions {
                    white-space: nowrap;
                }
            }
        }

        .toolbar {
            &:extend(.abs-pager-toolbar all);
        }
    }

    .block-addresses-list {
        .items.addresses {
            &:extend(.abs-add-clearfix-desktop all);
            font-size: 0;

            > .item {
                display: inline-block;
                font-size: @font-size__base;
                margin-bottom: @indent__base;
                vertical-align: top;
                width: 48%;

                &:nth-last-child(1),
                &:nth-last-child(2) {
                    margin-bottom: 0;
                }

                &:nth-child(even) {
                    margin-left: 4%;
                }
            }
        }

        address {
            &:extend(.abs-account-block-font-size all);
        }
    }

    .page-main {
        .block {
            &:extend(.abs-margin-for-blocks-and-widgets-desktop all);
        }
    }

    .form-edit-account {
        .fieldset {
            .fieldset {
                margin-bottom: @indent__base;
                width: 100%;
            }
        }

        .password-info {
            margin-left: 25.8%;
        }
    }

    .box-billing-address,
    .box-shipping-address,
    .box-address-billing,
    .box-address-shipping,
    .box-information {
        .box-content {
            &:extend(.abs-account-block-font-size all);
        }
    }

    .control.captcha-image {
        .captcha-img {
            margin: 0 @indent__s @indent__s 0;
        }
    }

    @media (min-width: @screen__l) {
        .block-dashboard-orders,
        .block-dashboard-info,
        .block-dashboard-addresses,
        .block-reviews-dashboard,
        .customer-account-edit .form-edit-account,
        .block-addresses-default,
        .block-addresses-list,
        .custome-downloadable-products__wrapper,
        .orders-history__wrapper,
        .form-newsletter-manage,
        .my-reviews-table__wrapper,
        .account-billing-agreements__wrapper {
            padding: 32px 30px 40px;
            margin-bottom: 40px;
        }
    }

    .block-addresses-list {
        .block-content {
            height: 100%;
        }
    }

    .block-dashboard-orders .table-order-items {
        td, th {
            @media (min-width: @screen__xl) {
                padding: 9px 20px;
            }
        }

        td.actions {
            @media (min-width: @screen__l) {
                .view {
                    float: left;
                }

                .order {
                    float: right;
                }
            }
        }
    }
}
