<!--@subject [{{var countryByIp}}] - {{var subject}}@-->
<!--@vars
{"var data.name":"Sender Name",
"var data.email":"Sender Email",
"var data.telephone":"Sender Telephone",
"var data.comment":"Comment"}
@-->

<p>Name: {{var data.prefix}} {{var data.firstname}} {{var data.lastname}}</p>
<p>E-mail: {{var data.email}}</p>
<p>Telephone: {{var data.telephone}}</p>
<p>Website: {{var country}}</p>
<p>Language: {{var language}}</p>

<p>Ip: {{var ip}}</p>
<p>Country: {{var countryByIp}}</p>

<p>Subject: {{var subject}}</p>
{{depend subsubject}}
<p>You are looking for: {{var subsubject}}</p>
{{/depend}}
{{depend image}}
<img src="{{var image}}" ></img>
{{/depend}}
<p>{{var additionalFields}}</p>
<p>Comment: {{var data.comment}}</p>