<?php
/** @var \Magento\Rma\Block\Order\Button $block */

/** @var \Magento\Rma\Helper\Data $mtoRmaHelper */
$mtoRmaHelper = $this->helper('Magento\Rma\Helper\Data');
/** @var \Project\Rma\Helper\Config $projectRmaHelper */
$projectRmaHelper = $this->helper('Project\Rma\Helper\Config');
?>
<?php if ($mtoRmaHelper->canCreateRma($block->getOrder()) && $projectRmaHelper->isInDelays($block->getOrder())) : ?>
    <a href="<?php echo $this->helper('Magento\Rma\Helper\Data')->getReturnCreateUrl($block->getOrder()) ?>"
       class="action return tertiary"><span><?php echo __('Return') ?></span></a>
<?php endif;?>
