<?php
// @codingStandardsIgnoreFile

/** @var \Magento\Newsletter\Block\Subscribe $block */
?>
<div class="block newsletter">
    <div class="title"><strong><?= $block->escapeHtml(__('Newsletter')) ?></strong></div>
    <div class="content">
        <form class="form subscribe"
              novalidate
              action="<?= $block->escapeUrl($block->getFormActionUrl()) ?>"
              method="post"
              data-mage-init='{"validation": {"errorClass": "mage-error"}}'
              id="newsletter-validate-detail">
            <div class="field newsletter">
                <label for="newsletter"><span><?= $block->escapeHtml(__('Stay connected')) ?></span></label>
                <span class="email-wrapper">
                    <input name="email" type="email" id="newsletter"
                           placeholder="<?= $block->escapeHtmlAttr(__('Your Email')) ?>"
                           data-validate="{required:true, 'validate-email':true}"/>
                    <button class="action subscribe" title="<?= $block->escapeHtmlAttr(__('Subscribe')) ?>" type="submit">
                        <span><?= $block->escapeHtml(__('OK')) ?></span>
                    </button>
                </span>
            </div>
        </form>
    </div>
    <?php echo $block->getBlockHtml('newsletter.infos.bottom.footer'); ?>
</div>
<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Newsletter/js/newsletter_subscriber_ajax": { }
        }
    }
</script>

<script type="text/javascript">

    requirejs(['jquery' ],
        function ($) {
            window.dataLayer = window.dataLayer || [];
            if ($('#rma_create_form').length) {
                let form = $('#rma_create_form');
                let original = form.serialize();

                form.submit(function () {
                    window.onbeforeunload = null
                })

                window.onbeforeunload = function () {
                    if (form.serialize() != original) window.dataLayer.push({"event":"gtm.ext.event","eventTmp":"formUse","eventCategory":"formNotCompleted","eventAction":"return-create-form","eventLabel": document.URL});
                }
            }  else if ($('#newsletter').val() != '') {
                let form = $('#newsletter');
                let original = form.serialize();

                form.submit(function () {
                    window.onbeforeunload = null
                })
                window.onbeforeunload = function () {
                    if (form.serialize() != original) window.dataLayer.push({"event":"gtm.ext.event","eventTmp":"formUse","eventCategory":"formNotCompleted","eventAction":"newsletter-form","eventLabel": document.URL});
                }
            } else if ( $('#contact-form').length ) {
                let form = $('#contact-form');
                let original = form.serialize();

                form.submit(function () {
                    window.onbeforeunload = null
                })
                window.onbeforeunload = function () {
                    if (form.serialize() != original) window.dataLayer.push({"event":"gtm.ext.event","eventTmp":"formUse","eventCategory":"formNotCompleted","eventAction":"contact-form","eventLabel": document.URL});
                }
            } else if ( $('#form-validate').length ) {
                let form = $('#form-validate');
                let original = form.serialize();

                form.submit(function () {
                    window.onbeforeunload = null
                })
                window.onbeforeunload = function () {
                    if (form.serialize() != original) window.dataLayer.push({"event":"gtm.ext.event","eventTmp":"formUse","eventCategory":"formNotCompleted","eventAction":"customer-account-form","eventLabel": document.URL});
                }

            } else if ( $('#co-shipping-form').length ) {
                let form = $('#co-shipping-form');
                let original = form.serialize();

                form.submit(function () {
                    window.onbeforeunload = null
                })
                window.onbeforeunload = function () {
                    if (form.serialize() != original) window.dataLayer.push({"event":"gtm.ext.event","eventTmp":"formUse","eventCategory":"formNotCompleted","eventAction":"shipping-form","eventLabel": document.URL});
                }
            }
        })
</script>
