@import 'module/_collapsible_navigation.less';
@import 'module/_responsive.less';

//
//  Theme variables
//  _____________________________________________

//  Messages
@message-global-note__color: @text__color;
@message-global-note__background: @color-yellow-light2;
@message-global-note-link__color: @link__color;
@message-global-note-link__color-hover: @link__hover__color;
@message-global-note-link__color-active: @link__active__color;
@message-global-note__border-color: @color-yellow-light3;

@message-global-caution__color: @color-white;
@message-global-caution__background: @color-red9;
@message-global-caution-link__color: @link__color;
@message-global-caution-link__color-hover: @link__hover__color;
@message-global-caution-link__color-active: @link__active__color;
@message-global-caution__border-color: none;

@header__background-color: @color-white;
@header-panel__background-color: @color-gray-middle4;
@header-panel__text-color: @color-white;
@header-icons-color: @color-black;
@header-icons-color-hover: @color-gray20;
@customer-welcome__z-index: @dropdown-list__z-index + 1;

@addto-color: @color-gray40;
@addto-hover-color: @primary__color;
@minicart-icons-color: @header-icons-color;
@minicart-icons-color-hover: @header-icons-color-hover;

@price-color: @color-gray34;
@price-size: 22px;
@price-size-desktop: 36px;

@button__shadow: inset 0 1px 0 0 rgba(255, 255, 255, 1), inset 0 -1px 0 0 fade(@border-color__base, 30); // Used for secondary button and catalog toolbar controls
@button__shadow-active: inset 0 1px 0 0 fade(@border-color__base, 80), inset 0 -1px 0 0 fade(@border-color__base, 30); // Used for secondary button and catalog toolbar controls

@h1__margin-bottom__desktop: @indent__xl;

//  Footer
@footer__background-color: #fafafa;
@footer-links-separator-border-color: @color-gray-light4;
@footer-links-color: @color-gray34;
@footer-links-color-hover: @color-gray20;
@footer-links-color-current: @primary__color__light;

//  Layered navigation
@filter-title-background-color: @color-gray94;
@filter-link: @color-gray-darken4;
@filter-link-hover: darken(@filter-link, 30%);
@filter-quantity: @color-gray46;


.header-dropdown-dialog() {
    .lib-css(padding, 10px 20px 10px);
    right: 0;
    min-width: 230px;
    z-index: 101;
    box-shadow: none;
    border: 1px solid @color-input-grey-border;
    text-align: left;
    box-sizing: content-box;

    .block-title {
        display: inline-block;
        margin: 6px 0 15px;
        padding-bottom: 4px;
        border-bottom: 3px solid @color-black;
        .lib-font-family(@font-family-name__gillsans);
        font-size: @font-size_12;
        font-weight: bold;
        color: @color-black;
        letter-spacing: 1.5px;
        line-height: 14px;
        text-transform: uppercase;

        a {
            font-size: @font-size_12;
            font-weight: bold;
        }
    }
}

;

.header-dropdown-dialog-before() {
    left: auto;
    right: -1px;
    top: -34px;
    width: 38px;
    height: 33px;
    border-left: 1px solid @color-input-grey-border;
    border-right: 1px solid @color-input-grey-border;
    border-bottom: 1px solid @color-white;
    border-top: 0;
    pointer-events: none;
}

.header-dropdown-dialog-after() {
    display: none;
}


//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    body {
        .lib-css(background-color, @page__background-color);
    }

    //  ToDo UI: move it directly to .page-wrapper (now it doesn't appear in mediaquery cuz of size of css)
    .page-wrapper {
        .ie9 & {
            .lib-css(background-color, @page__background-color);
            min-height: 0;
        }

        padding-top: 64px;
    }

    //
    //  Header
    //  ---------------------------------------------

    .page-header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100px;
        margin: 0;
        padding: 0;
        background-color: transparent;
        text-align: center;
        z-index: 20;
        .lib-css(transition, all 0.6s ease, 1);

        .border-noel {
            &:after {
                content: "";
                width: 110px;
                height: 107px;
                background: #fff;
                position: absolute;
                top: 9px;
                left: 0;
                right: 0;
                margin: auto;
                transform: rotate(40deg);
                border-radius: 15px;
                z-index: -1;
            }
        }
        &.minimized {
            height: 35px;

            .border-noel {
                &:after {
                    top: -3px;
                    width: 56px;
                    height: 57px;
                    border-radius: 10px;
                }
            }
            .header .navbar {
                height: 35px;
                .lib-css(transition, all 0.6s ease, 1);

                > .navbar-logo {
                    height: 35px;
                    width: 45px;
                    &.noel {
                        width: 106px;
                    }
                }

                & > * {
                    & li.level0 > a,
                    & [data-category] {
                        //padding: 0 10px;
                    }
                }
            }

            .header .logo-circle-ln-mini {
                display: block;
            }

            .navigation .level0 > .submenu {
                top: 34px !important;
            }

            .header-logo {
                height: 45px;
            }

            .logo-wrp {
                display: none;
                opacity: 0;
            }

            .header-logo-minimal {
                bottom: 10px;

                img {
                    top: 22px;
                    opacity: 1;
                    .lib-css(transform, scale(1), 1);
                }
                &.noel-minimal {
                    img {
                        width: 52px;
                        height: 52px;
                        top: 33px;
                    }
                }
            }

            .tm {
                .opt.my-account {
                    width: 15px;
                }
            }

            .logo-circle-ln {
                .lib-css(transition, all 0.3s ease 0s, 1);
                .lib-css(transform, scale(0), 1);
            }

            .menu-categories {
                margin-top: 35px;
            }
        }

        &.drop-down-menu-open {
            &::after {
                position: fixed;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                content: "";
                background: rgba(0, 0, 0, .3);
                pointer-events: none;
            }
        }

        .panel.wrapper {
            .lib-css(background-color, @header-panel__background-color);
            .lib-css(color, @header-panel__text-color);
        }

        .header {
            &.content {
                padding: 0;
            }
        }
    }

    .header.panel {
        > .header.links {
            .lib-list-inline();
            float: right;
            font-size: 0;
            margin-left: auto;
            margin-right: @indent__base;

            > li {
                font-size: @font-size__base;
                margin: 0 0 0 15px;

                > a {
                    .lib-link(
                        @_link-color: @header-panel__text-color,
                        @_link-text-decoration: none,
                        @_link-color-visited: @header-panel__text-color,
                        @_link-text-decoration-visited: none,
                        @_link-color-hover: @header-panel__text-color,
                        @_link-text-decoration-hover: underline,
                        @_link-color-active: @header-panel__text-color,
                        @_link-text-decoration-active: underline
                    );
                }
            }
        }
    }

    .header,
    .page-print {
        &.content {
            height: 100%;
        }

        &.content:extend(.abs-add-clearfix all) {
            position: relative;
        }

        .widescreen {
            display: none;

            .hide {
                display: none !important;
            }
        }

        ul {
            padding: 0;
            margin: 0;
            list-style: none;
        }

        a {
            display: block;
            color: @color-black-two;
            text-decoration: none;
        }

        .tm {
            position: absolute;
            top: 0;
            margin-top: 10px;

            &.tl {
                left: 0;
                top: 0;
                margin-left: 40px;
                z-index: 3;

                li:nth-child(1) {
                    margin-right: 30px;
                }

                .dd-menu {
                    position: absolute;
                    top: -10px;
                    left: -15px;
                    height: 0;
                    overflow: hidden;
                    background-color: @color-white;
                    box-shadow: 0 0 5px 1px rgba(30, 30, 30, .15);
                    opacity: 0;
                    cursor: default;
                    .lib-css(transition, all 0.5s ease, 1);

                    .dd-inner {
                        width: 275px;
                        padding: 45px 30px 18px 38px;
                        text-align: left;
                    }

                    ul {
                        display: inline-block;

                        &:first-child {
                            width: 138px;
                            vertical-align: top;
                        }

                        &:last-child {
                            width: 130px;
                        }
                    }

                    li {
                        display: block;
                        float: none;
                        padding: 2px 0 0;
                        margin: 0;
                    }

                    a {
                        display: inline-block;
                        font-size: @font-size_12;
                        .lib-font-family(@f-avenir);
                        letter-spacing: 1px;
                        cursor: pointer;
                        .lib-css(transition, all 0.3s ease, 1);

                        &:hover {
                            color: @color-black;
                        }
                    }
                }
            }

            &.tr {
                right: 0;
                height: 20px;
                margin-right: 40px;
                margin-top: 8px;
                z-index: 3;

                & > ul {
                    height: 20px;
                }

                & > ul > li {
                    height: 20px;

                    &:nth-child(2) {
                        margin: 0 28px;
                        .lib-css(transition, all 0.3s ease, 1);
                    }

                    .opt {
                        width: 14px;
                        height: 14px;
                        line-height: 14px;

                        &::before {
                            position: absolute;
                            top: 0;
                            left: 0;
                            .lib-css(transition, color 0.2s, 1);
                            overflow: visible;
                        }
                    }

                    .icon-magnifier {
                        pointer-events: none;

                        span {
                            left: auto;
                            right: 20px;
                            width: 45px;
                            padding: 0;
                            text-align: left;
                            overflow: hidden;
                            .lib-css(transition, all 0.3s ease, 1);
                        }
                    }
                }
            }

            & > ul > li {
                position: relative;
                float: left;
                color: @color-grey-three;
                //font-size: 0;
                cursor: pointer;
                .lib-css(transition, opacity 0.2s, 1);
            }

            a {
                .lib-css(transition, color 0.2s, 1);
            }

            .opt {
                display: inline-block;
                position: relative;
                width: auto;
                height: 18px;
                line-height: 18px;
                .lib-font-family(@f-avenir);
                font-weight: lighter;
                font-style: normal;
                font-size: @font-size_12;
                letter-spacing: 1.5px;
                white-space: nowrap;

                &::before {
                    float: left;
                    margin-top: 3px !important;
                    margin-right: 12px;
                }

                &.my-account {
                    width: 116px;
                    overflow: hidden;
                    .lib-css(transition, all 0.6s ease, 1);
                    .lib-project-icon(@icon-project-account-3);
                }

                &.help {
                    z-index: 1;
                    .lib-project-icon(@icon-project-square-info);

                    &::before {
                        position: relative;
                        top: -1px;
                        left: -1px;
                        font-size: @font-size_15;
                    }

                    span {
                        position: relative;
                        display: inline-block;
                    }
                }

                &.search {
                    .lib-project-icon(
                            @icon-project-search,
                        @_icon-font-size: @font-size_18
                    );
                }

                &.wishlist {
                    .lib-project-icon(
                            @icon-project-love-empty2,
                        @_icon-font-size: @font-size_18
                    );
                }

                span {
                    display: block;
                    text-align: left;
                    .lib-css(transition, opacity 0.2s, 1);
                }
            }

            .header-help-wrapper {
                .lib-project-icon(
                        @icon-project-triangle-down,
                    @_icon-font-color: @color-grey-three
                );

                &::before {
                    position: absolute;
                    right: -10px;
                    top: 50%;
                    font-size: @font-size_6;
                    z-index: 10;
                    .lib-css(transition, all 0.6s ease, 1);
                    .lib-css(transform, translateY(-50%), 1);
                }

                &.dd-open {
                    .lib-project-icon(
                            @icon-project-triangle-down,
                        @_icon-font-color: @color-black
                    );

                    &::before {
                        font-size: @font-size_6;
                        .lib-css(transform, rotate(-180deg) translateY(50%), 1);
                    }

                    .dd-menu {
                        height: 145px;
                        opacity: 1;
                    }
                }
            }
        }

        .wishlist-wrapper {
            position: relative;

            .block-wishlist-header {
                display: none;
                position: absolute;
                top: 25px;
                margin: 0;
                background: @color-white;
                list-style: none;
                .header-dropdown-dialog();

                &::before {
                    display: block;
                    position: absolute;
                    content: "";
                    z-index: 99;
                    .header-dropdown-dialog-before();
                }

                &::after {
                    .header-dropdown-dialog-after();
                }
            }
        }

        .layer {
            position: relative;
            width: 100%;
        }

        .layer-top {
            height: 100%;
            background-color: @color-white;
            z-index: 2;

            &::after {
                content: "";
                background: @color-input-grey-border;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 1px;
                z-index: -2;
            }
        }

        .layer-bottom {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            .lib-css(transition, all 0.4s ease, 1);
        }

        .navbar {
            display: block;
            position: relative;
            width: 100%;
            z-index: 2;
        }

        .header-logo,
        .logo-wrp {
            position: relative;
            display: block;
            border-radius: 50%;
            z-index: 2;
            .lib-css(backface-visibility, hidden, 1);
            .lib-css(transition, all 0.4s ease-out 0.1s, 1);
        }

        .header-logo {
            top: 5px;
            height: 106px;
            .lib-css(transform, scale(1), 1);

            img {
                width: auto;
                height: auto;
                z-index: 1;
                position: absolute;
                top: 10px;
                left: 0;

                &.christian,
                &.louboutin {
                    z-index: 2;
                }
            }
        }

        .logo-wrp {
            position: absolute;
            top: -26px;
            left: 50%;
            z-index: -1;
            .lib-css(transform, scale(1) translate(-50%, 0), 1);

            > div {
                position: relative;
                background: transparent;
                width: 158px;
                height: 158px;
                z-index: 100;
            }

            .logo-trigger {
                position: absolute;
                width: 100px;
                height: 129px;
                top: 0;
                left: 29px;
                background: transparent;
                z-index: 10;
                opacity: 0;
            }

            .logo-shape {
                position: absolute;
                width: 158px;
                height: 158px;
                top: 0;
                left: 0;
            }
        }

        .header-logo-minimal {
            position: absolute;
            left: 50%;
            bottom: 20px;
            z-index: 1;
            .lib-css(transform, translateX(-50%), 1);
            .lib-css(transition, all 0.3s ease 0s, 1);

            img {
                position: relative;
                left: -1px;
                top: 0;
                width: 22px;
                height: 36px;
                opacity: 0;
                vertical-align: middle;
                .lib-css(transform, scale(0), 1);
                .lib-css(transition, all 0.3s ease 0s, 1);
            }
        }

        .logo-circle-ln {
            display: none;
            position: absolute;
            top: auto;
            left: 50%;
            bottom: -8px;
            width: 105px;
            height: 100px;
            overflow: hidden;
            z-index: 0;
            .lib-css(transform, translateX(-50%), 1);
            .lib-css(transition, all 0.4s ease 0.3s, 1);
            pointer-events: none;

            .circle {
                display: block;
                position: absolute;
                content: "";
                bottom: 8px;
                left: auto;
                width: 105px;
                height: 105px;
                border-bottom: 1px solid @color-input-grey-border;
                border-radius: 50%;
            }
        }

        .logo-circle-ln-mini {
            display: none;
            position: absolute;
            top: auto;
            left: 50%;
            bottom: -14px;
            width: 26px;
            height: 30px;
            overflow: hidden;
            z-index: 2;
            transform-origin: bottom center;
            .lib-css(transform, translateX(-50%), 1);
            pointer-events: none;

            .circle {
                display: block;
                position: absolute;
                bottom: 5px;
                left: 0;
                width: 24px;
                height: 24px;
                border-bottom: 1px solid @color-input-grey-border;
                border-radius: 50%;
            }
        }

        .menu-drop-down-container {
            width: 100%;
            height: auto;
            .lib-css(transition, all 0.3s, 1);
        }

        .menu-categories {
            display: none;
            height: 0;
            margin-top: 90px;
            .lib-css(transition, height 0.4s ease, 1);

            > div {
                width: auto;
                display: inline-block;
                padding: 25px 0 20px;
                opacity: 0;

                &.block-search {
                    float: none;

                    .block-content {
                        padding: 7px 0;
                    }

                    form {
                        width: 665px;
                        padding: 5px 0;
                    }

                    .control {
                        height: 25px;
                    }

                    input {
                        width: 100%;
                        height: 100%;
                        margin: 0;
                        padding: 0;
                        border: none;
                        background: transparent;
                        text-align: left;
                        .lib-font-family(@font-family-name__gillsans);
                        font-weight: normal;
                        font-size: @font-size_12;
                        color: @color-black;
                        letter-spacing: 1.7px;
                        line-height: 25px;
                        text-transform: uppercase;
                    }

                    .actions {
                        display: none;
                    }
                }
            }
        }

        .narrowscreen {
            display: block;
            position: relative;
            z-index: 2;

            &::after {
                content: "";
                background: @color-input-grey-border;
                position: absolute;
                bottom: -1px;
                left: 0;
                width: 100%;
                height: 1px;
                z-index: -2;
            }

            .navbar-wrapper {
                .lib-css(transition, transform 0.5s, 1);
            }

            .navbar {
                height: 63px;
                background-color: @color-white;
                position: relative;

                > ul > li {
                    width: percentage(1/3);
                    float: left;
                }

                .menu {
                    text-align: left;

                    .menu-icon {
                        .lib-project-icon(@icon-project-menu-burger-h);
                        position: relative;
                        top: 22px;
                        width: auto;
                        height: auto;
                        margin-left: 15px;
                        font-size: @font-size_13;
                        font-weight: lighter;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        line-height: 15px;
                        color: #6d6d6d;
                        cursor: pointer;

                        &::before {
                            margin-right: 10px;
                            color: inherit;
                            font-size: @font-size_24;
                        }
                    }

                    .close {
                        display: none;
                        position: relative;
                        top: 0;
                        left: 0;
                        width: 64px;
                        height: 64px;
                        font-size: @font-size_16;
                        color: #737373;
                        border: 0;
                        background: @color-white;
                    }
                }

                .logo {
                    margin: 0;
                    text-align: center;
                    position: relative;
                    z-index: 102; /* over minicart */
                }

                .options {
                    font-size: 0;
                    text-align: right;

                    .opt {
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        margin: 23px 20px 0 10px;

                        &.search {
                            .lib-project-icon(
                                    @icon-project-search,
                                @_icon-font-size: @font-size_20
                            );
                        }

                        &.showcart {
                            &::before {
                                font-size: @font-size_20;
                            }
                        }
                    }
                }
            }

            .header-logo {
                img {
                    width: 100px;
                    height: auto;
                    padding: 0;
                    position: relative;
                    top: 0;
                }
            }
        }

        .mobile-search-panel {
            position: absolute;
            top: 64px;
            left: 0;
            width: 100%;
            background-color: #fafafa;
            z-index: 1;
            .lib-css(transform, translateY(-100%), 1);
            .lib-css(transition, transform 0.3s, 1);

            &.active {
                .lib-css(transform, translateY(0), 1);
            }

            form {
                &::before,
                &::after {
                    content: " ";
                    display: table;
                }

                &::after {
                    clear: both;
                }

                .field.search {
                    width: 70%;
                    float: left;
                    padding-left: 5%;
                    margin-top: 30px;
                    position: relative;
                }

                .label {
                    border: 0;
                    clip: rect(0, 0, 0, 0);
                    height: 1px;
                    margin: -1px;
                    overflow: hidden;
                    padding: 0;
                    position: absolute;
                    width: 1px;
                }
            }
        }
    }

    /*.logo {
        float: left;
        margin: 0 0 @indent__s @indent__xl;
        max-width: 50%;
        position: relative;
        z-index: 5;

        img {
            display: block;
        }

        .page-print & {
            display: inline-block;
            float: none;
        }
    }*/

    .page-print {
        .page-main {
            padding-top: 25px;
        }
    }

    .page-main {
        padding: 40px 0 0 0;

        > .page-title-wrapper {
            padding: 0px;

            .page-title + .action {
                margin-top: @indent__l;
            }
        }

        .scroll-notvisible {
            .lib-css(opacity, 0, 1);
            .lib-css(transform, ~"perspective(0) translate3d(0, 100px, 0)", 1);
        }

        .scroll-visible {
            .lib-css(opacity, 1, 1);
            .lib-css(transition, all .6s, 1);

            &.x2 {
                .lib-css(transition-duration, 1.2s, 1);
            }

            &.x3 {
                .lib-css(transition-duration, 1.8s, 1);
            }
        }
    }

    .action.skip {
        &:not(:focus) {
            &:extend(.abs-visually-hidden all);
        }

        &:focus {
            .lib-css(background, @color-gray94);
            .lib-css(padding, @indent__s);
            box-sizing: border-box;
            left: 0;
            position: absolute;
            text-align: center;
            top: 0;
            width: 100%;
            z-index: 15;
        }
    }

    .action-skip-wrapper {
        height: 0;
        position: relative;
    }

    //
    //  Global notice
    //  ---------------------------------------------

    .message.global {
        p {
            margin: 0;
        }

        &.noscript {
            .lib-message(@_message-type: global-note);
            margin: 0;
        }

        &.demo {
            .lib-message(@_message-type: global-caution);
            margin-bottom: 0;
            text-align: center;
        }
    }


    //
    //  Breadcrumbs
    //  ---------------------------------------------

    .breadcrumbs {
        .item:not(:last-child)::after {
            display: none;
        }

        .items > li {
            display: inline-block;
            margin-right: 18px;
            vertical-align: top;

            &:first-child {
                strong,
                a {
                    padding: 0;
                    .lib-font-family(@f-avenir);
                    font-weight: @font-weight__bold;
                    text-transform: uppercase;
                    letter-spacing: .5px;

                    &::after {
                        display: block;
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: -5px;
                        border-top: 2px solid @color-black;
                        content: "";
                    }
                }
            }

            &:not(:first-child) {
                margin-right: 15px;
            }

            &:not(:first-child):not(:last-child) {
                a::after {
                    display: block;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    font-family: @font-family-name__project_icons;
                    font-size: @font-size_7;
                    content: @icon-project-triangle-right;
                    .lib-css(transform, translateY(-50%), 1);
                }
            }

            a,
            strong {
                display: block;
                position: relative;
                .lib-font-family(@f-avenir);
                color: #262626;
                letter-spacing: 0.5px;
            }

            a {
                padding-right: 20px;

                &:hover {
                    color: @color-black;
                    text-decoration: none;
                }
            }

            h1 {
                font-size: inherit;
                text-transform: none;
                margin-bottom: 0;
                line-height: inherit;
            }
        }
    }


    //
    //  Footer
    //  ---------------------------------------------

    .page-footer {
        margin-top: @indent__m;
        padding: 52px 40px 62px;
        .lib-css(background, @footer__background-color);
        z-index: 0;
    }

    .footer {
        &.content {
            max-width: @landing-width;
            margin: 0 auto;
            padding: 0;

            .links {
                > li {
                    .lib-css(background, @footer__background-color);
                    .lib-font-size(16);
                    border-top: 1px solid @footer-links-separator-border-color;
                    margin: 0 -@layout__width-xs-indent;
                    padding: 0 @layout__width-xs-indent;
                }

                a,
                strong {
                    display: block;
                    padding: @indent__s 0;
                }

                strong {
                    .lib-css(color, @footer-links-color-current);
                    font-weight: normal;
                }

                a {
                    .lib-link(
                        @_link-color: @footer-links-color,
                        @_link-text-decoration: none,
                        @_link-color-visited: @footer-links-color,
                        @_link-text-decoration-visited: none,
                        @_link-color-hover: @footer-links-color-hover,
                        @_link-text-decoration-hover: underline,
                        @_link-color-active: @footer-links-color-hover,
                        @_link-text-decoration-active: underline
                    );
                }
            }

            a {
                .lib-css(transition, all 0.3s ease, 1);
            }

            .footer-top {
                display: none;
                margin: 0 0 56px;

                /* breadcrumbs : footer specifics */

                .breadcrumbs {
                    padding: 0;

                    .items > li {
                        &:first-child {
                            a {
                                padding: 0;
                                .lib-font-family(@f-avenir);
                                font-weight: @font-weight__bold;
                                text-transform: uppercase;
                                letter-spacing: .5px;

                                &::after {
                                    display: block;
                                    position: absolute;
                                    left: 0;
                                    right: 0;
                                    bottom: -5px;
                                    border-top: 2px solid @color-black;
                                    content: "";
                                }
                            }
                        }

                        a,
                        strong {
                            font-size: @font-size_12;
                        }
                    }
                }
            }

            .footer-body {
                display: none;
                font-size: @font-size_11;
                .lib-font-family(@f-avenir);

                &::before,
                &::after {
                    content: " ";
                    display: table;
                }

                &::after {
                    clear: both;
                }

                > * {
                    display: inline-block;
                }
            }

            .footer-bottom {
                .lib-vendor-prefix-display();
                .lib-vendor-prefix-flex-direction(column);

                .block.newsletter {
                    width: auto;
                    margin: 0;
                    .lib-css(flex, 1, 1);
                    .lib-vendor-prefix-order(1);
                }
            }

            .links-inline {
                width: 30%;

                ul {
                    display: inline-block;
                    width: 100%;
                    vertical-align: top;
                    margin: 0 0 22px 0;
                    padding: 0;
                    column-count: 2;
                }

                li {
                    display: block;
                    margin-bottom: 9px;
                }

                a {
                    position: relative;
                    letter-spacing: 0.18px;
                    color: #999;
                    text-decoration: none;

                    &:hover {
                        color: @color-black;
                    }
                }
            }

            .find-store-container {
                position: relative;
                width: 60%;
                max-width: 554px;
                float: right;
                margin-top: -73px;
                margin-bottom: 44px;
                text-align: right;
                color: @color-black;
                font-size: @font-size_11;
                letter-spacing: 0.42px;

                p {
                    text-align: left;
                }

                a {
                    display: block;
                    position: relative;
                    max-width: 554px;
                    overflow: hidden;

                    &:hover {
                        img {
                            opacity: 0.7;
                            .lib-css(transform, scale(1.05), 1);
                        }
                    }
                }

                img {
                    vertical-align: middle;
                    .lib-css(transition, all 0.3s ease-out, 1);
                    .lib-css(transform-style, preserve-3d, 1);
                    .lib-css(backface-visibility, hidden, 1);
                }
            }

            .social {
                margin: 30px 0 13px;
                text-align: center;
                white-space: nowrap;
                .lib-vendor-prefix-order(2);
                padding: 0;

                li {
                    display: inline-block;
                    margin: 7px 10px 0 10px;
                    vertical-align: top;
                }

                a {
                    display: block;

                    &:hover {
                        .lib-css(transform, scale(1.08), 1);
                    }

                    &.facebook {
                        .lib-project-icon(
                                @icon-project-facebook,
                            @_icon-font-size: @font-size_20,
                            @_icon-font-color: @color-grey-three,
                            @_icon-font-color-hover: @color-black
                        );
                    }

                    &.twitter {
                        .lib-project-icon(
                                @icon-project-twitter,
                            @_icon-font-size: @font-size_20,
                            @_icon-font-color: @color-grey-three,
                            @_icon-font-color-hover: @color-black
                        );
                    }

                    &.instagram {
                        .lib-project-icon(
                                @icon-project-instagram-empty,
                            @_icon-font-size: @font-size_20,
                            @_icon-font-color: @color-grey-three,
                            @_icon-font-color-hover: @color-black
                        );
                    }

                    span {
                        display: none;
                    }
                }
            }

            .contact {
                margin: 5px 0;
                text-align: center;
                .lib-vendor-prefix-order(3);
                padding: 0;

                .btn {
                    display: inline-block;
                    position: relative;
                    margin: 10px 0;
                    padding: 10px 8px;
                    background: @color-button-grey;
                    color: @color-warm-grey;
                    .lib-font-family(@font-family-name__frutiger);
                    font-size: @font-size_12;
                    text-transform: uppercase;
                    text-decoration: none;
                    line-height: 20px;
                    letter-spacing: 1px;
                    outline: none;
                    text-align: center;
                    box-shadow: 0 2px 0 0 @color-grey;
                    box-sizing: border-box;
                }

                .tel {
                    .lib-project-icon(
                            @icon-project-phone-out,
                        @_icon-font-size: @font-size_14,
                        @_icon-font-color: @color-warm-grey
                    );
                }

                .mail {
                    .lib-project-icon(
                            @icon-project-mail-full,
                        @_icon-font-size: @font-size_14,
                        @_icon-font-color: @color-warm-grey
                    );
                }

                li {
                    list-style: none;
                }
            }

            .footer-links-mobile {
                position: relative;
                width: 100%;
                margin: auto;
                padding: 0 0 40px;
                font-size: @font-size_13;
                border-bottom: solid 1px @color-grey-three;
                text-align: center;
                .lib-vendor-prefix-order(4);
                .lib-project-icon(
                        @icon-project-sole-top,
                    @_icon-font-size: @font-size_34,
                    @_icon-font-color: @color-louboutin-red
                );

                &::before {
                    position: absolute;
                    bottom: -15px;
                    background: @footer__background-color;
                    left: 50%;
                    .lib-css(transform, translateX(-50%), 1);
                }

                li {
                    margin-bottom: 11px;
                    padding: 0 10px;
                    list-style: none;

                    a {
                        color: @color-grey-three;
                    }
                }
            }

            .form.subscribe {
                label {
                    display: block;
                    margin: 10px 0;
                    font-size: @font-size_10;
                    .lib-font-family(@f-avenir);
                    font-weight: @font-weight__semibold;
                    color: @color-black;
                    letter-spacing: 1.09px;
                    text-transform: uppercase;
                    text-align: center;
                    vertical-align: middle;
                }
            }

            .email-wrapper {
                display: inline-block;
                position: relative;
                width: 100%;
                max-width: 100%;
                margin-top: 2px;
                vertical-align: top;

                input[type="email"] {
                    height: 50px;
                    width: 100%;
                    padding: 2px 45px 0 18px;
                    border: 1px solid transparent;
                    background-color: @color-white;
                    font-size: @font-size_11;
                    .lib-font-family(@f-avenir);
                    color: @color-black;
                    letter-spacing: 1.22px;
                    line-height: normal;
                    box-shadow: 0 0 10px 0 rgba(215, 215, 215, .5);
                    border-radius: 0;
                    .lib-css(transition, all 0.3s ease, 1);
                }

                button {
                    display: block;
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 45px;
                    height: 50px;
                    padding: 0;
                    overflow: hidden;
                    background: transparent;
                    color: #1d1d1d;
                    font-size: @font-size_10;
                    .lib-font-family(@f-avenir);
                    font-weight: normal;
                    text-align: center;
                    line-height: 50px;
                    border: none;
                    box-shadow: none;
                    .lib-css(transition, all 0.3s ease, 1);

                    &:hover {
                        color: @color-louboutin-red;
                    }
                }
            }

            .country-language {
                display: none;

                li {
                    display: inline-block;
                    vertical-align: top;
                    text-align: right;

                    &.country {
                        a {
                            padding-left: 33px;
                            padding-top: 5px;
                            text-align: left;
                        }
                    }

                    &.lang {
                        margin-left: 26px;
                        text-transform: capitalize;

                        a {
                            .lib-project-icon(
                                    @icon-project-translate,
                                @_icon-font-size: @font-size_31,
                                @_icon-font-color: #a1a1a1
                            );

                            &::before {
                                margin-right: 16px;
                            }
                        }
                    }

                    a {
                        position: relative;
                        display: block;
                        color: #a1a1a1;
                        .lib-font-family(@f-avenir);
                        font-size: @font-size_11;
                        letter-spacing: 0.92px;

                        &:hover {
                            color: @color-black;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }

    .copyright {
        .lib-css(background-color, @copyright__background-color);
        .lib-css(color, @color-white);
        display: block;
        padding: @indent__s;
        text-align: center;
    }

    .page-header,
    .page-footer {
        .switcher {
            .options {
                .lib-dropdown(
                    @_dropdown-actions-padding: 0,
                    @_dropdown-list-item-padding: 0,
                    @_dropdown-toggle-icon-content: @icon-down,
                    @_dropdown-toggle-active-icon-content: @icon-up,
                    @_icon-font-text-hide: true,
                    @_icon-font-size: 10px,
                    @_icon-font-line-height: 22px,
                    @_dropdown-list-min-width: 160px
                );

                ul.dropdown {
                    a {
                        .lib-link(
                            @_link-color: @color-gray20,
                            @_link-text-decoration: none,
                            @_link-color-visited: @color-gray20,
                            @_link-text-decoration-visited: none,
                            @_link-color-hover: @color-gray20,
                            @_link-text-decoration-hover: none,
                            @_link-color-active: @color-gray20,
                            @_link-text-decoration-active: none
                        );
                        display: block;
                        padding: 8px;
                    }
                }
            }

            strong {
                font-weight: @font-weight__regular;
            }

            .label {
                &:extend(.abs-visually-hidden all);
            }
        }
    }

    //
    //  Widgets
    //  ---------------------------------------------

    .sidebar {
        .widget.block:not(:last-child),
        .widget:not(:last-child) {
            margin-bottom: @indent__xl;
        }
    }

    .widget {
        clear: both;

        .block-title:extend(.abs-block-widget-title all) {
        }
    }

    .page-header,
    .page-footer {
        .widget.block {
            .lib-css(margin, @indent__base 0);
        }

        .links .widget.block {
            margin: 0;
        }
    }

    .no-display:extend(.abs-no-display all) {
    }

    //
    //  Calendar
    //  ---------------------------------------------

    .ui-datepicker td {
        padding: 0;
    }

    .ui-tooltip {
        .lib-css(background, @tooltip__background);
        border: @tooltip__border-width solid @tooltip__border-color;
        padding: 10px;
    }

    .overlay {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, .3);
        z-index: 99;
    }

    .overlay-content {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        max-width: 680px;
        padding: 40px;
        background-color: @color-white;
        .lib-css(transform, translate(-50%, -50%), 1);

        .close {
            position: absolute;
            top: 20px;
            right: 20px;
            width: 20px;
            height: 20px;
            padding: 0;
            font-size: @font-size_18;
            background-color: transparent;
            border: none;
            box-shadow: none;
            z-index: 2;
            .lib-css(transition, opacity 0.3s, 1);
            .lib-project-icon(
                    @icon-project-close-bold,
                @_icon-font-size: @font-size_18,
                @_icon-font-color: #a1a1a1,
                @_icon-font-color-hover: @color-black
            );

            span {
                display: none;
            }
        }
    }
}

//
//  Navigation
//  _____________________________________________


@media (max-width: @screen__xl) {
    .page-header.minimized .header .navbar > * li.level0 > a,
    .page-header.minimized .header .navbar > * [data-category] {
        line-height: 30px;
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
    .customer-name,
    .customer-welcome + .authorization-link {
        display: none;
    }

    .nav-sections .switcher-trigger strong:after {
        .lib-font-size(16);
        right: -25px;
        top: -2px;
    }

    .navigation .parent .level-top:after {
        .lib-font-size(16);
        right: 10px;
        top: 7px;
    }

    .breadcrumbs {
        .items .item {
            display: block;
            margin: 0 0 5px;

            &:first-child {
                strong,
                a {
                    text-transform: none;
                }
            }

            &:last-child {
                display: none;
            }

            &:not(:first-child):not(:last-child) {
                margin: 0 0 5px;

                a:after {
                    content: '';
                    top: auto;
                    .lib-css(transform, none, 1);
                }
            }

            strong,
            a {
                display: inline-block;
                margin-bottom: 10px;
                padding: 0;
                .lib-font-family(@f-avenir);
                font-weight: @font-weight__bold;
                text-transform: none;
                letter-spacing: .5px;

                &:after {
                    content: "";
                    display: block;
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: -5px;
                    border-top: 2px solid @color-black;
                }
            }
        }
    }

    .page-footer .footer.content {
        .switcher-store {
            .lib-css(background, @footer__background-color);
            .lib-font-size(16);
            margin: 0 -@layout__width-xs-indent;

            .switcher-options {
                display: block;

                ul.dropdown {
                    background: none;
                    border: 0;
                    box-shadow: none;
                    margin: 0;
                    position: relative;

                    &:before,
                    &:after {
                        display: none;
                    }
                }

                .switcher-trigger,
                .switcher-option {
                    border-top: 1px solid @footer-links-separator-border-color;
                    display: block;
                    padding: @indent__s @layout-indent__width;
                }

                .switcher-trigger strong {
                    padding: @indent__s 0;
                }

                .switcher-option a {
                    padding: 0;
                }
            }
        }
    }

    .page-main {
        padding: 40px 20px 0;
    }

    .footer {
        &.content {
            padding: 0;
        }
    }
    .page-header {
        .border-noel {
            &:after {
                width: 91px;
                height: 87px;
                top: 5px;
                transform: rotate(40deg);
                border-radius: 15px;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .logo {
        margin-bottom: 13px;
        margin-top: 4px;
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    html,
    body {
        height: 100%; // Stretch screen area for sticky footer
    }

    body {
        .ie9 & {
            .lib-css(background-color, @copyright__background-color);
        }
    }

    .navigation ul {
        padding: 0;
    }

    .page-header {
        border: 0;
        margin-bottom: 0;

        .panel.wrapper {
            border-bottom: 1px solid @secondary__color;
            .lib-css(background-color, @header-panel__background-color);
        }

        .header.panel:extend(.abs-add-clearfix-desktop all) {
            padding-bottom: @indent__s;
            padding-top: @indent__s;
        }

        .switcher {
            float: right;
            margin-left: 15px;
            margin-right: -6px;
            .lib-vendor-prefix-order(1);
        }
    }

    .page-main {
        padding: 40px 40px 40px;

        > .page-title-wrapper {
            .page-title {
                display: inline-block;
            }

            .page-title + .action {
                float: right;
                margin-top: @indent__base;
            }
        }
    }

    .customer-welcome {
        .lib-dropdown(
            @_toggle-selector: ~'.action.switch',
            @_options-selector: ~'ul',
            @_dropdown-actions-padding: 0,
            @_dropdown-list-item-padding: 0,
            @_dropdown-toggle-icon-content: @icon-down,
            @_dropdown-toggle-active-icon-content: @icon-up,
            @_icon-font-text-hide: true,
            @_icon-font-size: 10px,
            @_icon-font-line-height: 22px,
            @_dropdown-list-pointer-position: right,
            @_dropdown-list-position-right: 0,
            @_dropdown-list-z-index: @customer-welcome__z-index
        );

        li:extend(.switcher li all) {
            a {
                .lib-link(
                    @_link-color: @color-gray20,
                    @_link-text-decoration: none,
                    @_link-color-visited: @color-gray20,
                    @_link-text-decoration-visited: none,
                    @_link-color-hover: @color-gray20,
                    @_link-text-decoration-hover: none,
                    @_link-color-active: @color-gray20,
                    @_link-text-decoration-active: none
                );
                display: block;
                line-height: 1.4;
                padding: 8px;
            }
        }

        .customer-name {
            cursor: pointer;
        }

        .customer-menu {
            display: none;
        }

        .action.switch {
            .lib-button-reset();
            .lib-css(color, @color-white);
        }

        .header.links {
            min-width: 175px;
        }

        &.active {
            .action.switch {
                .lib-icon-font-symbol(
                    @_icon-font-content: @icon-up,
                    @_icon-font-position: after
                );
            }

            .customer-menu {
                display: block;
            }
        }

        .greet {
            display: none;
        }
    }

    .header {
        &.panel {
            > .header.links {
                .lib-list-inline();
                float: right;
                margin-left: auto;

                > li {
                    margin: 0 0 0 15px;

                    &.welcome,
                    > a {
                        display: inline-block;
                        line-height: 1.4;
                    }

                    &.welcome {
                        a {
                            .lib-css(color, @color-white);
                            .lib-css(padding-left, @indent__xs);
                        }
                    }
                }

                > .authorization-link {
                    &:after {
                        content: attr(data-label);
                        display: inline-block;
                        margin: 0 -@indent__xs 0 @indent__xs;
                    }

                    &:last-child {
                        &:after {
                            display: none;
                        }
                    }
                }

                > .customer-welcome + .authorization-link {
                    display: none;
                }
            }
        }

        &.content:extend(.abs-add-clearfix-desktop all) {
            padding: 0;
        }

        .wishlist-wrapper {
            .block-wishlist-header {
                right: -15px;
            }
        }
    }

    .logo {
        margin: -8px auto @indent__m 0;

        img {
            max-height: inherit;
        }
    }

    .page-wrapper {
        .lib-vendor-prefix-display(flex);
        .lib-vendor-prefix-flex-direction(column);
        margin: 0;
        min-height: 100%; // Stretch content area for sticky footer
        position: relative;
        transition: margin .3s ease-out 0s;
        padding-top: 90px;

        > .breadcrumbs,
        > .top-container,
        > .widget {
            box-sizing: border-box;
            width: 100%;
        }

        .ie10 &,
        .ie11 & {
            height: 100%;
        }
    }
    .menu-minimized .page-wrapper {
        padding-top: 35px;
    }

    .page-footer {
        margin-top: auto;

        .switcher {
            .options {
                ul.dropdown {
                    bottom: -@indent__s;
                    left: 100%;
                    margin: 0 0 0 @indent__base;
                    top: auto;

                    &:before,
                    &:after {
                        bottom: @indent__base - 7px;
                        left: auto;
                        right: 100%;
                        top: auto;
                    }

                    &:before {
                        .lib-css(border-color, transparent @dropdown-list__background transparent transparent);
                    }

                    &:after {
                        .lib-css(border-color, transparent @dropdown-list-pointer__border transparent transparent);
                        margin: 0 0 -1px -1px;
                    }
                }
            }
        }
    }

    .footer {
        &.content {
            max-width: @landing-width;
            margin: 0 auto;
            padding: 0;

            .block.newsletter {
                white-space: nowrap;

                div {
                    &:last-child {
                        white-space: initial;
                        color: @color-black;
                        font-size: @font-size_13;
                        max-width: 600px;
                    }
                }
            }

            .form.subscribe {
                label {
                    margin-right: 22px;
                }
            }

            .switcher.store {
                display: block;
                margin: 0;
            }

            .links {
                display: inline-block;
                padding-right: 50px;
                vertical-align: top;

                li {
                    background: transparent;
                    border: none;
                    font-size: 14px;
                    margin: 0 0 8px;
                    padding: 0;
                }

                a,
                strong {
                    display: inline;
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = (@screen__l)) {
    .page-header {
        position: fixed;
        height: 90px;
        pointer-events: auto;
        .lib-css(background-color, @header__background-color);

        &.minimized {
            .header-logo {
                opacity: 0;
                .lib-css(transform, scale(0), 1);
                .lib-css(transition, all 0.6s ease, 1);
            }
        }
    }

    .header {
        .widescreen,
        .logo-circle-ln {
            display: block;
        }

        .header-logo {
            top: 0;
            &.noel {
                top : 20px;
            }
        }

        .narrowscreen {
            display: none;
        }

        .navbar {
            height: 90px;
            font-size: 0;
            .lib-css(transition, all 0.6s ease, 1);

            > * {
                display: inline-block;
                height: auto;
                vertical-align: middle;
                font-size: @font-size_12;
                text-align: right;
                z-index: 99;
                width: calc(50% - 10em);

                &.navbar-left {
                    margin: 0;
                }

                &.navbar-right {
                    margin: 0;
                    text-align: left;

                    .louboutin-world {
                        position: inherit;

                        .bolt {
                            position: absolute;
                            left: -73px;
                            top: 0;
                        }

                        .louboutinworld-container {
                            width: 100%;
                            max-width: 760px;
                            margin: 0 auto;
                            padding-top: 18px;
                            padding-bottom: 30px;
                            position: relative;

                            .louboutinworld-menu-news {
                                float: none;
                                padding-left: 2%;
                                padding-top: 6px;

                                .louboutinworld-submenu-title a {
                                    &:not(.all-articles-submenu) {
                                        color: @color-black;
                                        padding-left: 0;
                                        padding-right: 0;
                                        text-transform: uppercase;
                                        font-weight: @font-weight__bold;
                                        .lib-font-family(@f-gill);
                                    }
                                }

                                .all-articles-submenu {
                                    float: right;
                                    text-transform: uppercase;
                                    font-size: 9px;
                                    font-family: @font-family-name__frutiger;
                                    letter-spacing: 1px;
                                    line-height: 10px;
                                    color: @color-warm-grey;
                                    position: relative;
                                    margin-top: 5px;
                                    margin-right: 0;
                                    padding: 8px 20px;

                                    &:after {
                                        display: block;
                                        position: absolute;
                                        right: -5px;
                                        top: 7px;
                                        font-family: @font-family-name__loub_icons;
                                        content: "\e036";
                                    }

                                    &:hover {
                                        color: @color-louboutin-red;
                                    }
                                }
                            }

                            .actualites-menu-title {
                                float: left;
                                padding-top: 12px;
                                margin-top: 38px;
                                border-top: 1px solid #DDD;
                                width: 16%;
                                margin-left: 10%;

                                a {
                                    text-transform: none;
                                    letter-spacing: 1px;
                                    .lib-font-family(@f-gill);
                                    font-size: 12px;
                                    color: black;
                                }
                            }

                            .louboutinworld-right-container {
                                float: right;
                                width: 64%;
                                margin-right: 6%;
                            }

                            .article-bloc-list {
                                padding-top: 19px;
                                margin-top: 2px;
                                border-top: 1px solid #DDD;

                                .blog-submenu-article {
                                    height: 105px;
                                    margin-bottom: 10px;
                                    position: relative;

                                    .second-half-submenu {
                                        width: 33%;
                                        float: left;
                                        height: 100%;

                                        .image-background {
                                            height: 100%;
                                            a {
                                                padding: 0;
                                            }
                                        }
                                    }

                                    .first-half-submenu {
                                        width: auto;
                                        float: right;
                                        height: auto;
                                        top: 50%;
                                        left: 180px;
                                        position: absolute;
                                        -webkit-transform: translateY(-50%);
                                        -khtml-transform: translateY(-50%);
                                        -moz-transform: translateY(-50%);
                                        -ms-transform: translateY(-50%);
                                        -o-transform: translateY(-50%);
                                        transform: translateY(-50%);

                                        .title-article {
                                            a {
                                                padding: 0 0 5px;
                                                .lib-font-family(@font-family-name__gillsans);
                                                font-size: 16px;
                                                letter-spacing: 2px;
                                                line-height: 24px;
                                                font-weight: bold;
                                                color: @color-black;
                                                text-transform: initial;

                                                &:hover {
                                                    color: @color-louboutin-red;
                                                }
                                            }

                                            .read-more-article {
                                                a {
                                                    text-transform: uppercase;
                                                    font-size: @font-size_9;
                                                    letter-spacing: 1px;
                                                    line-height: 10px;
                                                    color: @color-warm-grey-three;
                                                    width: 76px;
                                                    position: relative;
                                                    padding: 0 10px 8px 0;
                                                    font-weight:lighter;

                                                    &:after {
                                                        display: block;
                                                        font-family: @font-family-name__loub_icons;
                                                        content: "\e036";
                                                        position: absolute;
                                                        right: 0;
                                                        top: 0;
                                                    }

                                                    &:hover {
                                                        color: @color-louboutin-red;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }

                                .image-background {
                                    background: none;
                                }
                            }
                        }
                    }

                    .louboutin-world,
                    .stores {
                        padding: 0;

                        .minimized & {
                            padding: 0;
                        }
                    }
                }

                &.navbar-logo {
                    position: relative;
                    top: -2px;
                    width: 106px;
                    height: 106px;
                    font-size: @font-size_12;
                    text-align: center;
                    .lib-css(transition, all 0.6s ease, 1);
                }

                li.level0 > a,
                [data-category] {
                    display: inline-block;
                    position: relative;
                    margin: 0;
                    //padding: 20px 12px;
                    color: @color-black;
                    text-transform: uppercase;
                    line-height: 75px;
                    cursor: pointer;
                    .lib-css(transition, color 0.3s, 1);
                    .lib-css(transition, padding 0.6s ease, 1);

                    &:hover {
                        color: @color-louboutin-red;

                        span a {
                            color: @color-louboutin-red;
                        }
                    }

                    span {
                        .lib-font-family(@f-avenir);
                        font-style: normal;
                        font-weight: @font-weight__bold;
                        font-size: @font-size_11;
                        letter-spacing: 2px;
                        line-height: 13px;

                        a {
                            display: inline-block;
                            color: @color-black;
                            .lib-css(transition, color 0.3s, 1);
                        }
                    }
                }

                .menu-right {
                    display: inline-block;
                }
            }
            .menu-cms {
                max-height: 177px;
                img {
                    width: auto !important;
                    height: auto !important;
                }
            }
        }

        .mobile-search-panel {
            display: none;
        }
    }
    .header .navbar > * [data-category] {
        line-height: 30px !important;
    }

    .footer {
        &.content {
            .footer-top,
            .footer-body {
                display: block;
            }

            .footer-bottom {
                .lib-vendor-prefix-flex-direction(row);

                .block.newsletter {
                    .lib-vendor-prefix-order(2);
                }
            }

            .social {
                margin: 0 100px 0 0;
                .lib-vendor-prefix-order(1);

                li {
                    margin: 7px 20px 0 0;
                }
            }

            .country-language {
                display: block;
                .lib-vendor-prefix-order(3);
            }

            .form.subscribe {
                label {
                    display: inline-block;
                }
            }

            .email-wrapper {
                max-width: 300px;

                input[type="email"],
                button {
                    height: 30px;
                    line-height: normal;
                }
            }

            .footer-links-mobile,
            .contact {
                display: none;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = (@screen__xl)) {
    .header .navbar {
        & > *.navbar-right {
            margin-left: 10px;

            .louboutin-world {
                &.level0 {
                    padding: 0 12px;
                }
            }
        }

        & > *.navbar-left {
            margin-right: 10px;
        }
    }

    .page-header.minimized {
        .header {
            .navbar {
                & > .navbar-logo {
                    width: 106px;
                }

                & > * li.level0 > a,
                & > * [data-category] {
                    line-height : 30px;
                   // padding: 0 12px;
                }
            }
        }
    }
}
.social-btns {
    margin: 12px 0 5px;
    padding: 0;
    position: absolute;
    right: 0;
    list-style: none;
    float: left;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 10px;
    margin-left: 40px;
    padding-right: 40px;
    max-width: 100%;

    .title {
        float: left;
        display: block;
        padding-top: 8px;
        padding-right: 10px;
        text-transform: none;
        color: #888;
        letter-spacing: 1px;
    }
    a {
        display: block;
        float: left;
        border: 1px solid #B9B9B9;
        padding: 7px;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        font-size: 12px;
        margin-left: 8px;
        -moz-transition-property: color, border-color;
        -o-transition-property: color, border-color;
        -webkit-transition-property: color, border-color;
        transition-property: color, border-color;
        -moz-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        color: #B9B9B9;

        &:hover {
            .lib-css(transform, scale(1.08), 1);
        }

        &.facebook {
            .lib-project-icon(
                @icon-project-facebook,
                @_icon-font-size: @font-size_12,
                @_icon-font-color: @color-grey-three,
                @_icon-font-color-hover: @color-black
            );
        }

        &.twitter {
            .lib-project-icon(
                @icon-project-twitter,
                @_icon-font-size: @font-size_12,
                @_icon-font-color: @color-grey-three,
                @_icon-font-color-hover: @color-black
            );
        }

        &.instagram {
            .lib-project-icon(
                @icon-project-instagram-full,
                @_icon-font-size: @font-size_12,
                @_icon-font-color: @color-grey-three,
                @_icon-font-color-hover: @color-black
            );
        }

        &.weibo {
            .lib-project-icon(
                @icon-project-connected-empty,
                @_icon-font-size: @font-size_18,
                @_icon-font-color: @color-grey-three,
                @_icon-font-color-hover: @color-black
            );
            &:before {
                margin-top: -5px;
                margin-left: -3px;
            }
        }
        &:before {
            vertical-align: top !important;
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = (@screen__l)) {
    .page-layout-article .page-main .block-static-block .top-bar ul.left {
        max-width: 80%;
        margin-right: 20%;
    }
    .social-btns {
        .trigger-and-icons{
            margin-top: 0;
            float: left;
        }
        .trigger {
            display: none;
        }
        .icons {
            display: block !important;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = (@screen__l)) {
    .page-layout-article .page-main .block-static-block .top-bar ul.left {
        max-width: 100%;
        margin-right: 40px;
    }
    .social-btns {
        padding-right: 15px !important;
        .trigger-and-icons{
            float: left;
            margin-top: 3px;
        }
        .icons {
            /*display: none;*/
             a {
                 display: block !important;
                 float: none;
                 margin-top: 8px;

             }
        }
        .trigger {
            position: relative;
            border: 1px solid #B9B9B9;
            padding: 7px;
            border-radius: 50%;
            width: 10px;
            height: 10px;
            font-size: 10px;
            margin-left: 8px;
            color: #B9B9B9;
            cursor: pointer;
            .lib-project-icon(
                @icon-project-plus-center,
                @_icon-font-size: @font-size_10,
                @_icon-font-color: @color-grey-three
            );
            display: block;
            &:before {
                vertical-align: top !important;
            }
        }
    }
}

#share-socials-btns {
    text-align: center;
    margin: 20px auto;
    & > p {
        font-weight: normal;
        color: #222;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 10px;
    }
    .at-style-responsive .at-share-btn {
        padding: 5px;
        margin-left: 20px;
        margin-right: 20px;
    }
}
.cms-home,.page-products {
    .easycms-block.images-products {
        &.images-products-left,&.images-products-right {
            .image-first,.image-second {
                img {
                    opacity: 0;
                }
            }
        }
    }
}

.messages {
    .message {
        &.error {
            position: fixed;
            top: 90px;
            left: 0;
            right: 0;
            z-index: 18;
            padding: 42px 8% 24px;
            text-align: center;
            color: #fff;
            font-size: 12px;
            background: #ed1e24;
            pointer-events: none;

            > *:first-child:before {
                content: @icon-project-warning;
            }

            a {
                color: #fff;

                &:hover,
                &:visited {
                    color: #fff;
                }
            }

            > *:first-child:before {
                position: inherit;
                font-family: 'LoubIcons';
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                color: #fff;
                font-size: 12px;
                margin: -4px 4px 0;
                line-height: 1;
                width: auto;
            }

            &:after {
                font-family: 'LoubIcons';
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                content: @icon-project-close-bold;
                cursor: pointer;
                position: absolute;
                top: 30px;
                right: 50px;
                font-size: 12px;
                color: #fff;
                pointer-events: all;
            }
        }
    }
}

.messages .message {
    padding: 42px 8% 24px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    pointer-events: none;

    &.success {
        background: #6DB45B;

        > *:first-child:before {
            content: @icon-project-check-bold;
        }

        a {
            color: #fff;
        }
    }

    &.info {
        background: #6f4400;

        > *:first-child:before {
            content: @icon-project-info;
        }
    }

    &.warning {
        background: #6f4400;

        > *:first-child:before {
            content: @icon-project-warning;
        }
    }

    &.notice {
        background: #6f4400;
    }

    > *:first-child:before {
        position: inherit;
        font-family: 'LoubIcons';
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #fff;
        font-size: 12px;
        margin: -4px 4px 0;
        line-height: 1;
        width: auto;
    }

    &:after {
        font-family: 'LoubIcons';
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: @icon-project-close-bold;
        cursor: pointer;
        position: absolute;
        top: 30px;
        right: 50px;
        font-size: 12px;
        color: #fff;
        pointer-events: all;
    }

    a {
        color: #fff;
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = (@screen__l)) {
    .messages {
        .message {
            &.error {
                top: 64px;
                &:after {
                    top: 15px;
                    right: 25px;
                }
            }

            &:after {
                top: 15px;
                right: 25px;
            }
        }
    }
}
