<?php /** @var $block \Synolia\CustomMenu\Block\Navigation\Menu */ ?>
<?php if ($this->helper('Synolia\CustomMenu\Helper\Config')->isEnabled()): ?>
    <?php $itemsMenu = $block->getItemMenu($block->getGroup()); ?>
    <?php if (!is_null($itemsMenu) && count($itemsMenu)) : ?>
        <?php foreach($itemsMenu as $itemMenu): ?>
            <div data-category<?php if($itemMenu->getCssClass()): ?> class="<?php echo $itemMenu->getCssClass(); ?>"<?php endif; ?>>
                <nav class="navigation" data-action="navigation">
                    <ul data-mage-init='{"menu":{"responsive":true, "expanded":true, "position":{"my":"left top","at":"left bottom"}, "menus": ".submenu", "mediaBreakpoint": "(max-width: 1024px)"}}'>
                        <li class="level0 ui-menu-item level-top nav-1 parent <?php echo $itemMenu->getCssClass(); ?>">
                            <a id="cat-loub" class="level-top"
                               <?php echo $itemMenu->getIsTargetBlank() ? 'target="_blank"': ''; ?>
                               <?php if ($itemMenu->getTitle()): ?>title="<?php echo $itemMenu->getTitle(); ?>"<?php endif; ?>
                               href="<?= $block->getUrl() . $itemMenu->getLink(); ?>">
                                <span><?php echo __($itemMenu->getLabel()); ?></span>
                            </a>
                            <?php if($itemMenu->getIsOpenable()): ?>
                                <div class="submenu" aria-hidden="true" role="menu" aria-expanded="false" aria-labelledby="cat-loub">
                                    <div class="centered-content">
                                        <ul class="level0">
                                            <li class="level1 ui-menu-item nav-0 parent">
                                                <?php echo $itemMenu->getBlockContent(); ?>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            <?php endif; ?>
                        </li>
                    </ul>
                </nav>
            </div>
        <?php endforeach; ?>
    <?php endif; ?>
<?php endif; ?>