<div class="table-wrapper" data-bind="blockLoader: isLoading">
    <table class="data table totals">
        <caption class="table-caption" data-bind="text: $t('Total amount of your order')"></caption>
        <tbody>
        <!-- ko foreach: elems() -->
            <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->
        </tbody>
    </table>
</div>
