<div class="discover-pages discover-beauty">
    <div class="easycms-block topbox-video">
        <div class="video-container">
            {{widget type="Project\Core\Block\Widget\Video"
                     video_url="https://player.vimeo.com/external/233968513.hd.mp4?s=bcdea8f23daf3e4b33789f184b36638a1698a876&profile_id=175"
                     video_placeholder_text="Defaut video label"}}
            <img src="{{media url='cms/page/bikini-questa-sera/bikini_questa_sera_1200x800.jpg'}}" alt="" />
            <div class="play-button"><span>Watch the video</span></div>
            <div class="mute-button"></div>
        </div>
        <p class="easycms-line-break"> </p>
    </div>
    <div class="title-orange scroll-notvisible"><span>BIKINI QUESTA SERA</span></div>
    <div class="fragrance-introduction scroll-notvisible">
        <p>Bikini Questa Sera is a sumptuous parfum that evokes the heat of the day on the skin and that golden hour as the sun slips behind the horizon and the cool of the night awakens. White flowers - heady tuberose and opulent jasmine - combine to create a deeply sensuous, voluptuous parfum.</p>
    </div>
    <div class="product-image-link with-text scroll-notvisible">
        <div class="image"><img src="{{media url='cms/page/bikini-questa-sera/BIKINI_QUESTA_SERA_30ML_BOX_DISCOVER.jpg'}}" /></div>
        <div class="text">
            <div class="title">Parfum</div>
            <p>The parfum is designed to be experienced in the same way as a piano note being played. First, The "ping": a burst of the scent like the striking of the piano key, followed by a beautiful resonance as the note echoes its sound.</p>
            <div class="price">CHF 160.00</div>
            <a href="{{store url=''}}">SHOP BIKINI QUESTA SERA</a></div>
    </div>
    <div class="product-image-link with-text reverse scroll-notvisible">
        <div class="image"><img class="half-width" src="{{media url='cms/page/bikini-questa-sera/product-large2-2.jpg'}}" /></div>
        <div class="text">
            <div class="title">Perfume Oil</div>
            <p>Perfume oil is a new and highly luxurious way to experience Bikini Questa Sera. It caresses the skin, being the most indulgent and sensuous way for a woman to apply fragrance and to delight in her femininity. Intended to be massaged into the skin, it invites the sensual pleasure of touch.</p>
            <div class="price">CHF 320.00</div>
            <a href="{{store url=''}}">SHOP BIKINI QUESTA SERA</a></div>
    </div>
    <div class="highlighted-link scroll-notvisible"><a href="{{store url=''}}discover-fragrance.html">Discover parfums</a></div>
    <div class="louboutin-separator">
        <div class="image"><img src="{{media url='cms/page/bikini-questa-sera/red-sole.svg'}}" /></div>
    </div>
    <div class="discover-navigation scroll-notvisible">
        <div class="left">
            <div class="image"><a href="{{store url=''}}trouble-in-heaven.html"><img src="{{media url='cms/page/bikini-questa-sera/product-large3.jpg'}}" /></a></div>
            <div class="highlighted-link red"><a href="{{store url=''}}trouble-in-heaven.html">Trouble in heaven</a></div>
        </div>
        <div class="right">
            <div class="highlighted-link mauve"><a href="{{store url=''}}tornade-blonde.html">Tornade blonde</a></div>
            <div class="image"><a href="{{store url=''}}tornade-blonde.html"><img src="{{media url='cms/page/bikini-questa-sera/product-large1.jpg'}}" /></a></div>
        </div>
    </div>
</div>