<div class="links-inline">
    <ul>
        <li><a href="{{store url=''}}contacts">Nous contacter</a></li>
        <li data-area="footer" class="livechat"><a href="#">LiveChat</a></li>
        <li><a href="{{store url=''}}stopfake" target="_blank">Stopfake</a></li>
        <li><a href="{{store url=''}}product-care">Conseils d'entretien</a></li>
        <li><a href="{{store url=''}}rma/return/search/">Retour</a></li>
        <li><a href="{{store url=''}}terms-sale">CGV</a></li>
        <li><a href="{{store url=''}}terms-use">CGU</a></li>
        <li><a href="{{store url=''}}policy">Confidentialité</a></li>
    </ul>
</div>
<div class="find-store-container">
    <p>Trouver une boutique</p>
    <p>
        <a href="{{store url=''}}storelocator/">
            <img src="{{media url='cms/block/default/footer/find-store01.jpg'}}" />
        </a>
    </p>
</div>