<?php
/**
 * Copyright © Zemez, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var $block Magento\Framework\View\Element\Template */
?>
<div class="item link compare" data-bind="scope: 'compareProducts'" data-role="compare-products-link">
    <!-- ko if: compareProducts().count -->
    <a class="action compare no-display" title="<?= $block->escapeHtmlAttr(__('Compare Products')) ?>"
       data-bind="attr: {'href': compareProducts().listUrl}, css: {'no-display': !compareProducts().count}">
        <span class="counter qty" data-bind="text: compareProducts().count"></span>
    </a>
    <!-- /ko -->
    <!-- ko ifnot: compareProducts().count -->
    <span class="action compare empty" title="<?= $block->escapeHtmlAttr(__('You have no items to compare')) ?>"></span>
    <!-- /ko -->
</div>
<script type="text/x-magento-init">
{"[data-role=compare-products-link]": {"Magento_Ui/js/core/app": <?= /* @noEscape */ $block->getJsLayout() ?>}}
</script>
