<aside class="modal-<%= data.type %> <%= data.modalClass %>
       <% if(data.responsive){ %><%= data.responsiveClass %><% } %>
       <% if(data.innerScroll){ %><%= data.innerScrollClass %><% } %>"
       data-role="modal"
       data-type="<%= data.type %>"
       tabindex="0">
    <div data-role="focusable-start" tabindex="0"></div>
    <div class="modal-inner-wrap"
         data-role="focusable-scope">
        <header class="modal-header">
            <button class="action-close"
                    data-role="closeBtn"
                    type="button">
                <span><%= data.closeText %></span>
            </button>
        </header>
        <div class="modal-content" data-role="content">
            <img src="<%= data.mediaImg %>" alt="" />

            <p class="intro"><%= data.intro %></p>

            <p class="suggestion">
                <a class="suggested-url" href="<%= data.suggestedUrl %>"><%= data.suggestedCountryPhrase %></a>
            </p>

            <p class="suggestion">
                <a class="current-url" href="<%= data.currentUrl %>"><%= data.currentCountryPhrase %></a>
            </p>
        </div>
        <footer class="modal-footer"></footer>
    </div>
    <div data-role="focusable-end" tabindex="0"></div>
</aside>