<aside class="modal-<%= data.type %> <%= data.modalClass %>
       <% if(data.responsive){ %><%= data.responsiveClass %><% } %>
       <% if(data.innerScroll){ %><%= data.innerScrollClass %><% } %>"
       data-role="modal"
       data-type="<%= data.type %>"
       tabindex="0">
    <div data-role="focusable-start" tabindex="0"></div>
    <div class="modal-inner-wrap"
         data-role="focusable-scope">
        <header class="modal-header">
            <button
                    class="action-close"
                    data-role="closeBtn"
                    type="button">
                <span><%= data.closeText %></span>
            </button>
        </header>
        <div class="modal-content" data-role="content">
            <% isShowLanguage = 0  %>
            <% _.each(data.jsonConfig, function(websiteData, websiteCode) { %>
                <% if (websiteData.is_current_website) { %>
                    <% _.each(websiteData.stores, function(storeData, storeCode) { %>
                        <% isShowLanguage = isShowLanguage + 1  %>
                    <% }); %>
                <% } %>
            <% }); %>
            <% if (isShowLanguage >= 2){ %>
                <div class="title"><%= data.title %></div>
                <div class="fieldset">
                    <div class="store-select-fields">
                        <ul name="store-choice" id="store-choice">
                            <% _.each(data.jsonConfig, function(websiteData, websiteCode) { %>
                                <% if (websiteData.is_current_website) { %>
                                    <% _.each(websiteData.stores, function(storeData, storeCode) { %>
                                        <% if(storeData.selected){ %>
                                            <li class="<%= storeCode %> current"><a href="<%= storeData.store_url %>"><%= storeData.store_name %></a></li>
                                        <% } else { %>
                                            <li class="<%= storeCode %>"><a href="<%= storeData.store_url %>"><%= storeData.store_name %></a></li>
                                        <% } %>
                                    <% }); %>
                                <% } %>
                            <% }); %>
                        </ul>
                    </div>
                </div>
            <% } %>

            <div class="cms-content">
                <%= data.cmsContent %>
            </div>
        </div>
        <% if(data.buttons.length > 0){ %>
        <footer class="modal-footer">
            <% _.each(data.buttons, function(button) { %>
            <button
                    class="<%= button.class %>"
                    type="button"
                    data-role="action"><span><%= button.text %></span></button>
            <% }); %>
        </footer>
        <% } %>
    </div>
    <div data-role="focusable-end" tabindex="0"></div>
</aside>
