<?php
// @codingStandardsIgnoreFile
/** @var $block \Project\Rma\Block\Email\Items */
?>
<table class="email-items rma-items">
    <thead>
    <tr>
        <th><?= /* @escapeNotVerified */  __('Product') ?></th>
        <th><?= /* @escapeNotVerified */  __('SKU') ?></th>
        <th><?= /* @escapeNotVerified */  __('Configurable Product') ?></th>
        <th><?= /* @escapeNotVerified */  __('Size') ?></th>
        <th><?= /* @escapeNotVerified */  __('Color Name') ?></th>
        <th><?= /* @escapeNotVerified */  __('Requested Qty') ?></th>
    </tr>
    </thead>
    <tbody>
        <?php foreach ($block->getCollection() as $item):
            $orderItem = $block->getOrderItem($item->getOrderItemId());
            $product = $block->getProductById($orderItem->getProductId());
            $productOptions = $item->getOptions();
            ?>
            <tr>
                <td>
                    <strong><?= $block->escapeHtml($item->getProductName()) ?></strong>
                </td>
                <td><?= $block->escapeHtml($item->getProductSku()) ?></td>
                <td><?= $block->getProductConfigurableSku($item); ?></td>
                <td><?= $block->getSize($product, $productOptions) ?></td>
                <td><?= ($product->getData('color_product_page')) ?: ''; ?></td>
                <td><?= /* @escapeNotVerified */  $this->helper('Magento\Rma\Helper\Data')->parseQuantity($item->getQtyRequested(), $item) ?></td>
            </tr>
        <?php endforeach; ?>
    </tbody>
</table>
