<?php /** @var \Project\Rma\Block\RmaAddress\Create $block */ ?>

<?php $_company = $block->getLayout()->createBlock(\Magento\Customer\Block\Widget\Company::class) ?>
<?php $_telephone = $block->getLayout()->createBlock(\Magento\Customer\Block\Widget\Telephone::class) ?>
<?php $_fax = $block->getLayout()->createBlock(\Magento\Customer\Block\Widget\Fax::class) ?>
<?php $_addressHelper = $this->helper(\Magento\Customer\Helper\Address::class) ?>
<?php $_directoryHelper = $this->helper(\Magento\Directory\Helper\Data::class) ?>

<form class="form-address-edit"
      action="<?php echo $block->escapeUrl($block->getSaveUrl()) ?>"
      method="post"
      id="form-validate"
      enctype="multipart/form-data"
      data-hasrequired="<?php echo $block->escapeHtmlAttr(__('* Required Fields')) ?>">

    <fieldset class="fieldset">
        <legend class="legend"><span><?php echo $block->escapeHtml(__('Contact Information')) ?></span></legend><br>
        <?php echo $block->getBlockHtml('formkey') ?>

        <?php echo $block->getNameBlockHtml() ?>

        <?php if ($_company->isEnabled()): ?>
            <?php echo $_company->setCompany($block->getAddress()->getCompany())->toHtml() ?>
        <?php endif ?>

        <?php if ($_telephone->isEnabled()): ?>
            <?php echo $_telephone->setTelephone($block->getAddress()->getTelephone())->toHtml() ?>
        <?php endif ?>

        <?php if ($_fax->isEnabled()): ?>
            <?php echo $_fax->setFax($block->getAddress()->getFax())->toHtml() ?>
        <?php endif ?>
    </fieldset>

    <fieldset class="fieldset">
        <legend class="legend"><span><?php echo $block->escapeHtml(__('Address')) ?></span></legend><br>
        <?php $_streetValidationClass = $_addressHelper->getAttributeValidationClass('street'); ?>
        <div class="field street required">
            <label for="street_1" class="label">
                <span><?php echo $block->escapeHtml(__('Street Address')) ?></span>
            </label>
            <div class="control">
                <input type="text"
                       name="street[]"
                       value="<?php echo $block->escapeHtmlAttr($block->getStreetLine(1)) ?>"
                       title="<?php echo $block->escapeHtmlAttr(__('Street Address')) ?>"
                       id="street_1"
                       class="input-text <?php echo $block->escapeHtmlAttr($_streetValidationClass) ?>"/>
                <div class="nested">
                    <?php $_streetValidationClass = \trim(\str_replace('required-entry', '', $_streetValidationClass)); ?>
                    <?php for ($_i = 1, $_n = $_addressHelper->getStreetLines(); $_i < $_n; $_i++): ?>
                        <div class="field additional">
                            <label class="label" for="street_<?php echo $_i + 1 ?>">
                                <span><?php echo $block->escapeHtml(__('Street Address %1', $_i + 1)) ?></span>
                            </label>
                            <div class="control">
                                <input type="text" name="street[]"
                                       value="<?php echo $block->escapeHtmlAttr($block->getStreetLine($_i + 1)) ?>"
                                       title="<?php echo $block->escapeHtmlAttr(__('Street Address %1', $_i + 1)) ?>"
                                       id="street_<?php echo $_i + 1 ?>"
                                       class="input-text <?php echo $block->escapeHtmlAttr($_streetValidationClass) ?>">
                            </div>
                        </div>
                    <?php endfor; ?>
                </div>
            </div>
        </div>
        <div class="field city required">
            <label class="label" for="city"><span><?php echo $block->escapeHtml(__('City')) ?></span></label>
            <div class="control">
                <input type="text"
                       name="city"
                       value="<?php echo $block->escapeHtmlAttr($block->getAddress()->getCity()) ?>"
                       title="<?php echo $block->escapeHtmlAttr(__('City')) ?>"
                       class="input-text <?php echo $block->escapeHtmlAttr($_addressHelper->getAttributeValidationClass('city')) ?>"
                       id="city">
            </div>
        </div>
        <div class="field region required">
            <label class="label" for="region_id">
                <span><?php echo $block->escapeHtml(__('State/Province')) ?></span>
            </label>
            <div class="control">
                <select id="region_id" name="region_id"
                        title="<?php echo $block->escapeHtmlAttr(__('State/Province')) ?>"
                        class="validate-select" <?php echo !$block->displayAllRegions() ? ' disabled="disabled"' : '' ?>>
                    <option value=""><?php echo $block->escapeHtml(__('Please select a region, state or province.')) ?></option>
                </select>
                <input type="text"
                       id="region"
                       name="region"
                       value="<?php echo $block->escapeHtmlAttr($block->getRegion()) ?>"
                       title="<?php echo $block->escapeHtmlAttr(__('State/Province')) ?>"
                       class="input-text <?php echo $block->escapeHtmlAttr($_addressHelper->getAttributeValidationClass('region')) ?>"
                       <?php echo !$block->displayAllRegions() ? ' disabled="disabled"' : '' ?>/>
            </div>
        </div>
        <div class="field zip required">
            <label class="label" for="zip">
                <span><?php echo $block->escapeHtml(__('Zip/Postal Code')) ?></span>
            </label>
            <div class="control">
                <input type="text"
                       name="postcode"
                       value="<?php echo $block->escapeHtmlAttr($block->getAddress()->getPostcode()) ?>"
                       title="<?php echo $block->escapeHtmlAttr(__('Zip/Postal Code')) ?>"
                       id="zip"
                       class="input-text validate-zip-international <?php echo $block->escapeHtmlAttr($_addressHelper->getAttributeValidationClass('postcode')) ?>">
            </div>
        </div>
        <div class="field country required">
            <label class="label" for="country"><span><?php echo $block->escapeHtml(__('Country')) ?></span></label>
            <div class="control">
                <?php echo $block->getCountryHtmlSelect() ?>
            </div>
        </div>
    </fieldset>
    <div class="actions-toolbar">
        <div class="primary">
            <button type="submit"
                    class="action save primary"
                    data-action="save-address"
                    title="<?php echo $block->escapeHtmlAttr(__('Save Address')) ?>">
                <span><?php echo $block->escapeHtml(__('Save Address')) ?></span>
            </button>
        </div>
        <div class="secondary">
            <a class="action back" href="<?php echo $block->escapeUrl($block->getBackUrl()) ?>">
                <span><?php echo $block->escapeHtml(__('Go back')) ?></span>
            </a>
        </div>
    </div>
</form>
<script type="text/x-magento-init">
    {
        "#form-validate": {
            "addressValidation": {}
        },
        "#country": {
            "regionUpdater": {
                "optionalRegionAllowed": <?php echo $block->displayAllRegions() ? 'true' : 'false' ?>,
                "regionListId": "#region_id",
                "regionInputId": "#region",
                "postcodeId": "#zip",
                "form": "#form-validate",
                "regionJson": <?php echo $_directoryHelper->getRegionJson() ?>,
                "defaultRegion": "<?php echo (int) $block->getAddress()->getRegionId() ?>",
                "countriesWithOptionalZip": <?php echo $_directoryHelper->getCountriesWithOptionalZip(true) ?>
            }
        }
    }
</script>
