& when (@media-common = true) {
    .catalogsearch-result-index {
        .breadcrumbs {
            display: none;
        }
        .page-main {
            padding: 63px 20px 40px;

            & > .page-title-wrapper {
                max-width: @listing-products-top-max-width;
                margin: 0 auto 42px;
                padding: 60px 20px 0;
                box-sizing: border-box;

                .page-title {
                    margin: 0;
                    padding: 20px 0;
                    border-bottom: solid 1px @color-grey;
                    .lib-font-family(@f-frutiger);
                    font-weight: @font-weight__light;
                    font-size: @font-size_20;
                    color: @color-black;
                    letter-spacing: normal;
                    text-transform: none;
                }
            }
        }
    }
    .algolia-instant-selector-results #algolia_instant_selector {
        margin: 0;

        .row {
            margin: 0;
        }
        #algolia-right-container {
            padding: 0;
        }
        .ais-hits {
            font-size: 0;

            .ais-hits--item {
                display: inline-block;
                width: percentage(1/2);
                margin: 0 0 50px;

                .col-md-3 {
                    float: none;
                    width: 100%;
                    padding: 0;
                    vertical-align: top;

                    .result {
                        border: 0;
                        margin: 0;
                        padding: 0;
                        text-align: center;

                        .result-title {
                            padding: 0 0 20px;
                            .lib-font-family(@f-frutiger);
                            font-weight: @font-weight__regular;
                            font-size: @font-size_15;
                            line-height: 1;
                            color: @color-black;

                            em {
                                background: none;
                                font-weight: @font-weight__bold;
                            }
                        }
                        .heel-height-or-material {
                            padding: 0 0 20px;
                            .lib-font-family(@f-frutiger);
                            font-size: @font-size_13;
                            line-height: 1em;
                            color: @color-warm-grey;
                        }
                        .result-thumbnail img {
                            width: auto;
                            height: auto;
                            max-width: 100%;
                        }
                    }
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    .algolia-instant-selector-results #algolia_instant_selector .ais-hits .ais-hits--item {
        width: percentage(1/3);
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .catalogsearch-result-index {
        .page-main {
            padding: 120px 40px 40px;

            & .page-title-wrapper {
                padding-top: 0;

                .page-title {
                    border: 0;
                }
            }
        }
    }

    .algolia-instant-selector-results #algolia_instant_selector .ais-hits .ais-hits--item {
        margin: 0 0 80px;
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .algolia-instant-selector-results #algolia_instant_selector .ais-hits .ais-hits--item {
        width: percentage(1/4);
        margin: 0;
    }
}