<li class="menu-help" data-mage-init='{"menuHelp": {}}'>
    <a <?php echo $this->getLinkAttributes(); ?>><?php echo $this->escapeHtml($this->getLabel()); ?></a>

    <div class="no-display help-content">
        <?php echo $block->getChildHtml(); ?>
    </div>
</li>
