<?php
/** @var \Algolia\AlgoliaSearch\Block\Algolia $block */

$config = $block->getConfigHelper();

$catalogSearchHelper = $block->getCatalogSearchHelper();

$placeholder = __('Search');

/** Render form with autocomplete input **/
if ($config->isDefaultSelector()): ?>
<div class="block block-search algolia-search-block hide" data-category="search">
    <div class="block block-content">
        <form class="form minisearch" id="search_mini_form" action="<?php echo $catalogSearchHelper->getResultUrl() ?>" method="get">
            <div id="algolia-searchbox">
                <div id="algolia-search-inputs">
                    <input id="search" type="text" name="<?php echo $catalogSearchHelper->getQueryParamName() ?>" class="input-text algolia-search-input" autocomplete="off" spellcheck="false" autocorrect="off" autocapitalize="off" placeholder="<?php echo $placeholder; ?>" />
                    <span class="clear-cross clear-query-autocomplete"></span>
                </div>

                <button type="submit" id="algolia-glass" class="magnifying-glass"><span> </span></button>
            </div>
        </form>
    </div>
</div>
<?php endif; ?>