<?php
// @codingStandardsIgnoreFile

/** @var \Project\Contact\Block\Form $block */
?>
<div class="contact-content" id="custom-contact-form" data-bind="scope:'customContactForm'">
    <div class="contact-us-main">
        <form class="form contact"
          action="<?= $block->escapeUrl($block->getFormAction()) ?>"
          id="contact-form"
          method="post"
          data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>"
          data-mage-init='{"validation":{}}'>

        <fieldset class="fieldset nature-of-inquiry">
            <legend class="legend"><span><?= $block->escapeHtml(__('Nature of your inquiry:')) ?></span></legend>
            <!-- ko foreach: availableGroups() -->
            <div class="unit">
                <input type="radio"
                       name="option-type"
                       class="radio"
                       data-bind="attr: {'id': $index}, checkedValue: $data, checked: $parent.selectedGroup, value: code" />
                <label data-bind="attr: {'for': $index}" class="label">
                    <span data-bind="text: label"></span>
                </label>
            </div>
            <!-- /ko -->
        </fieldset>

        <!-- CMS BLOCK -->
        <fieldset class="fieldset" data-bind="visible: cmsBlock">
            <div class="info-text" id="inquiry-text">
                <div data-bind="html: cmsBlock"></div>
            </div>
        </fieldset>

        <fieldset class="fieldset" id="contact-us-topics"
                  data-bind="visible: availableTopics().length > 0"
                  data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>">

            <legend class="legend"><span><?= $block->escapeHtml(__('Contact information')) ?></span></legend>

            <?= $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Name')->setObject($block->getFormData())->toHtml() ?>

            <div class="field email required">
                <label class="label" for="email"><span><?= $block->escapeHtml(__('Email')) ?></span></label>
                <div class="control">
                    <input name="email" id="email" title="<?= $block->escapeHtmlAttr(__('Email')) ?>" value="<?= $block->escapeHtmlAttr($this->helper('Magento\Contact\Helper\Data')->getPostValue('email') ?: $this->helper('Magento\Contact\Helper\Data')->getUserEmail()) ?>" class="input-text" type="email" data-validate="{required:true, 'validate-email':true}"/>
                </div>
            </div>
            <div class="field telephone">
                <label class="label" for="telephone"><span><?= $block->escapeHtml(__('Phone Number')) ?></span></label>
                <div class="control">
                    <input name="telephone" id="telephone" title="<?= $block->escapeHtmlAttr(__('Phone Number')) ?>" value="<?= $block->escapeHtmlAttr($this->helper('Magento\Contact\Helper\Data')->getPostValue('telephone')) ?>" class="input-text" type="text" />
                </div>
            </div>

            <div class="field subject styled-select">
                <div class="control">
                    <select name="subject" data-bind="
                        options: availableTopics,
                        optionsText: 'title',
                        optionsValue: 'id',
                        value: selectedTopic">
                    </select>
                </div>
            </div>

            <div class="field subsubject styled-select" data-bind="visible: availableSubTopics().length > 0">
                <div class="control">
                    <select name="subsubject" data-bind="
                        options: availableSubTopics,
                        optionsText: 'title',
                        optionsValue: 'id',
                        value: selectedSubTopic">
                    </select>
                </div>
            </div>

            <div class="fields additional" data-bind="visible: additionalFields().length > 0">
                <!-- ko foreach: additionalFields() -->
                <div class="field additional">
                    <label class="label" data-bind="attr: { for: $index}"><span data-bind="i18n: title"></span></label>
                    <div class="control">
                        <input class="input-text" type="text" data-bind="attr: { title: title, id: $index, name: code }" value="" />
                    </div>
                </div>
                <!-- /ko -->
            </div>

            <div class="field comment required">
                <label class="label" for="comment"><span><?= $block->escapeHtml(__('Message')) ?></span></label>
                <div class="control">
                    <textarea name="comment" id="comment" title="<?= $block->escapeHtmlAttr(__('Message')) ?>" class="input-text" cols="5" rows="5" data-validate="{required:true}"><?= $block->escapeHtml($this->helper('Magento\Contact\Helper\Data')->getPostValue('comment')) ?></textarea>
                </div>
            </div>
            <?= $block->getChildHtml('form.additional.info') ?>
            <div class="actions-toolbar">
                <div class="primary">
                    <input type="hidden" name="hideit" id="hideit" value="" />
                    <button type="submit" title="<?= $block->escapeHtmlAttr(__('Submit')) ?>" class="action submit primary" id="contact-submit-btn">
                        <span><?= $block->escapeHtml(__('Submit')) ?></span>
                    </button>
                </div>
            </div>
        </fieldset>
    </form>
        <div class="contact-infos-wrapper">
            <?php echo $block->getChildHtml('custom.contact.infos'); ?>
        </div>
    </div>

<div id="popup-modal" style="display: none">
    <h3 class="modal-title">
        <i class="icon-i31"></i>
    </h3>
    <div class="modal-content">
        <div class="grid">
            <div class="unit intro-text">
                <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('contact_form_confirmation')->toHtml(); ?>
            </div>
        </div>
    </div>
</div>


<script type="text/x-magento-init">
    {
        "#custom-contact-form": {
            "Magento_Ui/js/core/app": {
               "components": {
                    "customContactForm": {
                        "component": "Project_Contact/js/contact-form",
                        "topicGroups": <?= $block->getTopicGroups() ?>,
                        "cmsBlocks": <?= $block->getCmsBlocks() ?>
                    }
                }
            }
        }
    }
</script>

<script>
    // <![CDATA[
    require([
            'jquery',
            'domReady!'
        ],
        function($) {

            $('body').on('keyup', 'form#contact-form input', function() {
                if($(this).next(".mage-error").length){
                    $(this).removeClass("mage-error");
                    $(this).next(".mage-error").hide();

                    if(!$(this).val()){
                        $(this).next(".mage-error").show();
                        $(this).addClass("mage-error");
                    }
                }

            });

            $('body').on('keyup', 'form#contact-form textarea', function() {
                if($(this).next(".mage-error").length){
                    $(this).removeClass("mage-error");
                    $(this).next(".mage-error").hide();

                    if(!$(this).val()){
                        $(this).next(".mage-error").show();
                        $(this).addClass("mage-error");
                    }
                }
            });

            $(window).load(function(){
                $('#contact-submit-btn').show();
            });
        }
    );
    // ]]>
</script>
