// /**
//  * Copyright © Zemez, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .breadcrumbs {
        .lib-css(background, @breadcrumbs__background);
        .lib-breadcrumbs();

        .items {
            .container-box;
        }

        .item:after {
            margin-left: 3px;
            margin-right: 4px;
        }
    }
}
