// /**
//  * Copyright © Zemez, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

.lib-data-tabs__base() {
    > div.item.title {
        > .switch {
            text-transform: uppercase;
            padding-bottom: @tab-control__padding-bottom;
            border: @tab-control__border-width solid @color-white;
        }

        &.active {
            > .switch {
                border-color: @tab-control__border-color;
            }
        }
    }

    > .item.content {

    }
}

.lib-data-accordion__base() {
    > .item.content {

    }
}


//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .product.data.items {
        .lib-data-accordion();
        margin-bottom: @indent__base;
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .product.data.items {
        .lib-data-tabs();
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .product.data.items {
        .lib-data-accordion();

        .data.item {
            display: block;
        }

        > .item.title {
            position: relative;

            &:before {
                position: absolute;
                top: 0;
                right: 0;
                line-height: @accordion-control__line-height;
                padding: @accordion-control__padding-top 0 @accordion-control__padding-bottom;
                cursor: pointer;
            }

            .font-icon(@themeicon-arrows-1_minimal-up);

            &[aria-expanded="false"]:before {
                content: @themeicon-arrows-1_minimal-down;
            }

            > .switch {
                text-transform: uppercase;
            }

            &.active > .switch {
                color: @accordion-control__active__color;
            }
        }
    }
}
