@import 'module/_home.less';
@import 'module/_info_box.less';
@import 'module/_landing-page.less';
@import 'module/_discover.less';
@import 'module/_discover-fragrance.less';
@import 'module/_discover-beauty.less';
@import 'module/_discover-eyes.less';
@import 'module/_discover-lips.less';
@import 'module/_discover-men-city-shoes.less';
@import 'module/_discover-nails.less';
@import 'module/_discover-red.less';
@import 'module/_blog_article_page.less';
@import 'module/_discover-matte-fluids.less';
@import 'module/_cms.less';
@import 'module/_policy.less';
@import 'module/_gift-christmas-guide.less';
@import 'module/_landing-icons.less';

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .page-layout-fullscreen {
        .page-main {
            padding: 0;
        }
    }
}

//
//  Desktop
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .page-layout-nofullscreen {
        .page-title-wrapper,
        .columns {
            max-width: @landing-width;
            margin: 0 auto;
        }
    }
}
