.merchandiser-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    @media (max-width: 1400px) {
        .admin__data-grid-header-row > div {
            margin-left: 0;
            float: none;
            text-align: left;
        }
    }
    .merchandiser-right-content {
        position: sticky;
        height: 100%;
        top: 134px;
        background: white;
        float: none;
        max-width: 35%;
        #catalog_category_add_product_tabs {
            margin-bottom: 20px;
            float: right;
            margin-top: -53px;
        }
        .merchandiser-tabs-pool {
            width: auto;
            max-height: 800px;
            overflow: auto;
            padding: 2rem 10px 0;
        }

        .admin__data-grid-header-row > div {
            float: none;
            @media (max-width: 1400px) {
                text-align: left;
            }
        }
        .merch-actions {
            margin: 30px 0 0 0;
            display: block;
            #deletePoolProducts {
                display: block;
                text-align: right;
                color: #CE0A2C;
                position: relative;
                @media (max-width: 1400px) {
                    text-align: left;
                    margin-left: 18px;
                }
                &:before {
                    position: absolute;
                    margin-left: -20px;
                    width: 15px;
                    height: 20px;
                    top: 3px;
                    content: '\e630';
                    color: #CE0A2C;
                    -webkit-font-smoothing: antialiased;
                    font-family: 'Admin Icons';
                    font-style: normal;
                    font-weight: normal;
                    line-height: 1;
                    speak: none;
                }
            }
        }
    }
    #catalog_category_merchandiser_pool_list {
        li {
            width: 31%;
            float: none;
            display: inline-block;
            vertical-align: top;
            @media (max-width: 1400px) {
                width: 47%;
            }
        }
    }
    #catalog_category_merchandiser_list {
        > li {
            float: none;
            display: inline-block;
            vertical-align: top;
            width: 23%;
        }
    }
    #catalog_category_merchandiser_list,#catalog_category_merchandiser_pool_list {
        font-size: 0;
        .controlbar-bottom {
            .position {
                opacity: 0;
                font-size: 0;
                margin-top: 0;
                padding-top: 0;
                input {
                    width: 0;
                    height: 0;
                }
            }
        }
        .info-block {
            height: auto;
            font-size: 11px;
        }
        .tile-checkbox {
            transform: scale(1);
            margin: 0;
        }
        > li {
            padding: 5px;
            height: auto;
            margin: 0 5px 5px 0;
            .disabled-product-mask {
                height: auto;
            }
            .icon-backward, .icon-forward {
                &:before {
                    font-size: 0;
                }
            }
            .icon-close-mage {
                &:before {
                    font-size: 10px;
                }
            }
        }
    }

    .merchandiser-tabs {
        padding: 2rem 10px 0 0;
        .merch-actions {
            display: block;
            margin: 40px 0 16px 0;
            @media (max-width: 1400px) {
                margin: 20px 0 0 0;
                overflow: hidden;
                clear: both;
            }
        }
    }
    #deleteProducts {
        float: right;
        color: #CE0A2C;
        position: relative;
        &:before {
            position: absolute;
            left: -20px;
            width: 15px;
            height: 20px;
            top: 3px;
            content: '\e630';
            color: #CE0A2C;
            -webkit-font-smoothing: antialiased;
            font-family: 'Admin Icons';
            font-style: normal;
            font-weight: normal;
            line-height: 1;
            speak: none;
        }
    }
    .admin__data-grid-header-row > div {
        margin-left: 0;
    }
    .admin__data-grid-pager {
        margin-left: 0;
    }
    .action-previous {
        margin-right: 0;
    }
    .action-next {
        margin-left: 0;
    }
    .admin__control-support-text {
        margin-left: 0;
    }
}
