<?php
// @codingStandardsIgnoreFile

$isFooterBreadcrumbs = $block->getIsFooterBreadcrumbs();
?>
<div class="breadcrumbs">
    <?php if ($crumbs && is_array($crumbs)) : ?>
        <ul class="items">
            <?php foreach ($crumbs as $crumbName => $crumbInfo) : ?>
                <li class="item <?= /* @escapeNotVerified */ $crumbName ?>">
                <?php if ($crumbInfo['link']) : ?>
                    <a href="<?= /* @escapeNotVerified */ $crumbInfo['link'] ?>" title="<?= $block->escapeHtml($crumbInfo['title']) ?>"><?= $block->escapeHtml($crumbInfo['label']) ?></a>
                <?php elseif ($crumbInfo['last']) : ?>
                    <?php if(!$isFooterBreadcrumbs): ?>
                        <h1>
                    <?php endif; ?>
                            <strong><?= $block->escapeHtml($crumbInfo['label']) ?></strong>
                    <?php if(!$isFooterBreadcrumbs): ?>
                        </h1>
                    <?php endif; ?>
                <?php else: ?>
                    <?php if(!$isFooterBreadcrumbs): ?>
                        <h1>
                    <?php endif; ?>
                            <?= $block->escapeHtml($crumbInfo['label']) ?>
                    <?php if(!$isFooterBreadcrumbs): ?>
                        </h1>
                    <?php endif; ?>
                <?php endif; ?>
                </li>
            <?php endforeach; ?>
        </ul>
    <?php endif; ?>
</div>
