<?php /** @var Magento\Framework\View\Element\Template $block */ ?>

<ul class="social">
    <li>
        <a class="instagram" target="_blank" href="https://instagram.com/louboutinworld">
            <span>Instagram</span>
        </a>
    </li>
    <li>
        <a class="twitter" target="_blank" href="https://twitter.com/louboutinworld">
            <span>Twitter</span>
        </a>
    </li>
    <li>
        <a class="facebook" target="_blank" href="https://www.facebook.com/christianlouboutin">
            <span>Facebook</span>
        </a>
    </li>
</ul>

<?php echo $block->getChildHtml('subscribe'); ?>

<?php echo $block->getChildHtml('footer.mobile.ecom'); ?>

<?php echo $block->getChildHtml('footer.bottom.store-chooser'); ?>

<section class="language-selector-wrapper overlay">
    <div class="language-selector overlay-content">
        <h4 class="overlay-section-title"><?php echo __('Choose your language') ?></h4>

        <section class="overlay-section"></section>

        <h4 class="overlay-section-title"><?php echo __('Choose your country or region') ?></h4>

        <section class="overlay-section"></section>
    </div>
</section>



