<?php /** @var Magento\Framework\View\Element\Template $block */ ?>

<?php echo $block->getChildHtml('currency.precision'); ?>
<?php
/** @var Synolia\RestrictSale\Helper\Data $restrictSaleHelper */
$restrictSaleHelper = $this->helper(\Synolia\RestrictSale\Helper\Data::class);
$shouldHideRestrictItems = $restrictSaleHelper->isSaleRestricted();

/** @var $standardDesignHelper Synolia\StandardDesign\Helper\Cms */
$standardDesignHelper = $this->helper('Synolia\StandardDesign\Helper\Cms');
?>
<div class="widescreen top">
    <div class="tm tl">
        <ul>
            <li>
                <?php echo $block->getChildHtml('header.myaccount.link'); ?>
            </li>
            <li class="header-help-wrapper">
                <a class="opt help" href="#">
                    <span><?php echo __('Help'); ?></span>
                </a>
                <div class="dd-menu">
                    <div class="dd-inner">
                        <?php echo $standardDesignHelper->getCmsBlockHtml('menu-help'); ?>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="tm tr">
        <ul <?php echo ($shouldHideRestrictItems) ? 'style="visibility: hidden;"' : ''; ?>>
            <li data-category="search" data-toggle-menu="click" data-background-color="#fafafa">
                <a class="opt search icon-magnifier" href="#">
                    <span class="hide"><?php echo __('Search'); ?></span>
                </a>
            </li>
            <li>
                <?php echo $block->getChildHtml('header.wishlist'); ?>
            </li>
            <li>
                <?php echo $block->getChildHtml('minicart'); ?>
            </li>
        </ul>
    </div>
</div>
<div class="menu-area">
    <div class="layer layer-top">
        <nav class="navbar">
            <div class="navbar-left">
                <div class="menu-left">
                    <?php echo $block->getChildHtml('navigation.sections'); ?>
                </div>
            </div>
            <div class="widescreen navbar-logo noel">
                <?php echo $block->getChildHtml('logo'); ?>
                <div class="logo-circle-ln">
                    <div class="circle"></div>
                </div>
                <div class="logo-circle-ln-mini">
                    <div class="circle"></div>
                </div>
            </div>
            <div class="navbar-right">
                <div class="menu-right">
                    <?php echo $block->getChildHtml('navigation.right.side'); ?>
                </div>

                <?php echo $block->getChildHtml('navigation.links.aside'); ?>
            </div>
        </nav>
        <div class="border-noel"></div>
    </div>
    <div class="layer layer-bottom">
        <div class="menu-drop-down-container">
            <div class="menu-categories">
                <?php echo $block->getChildHtml('topSearch') ?>
            </div>
        </div>
    </div>
</div>

<div class="narrowscreen">
    <div class="navbar-wrapper">
        <div class="navbar">
            <ul>
                <li class="menu">
                    <div class="open action nav-toggle" data-action="toggle-nav">
                        <span class="menu-icon"><?php echo __('Menu'); ?></span>
                    </div>
                    <button class="close icon-i34"></button>
                </li>
                <li class="logo">
                    <a class="header-logo" href="<?php echo $block->getUrl(''); ?>">
<!--                        <img src="--><?php //echo $block->getViewFileUrl('Magento_Theme::images/header-logo-mobile-v3.png'); ?><!--" alt="Christian Louboutin">-->
                        <img src="<?php echo $block->getViewFileUrl('Magento_Theme::images/noel_logo.png'); ?>" alt="Christian Louboutin">
<!--                        <span class="circle-ln"></span>-->
                    </a>
                </li>
                <li <?php echo ($shouldHideRestrictItems) ? 'style="visibility: hidden;"' : ''; ?> class="options">
                    <div class="wrp-tr">
                        <a class="opt search" href="#">
                            <span class="hide"><?php echo __('Search'); ?></span>
                        </a>
                        <?php $minicart = $block->getChildBlock('minicart'); ?>
                        <?php if ($minicart): ?>
                            <?php echo $minicart->setMobile(true)->toHtml() ?>
                        <?php endif; ?>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="mobile-search-panel">
    <?php echo $block->getChildHtml('top.search.mobile') ?>
</div>


<script type="text/x-magento-init">
    {
        "header.page-header": {
            "menuHeader": {}
        }
    }
</script>


<script>
    requirejs(['jquery', 'Magento_Ui/js/modal/alert', 'domReady!'],
        function   ($, alert) {
            $( ".faq-click" ).click(function() {
                dataLayer.push({"event":"gtm.ext.event","eventTmp":"clickHelp","eventCategory":"clickHelp","eventAction":"faq","eventLabel":document.URL});
            });

            //maintnance-advice-click
            $( ".maintnance-advice-click" ).click(function() {
                dataLayer.push({"event":"gtm.ext.event","eventTmp":"clickHelp","eventCategory":"clickHelp","eventAction":"ProductCare","eventLabel":document.URL});
            });

            //rma-create-click
            $( ".rma-create-click" ).click(function() {
                dataLayer.push({"event":"gtm.ext.event","eventTmp":"clickHelp","eventCategory":"clickHelp","eventAction":"CreateReturn","eventLabel":document.URL});
            });

            //stopfake-click
            $( ".stopfake-click" ).click(function() {
                dataLayer.push({"event":"gtm.ext.event","eventTmp":"clickHelp","eventCategory":"clickHelp","eventAction":"stopfake","eventLabel":document.URL});
            });

            //shipping-click
            $( ".shipping-click" ).click(function() {
                dataLayer.push({"event":"gtm.ext.event","eventTmp":"clickHelp","eventCategory":"clickHelp","eventAction":"ShippingPolicy","eventLabel":document.URL});
            });

            //rma-click
            $( ".rma-click" ).click(function() {
                dataLayer.push({"event":"gtm.ext.event","eventTmp":"clickHelp","eventCategory":"clickHelp","eventAction":"ReturnPolicy","eventLabel":document.URL});
            });

            //policy-click
            $( ".confidentiality-click" ).click(function() {
                dataLayer.push({"event":"gtm.ext.event","eventTmp":"clickHelp","eventCategory":"clickHelp","eventAction":"PrivacyPolicy","eventLabel":document.URL});
            });
        }
    );
</script>

