<?php /** @var $block Project\Core\Block\Html\StoreInfo */ ?>
<?php $website = $block->getWebsite(); ?>
<?php $store = $block->getStore(); ?>
<ul class="country-language">
    <li class="country icon-flag">
        <a class="opt i-flag i-other" href="#"><?php echo $website->getName(); ?></a>
    </li>
    <li class="lang">
        <a href="#"><?php echo __($store->getName()); ?></a>
    </li>
</ul>