<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
/** @var \Project\Core\Helper\AttributeSet $attributeSetHelper */
$attributeSetHelper = $this->helper('Project\Core\Helper\AttributeSet');
/** @var $block \Project\Sales\Block\Order\Email\Items\DefaultItems */

/** @var $_item \Magento\Sales\Model\Order\Item */

$_item = $block->getItem();
$_product = $block->getProductById($_item->getOrderItem()->getData('product_id'));
$_order = $block->getOrder();
?>
<tr>
    <td class="item-info<?php if ($block->getItemOptions()): ?> has-extra<?php endif; ?>">
        <p class="product-name"><?= $block->escapeHtml($_item->getName()) ?></p>
        <!-- Add More Product Informations -->
        <?php if( $attributeSetHelper->isShoes($_product) || $attributeSetHelper->isBag($_product) ||
            $attributeSetHelper->isEyes($_product) ): ?>
            <p class="sku"><?= /* @escapeNotVerified */  __('SKU') ?>: <?= $block->escapeHtml($block->getSku($_item)) ?></p>
        <?php endif; ?>
        <?php if( $attributeSetHelper->isShoes($_product) ): ?>
            <p class="heel_height"><?= /* @escapeNotVerified */  __('Heel Height') ?>: <?= $_product->getAttributeText('heel_height_map') ?></p>
        <?php endif; ?>
        <?php if( $attributeSetHelper->isShoes($_product) || $attributeSetHelper->isBag($_product) ||
            $attributeSetHelper->isAccessories($_product) || $attributeSetHelper->isBelts($_product) ): ?>
            <p class="item-material"><?= /* @escapeNotVerified */  __('Material') ?>: <?= $_product->getData('material_product_page') ?></p>
        <?php endif; ?>
        <?php if( $attributeSetHelper->isShoes($_product) || $attributeSetHelper->isLips($_product) ||
            $attributeSetHelper->isPerfumes($_product) ||  $attributeSetHelper->isNails($_product) ||
            $attributeSetHelper->isAccessories($_product) || $attributeSetHelper->isBelts($_product) ): ?>
            <p class="item-style"><?= /* @escapeNotVerified */  __('Style') ?>: <?= $_product->getData('style_code') ?></p>
        <?php endif; ?>
        <?php if( $attributeSetHelper->isShoes($_product) || $attributeSetHelper->isBag($_product) ||
            $attributeSetHelper->isEyes($_product) || $attributeSetHelper->isLips($_product) ||
            $attributeSetHelper->isPerfumes($_product) ||  $attributeSetHelper->isNails($_product) ||
            $attributeSetHelper->isAccessories($_product) || $attributeSetHelper->isBelts($_product) ): ?>
            <p class="item-color"><?= /* @escapeNotVerified */  __('Color') ?>: <?= $_product->getData('color_product_page') ?></p>
        <?php endif; ?>


        <?php $addInfoBlock = $block->getProductAdditionalInformationBlock(); ?>
        <?php if ($addInfoBlock) :?>
            <?= $addInfoBlock->setItem($_item->getOrderItem())->toHtml() ?>
        <?php endif; ?>
        <?= $block->escapeHtml($_item->getDescription()) ?>
        <!-- Size -->
        <?php if($_product): ?>
            <td class="item-size"><?= /* @escapeNotVerified */ $block->getSize($_product) ?></td>
        <?php endif; ?>
        <!-- Qty -->
        <td class="item-qty"><?= /* @escapeNotVerified */  $_item->getQty() * 1 ?></td>
</tr>
<?php if ($_item->getGiftMessageId() && $_giftMessage = $this->helper('Magento\GiftMessage\Helper\Message')->getGiftMessage($_item->getGiftMessageId())): ?>
    <tr>
        <td colspan="3" class="item-extra">
            <table class="message-gift">
                <tr>
                    <td>
                        <h3><?= /* @escapeNotVerified */  __('Gift Message') ?></h3>
                        <strong><?= /* @escapeNotVerified */  __('From:') ?></strong> <?= $block->escapeHtml($_giftMessage->getSender()) ?>
                        <br /><strong><?= /* @escapeNotVerified */  __('To:') ?></strong> <?= $block->escapeHtml($_giftMessage->getRecipient()) ?>
                        <br /><strong><?= /* @escapeNotVerified */  __('Message:') ?></strong>
                        <br /><?= $block->escapeHtml($_giftMessage->getMessage()) ?>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
<?php endif; ?>
