<div class="easycms-block blog-article">
    <div class="first-half-article">
        <div class="date-article">
            <p>12.03.2018</p>
        </div>
        <div class="title-article">
            <a title="Title example" href="{{store url=''}}">
                Inappropriate Glamour: Christian Louboutin x Halpern at London Fashion Week Fall Winter 2018
            </a>
        </div>
        <div class="read-more-article">
            <a title="Title example" href="{{store url=''}}">
                Read the article >
            </a>
        </div>
    </div>
    <div class="second-half-article">
        <div class="image-background">
            <a title="Title example" href="{{store url=''}}">
                <img class="hidden img-article-src" src="https://dummyimage.com/775x350/000/fff" alt=""/>
            </a>
        </div>
    </div>
</div>