<div class="discover-pages discover-shoes">
    <section class="section-top">
        <div class="easycms-block topbox-image">
            <img src="{{media url=cms/page/men-city-shoes/section-top-img1.jpg}}" alt="Image mobile" />
        </div>
        <div class="list-section-top">
            <ul class="navs">
                <li>
                    <a href="#manufacturing">Manufacturing</a>
                </li>
                <li>
                    <a href="#the_last">The Last</a>
                </li>
                <li>
                    <a href="#the_upper">The Upper</a>
                </li>
                <li>
                    <a href="#the_sole">The Sole</a>
                </li>
                <li>
                    <a href="#the_finishing">The Finishing</a>
                </li>
            </ul>
        </div>
        <h1>La maison Homme</h1>
    </section>
    <section class="know-how" id="manufacturing">
        <div class="section-inner">
            <div class="title scroll-notvisible">
                <h2>— Know how —</h2>
                <p>Manufacturing</p>
            </div>
            <div class="easycms-block topbox-video scroll-notvisible">
                <div class="video-container">{{widget type="Project\Core\Block\Widget\Video" video_url="https://player.vimeo.com/external/202033762.hd.mp4?s=515ec7409bf4a280ff229b46a553e2db13cd05c0&profile_id=119" video_placeholder_text="Defaut video label"}}
                    <div class="play-button"><span>Watch the video</span></div>
                    <div class="mute-button"></div>
                </div>
            </div>
            <div class="description scroll-notvisible">
                <p>From shaping the last to polishing the shoe and each step in between, the journey of a Christian Louboutin shoe is a tale of craftsmanship worth telling again and again.</p>
                <p>Family-owned and operated for generations, our factory in Naples, Italy is one of the most unique, with Homme styles benchmade by master craftsmen using the finest materials in the world.</p>
            </div>
        </div>
    </section>
    <section class="step-1" id="the_last">
        <div class="section-inner">
            <div class="title scroll-notvisible">
                <h2>— Step 1 —</h2>
                <p>The Last</p>
            </div>
            <div class="step-description left">
                <div class="img scroll-notvisible">
                    <p><img src="{{media url=cms/page/men-city-shoes/step1-img1.jpg}}"/></p>
                    <div>
                        <p>Above, a worker takes one of Christian’s sketches and creates a pattern that will become the final product.</p>
                    </div>
                </div>
                <div class="info">
                    <p class="scroll-notvisible"><span>W</span>hen making a shoe, first is last! The last determines the shape of the shoe; once the wooden prototype last is shaped and approved, it is then replicated in technical materials for production.</p>
                    <div class="scroll-notvisible"><img src="{{media url=cms/page/men-city-shoes/step1-img2.jpg}}"/></div>
                </div>
            </div>
            <div class="slider-container scroll-notvisible">
                <h2>Types of shoes</h2>
                {{widget type="Synolia\Slider\Block\Widget\Slider" code="discover-animated-shoe-slider-en" template="Synolia_Slider::widget/sliderAnimatedShoes.phtml"}}
            </div>
        </div>
    </section>
    <section class="step-2" id="the_upper">
        <div class="section-inner">
            <div class="title scroll-notvisible">
              <h2>— Step 2 —</h2>
              <p>The Upper</p>
            </div>
            <div class="step-description">
              <div class="img scroll-notvisible">
                  <p><img src="{{media url=cms/page/men-city-shoes/step2-img1.jpg}}"/></p>
              </div>
              <div class="info">
                  <p class="scroll-notvisible"><span>O</span>nce the pattern is finalised , it’s time to dress the shoe. Tagliere a mano is the process of hand cutting each shoe’s pattern from the leather. Artisans are trained for years in order to detect any flaws in the skin and cut around them; this ensures that our shoes are made from only the most perfect leathers.</p>
                  <div class="scroll-notvisible"><img src="{{media url=cms/page/men-city-shoes/step2-img2.jpg}}"/></div>
              </div>
            </div>
        </div>
        <div class="materials scroll-notvisible">
            <div class="info">
                <p class="materials-title">Materials</p>
                <p>The materials found in every Christian Louboutin collection reflect the brand’s playful discourse as well as a commitment to quality craftsmanship and innovative design.</p>
            </div>
            <div>{{widget type="Synolia\Slider\Block\Widget\Slider" code="discover-materials-slider-en" template="Synolia_Slider::widget/sliderMaterials.phtml"}}</div>
        </div>
    </section>
    <section class="step-3" id="the_sole">
        <div class="section-inner">
            <div class="title scroll-notvisible">
                <h2>— Step 3 —</h2>
                <p>The Sole</p>
            </div>
            <div class="step-description">
                <div class="img scroll-notvisible">
                    <p><img src="{{media url=cms/page/men-city-shoes/step3-img1.jpg}}"/></p>
                </div>
                <div class="info">
                    <p class="scroll-notvisible"><span>C</span>ue the infamous red sole! Many of our iconic soles are constructed using Blake Stitching, an artisan technique using the utmost of luxury craftsmanship. The technique properly adheres the sole to the upper, which allows the shoe to move naturally with your foot, providing more comfort and durability with wear.</p>
                    <div class="scroll-notvisible"><img src="{{media url=cms/page/men-city-shoes/step3-img2.jpg}}"/></div>
                </div>
            </div>
        </div>
    </section>

    <h2 class="types-shoe">Types of shoe:</h2>

    {{widget type="Synolia\Slider\Block\Widget\Slider" code="discover-soles-slider-en" template="Synolia_Slider::widget/sliderSoles.phtml"}}

    <section class="step-4" id="the_finishing">
        <div class="section-inner">
            <div class="title scroll-notvisible">
                <h2>— Step 4 —</h2>
                <p>The Finishing</p>
            </div>
            <div class="step-description">
                <div class="img scroll-notvisible">
                    <p><img src="{{media url=cms/page/men-city-shoes/step4-img1.jpg}}"/></p>
                <div>
                    <p>Patine is hand applied on various shoes to add shine and rich, dimensional colour that cannot be found in classic leathers. Each batch is mixed from scratch without a recipe, just the expert eyes and best judgement of the shoe maker. The patine process is repeated several times until the desired colour is reached. The application must be done in several turns; master dyers in the factory decide the number of times each shoe needs to be coated through their acute intuition for the process. </p>
                </div>
                </div>
                <div class="info">
                    <p class="scroll-notvisible"><span>I</span>n the hands of the finisher, the upper reveals itself as a work of art. Attention is paid to the smallest details in the operations of brushing, applying shoe cream, and polishing the leather.</p>
                    <div class="scroll-notvisible"><img src="{{media url=cms/page/men-city-shoes/step4-img2.jpg}}"/></div>
                </div>
            </div>
        </div>
        <div class="materials scroll-notvisible">
            <div class="info">
                <p class="materials-title">Embellishment</p>
                <p>From strass to pyramid studs and mixed spikes, Christian Louboutin’s stunning embellishments are hand placed for a truly bespoke feel.</p>
            </div>
            <div>{{widget type="Synolia\Slider\Block\Widget\Slider" code="discover-embellishment-slider-en" template="Synolia_Slider::widget/sliderEmbellishment.phtml"}}</div>
        </div>
    </section>

    <div class="easycms-block title-subtitle-slider">
        <div class="title-slider-discover scroll-notvisible">
            <p>From the workshop</p>
        </div>
        <div class="subtitle-slider-discover scroll-notvisible">
            <p>A selection of our finest Homme styles</p>
        </div>
        <div class="slider-slider-discover scroll-notvisible">{{widget type="Synolia\Slider\Block\Widget\Slider" code="home-products-slider-en" template="Synolia_Slider::widget/sliderMenCityShoes.phtml"}}</div>
    </div>
</div>
