<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label"><span data-bind="text: getTitle()"></span></label>
    </div>
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <div class="field cvs-type required">
            <label data-bind="attr: {for: getCode() + '_cvs_type'}" class="label">
                <span><!-- ko i18n: 'CVS Name'--><!-- /ko --></span>
            </label>
            <div class="control">
                <select name="payment[cvs_type]"
                        class="select select-cvs"
                        data-bind="attr: {id: getCode() + '_cvs_type', 'data-container': getCode() + '-cvs-type', 'data-validate': JSON.stringify({required:true})},
                                           enable: isActive($parents),
                                           options: getCvsValues(),
                                           optionsValue: 'value',
                                           optionsText: 'cvs',
                                           optionsCaption: $t('-- Please Select --'),
                                           value: cvsType">
                </select>
            </div>
        </div>

        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')},
                        enable: (getCode() == isChecked()),
                        css: {disabled: !isPlaceOrderActionAllowed()}
                        "
                        disabled>
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>

    </div>
</div>
