<div class="admin__field admin__field-option">
    <input type="checkbox"
           class="admin__control-checkbox"
           simple-checked="checked"
           ko-disabled="disabled"
           ko-focused="focused"
           ko-value="value"
           attr="id: uid, name: inputName"/>

    <label class="admin__field-label" text="description" attr="for: uid"/>

    <!-- ko if(comment) -->
    <div data-bind="html: comment"></div>
    <!-- /ko -->
</div>
