<?php /** @var $block Project\Core\Block\Navigation\Filter\DefaultRenderer */ ?>
<?php /** @var $filterItems [] */ ?>
<?php /** @var $filter Synolia\CustomFilter\Model\Layer\Filter\Attribute */ ?>
<?php /** @var $classDisplay string */ ?>
<?php /** @var $state Magento\Catalog\Model\Layer\State */ ?>
<?php /** @var $attribute Magento\Catalog\Model\ResourceModel\Eav\Attribute */ ?>
<?php /** @var $mediaHelper Project\Core\Helper\Media */ ?>
<?php $mediaHelper = $this->helper('Project\Core\Helper\Media'); ?>

<?php $attribute = $filter->getAttributeModel(); ?>
<div data-role="collapsible" class="filter-options-item <?php echo $classDisplay ?> <?php echo $attribute->getAttributeCode(); ?> color-grid">
    <div data-role="title" class="filter-options-title"><?php  echo __($filter->getName()) ?></div>
    <div data-role="content" class="filter-options-content">

        <ol class="items">
            <?php /** @var $filterItem Synolia\CustomFilter\Model\Layer\Filter\Item */ ?>
            <?php foreach ($filterItems as $filterItem): ?>
                <?php $adminLabel = $block->getAdminLabelFromFilterItem($filterItem); ?>

                <li class="item <?= strtolower($adminLabel) ?> <?= $filterItem->getValue() == $state ? 'filter-selected' : ''?>">
                    <?php if ($filterItem->getCount() > 0): ?>
                        <?php if (!$filterItem->getIsSelected()): ?>
                        <a href="<?php echo $block->escapeUrl($filterItem->getUrl()) ?>">
                            <span class="image">
                                <img src="<?php echo $mediaHelper->getFilterImage(
                                    $attribute->getAttributeCode(),
                                    $adminLabel
                                ); ?>" alt="<?php echo $filterItem->getLabel(); ?>" />
                            </span>
                            <span class="label"><?php echo $filterItem->getLabel(); ?></span>
                        </a>
                        <?php else: ?>
                            <a class="action remove active" href="<?php echo $filterItem->getRemoveUrl() ?>"
                                title="<?php echo $block->escapeHtml(__('Remove')) . " " . $filterItem->getLabel(); ?>">
                                <span class="image">
                                    <img src="<?php echo $mediaHelper->getFilterImage(
                                        $attribute->getAttributeCode(),
                                        $adminLabel
                                    ); ?>" alt="<?php echo $filterItem->getLabel(); ?>" />
                                </span>
                                <span class="label"><?php echo $filterItem->getLabel(); ?></span>
                            </a>
                        <?php endif; ?>
                    <?php else: ?>
                        <?php echo $filterItem->getLabel() ?>
                    <?php endif; ?>
                </li>
            <?php endforeach ?>
        </ol>
    </div>
</div>
