<?php /** @var $block Magento\LayeredNavigation\Block\Navigation\FilterRenderer */ ?>
<?php /** @var $filterItems [] */ ?>
<?php /** @var $filter Synolia\CustomFilter\Model\Layer\Filter\Attribute */ ?>
<?php /** @var $classDisplay string */ ?>
<?php /** @var $state Magento\Catalog\Model\Layer\State */ ?>
<?php /** @var $attribute Magento\Catalog\Model\ResourceModel\Eav\Attribute */ ?>
<?php $attribute = $filter->getAttributeModel(); ?>

<div data-role="collapsible" class="filter-options-item <?php echo $classDisplay ?> <?php echo $attribute->getAttributeCode(); ?> material-grid">
    <div data-role="title" class="filter-options-title"><?php  echo __($filter->getName()) ?></div>
    <div data-role="content" class="filter-options-content">
        <ol class="items">
            <?php foreach ($filterItems as $filterItem): ?>
                <li class="item <?php echo $filterItem->getValue() == $state ? 'filter-selected' : ''?>">
                    <?php if ($filterItem->getCount() > 0): ?>
                        <?php if (!$filterItem->getIsSelected()): ?>
                            <a href="<?php echo $block->escapeUrl($filterItem->getUrl()) ?>">
                                <?php  echo $filterItem->getLabel() ?>
                            </a>
                        <?php else: ?>
                            <a class="action remove active" href="<?php echo $filterItem->getRemoveUrl() ?>"
                               title="<?php echo $block->escapeHtml(__('Remove')) . " " . $filterItem->getLabel(); ?>">
                                <span><?php echo $filterItem->getLabel() ?></span>
                            </a>
                        <?php endif; ?>
                    <?php else:?>
                        <?php echo $filterItem->getLabel() ?>
                    <?php endif; ?>
                </li>
            <?php endforeach ?>
        </ol>
    </div>
</div>
