<?php /** @var $block Project\Core\Block\Navigation\Filter\DefaultRenderer */ ?>
<?php /** @var $filterItems [] */ ?>
<?php /** @var $filter Synolia\CustomFilter\Model\Layer\Filter\Attribute */ ?>
<?php /** @var $classDisplay string */ ?>
<?php /** @var $state Magento\Catalog\Model\Layer\State */ ?>
<?php /** @var $attribute Magento\Catalog\Model\ResourceModel\Eav\Attribute */ ?>
<?php $attribute = $filter->getAttributeModel(); ?>
<?php /** @var $mediaHelper Project\Core\Helper\Media */ ?>
<?php $mediaHelper = $this->helper('Project\Core\Helper\Media'); ?>

<div data-role="collapsible" class="filter-options-item <?php echo $classDisplay ?> <?php echo $attribute->getAttributeCode(); ?> heel-grid">
    <div data-role="title" class="filter-options-title"><?php  echo __($filter->getName()) ?></div>
    <div data-role="content" class="filter-options-content">
        <ol class="items">
            <?php foreach ($filterItems as $filterItem): ?>
                <li class="item <?php echo $filterItem->getValue() == $state ? 'filter-selected' : ''?>">
                    <?php if ($filterItem->getCount() > 0): ?>
                        <?php $iconClass = 'icon' . $block->getIconClass($block->getAdminLabelFromFilterItem($filterItem)); ?>
                        <?php if (!$filterItem->getIsSelected()): ?>
                            <a href="<?php echo $block->escapeUrl($filterItem->getUrl()) ?>"
                               class="<?php echo $iconClass; ?>">
                                <span class="label"><?php echo $filterItem->getLabel(); ?></span>
                            </a>
                        <?php else: ?>
                            <a class="action remove active <?php echo $iconClass; ?>"
                               href="<?php echo $filterItem->getRemoveUrl(); ?>"
                               title="<?php echo $block->escapeHtml(__('Remove')) . " " . $filterItem->getLabel(); ?>">
                                <span class="label"><?php echo $filterItem->getLabel(); ?></span>
                            </a>
                        <?php endif; ?>
                    <?php else:?>
                        <?php echo $filterItem->getLabel() ?>
                    <?php endif; ?>
                </li>
            <?php endforeach ?>
        </ol>
    </div>
</div>
