<?php
// @codingStandardsIgnoreFile

/** @var $block \Project\BackInStock\Block\Email\Stock */

/** @var \Project\BackInStock\Helper\BackInStockHelper $_helper */
$_helper = $this->helper('Project\BackInStock\Helper\BackInStockHelper');

/** @var \Magento\Catalog\Helper\Output $_productHelper */
$_productHelper = $this->helper('Magento\Catalog\Helper\Output');
?>
<?php if ($_products = $block->getProducts()): ?>
    <p><?= /* @escapeNotVerified */  __('You have been waiting ever so patiently and it is our pleasure to announce that your product(s) selection is now available on Christian Louboutin online boutique !') ?></p>
    <table style="width: 100%; text-align: center">
        <?php /** @var \Magento\Catalog\Model\Product $_product */ ?>
        <?php foreach ($_products as $key => $_product): ?>
            <tr>
                <td class="col photo">
                    <a href="<?= /* @escapeNotVerified */  $block->getProductUrl($_product) . $_helper->getTrackingParameters() ?>" title="<?= $block->escapeHtml($_product->getName()) ?>" class="product photo">
                        <?= $block->getImage($_product, 'new_products_content_widget_grid', ['class' => 'photo image'])->toHtml() ?>
                    </a>
                </td>
            </tr>
        <tr>
            <td class="col item">
                <p>
                    <strong class="product name">
                        <a href="<?= /* @escapeNotVerified */  $block->getProductUrl($_product) . $_helper->getTrackingParameters() ?>"><?= $block->escapeHtml($_product->getName()) ?></a>
                    </strong>
                </p>
                <?php if ($_product->getHeelHeight() > 0): ?>
                    <p><small><?= __('%1 mm', $_productHelper->productAttribute($_product, round($_product->getHeelHeight(), 0), 'heel_height')) ?></small></p>
                <?php endif; ?>
            </td>
        </tr>
        <?php endforeach; ?>
    </table>
<?php endif; ?>
