<?php
/**
 * @var \Algolia\AlgoliaSearch\Block\Instant\Hit $block
 */
?>
<script type="text/template" id="instant-hit-template">
    <div class="col-md-3 col-sm-6">
        <div class="result-wrapper">
            <a href="{{url}}" class="result" onclick="dataLayer.push({{productClick}})">
                <div class="result-content">
                    <div class="result-thumbnail">
                        {{#image_url}}<img src="{{{ image_url }}}" />{{/image_url}}
                        {{^image_url}}<span class="no-image"></span>{{/image_url}}
                    </div>
                    <div class="result-sub-content">
                        <h3 class="result-title text-ellipsis">
                            {{{ _highlightResult.name.value }}}
                        </h3>
                        <div class="heel-height-or-material">
                            {{#material_color}}
                                {{{ material_color }}}
                            {{/material_color}}

                            {{^material_color}}
                                {{#heel_height}}
                                    {{{ heel_height }}} mm
                                {{/heel_height}}
                                {{^heel_height}}
                                    {{{ material }}}
                                {{/heel_height}}
                            {{/material_color}}
                        </div>
                    </div>
                </div>
                <div class="algolia-clearfix"></div>
            </a>
        </div>
    </div>
</script>