<!-- ko if: hasWishlistItems() -->
    <div class="products-grid wishlist header">
        <ol class="product-items">
            <!-- ko foreach: wishlist().items -->
                <!-- ko if: $parent.iterator <= $parent.maxItems -->
                    <li data-row="product-item" class="product-item" data-bind="attr: {id: 'item_' + product_id}">
                        <div class="product-item-info" data-container="product-grid">
                            <a class="product-item-photo" tabindex="-1" data-bind="attr: {href: product_url, alt: product_name, title: product_name}">
                                <img class="photo image" data-bind="attr: {src: image.src, alt: image.alt, width: image.width, height: image.height }">
                            </a>
                            <strong class="product-item-name">
                                <a class="product-item-link" data-bind="attr: {href: product_url, alt: product_name, title: product_name}, text: product_name"></a>
                            </strong>
                            <!-- ko if: $parent.showPrice -->
                                <span data-bind="html: product_price"></span>
                            <!-- /ko -->
                        </div>
                    </li>
                <!-- /ko -->
            <!-- /ko -->
        </ol>
        <!-- ko if: wishlist().count >= maxItems -->
            <div class="wishlist-view">
                <a class=" button primary action" data-bind="attr: {href: wishlistUrl, title: $t('See my wishlist')}, text: $t('See my wishlist')"></a>
            </div>
        <!-- /ko -->
    </div>
<!-- /ko -->
<!-- ko ifnot: hasWishlistItems() -->
    <div class="message info empty"><span data-bind="i18n: 'Your wishlist is empty'"></span></div>
<!-- /ko -->
