@import 'module/_listings.less';
@import 'module/_toolbar.less';
@import 'module/_size-guide.less';

//
//  Variables
//  _____________________________________________

@product-info-price: @color-gray34;
@product-h1-margin-bottom-desktop: @indent__s + @indent__xs;
@product-price__muted__color: @color-gray40;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //  Category view
    .old-price,
    .old.price {
        .lib-css(color, @product-price__muted__color);
    }

    .prices-tier {
        .price-container {
            .price-including-tax {
                + .price-excluding-tax {
                    &:before {
                        content: '(' attr(data-label) ':';
                    }

                    &:last-child:after {
                        content: ')';
                    }
                }
            }

            .weee[data-label] {
                display: inline;

                &:before {
                    content: ' +' attr(data-label) ':';
                }
            }
        }
    }

    .actual-price {
        font-weight: @font-weight__bold;
    }

    .product.name a {
        &:extend(.abs-product-link all);
    }

    .old-price,
    .special-price {
        .price-label {
            &:extend(.abs-visually-hidden all);
        }
    }

    .category-image {
        .image {
            display: block;
            height: auto;
            max-width: 100%;
            margin: 0 auto;
        }
    }

    .category-cms,
    .category-image,
    .category-description {
        margin-bottom: @indent__base;
    }

    //
    //  Product images general container
    //  -----------------------------------------

    .product-image-container {
        display: inline-block;
        max-width: 100%;
    }

    .product-image-wrapper {
        display: block;
        height: 0;
        overflow: hidden;
        position: relative;
        z-index: 1;
    }

    .product-image-photo {
        bottom: 0;
        display: block;
        height: auto;
        left: 0;
        margin: auto;
        max-width: 100%;
        position: absolute;
        right: 0;
        top: 0;
    }

    //
    //  Product view
    //  -----------------------------------------

    .catalog-product-view {
        .breadcrumbs {
            margin: 100px 0 40px;
            padding: 0 20px;
        }

        .page-main {
            padding: 0;
        }
    }

    .product.media {
        .product.photo .photo.image {
            &:extend(.abs-adaptive-images-centered);
        }

        .placeholder .photo.container {
            max-width: 100%;
        }

        .notice {
            margin: @indent__s 0;
            .lib-css(color, @text__color__muted);
            .lib-font-size(@font-size__s);
        }

        .product.thumbs {
            margin: @indent__s 0 @indent__m;
        }

        .items.thumbs {
            .lib-list-inline();
            > li {
                margin: 1rem 0 0;
            }

            img {
                display: block;
            }

            .active {
                display: block;
                line-height: 1;
            }
        }
    }

    .product.info.detailed {
        clear: both;
        padding: 0 25px;
        margin-bottom: 30px;

        .additional-attributes {
            width: auto;
            .lib-table-bordered(
                @_table_type: clear
            );
            .lib-table-resize(
                @_th-padding-left: 0,
                @_th-padding-right: @indent__l,
                @_th-padding-bottom: @indent__s,
                @_td-padding-bottom: @indent__s
            );
        }
    }

    .product-info-main {
        .product-info-price {
            .lib-css(color, @product-info-price);
            border-bottom: 1px solid @color-gray-light5;
            display: block;
            width: 100%;

            .price-including-tax + .price-excluding-tax,
            .weee + .price-excluding-tax,
            .weee {
                .lib-font-size(14);
                .price {
                    .lib-font-size(14);
                    font-weight: @font-weight__semibold;
                    line-height: 16px;
                }
            }

            .price-wrapper .price {
                .lib-font-size(22);
                font-weight: @font-weight__semibold;
                line-height: 22px;
            }

            .old-price {
                .price-wrapper .price {
                    font-weight: @font-weight__light;
                    text-decoration: line-through;
                }
            }

            .special-price {
                .price-label {
                    &:after {
                        content: ': ';
                    }
                }
            }

            .price {
                white-space: nowrap;
            }


        }

        .product-info-stock-sku {
            display: table-cell;
            padding-bottom: @indent__s;
            padding-left: 10%;
            text-align: right;
            vertical-align: top;
        }

        .stock {
            margin: 0 0 3px;

            &.available,
            &.unavailable {
                width: 100%;
                margin: 20px 0 30px;
                font-weight: @font-weight__bold;
                text-transform: uppercase;
                background: @color-louboutin-red;
                color: @color-white;
            }
        }

        .product.attribute.sku {
            word-break: break-all;
            word-wrap: break-word;
        }

        .product {
            &.attribute {
                &.sku {
                    .type {
                        font-weight: normal;
                        margin-right: @indent__xs;

                        &:after {
                            content: '#:';
                        }
                    }

                    .value {
                        display: inline-block;
                    }
                }

                &.overview {
                    position: relative;
                    margin: 25px 0;
                    padding: 23px 50px;
                    text-align: center;
                    .lib-font-family(@font-family__base);
                    font-size: @font-size_11;
                    line-height: 1.5;
                    color: @color-warm-grey;
                    letter-spacing: 0.0225em;

                    p {
                        margin: 0;
                    }

                    &:before {
                        content: '';
                        position: absolute;
                        top: 1px;
                        left: 25px;
                        right: 25px;
                        border-bottom:  dotted 1px @color-grey-eight;
                    }
                    &:after {
                        content: '';
                        position: absolute;
                        bottom: 1px;
                        left: 25px;
                        right: 25px;
                        border-top:  dotted 1px @color-grey-eight;
                    }
                    .technical-information-link {
                        text-align: left;
                        padding: 0.5em 0 0 0;
                        a {
                            color: #ed1e24;
                        }
                    }
                }
            }

            &.alert {
                margin: @indent__s 0;
                padding: 0 25px;

                .action.alert {
                    .lib-link-as-button();
                    .lib-button-primary();
                    width: 100%;
                    box-sizing: border-box;
                    text-align: center;

                    &.no-display {
                        display: none;
                    }
                }
            }
        }

        .product-add-form {
            clear: both;
            padding: 0 25px;

            form {
                margin-top: 10px;
            }

            .size-top {
                overflow: hidden;
                margin: 0 0 30px;
                .lib-font-family(@font-family__base);
                font-size: @font-size_11;
                color: @color-louboutin-red;

                .label {
                    .lib-font-family(@font-family__base);
                    font-weight: normal;
                    font-size: @font-size_12;
                    color: @color-black-title;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                }
                .additionnal-links {
                    float: right;

                    .belt-size-guide-link:hover,
                    .bracelet-size-guide-link:hover,
                    .size-guide-link:hover,
                    .fit-suggestion-link:hover {
                        display: inline-block;
                        cursor: pointer;
                        text-decoration: underline;
                    }
                    .fit-suggestion-link {
                        margin: 0 0 0 10px;
                    }
                }
            }
        }

        .product-reviews-summary {
            float: left;
        }

        .preorder-message {
            margin: @form-field__vertical-indent 0;
            border: 1px solid @color-louboutin-red;
            text-transform: uppercase;
            padding: 11px 20px;
            color: @color-louboutin-red;
            font-size: @font-size_11;
            text-align: left;
        }

        .backinstock-info {
            text-align: center;
        }
    }

    .product-options-wrapper {
        .fieldset-product-options-inner {
            .legend {
                .lib-css(font-weight, @font-weight__semibold);
                .lib-font-size(14px);
                border: none;
                display: inline-block;
                float: none;
                margin: 0 0 8px;
                padding: 0;
            }

            //  Date & Time custom option (Affect Time that goes only after Date)
            input.datetime-picker {
                ~ select.datetime-picker {
                    margin-top: @indent__s;
                }
            }

            &.required,
            &._required {
                .legend {
                    &:after {
                        content: '*';
                        .lib-typography(
                            @_font-size: @form-field-label-asterisk__font-size,
                            @_color: @form-field-label-asterisk__color,
                            @_font-family: @form-field-label-asterisk__font-family,
                            @_font-weight: @form-field-label-asterisk__font-weight,
                            @_line-height: @form-field-label-asterisk__line-height,
                            @_font-style: @form-field-label-asterisk__font-style
                        );
                    }
                }
            }
        }

        .field {
            .note {
                display: block;
                .lib-css(margin-top, @indent__xs);
            }
        }

        .mage-error {
            text-align: center;
        }
    }

    .product-options-bottom {
        .field.qty {
            display: none;
        }
    }

    .product-options-bottom .price-box,
    .product-info-price .price-box {
        .lib-css(color, @product-info-price);
        display: inline-block;
        vertical-align: top;

        .old-price {
            font-size: 20px;
            font-weight: @font-weight__light;

            .price-container > span {
                display: inline-block;
            }
        }

        .price-container {
            .price {
                font-size: 22px;
                font-weight: @font-weight__semibold;
                line-height: 22px;
            }

            .price-including-tax + .price-excluding-tax,
            .weee + .price-excluding-tax,
            .weee {
                .lib-font-size(12);
                line-height: 14px;

                .price {
                    .lib-font-size(12);
                    font-weight: @font-weight__bold;
                }
            }
        }
    }

    .super-attribute-select {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 13px;

        li {
            display: inline-block;
            width: calc(~'20% -' 8px);
            margin: 0 8px 8px 0;
            padding: 9px 0;
            box-sizing: border-box;
            background: @color-grey-two;
            border: solid 1px @color-grey-two;
            font-size: 0.9em;
            line-height: 1;
            text-align: center;
            color: @color-warm-grey;
            cursor: pointer;
            overflow: hidden;

            &.out-of-stock {
                background: @color-white;
                border: solid 1px @color-grey-two;
                color: @color-grey;
            }
            &:hover {
                background: @color-grey-four;
                border: solid 1px @color-grey-two;
                color: @color-black;
            }
            &.selected {
                background: @color-black-two;
                border: solid 1px @color-grey-two;
                color: @color-white;
            }
            &.out-of-stock.selected,
            &.out-of-stock:hover {
                background: @color-white;
                border: solid 1px @color-louboutin-red;
                color: @color-louboutin-red;
                text-decoration: line-through;
            }
            &.in-preorder {
                position: relative;

                .lib-project-icon (
                    @_icon-font-content: @icon-project-clock,
                    @_icon-font-size: @font-size_15,
                    @_icon-font-color: #d3d3d3,
                    @_icon-font-position: after
                );

                &:after {
                    position: absolute;
                    right: -3px;
                    top: 7px;
                }
            }
        }
    }
    .product-options-wrapper .super-attribute-hidden {
        .lib-visually-hidden();
        width: auto;
    }

    .box-tocart {
        &:extend(.abs-box-tocart all);
        .field.qty {
        }

        .input-text.qty {
            &:extend(.abs-input-qty all);
        }

        .actions {
        }

        .action.tocart {
            &:extend(.abs-button-responsive all);
            vertical-align: top;

            &.no-display {
                display: none;
            }
        }
    }

    .product-addto-links {

        .action.towishlist {
            position: relative;
            width: 100%;
            padding: 10px 0;
            border-top: dotted 1px #d0d0d0;
            border-bottom: dotted 1px #d0d0d0;
            text-align: center;

            span {
                .lib-font-family(@font-family-name__frutiger);
                font-size: @font-size_13;
                color: @color-louboutin-red;
                text-transform: none;
                letter-spacing: 2px;
                font-weight: bold;
            }

            .lib-project-icon(
                @_icon-font-content: @icon-project-love-full,
                @_icon-font-size: @font-size_16,
                @_icon-font-color: @color-louboutin-red,
                @_icon-font-position: after
            );

            &:before {
                content: none;
            }
            &:after {
                position: absolute;
                bottom: -8px;
                left: 50%;
                padding: 0 8px;
                background: @color-white;
                .lib-css(transform, translateX(-50%), 1);
            }
        }
    }

    .product-social-links {
        margin: 30px 0 20px;
        padding: 0 25px;
        text-align: center;

        .action.tocompare {
            &:extend(.abs-actions-addto all);
            .lib-icon-font-symbol(
                @_icon-font-content: @icon-compare-full,
                @_icon-font-position: before
            );
        }
    }

    .catalog-product-view .product.data.items {
        border-bottom: 0;

        & > .item.title,
        & > .item.content {
            float: none;
            margin: 0;
            width: 100%;
        }

        & > .item.title {
            position: relative;
            margin: 10px 0 0;
            > .switch {
                letter-spacing: 1px;
                @media (max-width: @ipad__landscape) {
                    height: 34px;
                    line-height: 34px;
                    font-weight: @font-weight__regular;
                }
            }
            .lib-project-icon(
                @_icon-font-content: @icon-project-arrow-right,
                @_icon-font-size: @font-size_12,
                @_icon-font-color: @color-black,
                @_icon-font-position: after
            );

            &:after {
                position: absolute;
                top: 50%;
                right: 10px;
                .lib-css(transform, translateY(-50%), 1);
                z-index: 2;
            }

            &.active {
                &:after {
                    content:"\e004";
                    color:#888;
                }
                & > .switch,
                &:not(.disabled) > .switch {
                    &,
                    &:hover,
                    &:active,
                    &:focus {
                        color: @color-warm-grey;
                    }
                }
            }

            & > .switch,
            &:not(.disabled) > .switch {
                width: 100%;
                box-sizing: border-box;
                border: 0;
                .lib-font-family(@font-family__base);
                font-size: @font-size_12;
                text-transform: uppercase;

                &,
                &:hover,
                &:active,
                &:focus {
                    padding: 0 25px;
                    background: @color-grey-two;
                    color: @color-black;
                }
                &:after {
                    content: none;
                }
            }
        }

        & > .item.content {
            padding: 0 25px;
            border: 0;
            background: @color-white;

            .lib-font-family(@font-family__base);
            display: none;
            font-size: @font-size_13;
            color: @color-warm-grey;
            font-weight: @font-weight__light;
            max-height: 150px;
            overflow: auto;
            @media (max-width: @ipad__landscape) {
                background: #f6f6f6;
            }

            & > * {
                padding: 15px 0;
                @media (max-width: @ipad__landscape) {
                    padding: 12px 0;
                }
            }
            .shipping-tab{
                ul {
                    padding: 10px 0 10px 45px;
                }
            }
            ul {
                padding: 10px;
                margin-bottom: 0;
                li {
                    margin-bottom: 0;
                }
            }
            p {
                margin-bottom: 0;
                color: @color-warm-grey;
                font-weight: @font-weight__light;
                @media (max-width: @ipad__landscape) {
                    font-size: 11.9px;
                }
            }
        }
    }

    .care-link {
        margin: 0 0 25px;
        text-align: center;

        .care-link-content {

            &.default-icon {
                .lib-project-icon(
                    @_icon-font-content: @icon-project-bag,
                    @_icon-font-size: @font-size_25,
                    @_icon-font-color: @color-louboutin-red
                );

                &:before {
                    vertical-align: sub;
                    margin-right: 15px;
                }
            }

            &.shoes-icon {
                .lib-project-icon(
                    @_icon-font-content: @icon-project-shoe-right,
                    @_icon-font-size: @font-size_25,
                    @_icon-font-color: @color-louboutin-red
                );

                &:before {
                    vertical-align: sub;
                    margin-right: 15px;
                }
            }

            a {
                .lib-font-family(@font-family__base);
                font-size: @font-size_13;
                color: @color-louboutin-red;
                text-decoration: none;

                &:hover {
                    color: @color-black;
                }
            }
        }
    }
    .product-info-main .social-share .social-list {
        border-bottom: dotted 1px #cccccc;
    }
    .product-contact {
        list-style: none;
        margin: 0;
        padding: 0 25px;
        font-size: 0;
        .lib-vendor-prefix-display();
        .lib-css(justify-content, space-around, 1);

        li {
            width: 100%;
            padding: 10px 0;
            margin: 0;
            border-style: dotted;
            border-color: @color-grey;
            border-width: 1px 0;
            text-align: center;

            &.contact-us {
                a {
                    .lib-project-icon(
                        @_icon-font-content: @icon-project-phone-out,
                        @_icon-font-color: @color-grey,
                        @_icon-font-size: @font-size_15
                    );

                    &:before {
                        margin-right: 12px;
                        .lib-css(transition, color 0.3s linear, 1);
                    }
                    &:hover{
                        color: @color-black;
                    }
                    &:hover:before {
                        color: @color-green-olive;
                    }
                }
            }
            &.livechat {
                .lib-project-icon(
                    @_icon-font-content: @icon-project-speak,
                    @_icon-font-color: @color-grey,
                    @_icon-font-size: @font-size_15
                );

                &:before {
                    margin-right: 12px;
                }
            }

            a {
                display: inline-block;
                vertical-align: middle;
                .lib-font-family(@font-family__base);
                font-size: @font-size_12;
                color: @color-warm-grey;

                &:hover,
                &:focus,
                &:active {
                    text-decoration: none;
                }
            }
        }
    }

    .prices-tier {
        &:extend(.abs-reset-list all);
        margin-bottom: @indent__s + @indent__xs;

        .item {
            margin-bottom: @indent__s;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .price-excluding-tax,
        .price-including-tax {
            display: inline-block;
        }
    }

    .minimal-price-link,
    .price-excluding-tax,
    .price-including-tax {
        display: block;
        white-space: nowrap;
    }

    .ui-dialog-titlebar-close {
        .lib-button-as-link();
    }

    //
    //  Sidebar product view
    //  -----------------------------------------

    .sidebar {
        .product-items {
            .product-item {
                margin-bottom: @indent__base;
                position: relative;
            }

            .product-item-info {
                position: relative;
                width: auto;

                .product-item-photo {
                    left: 0;
                    position: absolute;
                    top: 0;
                }
            }

            .product-item-name {
                margin-top: 0;
            }

            .product-item-details {
                margin: 0 0 0 85px;
            }

            .product-item-actions {
                display: block;
                margin-top: @indent__s;
            }

            .price-box {
                display: block;
                margin: 7px 0;
            }

            .text {
                margin-right: 8px;
            }

            .counter {
                .lib-css(color, @primary__color__lighter);
                font-size: 12px;
                white-space: nowrap;
            }

            .minilist {
                .price {
                    display: inline;
                    padding: 0;
                }

                .weee:before {
                    display: inline-block;
                }
            }

            .action {
                &.delete {
                    &:extend(.abs-remove-button-for-blocks all);
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }
        }

        .action.tocart {
            border-radius: 0;
        }

        .subtitle {
            &:extend(.abs-no-display all);
        }

        //
        //  Product images only
        //  -------------------------------------

        .product-items-images {
            &:extend(.abs-add-clearfix all);
            margin-left: -@indent__xs;

            .product-item {
                &:extend(.abs-add-box-sizing all);
                float: left;
                padding-left: @indent__xs;
            }
        }

        //
        //  Product names only
        //  -------------------------------------

        .product-items-names {
            .product-item {
                margin-bottom: @indent__s;
            }

            .product-item-name {
                margin: 0;
            }
        }
    }

    .catalog-product-view {
        .page-title {
            .lib-font-family(@font-family-name__frutiger);
            font-weight: @font-weight__roman;
            color: @color-black;
            font-size: @font-size_18;
            text-transform: none;
            text-align: center;

            .heel-height {
                display: none;
            }
        }

        .page.messages {
            box-sizing: border-box;
            margin: 0 auto 30px;
        }
    }
    .product-info-main {
        .product-info-price {
            display: block;
            width: 100%;
            margin: 10px 0 0;
            border: 0;
            text-align: center;

            .price-box {
                display: inline-block;
                width: auto;
                vertical-align: middle;

                .price-container .price {
                    .lib-font-family(@font-family-name__frutiger);
                    font-weight: @font-weight__light;
                    font-size: @font-size_22;
                    line-height: 1;
                    color: @color-black-title;
                }
            }
            .price-jp-specific {
                display: inline-block;
                margin-left: 10px;
                vertical-align: middle;
                .lib-font-family(@font-family-name__frutiger);
                font-weight: @font-weight__light;
                font-size: @font-size_18;
                line-height: 1;
                color: @color-black-title;
            }
            .price-hk-specific {
                margin-top: 10px;
                .lib-font-family(@font-family-name__frutiger);
                font-weight: @font-weight__light;
                font-size: @font-size_11;
                line-height: 1.4;
                color: @color-dark-grey;
            }
        }
    }
    .product-info-main {
        .product-info-price {
            .relatedlink {
                font-size: @font-size_14;
                color: @color-louboutin-red;
                .lib-css(transition, all 0.6s ease, 1);
                .lib-project-icon(@icon-project-watch,@_icon-font-size: @font-size_26,@_icon-font-color: @color-louboutin-red);
                font-weight: normal;
                z-index: 9;
                line-height: 1.4;
                overflow: hidden;
                font-style: normal;
                &:before {
                    margin-right: 7px;
                    top: 4px;
                    vertical-align: sub;
                }
                &:hover {
                    color: @color-black_dark;
                    &:before {color: @color-black_dark;}
                }
            }

            .relatedlinklips, .relatedlinkeyes, .relatedlinknails {
                font-size: @font-size_14;
                color: @color-louboutin-red;
                .lib-css(transition, all 0.6s ease, 1);
                font-weight: normal;
                z-index: 9;
                line-height: 1.4;
                overflow: hidden;
                font-style: normal;
                &:before {
                    margin-right: 7px;
                    top: 4px;
                    vertical-align: sub;
                }
                &:hover {
                    color: @color-black_dark;
                    &:before {color: @color-black_dark;}
                }
            }

            .relatedlinklips{
                .lib-project-icon(@icon-project-lips-small,@_icon-font-size: @font-size_26,@_icon-font-color: @color-louboutin-red);
            }
            .relatedlinkeyes{
                .lib-project-icon(@icon-project-eyes-small,@_icon-font-size: @font-size_26,@_icon-font-color: @color-louboutin-red);
            }
            .relatedlinknails{
                .lib-project-icon(@icon-project-nails-small,@_icon-font-size: @font-size_26,@_icon-font-color: @color-louboutin-red);
            }

        }
    }


    .catalog-product-view .product-info-main .block.upsell {
        max-width: @upsell-product-max-width;
        margin: 0 auto;
        padding: 0 25px;
        border-top : 1px solid #f0f1f1;

        .block-title {
            margin-top: 4px;

            strong {
                .lib-font-family(@font-family-name__frutiger);
                font-weight: @font-weight__light;
                font-size: @font-size_18;
                color: @color-black;
            }
        }
        .product-items > .product-item {
            width: percentage(1/2);

            .product-item-name {
                padding-top: 5px;
                .lib-font-family(@font-family-name__frutiger);
                font-weight: @font-weight__roman;
                line-height: @font-size_21;
                font-size: @font-size_19;
                color: @color-black;
            }
            .heel-height-or-material {
                display: block;
                padding: 5px 0 20px;
                .lib-font-family(@font-family-name__frutiger);
                font-weight: @font-weight__roman;
                font-size: @font-size_13;
                line-height: 1.8em;
                color: @color-warm-grey;

                &:hover,
                &:active,
                &:focus {
                    text-decoration: none;
                }
            }
        }
    }

    .product-info-main{
        &.beauty-parfumes {
            .product{
                &.overview {
                    padding: 2em 1.5em 0.5em 1em !important;
                    &:after {
                        border-top:  none !important;
                    }
                }
            }
            .beauty-parfumes-addtocart-preorder {
                margin: 4.8em auto auto auto;
            }
            .beauty-parfumes {
                margin: 3em auto auto auto;
                width: 100%;
            }
        }
    }
    .catalog-product-view {
        .fotorama__wrap--css3 .fotorama__nav {
            height: auto !important;
        }
        .fotorama-item .fotorama__nav--thumbs .fotorama__nav__frame {
            height: 93px;
            position: relative;
            .fotorama__thumb {
                position: static;
                &.fotorama__loaded , &.fotorama__error {
                    .fotorama__img {
                        position: absolute;
                        width: auto;
                        height: auto;
                        max-width: 100%;
                        left: 0;
                        right: 0;
                        margin: auto;
                        bottom: 0;
                        top: 0;
                    }
                }
            }
        }
    }
    .catalog-product-view {
        .product-info-main .block.related .block-content {
            .products-grid {
                overflow: hidden;
            }
            .product-item {
                width: 80px;
                margin: 0 15px 0 0;
                display: block;
                float: left;
                .product-item-info {
                    height: auto;
                    margin: 0;
                    img {
                        width: auto;
                        height: auto;
                    }
                }
            }
        }
    }

    .catalog-category-view {
         .category-view {
            padding: 0 20px;
            margin-bottom: 40px;
             .section-header  {
                display: table;
                width: 100%;
                background: url('@{baseDir}images/border.png') no-repeat top left/100% 100% #FAFAFA;
                .category-image {
                    width: 50%;
                    height: 31.4vw;
                    display: table-cell;
                    vertical-align: middle;
                    .image {
                        display: block;
                        height: auto;
                        max-width: 100%;
                        margin: 0 auto;
                        width: 69%;
                    }
                }
                .right-infos {
                    width: 50%;
                    height: 31.4vw;
                    display: table-cell;
                    vertical-align: middle;
                    .lib-font-family(@font-family-name__freightdispLight);
                    .categ-name {
                        font-size: 45px;
                        line-height: 50px;
                        letter-spacing: 1.5px;
                        margin: 0 0 30px;
                        color: black;
                        font-weight: 600;
                    }
                    .category-description {
                        font-size: 15px;
                        letter-spacing: 0.5px;
                        line-height: 25px;
                        margin: 0;
                        width: 82%;
                        color: black;
                    }
                }
            }
        }
        .category-image .image {
            width: 100%;
            max-width: 100%;
            object-fit: cover;
        }
    }
}

//
//  Mobile @screen__m
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .catalog-product-view {
        .column.main {
            .lib-vendor-prefix-display(flex);
            .lib-vendor-prefix-flex-direction(column);
        }

        .product.media {
            .lib-vendor-prefix-order(-1);
        }
    }
}

//
//  Mobile @screen__s
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .product-social-links {
        .action.tocompare {
            display: none;
        }
    }

    .product.info.detailed {
        .additional-attributes-wrapper {
            &:extend(.abs-no-border-top all);
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .catalog-product-view {
        .page-title-wrapper {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: calc(~'100% - 40px');
            max-width: 1753px;
            margin: 0 auto;
            box-sizing: border-box;

            .page-title {
                position: relative;
                bottom: -1px;
                z-index: 2;
                display: inline-block;
                padding-right: 10px;
                background: @color-white;

                .h1 {
                    display: inline-block;
                    margin: 0;
                    .lib-font-family(@font-family__base);
                    font-weight: @font-weight__bold;
                    font-size: @font-size_28;
                    color: @color-black;
                    text-align: left;
                    text-transform: none;
                    letter-spacing: 0;
                }
                .heel-height {
                    display: inline-block;
                }
            }

            &:after {
                content: '';
                position: absolute;
                bottom: 5px;
                left: 0;
                z-index: 1;
                width: 100%;
                border-bottom: solid 1px #eff1f1;
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .catalog-product-view {
        .columns {
            position: relative;
        }
        .column.main {
            max-width: @product-main-max-width-desktop;
            margin: 0 auto;
            padding: 40px 10px 0;
        }

        .breadcrumbs {
            max-width: 100%;
            box-sizing: border-box;
            margin: 40px auto 10px auto;
            padding-left: 100px;
        }
    }
    .product-info-main {
        .product-info-price {
            text-align: left;
        }
        .product.attribute {
            &.overview {
                padding: 25px 20px;

                &:before,
                &:after {
                    left: 0;
                    right: 0;
                }
            }
        }
        .product-add-form {
            padding: 0;
        }
        .product.alert {
            padding: 0;
        }
    }

    .box-tocart {
        .action.tocart {
            margin-bottom: 0;
            width: 100%;
        }
    }

    .product-social-links {
        padding: 0;
        text-align: left;
    }

    .product.info.detailed {
        margin: 0 0 25px;
        padding: 0;
    }

    .product-contact {
        padding: 0;
    }



    .product-options-bottom,
    .product-info-price {
        .price-box {
            .price-container {
                font-size: @font-size__xl;
                line-height: 1;

                .price {
                    font-size: 36px;
                    line-height: 36px;
                }
            }

            .price-including-tax + .price-excluding-tax {
                .price {
                    .lib-font-size(14);
                    line-height: 16px;
                }
            }
        }
    }

    //
    //  Category page layout
    //  -----------------------------------------

    .product-info-main {
        float: right;
    }

    .product.media {
        float: left;
        margin-bottom: @indent__m;
    }

    .page-layout-1column {
        .product-info-main {
            width: 39%;
            margin-top: 24px;
        }

        .product.media {
            width: 58%;
            margin-top: 24px;
        }
    }

    .page-layout-2columns-left,
    .page-layout-2columns-right,
    .page-layout-3columns {
        .product-info-main {
            width: 48%;
        }

        .product.media {
            width: 50%;
        }
    }

    .sidebar {
        .product-items {
            .product-item-info {
                .product-item-photo {
                    float: left;
                    left: auto;
                    margin: 0 @indent__s @indent__s 0;
                    position: relative;
                    top: auto;
                }
            }

            .product-item-details {
                margin: 0;
            }

            .product-item-actions {
                clear: left;
            }
        }
    }

    .catalog-product-view .block.upsell {
        margin: 50px 0 0;
        padding: 25px 0 0;
        border-top: solid 1px @color-grey-border;
        .title strong {
            font-weight: lighter;
            font-size: 19.5px;
            color: @color-black-title;
        }
        .product-items > .product-item {
            width: 25%;
            margin-bottom: 0;
            .product-item-name {
                font-weight: normal;
                color: #222;
                font-size: 15px;
            }
            .product-item-info {
                margin: 0 30px;
                img {
                    height: auto;
                }
            }
            .product-item-details {
                margin: 0;
            }
        }
    }

    .page-main .block.related {
        padding: 0;
        margin-bottom: 25px;
    }
}

//
//  Desktop large
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .sidebar {
        .product-items {
            .product-item-info {
                .product-item-photo {
                    float: none;
                    left: 0;
                    margin: 0;
                    position: absolute;
                    top: 0;
                }
            }

            .product-item-details {
                margin-left: 85px;
            }
        }
    }
}

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Compare Products Page
    //  -----------------------------------------

    body.catalog-product-compare-index {
        .action.print {
            float: right;
            margin: 15px 0;
        }
    }

    .table-wrapper.comparison {
        clear: both;
        max-width: 100%;
        overflow-x: auto;
        position: relative; // Needed for Safari(iOS) to properly render "overflow-x" rule.

        .table-comparison > tbody > tr {
            > th,
            > td {
                border-top: 0;
            }
        }
    }

    .table-comparison {
        table-layout: fixed;

        .cell {
            padding: 15px;
            width: 180px;

            &.label {
                border-right: @table__border-width @table__border-style @table__border-color;

                &.remove,
                &.product {
                    span {
                        &:extend(.abs-visually-hidden all);
                    }
                }

                .attribute.label {
                    display: block;
                    width: 100%;
                    word-wrap: break-word;
                }
            }

            &.product {
                &.info,
                &.label {
                    border-bottom: @table__border-width @table__border-style @table__border-color;
                }
            }

            &.attribute {
                .lib-font-size(13);

                img {
                    height: auto;
                    max-width: 100%;
                }
            }

            &.remove {
                padding-bottom: 0;
                padding-top: 0;
                text-align: right;

                .action.delete {
                    &:extend(.abs-remove-button-for-blocks all);
                    margin-right: .6rem;
                }
            }

            .attribute.value {
                overflow: hidden;
                width: 100%;
            }
        }

        td {
            &:last-child {
                border-right: @table__border-width @table__border-style @table__border-color;
            }
        }

        .product-item-photo {
            display: block;
            margin: 0 auto 15px;
        }

        .product-image-photo {
            margin-left: 0;
        }

        .product-item-actions,
        .price-box,
        .product.rating,
        .product-item-name {
            display: block;
            margin: 15px 0;
        }

        .product-addto-links {
            margin-top: 15px;

            .action {
                &.toggle {
                    padding: 0;
                }

                &.split,
                &.toggle {
                    .lib-button-s();
                }
            }
        }

        .action {
            &.tocart {
                white-space: nowrap;
            }
        }
    }

    .comparison.headings {
        .lib-css(background, @color-white);
        left: 0;
        position: absolute;
        top: 0;
        width: auto;
        z-index: 2;
    }

    .block-compare {
        .block-title {
            &:extend(.abs-block-widget-title all);
        }

        .product-item .product-item-name {
            margin-left: 22px;
        }

        .action.delete {
            &:extend(.abs-remove-button-for-blocks all);
            left: 0;
            position: absolute;
            top: 0;
        }

        .counter {
            &:extend(.abs-block-items-counter all);
        }

        .actions-toolbar {
            margin: 17px 0 0;
        }

        .action.primary {
            &:extend(.abs-revert-to-action-secondary all);
        }
    }

    .block.related {
        padding: 0 25px;
        margin-bottom: 25px;

        .block-title strong {
            .lib-font-family(@font-family__base);
            font-size: @font-size_12;
            color: @color-black-title;
            text-transform: uppercase;
            font-weight: normal;
            letter-spacing: 1px;
        }
        .block-content {
            font-size: 0;

            .product-item {
                width: percentage(1/4);
                margin: 0;
            }
        }

        .action.select {
            &:extend(.abs-action-button-as-link all);
            vertical-align: top;
        }

        .product-item-details {
            position: relative;
            z-index: 1;
        }

        .related-available .product-item-name {
            margin-left: 20px;
        }

        .field.choice {
            left: 0;
            position: absolute;
            top: 2px;

            .label {
                &:extend(.abs-visually-hidden all);
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .table-wrapper.comparison {
        .table-comparison > tbody > tr {
            > th,
            > td {
                display: table-cell;
                &:extend(.abs-col-no-prefix all);
            }
        }
    }
    .catalog-product-view {
        .product-info-main {
            .product-options-wrapper {
                .additionnal-links {
                    span {
                        display: block;
                        text-align: right;
                    }
                }
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .compare.wrapper,
    [class*='block-compare'] {
        display: none;
    }
    .catalog-product-view {
        .product-info-main {
            .block.related {
                padding: 0;
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .compare.wrapper {
        float: right;
        .lib-list-reset-styles();

        .action.compare {
            line-height: @form-element-input__height;
            .lib-link(
                @_link-color: @primary__color,
                @_link-text-decoration: none,
                @_link-color-visited: @primary__color,
                @_link-text-decoration-visited: none,
                @_link-color-hover: @primary__color,
                @_link-text-decoration-hover: underline,
                @_link-color-active: @primary__color,
                @_link-text-decoration-active: underline
            );
        }

        .counter.qty {
            .lib-css(color, @primary__color__lighter);

            &:before {
                content: '(';
            }

            &:after {
                content: ')';
            }
        }
    }
}


//
//  Desktop large
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .catalog-product-view .block.upsell .product-items > .product-item {
        width: 25%;
        .heel-height-or-material,.material-color {
            padding: 5px 0 20px;
        }
    }
    .box-tocart {
        .paypal:first-of-type {
            margin-top: 13px;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__lxl) {
    .catalog-product-view {
        .column.main {
            max-width: @product-main-max-width-desktop;
            margin: 0 auto;
            padding: 60px 0 0;
        }
    }

    .super-attribute-select {
        margin-right: -8px;

        li {
            width: calc(percentage(1/8)~' -' 8px);
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .catalog-product-view {
        .product-info-main {
            .product-info-price {
                overflow: hidden;
                .price-box {
                    float: left;
                    padding-top: 5px;
                }
                .relatedlink,
                .relatedlinklips,
                .relatedlinkeyes,
                .relatedlinknails{
                    float: right;
                    &:before {
                        vertical-align: bottom;
                    }
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .catalog-product-view .product-info-main .product-info-price .price-box {
        display: block;
    }
}
.catalog-product-view {
    .page-title-wrapper {
        left: 40px;
        right: 40px;
        width: auto;
        max-width: 100%;
    }
}
@media (max-width: @ipad__landscape) {
    .catalog-product-view {
        .page-title-wrapper {
            margin: 64px 0 0;
        }
        .page-title {
            h1 {
                font-size: 18px;
                margin-bottom: 8px;
                font-weight: 500;
                text-transform: capitalize;
            }
        }
        &.page-layout-1column .columns .product-info-main {
            padding: 0 24px;
            .product-info-price .price-box {
                padding-top: 0;
            }
            .price-container .price {
                 font-size: 18px;
             }
        }
    }
}

@media (max-width: @mobile__screen) {
    .catalog-category-view {
        .category-image {
            margin-top: -40px;
            margin-bottom: 0;
        }
        .category-view {
            padding: 0;
            .section-header {
                display: block;
                width: auto;
                .category-image,.right-infos {
                    display: block;
                    width: auto;
                    height: auto;
                    padding: 20px;
                }
                .category-image {
                    padding-top: 40px;
                    .image {
                        width: 100%;
                    }
                }
                .right-infos {
                    text-align: center;
                    padding-bottom: 40px;
                    .category-description {
                        width: auto;
                        font-size: 15px;
                        letter-spacing: 0.5px;
                        line-height: 20px;
                    }
                    .categ-name {
                        font-size: 30px;
                        line-height: 40px;
                        letter-spacing: 1px;
                        margin: 0 0 10px;
                    }
                }
            }
        }
    }

}
