// This file overrides the lib standard file

//  # Documentation
//  This file was created for documentation generation. It contains includes of all documentation files.

body {
    padding: 15px;
    background-image: none;
}