<?php
/**
 * @var $block \Project\Core\Block\Widget\Video
 */
?>
<?php $videoUrl = $block->getData('video_url'); ?>
<?php $videoPlaceholderText = $block->getData('video_placeholder_text'); ?>
<?php $videoPlayOnce = $block->getData('video_play_once'); ?>
<?php $videoPlayOnScroll = $block->getData('video_play_on_scroll'); ?>

<?php if ($videoUrl): ?>
    <?php if (\strpos($videoUrl, '.mp4')): ?>
        <video src="<?php echo $videoUrl; ?>"
               <?php if (!$videoPlayOnce): ?>loop<?php endif; ?>
               class="<?php if ($videoPlayOnScroll): ?>playOnScroll<?php endif; ?>"
               crossOrigin="anonymous"
               muted="muted">
            <?php ($videoPlaceholderText) ? $videoPlaceholderText : ''; ?>
        </video>
    <?php else:
        $url = $block->retrieveVideoUrl($videoUrl);
        if ($url) : ?>
            <video src="<?php echo $url; ?>"
                   <?php if (!$videoPlayOnce): ?>loop<?php endif; ?>
                   class="<?php if ($videoPlayOnScroll): ?>playOnScroll<?php endif; ?>"
                   crossOrigin="anonymous"
                   muted="muted">
                <?php ($videoPlaceholderText) ? $videoPlaceholderText : ''; ?>
            </video>
        <?php else: ?>
            <p><?php echo $block->__('Unsupported video format'); ?></p>
        <?php endif; ?>
    <?php endif; ?>
<?php endif; ?>
