@selectboxit__height: 40px;
@selectboxit__border-width: 1px;
@selectboxit__disabled__color: #99acb9;
@selectboxit__disabled__border: #c9d3da;

& when (@media-common = true) {

    span.selectboxit-container {
        position: relative;
        display: inline-block;
        width: 100%;
        height: @selectboxit__height;
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        vertical-align: middle;
        font-size: 0;
        box-sizing: border-box;
        border-radius: 1px;
        color: @primary__color;
        cursor: pointer;
    }

    .selectboxit-container {
        .selectboxit {
            display: inline-block;
            width: 100%;
            height: @selectboxit__height - 2 * @selectboxit__border-width;
            border: @selectboxit__border-width solid @primary__color;

            .lib-icon-font(
                @_icon-font-content: @icon-down,
                @_icon-font-color: @primary__color,
                @_icon-font-size: 12px,
                @_icon-font-position: after,
                @_icon-font-display: block
            );

            &:after {
                position: absolute;
                right: 5px;
                line-height: 1;
                top: 50%;
                .lib-css(transform, translateY(-50%), 1);
            }

            &.selectboxit-open {
                &:after {
                    .lib-css(transform, translateY(-50%) rotate(180deg), 1);
                }
            }

            &.selectboxit-disabled {
                border-color: @selectboxit__disabled__border;
                &:after {
                    color: @selectboxit__disabled__color;
                }
                .selectboxit-text {
                    color: @selectboxit__disabled__color;
                }
            }
        }
        .selectboxit-text {
            display: inline-block;
            width: 100%;
            height: 100%;
            padding: 5px 40px 5px 10px;
            box-sizing: border-box;
            font-size: 11px;
            line-height: 2.5;
            user-select: none;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }

    .selectboxit-options {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        max-height: 255px;
        margin: 0;
        padding: 0;
        border: solid @selectboxit__border-width @primary__color;
        overflow: auto;
        z-index: 2;
        list-style: none;
        font-size: 11px;
        line-height: 1;
        background: @color-white;
        > li {
            a {
                text-decoration: none;
            }
        }
    }

    .selectboxit-option {
        width: 100%;
        padding: 5px 10px;
        box-sizing: border-box;
        margin: 0 0 5px;
        &:last-child {
            margin: 0;
        }
    }

    .selectboxit-option.selectboxit-focus {
        background: @color-gray90;
    }
}