//
//  Common
//  _____________________________________________

& when (@media-common = true) {

  .cms-news {
    #maincontent {
      padding: 0;
    }

      &.page-layout-article {
          .social-btns {
              a:hover {
                  -webkit-transform: none;
                  -moz-transform: none;
                  -ms-transform: none;
                  transform: none;
                  border: 1px solid #000;
              }
          }
          .blog {
              margin-top: 45px;
          }
          .block-static-block {
              .top-bar {
                  .left.show {
                      #blog-title {
                          a {
                              border-bottom: 2px solid #222;
                              color: #222;
                          }
                      }
                  }
              }
          }
      }
  }

  .blog-article {
    padding: 0;
    margin-bottom: 0;

    .first-half-article {
      padding: 0 25px 10px;

      .date-article {
        p {
          display: inline-block;
          padding-bottom: 10px;
          padding-top: 15px;
          margin-bottom: 25px;
          text-align: center;
          font-size: @font-size_11;
          letter-spacing: 1px;
          color: @color-louboutin-red;
          border-bottom: 2px solid;
          font-weight: 100;
        }
      }

      .title-article {
        text-align: center;

        a {
          margin-top: 0;
          font-size: @font-size_28;
          letter-spacing: 3px;
          color: @color-black-title;
          font-weight: @font-weight__xlight;

          &:hover {
            text-decoration: none;
          }
        }
      }

      .read-more-article {
        display: none;
      }
    }


    .second-half-article {
      padding: 0;

      .image-background {
        .lib-css(background-size, cover, 1);
        background-position: center center;
        height: 250px;
        margin: 0 25px;
          position: relative;

        a {
          position: absolute;
          height: 250px;

          .lib-css(display, flex, 1);
          width: 100%;
        }

        img {
          width: 100%;
          visibility: hidden;

          &.hidden {
            display: none!important; // override JS
          }
        }
      }
    }
  }
}

//
//  PAD : 768px
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = 769px) {
  .blog-article {
    padding: 0 25px;
    .lib-vendor-prefix-display();
    .lib-css(flex-flow, column, 1);

    .first-half-article {
      .lib-css(order, 2, 1);
    }

    .second-half-article {
      padding: 0 25px;
      .lib-css(order, 1, 1);

      .image-background {
        margin: 0;
      }
    }
  }
}


//
// Desktop : 1024px
// ______________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {

  .cms-news {

    .block {
      max-width: 100%;
      margin-bottom: 0;
    }

    .columns {
      max-width: 100%;
    }
  }

  .blog-article {
    display: block;
    padding: 0;
    height: 350px;
    overflow: hidden;
    border-top: 1px solid @color-grey-two;
    margin-bottom: 0;

    .first-half-article {
      width: 50%;
      float: right;
      padding: 80px 40px;
      box-sizing: border-box;
      .lib-css(box-sizing, border-box, 1);
      &:after {
        display: table;
        content: '';
        clear: both;
      }
      .title-article {
        a {
          display: inline-block;
          text-align: left;
          width: 100%;
        }
      }
      .read-more-article {
        display: block;
        margin-top: 1.83em;
        a {
          color: @color-warm-grey;
          font-weight: @font-weight__xlight;
          &:hover {
            color: @color-warm-grey;
            text-decoration: none;
          }
        }
      }
      .data-article {
        p {
          padding-top: 0;
        }
      }
    }

    .second-half-article {
      width: 50%;
      float: left;
      height: 100%;
      padding: 0 20px 0 0;
      box-sizing: border-box;
      &:after {
        display: table;
        content: '';
        clear: both;
      }

      .image-background {
        height: 350px;

        a {
          height: 350px;
        }

        .hidden {
          display: none;
        }
      }
    }

    .read-more-article {
      display: block;
    }
  }
}


//
// Ipad & Mobile : max 1024px
// ______________________________________________


@media (max-width: @ipad__landscape) {
    .cms-page-view {
        &.page-layout-article {
            .social-btns {
                .icons {
                    display: none;
                }
            }
            .blog-article {
                margin: 0.83em 0;
                padding: 0 25px;
                .first-half-article .date-article p {
                    padding-top: 0;
                }
            }
            .page-main .block-static-block .top-bar {
                padding-bottom: 20px;
            }
        }
    }
}
@media (max-width: @screen__xs) {
    .cms-page-view {
        &.page-layout-article {
            .page-main .block-static-block .top-bar ul.left {
                margin-right: 0;
            }
            iframe {
                width: 100% !important;
            }
        }
    }
}
