& when (@media-common = true) {
    .easycms-block {
        &.image-single-product-left,
        &.image-single-product-right,
        &.link-category,
        &.simple-image,
        &.title-image,
        &.title-subtitle-slider,
        &.title-text {
            padding: 0 20px;
            margin: 0 auto 78px;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .easycms-block {
        &.image-single-product-left,
        &.image-single-product-right,
        &.link-category,
        &.simple-image,
        &.title-image,
        &.title-subtitle-slider,
        &.title-text {
            padding: 0 52px;
            max-width: 920px;
        }
    }
}