//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .easycms-block.images-products {
        text-align: center;
        clear: both;
        display: inline-block;

        .image-background {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: left bottom;
        }

        .image-first,
        .image-second {
            position: relative;
            display: inline-block;
            margin: 0 30px;
        }

        .image-first {
            padding: 0;

            .title {
                top: 0;
            }

            img {
                margin: 0!important; //override JS
            }
        }

        .image-second {
            padding: 0;

            .title {
                top: auto;
                bottom: -18px;
                left: auto;
                right: -20px;
            }

            img {
                margin: 0;
                max-width: 100%;
            }
        }

        .title {
            position: absolute;
            padding: 15px 20px;
            background: @color-white;
            margin: 0;
            .lib-font-family(@f-gill);
            font-weight: @font-weight__light;
            font-size: @font-size_24;
            letter-spacing: 1.1px;
            color: @color-warm-grey;
            line-height: 1;
            display: block;
            .lib-css(transition, opacity .2s, 1);

            &:after {
                display: inline-block;
                width: 100%;
                content: '';
                height: 3px;
                background-color: @color-black;
                bottom: 10px;
                left: 0;
                position: relative;
            }


            span {
                display: inline-block;
                padding: 0 0 6px;
            }
        }

        a {
            &:hover {
                .title {
                    span {
                        opacity: .8;
                    }
                }
            }
        }

        .products {
            .block-products-list {
                .block-title {
                    display: none;
                }
            }

        }

        .product-items > .product-item .product-item-name a {
            font-size: @font-size_13;
            color: @color-warm-grey;
        }

        &.images-products-left {
            .image-first {
                text-align: left;

                .title {
                    top: inherit;
                }

                img {
                    margin: 0;
                }
            }

            .image-second {
                text-align: right;
            }
        }

        .scroll-visible{
            background-repeat: no-repeat;
            a {
                height: auto;
                display: block;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__smallxs) {
    .easycms-block.images-products {

        .title {
            font-size: @font-size_12;

            span {
                font-size: @font-size_12;
            }

            &:after {
                bottom: 3px;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .easycms-block.images-products {

        &.images-products-right {
            .image-second {
                bottom: -45px;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .easycms-block.images-products {

        &.images-products-left {
            .image-first {
                margin: 0 20px 0 0;
                width: 67.5%;
            }
        }

        &.images-products-right {
            .image-first {
                margin: 20px 20px 40px 70px;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
    .easycms-block.images-products {

        &.images-products-left {

            .products {
                clear: both;
                padding-top: 40px;
                display: block;
            }

            .image-first {

                img {
                    margin: 0;
                }

                float: right;
                text-align: right;

                .title {
                    bottom: -45px;
                    left: 0;
                    right: inherit;
                    top: inherit;
                }
            }
            .image-second {
                float: left;
                margin-bottom: 40px;

                .title {
                    bottom: -45px;
                    left: 0;
                    top: inherit;
                    right: inherit;
                }
            }
        }
        &.images-products-right {

            .products {
                clear: both;
                padding-top: 80px;
                display: block;
            }

            .image-second {
                float: left;
                width: 67.5%;
                margin-left: 20px;
                max-width: 500px;

                .title {
                    bottom: -45px;
                    right: 0;
                    left: inherit;
                }

                img {
                    visibility: hidden;
                }
            }

            .image-first {
                float: none;
                margin: 20px 20px 40px 70px;
                max-width: 500px;

                .title {
                    top: -35px;
                    left: 0;
                }

                img {
                    visibility: hidden;
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    body:not(.cms-home) {
        .easycms-block.images-products {
            margin-top: 40px;
        }
    }

    .easycms-block.images-products {
        width: 1024px;
        display: block;
        margin: 0 auto 80px;
        box-sizing: border-box;

        .products {
            .products-grid {
                margin: 0;
            }
        }

        &.images-products-right {
            .image-first {
                height: 340px;
                img {
                    visibility: hidden;
                }
                .title {
                    padding: 19px 25px;
                    top: -20px;
                    left: -50px;
                }
            }

            .image-second {
                height: 390px;
                img {
                    visibility: hidden;
                }
                .title {
                    padding: 20px 20px 20px 40px;
                    bottom: -18px;
                    right: -20px;
                }
            }
        }

        &.images-products-left {
            .image-second {
                height: 390px;
                img {
                    visibility: hidden;
                }
            }

            .image-first {
                height: 420px;
                img {
                    visibility: hidden;
                }

                .title {
                    top: auto;
                    bottom: -68px;
                    left: -20px;
                    right: auto;
                }
            }
        }

        .image-first,
        .products {
            float: right;
            margin: 0;
        }

        .image-second {
            float: left;
            width: calc(~"40% - 20px");
            text-align: left;
            padding: 0 20px 20px 0;
        }

        .title {
            font-size: @font-size_24;
            padding: 25px 20px;

            html[lang=ja] & {
                font-size: @font-size_20;
            }
        }

        .images-products-left {
            .products {
                margin-top: -270px;
            }
        }

        &.images-products-right {
            .products {
                margin-top: -220px;
                img {
                    height: auto;
                }
            }
        }

        .products {
            clear: both;
            margin: -195px 0 70px 0;
            img {
                height: auto;
            }

            .block-products-list {

                &.block.widget {
                    .products-grid {
                        .product-item {
                            .page-layout-1column & {
                                width: 46%;
                                margin: 0 2%;
                            }
                        }
                    }
                }
            }
        }

        &.images-products-left {
            .image-second {
                float: right;
                padding-right: 0;
            }

            .image-first,
            .products {
                float: left;
            }

            .image-first {
                .title {
                    padding-left: 0;
                }

                img {
                    margin: 0 10% 0 0;
                }
            }

            .products {
                clear: both;

                .block-products-list {
                    margin: 0 10% 0 0;
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .easycms-block.images-products {
        .image-first,
        .products {
            width: calc(~'60% - 40px');
        }

        .image-second {
            width: calc(~'40% - 40px');
            margin: 185px 0 50px 0;
            padding: 0 0 20px;
        }

        &.images-products-left {
            .image-second {
                margin: 185px 0 50px 0;
                text-align: right;
            }
        }
    }
}
