//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .easycms-block.image-single-product-left,
    .easycms-block.image-single-product-right {
            .block-products-list {
                padding: 0;
                margin-top: 70px;

                ol {
                    width: 100%;
                    margin-left: 0;

                    .product-item {
                        width: 100%;
                        padding-left: 0;

                        .product-item-info {
                            text-align: center;

                            .product-item-link {
                                display: block;
                                font-size: @font-size_13;
                                .lib-font-family(@f-avenir);
                                color: @color-black-title;
                                letter-spacing: 1px;
                                max-width: 200px;
                                margin: 40px auto 4px;
                                line-height: 25px;
                                .lib-css(transition, all .6, 1);
                                font-weight: @font-weight__regular;
                                padding-bottom: 0;
                            }

                            .product-item-photo {
                                display: block;
                                position: relative;

                                &:after {
                                    opacity: 0;
                                    content: '';
                                    position: absolute;
                                    top: 100%;
                                    left: 0;
                                    right: 0;
                                    margin: 0 auto;
                                    height: 12px;
                                    width: 150px;
                                    .lib-css(background, radial-gradient(ellipse at center, rgba(0, 0, 0, .2) 0%, rgba(0, 0, 0, 0) 75%), 1);
                                    .lib-css(transition, all .6s, 1);
                                    z-index: 10;
                                }

                                img.photo {
                                    max-width: 150px;
                                    max-width: 150px;
                                    -moz-transition: opacity 0.2s;
                                    -o-transition: opacity 0.2s;
                                    -webkit-transition: opacity 0.2s;
                                    transition: opacity 0.2s;
                                    height: auto;
                                }
                            }

                            &:hover {
                                .product-item-photo {

                                    img.photo {
                                        opacity: 0.8;
                                    }
                                }

                                .product-item-link {
                                    color: #ec1616;
                                    text-decoration: none;
                                    .lib-css(transition, all .6s, 1);
                                }
                            }
                        }
                    }
                }
            }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    .easycms-block.image-single-product-left,
    .easycms-block.image-single-product-right {
        display: table;
        box-sizing: border-box;
        width: 100%;
        max-width: @content-width;

        > div {
            display: table-cell;
            vertical-align: middle;
        }

        .block-products-list {
            padding: 0 30px 0 0;
            box-sizing: border-box;
        }
    }

    .easycms-block.image-single-product-left {
        .lib-css(display, flex, 1);

        .image-single-product-left-image {
            .lib-css(order, 1, 1);
        }

        .block-products-list {
            .lib-css(order, 0, 1);
            float: left;
            margin: 19.5% auto;
        }
    }

    .easycms-block.image-single-product-right {
        .block-products-list {
            padding: 0 0 0 30px;
        }
    }

    .image-single-product-left-image,
    .image-single-product-right-image {
        width: 527px;

        a, img {
            width: 100%;
        }
    }

    .image-single-product-left-image {
      float: right;
    }
}
