.catalog-category-view.page-products {
    #landing-women,#landing-men {
        .easycms-block {
            &.images-products {
                &.images-products-right,&.images-products-left {
                    .image-first,.image-second {
                        img {
                            opacity: 0;
                        }
                    }
                }
                &.images-products-right {
                    .image-first {
                        height: auto;
                    }
                }
                .products .products-grid .product-item {
                    .product-item-info {
                        &:hover {
                            margin: 20px 20px 0 20px;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: @mobile__screen__s) {
    .catalog-category-view.page-products.cms-only {
        .category-cms {
            #landing-women {
                .block.filter.l-mobile {
                    margin: 45px 6.9vw 0;
                    li:last-child {
                        margin-right: 0;
                    }
                    .filter-options-item {
                        margin-bottom: 0;
                        padding: 0;
                        height: 30px;
                        a {
                            margin-bottom: 0;
                            letter-spacing: 1px;
                        }
                    }
                }
                .easycms-block {
                    margin: 0 6.9vw 0;
                    overflow: hidden;
                    &.products-slider {
                        .title {
                            font-size: 16px;
                            line-height: 34px;
                            letter-spacing: 1.6px;
                            margin: 0 0 30px;
                            padding: 0;
                        }
                        .products .products-grid .product-item .product-item-info img {
                            width: 28vw;
                        }
                    }
                    &.images-products {
                        .title::after {
                            height: 3px;
                        }
                        &.images-products-right {
                            .image-first {
                                height: auto;
                                margin: 20px 20px 40px 70px;
                                .title {
                                    top: -20px;
                                    left: -50px;
                                    letter-spacing: 1px;
                                }
                            }
                            .image-second {
                                margin-left: 20px;
                                .title {
                                    top: auto;
                                    left: auto;
                                    right: -20px;
                                    bottom: -10px ;
                                    letter-spacing: 1px;
                                }
                            }
                        }
                        &.images-products-left {
                            width: auto;
                            padding-top: 40px;
                            max-width: 500px;
                            .image-second {
                                width: auto;
                                max-width: 500px;
                                margin: 0 20px 90px;
                                .title {
                                    bottom: -50px;
                                    left: -20px;
                                    letter-spacing: 1px;
                                }
                            }
                            .image-first {
                                margin: 0 20px 80px 0;
                                .title {
                                    letter-spacing: 1px;
                                }
                            }
                        }
                        .products .products-grid {
                            margin: 0;
                            .product-items {
                                width: ~"calc(100% - 40px)" ;
                                text-align: center;
                                margin: 40px 20px 40px ;
                                box-sizing: border-box;
                                &.slider {
                                    margin: 0 ;
                                    width: auto ;
                                }
                            }
                            .product-item {
                                margin: 0;
                                width: ~"calc(50% - 20px)" ;
                                font-size: initial;
                                display: block;
                                float: left;
                                box-sizing: border-box;
                                &:nth-child(1) {
                                    margin-right: 40px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 375px) {
    .catalog-category-view.page-products.cms-only {
        .category-cms {
            #landing-women {
                .easycms-block{
                    &.images-products {
                        &.images-products-right{
                            .image-first {
                                margin: 20px 0 40px 60px;
                            }
                        }
                        &.images-products-left{
                            .image-second {
                                margin: 0 0 40px;
                                .title {
                                    bottom: -25px;
                                }
                            }
                            .image-first {
                                margin: 0 0 80px 0;
                                width: 75%;
                            }
                        }
                    }
                }
            }
        }
    }
}
