& when (@media-common = true) {
    .easycms-block.link-category {
        p {
            text-align: center;
        }

        a {
            display: inline-block;
            position: relative;
            font-size: @font-size_11;
            color: @color-black-title;
            letter-spacing: 3.38px;
            padding-bottom: 13px;
            .lib-font-family(@f-avenir);
            text-transform: uppercase;

            &:after,
            &:before {
                position: absolute;
                left: -2px;
                right: 0;
                bottom: 1px;
                margin: 0 auto;
                height: 1px;
                width: calc(~"100% - 3px");
                content: "";
                background-color: @color-black-title;
                .lib-css(transition, all .2s, 1);
            }

            &:before {
                width: 0;
                bottom: 0;
            }

            &:hover {
                text-decoration: none;

                &:before {
                    width: calc(~"100% - 3px");
                }
            }
        }
    }
}