//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .easycms-block {
        &.products-slider,
        &.images-products {
            .products {
                .products-grid {
                    margin: 0 20px;

                    .product-items {
                        margin: 0;
                        font-size: 0;
                    }

                    .product-item {
                        width: calc(~"50% - 30px");
                        margin: 0 15px;
                        padding: 0;

                        .product-item-details {
                            margin: 0;
                        }

                        .product-item-name {
                            font-size: @font-size_13;
                            letter-spacing: 1.2px;
                            .lib-font-family(@f-frutiger);
                            font-weight: @font-weight__regular;
                            padding: 27px 0 0;
                            border-top: 1px solid @color-grey-four;
                            margin-top: 25px;

                            .lib-project-icon(
                                @_icon-font-content: @icon-project-sole-top,
                                @_icon-font-color: @color-louboutin-red,
                                @_icon-font-size: @font-size_30
                            );

                            display: block;
                            position: relative;

                            &:before {
                                position: absolute;
                                top: -19px;
                                left: 50%;
                                .lib-css(transform, translateX(-50%), 1);
                                background: @color-white;
                            }
                        }

                        .product-item-info {
                            img {
                                margin: 0 auto;
                                width: 180px;
                                max-width: 100%;
                                height: auto;
                            }

                            a {
                                font-weight: lighter;
                                img {
                                    .lib-css(transition, opacity .2s, 1);
                                }
                            }

                            a:hover {
                                img {
                                    opacity: .8;
                                }
                            }

                            .product-item-name {
                                text-align: center;
                                a:hover {
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
            }
        }

        &.products-slider {
            text-align: center;

            .title {
                font-size: @font-size_16;
                color: @color-black;
                .lib-font-family(@f-gill);
                display: inline-block;
                padding: 0 0 13px;
                border-bottom: 3px solid @color-black;
                line-height: 1;
                margin: 0 0 10px;
                font-weight: @font-weight__medium;
                letter-spacing: 3.4px;
            }

            .products {
                margin: 0;

                .products-grid {
                    .product-item {
                        .product-item-info {
                            .product-item-name {
                                font-size: @font-size_10;
                            }
                        }
                    }
                }
            }

            .slick-slider {
                .slick-track {
                    margin: 0 auto;
                }

                .slick-arrow {
                    background: none;
                    height: 24px;
                    padding: 0;
                    left: 0;
                    right: inherit;

                    .lib-icon-font(
                            @icon-project-arrow-left,
                        @_icon-font: @font-family-name__loub_icons,
                        @_icon-font-size: @font-size_24,
                        @_icon-font-line-height: @icon-font__line-height,
                        @_icon-font-color: #cccccc,
                        @_icon-font-color-hover: @color-black,
                        @_icon-font-color-active: @color-black
                    );

                    &.slick-next {
                        left: inherit;
                        right: 0;

                        &:before {
                            content: @icon-project-arrow-right;
                        }
                    }
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xs) {
    .easycms-block {
        &.products-slider,
        &.images-products {
            margin: 0 0 80px;

            .products {
                .products-grid {
                    .product-item {
                        width: calc(~"50% - 60px");
                        margin: 0 30px;
                    }
                }

                .block-products-list.block.widget {
                    margin: 0;
                    .products-grid {
                        .product-item {
                            .page-layout-1column & {
                                width: calc(~"50% - 60px");
                            }
                        }
                    }
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .easycms-block {
        &.products-slider,
        &.images-products {
            .products {
                .products-grid {

                    .product-item {
                        width: 46%;
                        margin: 0 2%;
                        img {
                            max-width: 180px;
                            margin: 0 auto;
                        }
                    }
                }
            }
        }

        &.products-slider {
            .title {
                font-size: @font-size_24;
                letter-spacing: 2.5px;
            }

            .products {
                .slick-slider {
                    .slick-slide {
                        width: percentage(1/3);
                        margin: 0 1%;
                    }
                }

                .products-grid {
                    margin: 0 50px;

                    .product-item {
                        .product-item-info {
                            .product-item-name {
                                font-size: @font-size_13;
                            }
                        }
                    }
                }
            }
        }
    }

}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .easycms-block {
        &.products-slider,
        &.images-products {
            .products {
                .products-grid {
                    .product-item,
                    .product-item:nth-child(5n + 1),
                    .product-item:nth-child(4n + 1){
                        margin: 0 2%;
                    }
                }
            }
        }
    }
}
@media (max-width: 479px) {
    .cms-home,.catalog-category-view.cms-only {
        .easycms-block {
            &.products-slider {
                .products .products-grid {
                    margin: 0;
                    .product-item .product-item-info img {
                        width: 116px;
                    }
                }
            }
        }
    }
    .cms-home {
        .easycms-block {
            &.images-products {
                .block.widget .products-grid{
                    .product-item {
                        width: 44.6%;
                        margin: 0;
                        padding: 0;
                        &:nth-child(2n + 1) {
                            margin-left: 0;
                            margin-right: 40px;
                        }
                    }
                }
            }
        }
    }
    .easycms-block {
        &.products-slider {
            .products {
                .products-grid {
                    .product-item,
                    .product-item:nth-child(5n + 1),
                    .product-item:nth-child(4n + 1){
                        margin: 0!important;
                    }
                }
            }
        }
    }
}
