& when (@media-common = true) {
    .easycms-block.title-image {
        .left, .right {
            opacity: 0;
            .lib-css(transform, translateX(50px), 1);
            .lib-css(transition, all .6s, 1);

            &.show {
                opacity: 1;
                .lib-css(transform, translateX(0), 1);
                .lib-css(transition, all .6s, 1);
            }
        }

        .right {
            .lib-css(transform, translateX(-50px), 1);
        }

        .title-image-title {
            margin: 70px 0 63px;

            .h2 {
                font-size: @font-size_40;
                color: @color-black;
                .lib-font-family(@font-family-name__freightdisp);
                letter-spacing: 5px;
                text-transform: uppercase;
                line-height: 50px;
            }
        }

        .title-image-image {
            text-align: right;

            a, img {
                width: 677px;
            }
        }
    }
}