& when(@media-common = true) {
    .easycms-block.title-subtitle-slider {
        .title-slider-discover {
            p {
                position: relative;
                font-family: @font-family-name__madelyn;
                font-size: @font-size_54;
                line-height: 1.17;
                color: @color-louboutin-red;
                text-shadow: 1px 1px 0 @color-white,
                    -1px 1px 0 @color-white,
                    1px -1px 0 @color-white,
                    -1px -1px 0 @color-white,
                    2px 2px 0 @color-white,
                    -2px 2px 0 @color-white,
                    2px -2px 0 @color-white,
                    -2px -2px 0 @color-white,
                    3px 3px 0 @color-white,
                    -3px 3px 0 @color-white,
                    3px -3px 0 @color-white,
                    -3px -3px 0 @color-white,
                    4px 4px 0 @color-white,
                    -4px 4px 0 @color-white,
                    4px -4px 0 @color-white,
                    -4px -4px 0 @color-white,
                    5px 5px 0 @color-white,
                    -5px 5px 0 @color-white,
                    5px -5px 0 @color-white,
                    -5px -5px 0 @color-white;
                text-align: center;

                &:after {
                    position: absolute;
                    bottom: 5px;
                    right: 0;
                    left: 0;
                    margin: 0 auto;
                    content: "";
                    width: 259px;
                    height: 1px;
                    background-color: #ececec;
                    z-index: -1;
                }
            }
        }

        .subtitle-slider-discover {
            margin-bottom: 66px;

            p {
                .lib-font-family(@f-avenir);
                font-size: @font-size_11;
                line-height: 1.36;
                letter-spacing: 2px;
                text-align: center;
                color: @color-warm-grey;
                text-transform: uppercase;
                margin-top: 12px;
            }
        }

        .slick-slider {

            button.slick-prev {
                background: transparent;

                &:before {
                    font-size: @font-size_24;
                    font-family: @font-family-name__loub_icons;
                    content: '\e005';
                    color: @color-pinkish-grey;
                    .lib-css(transition, all .6s, 1);
                }

                &:hover {

                    &:before {
                        color: @color-black;
                        .lib-css(transition, all .6s, 1);
                    }
                }
            }

            button.slick-next {
                background: transparent;

                &:before {
                    font-size: @font-size_24;
                    font-family: @font-family-name__loub_icons;
                    content: '\e003';
                    color: @color-pinkish-grey;
                    .lib-css(transition, all .6s, 1);
                }

                &:hover {
                    &:before {
                        color: @color-black;
                        .lib-css(transition, all .6s, 1);
                    }
                }
            }
        }

        div.slick-list {
            margin: 0 3.75%;
            padding: 8px 0;

            .slick-track {
                li.slide {
                    margin-left: 0;
                    padding: 0;

                    .product-item-details {
                        text-align: center;
                    }

                    .product-item-info {
                        position: relative;

                        .product-item-name {
                            text-align: center;
                            margin-top: 24px;

                            a {
                                display: block;
                                position: relative;
                                color: @color-black-title;
                                font-size: @font-size_13;
                                .lib-font-family(@f-avenir);
                                letter-spacing: .93px;
                                padding: 0 20px;
                                .lib-css(transition, all .6s, 1);

                                &:hover {
                                    text-decoration: none;
                                }
                            }
                        }

                        .product-item-subtitle {
                            a {
                                color: @color-warm-grey;
                                font-size: @font-size_11;
                                .lib-font-family(@f-avenir);
                                letter-spacing: .85px;

                                &:hover {
                                    text-decoration: none;
                                }
                          }
                        }

                        .product-item-photo {
                            width: 100%;

                            &:after {
                                opacity: 0;
                                content: '';
                                position: absolute;
                                top: 150px;
                                left: 0;
                                right: 0;
                                margin: 0 auto;
                                height: 12px;
                                width: 150px;
                                .lib-css(background, radial-gradient(ellipse at center, rgba(0, 0, 0, .2) 0%, rgba(0, 0, 0, 0) 75%), 1);
                                .lib-css(transition, all .6s, 1);
                                z-index: 10;
                            }

                            img {
                                max-width: 150px;
                                margin: 0 auto;
                                -moz-transition: opacity 0.2s;
                                -o-transition: opacity 0.2s;
                                -webkit-transition: opacity 0.2s;
                                transition: opacity 0.2s;
                            }
                        }

                        &:hover {
                            .product-item-name {
                                a {
                                    color: @color-louboutin-red;
                                }
                            }

                            .product-item-photo {
                                img {
                                    opacity: 0.8;
                                }
                            }
                        }

                        .heel-height-or-material {
                            color: @color-warm-grey;
                            font-size: @font-size_11;
                            font-family: @f-avenir;
                            letter-spacing: 0.85px;
                            margin-top: 6px;
                        }
                    }
                }
            }
        }
    }
}
