& when (@media-common = true) {
    .easycms-block.title-text {
        p {
            max-width: 315px;
            margin: 0 auto;
            text-align: center;
        }

        .title-text-title {
            margin-bottom: 26px;
            color: @color-black;
            font-size: @font-size_20;
            letter-spacing: 1.44px;
            line-height: 25px;
            .lib-font-family(@font-family-name__freightdisp);
        }

        .title-text-text {
            .lib-font-family(@f-avenir);
            letter-spacing: .5px;
            font-size: @font-size_13;
            color: @color-grey-three;
        }
    }
}