//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .topbox-video {
        margin: 0 0 40px;

        .video-link {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 2;
            font-size: 0;
        }

        .title {
            letter-spacing: 3.3px;
        }

        .video-container {
            position: relative;
            overflow: hidden;

            video {
                width: 100%;
            }
            &.play {
                .mute-button {
                    z-index: 2;
                }
            }

            .play-button,
            .mute-button {
                position: absolute;
                bottom: 12%;
                cursor: pointer;
            }

            .play-button {
                right: 25px;
                text-transform: uppercase;
                z-index: 3 !important;

                &:before,
                span {
                    display: inline-block;
                    vertical-align: middle;
                }

                &:before {
                    content: "";
                    background: url('@{baseDir}images/play-button.png') no-repeat transparent;
                    background-size: 100%;
                    position: absolute;
                    width: 30px;
                    height: 30px;
                    top: 24px;
                    left: -4px;
                    -webkit-transform: scale(1.3) translateY(-50%);
                    -moz-transform: scale(1.3) translateY(-50%);
                    -ms-transform: scale(1.3) translateY(-50%);
                    -o-transform: scale(1.3) translateY(-50%);
                    transform: scale(1.3) translateY(-50%);
                }

                span {
                    text-transform: uppercase;
                    .lib-font-family(@f-avenir);
                    letter-spacing: 3.5px;
                    color: @color-white;
                    margin: 0 0 0 10px;
                    font-size: @font-size_7;
                }
            }

            .mute-button {
                left: 50px;
                width: 53px;
                height: 48px;
                background: url('@{baseDir}images/sound-button.png') no-repeat transparent;
                z-index: 0;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                z-index: 1;
                object-fit: cover;
                object-position: 50% top;
            }

            &.play {
                .play-button,
                img {
                    display: none;
                }
            }

            &.muted {
                .mute-button {
                    &:after {
                        content: "";
                        width: 30px;
                        height: 1px;
                        background: @color-white;
                        .lib-css(transform, rotate(-45deg), 1);
                        display: inline-block;
                        margin: 25px 0 0;
                    }
                }

            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .topbox-video {
        .video-container {
            .mute-button {
                background-size: 60%;
                background-position: center;
                left: 10px;
            }

            &.muted {
                .mute-button:after {
                    width: 20px;
                    position: absolute;
                    left: 17px;
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .topbox-video {
        margin: 0 0 85px;

        .title {
            line-height: 42px;
        }

        .video-container {
          .play-button {
                span {
                    font-size: @font-size_14;
                    margin: 0 0 0 20px;
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .topbox-video {
        .video-container {
            img {
                display: none;
            }

            .mute-button {
                bottom: 50px;
            }

            .mute-button {
                display: block;

                span {
                    display: none;
                }
            }
        }
    }
}
