//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .topbox-video.topmosaic-video,
    .topbox-image.topmosaic-image {
        .title {
            .lib-font-family(@f-freightdisp);
            font-weight: @font-weight__light;
            border: none;
        }

        .subtitle {
            .lib-font-family(@f-freightdisp);
            font-weight: @font-weight__light;
        }
    }
}