//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .topbox-video,
    .topbox-image {
        text-align: center;
        color: @color-black-title;

        & > a {
            margin: 28px 10px 30px;
        }

        a {
            color: @color-black-title;
            text-decoration: none;
            display: block;

            &:hover {
                .title {
                    color: @color-louboutin-red;
                    border-color: @color-louboutin-red;
                }
            }
        }

        .title {
            .lib-font-family(@f-didot);
            font-size: @font-size_24;
            text-transform: uppercase;
            display: inline;
            .lib-css(transition, ~"color .4s, border-color .4s", 1);
            margin: 0;
            line-height: 1.4;
            position: relative;
        }

        .subtitle {
            .lib-font-family(@f-avenir);
            font-weight: @font-weight__light;
            display: block;
            margin: 10px 0 0;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .topbox-video,
    .topbox-image {
        .title {
            font-size: @font-size_40;
            letter-spacing: 3.6px;
            z-index: 1;
            position: relative;
            display: inline-block;
            margin: 25px 2% 5px;
            border-bottom: 1px solid;
        }

        & > a {
            margin: 0;
        }
    }
}
