//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .topbox-image {
        margin: 0 0 30px;

        .title {
            letter-spacing: 5.3px;
        }
        .slick-slider {
            li {
                &.slide {
                    img {
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .topbox-image {
        margin: 0 0 115px;

        .title {
            line-height: 42px;
            margin: 27px auto 10px;
        }
    }
}