// /**
//  * Copyright © Zemez, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Product grid items per row count
//  ---------------------------------------------

// default (2 column)
@grid-products-count__mobile: 2;
@grid-products-count__m: 3;
@grid-products__breakpoints: m;

// 1 column
@grid-products-count__1-column__l: 4;
@grid-products__1-column__breakpoints: l;

// 3 columns
@grid-products-count__3-columns__l: 1;
@grid-products-count__3-columns__xl: 2;
@grid-products-count__3-columns__xxl: 3;
@grid-products__3-columns__breakpoints: l, xl, xxl;

.products-count(@page-layout: '') {
    @products-breakpoints: "grid-products@{page-layout}__breakpoints";
    .grid-products-count(@i: 1) when (@i =< length(@@products-breakpoints)) {
        @breakpoint: extract(@@products-breakpoints, @i);
        @count: "grid-products-count@{page-layout}__@{breakpoint}";
        @media (min-width: ~"@{screen__@{breakpoint}}") {
            flex-basis: (100% / @@count);
            width: (100% / @@count);
            max-width: (100% / @@count);
        }
        .grid-products-count(@i + 1);
    }
    .grid-products-count();
}

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .products-grid {
        .product-items {
            &:extend(.row);
            margin-top: -25px;

            .product-item {
                padding: 0 floor((@gutter__width / 2));
                margin-top: 25px;
                flex-basis: (100% / @grid-products-count__mobile);
                width: (100% / @grid-products-count__mobile);
                max-width: (100% / @grid-products-count__mobile);
                .products-count();
            }

            &.owl-carousel {
                margin-top: 0;
                width: auto;

                .owl-item .product-item {
                    flex-basis: 100%;
                    width: 100%;
                    max-width: none;
                    margin-top: 0;
                }
            }
        }

        .product-item-details {
            margin-top: 15px;
            text-align: center;
        }

        .swatch-attribute-options {
            justify-content: center;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .products-grid {
        .product-img .action.tocart {
            width: 100%;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .products-grid {
        .product-items {
            margin-left: -6px;
            margin-right: -6px;

            .product-item {
                padding-left: 6px;
                padding-right: 6px;
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

& when (@media-target = 'desktop') {
    .page-layout-1column .products-grid .product-items .product-item {
        .products-count('__1-column');
    }
    .page-layout-3columns .products-grid .product-items .product-item {
        .products-count('__3-columns');
    }

    .products-grid {
        .product-img {
            .product-item-photo {
                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: @color-white;
                    opacity: 0;
                    transition: 0.3s opacity ease;
                    z-index: 3;
                }
            }

            position: relative;
            .action.tocart {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%) scale(0.5);
                opacity: 0;
                white-space: nowrap;
                z-index: 3;
            }
        }

        .product-item-info {
            &:hover {
                .product-item-photo:before {
                    opacity: 0.4;
                }

                .product-img .action.tocart {
                    transform: translate(-50%, -50%) scale(1);
                    opacity: 1;
                }
            }
        }
    }
}

//
//  Desktop large
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .products-grid {
        .product-items {
            margin-top: -50px;

            .product-item {
                margin-top: 50px;
            }
        }

        .product-item-details {
            margin-top: 26px;
        }
    }
}
