// /**
//  * Copyright © Zemez, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .product.media {
        .product.photo .photo.image {
            &:extend(.abs-adaptive-images-centered);
        }

        .fotorama__stage__frame, img {
            background-color: @color-lightest;
        }

        .fotorama__arr {
            background: none;

            .fotorama__arr__arr {
                width: 42px;
                height: 42px;
                background-image: none;
                background-color: @color-white;
                text-align: center;
                transition: 0.3s all ease;

                &:before {
                    line-height: 42px;
                }

                &:hover {
                    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
                }
            }
        }

        .fotorama__arr--prev .fotorama__arr__arr {
            .font-icon(@themeicon-chevron-left);
        }

        .fotorama__arr--next .fotorama__arr__arr {
            .font-icon(@themeicon-chevron-right);
        }

        .placeholder .photo.container {
            max-width: 100%;
        }

        .notice {
            .lib-css(color, @text__color__muted);
            .lib-font-size(@font-size__s);
            margin: @indent__s 0;
        }

        .product.thumbs {
            margin: @indent__base 0 @indent__l;
        }

        .items.thumbs {
            .lib-list-inline();

            .active {
                display: block;
                line-height: 1;
            }
        }
    }

    .fotorama__wrap--css3 .fotorama__thumb-border {
        border-color: @color-default;
        background: none;
    }

    .fotorama__nav-wrap--horizontal {
        text-align: center;
    }

    .fotorama__dot {
        background-color: @color-light;
        border-color: @color-light;
    }

    .fotorama__active .fotorama__dot {
        background-color: @color-dark;
        border-color: @color-dark;
    }

    .product.info.detailed {
        margin-top: 50px;

        .additional-attributes {
            width: auto;
            .lib-table-resize(
                @_th-padding-left: @indent__s,
                @_th-padding-right: 15px,
                @_th-padding-top: @indent__s,
                @_th-padding-bottom: @indent__s,
                @_td-padding-top: @indent__s,
                @_td-padding-bottom: @indent__s,
                @_td-padding-left: 15px,
                @_td-padding-right: 15px
            );

            tr {
                &:nth-child(even) {
                    background: @color-lightest;
                }
            }

            .col.label {
                border-right: 1px solid #dedede;
                font-weight: 600;
                color: @color-dark;
            }
        }

        .item.title {
            .counter {
                &:before {
                    content: '(';
                }

                &:after {
                    content: ')';
                }
            }
        }
    }

    .product-info-main {
        padding-top: 12px;

        .page-title-wrapper {
            text-align: left;
            margin-bottom: 0;

            .page-title {
                font-size: 28px;
                line-height: 1.2;
                font-weight: 700;
                text-transform: none;
            }
        }

        .product-info-stock-sku > div {
            margin-bottom: 13px;
        }

        .stock {
            text-transform: capitalize;

            &:before {
                font-size: 18px;
                line-height: 1;
                margin-right: 1px;
                vertical-align: middle;
            }

            &.available {
                .font-icon(@themeicon-checkmark-circle);

                &:before {
                    color: #45C20A;
                }
            }

            &.unavailable {
                .font-icon(@themeicon-prohibited);

                &:before {
                    color: #ff4334;
                }
            }

            span {
                vertical-align: middle;
            }
        }

        .attribute.sku {
            font-size: 14px;

            strong {
                font-weight: 600;
            }

            div {
                display: inline-block;
                color: @color-light;
            }
        }

        .product-reviews-summary {
            margin-top: 15px;
        }

        .product.overview {
            margin-top: 15px;
            line-height: 1.5;
        }

        .product-info-price {
            margin-top: 24px;
        }

        .price-box {
            .price-including-tax + .price-excluding-tax,
            .weee + .price-excluding-tax,
            .weee {
                .lib-font-size(12);
                margin-bottom: @indent__xs;

                .price {
                    .lib-font-size(12);
                    font-weight: @font-weight__bold;
                }
            }

            .price-wrapper .price {
                .lib-font-size(26);
                font-weight: @font-weight__semibold;
                line-height: 30px;
            }

            .old-price .price {
                .lib-font-size(22);
                font-weight: @font-weight__light;
                line-height: 30px;
            }

            .price {
                white-space: nowrap;
            }
        }

        .special-price {
            margin-right: 6px;

            .price-container {
                .lib-font-size(14);
            }

            .price-label + .price-wrapper {
                display: inline-block;
            }
        }

        .old-price,
        .special-price {
            .price-label {
                &:after {
                    content: ': ';
                }
            }
        }

        .fieldset > .field:not(.choice) {
            > .label, > .control {
                float: none;
                width: auto;
                text-align: left;
            }

            > .label {
                padding: 0;
                margin-bottom: 5px;
                color: @color-light;
            }
        }

        .box-tocart {
            margin-top: 22px;

            .fieldset {
                &:last-child {
                    margin-bottom: 0;
                }

                > div {
                    margin-top: 10px;
                }
            }

            .field.qty {
                margin-bottom: 0;

                .label {
                    margin-bottom: 5px;
                }
            }

            .input-text.qty {
                height: 46px;
                width: 70px;
                text-align: center;
                padding-left: 5px;
                padding-right: 5px;
            }

            .action.tocart {
                min-width: 226px;
                margin-top: 10px;
            }
        }

        .product-addto-links {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin-top: 20px;
            color: @color-light;

            > * {
                margin-right: 25px;
            }
        }
    }

    .product-options-wrapper {
        margin-top: 22px;

        .fieldset-product-options-inner {
            .legend {
                .lib-css(font-weight, @font-weight__bold);
                .lib-css(margin, 0 0 @indent__xs);
                .lib-font-size(14px);
                border: none;
                display: inline-block;
                float: none;
                padding: 0;
            }

            //  Date & Time custom option (Affect Time that goes only after Date)
            input.datetime-picker {
                ~ select.datetime-picker {
                    margin-top: @indent__s;
                }
            }

            &.required,
            &._required {
                .legend {
                    &:after {
                        content: '*';
                        .lib-typography(
                            @_font-size: @form-field-label-asterisk__font-size,
                            @_color: @form-field-label-asterisk__color,
                            @_font-family: @form-field-label-asterisk__font-family,
                            @_font-weight: @form-field-label-asterisk__font-weight,
                            @_line-height: @form-field-label-asterisk__line-height,
                            @_font-style: @form-field-label-asterisk__font-style
                        );
                        .lib-css(margin, @form-field-label-asterisk__margin);
                    }
                }
            }
        }

        input, select {
            max-width: 400px;
        }

        .field {
            .note {
                display: block;
            }

            .price-notice {
                &:extend(.abs-adjustment-incl-excl-tax all);
            }
        }
    }

    .prices-tier {
        &:extend(.abs-reset-list all);
        .lib-css(background, @sidebar__background-color);
        margin: @indent__s 0;
        padding: @indent__s (.75 * @indent__base);

        .price-container {
            display: inline-block;
        }

        .price-including-tax,
        .price-excluding-tax,
        .weee {
            display: inline-block;

            .price {
                .lib-font-size(14);
                font-weight: @font-weight__bold;
            }
        }
    }

    .ui-dialog-titlebar-close {
        .lib-button-as-link();
    }

    .block.related, .block.upsell, .block.crosssell {
        margin-top: 30px;

        .block-title {
            &:extend(.abs-block-title all);
        }
    }

    .block.related {
        .action.select {
            margin: 0 @indent__xs;
        }

        .block-actions {
            margin-bottom: 15px;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

}

//
//  Desktop
//  _____________________________________________

& when (@media-target = 'desktop') {
    .product-wrap {
        display: flex;
    }

    .product.media {
        flex-basis: 50%;
        max-width: 50%;

        .fotorama__nav-wrap--vertical {
            .fotorama__thumb-border, .fotorama__nav__frame--dot {
                & + .fotorama__nav__frame {
                    padding-top: 0;
                }
            }

            .fotorama__thumb-border {
                margin-top: 0;
            }
        }
    }

    .product-info-main {
        flex-basis: 50%;
        max-width: 50%;
        padding-left: 30px;

        @media (min-width: @screen__xl) {
            .page-title-wrapper .page-title {
                font-size: 40px;
            }

            .price-box {
                .price-wrapper .price {
                    .lib-font-size(40);
                    line-height: 42px;
                }

                .old-price .price {
                    .lib-font-size(34);
                    line-height: 42px;
                }
            }
        }
    }

    .block.related, .block.upsell, .block.crosssell {
        margin-top: 70px;
    }
}

//
//  Desktop large
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {

}
