& when(@media-common = true) {
    .modal-popup.storeswitcher {
        &.modal-slide {
            left: 0;
        }

        .modal-inner-wrap {
            max-width: 915px;
            max-height: 600px;
            top: 0;
            bottom: 0;
            margin: auto;
        }
        .modal-content {
            padding: 0 30px 20px;

            .title {
                margin-bottom: 20px;
                padding-bottom: 20px;
                .lib-font-family(@f-gill);
                letter-spacing: 1px;
                font-size: @font-size_13;
                color: @color-black;
                text-transform: uppercase;
                border-bottom: solid 1px @color-grey-four;

                &:before {
                    display: inline-block;
                    margin-right: 10px;
                    vertical-align: middle;
                }
            }

            & > .title {
                .lib-project-icon(
                    @icon-project-world
                );
                display: block;
            }

            .store-select-fields {
                display: block;

                label {
                    display: block;
                    margin-bottom: 10px;
                }

                ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    font-size: 0;

                    li {
                        display: inline-block;
                        width: 100%;
                        margin: 0 0 10px 0;
                        .lib-font-family(@f-gill);
                        font-weight: @font-weight__light;
                        font-size: @font-size_13;
                        color: @color-black;
                        text-transform: capitalize;

                        a {
                            .lib-font-family(@f-gill);
                            font-weight: @font-weight__light;
                            font-size: @font-size_13;
                            color: @color-black;
                            text-transform: capitalize;

                            &:hover,
                            &:active,
                            &:focus {
                                text-decoration: none;
                                color: @color-louboutin-red;
                            }
                        }
                    }
                }
            }

            .country-list {
                color: @color-black;

                .title {
                    .lib-project-icon(
                        @icon-project-flag
                    );
                    display: block;
                }

                .section {
                    margin: 20px 0 0;
                    box-sizing: border-box;
                    .lib-font-family(@f-gill);
                    letter-spacing: 1px;
                    font-size: @font-size_13;

                    &.pacific {
                        padding: 0;
                    }

                    .section-title {
                        font-weight: @font-weight__semibold;
                        margin-bottom: 20px;
                        text-transform: capitalize;
                    }
                    ul {
                        list-style: none;
                        margin: 0;
                        padding: 0;

                        li {
                            display: block;
                            margin: 25px 0;

                            a {
                                .lib-font-family(@f-gill);
                                font-weight: @font-weight__light;
                                font-size: @font-size_13;
                                color: @color-black;

                                &:hover,
                                &:active,
                                &:focus {
                                    text-decoration: none;
                                    color: @color-louboutin-red;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .modal-popup.store-switcher-modal-redirect {
        text-align: center;

        .modal-header,
        .modal-footer {
            height: 10px;
            margin: 0;
            padding: 0;
        }

        .modal-content {
            padding-top: 3rem;
            font-family: @f-frutiger;
            .lib-font-size(@font-size_10);
            color: @color-warm-grey;

            img {
                display: none;
                margin-top: 20px;
                margin-bottom: 30px;
            }
            .intro {
                margin-bottom: 40px;
                .lib-font-size(@font-size_13);
                width: 95%;
            }
            .suggestion a {
                display: inline-block;
                text-transform: uppercase;
                text-decoration: underline;
            }
            .current-url {
                margin: 10px 0 30px;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .modal-popup.storeswitcher {
        .modal-content {
            .store-select-fields {
                ul li {
                    width: percentage(1/3);
                }
            }
            & > .title:before {
                content: none;
            }
            .country-list {
                font-size: 0;

                .title:before {
                    content: none;
                }
                .section {
                    display: inline-block;
                    vertical-align: top;
                    width: percentage(1/5);
                    margin: 0;
                    padding-right: 30px;

                    .section-title {
                        margin-bottom: 40px;
                    }

                    ul li {
                        margin: 0 0 10px;

                        &.i-hk_and_mo {
                            a {
                                font-size: @font-size_9;
                            }
                        }
                    }
                    &.europe {
                        width: percentage(2/5);

                        ul {
                            font-size: 0;
                            letter-spacing: 0;

                            li {
                                display: inline-block;
                                width: 50%;

                                a {
                                    vertical-align: middle;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .modal-popup.store-switcher-modal-redirect {
        .modal-inner-wrap {
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            max-width: 480px;
            max-height: 275px;
            margin: auto;

            background: transparent url('@{baseDir}Synolia_StoreSwitcher/images/earth.png') 0 0;
        }
        .modal-content {
            .lib-vendor-prefix-display();
            .lib-vendor-prefix-flex-direction();
            .lib-vendor-box-align(center);
            ._flexbox-align-parallele-center();
            padding-top: 0;

            img {
                display: inline-block;
                max-width: 60px;
                max-height: 60px;
            }
            .suggestion a:hover {
                color: @color-black;
            }
            .suggested-url {
                display: inline-block;

                &:before {
                    content: '← ';
                    display: inline-block;
                    margin-right: 5px;
                }
            }
            .current-url {
                display: inline-block;
                margin: 0;

                &:after {
                    content: ' →';
                    display: inline-block;
                    margin-left: 5px;
                }
            }
        }
    }
}
