<table class="permissions">
    <tbody>
        <?php foreach ($block->getPermissions() as $permission): ?>
            <tr>
                <td><?= $permission ?></td>
            </tr>
        <?php endforeach; ?>
    </tbody>
</table>