<table class="websites">
    <tbody>
    <?php foreach ($block->getWebsites() as $website): ?>
        <tr>
            <td><?= $website ?></td>
        </tr>
    <?php endforeach; ?>
    </tbody>
</table>