<div class="belt-size-guide-women">
    <table>
        <thead>
        <tr><th colspan="3">Women</th></tr>
        </thead>
        <tr class="type">
            <td colspan="3">Belts</td>
        </tr>
        <tr class="country">
            <td>France</td>
            <td>Us</td>
            <td>UK</td>
        </tr>
        <tr>
            <td>80</td>
            <td>4 - 6</td>
            <td>10</td>
        </tr>
        <tr>
            <td>85</td>
            <td>8</td>
            <td>12</td>
        </tr>
        <tr>
            <td>90</td>
            <td>10</td>
            <td>14</td>
        </tr>
        <tr>
            <td>95</td>
            <td>12</td>
            <td>16</td>
        </tr>
        <tr>
            <td>100</td>
            <td>14</td>
            <td>18</td>
        </tr>
        <tr>
            <td>105</td>
            <td>16</td>
            <td>20</td>
        </tr>
        <tr>
            <td>110</td>
            <td>18</td>
            <td>22</td>
        </tr>
        <tr>
            <td>155</td>
            <td>36</td>
            <td>40</td>
        </tr>
        </tbody>
    </table>
</div>