<article class="easycms-block blog-submenu-article">
    <div class="first-half-submenu">
        <div class="title-article">
            <a title="Title example" href="{{store url=''}}">
                Inappropriate Glamour: Christian Louboutin x Halpern at London Fashion Week Fall Winter 2018
            </a>
            <div class="read-more-article">
                <a title="Title example" href="{{store url=''}}">
                    Read the article
                </a>
            </div>
        </div>
    </div>
    <div class="second-half-submenu">
        <div class="image-background">
            <a title="Title example" href="{{store url=''}}">
                <img class="img-article-src" src="https://dummyimage.com/775x350/000/fff" alt=""/>
            </a>
        </div>
    </div>
</article>