<div class="easycms-block simple-image scroll-notvisible">
    <a title="Title example" href="{{store url=''}}">
        <img src="https://dummyimage.com/1200x970/000/fff" alt="Image mobile" />
    </a>
</div>