<div class="easycms-block image-single-product-left">
    <div class="image-single-product-left-image scroll-notvisible">
        <img src="{{media url='cms/page/discover-nudes/Discovery_Page_NUDES2.jpg'}}" alt="" />
    </div>
    <div class="single-product-left scroll-notvisible">
        {{widget type="Magento\CatalogWidget\Block\Product\ProductsList" show_pager="0" products_count="1" template="product/widget/content/grid.phtml" conditions_encoded="^[`1`:^[`type`:`Magento||CatalogWidget||Model||Rule||Condition||Combine`,`aggregator`:`all`,`value`:`1`,`new_child`:``^]^]"}}
    </div>
</div>
