<div class="easycms-block image-single-product-left">
    <div class="image-single-product-left-image scroll-notvisible">
        <a title="Title example" href="{{store url=''}}">
            <img src="https://dummyimage.com/800x906/000/fff" alt="Image mobile" />
        </a>
    </div>
    <div class="single-product-left scroll-notvisible">
        {{widget type="Magento\CatalogWidget\Block\Product\ProductsList" show_pager="0" products_count="1" template="product/widget/content/grid.phtml" conditions_encoded="^[`1`:^[`type`:`Magento||CatalogWidget||Model||Rule||Condition||Combine`,`aggregator`:`all`,`value`:`1`,`new_child`:``^]^]"}}
    </div>
</div>