<div class="easycms-block title-subtitle-slider">
    <div class="title-slider-discover">
        <p>Reves Kaléidoscopiques</p>
    </div>
    <div class="subtitle-slider-discover">
        <p>Laissez-vous emporter par les modèles homme, audacieux et rayonnants</p>
    </div>
    <div class="slider-slider-discover">
        <div class="products">{{widget type="Synolia\Slider\Block\Widget\Slider" code="discover-products-slider" template="Synolia_Slider::widget/sliderDiscover.phtml"}}</div>
    </div>
</div>