<table style="margin: 1em auto;">
    <tr>
        <td align="center" valign="top">
            <table style="margin: 1em auto;">
                <tr>
                    <td align="center" valign="top">
                        <a href="{{store url=''}}LouboutinWorld" style="font-size: 1.62em; letter-spacing: 1px;
                        text-decoration: none; color: #222222; font-family: 'EB Garamond',Times New Roman,serif!important;
                        font-weight: 400;" target="_blank">
                            <span>#LOUBOUTINWORLD</span>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td align="center" valign="top" style="height: 20px; width: 100%;">
                    </td>
                </tr>
                <tr>
                    <td align="center" valign="top">
                        <a href="https://www.facebook.com/christianlouboutin" target="_blank"><img src="{{media url='wysiwyg/Email/pictos/facebook.png'}}" width="30" height="30" style="max-width: 30px;height: auto; display: inline;" alt="Facebook"></a>
                        <a href="https://twitter.com/louboutinworld" target="_blank"><img src="{{media url='wysiwyg/Email/pictos/twitter.png'}}" width="30" height="30" style="max-width: 30px;height: auto; display: inline;" alt="Twitter"></a>
                        <a href="http://instagram.com/louboutinworld" target="_blank"><img src="{{media url='wysiwyg/Email/pictos/instagram.png'}}" width="30" height="30" style="max-width: 30px;height: auto; display: inline;" alt="Instagram"></a>
                        <a href="https://www.pinterest.com/louboutinworld" target="_blank"><img src="{{media url='wysiwyg/Email/pictos/pinterest.png'}}" width="30" height="30" style="max-width: 30px;height: auto; display: inline;" alt="Pinterest"></a>
                        <a href="https://www.youtube.com/christianlouboutin" target="_blank"><img src="{{media url='wysiwyg/Email/pictos/youtube.png'}}" width="30" height="30" style="max-width: 30px;height: auto; display: inline;" alt="Youtube"></a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>