<p class="top">{{trans "Sincerely,"}}</p>
<p><span>Christian Louboutin Europe Online Boutique<span><br /><a href="{{config path="web/unsecure/base_url"}}" target="_blank">{{config path="web/unsecure/base_url"}}</a> </span></span></p>
<p>{{config path="general/store_information/phone"}}</p>