<div class="easycms-block topbox-image topbox-slider scroll-notvisible">
    {{widget type="Synolia\Slider\Block\Widget\Slider"
    code="home-topbox-slider"
    template="Synolia_Slider::widget/sliderTopbox.phtml"}}
    <a href="{{store url=''}}">
        <span class="title">Title</span>
        <span class="subtitle">Subtitle</span>
    </a>
</div>