<div class="easycms-block topbox-video">
    <div class="video-container">
        {{widget type="Project\Core\Block\Widget\Video"
        video_url="https://player.vimeo.com/external/272195224.hd.mp4?s=1925d3932004b508e9d52fa78ef91b50d272a271&profile_id=175"
        video_placeholder_text="Defaut video label"}}
        <div class="mute-button"></div>
    </div>
    <a href="{{store url=''}}">
        <span class="title">Title</span>
        <span class="subtitle">Subtitle</span>
    </a>
</div>