<div class="easycms-block products-slider scroll-notvisible">
    <span class="title"><span>Title products slider</span></span>
    <div class="products">
        {{widget type="Synolia\Slider\Block\Widget\Slider"
        code="home-products-slider"
        template="Synolia_Slider::widget/sliderProducts.phtml"}}
    </div>
</div>