<h1 class="page-title">Leather Goods</h1>
<div class="block filter cms">{{widget type="Magento\Cms\Block\Widget\Block" template="widget/static_block/default.phtml" block_id="landing-links-leather-goods"}}</div>
<div><a title="Title example" href="{{store url=''}}"> <img src="https://dummyimage.com/1200x800/000/fff" alt="Image" /></a></div>
<div class="easycms-block images-products images-products-right">
    <div class="image-first scroll-notvisible"><a title="Title example" href="{{store url=''}}"> <span class="title"><span>Title first image</span></span> <img src="https://dummyimage.com/574x340/000/fff" alt="" /> </a></div>
    <div class="image-second scroll-notvisible x2"><a title="Title example" href="{{store url=''}}"> <img src="https://dummyimage.com/369x390/000/fff" alt="" /> <span class="title"><span>Title second image</span></span> </a></div>
    {{widget type="Magento\CatalogWidget\Block\Product\ProductsList" show_pager="0" products_count="2" template="product/widget/content/grid-home.phtml" conditions_encoded="^[`1`:^[`type`:`Magento||CatalogWidget||Model||Rule||Condition||Combine`,`aggregator`:`all`,`value`:`1`,`new_child`:``^]^]"}}
</div>
<p class="easycms-line-break"> </p>
<div class="easycms-block products-slider scroll-notvisible"><span class="title"><span>Title products slider</span></span>
    <div class="products">{{widget type="Synolia\Slider\Block\Widget\Slider" code="home-products-slider" template="Synolia_Slider::widget/sliderProducts.phtml"}}</div>
</div>
<p class="easycms-line-break"> </p>
<div class="easycms-block images-products images-products-left">
    <div class="image-second scroll-notvisible x2"><a title="Title example" href="{{store url=''}}"> <img src="https://dummyimage.com/369x390/000/fff" alt="" /> <span class="title"><span>Title second image</span></span> </a></div>
    <div class="image-first scroll-notvisible"><a title="Title example" href="{{store url=''}}"> <span class="title"><span>Title first image</span></span> <img src="https://dummyimage.com/574x340/000/fff" alt="" /> </a></div>
    {{widget type="Magento\CatalogWidget\Block\Product\ProductsList" show_pager="0" products_count="2" template="product/widget/content/grid-home.phtml" conditions_encoded="^[`1`:^[`type`:`Magento||CatalogWidget||Model||Rule||Condition||Combine`,`aggregator`:`all`,`value`:`1`,`new_child`:``^]^]"}}
</div>
<p class="easycms-line-break"> </p>