<div class="top-bar">
    <ul class="left">
        <li id="blog-title">
            <h1>
                <a title="Title example" href="{{store url=''}}">
                    Actualités
                </a>
            </h1>
        </li>
        <li id="blog-article-title">
            <a title="Title example" href="{{store url=''}}">
                Title example for article
            </a>
        </li>
    </ul>
</div>