<div class="">
    <div class="louboutinworld-container">
        <div class="bolt">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="94" height="197" viewBox="0 0 100 250" version="1.1">
                <g id="bolt" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="10" transform="translate(-108.000000, -90.000000)">
                        <g id="Top" transform="translate(0.000000, 90.000000)">
                            <g id="Bolt" transform="translate(108.462798, -41.500000)">
                                <path d="M86.3 4.34L34.36 27.07 6.13 115.62 41.62 104 14.89 167.02 50.64 156.24 30.46 237.94 92.58 118.47 57.88 127.49 87.17 61.35 52.41 69.31 86.3 4.34 86.3 4.34Z" id="Path" stroke="#E90404"/>
                                <path d="M87.44 0.54L34.21 20.04 0.61 106.69 36.75 97.27 6.21 158.54 42.56 149.97 17.41 230.27 86.72 114.84 51.54 121.72 84.82 57.49 49.64 63.31 87.44 0.54 87.44 0.54Z" id="Path-2" stroke="#E90404"/>
                                <path d="M90.2 9.55L38.93 28.32 6.58 111.77 41.38 102.7 11.97 161.69 46.97 153.44 22.76 230.77 89.5 119.62 55.62 126.24 87.67 64.39 53.79 70 90.2 9.55" id="Fill-1" fill="#E90404"/>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
        </div>
        <div class="actualites-menu-title">
            <ul class="louboutinworld-column-trigger">
                <li>
                    <a title="Title example" href="{{store url='news'}}">
                    Actualités
                    </a>
                </li>
            </ul>
        </div>
        <div class="louboutinworld-right-container">
            <div>
                <div class="louboutinworld-menu-news">
                    <span class="louboutinworld-submenu-title">
                        <a title="Title example" href="{{store url='news'}}">
                        Actualités
                        </a>
                    </span>
                    <a title="Title example" class="all-articles-submenu" href="{{store url='news'}}">
                    Tous les articles
                    </a>
                    <div class="article-bloc-list">
                        <article class="easycms-block blog-submenu-article">
                            <div class="first-half-submenu">
                                <div class="title-article">
                                    <a title="Title example" href="{{store url=''}}">
                                        Inappropriate Glamour: Christian Louboutin x Halpern at London Fashion Week Fall Winter 2018
                                    </a>
                                    <div class="read-more-article">
                                        <a title="Title example" href="{{store url=''}}">
                                            Read the article
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="second-half-submenu">
                                <div class="image-background">
                                    <a title="Title example" href="{{store url=''}}">
                                        <img class="img-article-src" src="https://dummyimage.com/775x350/000/fff" alt=""/>
                                    </a>
                                </div>
                            </div>
                        </article>
                        <article class="easycms-block blog-submenu-article">
                            <div class="first-half-submenu">
                                <div class="title-article">
                                    <a title="Title example" href="{{store url=''}}">
                                        Inappropriate Glamour: Christian Louboutin x Halpern at London Fashion Week Fall Winter 2018
                                    </a>
                                    <div class="read-more-article">
                                        <a title="Title example" href="{{store url=''}}">
                                            Read the article
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="second-half-submenu">
                                <div class="image-background">
                                    <a title="Title example" href="{{store url=''}}">
                                        <img class="img-article-src" src="https://dummyimage.com/775x350/000/fff" alt=""/>
                                    </a>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>