<ul>
    <li><a href="{{store url=''}}">Terms Of Sale</a></li>
    <li><a href="{{store url=''}}">Terms Of Use</a></li>
    <li><a href="{{store url=''}}">Return</a></li>
    <li><a href="{{store url=''}}">Privacy</a></li>
    <li><a href="{{store url=''}}">Stopfake</a></li>
</ul>