<ul>
    <li><a href="{{store url='faq'}}">FAQ</a></li>
    <li><a href="{{store url=''}}product-care">Product care</a></li>
    <li><a href="{{store url='terms-sale'}}#transport-and-delivery">Shipping</a></li>
    <li><a href="{{store url='terms-sale'}}#cancellations">Returns</a></li>
    <li><a href="{{store url='rma/order/search'}}">Create return</a></li>
</ul>
