<div class="menu-cms">
    <div class="first item">
        <div class="image">
            <a href="#"><img src="{{media url='cms/block/default/image-christian.jpg'}}" /></a>
        </div>
        <div class="text-wrapper">
            <div class="text">
                <a href="#">Ideas for her</a>
            </div>
        </div>
    </div>
    <div class="last item">
        <div class="image">
            <a href="#"><img src="{{media url='cms/block/default/image-for-her.jpg'}}" /></a>
        </div>
        <div class="text-wrapper">
            <div class="text">
                <a href="#">From Christian,<br /> With Love</a>
            </div>
        </div>
    </div>
</div>