<ul>
    <li><a href="{{store url=''}}faq">FAQ</a></li>
    <li><a href="{{store url=''}}terms-sale#transport-and-delivery">Shipping</a></li>
    <li><a href="{{store url=''}}terms-sale#cancellations">Returns</a></li>
</ul>
