<div class="size-guide-women">
    <table>
        <thead>
        <tr><th colspan="3">Women</th></tr>
        </thead>
        <tbody>
        <tr class="type">
            <td colspan="3">Shoes</td>
        </tr>
        <tr class="country">
            <td>France</td>
            <td>Us</td>
            <td>UK</td>
        </tr>
        <tr>
            <td>34</td>
            <td>4</td>
            <td>1</td>
        </tr>
        <tr>
            <td>34.5</td>
            <td>4.5</td>
            <td>1.5</td>
        </tr>
        <tr>
            <td>35</td>
            <td>5</td>
            <td>2</td>
        </tr>
        <tr>
            <td>35.5</td>
            <td>5.5</td>
            <td>2.5</td>
        </tr>
        <tr>
            <td>36</td>
            <td>6</td>
            <td>3</td>
        </tr>
        <tr>
            <td>36.5</td>
            <td>6.5</td>
            <td>3.5</td>
        </tr>
        <tr>
            <td>37</td>
            <td>7</td>
            <td>4</td>
        </tr>
        <tr>
            <td>37.5</td>
            <td>7.5</td>
            <td>4.5</td>
        </tr>
        <tr>
            <td>38</td>
            <td>8</td>
            <td>5</td>
        </tr>
        <tr>
            <td>38.5</td>
            <td>8.5</td>
            <td>5.5</td>
        </tr>
        <tr>
            <td>39</td>
            <td>9</td>
            <td>6</td>
        </tr>
        <tr>
            <td>39.5</td>
            <td>9.5</td>
            <td>6.5</td>
        </tr>
        <tr>
            <td>40</td>
            <td>10</td>
            <td>7</td>
        </tr>
        <tr>
            <td>40.5</td>
            <td>10.5</td>
            <td>7.5</td>
        </tr>
        <tr>
            <td>41</td>
            <td>11</td>
            <td>8</td>
        </tr>
        <tr>
            <td>41.5</td>
            <td>11.5</td>
            <td>8.5</td>
        </tr>
        <tr>
            <td>42</td>
            <td>12</td>
            <td>9</td>
        </tr>
        </tbody>
    </table>
</div>