<div class="size-guide-men">
    <table>
        <thead>
        <tr><th colspan="3">Men</th></tr>
        </thead>
        <tbody>
        <tr class="type">
            <td colspan="3">Shoes</td>
        </tr>
        <tr class="country">
            <td>France</td>
            <td>Us</td>
            <td>UK</td>
        </tr>
        <tr>
            <td>39</td>
            <td>6</td>
            <td>5</td>
        </tr>
        <tr>
            <td>39.5</td>
            <td>6.5</td>
            <td>5.5</td>
        </tr>
        <tr>
            <td>40</td>
            <td>7</td>
            <td>6</td>
        </tr>
        <tr>
            <td>40.5</td>
            <td>7.5</td>
            <td>6.5</td>
        </tr>
        <tr>
            <td>41</td>
            <td>8</td>
            <td>7</td>
        </tr>
        <tr>
            <td>41.5</td>
            <td>8.5</td>
            <td>7.5</td>
        </tr>
        <tr>
            <td>42</td>
            <td>9</td>
            <td>8</td>
        </tr>
        <tr>
            <td>42.5</td>
            <td>9.5</td>
            <td>8.5</td>
        </tr>
        <tr>
            <td>43</td>
            <td>10</td>
            <td>9</td>
        </tr>
        <tr>
            <td>43.5</td>
            <td>10.5</td>
            <td>9.5</td>
        </tr>
        <tr>
            <td>44</td>
            <td>11</td>
            <td>10</td>
        </tr>
        <tr>
            <td>44.5</td>
            <td>11.5</td>
            <td>10.5</td>
        </tr>
        <tr>
            <td>45</td>
            <td>12</td>
            <td>11</td>
        </tr>
        <tr>
            <td>45.5</td>
            <td>12.5</td>
            <td>11.5</td>
        </tr>
        <tr>
            <td>46</td>
            <td>13</td>
            <td>12</td>
        </tr>
        <tr>
            <td>46.5</td>
            <td>13.5</td>
            <td>12.5</td>
        </tr>
        <tr>
            <td>47</td>
            <td>14</td>
            <td>13</td>
        </tr>
        <tr>
            <td>47.5</td>
            <td>14.5</td>
            <td>13.5</td>
        </tr>
        <tr>
            <td>48</td>
            <td>15</td>
            <td>14</td>
        </tr>
        </tbody>
    </table>
</div>