<div class="country-list">
    <div class="title">Choose your country or region</div>
    <div class="section americas">
        <div class="section-title">americas</div>
        <ul>
            <li class="i-flag i-us"><a href="http://us.christianlouboutin.com/us_en/">United States</a></li>
            <li class="i-flag i-ca"><a href="http://us.christianlouboutin.com/ca_en/">Canada</a></li>
            <li class="i-flag i-other"><a href="http://us.christianlouboutin.com/ot_en/">Other Countries</a></li>
        </ul>
    </div>
    <div class="section europe">
        <div class="section-title">europe</div>
        <ul>
            <li class="i-flag i-fr"><a href="http://eu.christianlouboutin.com/fr_fr/">France</a></li>
            <li class="i-flag i-lu"><a href="http://eu.christianlouboutin.com/lu_fr/">Luxembourg</a></li>
            <li class="i-flag i-gb"><a href="http://eu.christianlouboutin.com/uk_en/">United Kingdom</a></li>
            <li class="i-flag i-be"><a href="http://eu.christianlouboutin.com/be_fr/">Belgium</a></li>
            <li class="i-flag i-it"><a href="http://eu.christianlouboutin.com/it_en/">Italy</a></li>
            <li class="i-flag i-at"><a href="http://eu.christianlouboutin.com/at_en/">Austria</a></li>
            <li class="i-flag i-de"><a href="http://eu.christianlouboutin.com/de_en/">Germany</a></li>
            <li class="i-flag i-ie"><a href="http://eu.christianlouboutin.com/ie_en/">Ireland</a></li>
            <li class="i-flag i-es"><a href="http://eu.christianlouboutin.com/es_en/">Spain</a></li>
            <li class="i-flag i-pt"><a href="http://eu.christianlouboutin.com/pt_en/">Portugal</a></li>
            <li class="i-flag i-ch"><a href="http://eu.christianlouboutin.com/ch_en/">Switzerland</a></li>
            <li class="i-flag i-mc"><a href="http://eu.christianlouboutin.com/mc_fr/">Monaco</a></li>
            <li class="i-flag i-nl"><a href="http://eu.christianlouboutin.com/nl_en/">Netherlands</a></li>
            <li class="i-flag i-gr"><a href="http://eu.christianlouboutin.com/gr_en/">Greece</a></li>
        </ul>
    </div>
    <div class="section pacific">
        <div class="section-title">asia pacific</div>
        <ul>
            <li class="i-flag i-hk_and_mo"><a href="http://asia.christianlouboutin.com/hk_en/">Hong Kong &amp; Macau</a></li>
            <li class="i-flag i-au"><a href="http://asia.christianlouboutin.com/au_en/">Australia</a></li>
            <li class="i-flag i-my"><a href="http://asia.christianlouboutin.com/my_en/">Malaysia</a></li>
            <li class="i-flag i-sg"><a href="http://asia.christianlouboutin.com/sg_en/">Singapore</a></li>
            <li class="i-flag i-tw"><a href="http://asia.christianlouboutin.com/tw_tc/">Taiwan</a></li>
            <li class="i-flag i-jp"><a href="http://jp.christianlouboutin.com/jp_ja/">Japan</a></li>
            <li class="i-flag i-other_sch"><a href="http://asia.christianlouboutin.com/cn_sc/">China</a></li>
        </ul>
    </div>
</div>