<?php /** @var \Project\Rma\Block\Order\Search $block */ ?>
<?php /** @var \Magento\Sales\Model\Order $order */ ?>
<?php $order = $block->getOrder(); ?>

<form class="form form-order-search" data-mage-init='{"validation":{}}' action="<?php echo $block->getActionUrl() ?>"
      method="post" name="guest_post">
    <fieldset class="fieldset">
        <p><?php echo __('To begin your return request, please enter your order number and the email address from your purchase in the fields below.'); ?></p>

        <div class="field required">
            <div class="control">
                <input type="email" class="input-text" id="oar_email" name="order_email"
                       data-validate="{required:true, 'validate-email':true}" placeholder="<?php echo __('Email') ?> *"/>
            </div>
        </div>
        <div class="field required">
            <div class="control">
                <input type="text" class="input-text" id="order_id" name="order_id"
                       data-validate="{required:true}" placeholder="<?php echo __('Order Number') ?> *"/>
            </div>
        </div>
    </fieldset>
    <div class="actions-toolbar">
        <div class="primary">
            <button type="submit" title="<?php echo __('Search') ?>" class="action submit secondary">
                <span><?php echo __('Search') ?></span>
            </button>
        </div>
    </div>
</form>

<?php if ($order) : ?>
    <table>
        <thead>
            <tr>
                <th><?php echo __('Order #'); ?></th>
                <th><?php echo __('Ship To'); ?></th>
                <th><?php echo __('Order Status'); ?></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><?php echo $order->getIncrementId(); ?></td>
                <td><?php echo $block->getShipTo(); ?></td>
                <td><?php echo $order->getStatusLabel(); ?></td>
                <td><?php echo $block->getMessage(); ?></td>
                <td><a href="<?php echo $block->getOrderUrl(); ?>"><?php echo __('View order'); ?></a></td>
            </tr>
        </tbody>
    </table>
<?php endif; ?>
