<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label">

            <!-- ko if: showLogo() -->
            <div data-bind="attr: { 'class': 'adyen-sprite ' + getCode() }"></div>
            <!--/ko-->

            <span data-bind="text: getTitle()"></span>

            <img data-bind="attr: { src: require.toUrl('Project_Adyen/images/visa.png') }" />
            <img data-bind="attr: { src: require.toUrl('Project_Adyen/images/amex.png') }" />
            <img data-bind="attr: { src: require.toUrl('Project_Adyen/images/mc.png') }" />

        </label>
    </div>

    <div class="payment-method-content">

        <!-- ko ifnot: (getOriginKey()) -->
        <span class="message message-error error"><!-- ko text: $t('Please configure an API Key and a live endpoint prefix(if in Production Mode) in your Adyen Required Settings')-->
            <!-- /ko --></span>
        <!--/ko-->

        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>


        <form class="form" id="adyen-cc-form" data-role="adyen-cc-form" action="#" method="post" data-bind="mageInit: {
            'transparent':{
                'context': context(),
                'controller': getControllerName(),
                'orderSaveUrl':getPlaceOrderUrl(),
            }, 'validation':[]}">


            <!-- ko foreach: getRegion('messages') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->


            <fieldset
                    data-bind="attr: {class: 'fieldset payment items ccard ' + getCode(), id: 'payment_form_' + getCode()}">
                <!-- ko if: (isShowLegend())-->
                <legend class="legend">
                    <span><!-- ko text: $t('Credit Card Information')--><!-- /ko --></span>
                </legend>
                <br/>
                <!-- /ko -->

                <!-- ko if: (areComboCardsEnabled())-->
                <div class="field required">
                    <label for="adyen-combo-card-select">
                        <!--ko text: $t('Select debit or credit card')--><!-- /ko -->
                    </label>
                    <div class="control">
                        <select id="adyen-combo-card-select"
                                class="select"
                                name="payment[combo_card_method]"
                                data-bind="value: comboCardOption"
                        >
                            <option value="credit"><!--ko text: $t('Credit Card')--><!-- /ko --></option>
                            <option value="debit"><!--ko text: $t('Debit Card')--><!-- /ko --></option>
                        </select>
                    </div>
                </div>
                <!-- /ko -->

                <div class="field number cardContainerField">
                    <div class="checkout-component-dock" afterRender="renderSecureFields()" data-bind="attr: { id: 'cardContainer'}"></div>
                </div>

                <div id="threeDS2Wrapper">
                    <div id="threeDS2Modal">
                        <div id="threeDS2Container"></div>
                    </div>
                </div>


                <!-- ko if: (hasInstallments())-->

                <div class="field required"
                     data-bind="attr: {id: getCode() + '_installments_div'}, visible: installments().length > 0">
                    <label data-bind="attr: {for: getCode() + '_installments'}" class="label">
                        <span><!-- ko text: $t('Installments')--><!-- /ko --></span>
                    </label>
                    <div class="control">

                        <select class="select"
                                name="payment[number_of_installments]"
                                data-bind="attr: {id: getCode() + '_installments', 'data-container': getCode() + '-installments', 'data-validate': JSON.stringify({required:false})},

                                        enable: isActive($parents),
                                        options: installments,
                                        optionsValue: 'value',
                                        optionsText: 'key',
                                        optionsCaption: $t('Do not use Installments'),
                                        value: installment"
                                data-validate="{required:true}">
                        </select>
                    </div>
                </div>


                <!-- /ko -->

                <!-- ko if: (isVaultEnabled())-->
                <div class="field choice">
                    <input type="checkbox"
                           name="vault[is_enabled]"
                           class="checkbox"
                           data-bind="attr: {'id': getCode() + '_enable_vault'}, checked: vaultEnabler.isActivePaymentTokenEnabler"/>
                    <label class="label" data-bind="attr: {'for': getCode() + '_enable_vault'}">
                        <span><!-- ko i18n: 'Save for later use.'--><!-- /ko --></span>
                    </label>
                </div>
                <!-- /ko -->

            </fieldset>
        </form>

        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>


        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="click: placeOrder,
                        attr: {title: $t('Place Order')},
                        enable: isButtonActive()"
                        disabled>
                    <span data-bind="text: $t('PROCEED')"></span>
                </button>
            </div>
        </div>
    </div>
</div>

