//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .wishlist {
        .product-items {
            li {
                .product-item-info{
                 span {
                     span{
                         span{
                               padding-left: 5px;
                         }
                     }
                 }
                }
                .product-item-photo {
                    img {
                        height: auto;
                    }
                }
            }
        }
    }
    .form.wishlist.items {
        .actions-toolbar {
            &:extend(.abs-reset-left-margin all);
        }

        .empty-size {
            margin: 5px;
        }
    }

    .block-bundle-summary,
    .product-item,
    .table-comparison {
        .action.towishlist {
            &:extend(.abs-actions-addto all);
            .lib-icon-font-symbol(
            @_icon-font-content: @icon-wishlist-full,
            @_icon-font-position: before
            );
        }
    }

    .account .table-wrapper .data.table.wishlist {
        .lib-table-bordered(
        @_table_type: horizontal
        );

        thead > tr > th {
            border-bottom: 0;
        }

        tbody > tr:last-child > td {
            border-bottom: 1px solid @table__border-color;
        }

        .product.name {
            display: inline-block;
            margin-bottom: @indent__s;
        }

        .box-tocart {
            margin: @indent__s 0;

            .qty {
                vertical-align: middle;
                &:extend(.abs-input-qty all);
            }
        }

        .col {
            &.item {
                width: 50%;
            }

            &.photo {
                max-width: 150px;
            }

            &.selector {
                max-width: 15px;
            }
        }

        textarea {
            margin: @indent__s 0;
        }

        .input-text.qty {
            margin-bottom: @indent__s;
        }

        .action.primary {
            vertical-align: top;
        }

        .price {
            font-weight: @font-weight__bold;
        }

    }

    .link.wishlist {
        .counter {
            .lib-css(color, @text__color__muted);
            white-space: nowrap;

            &:before {
                content: '(';
            }

            &:after {
                content: ')';
            }
        }
    }

    .block-wishlist {
        .block-title {
            &:extend(.abs-block-widget-title all);
        }

        .counter {
            &:extend(.abs-block-items-counter all);
        }

        .product-item-name {
            margin-right: @indent__m;
        }
    }

    .products-grid.wishlist {
        .product {
            &-item {
                &-photo {
                    display: block;
                    margin-bottom: @indent__s;
                }

                &-name {
                    margin-top: 0;
                }

                .price-box {
                    margin: 0;
                }

                .comment-box {
                    .label {
                        &:extend(.abs-visually-hidden all);
                    }
                }

                &-comment {
                    display: block;
                    height: 42px;
                    margin: @indent__s 0;
                }

                &-actions {
                    > * {
                        margin-right: 15px;

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }

                .box-tocart {
                    input.qty {
                        &:extend(.abs-input-qty all);
                    }

                    .tocart {
                        &:extend(.abs-revert-secondary-size all);
                    }
                }
            }
        }
        .product-items > .product-item .product-item-info {
            text-align: center;
            .product-item-inner {
                margin: 0;
                padding: 0;

                .box-tocart {
                    margin: 0;
                    .unavailable.stock {
                        padding: 11px 30px 10px;
                        line-height: 1;
                        margin: 0;
                    }
                }

                .product-item-actions {
                    margin: 0;
                }
            }
            .product-item-name .product-item-link {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                display: block;
            }
        }
        ol{
            .product-item{
                font-size: 1em !important;
                .product-item-name{
                    margin-bottom: 1em;
                }
                .price-container{
                    display: block;
                    margin: 1em auto;
                }
                .tooltip.product-item-tooltip{
                    display: none;
                }
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .products-grid.wishlist {
        .product-item {
            border-bottom: 1px solid @secondary__color;

            &:first-child {
                border-top: 1px solid @secondary__color;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .products-grid.wishlist {
        margin-bottom: @indent__l;
        margin-right: -@indent__s;

        .product {
            &-item {
                padding: @indent__base @indent__s @indent__base @indent__base;
                position: relative;

                &-photo {
                    float: left;
                    margin-right: @indent__base;
                }

                &-name {
                    .lib-font-size(16);
                }

                &-actions {
                    display: block;

                    .action {
                        margin-right: 15px;

                        &:last-child {
                            margin-right: 0;
                        }

                        &.edit,
                        &.delete {
                            margin: 0 0 5px 0;
                            float: none;
                            text-align: center;
                            display: block;
                        }
                    }
                }

                .box-tocart {
                    float: left;
                    margin-right: @indent__base;

                    .stock {
                        margin-top: 7px;
                    }
                    .fieldset{
                        margin: 1em;
                    }
                }
                .product-item-actions{
                    .btn-remove.action.delete{
                        margin: 1em auto;
                        width: 100%;
                    }
                }

                .giftregisty-dropdown,
                .field.qty {
                    display: none;
                }
            }

            &-image-container {
                max-width: 80px;
            }
        }
    }

    .wishlist-index-index {
        .product {
            &-item {
                width: 100%;

                &-info {
                    width: auto;
                }
            }
        }
    }

    .cart.table-wrapper {
        .action-towishlist {
            .lib-icon-font(
            @icon-wishlist-full,
            @_icon-font-size: 18px,
            @_icon-font-line-height: 20px,
            @_icon-font-text-hide: true,
            @_icon-font-color: @minicart-icons-color,
            @_icon-font-color-hover: @primary__color,
            @_icon-font-color-active: @minicart-icons-color
            );
        }
    }
    #wishlist-view-form {
        .products-grid.wishlist .product-item {
            padding: 20px 10px;
            margin-bottom: 0;
            .product-item-info {
                margin: 0;
                .product-item-inner .box-tocart{
                    float: none;
                    .tocart {
                        padding: 13px;
                    }
                    .unavailable.stock {
                        padding: 0;
                    }
                }
            }
            .product-item-photo {
                margin-left: 0;
                margin-right: 0;
                float: none;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    .wishlist-index-index {
        .products-grid {
            .product-item-actions {
                margin: 0;
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .products-grid.wishlist {
        .product {
            &-item {
                &-info {
                    &:hover {
                        .product-item-inner {
                            display: block;
                        }
                    }
                }

                &-tooltip {
                    display: inline-block;
                }

                &-actions {
                    margin: @indent__s 0 0;

                    > * {
                        display: inline-block;
                        margin-bottom: 7px;
                        margin-top: 7px;
                    }
                }

                .fieldset {
                    display: inline-table;

                    .field.qty,
                    .product-item-actions {
                        display: table-cell;
                        vertical-align: bottom;
                    }

                    .field.qty {
                        padding-right: @indent__s;
                        display: none;
                    }

                    .unavailable.stock {
                        display: table-cell;
                        vertical-align: middle;
                    }
                }

                .box-tocart {
                    .actions-primary {
                        margin: 0;
                    }

                    .stock {
                        margin: @indent__base 0 0;
                    }
                }

                .tocart {
                    width: auto;
                }
            }
        }
    }

    .wishlist-index-index {
        .product-item-info {
            width: auto;
        }
    }

    .message.info.wishlist {
        color: @color-warm-grey;
        background: none;
        padding-left: 0;

        span:before {
            display: none;
        }

        .action-towishlist{
            background-image: none;
            background: @color-button-grey;
            border: 0;
            color: @color-warm-grey;
            display: inline-block;
            font-family: @font-family-name__frutiger, @font-family__sans-serif;
            font-weight: 400;
            padding: 13px 20px 13px;
            font-size: 12px;
            line-height: 1;
            vertical-align: middle;
            text-transform: uppercase;
            letter-spacing: 1px;
            margin-left: 14%;
            margin-top: 2%;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .wishlist-index-index {
        .product-item-inner {
            @_shadow: none;

            .lib-css(background, @color-white);
            .lib-css(border, 0);
            .lib-css(box-shadow, @_shadow);
            border-top: none;
            left: 0;
            margin: 35px 0 0 -1px;
            padding: 0 9px 9px;
            right: -1px;
            z-index: 2;

            .comment-box {
                margin-top: -18px;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .wishlist-index-index {
        .products-grid {
            .product-items {
                margin: 0;
            }

            .product-item {
                margin-bottom: @indent__base;
                margin-left: calc(~'(100% - 4 * 24.439%) / 3');
                padding: 0;
                width: 24.439%;

                &:nth-child(4n + 1) {
                    margin-left: 0;
                }
            }
        }
    }

    .block-wishlist-header {
        .products-grid {
            .product-items {
                & > .product-item {
                    width: 100%;
                    border-bottom: 1px solid @color-grey-four;
                    margin-bottom: @indent__base;

                    &:last-child {
                        margin: 0;
                        border: none;
                    }
                }

                .product-item-photo {
                    width: 40%;
                    float: left;
                }

                .product-item-name {
                    width: 60%;
                    float: right;
                    margin: 0 0 10px;

                    a {
                        display: block;
                        padding: 0 0 0 10px;
                        height: auto;
                        text-align: left;
                        font-size: @font-size_13;
                        line-height: 1.3;
                        .lib-font-family(@f-avenir);
                        font-weight: @font-weight__bold;
                    }
                }

                .price-box {
                    font-size: @font-size_13;
                    float: right;
                    width: 60%;
                    text-align: left;

                    .price {
                        padding: 0 0 0 10px;
                    }
                }
            }
        }

        .wishlist-view {
            border-top: 1px solid @color-grey-four;
            padding-top: 20px;
            font-size: @font-size_14;

            a {
                padding: 11px 10px;
                display: block;
                text-align: center;
                margin: 0 0 15px;
            }

        }
    }
}
