<!--@subject {{trans "Pimgento Import Report"}} @-->
<!--@vars {
"var importType":"Pimgento cron import type",
"template config_path=\"design\/email\/footer_template\"":"Email Footer Template",
"template config_path=\"design\/email\/header_template\"":"Email Header Template"
} @-->

{{template config_path="design/email/header_template"}}

<table cellspacing="0" cellpadding="0" align="center" border="0" width="600" style="text-align:left">
    <tr>
        <td valign="top" style="color: #454545">

            <p>Pimgento Cron Error:</p>
        </td>
        <td>
            <p>There has been an error while running pimgento <strong>{{var importType}}</strong> import.</p>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <p>Pimgento import is now locked.</p>
            <p>Fix the problem and unlock cron in BO.</p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}