<!--@subject {{trans "Pimgento Import Report"}} @-->
<!--@vars {
"var reportGrid|raw":"Report Data Grid",
"template config_path=\"design\/email\/footer_template\"":"Email Footer Template",
"template config_path=\"design\/email\/header_template\"":"Email Header Template"
} @-->

{{template config_path="design/email/header_template"}}

<table cellspacing="0" cellpadding="0" align="center" border="0" width="600" style="text-align:left">
    <tr>
        <td valign="top" style="color: #454545">

            <p>Pimgento import report.</p>
        </td>
    </tr>
</table>

{{var reportGrid|raw}}

{{template config_path="design/email/footer_template"}}