//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .checkout-agreements {
        margin-bottom: @indent__base;

        input[type="checkbox"] {
            vertical-align: top;
        }

        label button {
            max-width: 80%;
            text-align: left;

            &:focus {
                .lib-css(box-shadow, none);
            }
        }

        .action-show {
            &:extend(.abs-action-button-as-link all);
            vertical-align: baseline;
            text-transform: none;
            letter-spacing: inherit;
            font-size: @font-size_14;
        }
    }

    .place-order-bottom {
        .checkout-agreements {
            margin-left: 10%;
        }

        .actions-toolbar {
            .primary {
                button {
                    padding: 15px 50px;
                }
            }
        }
    }

    //  Checkout Agreements in popup
    .checkout-agreements-items {
        &:extend(.abs-reset-list all);
        padding-bottom: @indent__l;

        .checkout-agreements-item {
            margin-bottom: @indent__base;
        }

        .checkout-agreements-item-title {
            &:extend(.abs-checkout-title all);
            border-bottom: 0;
        }
    }

    //  Checkout Agreements
    .checkout-agreement-item-content {
        overflow: auto;
    }

    .checkout-agreements-item-content {
        .content {
            padding-top: 100px;
        }
    }
}
