//
//  Variables
//  _____________________________________________

@checkout-wrapper__margin: @indent__base;
@checkout-wrapper__columns: 16;

@checkout-step-title__border: 0 solid @color-gray80;
@checkout-step-title__font-size: @font-size_20;
@checkout-step-title__font-weight: @font-weight__bold;
@checkout-step-title__padding: 20px;

@checkout-step-title-mobile__font-size: @font-size_20;

@checkout-step-content-mobile__background: @color-pale-grey;
@checkout-step-content-mobile__margin-s: 20px;
@checkout-step-content-mobile__margin: @indent__base -(@checkout-step-content-mobile__margin-s) @checkout-step-content-mobile__margin-s;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .checkout-index-index {
        .page-title-wrapper {
            &:extend(.abs-visually-hidden all);
        }
    }

    .checkout-container {
        &:extend(.abs-add-clearfix all);
        .lib-css(margin, 0 0 @checkout-wrapper__margin);
    }

    .opc-wrapper {
        .lib-css(margin, 0 0 @checkout-wrapper__margin);

        .opc {
            &:extend(.abs-reset-list all);
        }

        .step-title {
            &:extend(.abs-checkout-title all);
            color: @color-black;
            padding-bottom: 50px;
        }

        .step-content {
            margin: 0 0 @indent__xl;
        }
    }

    .checkout-index-index {
        .logo {
            margin-left: 0;
        }
    }

    .checkout-onepage-success {
        &:extend(.abs-add-clearfix all);

        .print {
            display: none;
        }

        .checkout-success {
            .actions-toolbar {
                margin-top: 20px;
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .opc-wrapper {
        .step-title {
            .lib-css(font-size, @checkout-step-title-mobile__font-size);
            border-bottom: 0;
            padding-bottom: 30px;
        }

        .step-content {
            .lib-css(margin, 0 0 @checkout-step-content-mobile__margin-s);
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .checkout-container {
        form {
            ._with-tooltip {
                .field-tooltip-content {
                    right: 0;
                    left: inherit;
                    max-width: 237px;
                    top: 40px;

                    &:before,
                    &:after {
                        .lib-css(transform, rotate(90deg), 1);
                        top: -20px;
                        right: 0;
                        left: inherit;
                    }
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .opc-wrapper {
        &:extend(.abs-add-box-sizing-desktop-m all);
        .lib-layout-column(2, 1, @checkout-wrapper__columns);
        padding-right: @indent__l;
    }

    .checkout-onepage-success {
        .print {
            display: block;
            float: right;
            margin: 23px 0 0;
        }
        .email-sent {
            display: inline-block;
            &:after {
                content: ' ';
                display: inline-block;
            }
        }
    }
}

.more-detail-message {
    color: red;
}

.cart.table-wrapper {
    .product-item-details {
        .col.subtotal,
        .col.qty{
            width: 100%;
        }
    }
}

