//
//  Variables
//  _____________________________________________

@checkout-modal-popup__width: 800px;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .checkout-index-index {
        .modal-popup {
            .field-tooltip {
                .field-tooltip-content {
                    &:extend(.abs-checkout-tooltip-content-position-top all);
                }
            }

            .fieldset {
                .field {
                    .label {
                        font-weight: @font-weight__regular;
                    }
                }
            }

            .modal-footer {
                .action-hide-popup {
                    &:extend(.abs-action-button-as-link all);
                    margin-top: 8px;
                }

                .action-primary {
                    &:focus {
                        .lib-css(box-shadow, 0px 2px 2px 0 @color-grey);
                    }
                }
            }

            #shipping-new-address-form  {
                .jppostcode {
                    font-size: 0;
                }

                .zipcode1,
                .zipcode2 {
                    margin-bottom: 10px;
                    width: 48%;
                    display: inline-block;
                    vertical-align: bottom;

                    label {
                        font-size: @font-size_11;
                    }
                }

                .zipcode2 {
                    float: right;
                }

                .jppostcode-separator {
                    display: inline-block;
                    width: 4%;
                    text-align: center;
                    font-size: @font-size_14;
                    line-height: 34px;
                    margin-bottom: 10px;
                }

                .jp-address-fill {
                    margin-bottom: 10px;
                }

                .jp-address-fill + p {
                    font-size: @font-size_14;
                    margin: 0;
                    vertical-align: middle;
                }
            }
        }

        &.ja-jp {
            .modal-popup {
                #shipping-new-address-form  {
                    div[name="shippingAddress.postcode"] {
                        label {
                            display: none;
                        }

                        .zipcode1,
                        .zipcode2 {
                            label {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .checkout-index-index {
        .modal-popup {
            .modal-footer {
                .action-save-address {
                    width: 100%;
                }

                .action-hide-popup {
                    margin-top: @indent__base;
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .checkout-index-index {
        .modal-popup {
            .form-shipping-address {
                .lib-css(max-width, @checkout-shipping-address__max-width);

                .jp-address-fill,
                .jp-address-fill + p {
                    margin: 0 0 20px;
                    display: inline-block;
                }

                .jp-address-fill {
                    margin-top: 20px;
                    margin-right: 20px;
                }
            }

            .modal-footer {
                .action-save-address {
                    float: right;
                    margin: 0 0 0 @indent__base;
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .checkout-index-index {
        .modal-popup {
            .modal-inner-wrap {
                .lib-css(margin-left, -(@checkout-modal-popup__width/2));
                .lib-css(width, @checkout-modal-popup__width);
                left: 50%;
            }
        }
    }
}
