//
//  Variables
//  _____________________________________________

@checkout-progress-bar__font-size: 18px;
@checkout-progress-bar__font-weight: @font-weight__light;
@checkout-progress-bar__margin: @indent__base;

@checkout-progress-bar-item__background-color: @color-gray-middle1;
@checkout-progress-bar-item__border-radius: 6px;
@checkout-progress-bar-item__color: @color-gray40;
@checkout-progress-bar-item__margin: 0 2% 0 0;
@checkout-progress-bar-item__transition: background .3s;
@checkout-progress-bar-item__width: 26%;

@checkout-progress-bar-item__active__background-color: @color-orange-red1;
@checkout-progress-bar-item__active__color: @color-louboutin-red;
@checkout-progress-bar-item__active__font-weight: @font-weight__light;
@checkout-progress-bar-item__complete__color: @link__color;
@checkout-progress-bar-item__hover__background-color: darken(@checkout-progress-bar-item__background-color, 5%);

@checkout-progress-bar-item-element__height: @checkout-progress-bar-item-element__width;
@checkout-progress-bar-item-element__width: 38px;

@checkout-progress-bar-item-element-inner__background-color: @page__background-color;
@checkout-progress-bar-item-element-inner__border-color: @color-gray80;
@checkout-progress-bar-item-element-inner__color: @primary__color;
@checkout-progress-bar-item-element-inner__height: @checkout-progress-bar-item-element-inner__width;
@checkout-progress-bar-item-element-inner__width: @checkout-progress-bar-item-element__width - ( @checkout-progress-bar-item-element-outer-radius__width*2 );
@checkout-progress-bar-item-element-inner__active__border-color: @color-orange-red1;
@checkout-progress-bar-item-element-inner__active__content: @icon-checkmark;

@checkout-progress-bar-item-counter__background-color: @color-grey-eight;
@checkout-progress-bar-item-counter__border-radius: 16px;
@checkout-progress-bar-item-counter__color: @color-white;
@checkout-progress-bar-item-counter__padding: 8px 0;
@checkout-progress-bar-item-counter__margin: 0 10px 0 0;
@checkout-progress-bar-item-counter__width: 30px;
@checkout-progress-bar-item-counter__line-height: 1;
@checkout-progress-bar-item-counter__font-size: @font-size_14;
@checkout-progress-bar-item-counter__active__background-color: @color-louboutin-red;
@checkout-progress-bar-item-counter__active__color: @color-white;
@checkout-progress-bar-item-counter__complete__color: @color-white;

@checkout-progress-bar-item-step__font-size: @font-size_11;
@checkout-progress-bar-item-step__text-transform: uppercase;
@checkout-progress-bar-item-step__letter-spacing: 1px;
@checkout-progress-bar-item-step__color: @color-grey-eight;
@checkout-progress-bar-item-step__margin: 0 20px 0 0;
@checkout-progress-bar-item-step__max-width: 100%;

@checkout-progress-bar-item-element-outer-radius__width: 6px;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Checkout Progress Bar
    //  ---------------------------------------------

    .opc-progress-bar {
        display: none;
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    .opc-progress-bar {
        .lib-css(margin, 10px 0 @checkout-progress-bar__margin);
        counter-reset: i;
        display: block;
        font-size: 0;
        padding: 0;
    }

    .opc-progress-bar-item {
        .lib-css(margin, @checkout-progress-bar-item__margin);
        .lib-css(width, @checkout-progress-bar-item__width);
        display: inline-block;
        position: relative;
        text-align: left;
        vertical-align: middle;
        overflow: hidden;

        &:first-child {
            &:before {
                .lib-css(border-radius, @checkout-progress-bar-item__border-radius 0 0 @checkout-progress-bar-item__border-radius);
            }
        }

        &:last-child {
            &:before {
                .lib-css(border-radius, 0 @checkout-progress-bar-item__border-radius @checkout-progress-bar-item__border-radius 0);
            }

            &:after {
                display: none;
            }
        }

        > span {
            display: inline-block;
            word-wrap: break-word;
            vertical-align: middle;

            .lib-typography(
            @_color: @checkout-progress-bar-item__color,
            @_font-family: false,
            @_font-size: @checkout-progress-bar__font-size,
            @_font-style: false,
            @_font-weight: @checkout-progress-bar__font-weight,
            @_line-height: false
            );
        }

        &._complete {
            cursor: pointer;

            &:hover {
                &:before {
                    .lib-css(background, @checkout-progress-bar-item__hover__background-color);
                }

                > span {
                    &:before {
                        .lib-css(background, @checkout-progress-bar-item__hover__background-color);
                    }
                }
            }

            > span {
                .lib-css(color, @checkout-progress-bar-item__complete__color);

                &.opc-progress-bar-item-counter {
                    .lib-css(color, @checkout-progress-bar-item-counter__complete__color);
                }
            }
        }

        &._active {
            &:before {
                .lib-css(background, @checkout-progress-bar-item__active__background-color);
                .lib-css(border-color, @checkout-progress-bar-item-element-inner__active__border-color);
            }

            > span {
                .lib-css(color, @checkout-progress-bar-item__active__color);
                .lib-css(font-weight, @checkout-progress-bar-item__active__font-weight);
            }

            .opc-progress-bar-item-counter {
                background-color: @checkout-progress-bar-item-counter__active__background-color;
                color: @checkout-progress-bar-item-counter__active__color;
            }
        }

        .opc-progress-bar-item-counter {
            background: @checkout-progress-bar-item-counter__background-color;
            width: @checkout-progress-bar-item-counter__width;
            padding: @checkout-progress-bar-item-counter__padding;
            margin: @checkout-progress-bar-item-counter__margin;
            color: @checkout-progress-bar-item-counter__color;
            .lib-css(border-radius, @checkout-progress-bar-item-counter__border-radius, 1);
            line-height: @checkout-progress-bar-item-counter__line-height;
            font-size: @checkout-progress-bar-item-counter__font-size;
            text-align: center;
        }

        .opc-progress-bar-item-step {
            font-size: @checkout-progress-bar-item-step__font-size;
            color: @checkout-progress-bar-item-step__color;
            margin: @checkout-progress-bar-item-step__margin;
            text-transform: @checkout-progress-bar-item-step__text-transform;
            letter-spacing: @checkout-progress-bar-item-step__letter-spacing;
            max-width: @checkout-progress-bar-item-step__max-width;
        }

        &:after {
            content: "";
            background: @color-grey-eight;
            height: 3px;
            display: inline-block;
            position: absolute;
            top: 50%;
            .lib-css(transform, translateY(-50%), 1);
            width: 100%;
        }
    }
}
