<article class="easycms-block blog-submenu-article">
    <div class="first-half-submenu">
        <div class="title-article">
            <a title="Paris est une fête !" href="{{store url='from-draft-to-craft-christian-louboutin-unveils-a-new-store-on-rue-saint-honor'}}">
                Paris est une fête !
            </a>
            <div class="read-more-article">
                <a title="Paris est une fête !" href="{{store url='from-draft-to-craft-christian-louboutin-unveils-a-new-store-on-rue-saint-honor'}}">
                    Lire l'article
                </a>
            </div>
        </div>
    </div>
    <div class="second-half-submenu">
        <div class="image-background">
            <a title="Paris est une fête !" href="{{store url='from-draft-to-craft-christian-louboutin-unveils-a-new-store-on-rue-saint-honor'}}">
                <img class="img-article-src" src="{{media url='cms/blog/post_850_162_slider_cabaraparis_2.jpg'}}" alt=""/>
            </a>
        </div>
    </div>
</article>
