<div class="top-bar">
    <ul class="left">
        <li id="blog-title"><a title="Actualités" href="{{store url='news'}}">Actualités</a></li>
        <li id="blog-article-title">Le Nude vous va si bien !</li>
    </ul>
</div>

