<div class="top-bar">
    <ul class="left">
        <li id="blog-title"><a title="Actualités" href="{{store url='news'}}">Actualités</a></li>
        <li id="blog-article-title">CHRISTIAN LOUBOUTIN PRÉSENTE SA COLLECTION AUTOMNE-HIVER 2020</li>
    </ul>
</div>

