<p>Attention à la tête ! La peinture est tout juste sèche ! Les derniers éléments de décor viennent d’arriver, ils seront bientôt déballés !</p>
<br><img title="Christian Louboutin inaugure une nouvelle boutique rue Saint-Honoré" src="{{media url='cms/blog/200716_boutique_400_st_honore_03_ok.jpg'}}" alt="Christian Louboutin inaugure une nouvelle boutique rue Saint-Honoré" width="800">
<br><p>C’est sur l’emblématique rue Saint Honoré que Christian Louboutin installe sa nouvelle vitrine qui mettra en scène les collections homme et femme du créateur. Sur trois étages, la boutique de 260 mètres carrés déploie un concept unique mêlant les éléments signature de la Maison, agrémentés de clins d’œil à la première boutique du créateur ouverte galerie Véro-Dodat en 1991. Le rouge est omniprésent, les arches rythment les murs et ponctuent les changements d’espace alors que les moulures et décors sont peints à même le mur. La boutique est sur le point d'ouvrir, ne manquent plus que les dernières touches à apporter.</p>
<br><img title="Christian Louboutin inaugure une nouvelle boutique rue Saint-Honoré" src="{{media url='cms/blog/200716_BOUTIQUE_400_ST_HONORE_02_ok.jpg'}}" alt="Christian Louboutin inaugure une nouvelle boutique rue Saint-Honoré" width="800">
<br><p>Subtil équilibre entre l’esquisse et le décor, les traits de pinceau se transforment en écailles de céramique vermillon ou en miroirs. Les plinthes et autres stèles s’habillent de stuc brut alors que la peinture n’est parfois appliquée aux murs que jusqu’à hauteur d’homme, les échelles étant utilisées pour mettre en scène les souliers de la nouvelle collection, là où les caisses à outils d’artisans partis trop vite ont été détournées en podium. Dans leur précipitation, ils en ont même oublié de faire disparaitre leurs côtes et autres annotations techniques.</p>
<p>Nimbés de vermillon, de pourpre, de nude et de bleu roi, le rez-de-chaussée et le premier étage de la boutique sont dédiés aux collections femme. Le deuxième étage fait lui la part belle aux collections homme.</p>
<br><img title="Christian Louboutin inaugure une nouvelle boutique rue Saint-Honoré" src="{{media url='cms/blog/200716_BOUTIQUE_400_ST_HONORE_01_ok.jpg'}}" alt="Christian Louboutin inaugure une nouvelle boutique rue Saint-Honoré" width="800">
<br><p>Pourtant si chers à Christian Louboutin, les animaux naturalisés n’ont pas eu le temps d’arriver jusqu’à destination avant l’ouverture. Tigres d’Abyssinie, éléphants de Siam et autres lémuriens de Madagascar peuplent l’espace à travers leurs répliques en papier kraft verni.</p>
<p>Aux côtés des collections de souliers et d’accessoires homme et femme seront présentées, en exclusivité, les bottes Levitibotta Strass disponibles en six exemplaires dans le monde ainsi que la collection des Nudes, pour homme et femme.</p>
<br><img title="Christian Louboutin inaugure une nouvelle boutique rue Saint-Honoré" src="{{media url='cms/blog/200716_BOUTIQUE_400_ST_HONORE_VITRINE.jpg'}}" alt="Christian Louboutin inaugure une nouvelle boutique rue Saint-Honoré" width="800">
<p>Boutique Christian Louboutin</p>
<p>400 rue Saint-Honoré, Paris 1er</p>
