<article class="easycms-block blog-article">
    <div class="first-half-article">
        <div class="date-article">
            <p>10.07.20</p>
        </div>
        <div class="title-article">
            <a title="Paris est une fête !" href="{{store url='therea-s-only-one-cabaraparis'}}">
                Paris est une fête !
            </a>
        </div>
        <div class="read-more-article">
            <a title="Paris est une fête !" href="{{store url='therea-s-only-one-cabaraparis'}}">
                Lire la suite >
            </a>
        </div>
    </div>
    <div class="second-half-article">
        <div class="image-background">
            <a title="Paris est une fête !" href="{{store url='therea-s-only-one-cabaraparis'}}">
                <img class="Paris est une fête !" src="{{media url='cms/blog/slider_cabaraparis_2.jpg'}}" alt="Paris est une fête !"/>
            </a>
        </div>
    </div>
</article>
