<div class="louboutinworld-container">
    <div class="bolt">&nbsp;</div>
    <div class="actualites-menu-title">
        <ul class="louboutinworld-column-trigger">
            <li id="blog-title">
                <a title="Actualités" href="{{store url='news'}}">Actualités</a>
            </li>
        </ul>
    </div>
    <div class="louboutinworld-right-container">
        <div class="news">
            <div class="louboutinworld-menu-news">
                <span class="louboutinworld-submenu-title">
                    <a title="Actualités" href="{{store url='news'}}"> Actualités </a>
                </span>
                <a class="all-articles-submenu" title="Actualités" href="{{store url='news'}}"> Tous les articles </a>
                <div class="article-bloc-list">
                    <article class="easycms-block blog-submenu-article">
                        <div class="first-half-submenu">
                            <div class="title-article">
                                <a title="Du coup de crayon au coup de pinceau il n’y a qu’un pas : Christian Louboutin inaugure une nouvelle boutique rue Saint-Honoré" href="{{store url='from-draft-to-craft-christian-louboutin-unveils-a-new-store-on-rue-saint-honor'}}">
                                    Du coup de crayon au coup de pinceau il n’y a qu’un pas : Christian Louboutin inaugure une nouvelle boutique rue Saint-Honoré
                                </a>
                                <div class="read-more-article">
                                    <a title="Du coup de crayon au coup de pinceau il n’y a qu’un pas : Christian Louboutin inaugure une nouvelle boutique rue Saint-Honoré" href="{{store url='from-draft-to-craft-christian-louboutin-unveils-a-new-store-on-rue-saint-honor'}}">
                                        Lire l'article
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="second-half-submenu">
                            <div class="image-background">
                                <a title="Du coup de crayon au coup de pinceau il n’y a qu’un pas : Christian Louboutin inaugure une nouvelle boutique rue Saint-Honoré" href="{{store url='from-draft-to-craft-christian-louboutin-unveils-a-new-store-on-rue-saint-honor'}}">
                                    <img class="img-article-src" src="{{media url='cms/blog/post_854_162_200716_boutique_400_st_honore_03_ok.jpg'}}" alt=""/>
                                </a>
                            </div>
                        </div>
                    </article>
                    <article class="easycms-block blog-submenu-article">
                        <div class="first-half-submenu">
                            <div class="title-article">
                                <a title="Paris est une fête !" href="{{store url='from-draft-to-craft-christian-louboutin-unveils-a-new-store-on-rue-saint-honor'}}">
                                    Paris est une fête !
                                </a>
                                <div class="read-more-article">
                                    <a title="Paris est une fête !" href="{{store url='from-draft-to-craft-christian-louboutin-unveils-a-new-store-on-rue-saint-honor'}}">
                                        Lire l'article
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="second-half-submenu">
                            <div class="image-background">
                                <a title="Paris est une fête !" href="{{store url='from-draft-to-craft-christian-louboutin-unveils-a-new-store-on-rue-saint-honor'}}">
                                    <img class="img-article-src" src="{{media url='cms/blog/post_850_162_slider_cabaraparis_2.jpg'}}" alt=""/>
                                </a>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
