<img title="Christian Louboutin presents his Fall-Winter 2020 collection" src="{{media url='cms/blog/0R5A4832.jpg'}}" alt="Christian Louboutin presents his Fall-Winter 2020 collection" width="800">
<p>Innovation, réinvention, et bien sûr, plus d’un coup de théâtre : comme toujours, la nouvelle saison de Christian Louboutin promet de nous surprendre par son originalité. Prouvant une fois de plus que tout peut être source d'inspiration, le créateur a présenté sa collection Automne-Hiver 2020 à l'École des Beaux-Arts de Paris.</p>
<br><img title="Christian Louboutin presents his Fall-Winter 2020 collection" src="{{media url='cms/blog/0R5A4876.jpg'}}" alt="Christian Louboutin presents his Fall-Winter 2020 collection" width="800">
<p>Bleu cyan, jaune acidulé ou encore rose bonbon, les tons vifs étaient au rendez-vous avec une mise en scène inspirée de la palette de cette collection haute en couleur. Jamais dépourvue de sa touche d’humour enjouée, la présentation fut présidée par une sculpture géante de 6 mètres à l’effigie de l’alter ego Wonder Loubi de Christian, le représentant avec un béret et, bien entendu, une paire de sneakers à spikes signature aux pieds.</p>
<br><img title="Christian Louboutin presents his Fall-Winter 2020 collection" src="{{media url='cms/blog/0R5A4726.jpg'}}" alt="Christian Louboutin presents his Fall-Winter 2020 collection" width="800">
<br><img title="Christian Louboutin presents his Fall-Winter 2020 collection" src="{{media url='cms/blog/0R5A4887.jpg'}}" alt="Christian Louboutin presents his Fall-Winter 2020 collection" width="800">
<p>De nombreuses célébrités et influenceurs dont Ikram Abdi, Sita Abellan, Clara Berry, Courtney Trop, Heizle, Ami et Aya Suziki, ont été invités à découvrir la collection en avant-première.</p>
<br><img title="Ikra Mabdi attending Christian Louboutin presentation of his Fall-Winter 2020 collection" src="{{media url='cms/blog/0R5A5756.jpg'}}" alt="Ikra Mabdi attending Christian Louboutin presentation of his Fall-Winter 2020 collection" width="800">
<p><em>Ikra Mabdi à la presentation de la nouvelle collection Automne-Hiver 2020</em></p>
<br><img title="Ami and Aya Suzuki attending Christian Louboutin presentation of his Fall-Winter 2020 collection" src="{{media url='cms/blog/0R5A5926.jpg'}}" alt="Ami and Aya Suzuki attending Christian Louboutin presentation of his Fall-Winter 2020 collection" width="800">
<p><em>Christian Louboutin, Ami et Aya Suzuki à la presentation de la nouvelle collection Automne-Hiver 2020</em></p>
<br><img title="Sita Abellan attending Christian Louboutin presentation of his Fall-Winter 2020 collection" src="{{media url='cms/blog/0R5A5221.jpg'}}" alt="Sita Abellan attending Christian Louboutin presentation of his Fall-Winter 2020 collection" width="800">
<p><em>Sita Abellan à la presentation de la nouvelle collection Automne-Hiver 2020</em></p>
<br><img title="Heizle attending Christian Louboutin presentation of his Fall-Winter 2020 collection" src="{{media url='cms/blog/0R5A5050.jpg'}}" alt="Heizle attending Christian Louboutin presentation of his Fall-Winter 2020 collection" width="800">
<p><em>Heizle à la presentation de la nouvelle collection Automne-Hiver 2020</em></p>
<br><img title="Courtney Trop attending Christian Louboutin presentation of his Fall-Winter 2020 collection" src="{{media url='cms/blog/0R5A4982.jpg'}}" alt="Courtney Trop attending Christian Louboutin presentation of his Fall-Winter 2020 collection" width="800">
<p><em>Courtney Trop à la presentation de la nouvelle collection Automne-Hiver 2020</em></p>
<br><img title="Clara Berry attending Christian Louboutin presentation of his Fall-Winter 2020 collection" src="{{media url='cms/blog/0R5A5437.jpg'}}" alt="Clara Berry attending Christian Louboutin presentation of his Fall-Winter 2020 collection" width="800">
<p><em>Clara Berry à la presentation de la nouvelle collection Automne-Hiver 2020</em></p>
<br><p>Riche d’inédits et de silhouettes iconiques réimaginées, la collection automne-hiver 2020 sera disponible en Mai.</p>
<br><img title="Christian Louboutin presents his Fall-Winter 2020 collection" src="{{media url='cms/blog/0R5A5285.jpg'}}" alt="Christian Louboutin presents his Fall-Winter 2020 collection" width="800">
