<img title="Le Nude vous va si bien !" src="{{media url='cms/blog/nudes_slider1.jpg'}}" alt="Le Nude vous va si bien !" width="800">
<br><br><p style="text-align: center;"><iframe width="560" height="315" src="https://www.youtube.com/embed/OCc8Tm1_4m0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
<br><p>Dévoilé en 2013, le concept des Nudes Christian Louboutin fut révolutionnaire dès son lancement. Mettant la diversité à l’honneur, la première collection proposait à l’époque cinq nuances de Nude. Depuis, le concept n'a cessé d’évoluer et compte aujourd’hui huit nuances allant de la plus sombre à la plus claire. Introduisant de nouveaux styles pour la femme, la nouvelle collection dévoile également ses toutes premières silhouettes masculines ainsi que de deux styles unisexes.</p>
<br><p>Le premier est le Pool Stud, idéal pour les aventures estivales et doté d’une semelle épaisse en caoutchouc et de clous signature. Côté ville, la sneaker basse Louis Junior se démarque avec élégance grâce à ses lignes épurées. Chez la femme, la bottine Cheeky Point est sûre de conquérir plus d’un cœur avec sa tige en maille, son embout verni et son nœud délicat : une allure féminine qui apporte sa touche de raffinement au thème des Nudes.</p>
<br><p>Aucune collection ne serait complète sans une gamme de sacs pour transporter ses essentiels et cette saison, il y en a pour tous les goûts. Conçue pour la garde-robe masculine et féminine, la pochette LoubiLab saura apporter du style à votre quotidien grâce à ses détails caractéristiques et sa bandoulière contrastée au rouge Louboutin. Complétant l’offre, trois des sacs les plus emblématiques de la Maison, dont le sac Elisa, seront désormais disponibles en version Nude.</p>
<br><p>Avec autant d’inédits à découvrir, ne serait-il pas temps que vous vous mettiez aux Nudes ? </p>
