<article class="easycms-block blog-article">
    <div class="first-half-article">
        <div class="date-article">
            <p>22.07.20</p>
        </div>
        <div class="title-article">
            <a title="Du coup de crayon au coup de pinceau il n’y a qu’un pas : Christian Louboutin inaugure une nouvelle boutique rue Saint-Honoré" href="{{store url='from-draft-to-craft-christian-louboutin-unveils-a-new-store-on-rue-saint-honor'}}">
                Du coup de crayon au coup de pinceau il n’y a qu’un pas : Christian Louboutin inaugure une nouvelle boutique rue Saint-Honoré
            </a>
        </div>
        <div class="read-more-article">
            <a title="Du coup de crayon au coup de pinceau il n’y a qu’un pas : Christian Louboutin inaugure une nouvelle boutique rue Saint-Honoré" href="{{store url='from-draft-to-craft-christian-louboutin-unveils-a-new-store-on-rue-saint-honor'}}">
                Lire la suite >
            </a>
        </div>
    </div>
    <div class="second-half-article">
        <div class="image-background">
            <a title="Du coup de crayon au coup de pinceau il n’y a qu’un pas : Christian Louboutin inaugure une nouvelle boutique rue Saint-Honoré" href="{{store url='from-draft-to-craft-christian-louboutin-unveils-a-new-store-on-rue-saint-honor'}}">
                <img class="Du coup de crayon au coup de pinceau il n’y a qu’un pas : Christian Louboutin inaugure une nouvelle boutique rue Saint-Honoré" src="{{media url='cms/blog/200716_boutique_400_st_honore_03_ok.jpg'}}" alt="Du coup de crayon au coup de pinceau il n’y a qu’un pas : Christian Louboutin inaugure une nouvelle boutique rue Saint-Honoré"/>
            </a>
        </div>
    </div>
</article>
