<article class="easycms-block blog-article">
    <div class="first-half-article">
        <div class="date-article">
            <p>26.05.20</p>
        </div>
        <div class="title-article">
            <a title="Le Nude vous va si bien !" href="{{store url='news-nudes-collection'}}">
                Le Nude vous va si bien !
            </a>
        </div>
        <div class="read-more-article">
            <a title="Le Nude vous va si bien !" href="{{store url='news-nudes-collection'}}">
                Lire la suite >
            </a>
        </div>
    </div>
    <div class="second-half-article">
        <div class="image-background">
            <a title="Le Nude vous va si bien !" href="{{store url='news-nudes-collection'}}">
                <img class="hidden img-article-src" src="{{media url='cms/blog/nudes_slider1.jpg'}}" alt="Le Nude vous va si bien !"/>
            </a>
        </div>
    </div>
</article>
