<div class="top-bar">
    <ul class="left">
        <li id="blog-title"><a title="Actualités" href="{{store url='news'}}">Actualités</a></li>
        <li id="blog-article-title">Du coup de crayon au coup de pinceau il n’y a qu’un pas : Christian Louboutin inaugure une nouvelle boutique rue Saint-Honoré</li>
    </ul>
</div>

