<?php
// @codingStandardsIgnoreFile

/** @var $block \Project\Pimgento\Block\Email\Report */
?>
<?php if ($_products = $block->getProducts()): ?>
    <table>
        <tr>
            <th><?= /* @escapeNotVerified */  __('Sku') ?></th>
            <th><?= /* @escapeNotVerified */  __('Old status') ?></th>
            <th><?= /* @escapeNotVerified */  __('New status') ?></th>
            <th><?= /* @escapeNotVerified */  __('Update') ?></th>
            <th><?= /* @escapeNotVerified */  __('Reason') ?></th>
        </tr>
        <?php foreach ($_products as $_product): ?>
            <tr>
                <td class="col sku">
                    <p><?= /* @escapeNotVerified */ $_product['sku'] ?></p>
                </td>
                <td class="col old-status">
                    <p><?= /* @escapeNotVerified */ $_product['old_status'] ?></p>
                </td>
                <td class="col status">
                    <p><?= /* @escapeNotVerified */ $_product['status'] ?></p>
                </td>
                <td class="col update-status">
                    <p><?= /* @escapeNotVerified */ $_product['update_status'] ?></p>
                </td>
                <td class="col reason">
                    <p><?= /* @escapeNotVerified */ $_product['reason'] ?></p>
                </td>
            </tr>
        <?php endforeach; ?>
    </table>
<?php endif; ?>

<?php if ($_products = $block->getDisabledProducts()): ?>
    <table>
        <tr>
            <th><?= /* @escapeNotVerified */  __('Sku') ?></th>
            <th><?= /* @escapeNotVerified */  __('Old status') ?></th>
            <th><?= /* @escapeNotVerified */  __('New status') ?></th>
            <th><?= /* @escapeNotVerified */  __('Update') ?></th>
            <th><?= /* @escapeNotVerified */  __('Reason') ?></th>
        </tr>
        <?php foreach ($_products as $_product): ?>
            <tr>
                <td class="col sku">
                    <p><?= /* @escapeNotVerified */ $_product['sku'] ?></p>
                </td>
                <td class="col old-status">
                    <p><?= /* @escapeNotVerified */ $_product['old_status'] ?></p>
                </td>
                <td class="col status">
                    <p><?= /* @escapeNotVerified */ $_product['status'] ?></p>
                </td>
                <td class="col update-status">
                    <p><?= /* @escapeNotVerified */ $_product['update_status'] ?></p>
                </td>
                <td class="col reason">
                    <p><?= /* @escapeNotVerified */ $_product['reason'] ?></p>
                </td>
            </tr>
        <?php endforeach; ?>
    </table>
<?php endif; ?>