<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php
// phpcs:disable Magento2.Templates.ThisInTemplate.FoundThis

/**
 * Category view template
 *
 * @var $block \Magento\Catalog\Block\Category\View
 */
?>

<div class="<?php echo ( ($block->getCurrentCategory()->getDescription()) ? 'section-header' :'')?>">
    <?php
    $_helper    = $this->helper(Magento\Catalog\Helper\Output::class);
    $_category  = $block->getCurrentCategory();
    $_imgHtml   = '';
    if ($_imgUrl = $_category->getImageUrl()) {
        $_imgHtml = '<div class="category-image"><img src="'
            . $block->escapeUrl($_imgUrl)
            . '" alt="'
            . $block->escapeHtmlAttr($_category->getName())
            . '" title="'
            . $block->escapeHtmlAttr($_category->getName())
            . '" class="image" /></div>';
        $_imgHtml = $_helper->categoryAttribute($_category, $_imgHtml, 'image');
        /* @noEscape */ echo $_imgHtml;
    }
    ?>
    <?php if ($description = $block->getCurrentCategory()->getDescription()) :?>
        <div class="right-infos">
            <div class="categ-name">
                <?php echo $block->getCurrentCategory()->getName() ?>
            </div>
            <div class="category-description">
                <?php $descriptionHtml = $this->helper(Magento\Catalog\Helper\Output::class)->categoryAttribute(
                    $block->getCurrentCategory(),
                    $description,
                    'description'
                );?>
                <?php if (stripos($description, 'data-appearance="contained"') === false) :?>
                    <div data-content-type="row" data-appearance="contained" data-element="main">
                        <div data-enable-parallax="0" data-parallax-speed="0.5" data-background-images="{}" data-element="inner">
                            <div data-content-type="html" data-appearance="default" data-element="main">
                                <?= /* @noEscape */$descriptionHtml; ?>
                            </div>
                        </div>
                    </div>
                <?php else : ?>
                    <?= /* @noEscape */$descriptionHtml; ?>
                <?php endif; ?>
            </div>
        </div>
    <?php endif; ?>
</div>


