/* customizations */

/* Catalog > Product > Edit > Configuration */
.catalog-product-edit .fieldset-wrapper[data-index=configurable] .admin__control-fields[data-index=thumbnail_image_container] {
    width: 5%;
}

.adminhtml-rma-edit label[for="rma_stock_code"]:after,
.adminhtml-rma-new label[for="rma_stock_code"]:after,
.adminhtml-rma-edit .afterPickupDate,
.adminhtml-rma-new .afterPickupDate {
    display: inline-block;
    content: '*';
    color: red;
}

.adminhtml-rma-index .data-grid tr.yellow td {background-color: #faff77;}
.adminhtml-rma-index .data-grid tr.yellow:nth-child(even) td {background-color: #f2ff09;}

.adminhtml-rma-index .data-grid tr.blue td {background-color: #99ffff;}
.adminhtml-rma-index .data-grid tr.blue:nth-child(even) td {background-color: #66ffff;}

.adminhtml-rma-index .data-grid tr.purple td {background-color: #ff99ff;}
.adminhtml-rma-index .data-grid tr.purple:nth-child(even) td {background-color: #ff66ff;}
