& when (@media-common = true) {
    .filter-options-item.material-grid {
        .filter-options-content {
            .items {
                display: block;
                font-size: 0;
                letter-spacing: 0;

                .item {
                    display: inline-block;
                    width: percentage(1/2);
                    margin: 0;
                    vertical-align: top;
                    font-size: @font-size__base;

                    a {
                        position: relative;
                        display: block;
                        width: 100%;
                        padding-left: 20px;
                        font-size: @font-size_14;
                        line-height: 41px;

                        &:before {
                            content: '';
                            position: absolute;
                            top: 50%;
                            left: 0;
                            display: inline-block;
                            width: 10px;
                            height: 10px;
                            border: 1px solid @color-grey-four;
                            .lib-css(border-radius, 50%, 1);
                            .lib-css(transform, translateY(-55%), 1);
                        }
                        &.active {
                            color: @color-louboutin-red;
                            border: 0;

                            &:before {
                                background: @color-louboutin-red;
                                border: 1px solid @color-louboutin-red;
                            }
                        }
                    }
                }
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .filter-options-item.material-grid {
        .filter-options-content {
            .items {
                .item {
                    width: 100%;

                    a {
                        .lib-font-family(@font-family-name__gillsans);
                        font-weight: @font-weight__light;
                        color: @color-warm-grey;
                        font-size: 10px;
                        letter-spacing: 2px;

                        &:hover{
                            color: @color-louboutin-red;

                            &:before {
                                border: 1px solid @color-louboutin-red;
                            }
                        }
                    }
                }
            }
        }
    }
}