& when (@media-common = true) {
    .filter-options-item.color-grid {
        .filter-options-content {

            .items {
                display: block;
                font-size: 0;
                letter-spacing: 0;
                text-align: left;

                .item {
                    display: inline-block;
                    width: percentage(1/3);
                    margin: 0 0 40px;
                    vertical-align: top;
                    text-align: center;

                    &.white .image img {
                        border: solid 1px @color-grey;
                    }

                    a {
                        display: block;
                        margin: 0;
                        padding: 0;
                    }
                    .image{
                        display: inline-block;
                        width: 22px;
                        height: 22px;
                        img {
                            .lib-css(border-radius, 50%, 1);
                        }
                    }
                    .label {
                        display: block;
                        margin: 25px 0 0;
                        font-size: @font-size_10;
                        line-height: 1em;
                        color: @color-warm-grey;
                    }
                    a.active .label {
                        color: @color-louboutin-red;
                    }
                }
            }
        }
    }

    .filter.active .filter-options .filter-options-item.color-grid .filter-options-content {
        padding-top: 30px;
    }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {

    .filter-options-item.color-grid {
        .filter-options-content {
            .items {
                .item {
                    width: percentage(1/2);
                    margin: 0 0 18px;
                    vertical-align: top;
                    text-align: left;

                    .image {
                        vertical-align: middle;
                        width: 12px;
                        height: 12px;
                    }
                    .label {
                        display: inline-block;
                        vertical-align: middle;
                        margin: 0 0 0 8px;
                        font-weight: @font-weight__light;

                        &:hover {
                            color: @color-black;
                        }
                    }
                    a.active .label {
                        color: @color-louboutin-red;
                    }
                }
            }
        }
    }
}