& when (@media-common = true) {
    .filter-options-item.heel-grid {
        .filter-options-content {

            .items {
                .item {
                    margin: 0 0 10px;

                    a {
                        display: block;
                        margin: 0;
                        padding: 0;

                        .lib-project-icon(
                            @_icon-font-content: @icon-project-shoe-1,
                            @_icon-font-color: @color-black,
                            @_icon-font-size: @font-size_35
                        );
                        &.icon-2 {
                            .lib-project-icon(
                                @_icon-font-content: @icon-project-shoe-2,
                                @_icon-font-color: @color-black,
                                @_icon-font-size: @font-size_35
                            );
                        }
                        &.icon-3 {
                            .lib-project-icon(
                                @_icon-font-content: @icon-project-shoe-3,
                                @_icon-font-color: @color-black,
                                @_icon-font-size: @font-size_35
                            );
                        }
                        &.icon-4 {
                            .lib-project-icon(
                                @_icon-font-content: @icon-project-shoe-4,
                                @_icon-font-color: @color-black,
                                @_icon-font-size: @font-size_35
                            );
                        }
                    }
                    .label {
                        display: inline-block;
                        margin: 0 0 0 18px;
                        vertical-align: middle;
                        .lib-font-family(@font-family-name__gillsans);
                        font-weight: @font-weight__light;
                        font-size: @font-size_16;
                        line-height: @font-size_18;
                        color: @color-warm-grey;
                    }
                    a.active {
                        &:before {
                            color: @color-louboutin-red;
                        }
                        .label {
                            color: @color-louboutin-red;
                        }
                    }
                }
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .filter-options-item.heel-grid {
        .filter-options-content {
            .items {
                .item {
                    margin: 0 0 14px;

                    a.icon {
                        &:hover,
                        &.active {
                            &:before {
                                color: @color-louboutin-red;
                            }

                            .label {
                                color: @color-louboutin-red;
                            }
                        }
                    }
                    .label {
                        margin: 0 0 0 12px;
                        font-weight: @font-weight__light;
                        font-size: @font-size_12;
                        letter-spacing: 2px;
                        color: @color-black-title;
                    }
                }
            }
        }
    }
}