& when (@media-common = true) {

    .filter-options-item.size-grid {
        .filter-options-content {
            box-sizing: border-box;

            .items {
                display: block;
                font-size: 0;
                letter-spacing: 0;

                .item {
                    display: inline-block;
                    width: percentage(1/4);
                    vertical-align: top;
                    font-size: @font-size__base;
                    text-align: center;

                    a {
                        display: block;
                        width: 41px;
                        height: 41px;
                        margin: 0;
                        padding: 0;
                        font-size: @font-size_14;
                        line-height: 41px;
                        text-align: center;
                        border: solid 1px #e4e4e4;
                        .lib-css(border-radius, 50%, 1);

                        &.active {
                            border: solid 1px @color-louboutin-red;
                            color: @color-louboutin-red;
                        }
                    }
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .filter-options-item.size-grid {
        .filter-options-content {
            width: 300px;

            .items {
                .item {
                    width: percentage(1/3);
                    text-align: left;

                    a {
                        position: relative;
                        display: block;
                        width: 100%;
                        height: auto;
                        padding-left: 20px;
                        text-align: left;
                        border: 0;
                        font-size: @font-size_12;
                        .lib-css(border-radius, 0, 1);

                        &:before {
                            content: '';
                            position: absolute;
                            top: 50%;
                            left: 0;
                            display: inline-block;
                            width: 10px;
                            height: 10px;
                            border: 1px solid @color-grey-five;
                            .lib-css(border-radius, 50%, 1);
                            .lib-css(transform, translateY(-55%), 1);
                        }

                        &:hover{
                            color: @color-louboutin-red;

                            &:before {
                                border: 1px solid @color-louboutin-red;
                            }
                        }
                        &.active {
                            color: @color-louboutin-red;
                            border: 0;

                            &:before {
                                background: @color-louboutin-red;
                                border: 1px solid @color-louboutin-red;
                            }
                        }
                    }
                }
            }
        }
    }
}