<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

  /** @var \Project\Core\Helper\AttributeSet $attributeSetHelper */
    $attributeSetHelper = $this->helper('Project\Core\Helper\AttributeSet');

/** @var $block \Project\Sales\Block\Order\Email\Items\Order\DefaultOrder */

/** @var $_item \Magento\Sales\Model\Order\Item */
$_item = $block->getItem();
$_order = $_item->getOrder();
?>
<?php if($_item->getProduct()): ?>
<tr>
    <td class="item-info<?php if ($block->getItemOptions()): ?> has-extra<?php endif; ?>">
        <p class="product-name"><?= $block->escapeHtml($_item->getName()) ?></p>
        <?php if( $attributeSetHelper->isShoes($_item->getProduct()) || $attributeSetHelper->isBag($_item->getProduct()) ||
            $attributeSetHelper->isEyes($_item->getProduct()) ): ?>
        <p class="sku"><?= /* @escapeNotVerified */  __('SKU') ?>: <?= $block->escapeHtml($block->getSku($_item)) ?></p>
        <?php endif; ?>
        <?php if( $attributeSetHelper->isShoes($_item->getProduct()) ): ?>
        <p class="heel_height"><?= /* @escapeNotVerified */  __('Heel Height') ?>: <?= $_item->getProduct()->getAttributeText('heel_height_map') ?></p>
        <?php endif; ?>
        <?php if( $attributeSetHelper->isShoes($_item->getProduct()) || $attributeSetHelper->isBag($_item->getProduct()) ||
            $attributeSetHelper->isAccessories($_item->getProduct()) || $attributeSetHelper->isBelts($_item->getProduct()) ): ?>
        <p class="item-material"><?= /* @escapeNotVerified */  __('Material') ?>: <?= $_item->getProduct()->getData('material_product_page') ?></p>
        <?php endif; ?>
        <?php if( $attributeSetHelper->isShoes($_item->getProduct()) || $attributeSetHelper->isLips($_item->getProduct()) ||
            $attributeSetHelper->isPerfumes($_item->getProduct()) ||  $attributeSetHelper->isNails($_item->getProduct()) ||
            $attributeSetHelper->isAccessories($_item->getProduct()) || $attributeSetHelper->isBelts($_item->getProduct()) ): ?>
        <p class="item-style"><?= /* @escapeNotVerified */  __('Style') ?>: <?= $_item->getProduct()->getData('style_code') ?></p>
        <?php endif; ?>
        <?php if( $attributeSetHelper->isShoes($_item->getProduct()) || $attributeSetHelper->isBag($_item->getProduct()) ||
            $attributeSetHelper->isEyes($_item->getProduct()) || $attributeSetHelper->isLips($_item->getProduct()) ||
            $attributeSetHelper->isPerfumes($_item->getProduct()) ||  $attributeSetHelper->isNails($_item->getProduct()) ||
            $attributeSetHelper->isAccessories($_item->getProduct()) || $attributeSetHelper->isBelts($_item->getProduct()) ): ?>
        <p class="item-color"><?= /* @escapeNotVerified */  __('Color') ?>: <?= $_item->getProduct()->getData('color_product_page') ?></p>
        <?php endif; ?>

        <?php $addInfoBlock = $block->getProductAdditionalInformationBlock(); ?>
        <?php if ($addInfoBlock) :?>
            <?= $addInfoBlock->setItem($_item)->toHtml() ?>
        <?php endif; ?>
        <?= $block->escapeHtml($_item->getDescription()) ?>
    </td>
    <!-- Size -->
    <td class="item-size"><?= /* @escapeNotVerified */ $block->getSize($_item->getProduct()) ?></td>
    <!-- Unit price -->
    <td class="item-unit-price"><?= /* @escapeNotVerified */ $_order->formatPrice($block->getItem()->getPrice())  ?></td>
    <!-- Qty -->
    <td class="item-qty"><?= /* @escapeNotVerified */  $_item->getQtyOrdered() * 1 ?></td>
    <!-- Subtotal -->
    <td class="item-price">
        <?= /* @escapeNotVerified */  $_order->formatPrice($block->getItem()->getRowTotal()) ?>
    </td>
</tr>
<?php endif; ?>
<?php if ($_item->getGiftMessageId() && $_giftMessage = $this->helper('Magento\GiftMessage\Helper\Message')->getGiftMessage($_item->getGiftMessageId())): ?>
<tr>
    <td colspan="3" class="item-extra">
        <table class="message-gift">
            <tr>
                <td>
                    <h3><?= /* @escapeNotVerified */  __('Gift Message') ?></h3>
                    <strong><?= /* @escapeNotVerified */  __('From:') ?></strong> <?= $block->escapeHtml($_giftMessage->getSender()) ?>
                    <br /><strong><?= /* @escapeNotVerified */  __('To:') ?></strong> <?= $block->escapeHtml($_giftMessage->getRecipient()) ?>
                    <br /><strong><?= /* @escapeNotVerified */  __('Message:') ?></strong>
                    <br /><?= $block->escapeHtml($_giftMessage->getMessage()) ?>
                </td>
            </tr>
        </table>
    </td>
</tr>
<?php endif; ?>
