<?php

// @codingStandardsIgnoreFile

/** @var \Project\Wishlist\Block\Catalog\Product\View\AddTo\Wishlist $block */
$params = json_decode($block->getWishlistParams());
$url = $params->action;
$productId = $params->data->product;
$uenc = $params->data->uenc;
?>
<?php if ($block->isWishListAllowed()) : ?>    
       <form id="product_addtowishlist_form" action="<?= /* @noEscape */ $url ?>" method="POST">
            <input type="hidden" name="product" value="<?= $productId ?>">
            <input type="hidden" name="uenc" value="<?= $uenc ?>">
            <input type="hidden" id="wishlist_selected_configurable_option" name="wishlist_selected_configurable_option" value="">
            <a href="#"  id="add-to-wishlist-button" class="action towishlist"><span><?= $block->escapeHtml(__('Add to My WishList')) ?></span></a>
       </form>
<?php endif; ?>

<script type="text/x-magento-init">
    {
        "body": {
            "addToWishlist": <?= /* @noEscape */ $block->getWishlistOptionsJson() ?>
        }
    }    
</script>

<script>
    requirejs(['jquery', 'Magento_Ui/js/modal/alert', 'domReady!'],
        function   ($, alert) {
            $( "#add-to-wishlist-button" ).click(function() {
                var selected_configurable_option = $('#product_addtocart_form input[name="selected_configurable_option"]').val();
                $('#wishlist_selected_configurable_option').val(selected_configurable_option);
                $( "#product_addtowishlist_form" ).submit();
            });
        }
    );
</script>
