/*
 * 	Featured Product
 */

& when (@media-target = 'mobile') {
    .tm-featured-switch-image-container {
        position: relative;
        overflow: hidden;

        .replaced {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
        }
    }

    .featured-listing-gallery,
    .featured-listing-carousel {
        img {
            background-color: @color-lightest;
        }

        .fotorama__arr,
        .fotorama__thumb__arr {
            background: none;
        }

        .fotorama__arr {
            width: 40px;
            top: 50%;
            bottom: auto;

            .fotorama__arr__arr {
                background-image: none;
                width: 40px;
                height: 40px;
                color: @color-light;
                transition: 0.3s color ease;

                &:hover {
                    color: @color-dark;
                }
            }
        }

        .fotorama__arr--prev .fotorama__arr__arr:before,
        .fotorama__arr--next .fotorama__arr__arr:before {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
            font-family: @themeicon-font-family;
            font-size: 26px;
            line-height: 40px;
        }

        .fotorama__arr--prev .fotorama__arr__arr:before {
            content: @themeicon-arrow-left;
        }

        .fotorama__arr--next .fotorama__arr__arr:before {
            content: @themeicon-arrow-right;
        }
    }
}
