// Import
@import '_products-sidebar.less';
@import '_hover-types.less';

@_featured-product__label-color: #ffffff;
@_featured-product__label-bg: #ff0000;
@_featured-product__label-size: 12px;

// Main Styles

& when (@media-target = 'mobile') {
    .widget.featured {
        .product-item {
            // label
            .product-label {
                position: absolute;
                top: 10px;
                right: 20px;
                z-index: 99;
                font-size: @_featured-product__label-size;
                color: @_featured-product__label-color;
                background-color: @_featured-product__label-bg;
                text-transform: uppercase;
                padding: 5px 10px;
                font-weight: 700;
            }
            
            &[style] {
                @media (max-width: (@screen__m - 1)) {
                    width: 50% !important;
                    max-width: 50% !important;
                }
            }
        }

        .not-found {
            padding: 0;
            margin: 0;
        }
    }

    .featured.custom-products {
        display: flex;
        background-color: @color-lightest;

        @media (max-width: (@screen__m - 1)) {
            flex-direction: column;
        }

        .block-content {
            flex-grow: 1;
            padding: 5%;
            z-index: 2;
        }

        .block-title {
            text-align: left;
        }

        .featured-banner {
            flex-shrink: 0;
            order: 1;
        }

        .product-item-info {
            background-color: @color-white;
            padding: 5%;
        }

        .products-grid .product-items .product-item {
            flex-basis: 50%;
            width: 50%;
            max-width: 50%;
        }

        .banner {
            margin-bottom: 0;
        }

        .banner-content {
            padding: 15% 8%;
        }

        .featured-listing-gallery,
        .featured-listing-carousel {
            img {
                background-color: @color-white;
            }
        }

        @media (max-width: (@screen__l - 1)) {
            .block-title > strong {
                font-size: 18px;
            }
        }
    }
}

// Carousel

& when (@media-target = 'mobile') {
    .widget.featured {
        .loader > div {
            position: relative;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background: url(../images/loader-1.gif) center 100px no-repeat;
                z-index: -1;
            }
        }
    }
}

& when (@media-target = 'desktop') {
    .widget.featured {
        .product-item {
            &[style] {
                @media (max-width: (@screen__l - 1)) {
                    width: 33.33% !important;
                    max-width: 33.33% !important;
                }

                @media (min-width: @screen__l) and (max-width: (@screen__xl - 1)) {
                    width: 25% !important;
                    max-width: 25% !important;
                }
            }
        }
    }

    .featured.custom-products {
        align-items: center;

        .block-content {
            padding: 2% 7.2% 3%;
        }

        .featured-banner {
            flex-basis: 41.4%;
            flex-shrink: 0;
            order: 1;
            margin-left: -12.2%;
        }

        @media (min-width: @screen__xl) {
            .banner {
                .action {
                    min-width: 240px;
                }
            }
        }

        @media (max-width: (@screen__xl - 1)) {
            .block-title {
                margin-bottom: 15px;
            }

            .block-content {
                padding-left: 10%;
            }

            .product-item-info {
                padding-left: 10%;
                padding-right: 10%;
            }
        }

        @media (min-width: @screen__xl) and (max-width: (@screen__xxl - 1)) {
            .block-title > strong {
                font-size: 24px;
            }
        }

        @media (min-width: @screen__l) and (max-width: (@screen__xl - 1)) {
            .block-title > strong {
                font-size: 20px;
            }
        }
    }
}
