<div class="easycms-block images-products images-products-left">
    <div class="image-second image-background scroll-notvisible x2" style="background-image: url('https://dummyimage.com/369x390/000/fff'); background-repeat: no-repeat; background-size: cover; background-position: left bottom;">
        <a title="Title example" href="{{store url=''}}">
            <img src="https://dummyimage.com/369x390/000/fff" alt="" />
            <span class="title"><span>Title second image</span></span><br />
        </a>
    </div>
    <div class="image-first image-background scroll-notvisible" style="background-image: url('https://dummyimage.com/574x340/000/fff'); background-repeat: no-repeat; background-size: cover; background-position: left bottom;">
        <a title="Title example" href="{{store url=''}}">
            <span class="title"><span>Title first image</span></span>
            <img src="https://dummyimage.com/574x340/000/fff" alt="" /><br />
        </a>
    </div>
    {{widget type="Magento\CatalogWidget\Block\Product\ProductsList" show_pager="0" products_count="2" template="product/widget/content/grid-home.phtml" conditions_encoded="^[`1`:^[`type`:`Magento||CatalogWidget||Model||Rule||Condition||Combine`,`aggregator`:`all`,`value`:`1`,`new_child`:``^]^]"}}
</div>
<p class="easycms-line-break">&nbsp;</p>