<div class="easycms-block topbox-image">
    <a title="Title example" href="{{store url=''}}">
        <img src="https://dummyimage.com/1200x800/000/fff" alt="Image mobile" />
    </a>
    <a href="{{store url=''}}">
        <span class="title">Title</span>
        <span class="subtitle">Subtitle</span>
    </a>
</div>
<p class="easycms-line-break">&nbsp;</p>