<div class="easycms-block topbox-image topmosaic-image topbox-slider scroll-not-visible">
    {{widget type="Synolia\Slider\Block\Widget\Slider" code="home-topmosaic-slider" template="Synolia_Slider::widget/sliderTopbox.phtml"}}
    <a href="{{store url=''}}">
        <span class="title">Title</span>
        <span class="subtitle">Subtitle</span>
    </a>
</div>
<p class="easycms-line-break">&nbsp;</p>