<div class="easycms-block topbox-video topmosaic-video">
    <div class="video-container">
        {{widget type="Project\Core\Block\Widget\Video" video_url="http://techslides.com/demos/sample-videos/small.mp4" video_placeholder_text="Defaut video label"}}
        <div class="mute-button"></div>
    </div>
    <a href="{{store url=''}}">
        <span class="title">Title</span>
        <span class="subtitle">Subtitle</span>
    </a>
</div>
<p class="easycms-line-break">&nbsp;</p>