// /**
//  * Copyright © Zemez, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

// Main Styles

& when (@media-target = 'mobile') {
    body.ajax-loading #search.input-text:focus {
        // if input has dark background, set "loader-white.gif" for "background-image" property.
        background-image: url(../images/loader-dark.gif);
        background-position: 2px 50%;
        background-repeat: no-repeat;
        background-size: 15px 15px;
    }

    #search_mini_form {
        .search-autocomplete {
            overflow: hidden;
            max-height: 350px;
            z-index: 99;

            &:after {
                content: '';
                position: absolute;
                top: 320px;
                left: 0;
                z-index: 9999;
                width: 120%;
                height: 30px;

                background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 72%);
                background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 72%);
                background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 72%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
            }

            ul[role=listbox] {
                display: block;
                position: static;
                max-height: 350px;
                margin-right: -20px;
                overflow-y: scroll;
                z-index: 10;
            }

            .search-item {
                padding: 0;

                a {
                    display: flex;
                    padding: 4px 32px 4px 8px;

                    > div {
                        flex-grow: 1;
                        padding-left: 10px;
                    }
                }

                .amount {
                    position: static;
                }

                .search-thumb {
                    flex-basis: 50px;
                    width: 50px;
                    max-width: 50px;
                    flex-shrink: 0;

                    img {
                        display: block;
                        width: 100%;
                        height: auto;
                    }
                }

                .qs-option-name {
                    display: block;
                    margin-bottom: 5px;
                    font-size: 12px;
                }

                .price {
                    display: block;
                    font-size: 16px;
                }
            }
        }
    }
}
