<?php
/**
 * @var \Magento\Payment\Block\Transparent\Form $block
 */
$code = $block->escapeHtml($block->getMethodCode());

?>
<fieldset class="admin__fieldset payment-method"
          id="payment_form_<?php /* @noEscape */ echo $code; ?>" style="display: none;">
    <div class="field-type admin__field _required">
        <label for="<?php /* @noEscape */ echo $code; ?>_last_inclement_id" class="admin__field-label">
            <span><?php echo $block->escapeHtml(__('Use latest used card')); ?></span>
        </label>
        <?php if($block->getLatestIncrementId()):?>
            <input type="hidden" name="payment[increment_id]" value="<?php echo $block->getLatestIncrementId(); ?>"/>
        <?php endif;?>
    </div>

    <?php echo $block->getChildHtml() ?>
</fieldset>
