// /**
//  * Copyright © Zemez, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    //  Newsletter subscription
    .newsletter {
        .field {
            margin: 0;
            .control {
                position: relative;
                display: block;
            }
        }

        .label {
            display: block;
            margin-bottom: 10px;
        }

        .action {
            margin-top: 20px;
            min-width: 200px;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .newsletter {

    }
}
