<?php /** @var Project\EmailSent\Block\Adminhtml\Email\Preview\BackButton $block*/ ?>
<div class="page-content"></div>
<div class="page-main-actions">
    <div class="page-actions" data-ui-id="page-actions-toolbar-content-header">
        <div class="page-actions-inner" data-title="Retailer">
            <div class="page-actions-buttons">
                <button id="back" title="Back" type="button" class="action- scalable back" onclick="location.href = '<?php echo $block->getUrl('*/*/'); ?>';" data-ui-id="back-button">
                    <span>Back</span>
                </button>
            </div>
        </div>
    </div>
</div>