<?php

/** @var \Algolia\AlgoliaSearch\Block\Algolia $block */
$priceKey = $block->getPriceKey();

?>
<!-- Summary hit template -->
<script type="text/template" id="autocomplete_summary_template">
    <div class="nb-hits">
        <span class="count">{{nbHits}}</span>
        <span class="query"><?php echo __('Search result for'); ?> “{{query}}”</span>
    </div>
</script>

<!-- Product hit template -->
<script type="text/template" id="autocomplete_products_template">
    <a class="algoliasearch-autocomplete-hit" href="{{url}}">
        {{#image_url}}
        <div class="thumb"><img src="{{image_url}}" /></div>
        {{/image_url}}

        <div class="info">
            {{{_highlightResult.name.value}}}

            <div class="heel-height-or-material">
                {{#material_color}}
                    {{{ material_color }}}
                {{/material_color}}

                {{^material_color}}
                    {{^heel_height}}
                        {{{ material }}}
                    {{/heel_height}}
                {{/material_color}}
            </div>

            <div class="algoliasearch-autocomplete-price">
                    <span class="after_special {{#price<?php echo $priceKey; ?>_original_formated}}promotion{{/price<?php echo $priceKey; ?>_original_formated}}">
                        {{price<?php echo $priceKey; ?>_formated}}
                    </span>

                {{#price<?php echo $priceKey; ?>_original_formated}}
                    <span class="before_special">
                        {{price<?php echo $priceKey; ?>_original_formated}}
                    </span>
                {{/price<?php echo $priceKey; ?>_original_formated}}
            </div>
        </div>
    </a>
</script>