<ul>
    <li><a href="{{store url=''}}faq">FAQ</a></li>
    <li><a href="{{store url=''}}product-care">Conseils d'entretien</a></li>
    <li><a href="{{store url=''}}rma/return/search">Créer un Retour</a></li>
    <li><a href="{{store url=''}}stopfake">Stopfake</a></li>
</ul>
<ul>
    <li><a href="{{store url=''}}terms-sale#transport-and-delivery">Livraisons</a></li>
    <li><a href="{{store url=''}}terms-sale#cancellations">Retours</a></li>
    <li><a href="{{store url=''}}policy">Confidentialité</a></li>
</ul>