
& when (@media-common = true) {
    .checkout-payment-method {
        .option-param {
            select {
                width: 225px;
            }
        }
        .cvs-type {
            select {
                width: 225px;
            }
        }
        .bank-type {
            select {
                width: 225px;
            }
        }
    }
}
