& when (@media-common = true) {

    .social-share {
        .social-list {
            .lib-vendor-prefix-display();
            .lib-css(justify-content, space-around, 1);
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                margin: 0;
            }
        }
    }
}
