<div class="discover-pages discover-beauty">
    <div class="easycms-block topbox-video">
        <div class="video-container">{{widget type="Project\Core\Block\Widget\Video" video_url="https://player.vimeo.com/external/233968694.hd.mp4?s=026005a9c0a54391ccb482e90a0c715ee3d750c5&profile_id=175" video_placeholder_text="Defaut video label"}} <img src="{{media url='cms/page/tornade-blonde/tornade_blonde_1200x675.jpg'}}" alt="" />
            <div class="play-button"><span>Watch the video</span></div>
            <div class="mute-button"></div>
        </div>
        <p class="easycms-line-break"> </p>
    </div>
    <div class="title-red scroll-notvisible"><span>TORNADE BLONDE</span></div>
    <div class="fragrance-introduction scroll-notvisible">
        <p>Tornade Blonde is irresistible, irrepressible. A modern and enchantingly feminine floral with Bulgarian rose at its heart, it is marked by opening fresh green notes of cassis and Italian bergamot. It is young and dynamic, adventurous and full of passion, an addictive rose parfum that is both sexy and elegant.</p>
    </div>
    <div class="product-image-link red with-text scroll-notvisible">
        <div class="image"><img src="{{media url='cms/page/tornade-blonde/TORNADE_BLONDE_30ML_BOX_DISCOVER.jpg'}}" /></div>
        <div class="text">
            <div class="title">Parfum</div>
            <p>The parfum is designed to be experienced in the same way as a piano note being played. First, The "ping": a burst of the scent like the striking of the piano key, followed by a beautiful resonance as the note echoes its sound.</p>
            <div class="price">£ 115.00</div>
            <a href="{{store url=''}}">SHOP TORNADE BLONDE</a></div>
    </div>
    <div class="product-image-link red with-text reverse scroll-notvisible">
        <div class="image"><img class="half-width" src="{{media url='cms/page/tornade-blonde/product-large1-2.jpg'}}" /></div>
        <div class="text">
            <div class="title">Perfume Oil</div>
            <p>Perfume oil is a new and highly luxurious way to experience Tornade Blonde. It caresses the skin, being the most indulgent and sensuous way for a woman to apply fragrance and to delight in her femininity. Intended to be massaged into the skin, it invites the sensual pleasure of touch.</p>
            <div class="price">£ 245.00</div>
            <a href="{{store url=''}}">SHOP TORNADE BLONDE</a></div>
    </div>
    <div class="highlighted-link scroll-notvisible"><a href="{{store url=''}}discover-fragrance.html">Discover parfums</a></div>
    <div class="louboutin-separator">
        <div class="image"><img src="{{media url='cms/page/bikini-questa-sera/red-sole.svg'}}" /></div>
    </div>
    <div class="discover-navigation scroll-notvisible">
        <div class="left">
            <div class="image"><a href="{{store url=''}}bikini-questa-sera.html"><img src="{{media url='cms/page/tornade-blonde/product-large2.jpg'}}" /></a></div>
            <div class="highlighted-link orange"><a href="{{store url=''}}bikini-questa-sera.html">Bikini Questa Sera</a></div>
        </div>
        <div class="right">
            <div class="highlighted-link mauve"><a href="{{store url=''}}trouble-in-heaven.html">Trouble in heaven</a></div>
            <div class="image"><a href="{{store url=''}}trouble-in-heaven.html"><img src="{{media url='cms/page/tornade-blonde/product-large3.jpg'}}" /></a></div>
        </div>
    </div>
</div>