& when (@media-common = true) {
    .message.global.cookie {
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 3;
        padding: 13px 30px;
        background: @color-white;
        text-align: center;

        &,
        a {
            .lib-font-family(@f-frutiger);
            font-size: @font-size_13;
            line-height: 1.4;
            color: @color-black;
        }
        a {
            text-decoration: underline;
        }

        .action.allow {
            position: absolute;
            top: 6px;
            color: @color-white;
            text-decoration: none;
            padding: 5px 30px;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
    .message.global.cookie {
        .action.allow {
            position: relative;
            margin: 10px auto 0;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .message.global.cookie {
        .action.allow {
            right: 10px;
        }
    }
}