//
//  Theme Options
//  ---------------------------------------------

& when (@media-target = 'mobile') {
    // Switch image on hover
    .tm-switch-image-container {
        position: relative;
        overflow: hidden;

        .replaced {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    .product-item-photo-gallery {
        .fotorama__stage__frame {
            left: 100%;

            &.fotorama__active {
                left: 0;
            }
        }
    }

    ul.social-links {
        line-height: 0;
        margin-left: -10px;

        li {
            display: inline-block;
            margin-top: 0;
            margin-left: 10px;

            & + li {
                margin-top: 0;
            }
        }

        a {
            display: block;
            font-size: 15px;
            text-align: center;

            &:before {
                display: block;
                min-width: 22px;
                line-height: 22px;
            }
        }
    }

    .scrollToTop {
        display: none;
        position: fixed;
        z-index: 999;
        right: 0;
        bottom: 0;
        height: 40px;
        width: 40px;
        font-size: 0;
        background: @color-primary;
        color: @color-white;
        cursor: pointer;
        box-shadow: 0 0 4px 1px rgba(0, 0, 0, .1);
        text-align: center;
        transition: .3s ease;

        .lib-icon-font(
            @_icon-font: @themeicon-font-family,
            @_icon-font-content: @themeicon-chevron-up,
            @_icon-font-size: 28px,
            @_icon-font-line-height: 40px
        );

        &:hover {
            background: @color-default;
        }
    }

    @media (max-width: (@screen__m - 1)) {
        .nav-sections {
            &.isStuck {
                position: static !important;
            }
        }

        .pseudoStickyBlock {
            display: none;
        }
    }

    // RTL
    html.rtl {
        .scrollToTop {
            right: auto;
            left: 0;
        }
    }
}

& when (@media-target = 'desktop') {
    .nav-sections.isStuck {
        padding-top: 17px;
        .lib-css(box-shadow, @dropdown-list__shadow);

        .navigation > ul {
            padding-bottom: 17px;
        }
    }

    .products-list .product-item-photo.product-item-photo-gallery {
        width: 30%;
    }

    .product-image-container.gallery-placeholder-thumb {
        display: block;
    }

    .gallery-placeholder-thumb .fotorama {
        width: 100%;
    }

    ul.social-links {
        margin-left: -24px;

        li {
            margin-left: 24px;
        }
    }

    .scrollToTop {
        bottom: 4vh;
        right: 3vw;
        height: 50px;
        width: 50px;

        &:before {
            line-height: 50px;
        }
    }

    // RTL
    html.rtl {
        .scrollToTop {
            right: auto;
            left: 3vw;
        }
    }
}
