& when (@media-common = true) {
    .modals-wrapper{
      .modals-overlay{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: inherit;
        z-index: 0;
      }
    }

  .popup-newsletter{
    width: 60%;
    right: 22%;
    left: 22%;
    top: 4em;
    .modal-inner-wrap{
      background: rgba(34, 34, 34, 0.95);
    }
    [data-role="content"], .modal-header{
      z-index: 50000;
      border: none;
      color: #888;
      transition: height 0.5s;
    }

    .action-close:before{
      position: absolute;
      right: 0;
      top: 0;
      color: #d0d0d0;
    }

    .responses{
      .response{
        display: block;
        background: unset;
        text-align: center;
      }
      .error{
        color: #e02b27;
        font-size: 1em;
      }
      .success{
        color: #fff;
        text-transform: uppercase;
        font-weight: lighter;
        letter-spacing: 1px;
        font-size: 1em;
      }
    }
  }

  #popup-newsletter{
    display: block;
    .content{
      font-size: 0.8em;
      font-family: 'Frutiger',Helvetica,Arial,sans-serif;
      margin-top: -3em;
      .form, .subscribe-newsletter{
        max-width: 46em;
        margin: 5em auto auto 5em;
        .label{
          display: none;
        }
        .email-info{
          position: relative;
          margin: 0;
          padding: 0;
          padding-bottom: 5px;
          border: none;
          border-bottom: 1px solid #888;
        }
        #subscribe-popup{
          position: absolute;
          right: 0;
          top: 0;
          text-align: center;
          background: transparent;
          color: #888;
          border: none;
          font-weight: lighter;
          padding: 10px;
          font-size: 14px;
          height: 40px;
          transition: color 0.3s;
        }
        #newsletter-email{
          text-align: center;
          font-size: 14px;
          background: transparent;
          border: none;
          display: block;
          margin: auto;
          font-weight: lighter;
          padding: 10px 25px;
          letter-spacing: 1px;
          color: #fff;
          height: 40px;
          box-sizing: border-box;
          max-width: 445px;
          width: 100%;
        }
        .email-checkboxs{
          margin: 0;
          padding: 0;
          border: 0;
          label{
            text-align: center;
            font-size: 1.1em;
            font-weight: lighter;
            padding: 10px 20px 10px 37px;
            margin: 10px 0;
            letter-spacing: 1px;
            display: inline-block;
            cursor: pointer;
            position: relative;
            transition: all 0.3s;
            span.checkmark{
              transition: all 0.3s;
              width: 20px;
              height: 20px;
              border: 1px solid #888;
              display: block;
              position: absolute;
              left: 0;
              top: 7px;
            }
          }
          #women-collection, #men-collection{
            display: none;
          }
          .container {
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            input[type="checkbox"] {
              position: absolute;
              opacity: 0;
              cursor: pointer;
              height: 0;
              width: 0;
            }
            .checkmark {
              position: absolute;
              top: 7px;
              left: 0;
              height: 20px;
              width: 20px;
              background-color: #2d2d2d;
              border: 1px solid #888;
            }
          }
          .container:hover input[type="checkbox"] ~ .checkmark {
            border: 1px solid #fff;
          }
          .container input[type="checkbox"]:checked ~ .checkmark {
            background-color: #fff;
          }
          label:hover {
            color: #fff;
          }
        }
      }
    }
  }
  .no-display{
    display: none;
  }
  .display{
    display: block;
  }
    .modals-wrapper {
        .modal-popup.popup-newsletter {
            left: 0 ;
            top: 280px;
            width: 100%;
            right: 0;
            .modal-inner-wrap {
                max-width: 800px;
                padding: 0;
                margin: 0 auto;
                max-height: initial;
                > .modal-content {
                    padding: 38px 0 73px;
                    max-width: 530px;
                    margin: auto;
                }
            }
            .newsletter-content {
                padding: 0;
            }
            #popup-newsletter .content {
                margin-top: 0;
                .form.subscribe-newsletter {
                    margin: 0 !important;
                    max-width: 100%;
                    height: auto;
                    .form-info {
                        font-size: 11px;
                        letter-spacing: 1px;
                        a {
                            text-decoration: underline;
                            font-size: 11px;
                            letter-spacing: 1px;
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: 992px) {
  #popup-newsletter {
    .content {
      .form.subscribe-newsletter {
        margin: 4em auto auto 2em;
      }
    }
  }
  .modal-popup.popup-newsletter{
    left: 7%;
    top: 4em;
  }
}
@media only screen and (max-width: 767px) {
    .modals-wrapper {
        .modal-popup.popup-newsletter {
            position: fixed;
            top: 0;
            height: auto;
            .modal-inner-wrap {
                > .modal-content {
                    margin: 0 auto auto;
                    padding: 38px 20px;
                }
            }
        }
    }

}
@media only screen and (max-width: 768px) {
  .modal-popup.popup-newsletter {
    .modal-inner-wrap {
      background: rgba(34, 34, 34, 0.95) !important;
    }
  }
}
@media only screen and (max-width: 480px) {
  #popup-newsletter {
    .content {
      .form.subscribe-newsletter {
        max-width: 46em;
        height: 33em;
        margin-top: 4em;
        margin-left: 0;
      }
    }
  }
}
