<?php /* @var $block Project\Share\Block\Widget\Share */ ?>
<div class="social-share">
    <ul class="social-list">
        <li>
            <a href="<?php echo $block->getFacebookShareUrl(); ?>" target="_blank" class="icon-facebook">share on facebook</a>
        </li>
        <li>
            <a href="<?php echo $block->getTwitterShareUrl(); ?>" target="_blank" class="icon-twitter">share on twitter</a>
        </li>
        <li>
            <a href="<?php echo $block->getPinterestShareUrl(); ?>" target="_blank" class="icon-pinterest">share on pinterest</a>
        </li>
        <?php if ($block->isLineEnabled()): ?>
        <li>
            <div class="line-it-button" data-lang="en" data-type="like"
                 data-url="<?php echo $block->getProduct() ? $block->getProduct()->getUrl() : $block->getCurrentUrl(); ?>"
                 style="display: none"></div>
        </li>
        <?php endif; ?>
    </ul>
</div>

<?php if ($block->isLineEnabled()): ?>
<script src="<?php echo $block->getLineScriptUrl(); ?>" async="async" defer="defer"></script>
<?php endif; ?>
