.lib-project-icon (
    @_icon-font-content,
    @_icon-font-size: 14px,
    @_icon-font-line-height: 1em,
    @_icon-font-color: @color-black,
    @_icon-font-color-hover: @_icon-font-color,
    @_icon-font-color-focus: @_icon-font-color,
    @_icon-font-position: before
) {
    .lib-icon-font(
        @_icon-font-content,
        @_icon-font: @font-family-name__project_icons,
        @_icon-font-size: @_icon-font-size,
        @_icon-font-line-height: @_icon-font-line-height,
        @_icon-font-color: @_icon-font-color,
        @_icon-font-color-hover: @_icon-font-color-hover,
        @_icon-font-color-active: @_icon-font-color-hover,
        @_icon-font-position: @_icon-font-position
    );
}

.lib-accordion-menu () {
    .lib-project-icon (
        @_icon-font-content: @icon-project-arrow-right,
        @_icon-font-size: @font-size_14,
        @_icon-font-color: @color-louboutin-red,
        @_icon-font-position: after
    );

    display: block;
    padding: 14px 50px 14px 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    box-sizing: border-box;

    &:after {
        position: absolute;
        top: 50%;
        right: 30px;
        .lib-css(transform, translateY(-50%), 1);
    }
}

.lib-picto-menu(@_icon) {
    .lib-project-icon (
        @_icon-font-content: @_icon,
        @_icon-font-size: @font-size_16,
        @_icon-font-color: @color-warm-grey
    );
    display: block;

    &:before {
        margin-right: 10px;
        vertical-align: top;
    }
}