//
//  Layouts flex
//  _____________________________________________

.flexbox-align-row-horizontal-center() {
    ._flexbox-align-parallele-center();
}

.flexbox-align-column-vertical-center() {
    ._flexbox-align-parallele-center();
}

._flexbox-align-parallele-center() {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.flexbox-align-row-vertical-center() {
    ._flexbox-align-perpendicular-center();
}

.flexbox-align-column-horizontal-center() {
    ._flexbox-align-perpendicular-center();
}

._flexbox-align-perpendicular-center() {
    -webkit-align-items: center;
    -ms-flex-align:center;
    align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    max-width: 100%;
}

.flexbox-align-space-around() {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.flexbox-align-space-between() {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.flex(@nb) {
    -webkit-flex: @nb;
    -ms-flex: @nb;
    flex: @nb;
}
