<div class="discover-pages discover-eyes">
    <div class="bloc-video-title">
        <div class="easycms-block topbox-video">
            <div class="video-container mobile-not-mute">
                {{widget type="Project\Core\Block\Widget\Video"
                video_url="https://player.vimeo.com/external/209911922.sd.mp4?s=37b6b65ba9bb76e1129725cd9e13aa498cc307b8&profile_id=165"
                video_placeholder_text="Defaut video label"}}
            </div>
            <p class="easycms-line-break"> </p>
        </div>
        <h1 class="title">Les Yeux Noirs</h1>
        <div class="subtitle">Collection pour les yeux</div>
    </div>
    <div class="block-quote">
        <p>“J'ai toujours été fasciné par le pouvoir du regard. Les yeux ont une vie à eux, une expression qui leur est propre. Le maquillage ne fait que souligner ce que vous tenez à révéler.”</p>
        <p class="author">Christian Louboutin</p>
    </div>
    <div class="block-paragraph">
        <p>Christian Louboutin a choisi de dévoiler un nouveau chapitre de son univers de beauté avec sa première collection de maquillage dédiée aux yeux. Combinant sensorialité et intensité de la couleur, chacun des objets reflète l'attention que porte le créateur au détail tout en offrant un geste précis et semblable à celui de la calligraphie. Cette collection se propose de sublimer et de souligner les yeux des femmes, intensifiant les expressions et le pouvoir de leur regard.</p>
    </div>
    <div class="block-product lash scroll-notvisible">
        <div class="image">
            <img src="{{media url='cms/page/discover-eyes/lash-amplifying-lacquer.png'}}" alt="Laque amplificatrice de cils" />
        </div>
        <div class="content">
            <h2 class="product-title">
                <img src="{{media url='cms/page/discover-eyes/les-yeux-noirs.png'}}" alt="Les Yeux Noirs" />
            </h2>
            <h3 class="product-name">Laque amplificatrice de cils</h3>
            <ul class="colors">
                <li class="khol"><a href="{{store url=''}}">Khol</a></li>
                <li class="sevillana"><a href="{{store url=''}}">Sevillana</a></li>
                <li class="rouge-louboutin"><a href="{{store url=''}}">Rouge Louboutin</a></li>
            </ul>
            <p class="description">Le Mascara Les Yeux Noirs offre un volume spectaculaire, amplifiant les lignes, la longueur et la courbure des cils. Très concentré en pigments, il dépose une couleur profonde dans un fini lumineux et maintient une tenue impeccable tout au long de la journée. Conçu avec une brosse exclusivement composée de fibres horizontales et verticales, il assure une application précise et aisée.</p>
            <a class="link" href="{{store url=''}}">Acheter</a>
        </div>
    </div>
    <div class="block-images">
        <div class="granulated-image">
            <img src="{{media url='cms/page/discover-eyes/sect1-img-sm.jpg'}}" alt="Image 1" />
        </div>
        <div class="not-granulated-image">
            <img src="{{media url='cms/page/discover-eyes/sect1-img-lg.jpg'}}" alt="Image 2" />
        </div>
    </div>
    <div class="block-product liner scroll-notvisible">
        <div class="image">
            <img src="{{media url='cms/page/discover-eyes/luminous-ink-liner.png'}}" alt="Traceur brillant pour les yeux" />
        </div>
        <div class="content">
            <h2 class="product-title">
                <img src="{{media url='cms/page/discover-eyes/oeil-vinyle.png'}}" alt="Oeil Vinyle" />
            </h2>
            <h3 class="product-name">Traceur brillant pour les yeux</h3>
            <ul class="colors">
                <li class="khol"><a href="{{store url=''}}">Khol</a></li>
                <li class="rouge-louboutin"><a href="{{store url=''}}">Rouge Louboutin</a></li>
                <li class="lady-twist"><a href="{{store url=''}}">Lady Twist</a></li>
            </ul>
            <p class="description">Inspiré du cuir vernis, matière emblématique de la maison Christian Louboutin, ce fini est réinterprété ici pour les yeux. Cette encre ultra-pigmentée offre une brilliance éclatante, ourlant les yeux avec intensité. Sa texture souple assure une application aisée et régulière pour un effet spectaculaire toute la journée. Il est décliné également dans l'iconique teinte Rouge Louboutin.</p>
            <a class="link" href="{{store url=''}}">Acheter</a>
        </div>
    </div>
    <div class="block-quote">
        <p class="pre-quote">Les yeux suggèrent, révèlent et exposent tout à la fois comme se plait à l'exprimer Christian Louboutin : </p>
        <p>“Vous pouvez y lire le bonheur, la tristesse, la peur, la férocité, le caractère… Tout se voit à travers les yeux.”</p>
    </div>
    <div class="block-product definer scroll-notvisible">
        <div class="image">
            <img src="{{media url='cms/page/discover-eyes/velvet-eye-definer.png'}}" alt="Crayon designer effet velours pour les yeux" />
        </div>
        <div class="content">
            <div class="product-title">
                <img src="{{media url='cms/page/discover-eyes/oeil-velours.png'}}" alt="Oeil Velours" />
            </div>
            <h3 class="product-name">Crayon designer effet velours pour les yeux</h3>
            <ul class="colors">
                <li class="khol"><a href="{{store url=''}}">Khol</a></li>
                <li class="deep-teal"><a href="{{store url=''}}">Deep Teal</a></li>
                <li class="zoulou"><a href="{{store url=''}}">Zoulou</a></li>
                <li class="hot-chick"><a href="{{store url=''}}">Hot Chick</a></li>
                <li class="fierce"><a href="{{store url=''}}">Fierce</a></li>
            </ul>
            <p class="description">Une formule riche en pigments qui permet une application précise et fluide dans des coloris à l'intensité habituellement réservée aux kajals des pharaons. Cette texture s'utilise au trait mais également de manière estompée en "smokey eye" avec une tenue sans transfert. Le crayon est accompagné d'un taille-crayon pour une précision maximale.</p>
            <a class="link" href="{{store url=''}}">Acheter</a>
        </div>
    </div>
    <div class="block-images">
        <div class="not-granulated-image">
            <img src="{{media url='cms/page/discover-eyes/sect3-img-lg.jpg'}}" alt="Image 1" />
        </div>
        <div class="granulated-image">
            <img src="{{media url='cms/page/discover-eyes/sect3-img-sm.jpg'}}" alt="Image 2" />
        </div>
    </div>
    <div class="block-product brow-definer scroll-notvisible">
        <div class="image">
            <img src="{{media url='cms/page/discover-eyes/brow-definer-image.png'}}" alt="Crayon designer pour les sourcils" />
        </div>
        <div class="content">
            <h2 class="product-title">
                <img src="{{media url='cms/page/discover-eyes/crayon-designer.jpg'}}" alt="Crayon designer pour les sourcils" />
            </h2>
            <ul class="colors">
                <li class="brunette"><a href="{{store url=''}}">Brunette</a></li>
                <li class="auburn"><a href="{{store url=''}}">Auburn</a></li>
                <li class="taupe"><a href="{{store url=''}}">Taupe</a></li>
                <li class="blonde"><a href="{{store url=''}}">Blonde</a></li>
            </ul>
            <p class="description">Un crayon polyvalent pour redessiner et parfaire les sourcils. Sa formule souple combine les bénéfices d'une crème à la simplicité de l'utilisation d'un crayon et s'applique facilement tout en offrant une couverture complete, un fini mat naturel et une longue tenue. Il est accompagné d'une brosse coudée pour lisser et ordonner les sourcils, ainsi que d'un taille-crayon pour une précision parfaite.</p>
            <a class="link" href="{{store url=''}}">Acheter</a>
        </div>
    </div>
    <div class="block-link scroll-notvisible">
        <a class="link" href="{{store url=''}}">Acheter la collection pour les yeux</a>
    </div>
</div>