<div class="discover-pages discover-beauty">
    <div class="easycms-block topbox-video">
        <div class="video-container">{{widget type="Project\Core\Block\Widget\Video" video_url="https://player.vimeo.com/external/233968694.hd.mp4?s=026005a9c0a54391ccb482e90a0c715ee3d750c5&profile_id=175" video_placeholder_text="Defaut video label"}} <img src="{{media url='cms/page/tornade-blonde/tornade_blonde_1200x675.jpg'}}" alt="" />
            <div class="play-button"><span>Watch the video</span></div>
            <div class="mute-button"></div>
        </div>
        <p class="easycms-line-break"> </p>
    </div>
    <div class="title-red scroll-notvisible"><span>TORNADE BLONDE</span></div>
    <div class="fragrance-introduction scroll-notvisible">
        <p>Avec son coeur de rose bulgare rafraîchi par des notes végétales de cassis et bergamote italienne, Tornade Blonde, un parfum floral moderne et très féminin, est irrésistible et le sait. Juvénile et dynamique, plein de fougue et de passion, ses notes addictives sont à la fois élégantes et sexy.</p>
    </div>
    <div class="product-image-link red with-text scroll-notvisible">
        <div class="image"><img src="{{media url='cms/page/tornade-blonde/TORNADE_BLONDE_30ML_BOX_DISCOVER.jpg'}}" /></div>
        <div class="text">
            <div class="title">Parfum</div>
            <p>Le parfum est construit comme on appréhende une note de piano. D'abord le "ping", la première note du parfum comme la frappe de la touche sur la corde d'un piano, suivie d'une longue résonance, écho de la note qui se prolonge.</p>
            <div class="price">185,00 C$</div>
            <a href="{{store url=''}}">ACHETER TORNADE BLONDE</a></div>
    </div>
    <div class="product-image-link red with-text reverse scroll-notvisible">
        <div class="image"><img class="half-width" src="{{media url='cms/page/tornade-blonde/product-large1-2.jpg'}}" /></div>
        <div class="text">
            <div class="title">L'Huile de Parfum</div>
            <p>L'huile de parfum est le rituel de beauté le plus raffiné pour découvrir Tornade Blonde.<br>Une véritable caresse sur la peau, cette huile de parfum rehausse l'indulgence et la sensualité de l'expérience de la fragrance. Conçue pour une application en massage, elle sublime le plaisir sensuel du toucher.</p>
            <div class="price">415,00 C$</div>
            <a href="{{store url=''}}">ACHETER TORNADE BLONDE</a></div>
    </div>
    <div class="highlighted-link scroll-notvisible"><a href="{{store url=''}}discover-fragrance.html">Découvrez les Parfums</a></div>
    <div class="louboutin-separator">
        <div class="image"><img src="{{media url='cms/page/bikini-questa-sera/red-sole.svg'}}" /></div>
    </div>
    <div class="discover-navigation scroll-notvisible">
        <div class="left">
            <div class="image"><a href="{{store url=''}}bikini-questa-sera.html"><img src="{{media url='cms/page/tornade-blonde/product-large2.jpg'}}" /></a></div>
            <div class="highlighted-link orange"><a href="{{store url=''}}bikini-questa-sera.html">Bikini Questa Sera</a></div>
        </div>
        <div class="right">
            <div class="highlighted-link mauve"><a href="{{store url=''}}trouble-in-heaven.html">Trouble in heaven</a></div>
            <div class="image"><a href="{{store url=''}}trouble-in-heaven.html"><img src="{{media url='cms/page/tornade-blonde/product-large3.jpg'}}" /></a></div>
        </div>
    </div>
</div>