// /**
//  * Copyright © Zemez, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .header.panel,
    .header.content,
    .page-main {
        .container-box;
        width: 100%;
    }

    .top-container, .page-bottom {
        padding-left: 2%;
        padding-right: 2%;
    }

    .columns {
        #lib-layout-columns();
    }

    @media (max-width: (@screen__l - 1)) {
        .column {
            &.main, &.left, &.right {
                flex-basis: 100%;
                max-width: 100%;
            }
            &.left, &.right {
                order: 1;
                margin-top: 30px;
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .columns {
        .make-row();
    }

    .column {
        padding-right: floor((@gutter__width / 2));
        padding-left: floor((@gutter__width / 2));

        &.main {
            #lib-layout-columns > .main();
            flex-grow: 1;
        }

        &.left {
            #lib-layout-columns > .left();
        }

        &.right {
            #lib-layout-columns > .left();
        }
    }

    .top-container, .page-bottom {
        padding-left: 4.063%;
        padding-right: 4.063%;
    }
}
