//
//  Buttons
//  _____________________________________________

.lib-button() {
    .lib-css(border-radius, @button__border-radius);
    text-transform: uppercase;

    @media (max-width: (@screen__m - 1)) {
        .lib-css(padding, @button-mobile__padding);
    }
}

.lib-button-primary() {
    text-transform: uppercase;

    @media (max-width: (@screen__m - 1)) {
        .lib-css(padding, @button-mobile__padding);
    }
}

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    button,
    .action {
        height: auto;
        text-align: center;
        transition: 0.3s all ease;
    }

    .action.default {
        .lib-button();
    }

    .sidebar {
        .action {
            .lib-css(padding, @button-mobile__padding);
        }
    }
}
