<?php
// @codingStandardsIgnoreFile

/**
 * Create account form template
 *
 * @var $block \Magento\Customer\Block\Form\Register
 */
?>
<?= $block->getChildHtml('form_fields_before') ?>
<?php /* Extensions placeholder */ ?>
<?= $block->getChildHtml('customer.form.register.extra') ?>
<form class="form create account form-create-account" action="<?= /* @escapeNotVerified */ $block->getPostActionUrl() ?>" method="post" id="form-validate" enctype="multipart/form-data" autocomplete="off">
    <?= /* @noEscape */ $block->getChildHtml('form_fields_before_in_form') ?>
    <?= /* @noEscape */ $block->getBlockHtml('formkey');?>
    <fieldset class="fieldset create info">
        <legend class="legend"><span><?= /* @escapeNotVerified */ __('Personal Information') ?></span></legend><br>
        <input type="hidden" name="success_url" value="<?= /* @escapeNotVerified */ $block->getSuccessUrl() ?>"/>
        <input type="hidden" name="error_url" value="<?= /* @escapeNotVerified */ $block->getErrorUrl() ?>"/>

        <?php $_gender = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Gender') ?>
        <?php if ($_gender->isEnabled()): ?>
            <?= $_gender->setGender($block->getFormData()->getGender())->toHtml() ?>
        <?php endif ?>

        <?= $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Name')->setObject($block->getFormData())->setForceUseCustomerAttributes(true)->toHtml() ?>

        <?php $_dob = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Dob') ?>
        <?php if ($_dob->isEnabled()): ?>
            <?= $_dob->setDate($block->getFormData()->getDob())->toHtml() ?>
        <?php endif ?>

        <?php $_taxvat = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Taxvat') ?>
        <?php if ($_taxvat->isEnabled()): ?>
            <?= $_taxvat->setTaxvat($block->getFormData()->getTaxvat())->toHtml() ?>
        <?php endif ?>

        <?php $customerAttributes = $block->getChildBlock('customer_form_user_attributes');?>
        <?php if ($customerAttributes): ?>
            <?php $customerAttributes->setEntityType('customer')->setShowContainer(false);?>
            <?php $block->restoreSessionData($customerAttributes->getMetadataForm());?>
            <?= $customerAttributes->toHtml() ?>
        <?php endif;?>

    </fieldset>

    <?php if ($block->getShowAddressFields()): ?>
        <fieldset class="fieldset address">
            <legend class="legend"><span><?= /* @escapeNotVerified */ __('Address Information') ?></span></legend><br>
            <input type="hidden" name="create_address" value="1"/>
            <div class="field company">
                <label for="company" class="label"><span><?= /* @escapeNotVerified */ __('Company') ?></span></label>
                <div class="control">
                    <input type="text" name="company" id="company"
                           value="<?= $block->escapeHtml($block->getFormData()->getCompany()) ?>"
                           title="<?= /* @escapeNotVerified */ __('Company') ?>" class="input-text <?= /* @escapeNotVerified */ $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('company') ?>"/>
                </div>
            </div>
            <div class="field telephone required">
                <label for="telephone" class="label"><span><?= /* @escapeNotVerified */ __('Phone Number') ?></span></label>
                <div class="control">
                    <input type="text" name="telephone" id="telephone"
                           value="<?= $block->escapeHtml($block->getFormData()->getTelephone()) ?>"
                           title="<?= /* @escapeNotVerified */ __('Phone Number') ?>" class="input-text <?= /* @escapeNotVerified */ $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('telephone') ?>"/>
                </div>
            </div>

            <?php $_streetValidationClass = $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('street');?>

            <div class="field street required">
                <label for="street_1" class="label"><span><?= /* @escapeNotVerified */ __('Street Address') ?></span></label>
                <div class="control">
                    <input type="text" name="street[]"
                           value="<?= $block->escapeHtml($block->getFormData()->getStreetLine(1)) ?>"
                           title="<?= /* @escapeNotVerified */ __('Street Address') ?>" id="street_1" class="input-text <?= /* @escapeNotVerified */
                    $_streetValidationClass ?>"/>
                    <div class="nested">
                        <?php $_streetValidationClass = trim(str_replace('required-entry', '', $_streetValidationClass));?>
                        <?php for ($_i = 2, $_n = $this->helper('Magento\Customer\Helper\Address')->getStreetLines(); $_i <= $_n; $_i++): ?>
                            <div class="field additional">
                                <label class="label" for="street_<?= /* @escapeNotVerified */ $_i ?>">
                                    <span><?= /* @escapeNotVerified */ __('Street Address %1', $_i) ?></span>
                                </label>
                                <div class="control">
                                    <input type="text" name="street[]"
                                           value="<?= $block->escapeHtml($block->getFormData()->getStreetLine($_i - 1)) ?>"
                                           title="<?= /* @escapeNotVerified */ __('Street Address %1', $_i) ?>" id="street_<?= /* @escapeNotVerified */ $_i ?>"
                                           class="input-text <?= /* @escapeNotVerified */ $_streetValidationClass ?>"/>
                                </div>
                            </div>
                        <?php endfor;?>
                    </div>
                </div>
            </div>

            <div class="field required">
                <label for="city" class="label"><span><?= /* @escapeNotVerified */ __('City') ?></span></label>
                <div class="control">
                    <input type="text" name="city" value="<?= $block->escapeHtml($block->getFormData()->getCity()) ?>"
                           title="<?= /* @escapeNotVerified */ __('City') ?>"
                           class="input-text <?= /* @escapeNotVerified */ $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('city') ?>"
                           id="city"/>
                </div>
            </div>

            <div class="field region required">
                <label for="region_id" class="label"><span><?= /* @escapeNotVerified */ __('State/Province') ?></span></label>
                <div class="control">
                    <select id="region_id" name="region_id" title="<?= /* @escapeNotVerified */ __('State/Province') ?>" class="validate-select" style="display:none;">
                        <option value=""><?= /* @escapeNotVerified */ __('Please select a region, state or province.') ?></option>
                    </select>
                    <input type="text" id="region" name="region" value="<?= $block->escapeHtml($block->getRegion()) ?>"
                           title="<?= /* @escapeNotVerified */ __('State/Province') ?>"
                           class="input-text <?= /* @escapeNotVerified */ $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('region') ?>"
                           style="display:none;"/>
                </div>
            </div>

            <div class="field zip required">
                <label for="zip" class="label"><span><?= /* @escapeNotVerified */ __('Zip/Postal Code') ?></span></label>
                <div class="control">
                    <input type="text" name="postcode"
                           value="<?= $block->escapeHtml($block->getFormData()->getPostcode()) ?>"
                           title="<?= /* @escapeNotVerified */ __('Zip/Postal Code') ?>"
                           id="zip"
                           class="input-text validate-zip-international <?= /* @escapeNotVerified */ $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('postcode') ?>"
                           data-validate="{'required':true, 'validate-zip-international':true}"/>
                </div>
            </div>

            <div class="field country required">
                <label for="country" class="label"><span><?= /* @escapeNotVerified */ __('Country') ?></span></label>
                <div class="control">
                    <?= $block->getCountryHtmlSelect() ?>
                </div>
            </div>
            <?php $addressAttributes = $block->getChildBlock('customer_form_address_user_attributes');?>
            <?php if ($addressAttributes): ?>
                <?php $addressAttributes->setEntityType('customer_address');?>
                <?php $addressAttributes->setFieldIdFormat('address:%1$s')->setFieldNameFormat('address[%1$s]');?>
                <?php $block->restoreSessionData($addressAttributes->getMetadataForm(), 'address');?>
                <?= $addressAttributes->setShowContainer(false)->toHtml() ?>
            <?php endif;?>
            <input type="hidden" name="default_billing" value="1"/>
            <input type="hidden" name="default_shipping" value="1"/>
        </fieldset>

    <?php endif;?>
    <fieldset class="fieldset create account" data-hasrequired="<?= /* @escapeNotVerified */ __('* Required Fields') ?>">
        <legend class="legend"><span><?= /* @escapeNotVerified */ __('Sign-in Information') ?></span></legend><br>
        <div class="field required">
            <label for="email_address" class="label"><span><?= /* @escapeNotVerified */ __('Email') ?></span></label>
            <div class="control">
                <input type="email" name="email" id="email_address" autocomplete="email"
                       value="<?= $block->escapeHtml($block->getFormData()->getEmail()) ?>"
                       title="<?= /* @escapeNotVerified */ __('Email') ?>" class="input-text" data-validate="{required:true, 'validate-email':true}"/>
            </div>
        </div>
        <div class="field confirmation required">
            <label for="email_address-confirmation" class="label"><span><?= /* @escapeNotVerified */ __('Confirm your email') ?></span></label>
            <div class="control">
                <input type="email" name="email_address_confirmation" title="<?= /* @escapeNotVerified */ __('Confirm your email') ?>" id="email_address-confirmation" class="input-text"
                       data-validate="{required:true, equalTo:'#email_address'}"/>
            </div>
        </div>
        <div class="field password required">
            <label for="password" class="label"><span><?= /* @escapeNotVerified */ __('Password') ?></span></label>
            <div class="control">
                <input type="password" name="password" id="password"
                       title="<?= /* @escapeNotVerified */ __('Password') ?>"
                       class="input-text"
                       data-password-min-length="<?= $block->escapeHtml($block->getMinimumPasswordLength()) ?>"
                       data-password-min-character-sets="<?= $block->escapeHtml($block->getRequiredCharacterClassesNumber()) ?>"
                       data-validate="{required:true, 'validate-customer-password':true}"
                       autocomplete="off">
                <div id="password-strength-meter-container" data-role="password-strength-meter" aria-live="polite">
                    <div id="password-strength-meter" class="password-strength-meter">
                        <?= /* @escapeNotVerified */ __('Password Strength') ?>:
                        <span id="password-strength-meter-label" data-role="password-strength-meter-label">
                            <?= /* @escapeNotVerified */ __('No Password') ?>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="field confirmation required">
            <label for="password-confirmation" class="label"><span><?= /* @escapeNotVerified */ __('Confirm Password') ?></span></label>
            <div class="control">
                <input type="password" name="password_confirmation" title="<?= /* @escapeNotVerified */ __('Confirm Password') ?>" id="password-confirmation" class="input-text"
                       data-validate="{required:true, equalTo:'#password'}"/>
            </div>
        </div>
    </fieldset>

    <fieldset class="fieldset create account">
        <?php if ($block->isNewsletterEnabled()): ?>
            <div class="field choice newsletter">
                <input type="checkbox" name="is_subscribed" title="<?= $block->escapeHtmlAttr(__('Sign up for our newsletter and be the first to discover our new collections.')) ?>" value="1" id="is_subscribed"<?php if ($block->getFormData()->getIsSubscribed()): ?> checked="checked"<?php endif; ?> class="checkbox">
                <label for="is_subscribed" class="label"><span><?= $block->escapeHtml(__('Sign up for our newsletter and be the first to discover our new collections.')) ?></span></label>
            </div>
            <?php /* Extensions placeholder */ ?>
            <?= $block->getChildHtml('customer.form.register.newsletter') ?>
        <?php endif ?>

        <div class="field terms required">
            <div class="control">
                <input type="checkbox" name="terms" for="accept_terms" id="accept_terms" value="accept_terms"
                       data-validate="{required:true}">
            </div>
            <label for="accept_terms" class="label">
                <span><?= $block->escapeHtml(__('I have read and I agree to the')) ?></span>
                <a href="<?= $this->getUrl('terms-use');?>"><?= $block->escapeHtml(__('Terms of Use'));?></a>
                <span> <?= $block->escapeHtml(__('and the'));?></span>
                <a href="<?= $this->getUrl('policy');?>"><?= $block->escapeHtml(__('Privacy Policy'));?></a>
                <span> <?= $block->escapeHtml(__('of the Christian Louboutin online boutique.'));?></span>
            </label>
        </div>

        <div class="account-create-infos">
            <?php echo $block->getChildHtml('account.create.infos');?>
        </div>

        <?= $block->getChildHtml('form_additional_info') ?>
    </fieldset>
    <div class="actions-toolbar">
        <div class="primary">
            <button type="submit" class="action submit primary submitnewcustomer" title="<?= /* @escapeNotVerified */ __('Create an Account') ?>">
                <span><?= /* @escapeNotVerified */ __('Create an Account') ?></span></button>
        </div>
        <div class="secondary">
            <a class="action back"
               href="<?= $block->escapeUrl($block->getBackUrl()) ?>"><span><?= /* @escapeNotVerified */ __('Back') ?></span></a>
        </div>
    </div>
</form>
<div class="big-image">
    <img src="<?= $block->getViewFileUrl('images/createaccount.jpg'); ?>" alt="Create account picture">
</div>
<script type="text/x-magento-init">
    {
        <?php if ($block->getShowAddressFields()): ?>
            "#country": {
                "regionUpdater": {
                    "optionalRegionAllowed": <?= /* @escapeNotVerified */ ($block->getConfig("general/region/display_all") ? "true" : "false") ?>,
                    "regionListId": "#region_id",
                    "regionInputId": "#region",
                    "postcodeId": "#zip",
                    "form": "#form-validate",
                    "regionJson": <?= /* @escapeNotVerified */ $this->helper(\Magento\Directory\Helper\Data::class)->getRegionJson() ?>,
                    "defaultRegion": "<?= /* @escapeNotVerified */ $block->getFormData()->getRegionId() ?>",
                    "countriesWithOptionalZip": <?= /* @escapeNotVerified */ $this->helper(\Magento\Directory\Helper\Data::class)->getCountriesWithOptionalZip(true) ?>
                }
            },
        <?php endif;?>
        "*": {
            "Magento_CustomerCustomAttributes/validation": {
                "ignore": <?= (int)($_dob->isEnabled() || $customerAttributes->hasUserDefinedAttributes()) ?>,
                "hasUserDefinedAttributes": <?= (int)$customerAttributes->hasUserDefinedAttributes() ?>,
                "isDobEnabled": <?= (int)$_dob->isEnabled() ?>,
                "disableAutoComplete": true,
                "mixins": [
                    "Magento_CustomerCustomAttributes/error-placement",
                    "Magento_CustomerCustomAttributes/validation-ignore"
                ]
            }
        },
        ".field.password": {
            "passwordStrengthIndicator": {
                "formSelector": "form.form-create-account"
            }
        }
    }
</script>
<script>
    require([
            'jquery'
        ],
        function ($) {
            let customerForm = $("#form-validate");
            $('form').on('submit', function(e) {
                customerForm.validate();
                if(customerForm.valid()){
                    $('.submitnewcustomer').attr("disabled",true);
                }
            });
        });
</script>
