<div class="easycms-block title-text">
    <p class="title-text-title scroll-notvisible">Lorem ipsum</p>
    <p class="title-text-text scroll-notvisible x2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</div>