// /**
//  * Copyright © Zemez, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .block-static-block,
    .block-cms-link {
        &.widget {

        }
    }

    .block-cms-link-inline {
        &.widget {
            margin: 0;
        }
    }
}
