<?php
// @codingStandardsIgnoreFile

/** @var $block \Project\BackInStock\Block\Email\Stock */

/** @var \Project\BackInStock\Helper\BackInStockHelper $_helper */
$_helper = $this->helper('Project\BackInStock\Helper\BackInStockHelper');?>
<?php if ($_products = $block->getProducts()): ?>
<table>
<?php foreach ($_products as $_product): ?>
    <tr>
        <td align="center" class="col photo">
            <p>
                <a href="<?= /* @escapeNotVerified */  $block->getProductUrl($_product) . $_helper->getTrackingParameters() ?>" title="<?= $block->escapeHtml($_product->getName()) ?>" class="product photo">
                <?= $block->getImage($_product, 'new_products_content_widget_grid', ['class' => 'photo image'])->toHtml() ?>
               </a>
            </p>
            <p class="product name" style="text-transform: uppercase; margin-bottom: 2em;">
                    <?= $block->escapeHtml($_product->getName()) ?>
            </p>
            <p>
                <a class="action-viewproduct"
                   style="text-decoration: none; background: #ed1e24; color: #fff; font-family: 'Helvetica Neue',sans-serif; border-top: solid 10px #ed1e24; border-right: solid 14px #ed1e24; border-left: solid 14px #ed1e24; border-bottom: solid 10px #ed1e24;  line-height: 1; letter-spacing: 1px; font-size: 0.89em; box-shadow: 0px 2px 2px 0 #b32025;"
                   href="<?= /* @escapeNotVerified */  $block->getProductUrl($_product) . $_helper->getTrackingParameters() ?>">
                    <?= __('VIEW PRODUCT') ?>
                </a>
            </p>
            <?php if ($shortDescription = $block->getFilteredContent($_product->getShortDescription())): ?>
                <p><small><?= /* @escapeNotVerified */  $shortDescription ?></small></p>
            <?php endif; ?>
        </td>
    </tr>
<?php endforeach; ?>
</table>
<?php endif; ?>
