<?php /** @var \Project\Rma\Block\Returns\Create $block */ ?>

<?php $_order =  $block->getOrder(); ?>
<?php $_data = $block->getFormData(); ?>
<?php $_items = $block->getItems(); ?>
<?php $totalAvlQty = 0; ?>
<script id="template-registrant" type="text/x-magento-template">
    <div class="actions-toolbar">
        <div class="secondary" id="delete<%- data._index_ %>">
            <button type="button" class="action remove delete"><span><?= /* @escapeNotVerified */ __('Remove') ?></span></button>
        </div>
    </div>
    <fieldset class="fieldset">
        <div class="field item required">
            <label for="items:item<%- data._index_ %>" class="label"><span><?= /* @escapeNotVerified */ __('Item') ?></span></label>
            <div class="control">
                <?php $bundleID     = 0; ?>
                <?php $firstItemId = $i = $productType = $availableQty = 0; ?>
                <?php $html         = []; ?>
                <select name="items[<%- data._index_ %>][order_item_id]" class="select" id="items:item<%- data._index_ %>" data-args='{"index":<%- data._index_ %>}'>
                    <?php foreach ($_items as $_item): ?>
                        <?php $totalAvlQty += $block->getAvailableQty($_item); ?>
                    <?php if ($i == 0): ?>
                        <?php
                        $firstItemId = $_item->getId();
                        $productType = $_item->getProductType();
                        $availableQty = $block->getAvailableQty($_item);
                        $i = 1;
                        ?>
                        <?php endif; ?>
                    <?php if ($_item->getProductType() == \Magento\Catalog\Model\Product\Type::TYPE_BUNDLE): ?>
                        <?php $bundleID = $_item->getId(); ?>
                        <?php endif; ?>
                    <?php if (!$_item->getParentItemId() || $_item->getParentItemId() != $bundleID): ?>
                        <option value="<?= /* @escapeNotVerified */ $_item->getId() ?>" id="item:order_item_id<%- data._index_ %>_<?= /* @escapeNotVerified */ $_item->getId() ?>" rel="<?= /* @escapeNotVerified */ $_item->getProductType() ?>_<?= /* @escapeNotVerified */ $block->getAvailableQty($_item) ?>"><?= $block->escapeHtml($_item->getName()) ?></option>
                        <?php endif; ?>
                    <?php if ($_item->getParentItemId() != null && $_item->getParentItemId() == $bundleID): ?>
                        <?php if ($_item->getIsOrdered()): ?>
                            <?php
                            $html[$bundleID][] = [
                                $_item->getId(),
                                $block->escapeHtml($_item->getName()),
                                $block->getAvailableQty($_item),
                                1,
                            ];
                            ?>
                            <?php else: ?>
                            <?php
                            $html[$bundleID][] = [
                                $_item->getId(),
                                $block->escapeHtml($_item->getName()),
                                $block->getAvailableQty($_item),
                                0,
                            ];
                            ?>
                            <?php endif; ?>
                        <?php endif; ?>
                    <?php endforeach; ?>
                </select>
            <?php if (!empty($html)): ?>
            <?php foreach ($html as $bundleID => $node): ?>
                <div class="nested">
                    <div id="radio:item<%- data._index_ %>_<?= /* @escapeNotVerified */ $bundleID ?>">
                        <div class="table-wrapper">
                            <table class="data table table-return-items" id="return-items-table-<?= /* @escapeNotVerified */ $bundleID ?>">
                                <caption class="table-caption"><?= /* @escapeNotVerified */ __('Return items') ?></caption>
                                <thead>
                                    <tr>
                                        <th class="col product" scope="col"><?= /* @escapeNotVerified */ __('Sub-items') ?></th>
                                        <th class="col remaining qty" scope="col"><?= /* @escapeNotVerified */ __('Remaining Qty') ?></th>
                                        <th class="col qty" scope="col"><?= /* @escapeNotVerified */ __('Qty') ?></th>
                                    </tr>
                                </thead>
                                <tbody>
                                <?php foreach ($node as $item): ?>
                                    <tr>
                                        <td data-th="<?= $block->escapeHtml(__('Product')) ?>" class="col product">
                                            <?php if ($item[3]): ?>
                                                <input type="checkbox" disabled>
                                            <?php else: ?>
                                                <input id="items[<%- data._index_ %>][<?= /* @escapeNotVerified */ $bundleID ?>][checkbox][item][<?= /* @escapeNotVerified */ $item[0] ?>]" data-validate="{'validate-one-required-by-name':true}"  data-args='{"item" :<?= /* @escapeNotVerified */ $item[0] ?>, "bundleId" : <?= /* @escapeNotVerified */ $bundleID ?>, "index" :<%- data._index_ %>}' type="checkbox" value="<?= /* @escapeNotVerified */ $item[0] ?>" class="checkbox change-container-classname" name="validate-one-checkbox-<?= /* @escapeNotVerified */ $bundleID ?>-<%- data._index_ %>" />
                                            <?php endif; ?>
                                            <label for="items[<%- data._index_ %>][<?= /* @escapeNotVerified */ $bundleID ?>][checkbox][item][<?= /* @escapeNotVerified */ $item[0] ?>]" class="label <?= ($item[3]) ? 'disabled' : ''?>"><?= /* @escapeNotVerified */ $item[1] ?></label>
                                        </td>
                                        <td data-th="<?= $block->escapeHtml(__('Remaining Qty')) ?>" class="col remaining qty"><?= /* @escapeNotVerified */ $item[2] ?></td>
                                        <td data-th="<?= $block->escapeHtml(__('Qty')) ?>" class="col qty">
                                            <?php if (!$item[3]): ?>
                                                <input id="items[<%- data._index_ %>][<?= /* @escapeNotVerified */ $bundleID ?>][checkbox][qty][<?= /* @escapeNotVerified */ $item[0] ?>]" name="items[<%- data._index_ %>][items][<?= /* @escapeNotVerified */ $item[0] ?>]" size="7" data-validate="{'validate-greater-than-zero':true,'required-number':true}" type="number" style="display:none" disabled class="input-text">
                                            <?php endif; ?>
                                        </td>
                                    </tr>
                                <?php endforeach; ?>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <?php endforeach; ?>
            <?php endif; ?>
            </div>
        </div>
        <div class="field qty required" id="qty_requested_block_<%- data._index_ %>">
            <label for="items:qty_requested<%- data._index_ %>" class="label"><span><?= /* @escapeNotVerified */ __('Quantity To Return') ?></span></label>
            <div class="control">
                <input type="number" class="input-text" data-validate="{'validate-greater-than-zero':true,'required-number':true}" value="" name="items[<%- data._index_ %>][qty_requested]" id="items:qty_requested<%- data._index_ %>">
                <div class="note" id="remaining_quantity_block_<%- data._index_ %>">
                    <?= /* @escapeNotVerified */ __('Remaining Quantity:') ?>&nbsp;<span id="remaining_quantity_<%- data._index_ %>" class="qty remaining"></span>
                </div>
            </div>

        </div>

        <?php foreach ($block->getAttributes() as $attribute):?>
        <?php $attributeContent = $block->getAttributeHtml($attribute);?>
        <?php if ($attributeContent): ?>
            <?= /* @escapeNotVerified */ $attributeContent ?>
        <?php endif;?>
        <?php endforeach;?>
    </fieldset>
</script>

<form id="rma_create_form" method="post" action="<?=
/* @noEscape */ $block->getSubmitUrl()?>" enctype="multipart/form-data" class="form form-create-return">
    <fieldset class="fieldset">
        <legend class="legend">
            <span><?= /* @escapeNotVerified */ __('New Return for Order %1', $_order->getIncrementId()) ?></span>
        </legend>
        <br>
        <div class="field id">
            <span class="label"><span><?= /* @escapeNotVerified */ __('Order ID') ?></span></span>
            <div class="control"><span><?= /* @escapeNotVerified */ $_order->getIncrementId() ?></span></div>
        </div>
        <div class="field name">
            <span class="label"><span><?= /* @escapeNotVerified */ __('Customer Name') ?></span></span>
            <div class="control"><span><?= $block->escapeHtml($_order->getCustomerName()) ?></span></div>
        </div>
        <div class="field email">
            <span class="label"><span><?= /* @escapeNotVerified */ __('Email') ?></span></span>
            <div class="control"><span><?= /* @escapeNotVerified */ $_order->getCustomerEmail() ?></span></div>
        </div>
        <div class="field contact email">
            <label class="label" for="email"><span><?= /* @escapeNotVerified */ $this->helper('Magento\Rma\Helper\Data')->getContactEmailLabel() ?></span></label>
            <div class="control">
                <input type="text" name="customer_custom_email" id="email" title="Contact Email Address" class="input-text" data-validate="{'validate-email':true}" value="<?= /* @escapeNotVerified */ $block->getContactEmail() ?>">
            </div>
        </div>
        <div class="field address shipping">
            <span class="label"><span><?= /* @escapeNotVerified */ __('Pickup Adress') ?></span></span>
            <address class="control"><?php echo /* @escapeNotVerified */ $block->getAddress() ?></address>
            <?php if($block->isPickupAddressEditable()): ?>
                <a href="<?php echo $block->getRmaAddressCreateUrl(); ?>"><?php echo __('Edit') ?></a>
            <?php endif;?>
            <input type="hidden" name="<?= $block->getAddressParamName(); ?>" value="<?= $block->getAddressParamValue(); ?>"/>
        </div>
    </fieldset>
    <script type="text/x-magento-init">
        {
            "#rma_create_form": {
                "fileElement": {},
                "rmaCreate": {
                    <?php $i = 0; ?>
                    <?php if ($_data): ?>
                    <?php $formDataPost = $_data->getItems(); ?>
                    <?php if (is_array($formDataPost)): ?>
                    "formDataPost": <?= /* @escapeNotVerified */ json_encode($formDataPost) ?>,
                    <?php endif; ?>
                    <?php endif; ?>
                    "templateRegistrant": "#template-registrant",
                    "registrantOptions": "#registrant-options",
                    "addItemToReturn": "add-item-to-return",
                    "btnRemove": "delete",
                    "row": "#row",
                    "addRow": "additional row",
                    "qtyReqBlock": "#qty_requested_block",
                    "remQtyBlock": "#remaining_quantity_block",
                    "remQty": "#remaining_quantity",
                    "reasonOtherRow": "#reason_other",
                    "reasonOtherInput": "#items:reason_other",
                    "radioItem": "#radio:item",
                    "orderItemId": "#item:order_item_id",
                    "itemsItem": "items:item",
                    "itemsReason": "items:reason",
                    "totalAvlQty": "<?= /* @escapeNotVerified */ ($totalAvlQty) ? $totalAvlQty : 0 ?>",
                    "firstItemId": "<?= /* @escapeNotVerified */ $firstItemId ?>",
                    "productType": "<?= /* @escapeNotVerified */ $productType ?>",
                    "availableQuantity": "<?= /* @escapeNotVerified */ ($availableQty) ? $availableQty : 0 ?>",
                    "prodTypeBundle": "<?= /* @escapeNotVerified */ \Magento\Catalog\Model\Product\Type::TYPE_BUNDLE ?>"
                },
                "validation": {
                     "ignore": ":hidden:not(input[id$='_value'])"
                }
            }
        }
    </script>
    <?php $pickupDates = $block->getPickupDates(); ?>
    <fieldset class="fieldset addon">
        <legend class="legend"><span><?php echo __('Pickup date') ?></span></legend>
        <br>
        <?php echo $block->getChildHtml('ups-pickup-information'); ?>
        <?php if (!empty($pickupDates)) : ?>
            <span><?php echo __('Choose one of the following dates'); ?></span>
            <br><br>
            <?php foreach ($pickupDates as $key => $date) : ?>
                <div class="field">
                    <input type="radio"
                           value="<?php echo $date; ?>"
                           name="pickup_date" id="pickup_date:<?php echo $key; ?>"
                           class="required-entry"
                           data-validate="{'validate-one-required-by-name':true}"
                    />
                    <label class="label" for="pickup_date:<?php echo $key; ?>"><?php echo $date; ?></label>
                </div>
            <?php endforeach; ?>
        <?php endif; ?>
    </fieldset>
    <fieldset class="fieldset">
        <legend class="legend"><span><?= /* @escapeNotVerified */ __('Return Items Information') ?></span></legend>
        <br>
        <div id="registrant-options"></div> <?php /* fields of the form are inserted here */ ?>
        <div class="actions-toolbar">
            <div class="secondary">
                <button type="button" id="add-item-to-return" class="action add">
                    <span><?= /* @escapeNotVerified */ __('Add Item To Return') ?></span>
                </button>
            </div>
        </div>
        <div class="field comment">
            <label for="rma_comment" class="label"><span><?= /* @escapeNotVerified */ __('Comments') ?></span></label>
            <div class="control">
                <textarea id="rma_comment" cols="5" rows="3" name="rma_comment" class="input-text"><?php if ($_data): ?><?= /* @escapeNotVerified */ $_data->getRmaComment() ?><?php endif; ?></textarea>
            </div>
        </div>
    </fieldset>
    <div class="actions-toolbar">
        <div class="primary">
            <button type="submit" class="action submit primary submitram" id="submit.save"  title="<?= /* @escapeNotVerified */ __('Save') ?>"><span><?= /* @escapeNotVerified */ __('Submit') ?></span></button>
        </div>
        <div class="secondary">
            <a href="<?= /* @escapeNotVerified */ $block->getBackUrl() ?>" class="action back"><span><?= /* @escapeNotVerified */ __('Back') ?></span></a>
        </div>
    </div>
</form>
<script>
    require([
            'jquery'
        ],
        function ($) {
            $('form').on('submit', function(e) {
                $('.submitram').attr("disabled",true);
            });
        });
</script>
