<?php /** @var $block \Project\Core\Block\Navigation\Menu\View */ ?>
<?php $category  = $block->getCategory();?>
<?php $menuLevel = $block->getMenulevel(); ?>
<?php $i = 1 ?>
<?php $menuMaxDepth   = (int) $this->helper('Project\Catalog\Helper\Config')->getMenuMaxDepth(); ?>
<?php $nextToMaxDepth = (($block->getMenuLevel()+1)==$menuMaxDepth); ?>
<?php $overMaxDepth   = (($block->getMenuLevel())>=$menuMaxDepth); ?>
<?php if ($overMaxDepth) {
  return;
}
?>

<li class="level<?php echo $menuLevel ?> ui-menu-item
<?php if (!$menuLevel) :?> level-top <?php endif; ?>
<?php if ($category->getSegmentable()): ?> segmentable<?php endif; ?>
 nav-<?php echo (int) $category->getPosition() ?>
<?php if ($block->hasActiveChildren() && !$nextToMaxDepth):?> parent <?php endif;?>
<?php if ($block->isExpandable() && $menuLevel != 0) :?> expands <?php endif; ?>
">
    <a id="cat-<?php echo $category->getId() ?>" class="<?php if ($menuLevel==0) echo 'level-top' ?>"
       href="<?php echo $category->getUrl() ?>">
        <span><?php echo $category->getName() ?></span>
    </a>
    <?php if ($block->isExpandable()): ?>
        <div class="submenu">
            <div class="centered-content">
                <div class="left-expands">
                    <ul>
                        <?php $children = $block->getExpandedCategories() ?>
                        <?php foreach ($children as $category): ?>
                            <?php $category->setPosition($block->getChildPosition($i)) ?>
                            <?php $i++ ?>
                            <?php echo $block->getCategoryHtml($category) ?>
                        <?php endforeach ?>
                    </ul>
                </div>

                <div class="other-elements">
                    <ul>
                        <?php
                        $children = $block->getNonExpandedCategories();
                        $cpt = 0;
                        ?>
                        <?php foreach ($children as $category): ?>
                            <?php $category->setPosition($block->getChildPosition($i)) ?>
                            <?php $i++ ?>
                            <?php echo $block->getCategoryHtml($category) ?>
                            <?php $cpt++ ?>
                            <?php if (($cpt % 5) == 0): ?>
                                <br/>
                            <?php endif; ?>
                        <?php endforeach ?>
                    </ul>
                </div>
            </div>

            <div class="menu-bottom">
                <div class="centered-content">
                    <?php echo $block->getMenuCmsBlockHtml(); ?>
                </div>
            </div>
        </div>
    <?php else: ?>
        <?php if ($block->hasActiveChildren()): ?>
            <?php if ($block->getMenuLevel()==0): ?>
            <div class="submenu">
                <div class="centered-content no-left-expands
                <?php if ($block->isExpandable()): ?> left-expands <?php endif; ?>
                ">
                    <?php $children = $block->getActiveChildren() ?>
                    <?php $children_count = count($children) ?>
                    <ul class="level<?=$menuLevel ?>">
                        <?php foreach ($children as $category): ?>
                            <?php $category->setPosition($block->getChildPosition($i)) ?>
                            <?php $i++ ?>
                            <?php echo $block->getCategoryHtml($category) ?>
                        <?php endforeach ?>
                    </ul>
                </div>

                <div class="menu-bottom">
                    <div class="centered-content">
                        <?php echo $block->getMenuCmsBlockHtml(); ?>
                    </div>
                </div>
            </div>
            <?php else: ?>
                <ul class="level<?php echo $menuLevel ?> submenu">
                    <?php $children = $block->getActiveChildren() ?>
                    <?php foreach ($children as $category): ?>
                        <?php $category->setPosition($block->getChildPosition($i)) ?>
                        <?php $i++ ?>
                        <?php echo $block->getCategoryHtml($category) ?>
                    <?php endforeach ?>
                </ul>
            <?php endif; ?>
        <?php endif ?>
    <?php endif; ?>
</li>
