<?php /** @var $block Synolia\AdvancedMenu\Block\Catalog\Navigation\Menu\View */ ?>
<?php $category = $this->getCategory();?>
<?php $menuLevel = $this->getMenulevel(); ?>
<?php $i = 1 ?>
<?php $menuMaxDepth   = (int) $this->helper('Project\Catalog\Helper\Config')->getMenuMaxDepth(); ?>
<?php $nextToMaxDepth = (($block->getMenuLevel()+1)==$menuMaxDepth); ?>
<?php $overMaxDepth   = (($block->getMenuLevel())>=$menuMaxDepth); ?>
<?php if ($overMaxDepth) {
    return;
}
?>

<li class="level<?php echo $menuLevel ?> left-item
<?php if (!$menuLevel) :?> level-top <?php endif; ?>
nav-<?php echo $category->getPosition() ?>">
    <a id="cat-<?php echo $category->getId() ?>" class="<?php if (!$menuLevel) echo 'level-top' ?>"
       href="<?php echo $category->getUrl() ?>">
        <span><?php echo $category->getName() ?></span>
    </a>
    <?php /* No children accepted for left-expands categories */ ?>
</li>