<div class="legal-conditions">
    <p>
        Your data is collected by Christian Louboutin Suisse SA for the sole purpose of providing you with a
        quality service as expected when you create an account on our site. They may be transmitted to other
        companies of the Christian Louboutin Group.
        You may at any time exercise your rights and withdraw your consent by sending
        an e-mail to: <a href="mailto:privacy.europe@christianlouboutin.com">privacy.europe@christianlouboutin.com</a>.
        Please see our <a href="{{store url=''}}policy">Privacy Policy</a> for more information.
    </p>
</div>
