<p style="font-size: 13px; color: #000000; margin-bottom: 40px;">Our Client Service team are here to assist you in any way they can. Looking for the perfect shoe? Have a question about a boutique? Need Style advise?</p>
<p style="font-size: 15px; color: #000000;"><strong>We are available</strong></p>
<p style="font-size: 13px; color: #000000;">Monday - Saturday from 9AM-7PM (GMT+1)</p>
<p style="font-size: 13px;">Alternately, you can contact us by telephone: {{config path="general/store_information/phone2"}}</p>
