<p style="font-size: 13px; color: #000000; margin-bottom: 40px;">Our Online Personal Shoppers are available to assist you with online order inquiries; placing orders; size and fit advice; detailed product information; delivery questions; exchange and return queries.</p>
<p style="font-size: 15px; color: #000000;"><strong>We are available</strong></p>
<p style="font-size: 13px; color: #000000;">Monday - Saturday from 9AM-7PM (GMT+1)</p>
<p style="font-size: 13px;">Alternately, you can contact us by telephone: {{config path="general/store_information/phone"}}</p>
