<table>
    <tr>
        <td align="center" valign="top">
            <table id="reasonsPictos" border="0" cellpadding="0" cellspacing="0" style="margin: 2em 1em; font-size:0.855em;
            letter-spacing: 0px; line-height: 17px; color: #ce0a2c; font-family: Helvetica Neue; text-align: center;">
                <tr>
                    <td align="center" valign="top" height="133" class="reinsurance-element col-1" style="border-bottom: 1px solid #ea0000; padding: 1.6em 1em">
                        <span style="display: block; position: relative; top: 8px;">
                            <img src="{{media url='wysiwyg/Email/pictos/availability.png'}}" class="rwd-image reinsurancePicto"
                                 width="95" height="76" border="0" alt="Free shipping Above 500€/400£/550 CHF"
                                 style="width: 2.5em; height: 2.5em; display: block; margin-bottom: 10%;" />
                            <span class="text reinsurancePicto" style="display: block">FREE SHIPPING</span>ABOVE 500€/400£/550CHF
                        </span>
                    </td>
                    <td  align="center" valign="top" height="133" class="reinsurance-element col-2"
                         style="border-left: 1px solid #ea0000; border-bottom: 1px solid #ea0000; padding: 2em 3em;">
                        <span style="display: block; position: relative; top: 8px;">
                            <img src="{{media url='wysiwyg/Email/pictos/lock.png'}}" class="rwd-image reinsurancePicto"
                                 width="95" height="76" border="0" alt="100% secured payment"
                                 style="width: 2.5em; height: 2.5em; display: block; margin-bottom: 10%;" />
                            <span class="text reinsurancePicto" style="display: block">100% SECURED</span>PAYMENT
                        </span>
                    </td>
                    <td align="center" valign="top" height="107" class="reinsurance-element col-3" style="border-left: 1px solid #ea0000; border-bottom: 1px solid #ea0000; padding: 1.5em 1em;">
                        <span style="display: block; position: relative; top: 8px;">
                            <img src="{{media url='wysiwyg/Email/pictos/advice.png'}}" class="rwd-image reinsurancePicto"
                                 width="95" height="76" border="0" alt="Expert advice on Styling & Sizing"
                                 style="width: 2.5em; height: 2.5em; display: block; margin-bottom: 10%;" />
                            <span class="text reinsurancePicto" style="display: block">EXPERT ADVICE</span> ON STYLING AND SIZING
                        </span>
                    </td>
                </tr>
                <tr>
                    <td align="center" valign="top" height="107" class="reinsurance-element col-4" style=" padding: 2em 1em;">
                        <span>
                            <img src="{{media url='wysiwyg/Email/pictos/delivery.png'}}" class="rwd-image reinsurancePicto"
                                 width="95" height="76" border="0" alt="1 or 2 days Delivery shop"
                                 style="width: 2.5em; height: 2.5em; display: block; margin-bottom: 5%;" />
                            <span class="text reinsurancePicto" style="display: block">1 TO 2 DAYS</span>DELIVERY SHOP
                        </span>
                    </td>
                    <td align="center" valign="top" height="103" class="reinsurance-element col-5"
                        style="border-left: 1px solid #ea0000; padding: 1.5em 2em;">
                        <span>
                            <img src="{{media url='wysiwyg/Email/pictos/online.png'}}" class="rwd-image reinsurancePicto"
                                 width="95" height="76" border="0" alt="Online exclusives"
                                 style="width: 2.5em; height: 2.5em; display: block; margin-bottom: 10%;" />
                            <span class="text reinsurancePicto" style="display: block">ONLINE</span>EXCLUSIVE
                        </span>
                    </td>
                    <td align="center" valign="top" height="103" class="reinsurance-element col-6"
                        style="border-left: 1px solid #ea0000; padding: 1.5em 2em;">
                        <span>
                            <img src="{{media url='wysiwyg/Email/pictos/return.png'}}" class="rwd-image reinsurancePicto"
                                 width="95" height="76" border="0" alt="14 days to change your mind"
                                 style="width: 2.5em; height: 2.5em; display: block; margin-bottom: 10%;" />
                            <span class="text reinsurancePicto" style="display: block">14 DAYS TO </span>CHANGE YOUR MIND
                        </span>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>