<p class="form-info">
    Sign Up for our Newsletter and be the first to discover our new collections and latest trends.<br/>
    You will be able to unsubscribe easily by clicking on the link available in the Newsletters.<br/>
    Your data is collected by Christian Louboutin Suisse SA to keep you informed about Christian Louboutin news and events.<br>
    For the same purpose, your details may be shared with other Christian Louboutin entities and our service providers.<br>
    You may exercise your right by contacting <a href="mailto:privacy.europe@ch.christianlouboutin.com"> privacy.europe@ch.christianlouboutin.com</a>
    as indicated in our <a href="{{store direct_url='policy'}}" target="_blank">Privacy Policy</a>.
</p>