
& when (@media-target = 'mobile') {
    // Widger Brands
    .block.brands {
        .brandlist {
            text-align: center;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            margin-left: -15px;
            margin-right: -15px;
            width: auto;

            .brand {
                padding: 0 15px;
            }

            .brand-logo {
                display: inline-block;
                margin-bottom: 15px;
            }

            .brand-name {
                margin-bottom: 0;
            }

            @media screen and (max-width: (@screen__m - 1)) {
                .brand {
                    flex-basis: 50% !important;
                }
            }
        }

        .owl-carousel {
            .brand-logo {
                margin-bottom: 0;
            }
        }

        .owl-stage {
            align-items: center;
        }
    }
}
