@charset "UTF-8";

@font-face {
  font-family: "loubicons";
  src:url("fonts/loubicons.eot");
  src:url("fonts/loubicons.eot?#iefix") format("embedded-opentype"),
    url("fonts/loubicons.woff") format("woff"),
    url("fonts/loubicons.ttf") format("truetype"),
    url("fonts/loubicons.svg#loubicons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "loubicons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "loubicons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-i1:before {
  content: "\e000";
}
.icon-i3:before {
  content: "\e002";
}
.icon-i4:before {
  content: "\e003";
}
.icon-i5:before {
  content: "\e004";
}
.icon-i6:before {
  content: "\e005";
}
.icon-i7:before {
  content: "\e006";
}
.icon-i8:before {
  content: "\e007";
}
.icon-i9:before {
  content: "\e008";
}
.icon-i10:before {
  content: "\e009";
}
.icon-i11:before {
  content: "\e00a";
}
.icon-i12:before {
  content: "\e00b";
}
.icon-i13:before {
  content: "\e00c";
}
.icon-i14:before {
  content: "\e00d";
}
.icon-i15:before {
  content: "\e00e";
}
.icon-i16:before {
  content: "\e00f";
}
.icon-i17:before {
  content: "\e010";
}
.icon-i18:before {
  content: "\e011";
}
.icon-i19:before {
  content: "\e012";
}
.icon-i20:before {
  content: "\e013";
}
.icon-i21:before {
  content: "\e014";
}
.icon-i23:before {
  content: "\e016";
}
.icon-i24:before {
  content: "\e017";
}
.icon-i25:before {
  content: "\e018";
}
.icon-i26:before {
  content: "\e019";
}
.icon-i27:before {
  content: "\e01a";
}
.icon-i28:before {
  content: "\e01b";
}
.icon-i29:before {
  content: "\e01c";
}
.icon-i30:before {
  content: "\e01d";
}
.icon-i31:before {
  content: "\e01e";
}
.icon-i32:before {
  content: "\e01f";
}
.icon-i33:before {
  content: "\e020";
}
.icon-i34:before {
  content: "\e021";
}
.icon-i35:before {
  content: "\e022";
}
.icon-i36:before {
  content: "\e023";
}
.icon-i37:before {
  content: "\e024";
}
.icon-i38:before {
  content: "\e025";
}
.icon-i39:before {
  content: "\e026";
}
.icon-i40:before {
  content: "\e027";
}
.icon-i41:before {
  content: "\e028";
}
.icon-i42:before {
  content: "\e029";
}
.icon-i43:before {
  content: "\e02a";
}
.icon-i44:before {
  content: "\e02b";
}
.icon-i45:before {
  content: "\e02c";
}
.icon-i46:before {
  content: "\e02d";
}
.icon-i47:before {
  content: "\e02e";
}
.icon-i40-1:before {
  content: "\e02f";
}
.icon-i48:before {
  content: "\e030";
}
.icon-i49:before {
  content: "\e031";
}
.icon-i51:before {
  content: "\e032";
}
.icon-i53:before {
  content: "\e033";
}
.icon-i52:before {
  content: "\e034";
}
.icon-i54:before {
  content: "\e035";
}
.icon-i55:before {
  content: "\e036";
}
.icon-i56:before {
  content: "\e037";
}
.icon-i57:before {
  content: "\e038";
}
.icon-i58:before {
  content: "\e039";
}
.icon-i60:before {
  content: "\e03a";
}
.icon-i61:before {
  content: "\e03b";
}
.icon-i62:before {
  content: "\e03c";
}
.icon-i63:before {
  content: "\e03d";
}
.icon-i64:before {
  content: "\e03e";
}
.icon-i65:before {
  content: "\e040";
}
.icon-i2:before {
  content: "\e001";
}
.icon-i66:before {
  content: "\e03f";
}
.icon-i67:before {
  content: "\e041";
}
.icon-i68:before {
  content: "\e042";
}
.icon-i69:before {
  content: "\e043";
}
.icon-i70:before {
  content: "\e044";
}
.icon-i71:before {
  content: "\e045";
}
.icon-i22:before {
  content: "\e015";
}
.icon-i74:before {
  content: "\e048";
}
.icon-i75:before {
  content: "\e049";
}
.icon-i72:before {
  content: "\e046";
}
.icon-i73:before {
  content: "\e047";
}
.icon-i76:before {
  content: "\e050";
}
.icon-i77:before {
  content: "\e04a";
}
.icon-i78:before {
  content: "\e04b";
}
.icon-i79:before {
  content: "\e04c";
}
.icon-i80:before {
  content: "\e04d";
}
.icon-i81:before {
  content: "\e04e";
}
.icon-i82:before {
  content: "\e04f";
}
.icon-i83:before {
  content: "\e051";
}
.icon-i84:before {
  content: "\e052";
}
.icon-i85:before {
  content: "\e053";
}
.icon-i86:before {
  content: "\e054";
}
.icon-i87:before {
  content: "\e055";
}
.icon-i88:before {
  content: "\e056";
}
.icon-i89:before {
  content: "\e057";
}
.icon-i90:before {
  content: "\e058";
}
.icon-i91:before {
  content: "\e059";
}
.icon-i92:before {
  content: "\e05a";
}
.icon-i93:before {
  content: "\e05b";
}
.icon-i94:before {
  content: "\e05c";
}
.icon-i95:before {
  content: "\e05d";
}
.icon-i96:before {
  content: "\e05e";
}
.icon-i97:before {
  content: "\e05f";
}
.icon-i98:before {
  content: "\e060";
}
.icon-i99:before {
  content: "\e061";
}
.icon-i100:before {
  content: "\e062";
}
.icon-i101:before {
  content: "\e063";
}
.icon-i102:before {
  content: "\e064";
}
.icon-i103:before {
  content: "\e065";
}
.icon-i104:before {
  content: "\e066";
}
.icon-i105:before {
  content: "\e067";
}
.icon-i106:before {
  content: "\e068";
}
.icon-i107:before {
  content: "\e069";
}
.icon-i108:before {
  content: "\e06a";
}
.icon-i109:before {
  content: "\e06b";
}
.icon-i110:before {
  content: "\e06c";
}
.icon-i111:before {
  content: "\e06d";
}
.icon-i112:before {
  content: "\e06e";
}