<?php /** @var $block Project\BackInStock\Block\View */ ?>
<?php $product = $block->getProduct(); ?>
<?php
/** @var \Project\Contact\Helper\Email $emailHelper */
$emailHelper = $this->helper('Project\Contact\Helper\Email');
?>
<div class="block backInStock backInStock-content" id="popup-backInStock" data-bind="scope:'backInStock'">
    <div class="messages">
        <div class="message message-error error">
            <div></div>
        </div>
    </div>
    <div class="intro">
        <h2 class="h2"><?php echo __('Product not available ?'); ?></h2>
        <p><?php echo __('Please subscribe and we will let you know as soon as it is back in stock !'); ?></p>
    </div>
    <div class="content">
        <form class="form register"
              novalidate
              action="<?php echo $block->getFormActionUrl(); ?>"
              method="post"
              data-mage-init='{"validation": {"errorClass": "mage-error"}}'
              id="backInStock-validate-detail">
            <div class="fieldset">
                <div class="field">
                    <div class="control">
                        <input name="email" type="email" id="backInStock_email"
                               class="input-text"
                               placeholder="<?php echo __('Email address *'); ?>"
                               data-validate="{required:true, 'validate-email':true}"
                               <?php if ($block->isCustomerLoggedIn()): ?>
                                    <?= 'readonly' ?>
                               <?php endif; ?>
                               data-bind="value: getEmail()" />
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input name="phone_number" type="number" id="backInStock_number"
                               class="input-text"
                               placeholder="<?php echo __('Phone Number'); ?>"
                               data-bind="value: getTelephone()" />
                    </div>
                </div>
            </div>
            <p><?php echo __('* Mandatory fields'); ?></p>
            <input type="hidden" name="product" value="<?php echo $product->getId() ?>"/>
            <input type="hidden" name="selected_configurable_option" value="" />
            <div class="actions">
                <button class="action register" title="<?php echo __('Submit'); ?>" type="submit">
                    <span><?php echo __('Submit'); ?></span>
                </button>
            </div>
            <div>
                <p class="legalText">
                    <?php echo __('Your data is collected by Christian Louboutin Suisse SA for the sole') ?>
                    <span id="dots">...</span>
                    <span id="more">
                        <?php echo __('purpose of informing you of the availability of the product of your choice.') ?><br/>
                        <?php echo __('You may at any time exercise your rights and withdraw your consent by sending an e-mail to:') ?>
                        <a href="mailto:<?= $emailHelper->getConfigValue($emailHelper::XML_PATH_LEGAL_SERVICE_EMAIL) ?>">
                            <?= $emailHelper->getConfigValue($emailHelper::XML_PATH_LEGAL_SERVICE_EMAIL) ?>
                        </a><br/>
                        <?php echo __('Please see our') ?>
                        <a href="<?= $block->getUrl('policy');?>">
                            <?= $block->escapeHtml(__('Privacy Policy'));?>
                        </a>
                        <?php echo __('for more information.') ?>
                    </span>
                </p>
                <p>
                    <a id="moreLink" href="#"><?= __('Read more »') ?></a>
                </p>
            </div>
        </form>
    </div>
</div>
<script type="text/x-magento-init">
    {
        "#popup-backInStock": {
            "popupBackInStock": {}
        }
    }
</script>