<p>Dear All,</p>
<p>A new prices import has been done on <?php echo $this->getDate(); ?>, please find below the products we received with a price as 0 :</p>
<table style="border-collapse:collapse;">
    <tr>
        <th style="border:1px solid black;font-weight:bold;">Product reference</th>
        <th style="border:1px solid black;font-weight:bold;">Price</th>
        <th style="border:1px solid black;font-weight:bold;">Currency</th>
    </tr>
    <?php foreach ($this->getProductData() as $entry) {
        echo "<tr>
            <td style='border:1px solid black;'>" . $entry['searchable_sku'] . "</td>
            <td style='border:1px solid black;'>" . $entry['price'] . "</td>
            <td style='border:1px solid black;'>" . $entry['currency'] . "</td>
        </tr>";
    } ?>
</table>
<p>Best regards</p>
