<?php
$currencies = [];
foreach ($this->getData()['currencies'] as $currency) {
    $formater = new \NumberFormatter('en_us@currency=' . $currency, \NumberFormatter::CURRENCY);
    $currencies[$currency] = $formater->getSymbol(\NumberFormatter::CURRENCY_SYMBOL);
}
$colspan = count($currencies) + 2;

/** @var \Project\Erp\Helper\Config $helperConfig */
$helperConfig = $this->getHelperConfig();
/** @var \Project\Erp\Helper\Config\Report\Sales $helperReportSales */
$helperReportSales = $this->getHelperReportSales();
?>
<table style="border-collapse:collapse;">
    <tr>
        <th style="border:1px solid black;font-weight:bold;" colspan="<?php echo $colspan; ?>">INVOICES <?php echo $this->getData()['date']; ?> (PAYPAL <?php echo $this->getData()['paypalAmount']['header']; ?>)</th>
    </tr>
    <tr>
        <td style="border:1px solid black;text-align:right;"></td>
        <?php
        foreach ($this->getData()['currencies'] as $currency) {
            echo '<td style="border:1px solid black;text-align:right;">' . $currency . '</td>';
        }
        ?>
        <td style="border:1px solid black;text-align:right;">Total sum up of the products</td>
    </tr>
    <tr>
        <th style="border:1px solid black;font-weight:bold;text-align:left;">Invoices</th>
        <?php
        foreach ($this->getData()['currencies'] as $currency) {
            echo '<td style="border:1px solid black;text-align:right;">' . $this->getData()['invoicesCount'][$currency] . '</td>';
        }
        ?>
        <td style="border:1px solid black;text-align:right;"><?php echo $this->getData()['invoicesCount']['total']; ?></td>
    </tr>
    <tr>
        <th style="border:1px solid black;font-weight:bold;text-align:left;">Services Invoices</th>
        <?php
        foreach ($this->getData()['currencies'] as $currency) {
            if (isset($this->getData()['servicesInvoicesCount'][$currency])) {
                echo '<td style="border:1px solid black;text-align:right;">' . $this->getData()['servicesInvoicesCount'][$currency] . '</td>';
            } else {
                echo '<td style="border:1px solid black;text-align:right;"></td>';
            }
        }
        ?>
        <td style="border:1px solid black;text-align:right;"><?php echo $this->getData()['servicesInvoicesCount']['total']; ?></td>
    </tr>
    <tr>
        <th style="border:1px solid black;font-weight:bold;text-align:left;">Exchange Invoices</th>
        <?php
        foreach ($this->getData()['currencies'] as $currency) {
            if (isset($this->getData()['exchangeInvoicesCount'][$currency])) {
                echo '<td style="border:1px solid black;text-align:right;">' . $this->getData()['exchangeInvoicesCount'][$currency] . '</td>';
            } else {
                    echo '<td style="border:1px solid black;text-align:right;"></td>';
            }
        }
        ?>
        <td style="border:1px solid black;text-align:right;"><?php echo $this->getData()['exchangeInvoicesCount']['total']; ?></td>
    </tr>
    <tr>
        <th style="border:1px solid black;font-weight:bold;text-align:left;">Omnichannel Invoices</th>
        <?php
        foreach ($this->getData()['currencies'] as $currency) {
            if (isset($this->getData()['omnichannelInvoicesCount'][$currency])) {
                echo '<td style="border:1px solid black;text-align:right;">' . $this->getData()['omnichannelInvoicesCount'][$currency] . '</td>';
            } else {
                    echo '<td style="border:1px solid black;text-align:right;"></td>';
            }
        }
        ?>
        <td style="border:1px solid black;text-align:right;"><?php echo $this->getData()['omnichannelInvoicesCount']['total']; ?></td>
    </tr>
    <tr>
        <th style="border:1px solid black;font-weight:bold;text-align:left;">Products</th>
        <?php
        foreach ($this->getData()['currencies'] as $currency) {
            if (isset($this->getData()['productsCount'][$currency])) {
                echo '<td style="border:1px solid black;text-align:right;">' . $this->getData()['productsCount'][$currency] . '</td>';
            } else {
                    echo '<td style="border:1px solid black;text-align:right;"></td>';
            }
        }
        ?>
        <td style="border:1px solid black;text-align:right;"><?php echo $this->getData()['productsCount']['total']; ?></td>
    </tr>
    <tr>
        <th style="border:1px solid black;font-weight:bold;text-align:left;">Women Shoes</th>
        <?php
        foreach ($this->getData()['currencies'] as $currency) {
            if (isset($this->getData()['womenShoesCount'][$currency])) {
                echo '<td style="border:1px solid black;text-align:right;">' . $this->getData()['womenShoesCount'][$currency] . '</td>';
            } else {
                    echo '<td style="border:1px solid black;text-align:right;"></td>';
            }
        }
        ?>
        <td style="border:1px solid black;text-align:right;"><?php echo $this->getData()['womenShoesCount']['total']; ?></td>
    </tr>
    <tr>
        <th style="border:1px solid black;font-weight:bold;text-align:left;">Men Shoes</th>
        <?php
        foreach ($this->getData()['currencies'] as $currency) {
            if (isset($this->getData()['menShoesCount'][$currency])) {
                echo '<td style="border:1px solid black;text-align:right;">' . $this->getData()['menShoesCount'][$currency] . '</td>';
            } else {
                    echo '<td style="border:1px solid black;text-align:right;"></td>';
            }
        }
        ?>
        <td style="border:1px solid black;text-align:right;"><?php echo $this->getData()['menShoesCount']['total']; ?></td>
    </tr>
    <tr>
        <th style="border:1px solid black;font-weight:bold;text-align:left;">Women Bags</th>
        <?php
        foreach ($this->getData()['currencies'] as $currency) {
            if (isset($this->getData()['womenBagsCount'][$currency])) {
                echo '<td style="border:1px solid black;text-align:right;">' . $this->getData()['womenBagsCount'][$currency] . '</td>';
            } else {
                    echo '<td style="border:1px solid black;text-align:right;"></td>';
            }
        }
        ?>
        <td style="border:1px solid black;text-align:right;"><?php echo $this->getData()['womenBagsCount']['total']; ?></td>
    </tr>
    <tr>
        <th style="border:1px solid black;font-weight:bold;text-align:left;">Men Bags</th>
        <?php
        foreach ($this->getData()['currencies'] as $currency) {
            if (isset($this->getData()['menBagsCount'][$currency])) {
                echo '<td style="border:1px solid black;text-align:right;">' . $this->getData()['menBagsCount'][$currency] . '</td>';
            } else {
                    echo '<td style="border:1px solid black;text-align:right;"></td>';
            }
        }
        ?>
        <td style="border:1px solid black;text-align:right;"><?php echo $this->getData()['menBagsCount']['total']; ?></td>
    </tr>
    <tr>
        <th style="border:1px solid black;font-weight:bold;text-align:left;">Accessories</th>
        <?php
        foreach ($this->getData()['currencies'] as $currency) {
            if (isset($this->getData()['accessoriesCount'][$currency])) {
                echo '<td style="border:1px solid black;text-align:right;">' . $this->getData()['accessoriesCount'][$currency] . '</td>';
            } else {
                    echo '<td style="border:1px solid black;text-align:right;"></td>';
            }
        }
        ?>
        <td style="border:1px solid black;text-align:right;"><?php echo $this->getData()['accessoriesCount']['total']; ?></td>
    </tr>
    <tr>
        <th style="border:1px solid black;font-weight:bold;text-align:left;">Belts</th>
        <?php
        foreach ($this->getData()['currencies'] as $currency) {
            if (isset($this->getData()['beltsCount'][$currency])) {
                echo '<td style="border:1px solid black;text-align:right;">' . $this->getData()['beltsCount'][$currency] . '</td>';
            } else {
                echo '<td></td>';
            }
        }
        ?>
        <td style="border:1px solid black;text-align:right;"><?php echo $this->getData()['beltsCount']['total']; ?></td>
    </tr>
    <tr>
        <th style="border:1px solid black;font-weight:bold;text-align:left;">Bracelets</th>
        <?php
        foreach ($this->getData()['currencies'] as $currency) {
            if (isset($this->getData()['braceletsCount'][$currency])) {
                echo '<td style="border:1px solid black;text-align:right;">' . $this->getData()['braceletsCount'][$currency] . '</td>';
            } else {
                echo '<td></td>';
            }
        }
        ?>
        <td style="border:1px solid black;text-align:right;"><?php echo $this->getData()['braceletsCount']['total']; ?></td>
    </tr>
    <tr>
        <th style="border:1px solid black;font-weight:bold;text-align:left;">Nails</th>
        <?php
        foreach ($this->getData()['currencies'] as $currency) {
            if (isset($this->getData()['nailsCount'][$currency])) {
                echo '<td style="border:1px solid black;text-align:right;">' . $this->getData()['nailsCount'][$currency] . '</td>';
            } else {
                    echo '<td style="border:1px solid black;text-align:right;"></td>';
            }
        }
        ?>
        <td style="border:1px solid black;text-align:right;"><?php echo $this->getData()['nailsCount']['total']; ?></td>
    </tr>
    <tr>
        <th style="border:1px solid black;font-weight:bold;text-align:left;">Lips</th>
        <?php
        foreach ($this->getData()['currencies'] as $currency) {
            if (isset($this->getData()['lipsCount'][$currency])) {
                echo '<td style="border:1px solid black;text-align:right;">' . $this->getData()['lipsCount'][$currency] . '</td>';
            } else {
                    echo '<td style="border:1px solid black;text-align:right;"></td>';
            }
        }
        ?>
        <td style="border:1px solid black;text-align:right;"><?php echo $this->getData()['lipsCount']['total']; ?></td>
    </tr>
    <tr>
        <th style="border:1px solid black;font-weight:bold;text-align:left;">Fragrances</th>
        <?php
        foreach ($this->getData()['currencies'] as $currency) {
            if (isset($this->getData()['fragrancesCount'][$currency])) {
                echo '<td style="border:1px solid black;text-align:right;">' . $this->getData()['fragrancesCount'][$currency] . '</td>';
            } else {
                echo '<td style="border:1px solid black;text-align:right;"></td>';
            }
        }
        ?>
        <td style="border:1px solid black;text-align:right;"><?php echo $this->getData()['fragrancesCount']['total']; ?></td>
    </tr>
    <tr>
        <th style="border:1px solid black;font-weight:bold;text-align:left;">Eyes</th>
        <?php
        foreach ($this->getData()['currencies'] as $currency) {
            if (isset($this->getData()['eyesCount'][$currency])) {
                echo '<td style="border:1px solid black;text-align:right;">' . $this->getData()['eyesCount'][$currency] . '</td>';
            } else {
                echo '<td style="border:1px solid black;text-align:right;"></td>';
            }
        }
        ?>
        <td style="border:1px solid black;text-align:right;"><?php echo $this->getData()['eyesCount']['total']; ?></td>
    </tr>
    <tr>
        <th style="border:1px solid black;font-weight:bold;text-align:left;">Other</th>
        <?php
        foreach ($this->getData()['currencies'] as $currency) {
            if (isset($this->getData()['otherCount'][$currency])) {
                echo '<td style="border:1px solid black;text-align:right;">' . $this->getData()['otherCount'][$currency] . '</td>';
            } else {
                echo '<td style="border:1px solid black;text-align:right;"></td>';
            }
        }
        ?>
        <td style="border:1px solid black;text-align:right;"><?php echo $this->getData()['otherCount']['total']; ?></td>
    </tr>
    <tr>
        <th style="border:1px solid black;font-weight:bold;text-align:left;">Bank</th>
        <?php
        foreach ($this->getData()['currencies'] as $currency) {
            if (isset($this->getData()['bankAmount'][$currency])) {
                echo '<td style="border:1px solid black;text-align:right;">' . $currencies[$currency] . ' ' . $this->getData()['bankAmount'][$currency] . '</td>';
            } else {
                echo '<td style="border:1px solid black;text-align:right;">' . $currencies[$currency] . ' ' . '</td>';
            }
        }
        ?>
        <td style="border:1px solid black;text-align:right;"></td>
    </tr>
    <tr>
        <th style="border:1px solid black;font-weight:bold;text-align:left;">Store Credit</th>
        <?php
        foreach ($this->getData()['currencies'] as $currency) {
            if (isset($this->getData()['storeCreditAmount'][$currency])) {
                echo '<td style="border:1px solid black;text-align:right;">' . $currencies[$currency] . ' ' . $this->getData()['storeCreditAmount'][$currency] . '</td>';
            } else {
                echo '<td style="border:1px solid black;text-align:right;">' . $currencies[$currency] . ' ' . '</td>';
            }
        }
        ?>
        <td style="border:1px solid black;text-align:right;"></td>
    </tr>
    <?php if ($helperReportSales->displayInvoicedServicesRow()): ?>
    <tr>
        <th style="border:1px solid black;font-weight:bold;text-align:left;">Invoiced Services</th>
        <?php
        foreach ($this->getData()['currencies'] as $currency) {
            if (isset($this->getData()['invoicedServices'][$currency])) {
                echo '<td style="border:1px solid black;text-align:right;">' . $currencies[$currency] . ' ' . $this->getData()['invoicedServices'][$currency] . '</td>';
            } else {
                echo '<td style="border:1px solid black;text-align:right;">' . $currencies[$currency] . ' ' . '</td>';
            }
        }
        ?>
        <td style="border:1px solid black;text-align:right;"></td>
    </tr>
    <?php endif; ?>
    <?php if ($helperReportSales->displayExchangedCreditmemoAmountRow()): ?>
    <tr>
        <th style="border:1px solid black;font-weight:bold;text-align:left;">Exchanged Invoiced Amount</th>
        <?php
        foreach ($this->getData()['currencies'] as $currency) {
            if (isset($this->getData()['exchangeInvoicedAmount'][$currency])) {
                echo '<td style="border:1px solid black;text-align:right;">' . $currencies[$currency] . ' ' . $this->getData()['exchangeInvoicedAmount'][$currency] . '</td>';
            } else {
                echo '<td style="border:1px solid black;text-align:right;">' . $currencies[$currency] . ' ' . '</td>';
            }
        }
        ?>
        <td style="border:1px solid black;text-align:right;"></td>
    </tr>
    <?php endif; ?>
    <?php if ($helperReportSales->displayOmnichannelInvoicedAmountRow()): ?>
    <tr>
        <th style="border:1px solid black;font-weight:bold;text-align:left;">Omnichannel Invoiced Amount</th>
        <?php
        foreach ($this->getData()['currencies'] as $currency) {
            if (isset($this->getData()['omnichannelInvoicedAmount'][$currency])) {
                echo '<td style="border:1px solid black;text-align:right;">' . $currencies[$currency] . ' ' . $this->getData()['omnichannelInvoicedAmount'][$currency] . '</td>';
            } else {
                echo '<td style="border:1px solid black;text-align:right;">' . $currencies[$currency] . ' ' . '</td>';
            }
        }
        ?>
        <td style="border:1px solid black;text-align:right;"></td>
    </tr>
    <?php endif; ?>
    <?php if ($helperReportSales->displayTaxTotalRow()): ?>
    <tr>
        <th style="border:1px solid black;font-weight:bold;text-align:left;">Tax Total</th>
        <?php
        foreach ($this->getData()['currencies'] as $currency) {
            if (isset($this->getData()['taxTotal'][$currency])) {
                echo '<td style="border:1px solid black;text-align:right;">' . $currencies[$currency] . ' ' . $this->getData()['taxTotal'][$currency] . '</td>';
            } else {
                echo '<td style="border:1px solid black;text-align:right;">' . $currencies[$currency] . ' ' . '</td>';
            }
        }
        ?>
        <td style="border:1px solid black;text-align:right;"></td>
    </tr>
    <?php endif; ?>
    <?php if ($helperReportSales->displayNetTotalRow()): ?>
    <tr>
        <th style="border:1px solid black;font-weight:bold;text-align:left;">Net Total</th>
        <?php
        foreach ($this->getData()['currencies'] as $currency) {
            if (isset($this->getData()['netTotal'][$currency])) {
                echo '<td style="border:1px solid black;text-align:right;">' . $currencies[$currency] . ' ' . $this->getData()['netTotal'][$currency] . '</td>';
            } else {
                echo '<td style="border:1px solid black;text-align:right;">' . $currencies[$currency] . ' ' . '</td>';
            }
        }
        ?>
        <td style="border:1px solid black;text-align:right;"></td>
    </tr>
    <?php endif; ?>
    <?php if ($helperReportSales->displayNetTotalShoesRow()): ?>
    <tr>
        <th style="border:1px solid black;font-weight:bold;text-align:left;">Net Total Shoes/LG</th>
        <?php
        foreach ($this->getData()['currencies'] as $currency) {
            if (isset($this->getData()['netTotalShoesBagsAccessories'][$currency])) {
                echo '<td style="border:1px solid black;text-align:right;">' . $currencies[$currency] . ' ' . $this->getData()['netTotalShoesBagsAccessories'][$currency] . '</td>';
            } else {
                echo '<td style="border:1px solid black;text-align:right;">' . $currencies[$currency] . ' ' . '</td>';
            }
        }
        ?>
        <td style="border:1px solid black;text-align:right;"></td>
    </tr>
    <?php endif; ?>
    <?php if ($helperReportSales->displayNetTotalBeautyRow()): ?>
    <tr>
        <th style="border:1px solid black;font-weight:bold;text-align:left;">Net Total Beauty</th>
        <?php
        foreach ($this->getData()['currencies'] as $currency) {
            if (isset($this->getData()['netTotalBeauty'][$currency])) {
                echo '<td style="border:1px solid black;text-align:right;">' . $currencies[$currency] . ' ' . $this->getData()['netTotalBeauty'][$currency] . '</td>';
            } else {
                echo '<td style="border:1px solid black;text-align:right;">' . $currencies[$currency] . ' ' . '</td>';
            }
        }
        ?>
        <td style="border:1px solid black;text-align:right;"></td>
    </tr>
    <?php endif; ?>
    <?php if ($helperReportSales->displayShippingTotalRow()): ?>
    <tr>
        <th style="border:1px solid black;font-weight:bold;text-align:left;">Shipping Total</th>
        <?php
        foreach ($this->getData()['currencies'] as $currency) {
            if (isset($this->getData()['shippingTotal'][$currency])) {
                echo '<td style="border:1px solid black;text-align:right;">' . $currencies[$currency] . ' ' . $this->getData()['shippingTotal'][$currency] . '</td>';
            } else {
                echo '<td style="border:1px solid black;text-align:right;">' . $currencies[$currency] . ' ' . '</td>';
            }
        }
        ?>
        <td style="border:1px solid black;text-align:right;"></td>
    </tr>
    <?php endif; ?>
    <?php if ($helperReportSales->displayGrandTotalRow()): ?>
    <tr>
        <th style="border:1px solid black;font-weight:bold;text-align:left;">Brut Total</th>
        <?php
        foreach ($this->getData()['currencies'] as $currency) {
            if (isset($this->getData()['brutTotal'][$currency])) {
                echo '<td style="border:1px solid black;text-align:right;">' . $currencies[$currency] . ' ' . $this->getData()['brutTotal'][$currency] . '</td>';
            } else {
                echo '<td style="border:1px solid black;text-align:right;">' . $currencies[$currency] . ' ' . '</td>';
            }
        }
        ?>
        <td style="border:1px solid black;text-align:right;"></td>
    </tr>
    <?php endif; ?>
</table>
