<?php
/* @var $block \Magento\ProductAlert\Block\Product\View\Stock */
/* @var $backInStockHelper Project\BackInStock\Helper\BackInStockHelper */
$backInStockHelper = $this->helper('Project\BackInStock\Helper\BackInStockHelper');
/* @var $attributeSetHelper Project\Core\Helper\AttributeSet */
$attributeSetHelper = $this->helper('Project\Core\Helper\AttributeSet');
?>
<?php $_product = $backInStockHelper->getProduct() ?>
<?php if ($backInStockHelper->isBackInStock()) : ?>
    <button id="register-popup" type="button"
            data-role="register"
            title="<?php /* @escapeNotVerified */
            echo $block->escapeHtml(__($block->getSignupLabel())) ?>"
            class="action primary checkout <?= $attributeSetHelper->isPerfumes($_product) ? 'beauty-parfumes' : '' ?>">
        <span><?php /* @escapeNotVerified */
            echo $block->escapeHtml(__($block->getSignupLabel())) ?></span>
    </button>
<?php endif; ?>
