//
//  Theme Options
//  ---------------------------------------------

& when (@media-target = 'mobile') {
    // Switch image on hover
    .tm-switch-image-container {
        position: relative;
        overflow: hidden;

        .replaced {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    .product-item-photo-gallery {
        .fotorama__stage__frame {
            left: 100%;

            &.fotorama__active {
                left: 0;
            }
        }
    }

    .scrollToTop {
        display: none;
        position: fixed;
        z-index: 999;
        right: 0;
        bottom: 0;
        height: 40px;
        width: 40px;
        font-size: 0;
        background: @color-black;
        color: @color-white;
        cursor: pointer;
        box-shadow: 0 0 4px 1px rgba(0, 0, 0, .1);
        text-align: center;
        transition: .3s ease;

        .lib-icon-font(
            @icon-up,
            @_icon-font-size: 48px,
            @_icon-font-line-height: 40px
        );

        &:hover {
            background: @color-white;
            color: @color-black;
        }
    }

    @media (max-width: (@screen__m - 1)) {
        .nav-sections {
            &.isStuck {
                position: static !important;
            }
        }

        .pseudoStickyBlock {
            display: none;
        }

        .scrollToTop {
            border-top-left-radius: 8px;
        }
    }

    // RTL
    html.rtl {
        .scrollToTop {
            right: auto;
            left: 0;
        }

        @media (max-width: (@screen__m - 1)) {
            .scrollToTop {
                border-top-left-radius: 0;
                border-top-right-radius: 8px;
            }
        }
    }
}

& when (@media-target = 'desktop') {
    .products-list .product-item-photo.product-item-photo-gallery {
        width: 30%;
    }

    .product-image-container.gallery-placeholder-thumb {
        display: block;
    }

    .gallery-placeholder-thumb .fotorama {
        width: 100%;
    }

    ul.social-links {
        li {
            display: inline-block;
        }
    }

    .scrollToTop {
        bottom: 4vh;
        right: 3vw;
        height: 50px;
        width: 50px;
        border-radius: 50%;

        &:before {
            line-height: 50px;
        }
    }

    // RTL
    html.rtl {
        .scrollToTop {
            right: auto;
            left: 3vw;
        }
    }
}
