& when (@media-common = true) {
    .slick-slider {
        li.slide {
            img {
                &.small-image {
                    display: block!important; //override JS
                }
                &.medium-image,
                &.big-image {
                    display: none!important; //override JS
                }
            }
        }
    }
    .cms-index-index {
        #home-topmosaic-slider {
            .title{
                margin-top: 3em;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xs) {
    .slick-slider,
    .owl-carousel {
        li.slide {
            img {
                &.medium-image {
                    display: block!important; //override JS
                }
                &.small-image,
                &.big-image {
                    display: none!important; //override JS
                }
            }
        }
    }
    .cms-index-index {
        #home-topmosaic-slider {
            ul.home-topmosaic-slider{
                height: 28em;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    .cms-index-index {
        #home-topmosaic-slider {
            ul.home-topmosaic-slider{
                height: 36em;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .slick-slider,
    .owl-carousel {
        li.slide {
            img {
                &.big-image {
                    display: block!important; //override JS
                }
                &.small-image,
                &.medium-image {
                    display: none!important; //override JS
                }
            }
        }
    }
    .cms-index-index {
        .easycms-block {
            .slick-slider {
                li.slide {
                    img {
                        &.big-image {
                            width: 100%;
                        }
                    }
                }
            }
        }
        #home-topmosaic-slider {
            ul.home-topmosaic-slider{
                height: 50em;
            }
        }
    }
}
