// /**
//  * Copyright © Zemez, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .compare.link {
        .action {
            .font-icon(@themeicon-repeat);
            display: block;
            position: relative;
            width: 30px;
            text-align: center;

            &:before {
                font-size: 22px;
                line-height: 30px;
            }
        }

        .no-display {
            display: none;
        }

        .empty {
            cursor: not-allowed;
        }

        .counter.qty {
            display: inline-block;
            position: absolute;
            left: 28px;
            top: -2px;
            color: @color-default;
            font-size: 12px;
        }
    }

    .action.tocompare {
        &:extend(.abs-actions-addto-gridlist all);
        .lib-icon-font-symbol(
            @themeicon-repeat
        );

        span {
            display: none;
        }
    }

    .product-info-main {
        .action.tocompare {
            white-space: nowrap;

            &:before {
                display: inline-block;
                vertical-align: middle;
            }

            span {
                display: inline-block;
                margin-left: 10px;
                font-size: 14px;
                text-transform: uppercase;
                vertical-align: middle;
            }
        }
    }

    //
    //  Compare Products Page
    //  ---------------------------------------------

    body.catalog-product-compare-index {
        .action.print {
            float: right;
            margin: 15px 0;
        }
    }

    .table-wrapper.comparison {
        border: @table__border-width @table__border-style @table__border-color;
    }

    .table-comparison {
        thead {
            .cell {
                position: relative;
                padding: 0;

                &.label.remove {
                    border-bottom: none;

                    span {
                        display: none;
                    }
                }

                .action.delete {
                    position: absolute;
                    top: 100%;
                    right: 10px;
                    margin-top: 5px;
                    .font-icon();

                    span {
                        display: none;
                    }
                }
            }

            tr td.cell.product {
                border: none;
            }
        }

        tbody {
            &:last-child {
                color: @color-dark;

                > tr {
                    &:nth-child(odd) {
                        background-color: @color-lightest;
                    }

                    .cell.label {
                        font-size: 14px;
                        font-weight: @font-weight__semibold;
                        letter-spacing: 0.02em;
                        text-transform: uppercase;
                        background-color: @color-lightest;
                        vertical-align: middle;
                    }
                }
            }
        }

        .cell {
            @media (min-width: @screen__xs) {
                width: 210px;
            }

            &.product.label, &.product.info {
                border-bottom: none;
            }

            &.product.label span {
                display: none;
            }

            &.product.info,
            &.product.attribute {
                border-left: @table__border-width @table__border-style @table__border-color;
            }

        }

        .product-item-photo {
            display: inline-block;
        }

        .product-item-name {
            display: block;
        }

        .price-box {
            font-size: 16px;
            line-height: 1.4;
            font-weight: @font-weight__semibold;
            color: @color-dark;

            .price-label {
                display: none;
            }

            .old-price {
                color: @color-light;
                font-weight: @font-weight__regular;
            }
        }

        .product-item-actions,
        .price-box,
        .product.rating,
        .product-item-name {
            margin-top: 7px;
            margin-bottom: 7px;
        }

        .product-item-actions {
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            > div {
                margin-top: 10px;
                margin-right: 15px;
            }
        }

        @media (max-width: (@screen__xs - 1)) {
            .product-reviews-summary {
                &, > div {
                    display: block;
                }
            }
        }
    }

    .comparison.headings {
        .lib-css(background, @page__background-color);
        left: 0;
        position: absolute;
        top: 0;
        width: auto;
        z-index: 2;
    }

    .block-compare {
        .product-item .product-item-name {
            margin-left: 22px;
        }

        .action {
            &.delete {
                &:extend(.abs-remove-button-for-blocks all);
                left: 0;
                right: auto;
                position: absolute;
                top: 0;
            }

            &.compare {
                &:extend(.abs-revert-secondary-color all);
            }
        }

        .counter {
            &:extend(.abs-block-items-counter all);
        }

        .actions-toolbar {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin: 10px 0 0;

            div a.action {
                margin-top: 10px;
                margin-right: 10px;
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .compare.link {
        position: fixed;
        top: 0;
        right: 4*@header-mobile-nav-height + 10px;
        z-index: 16;

        .action {
            width: @header-mobile-nav-height;
            height: @header-mobile-nav-height;
            color: @header-mobile-nav-color;

            &:before {
                line-height: @header-mobile-nav-height;
            }

            &.empty {
                display: none;
            }
        }

        .counter.qty {
            top: 10px;
            left: 42px;
            color: @header-mobile-nav-color;
        }
    }
}

//
//  Desktop
//  _____________________________________________

& when (@media-target = 'desktop') {
    .table-comparison {
        .cell {
            @media (min-width: @screen__xxl) {
                padding: 25px;
            }
        }
    }
}