// /**
//  * Copyright © Zemez, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .sidebar {
        .product-items {
            .product-item {
                margin-bottom: 22px;
                position: relative;
            }

            .product-item-info {
                position: relative;
                display: flex;
                flex-wrap: wrap;
                align-items: flex-start;
                width: auto;
            }

            .product-item-photo {
                flex-basis: 30%;
                max-width: 30%;
            }

            .product-item-details {
                position: relative;
                flex-basis: 70%;
                max-width: 70%;
                padding-left: 15px;
                padding-right: 20px;

                .action.delete {
                    left: auto;
                    right: 0;
                }
            }

            .product-item-name {
                margin-top: 0;
                font-weight: inherit;
            }

            .product-item-actions {
                display: block;
                margin-top: @indent__s;
            }

            .actions-secondary {
                margin-top: 0;
            }

            .price-box {
                display: block;
                margin: 7px 0;
            }

            .text {
                margin-right: 8px;
            }

            .counter {
                .lib-css(color, @primary__color__lighter);
                .lib-font-size(12);
                white-space: nowrap;
            }

            .minilist {
                .price {
                    display: inline;
                    padding: 0;
                }

                .weee:before {
                    display: inline-block;
                }
            }
        }

        .action {
            &.delete {
                &:extend(.abs-remove-button-for-blocks all);
                position: absolute;
                left: 0;
                top: 1px;
                padding: 0;
                line-height: 0;
            }
        }

        .subtitle {
            &:extend(.abs-no-display all);
        }

        //
        //  Product images only
        //  ---------------------------------------------

        .product-items-images {
            &:extend(.abs-add-clearfix all);
            margin-left: -@indent__xs;

            .product-item {
                float: left;
                padding-left: @indent__xs;
            }
        }

        //
        //  Product names only
        //  ---------------------------------------------

        .product-items-names {
            .product-item {
                display: flex;
                margin-bottom: @indent__s;
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

}

//
//  Desktop large
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .sidebar {
        .product-items {
            .product-item-info {
                .product-item-photo {
                    //float: none;
                    //left: 0;
                    //margin: 0;
                    //position: absolute;
                    //top: 0;
                }
            }

            .product-item-details {
                //margin-left: 85px;
            }
        }
    }
}
