// /**
//  * Copyright © Zemez, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .toolbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 20px;

        > * {
            margin-bottom: 15px;
        }

        .pages {
            display: none;
        }
    }

    .toolbar-bottom {
        .pages {
            display: block;
        }

        .toolbar-amount, .toolbar-sorter, .limiter, .modes {
            display: none;
        }

        .filter-toggle {
            display: none !important;
        }

        .toolbar {
            justify-content: center;
            margin-top: 40px;
            margin-bottom: 0;
            @media (max-width: (@screen__l - 1)) {
                padding-top: 24px;
                border-top: 1px solid @border-color__base;
            }
        }
    }

    .sorter, .limiter {
        display: flex;
        align-items: center;

        label {
            flex-shrink: 0;
            margin-right: 16px;
            color: @color-light;
            font-weight: @font-weight__regular;
            line-height: 1;
        }

        select {
            min-width: 60px;
        }
    }

    .sorter {
        margin-left: auto;
        margin-right: auto;

        select {
            flex-grow: 1;
        }
    }

    .sorter-action {
        margin-left: 12px;
        .font-icon(@themeicon-ui-3_funnel-39);
        font-size: 14px;

        &:before {
            color: @color-light;
            transition: 0.3s color ease;
        }

        &:hover:before {
            color: @color-dark;
        }

        span {
            display: none;
        }

        &.sort-desc {
            transform: rotate(180deg);
        }
    }

    .limiter {
        .control {
            flex-grow: 1;
        }
    }

    .limiter-text {
        display: none;
    }

    .toolbar-amount {
        margin-left: auto;
    }

    .modes {
        display: flex;
        padding-top: 2px;

        .modes-label {
            display: none;
        }

        .modes-mode {
            display: block;
            margin-right: 15px;
            color: @color-light;
            line-height: 0;

            &:before {
                display: block;
                font-size: 18px;
                line-height: 27px;
            }

            &.active {
                color: @color-primary;
            }

            span {
                display: none;
            }
        }

        .mode-grid {
            .font-icon(@themeicon-icons2);
        }

        .mode-list {
            .font-icon(@themeicon-list4);

            &:before {
                font-size: 23px;
                line-height: 24px;
            }
        }

        a.modes-mode:hover {
            color: @color-dark;
        }
    }

    .filter-toggle {
        margin-right: 20px;
    }
}

//
//  Mobile
//  _____________________________________________

& when (@media-target = 'mobile') {
    @media (max-width: (@screen__s - 1)) {
        .sorter {
            order: 1;
            flex-basis: 100%;
        }

        .modes {
            margin-right: auto;
        }
    }

    @media (min-width: @screen__xs) and (max-width: (@screen__s - 1)) {
        .limiter {
            flex-basis: 30%;
            max-width: 30%;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .modes .modes-mode {
        margin-right: 25px;
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .sorter, .limiter {
        select {
            padding-left: 15px;
            padding-right: 30px;
            background-position: right 16px center;
        }
    }

    .limiter select {
        min-width: 90px;
    }

    .sorter select {
        min-width: 290px;
    }
}
