// This file overrides Magento Luma Std file

& when (@media-common = true) {

    a.action.link-button{
        .lib-link-as-button();
        .lib-button();
    }
    a.action.primary {
        .lib-link-as-button();
    }

    .action.primary {
        .lib-button-primary();
    }

    .action.tertiary {
        .lib-button-tertiary();
    }
}
