//
//  Variables
//  _____________________________________________

@active-nav-indent: 54px;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .panel.header {
        .links,
        .switcher {
            display: none;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
    .navigation {
        padding: 0;
        text-align: left;

        .parent {
            .level-top {
                position: relative;
                .lib-icon-font(
                @_icon-font-content: @icon-down,
                @_icon-font-size: @font-size_42,
                @_icon-font-position: after,
                @_icon-font-display: block
                );

                &:after {
                    position: absolute;
                    right: 7px;
                    top: -8px;
                }

                &.ui-state-active {
                    .lib-icon-font-symbol(
                    @_icon-font-content: @icon-up,
                    @_icon-font-position: after
                    );
                }
            }
        }
    }

    .nav-sections {
        -webkit-overflow-scrolling: touch;
        .lib-css(transition, left .3s, 1);
        height: 100%;
        left: -80%;
        left: calc(~'-1 * (100% - @{active-nav-indent})');
        overflow: auto;
        position: fixed;
        top: 0;
        width: 80%;
        width: calc(~'100% - @{active-nav-indent}');

        .switcher {
            border-top: 1px solid @color-gray82;
            font-size: 1.6rem;
            font-weight: 700;
            margin: 0;
            padding: .8rem 3.5rem .8rem 2rem;

            .label {
                display: block;
                margin-bottom: @indent__xs;
            }

            &:last-child {
                border-bottom: 1px solid @color-gray82;
            }
        }

        .switcher-trigger {
            strong {
                position: relative;
                .lib-icon-font(
                @_icon-font-content: @icon-down,
                @_icon-font-size: @font-size_42,
                @_icon-font-position: after,
                @_icon-font-display: block
                );

                &:after {
                    position: absolute;
                    right: -40px;
                    top: -16px;
                }
            }

            &.active strong {
                .lib-icon-font-symbol(
                @_icon-font-content: @icon-up,
                @_icon-font-position: after
                );
            }
        }

        .switcher-dropdown {
            .lib-list-reset-styles();
            padding: @indent__s 0;
        }

        .header.links {
            .lib-list-reset-styles();
            border-bottom: 1px solid @color-gray82;

            li {
                font-size: 1.6rem;
                margin: 0;

                &.greet.welcome {
                    border-top: 1px solid @color-gray82;
                    font-weight: 700;
                    padding: .8rem @indent__base;
                }

                > a {
                    border-top: 1px solid @color-gray82;
                }
            }

            a,
            a:hover {
                .lib-css(color, @navigation-level0-item__color);
                .lib-css(text-decoration, @navigation-level0-item__text-decoration);
                display: block;
                font-weight: 700;
                padding: .8rem @indent__base;
            }

            .header.links {
                border: 0;
            }
        }
    }


    .navbar-right {
        background-color: @color-white;

        .louboutin-world {
            height: 42px;
            padding-top: 5px;
            padding-left: 10px;

            span {
                span {
                    .lib-font-family(@font-family-name__gillsans);
                    font-weight: @font-weight__bold;
                    font-size: @font-size_14;
                    line-height: 1em;
                    letter-spacing: 2.5px;
                    text-transform: uppercase;
                    color: @color-black;
                    position: relative;

                    &:after {
                        position: absolute;
                        top: 50%;
                        right: -39px;
                        .lib-css(translateY, -50%, 1);
                        color: @color-louboutin-red;
                        content: "\e003";
                        font-family: @font-family-name__loub_icons;
                        vertical-align: middle;
                        display: inline-block;
                        font-weight: normal;
                        text-align: center;
                    }
                }
            }
        }
    }

    .nav-before-open {
        height: 100%;
        overflow-x: hidden;
        width: 100%;

        .page-wrapper {
            .lib-css(transition, left .3s, 1);
            height: 100%;
            left: 0;
            position: relative;
        }

        body {
            height: 100%;
            overflow: hidden;
            position: relative;
            width: 100%;
        }
    }

    .nav-open {
        .header .layer-top {
            z-index: 4; /* Must be over layer bottom (mobile menu must be hover the rest) */
        }

        .page-wrapper {
            left: 80%;
            left: calc(~'100% - @{active-nav-indent}');
        }

        .nav-sections {
            background: #fafafa;
            left: 0;
            z-index: 99;
        }

        .nav-toggle {
            &:after{
                background: rgba(0, 0, 0, @overlay__opacity);
                content: '';
                display: block;
                height: 100%;
                position: fixed;
                right: 0;
                top: 0;
                width: 100%;
                z-index: 3; /* overlay must be hover logo */
                cursor: pointer;
            }
        }
        .header .narrowscreen .navbar .menu .menu-icon {
            .lib-project-icon(
                @_icon-font-content: @icon-project-close-bold,
                @_icon-font-color: #737373,
                @_icon-font-size: @font-size_24
            );
            top: 0;
            z-index: 4;
            display: block;
            margin: 0;
            background: @color-white;
            padding: 19px 0;
            font-size: 0;
            &:before {
                margin: 0 0 0 16px;
            }
        }
    }

    .nav-sections-items {
        .lib-clearfix();
        position: relative;
        z-index: 1;
    }

    .nav-sections-item-title {
        background: darken(@navigation__background, 5%);
        border: solid darken(@navigation__background, 10%);
        border-width: 0 0 1px 1px;
        box-sizing: border-box;
        float: left;
        height: 71px;
        padding-top: 24px;
        text-align: center;
        width: 33.33%;

        &.active {
            background: transparent;
            border-bottom: 0;
        }

        .nav-sections-item-switch {
            &:hover {
                text-decoration: none;
            }
        }
    }

    .nav-sections-item-content {
        .lib-clearfix();
        box-sizing: border-box;
        float: right;
        margin-left: -100%;
        margin-top: 71px;
        width: 100%;

        &.active {
            display: block;
        }

        padding: @indent__m 0;
    }

    .lib-main-navigation(@_nav__indent-side: 20px);

    .navbar > .navbar-right {
        display: none; /* js has not moved element yet */
    }

    .nav-sections {
        .section-item-title {
            display: none;
        }
        .nav-sections-item-content {
            float: none;
            margin: 0;
            padding: 62px 0 10px;
            text-align: left;

            .menu-stores {
                position: absolute;
                top: 0;
                width: 100%;
                height: 62px;
                box-sizing: border-box;
                background: @color-louboutin-red;

                a {
                    .lib-project-icon (
                        @_icon-font-content: @icon-project-pin-full,
                        @_icon-font-size: @font-size_16,
                        @_icon-font-color: @color-white
                    );
                    display: block;
                    padding: 23px 10px 23px 32px;
                    vertical-align: top;
                    .lib-font-family(@f-gill);
                    font-size: @font-size_16;
                    letter-spacing: 1.5px;
                    line-height: 1em;
                    color: @color-white;

                    &:before {
                        display: inline-block;
                        vertical-align: top;
                        margin-right: 5px;
                    }
                }
            }

            .menu-back {
                .lib-project-icon(
                    @_icon-font-content: @icon-project-arrow-left,
                    @_icon-font-size: @font-size_12,
                    @_icon-font-color: @color-grey-three
                );

                display: none;
                position: absolute;
                top: 63px;
                width: 100%;
                padding: 22px 50px 22px 20px;
                box-sizing: border-box;
                border-bottom: 1px solid @color-input-grey-border;
                font-size: @font-size_12;
                color: @color-grey-three;
                text-transform: uppercase;

                &:before {
                    margin-right: 5px;
                    vertical-align: -2px;
                }
                &:after {
                    content: none;
                }
            }

            &.open {
                /* Menu is open on any level */
                .navigation {
                    padding: 70px 0 0;

                    a {
                        .lib-font-family(@font-family-name__gillsans);
                        font-weight: @font-weight__semibold;
                        font-size: @font-size_14;
                        color: @color-black;
                        letter-spacing: 2px;
                        text-transform: uppercase;
                    }
                    .left-expands {
                        position: relative;
                        padding: 30px 0;

                        &:before {
                            content: '';
                            width: 30px;
                            height: 1px;
                            position: absolute;
                            top: 10px;
                            left: 20px;
                            background-color: @color-grey;
                        }

                        a {
                            text-transform: none;
                        }
                    }

                    a.level-top {
                        display: none;

                        span {
                            position: relative;
                            text-transform: none;
                            letter-spacing: 2px;

                            &:not(.ui-icon):after {
                                content: '';
                                position: absolute;
                                width: 100%;
                                height: 4px;
                                background-color: @color-black;
                                bottom: -10px;
                                left: 0;
                            }
                        }

                        &.ui-state-active {
                            display: block;
                            padding-bottom: 30px;

                            &:after {
                                content: none;
                            }
                        }
                    }
                }

                .louboutin-world {

                    .navigation {
                        .bolt,
                        .louboutinworld-right-container {
                            display: none;
                        }

                        .submenu-wrapper {
                            display: block !important;
                        }

                        a.level-top.ui-state-active {
                            width: 90%;
                            padding-right: 25%;
                            font-size: @font-size_22;
                            color: @color-black;
                            letter-spacing: 2.25px;
                            position: relative;
                            line-height: normal;
                            display: inline-block;
                            font-weight: @font-weight__bold;
                            text-transform: uppercase;
                            overflow: visible;

                            &:after {
                                content: " ";
                                width: 100%;
                                height: 3px;
                                background-color: @color-black;
                                display: inline-block;
                                position: absolute;
                                bottom: -5px;
                                left: 0;
                                margin-top: 30px;
                            }
                        }

                        .louboutinworld-column-trigger {

                            li {
                                a {
                                    padding-left: 0;
                                    margin-top: 35px;

                                    &:after {
                                        right: 12%;
                                        position: absolute;
                                        font-size: @font-size_14;
                                        line-height: 1em;
                                        color: @color-louboutin-red;
                                        content: "\e003";
                                        font-family: @font-family-name__loub_icons;
                                        vertical-align: middle;
                                        display: inline-block;
                                        font-weight: normal;
                                        speak: none;
                                        text-align: center;
                                    }
                                }
                            }
                        }
                    }
                }

                .menu-back {
                    display: block;
                }
            }
            &.level1-open {
                /* Level 1 is open */

                .navigation {
                    a.level-top {
                        display: none;
                        &.ui-state-active {
                            display: none;
                        }
                    }
                    li.level1 > a {
                        display: none;

                        &.ui-state-active {
                            display: block;
                            padding-bottom: 30px;

                            &:after {
                                content: none;
                            }

                            span{
                                position: relative;
                                text-transform: none;
                                letter-spacing: 2px;

                                &:not(.ui-icon):after {
                                    content: '';
                                    position: absolute;
                                    width: 100%;
                                    height: 4px;
                                    background-color: @color-black;
                                    bottom: -10px;
                                    left: 0;
                                }
                            }
                        }
                    }
                }
            }


            .louboutin-world {

                .navigation {
                    padding: 0;

                    a.level-top {
                        padding: 0;
                    }
                }
            }

            .navigation {
                padding: 30px 0 0;
                background: @color-white;

                &.menu-mobile-extra {
                    padding: 0;
                }

                ul {
                    padding: 0;
                }
                .parent > a {
                    // only links that open submenus
                    .lib-accordion-menu();
                }

                .level0 {
                    border: 0;

                    & > .level-top {
                        display: block;
                        padding: 14px 50px 14px 20px;
                        position: relative;
                        box-sizing: border-box;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        .lib-font-family(@f-gill);
                        font-weight: @font-weight__semibold;
                        font-size: @font-size_14;
                        line-height: 1em;
                        letter-spacing: 2.5px;
                        text-transform: uppercase;
                        color: @color-black;
                    }

                    &.active > a:not(.ui-state-active),
                    &.has-active > a:not(.ui-state-active) {
                        span:not(.ui-menu-icon),
                        span:not(.ui-menu-icon) {
                            margin: 0;
                        }
                    }
                }
                .centered-content {
                   .lib-vendor-prefix-display();
                   .lib-vendor-prefix-flex-direction(column-reverse);

                }
                .menu-bottom {
                    display: none;
                }
            }
            .menu-right .navigation {
                padding-top: 0;
            }
            .navbar-right {
                padding-bottom: 36px;
                background: @color-white;
                .lib-css(box-shadow, 0 1px 1px 0 @color-input-grey-border);
            }
            .louboutin-world {
                a {
                    text-transform: uppercase;
                    .lib-font-family(@f-gill);
                    font-weight: @font-weight__semibold;
                    font-size: @font-size_14;
                    line-height: 1em;
                    letter-spacing: 2.5px;
                    color: @color-black;

                    .lib-accordion-menu();
                }

                .navigation a.level-top + .submenu {
                    display: none;
                }
            }
            .menu-mobile-static-links {
                padding: 20px 0;
                margin-top: 0;
                .lib-css(box-shadow, 0 1px 1px 0 @color-input-grey-border);

                li {
                    margin: 0;

                    a {
                        .lib-font-family(@f-gill);
                        font-weight: @font-weight__light;
                        font-size: @font-size_14;
                        line-height: 1em;
                        letter-spacing: 2.5px;
                        color: #2e2e2e;

                        .lib-accordion-menu();

                        &.wishlist {
                            .lib-picto-menu(@icon-project-love-empty);
                        }
                        &.account {
                            .lib-picto-menu(@icon-project-account-3);
                        }
                        &.help {
                            .lib-picto-menu(@icon-project-square-info);
                        }
                    }
                    &.menu-help {
                        .help-content {
                            padding: 0 0 0 28px;

                            p {
                                margin: 0;
                                padding: 14px 0 14px 20px;
                                .lib-font-family(@f-gill);
                                font-weight: @font-weight__regular;
                                font-size: @font-size_14;
                                line-height: 1em;
                                letter-spacing: 2px;
                                color: #2e2e2e;
                            }
                        }
                    }
                    .country-language .lang {
                        display: none;
                    }
                }
            }
            .menu-mobile-cms-links {
                padding: 20px 0;

                li {
                    margin: 0;

                    a {
                        .lib-font-family(@f-gill);
                        font-weight: @font-weight__light;
                        font-size: @font-size_14;
                        line-height: 1em;
                        letter-spacing: 2.5px;
                        color: #2e2e2e;

                        .lib-accordion-menu();
                    }
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {

    .nav-toggle {
        display: none;
    }

    .nav-sections {
        .lib-vendor-prefix-flex-shrink(0);
        .lib-vendor-prefix-flex-basis(auto);
    }

    .nav-sections-item-title {
        display: none;
    }

    .nav-sections-item-content {
        display: block !important;
    }

    .nav-sections-item-content > * {
        display: none;
    }

    .nav-sections-item-content {
        > .navigation {
            display: block;
        }

        .menu-mobile-extra.navigation {
            display: none;
        }
    }

    .lib-main-navigation-desktop();

    .navigation {
        &,
        ul,
        .level0 {
            position: inherit; // positionning menu in full width
        }

        .level0 > .submenu {
            top: 89px !important;
            left: 0 !important; /* override menu left positionning */
            width: 100%;
            text-align: center;
            border: solid 1px #ececed;

            /* General styles resets */
            ul {
                padding: 0;
                font-size: 0;

                li {
                    margin: 0;

                    a {
                        padding: 0 0 5px;
                        .lib-font-family(@f-avenir);
                        font-weight: @font-weight__light;
                        font-size: @font-size_11;
                        color: @color-dark-grey;
                        line-height: 1.5;
                        .lib-css(transition, color 0.2s, 1);

                        &:hover {
                            background: none;
                            color: @color-louboutin-red;
                        }
                    }
                }

                &.level1 {
                    position: static !important;
                    display: block !important;
                    padding-top: 14px;
                    border: 0;
                    .lib-css(box-shadow, none, 1);
                }
            }



            li.level1 {
                display: inline-block;
                position: relative;
                vertical-align: top;
                width: 30%;
                padding-right: 7px;
                box-sizing: border-box;

                &.segmentable {
                    width: 50%;

                    li.level2 {
                        display: inline-block;
                        width: 50%;
                    }
                }

                &.expands{
                    width: 16%;
                }

                & > a {
                    position: relative;
                    font-weight: @font-weight__regular;
                    color: @color-grey-three;
                    font-size: @font-size_10;
                    text-transform: uppercase;

                    &:before {
                        content: '';
                        position: absolute;
                        top: 21px;
                        width: 100%;
                        border-bottom: solid 1px #DDD;
                    }

                    & > span {
                        letter-spacing: .9px;
                        font-weight: 600;
                    }
                }
            }
            li.level2  > a {
                .lib-font-family(@f-avenir);
                font-weight: @font-weight__light;
                color: @color-dark-grey;
            }

            & > .centered-content {
                width: 100%;
                max-width: 760px;
                margin: 0 auto;
                padding-top: 35px;
                padding-bottom: 30px;
                font-size: 0;
                text-align: left !important;

                &.left-expands{
                    max-width: 1000px;
                }

                & > * {
                    font-size: @font-size__base;
                }

                & > .level0 {
                    display: block;
                }

                .left-expands,
                .other-elements {
                    display: inline-block;
                    vertical-align: top;
                }
                .left-expands {
                    position: relative;  /* usefull for the title grey border */
                    width: 22%;
                    padding-top: 39px;
                    box-sizing: border-box;

                    &:before {
                        content: '';
                        position: absolute;
                        top: 23px;
                        width: 30px;
                        border-bottom: solid 1px #DDD;
                    }

                    .level1 {
                        width: 100%;

                        & > a {
                            text-transform: none;

                            &:hover {
                                color: @color-louboutin-red;
                            }
                            &:before {
                                content: none;
                            }
                        }
                    }

                    .left-item a {
                        .lib-font-family(@f-avenir);
                        font-weight: @font-weight__bold;
                        font-size: @font-size_10;
                        color: @color-black;
                    }
                }
                .other-elements {
                    width: 78%;
                    padding-top: 1px;
                    box-sizing: border-box;
                }
            }
        }

        .menu-bottom {
            background: #f7f7f7;

            .centered-content {
                width: 100%;
                max-width: 1000px;
                margin: 0 auto;
                font-size: 0;

                .menu-cms {
                    .lib-vendor-prefix-display();
                }
                .item {
                    .lib-vendor-prefix-display();
                    width: 50%;
                }
                .image,
                .text-wrapper {
                    .lib-vendor-prefix-display();
                    width: 50%;

                    a {
                        display: inherit;
                        padding: 0;
                    }
                }
                .text-wrapper {
                    .lib-vendor-box-align(center);
                    .lib-css(justify-content, center, 1);
                    padding: 20px;
                }
                .text {
                    display: inline-block;

                    a,
                    p {
                        display: inline;
                        padding: 0 0 3px;
                        .lib-font-family(@f-avenir);
                        font-size: @font-size_12;
                        text-decoration: none;
                        line-height: @font-size_30;
                        text-transform: uppercase;
                        color: @color-black;
                        border-bottom: solid 1px @color-black;
                        .lib-css(transition, color 0.2s, 1);

                        &:hover {
                            background: none;
                        }
                    }
                    a:hover {
                        color: @color-louboutin-red;
                        border-bottom: solid 1px @color-louboutin-red;
                    }
                }
            }
        }

        .level0 {
            margin: 0;
        }
    }

    .navigation {
        &,
        ul,
        .level0 {
            position: inherit; // positionning menu in full width
        }

        .level0 > .submenu {
            top: 89px !important;
            left: 0 !important; /* override menu left positionning */
            width: 100%;
            text-align: center;
            border: solid 1px #ececed;
            margin-top: 10px;

            /* General styles resets */
            ul {
                padding: 0;
                font-size: 0;
                .lib-css(transition, all 0.6s ease, 1);
                li {
                    margin: 0;

                    a {
                        padding: 0 0 5px;
                        .lib-font-family(@f-avenir);
                        font-weight: @font-weight__light;
                        font-size: @font-size_11;
                        color: @color-dark-grey;
                        line-height: 1.5;
                        .lib-css(transition, color 0.2s, 1);

                        &:hover {
                            background: none;
                            color: @color-louboutin-red;
                        }
                    }
                }

                &.level1 {
                    position: static !important;
                    display: block !important;
                    padding-top: 14px;
                    border: 0;
                    .lib-css(box-shadow, none, 1);
                    margin-right: 30px !important;
                }
            }

            li:last-child {
                padding-right: 0 !important;
            }
            li.level1 {
                display: block;
                position: relative;
                vertical-align: top;
                width: auto;
                margin-top: 10px;
                box-sizing: border-box;
                float: left;
                text-align: left;
                padding-right: 40px;

                &.segmentable {
                    width: 50%;

                    li.level2 {
                        display: inline-block;
                        width: 50%;
                    }
                }

                &.parent {
                    & > a {
                        .lib-font-family(@f-avenir-roman);
                    }
                }

                & > a {
                    position: relative;
                    font-weight: @font-weight__regular;
                    color: @color-grey-three;
                    font-size: @font-size_10;
                    text-transform: uppercase;

                    &:before {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                        border-bottom: solid 1px #DDD;
                    }
                }
            }
            li.level2  > a {
                .lib-font-family(@f-avenir);
                color: #474747;
                font-size: 11px;
                letter-spacing: 0.5px;
                line-height: 10px;
                padding-bottom: 10px;
            }

            & > .centered-content {
                width: auto;
                max-width: initial;
                margin: auto;
                padding-top: 35px;
                padding-bottom: 30px;
                font-size: 0;
                display: inline-block;
                text-align: center !important;

                &.left-expands{
                    max-width: initial;
                }

                &.no-left-expands{
                    max-width: initial;
                }

                & > * {
                    font-size: @font-size__base;
                }

                & > .level0 {
                    display: block;
                    width: auto;
                }

                .left-expands,
                .other-elements {
                    display: block;
                    vertical-align: top;
                    float: left;
                }
                .left-expands {
                    position: relative;  /* usefull for the title grey border */
                    width: auto;
                    padding-top: 39px;
                    box-sizing: border-box;
                    margin-right: 40px;
                    &:before {
                        content: '';
                        position: absolute;
                        top: 23px;
                        width: 30px;
                        left: 0;
                        border-bottom: solid 1px #DDD;
                    }

                    .level1 {
                        width: auto;
                        float: none;
                        padding-right: 0;

                        & > a {
                            text-transform: none;

                            &:hover {
                                color: @color-louboutin-red;
                            }
                            &:before {
                                content: none;
                            }

                            & > span {
                                letter-spacing: normal;
                            }
                        }
                    }

                    .left-item a {
                        padding: 0;
                        .lib-font-family(@f-avenir);
                        font-weight: @font-weight__900;
                        font-size: @font-size_10;
                        line-height: 1;
                        color: @color-black;
                    }
                }
                .other-elements {
                    width: auto;
                    padding-top: 1px;
                    box-sizing: border-box;
                }
            }
        }

        .menu-bottom {
            background: #f7f7f7;

            .centered-content {
                width: 100%;
                max-width: 1000px;
                margin: 0 auto;
                font-size: 0;

                .menu-cms {
                    .lib-vendor-prefix-display();
                }
                .item {
                    .lib-vendor-prefix-display();
                    width: 50%;
                }
                .image,
                .text-wrapper {
                    .lib-vendor-prefix-display();
                    width: 50%;

                    a {
                        display: inherit;
                        padding: 0;
                    }
                }
                .text-wrapper {
                    .lib-vendor-box-align(center);
                    .lib-css(justify-content, center, 1);
                    padding: 20px;
                }
                .text {
                    display: inline-block;

                    a,
                    p {
                        display: inline;
                        padding: 0 0 3px;
                        .lib-font-family(@f-avenir-book);
                        font-weight: @font-weight__black;
                        letter-spacing: 1.1px;
                        font-size: @font-size_12;
                        text-decoration: none;
                        line-height: @font-size_30;
                        text-transform: uppercase;
                        color: @color-black;
                        border-bottom: solid 1px @color-black;
                        .lib-css(transition, color 0.2s, 1);

                        &:hover {
                            background: none;
                        }
                    }
                    a:hover {
                        color: @color-louboutin-red;
                        border-bottom: solid 1px @color-louboutin-red;
                    }
                }
            }
        }
    }

    .louboutin-world {
        .navigation {
            .level0 {
                > .submenu {
                    li.level1 {
                        width: 100%;
                        margin-top: 0;
                        padding-right: 0;
                    }

                    > .centered-content {
                        padding-top: 0;
                        width: 100%;
                    }
                }
            }
        }
    }

    .panel.header {
        .links,
        .switcher {
            display: inline-block;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = (@screen__xl)) {
    .navigation {
        .level0 {
            margin: 0 10px 0 0;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = (@screen__l)) {
    .navigation .level0 > .submenu[aria-labelledby="cat-250"] > .centered-content > .level0 {
        margin-left: 25%;
    }
}
