//
//  Louboutin theme overrides
//  _____________________________________________

//  Theme file should contain declarations (overrides) ONLY OF EXISTING variables
//  Otherwise this theme won't be available for parent nesting
//  All new variables should be placed in local theme lib or local theme files

//
//  Typography
//  ---------------------------------------------

//  Fonts
@font-family-name__base: @font-family-name__frutiger;
@font-family__base: @font-family-name__base, @font-family__sans-serif;

@icons__font-path: '@{baseDir}fonts/Luma-Icons';
@icons__font-name: 'luma-icons';

@font-family-name__project_icons: @font-family-name__loub_icons;

@font-size-unit: px;
@font-size-unit-convert: false;
@font-size-unit-ratio: 1;

@font-size__base: 14px;
@font-weight__light: 100;
@font-weight__bold: bold;


//  Color nesting
@primary__color: @color-warm-grey;
@panel__background-color: @color-pale-grey;
@border-color__base: @color-grey-border;

// All Headings (h1, h2, h3, h4, h5, h6)
@heading__color__base: false;
@heading__margin-bottom__base: @indent__base;

// h1
@h1__font-size: @font-size_28;
@h1__font-weight: @font-weight__light;
@h1__letter-spacing: 2px;
@h1__text-transform: uppercase;
@h1__line-height: 1;
@h1__font-color: false;
@h1__margin-top: 0;
@h1__margin-bottom: 20px;

@h1__font-size-desktop: @font-size_24;
@h1__margin-bottom__desktop: 20px;

// h2
@h2__font-size: @font-size_30;
@h2__font-weight: @font-weight__bold;
@h2__letter-spacing: false;
@h2__text-transform: uppercase;
@h2__line-height: 1;
@h2__font-color: @color-black-title;
@h2__margin-top: 0;
@h2__margin-bottom: 10px;

@h2__font-size-desktop: @font-size_15;

// h3
@h3__font-size: @font-size_14;
@h3__font-weight: @font-weight__bold;
@h3__font-color: false;
@h3__letter-spacing: false;
@h3__text-transform: false;
@h3__margin-top: 0;
@h3__margin-bottom: 10px;

// everything elese (h4, h5, h6)
@h4__font-size: @font-size_14;
@h4__font-color: false;
@h4__letter-spacing: false;
@h4__text-transform: false;
@h4__margin-top: 0;
@h4__margin-bottom: 10px;

@h5__font-size: @font-size_14;
@h5__font-color: false;
@h5__letter-spacing: false;
@h5__text-transform: false;
@h5__margin-top: 0;
@h5__margin-bottom: 10px;

@h6__font-size: @font-size_14;
@h6__font-color: false;
@h6__letter-spacing: false;
@h6__text-transform: false;
@h6__margin-top: 0;
@h6__margin-bottom: 10px;

//  Links
@link__color: @color-warm-grey;
@link__text-decoration: none;

@link__visited__color: @link__color;
@link__visited__text-decoration: none;

@link__hover__color: @link__color;
@link__hover__text-decoration: underline;

@link__active__color: @link__color;
@link__active__text-decoration: underline;

//  Focus
@focus__color: false;

// Responsive
@mobile__screen__s : 499px;
@mobile__screen : 767px;
@ipad__portrait: 768px;
@screen__m: 769px; // 768px => 769px for ipad compatibility
@ipad__landscape: 1024px;
@screen__l: 1025px;

@use-flex: false; // needed for slick slider to work properly (module Synolia_Slider)

@active__color: @color-louboutin-red;

//
//  Tables
//  ---------------------------------------------

@table-cell__padding-vertical: 11px;
@table-cell-stripped__background-color: @table-cell__hover__background-color;
@table-responsive-th__background-color: @table-cell-stripped__background-color;
@table-responsive-cell__padding: @indent__xs @indent__s;

//
//  Layout grid
//  ---------------------------------------------

@layout__max-width: @fullscreen__max-width;
@total-columns: 24;

//  Variables for layout columns
@layout-column__sidebar-width: 5;

//  Checkout columns width
@layout-column-checkout__width-left: 6;

//
//  Navigation
//  ---------------------------------------------

@navigation__background: #fafafa;
@navigation-level0-item__active__background: false;
@navigation-level0-item__active__color: false;
@navigation-level0-item__active__border-color: false;
@navigation-level0-item__active__border-style: false;
@navigation-level0-item__active__border-width: false;

@navigation-desktop__background: none;
@navigation-desktop-level0-item__active__color: false;
@navigation-desktop-level0-item__active__border-color: false;
@navigation-desktop-level0-item__active__border-style: false;
@navigation-desktop-level0-item__active__border-width: false;
@submenu-desktop-item__background: false;
@submenu-desktop-item__hover__background: false;
@submenu-desktop-item__active__border-color: false;
@submenu-desktop-item__active__border-width: false;
@submenu-desktop-item__active__border-style: false;
@submenu-desktop__min-width: false;
@submenu-desktop__border-width: false;
@submenu-desktop__border-style: false;
@submenu-desktop__border-color: false;

@submenu-item__active__border: 0;
@submenu-item__active__border-color: false;
@submenu-item__active__color: false;
@submenu__padding-left: 20px;



//  Desktop navigation
@navigation-desktop-level0-item__line-height: 47px;
@submenu-desktop__font-weight: @font-weight__regular;
@submenu-desktop-item__active__color: @navigation-level0-item__active__color;

//  Tabs
@tab-control__color: @color-gray43;
@tab-control__font-weight: @font-weight__regular;
@tab-control__height: @indent__base*2;
@tab-control__margin-right: -1px;
@tab-control__padding-top: 1px;
@tab-control__padding-right: 35px;

//  Tabs content
@tab-content__padding-top: 35px;
@tab-content__padding-right: @tab-control__padding-right;

//
//  Accordion
//  ---------------------------------------------

@accordion-control__font-family: false;
@accordion-control__font-size: @font-size__base;
@accordion-control__font-style: false;
@accordion-control__font-weight: @font-weight__semibold;
@accordion-control__border-right: false;
@accordion-control__border-bottom: false;
@accordion-control__border-left: false;
@accordion-control__background-color: false;
@accordion-control__color: @primary__color;
@accordion-control__hover__background-color: false;
@accordion-control__hover__color: @accordion-control__color;
@accordion-control__active__background-color: false;
@accordion-control__active__color: @accordion-control__color;
@accordion-control__margin-bottom: 0;
@accordion-control__padding-right: @indent__s;
@accordion-control__padding-left: @indent__s;
@accordion-content__border: false;
@accordion-content__margin: 0;
@accordion-content__padding: @indent__s @indent__s @indent__l;

//
//  Buttons
//  ---------------------------------------------

@button__font-weight: @font-weight__semibold;

//  Default = secondary button
@button__padding: 13px 30px 10px;
@button__background: @color-button-grey;
@button__border: 0;
@button__font-size: 12px;
@button__font-weight: @font-weight__regular;
@button__line-height: 1;
@button__color: @color-warm-grey;

@button__hover__color: false;
@button__hover__background: false;

@button__active__background: false;

//  Primary button
@button-primary__padding: 11px 50px;
@button-primary__background: @color-louboutin-red;
@button-primary__border: 0;
@button-primary__font-size: 12px;
@button-primary__line-height: 1;
@button-primary__color: @color-white;

@button-primary__hover__color: false;
@button-primary__hover__background: false;
@button-primary__hover__border: false;


@button-primary__active__color: false;
@button-primary__active__background: false;
@button-primary__active__border: false;

//  Button with icon
@button-icon__line-height: @icon-font__line-height;

//
//  Icons
//  ---------------------------------------------

@icon-wishlist-empty: false;
@icon-comment-reflected: false;
@icon-compare-empty: false;
@icon-arrow-up-thin: false;
@icon-arrow-right-thin: false;
@icon-arrow-left-thin: false;
@icon-arrow-down-thin: false;
@icon-wishlist-empty: '\e601';

//
//  Messages
//  ---------------------------------------------

@message__padding: 12px @indent__base 12px @indent__m;
@message__line-height: false;
@message-icon__font-size: 24px;
@message-icon__inner-padding-left: 45px;
@message-icon__top: 22px;
@message-error-icon: @icon-error;
@message-success-icon: @icon-success;
@message-info-icon: '';
@message-warning-icon: '';

//
//  Loaders
//  ---------------------------------------------

@loader-overlay__background-color: rgba(255, 255, 255, .7);

//
//  Forms
//  ---------------------------------------------

// Input
@form-element-input__height: auto;
@form-element-input__padding: 8px 20px 10px;
@form-element-input__font-size: 12px;
@form-element-input__line-height: 1;
@form-element-input__color: @color-warm-grey;
@form-element-input__border: solid 1px @color-input-grey-border;
@form-element-input-placeholder__color: @color-warm-grey;
@form-element-input__border-radius: 2px;

//  Form fieldset
@form-fieldset-legend__font-size: 18px;
@form-fieldset-legend__font-weight: @font-weight__light;
@form-fieldset-legend__margin: 0 0 @indent__base;
@form-fieldset-legend__padding: 0 0 @indent__s;
@form-fieldset-legend__width: 100%;

//  Form field
@form-field-type-revert: false;
@form-field__additional-vertical-indent: @indent__s;

//  Form field label
@form-field-label__font-size: @font-size_11;
@form-field-label__font-weight: @font-weight__regular;
@form-field-type-label-block__margin: 0;

//  Form field note icon
@form-field-note-icon-font__content: false;

// astersk
@form-field-label-asterisk__color: @color-warm-grey;
@form-field-label-asterisk__margin: 0;

//
//  Pager
//  ---------------------------------------------

@pager__font-weight: @font-weight__regular;
@pager__line-height: @indent__l;
@pager-item__margin: 0 8px 0 0;
@pager-item__padding: 0 @indent__xs;

//  Pager current page
@pager-current__background: @color-gray90;

//  Pager link.action
@pager-icon__font-margin: 0;
@pager-icon__font-size: 16px;

//  Pager link.action visited
@pager-action__visited__color: @text__color__muted;

//  Pager link.action hover
@pager-action__hover__color: @text__color__muted;

//  Pager link.action active
@pager-action__active__color: @text__color__muted;

//
//  Rating
//  ---------------------------------------------

@rating-icon__font-size: 16px;
@rating-icon__letter-spacing: 2px;
@rating-icon__active__color: @active__color;

//
//  Dropdowns
//  ---------------------------------------------

@dropdown-toggle-icon__content: @icon-down;
@dropdown-toggle-icon__active__content: @icon-up;
@dropdown-toggle-icon__font-size: 12px;

//  Split dropdown
@dropdown-split-actions__padding: 0 @indent__xs;
@dropdown-split-toggle__actions__padding: false;

//  Actions-toolbar
@actions-toolbar-actions__position: left;
@actions-toolbar-actions-primary__margin: 0 15px 0 0;

//
//  Breadcrumbs
//  ---------------------------------------------
@breadcrumbs__container-margin: 0;
@breadcrumbs__font-size: @font-size_18;
@breadcrumbs-icon__font-size: 10px;
@breadcrumbs-icon__font-margin: 0 @indent__s;

@breadcrumbs-current__color: @color-black;
@breadcrumbs-link__color: @color-black;
@breadcrumbs-link__visited__color: @color-black;
@breadcrumbs-link__hover__color: @color-black;
@breadcrumbs-link__active__color: @color-black;

//
//  Popups
//  ---------------------------------------------

@popup__border: 1px solid @color-gray68;
@popup-title-headings__level: h2;

//  Popup icons
@popup-icon-font__size: 16px;
@popup-icon-font__line-height: 16px;
@popup-icon-font__color: @color-gray55;
@popup-icon-font__color-hover: darken(@popup-icon-font__color, 10%);
@popup-icon-font__color-active: @popup-icon-font__color-hover;

//  Window overlay
@overlay__background: @color-gray55;
@overlay__opacity: .7;
@overlay__opacity-old: 70;

@gallery-thumb-border-color-active: @active__color;

// Fotorama gallery
@fotorama-spinner-size: 119px;

//  Checkout tooltip icon
@checkout-tooltip-icon__font-size: 21px;
@checkout-tooltip-content__background-color: @color-pale-grey;
@checkout-tooltip-content__border-color: @color-pinkish-grey;
@checkout-tooltip-content__active__border-color: @color-pinkish-grey;

//  Checkout Payment Option icon
@checkout-payment-option-title-icon__font-size: 14px;
@checkout-payment-option-title-icon__line-height: 16px;
@checkout-payment-option-title-icon__margin: 0 0 0 @indent__s;
@checkout-payment-option-title-icon__color: @color-warm-grey;
@checkout-payment-option-title-icon__hover__color: @color-black-title;

//  Checkout Sidebar Shipping Information
@checkout-sidebar-shipping-information-edit-icon__content: @icon-edit;
@checkout-sidebar-shipping-information-edit-icon__font-size: 18px;
@checkout-sidebar-shipping-information-edit-icon__line-height: 20px;
@checkout-sidebar-shipping-information-edit-icon__top: @indent__s;

//  Checkout
@checkout-sidebar__columns: 8;

//
//  Footer
//  ---------------------------------------------

@copyright__background-color: @color-gray-middle4;

//
//  Sidebar
//  ---------------------------------------------

@sidebar__background-color: @color-pale-grey;
