<?php /* @var $block Project\Share\Block\Widget\Share */ ?>
<div class="social-share">
    <ul class="social-list">
        <li>
            <a <?php echo $this->helper('WeltPixel\GoogleTagManager\Helper\Data')->addProductShareClick($block->getProduct(),'facebook'); ?> href="<?php echo $block->getFacebookShareUrl(); ?>" target="_blank" class="icon-facebook">&nbsp;</a>
        </li>
        <li>
            <a <?php echo $this->helper('WeltPixel\GoogleTagManager\Helper\Data')->addProductShareClick($block->getProduct(),'twitter'); ?> href="<?php echo $block->getTwitterShareUrl(); ?>" target="_blank" class="icon-twitter">&nbsp;</a>
        </li>
        <li>
            <a <?php echo $this->helper('WeltPixel\GoogleTagManager\Helper\Data')->addProductShareClick($block->getProduct(),'pinterest'); ?> href="<?php echo $block->getPinterestShareUrl(); ?>" target="_blank" class="icon-pinterest">&nbsp;</a>
        </li>
        <?php if ($block->isLineEnabled()): ?>
        <li class="line-share">
            <div class="line-it-button" data-lang="en" data-type="like"
                 data-url="<?php echo $block->getProduct() ? $block->getProduct()->getProductUrl() : $block->getCurrentUrl(); ?>"
                 style="display: none"></div>
        </li>
        <?php endif; ?>
    </ul>
</div>

<?php if ($block->isLineEnabled()): ?>
<script src="<?php echo $block->getLineScriptUrl(); ?>" async="async" defer="defer"></script>
<?php endif; ?>
