// All Buttons

@button__text-transform: uppercase;
@button__letter-spacing: 1px;
@button__box-shadow: 0px 2px 2px 0 @color-grey;
@button-primary__font-size: 12px;
@button-primary__box-shadow: 0px 2px 2px 0 @color-primary-button-border;


// Tertiary button

@button-tertiary__background: @tertiary__color;
@button-tertiary__border: 1px solid @tertiary__color;
@button-tertiary__color: @color-white;

@button-tertiary__hover__background: @button-tertiary__background;
@button-tertiary__hover__border: @button-tertiary__border;
@button-tertiary__hover__color: @button-tertiary__color;

@button-tertiary__active__background: @tertiary__color;
@button-tertiary__active__border: @button-tertiary__border;
@button-tertiary__active__color: @button-tertiary__color;

