// Project new colors
// Original Magento colors : lib/web/css/source/lib/variables/_colors.less

@color-white2: #f2f2f3;
@color-louboutin-red: #ed1e24;
@color-warm-grey: #888888;
@color-warm-grey-two: #919191;
@color-grey: #dddddd;
@color-grey-two: #f6f6f6;
@color-grey-three: #a9a9a9;
@color-grey-four: #eeeeee;
@color-pinkish-grey: #cccccc;
@color-grey-five: #9b9a9a;
@color-grey-six: #f2f2f2;
@color-grey-eight: #d0d0d0;
@color-dark-grey: #474747;
@color-red-border: #b21c21;
@color-black-two: #383838;
@color-button-grey: #f3f3f3;
@color-primary-button-border: #b32025;
@color-input-grey-border: #ededed;
@color-black-title: #222222;
@color-grey-border: #f0f1f1;
@color-pale-grey: #f9fafa;
@color-pinkish-grey: #cccccc;
@color-warm-grey-three: #868686;
@color-select-black: #373737;
@color-green-olive: #53A93F;
@color-orange: #D54B23;
@color-mauve: #8B496B;
@color-grey-dark: #363636;
@color-grey-dark2: #141413;
@color-title-red: #C92223;
@color-yellow : #e2b040;
@color-background-grey: #fafafa;
@color-title-discover-red: #E62B30;
@color-background-discover: #f9f9f9;
@color-red-discover: #941110;

@color-blue-facebook: #3A589B;
@color-blue-twitter: #49C6F5;
@color-red-pinterest: #CF1819;

@tertiary__color: @color-dark-grey;
@quaternary__color: @color-dark-grey;

@color-border-email: #9b9a96;
@color-red--email: #ea0000;
