@icon-project-zoom: "\e000";
@icon-project-arrow-top: "\e002";
@icon-project-arrow-right: "\e003";
@icon-project-arrow-bottom: "\e004";
@icon-project-arrow-left: "\e005";
@icon-project-speak: "\e006";
@icon-project-phone-out: "\e007";
@icon-project-shoe-right: "\e008";
@icon-project-shoe-left: "\e009";
@icon-project-sole-top: "\e00a";
@icon-project-sole-bottom: "\e00b";
@icon-project-mail-full: "\e00c";
@icon-project-connected-full: "\e00d";
@icon-project-facebook-full: "\e00e";
@icon-project-pinterest-full: "\e00f";
@icon-project-twitter-full: "\e010";
@icon-project-mail-small-full: "\e011";
@icon-project-menu-burger-h: "\e012";
@icon-project-menu-burger-v: "\e013";
@icon-project-logo-full: "\e014";
@icon-project-twitter-empty: "\e016";
@icon-project-facebook-empty: "\e017";
@icon-project-double-arrow-down: "\e018";
@icon-project-love-full: "\e019";
@icon-project-plus: "\e01a";
@icon-project-eye: "\e01b";
@icon-project-pin-full: "\e01c";
@icon-project-mail-empty: "\e01d";
@icon-project-check-empty: "\e01e";
@icon-project-postal-card: "\e01f";
@icon-project-printer: "\e020";
@icon-project-close-bold: "\e021";
@icon-project-close: "\e022";
@icon-project-refresh: "\e023";
@icon-project-phone-ring: "\e024";
@icon-project-refresh-play: "\e025";
@icon-project-rewind: "\e026";
@icon-project-arrow-bottom-bold: "\e027";
@icon-project-warning: "\e028";
@icon-project-check-bold: "\e029";
@icon-project-twitter: "\e02a";
@icon-project-lips: "\e02b";
@icon-project-close-bolder: "\e02c";
@icon-project-cart-small: "\e02d";
@icon-project-simple-check: "\e02e";
@icon-project-facebook: "\e030";
@icon-project-info: "\e031";
@icon-project-pinterest: "\e032";
@icon-project-connected-empty: "\e033";
@icon-project-love-empty: "\e034";
@icon-project-hand: "\e035";
@icon-project-triangle-right: "\e036";
@icon-project-drop: "\e037";
@icon-project-share: "\e038";
@icon-project-jewelry: "\e039";
@icon-project-iinfo: "\e03a";
@icon-project-instagram-full: "\e03b";
@icon-project-pin-empty: "\e03c";
@icon-project-clock: "\e03d";
@icon-project-arrow-right-bold: "\e03e";
@icon-project-camera: "\e040";
@icon-project-triangle-down: "\e001";
@icon-project-paper-plane: "\e03f";
@icon-project-youtube: "\e041";
@icon-project-instagram-small: "\e042";
@icon-project-connected-small: "\e043";
@icon-project-youtube-small: "\e044";
@icon-project-google-plus: "\e045";
@icon-project-logo-empty: "\e015";
@icon-project-exclamation: "\e048";
@icon-project-close-small: "\e049";
@icon-project-simple-check-small: "\e046";
@icon-project-question-mark: "\e047";
@icon-project-lips-small: "\e050";
@icon-project-eyes-small: "\e06e";
@icon-project-nails-small: "\e035";
@icon-project-bag: "\e04a";
@icon-project-phone-empty: "\e04b";
@icon-project-search: "\e04c";
@icon-project-love-empty2: "\e04d";
@icon-project-cart-big: "\e04e";
@icon-project-shoe-1: "\e04f";
@icon-project-shoe-2:  "\e051";
@icon-project-shoe-3: "\e052";
@icon-project-shoe-4: "\e053";
@icon-project-menu-burger-dot: "\e054";
@icon-project-account-1: "\e055";
@icon-project-settings: "\e056";
@icon-project-flag: "\e057";
@icon-project-world: "\e058";
@icon-project-book: "\e059";
@icon-project-metter: "\e05a";
@icon-project-box: "\e05b";
@icon-project-envelope: "\e05c";
@icon-project-account-2: "\e05d";
@icon-project-instagram-empty: "\e05e";
@icon-project-double-question-mark: "\e05f";
@icon-project-circle-plus: "\e060";
@icon-project-watch: "\e061";
@icon-project-home: "\e062";
@icon-project-check-2: "\e063";
@icon-project-translate: "\e064";
@icon-project-account-3: "\e065";
@icon-project-square-info: "\e066";
@icon-project-acount-4: "\e067";
@icon-project-play: "\e068";
@icon-project-mail-full-2: "\e069";
@icon-project-shipping: "\e06a";
@icon-project-plus-center: "\e06b";
@icon-project-mobile-phone: "\e06c";
@icon-project-trait: "\e06d";
