@content-width: 1024px;
@landing-width: 1200px;
@fullscreen__max-width: 1920px;

@listing-products-top-max-width: 1680px;
@product-breadcrumbs-max-width-desktop: 1440px;
@product-title-max-width-desktop: 1500px;
@product-main-max-width-desktop: 1170px;
@upsell-product-max-width: 680px;