// Roboto Font
@font-family-name__avenir: 'Avenir';
@f-avenir: @font-family-name__avenir;

@font-family-name__avenir-roman: 'Avenir-Roman';
@f-avenir-roman: @font-family-name__avenir-roman;

@font-family-name__avenir-book: 'Avenir-Book';
@f-avenir-book: @font-family-name__avenir-book;

@font-family-name__didot: 'Didot';
@f-didot: @font-family-name__didot;

@font-family-name__freightdisp: 'Freightdisp';
@f-freightdisp: @font-family-name__freightdisp;

@font-family-name__freightdispLight: 'Freightdisp-pro-light';
@f-freightdispLight: @font-family-name__freightdispLight;

@font-family-name__frutiger: 'Frutiger';
@f-frutiger: 'Frutiger';

@font-family-name__gillsans: 'GillSans';
@f-gill: @font-family-name__gillsans;

@font-family-name__madelyn: 'Madelyn';
@f-madelyn: @font-family-name__madelyn;

@font-family-name__opensans: 'OpenSans';
@f-open: @font-family-name__opensans;


// Fonts JP
@font-family-name__hirakaku: 'Hiragino Kaku Gothic Pro';
@f-hirakaku: @font-family-name__hirakaku;

@font-family-name__meiryo: 'Meiryo';
@f-meiryou: @font-family-name__meiryo;

@font-family-name__japan: "@{font-family-name__hirakaku}, @{font-family-name__meiryo}", sans-serif;


@font-family-name__loub_icons: 'LoubIcons';
@f-icons: @font-family-name__loub_icons;

@font-weight__book: normal;
@font-weight__std: normal;
@font-weight__roman: normal;
@font-weight__xlight: 200;
@font-weight__medium: 300;
@font-weight__boldcn: 300;
@font-weight__600: 600;
@font-weight__black: 700;
@font-weight__900: 900;
@font-style__italic: italic;

@h2__font-size-desktop: @font-size_15;

// Sizes
@font-size-ratio__base-custom: 1;

@font-size_6:  unit(ceil( 6 * @font-size-ratio__base-custom), px); //  6px
@font-size_7:  unit(ceil( 7 * @font-size-ratio__base-custom), px); //  7px
@font-size_8:  unit(ceil( 8 * @font-size-ratio__base-custom), px); //  8px
@font-size_9:  unit(ceil( 9 * @font-size-ratio__base-custom), px); //  9px
@font-size_10: unit(ceil(10 * @font-size-ratio__base-custom), px); // 10px
@font-size_11: unit(ceil(11 * @font-size-ratio__base-custom), px); // 11px
@font-size_12: unit(ceil(12 * @font-size-ratio__base-custom), px); // 12px
@font-size_13: unit(ceil(13 * @font-size-ratio__base-custom), px); // 13px
@font-size_14: unit(ceil(14 * @font-size-ratio__base-custom), px); // 14px
@font-size_15: unit(ceil(15 * @font-size-ratio__base-custom), px); // 15px
@font-size_16: unit(ceil(16 * @font-size-ratio__base-custom), px); // 16px
@font-size_17: unit(ceil(17 * @font-size-ratio__base-custom), px); // 17px
@font-size_18: unit(ceil(18 * @font-size-ratio__base-custom), px); // 18px
@font-size_19: unit(ceil(19 * @font-size-ratio__base-custom), px); // 19px
@font-size_20: unit(ceil(20 * @font-size-ratio__base-custom), px); // 20px
@font-size_21: unit(ceil(21 * @font-size-ratio__base-custom), px); // 21px
@font-size_22: unit(ceil(22 * @font-size-ratio__base-custom), px); // 22px
@font-size_23: unit(ceil(23 * @font-size-ratio__base-custom), px); // 23px
@font-size_24: unit(ceil(24 * @font-size-ratio__base-custom), px); // 24px
@font-size_25: unit(ceil(25 * @font-size-ratio__base-custom), px); // 25px
@font-size_26: unit(ceil(26 * @font-size-ratio__base-custom), px); // 26px
@font-size_27: unit(ceil(27 * @font-size-ratio__base-custom), px); // 27px
@font-size_28: unit(ceil(28 * @font-size-ratio__base-custom), px); // 28px
@font-size_29: unit(ceil(29 * @font-size-ratio__base-custom), px); // 29px
@font-size_30: unit(ceil(30 * @font-size-ratio__base-custom), px); // 30px
@font-size_31: unit(ceil(31 * @font-size-ratio__base-custom), px); // 31px
@font-size_32: unit(ceil(32 * @font-size-ratio__base-custom), px); // 32px
@font-size_33: unit(ceil(33 * @font-size-ratio__base-custom), px); // 33px
@font-size_34: unit(ceil(34 * @font-size-ratio__base-custom), px); // 34px
@font-size_35: unit(ceil(35 * @font-size-ratio__base-custom), px); // 35px
@font-size_36: unit(ceil(36 * @font-size-ratio__base-custom), px); // 36px
@font-size_37: unit(ceil(37 * @font-size-ratio__base-custom), px); // 37px
@font-size_38: unit(ceil(38 * @font-size-ratio__base-custom), px); // 38px
@font-size_40: unit(ceil(40 * @font-size-ratio__base-custom), px); // 40px
@font-size_42: unit(ceil(42 * @font-size-ratio__base-custom), px); // 42px
@font-size_46: unit(ceil(46 * @font-size-ratio__base-custom), px); // 46px
@font-size_48: unit(ceil(48 * @font-size-ratio__base-custom), px); // 48px
@font-size_54: unit(ceil(54 * @font-size-ratio__base-custom), px); // 54px
@font-size_60: unit(ceil(60 * @font-size-ratio__base-custom), px); // 60px
@font-size_64: unit(ceil(64 * @font-size-ratio__base-custom), px); // 64px
@font-size_72: unit(ceil(72 * @font-size-ratio__base-custom), px); // 72px
@font-size_46: unit(ceil(46 * @font-size-ratio__base-custom), px); // 46px
@font-size_80: unit(ceil(80 * @font-size-ratio__base-custom), px); // 80px