// /**
//  * Copyright © Zemez, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@rating-icon__count: 5;
@rating-icon__content: @icon-star;
@rating-icon__font: @icon-font;
@rating-icon__font-size: 32px;
@rating-icon__letter-spacing: -9px;
@rating-icon__color: @color-light;
@rating-icon__active__color: #EDDB39;
@review-ratings-left: 280px;
@reviews-indent-desktop: 20px;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .rating-summary {
        .lib-rating-summary();

        .rating-result {
            margin-left: -5px;
        }

        .label {
            display: inline-block;
            margin-right: 5px;
            vertical-align: middle;
        }
    }

    .product-reviews-summary,
    .table-reviews {
        .rating-summary {
            .label {
                display: inline-block;
                margin-right: 5px;
                color: @color-light;
                vertical-align: middle;
            }
        }

        .rating-result {
            margin-right: 10px;
        }

        .reviews-actions {
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;

            .view {
                text-decoration: underline;
            }
        }
    }

    .review-control-vote {
        .lib-rating-vote();
    }

    //
    //  Add review block
    //  ---------------------------------------------

    .block {
        &.add.review {
            margin-bottom: @indent__xl;

            > .title {
                .lib-heading(h2);
            }

            .legend {
                .lib-heading(h3);
                margin: 0 0 @indent__base;
            }

            .field.rating {
                display: table-row;

                .label {
                    display: table-cell;
                    padding: @indent__xs 0;
                    vertical-align: middle;
                }

                .control {
                    display: table-cell;
                    vertical-align: top;
                }
            }
        }

        &.reviews.list {
            > .title {
                .lib-heading(h2);
            }

            .review {
                &.item {
                    margin-bottom: @indent__xl;
                }

                &.title {
                    .lib-heading(h3);
                }
            }
        }
    }

    .data.table.reviews {
        .rating-summary {
            margin-top: -4px;
        }
    }

    .customer-review.view {
        margin-bottom: @indent__base;

        .review.title,
        .ratings-summary,
        .product-details {
            margin-bottom: @indent__base;
        }
    }

    .product-reviews-summary {
        &.empty {
            margin-left: 0;
        }

        .rating-summary {
            display: inline-block;
            position: relative;
            text-align: left;
            vertical-align: middle;
        }

        .reviews-actions {
            display: inline-block;
            line-height: @rating-icon__font-size;
            vertical-align: middle;

            a {
                margin-right: @indent__xs;
            }
        }
    }
}

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .customer-review {
        .product-details {
            &:extend(.abs-add-clearfix all);
            margin-bottom: @indent__xl;
        }

        .product-media {
            float: left;
            margin-right: 3%;
            max-width: 285px;
            width: 30%;
        }

        .review-details {
            .customer-review-rating {
                margin-bottom: @indent__base;

                .item {
                    margin-bottom: @indent__s;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            .review-title {
                .lib-heading(h3);
                font-weight: @font-weight__semibold;
                margin-bottom: @indent__base;
            }

            .review-content {
                margin-bottom: @indent__base;
            }
        }

        .product-reviews-summary {
            .rating-summary,
            .reviews-actions {
                display: block;
            }
        }
    }

    .review-field-ratings {
        .nested {
            display: table;
        }

        .review-field-rating {
            display: table-row;

            .label,
            .control {
                display: table-cell;
                padding-bottom: @indent__s;
                vertical-align: top;
            }

            .label {
                padding-right: @indent__s;
                padding-top: 10px;
            }

            .control {
                padding-top: 2px;
            }
        }
    }

    //
    //  Review product page
    //  ---------------------------------------------

    .review {
        &-toolbar {
            position: absolute;
            top: 5px;
            right: 0;
            margin: 0;
            border-top: 1px solid @color-gray79;
            text-align: center;

            &:first-child, &:last-child {
                display: none;
            }

            .label {
                font-size: 14px;
                line-height: 16px;

                @media (max-width: (@screen__xs - 1)) {
                    display: none;
                }
            }

            .field {
                padding: 0;
            }

            .pages {
                border-bottom: 1px solid @color-gray79;
                display: block;
                padding: @indent__base 0;
                text-align: center;
            }

            .limiter {
                display: none;
            }
        }

        &-add {
            .block-title {
                display: none;
            }

            .review-form .actions-toolbar.review-form-actions {
                margin-left: 0;
            }
        }

        &-form {
            .action.submit.primary {
                .lib-button-revert-secondary-color();
            }
        }

        .fieldset &-legend.legend {
            &:extend(.abs-reset-left-margin all);
            margin-bottom: @indent__base;
        }

        &-field-rating {
            .control {
                margin-bottom: 1.2 * @indent__xl;
                margin-top: @indent__s;
            }
        }

        &-list {
            margin-bottom: @indent__l;

            .block-title strong {
                .lib-heading(h4);
            }
        }

        &-item {
            display: flex;
            flex-direction: column;
            padding: 10px;
            border: 1px solid @border-color__base;
            margin-top: 15px;

            .review-details {
                margin-left: 0;
            }

            .review-title {
                text-transform: uppercase;
            }

            .review-content {
                margin-left: 0;
                margin-bottom: 5px;
                margin-top: 5px;
            }
        }

        &-ratings {
            display: table;
            margin-bottom: @indent__s;
            max-width: 100%;
            &:extend(.abs-rating-summary all);
        }

        &-author {
            display: inline;
        }

        &-title {
            .lib-heading(h5);
            margin: 0 0 @indent__base;
        }

        &-content {
            margin-top: 28px;
            margin-bottom: @indent__base;
        }

        &-fieldset.fieldset {
            > .field:not(.choice) {
                > .label {
                    padding: 0;
                    width: auto;
                    float: none;
                    margin-bottom: 5px;
                    text-align: left;
                }
                > .control {
                    width: auto;
                    float: none;
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    .review {
        &-form {
            max-width: 800px;
        }

        &-ratings {
            margin-bottom: 0;
        }

        &-toolbar {
            margin: 0 0 @reviews-indent-desktop;

            .pages {
                padding: @reviews-indent-desktop 0;
            }
        }

        .fieldset &-legend.legend {
            margin-bottom: @reviews-indent-desktop;
        }

        &-item {
            padding: @reviews-indent-desktop;
        }
    }
}
