/*
 * 	Featured Product by Zemez
 */

// Main Styles
& when (@media-target = 'mobile') {
    .widget.featured {
        .products-grid {
            .product-items {
                display: flex;
                flex-wrap: wrap;
                margin-left: -15px;
                margin-right: -15px;

                .product-item {
                    display: block;
                    width: 50%;
                    max-width: 50%;
                    padding-left: 15px;
                    padding-right: 15px;

                    @media (min-width: @screen__s) {
                        width: 33.33%;
                        max-width: 33.33%;
                    }
                }

                div.product-item {
                    margin: 0;
                }
            }

            .owl-carousel {
                width: auto;

                &.owl-loaded .product-item {
                    width: 100%;
                    max-width: none;
                }
            }
        }

        &[role="tablist"] {
            .block-title {
                display: inline-block;
                width: auto;
                margin-right: 15px;

                &:before {
                    display: none;
                }

                strong {
                    margin-bottom: 0;
                    cursor: pointer;
                }

                &.active strong {
                    color: #ccc;
                }
            }

            .block-content {
                float: right;
                margin-left: -100%;
                padding: 3rem 0 0;
                width: 100%;
            }

            @media (max-width: 767px) {
                .block-title {
                    display: block;
                    width: 100%;
                }

                .block-content {
                    float: none;
                    margin-left: 0;
                }
            }
        }

        [role="tablist"] {
            text-align: right;

            .category-title {
                display: inline-block;
                width: auto;
                padding: 0;
                margin: 0 0 20px;

                &:before {
                    display: none;
                }

                strong {
                    margin-bottom: 0;
                    padding-left: 15px;
                    cursor: pointer;
                    font-size: 18px;
                    font-weight: normal;
                }

                &.active strong {
                    color: #ccc;
                }
            }

            .category-content {
                text-align: left;
                float: right;
                margin-left: -100%;
                padding: 70px 0 0;
                width: 100%;
            }

            @media (max-width: 767px) {
                .category-title {
                    display: block;
                    width: 100%;
                }

                .category-content {
                    float: none;
                    margin-left: 0;
                    padding-top: 20px;
                }
            }
        }
    }
}

& when (@media-target = 'desktop') {
    .widget.featured {
        .products-grid .product-items {
            .product-item {
                width: 25%;
                max-width: 25%;
            }
        }
    }
}
