// Import
@import '_owl.carousel2.less';
@import '_products-grid.less';
@import '_products-list.less';
@import '_products-sidebar.less';
@import '_hover-types.less';

@_featured-product__label-color: #ffffff;
@_featured-product__label-bg: #ff0000;
@_featured-product__label-size: 12px;

// Main Styles

& when (@media-target = 'mobile') {
    .widget.featured {
        .product-item {
            // label
            .product-label {
                position: absolute;
                top: 10px;
                right: 20px;
                z-index: 99;
                font-size: @_featured-product__label-size;
                color: @_featured-product__label-color;
                background-color: @_featured-product__label-bg;
                text-transform: uppercase;
                padding: 5px 10px;
                font-weight: 700;
            }
        }

        .not-found {
            padding: 0;
            margin: 0;
        }

        .owl-nav {
            button {
                position: absolute;
                top: 50%;
                margin-top: -23px;
                box-shadow: none;

                &:before {
                    font-family: @icon-font;
                    font-size: 46px;
                    line-height: 1;
                }
            }

            .owl-prev {
                left: 0;

                &:before {
                    content: @icon-prev;
                }
            }

            .owl-next {
                right: 0;

                &:before {
                    content: @icon-next;
                }
            }
        }

        .owl-dots {
            width: 100%;
            padding-left: 15px;
            padding-right: 15px;
            text-align: center;
            box-sizing: border-box;
            button.owl-dot {
                width: 15px;
                height: 15px;
                border-radius: 15px;
                background: @color-darkie-gray;
                transition: .3s ease;

                &.active, &:hover {
                    background: @color-black_dark;
                }

                & + button.owl-dot {
                    margin-left: 15px;
                }
            }
        }
    }
}

// Carousel

& when (@media-target = 'mobile') {
    .widget.featured {
        .loader > div {
            position: relative;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background: url(../images/loader-1.gif) center 100px no-repeat;
                z-index: -1;
            }
        }
    }
}
