// /**
//  * Copyright © Zemez, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .wishlist.link {
        a {
            .font-icon(@themeicon-heart);
            display: block;
            position: relative;
            width: 30px;
            text-align: center;

            &:before {
                font-size: 22px;
                line-height: 30px;
            }
        }

        .counter.qty {
            display: inline-block;
            position: absolute;
            left: 28px;
            top: -2px;
            color: @color-default;
            font-size: 12px;
        }
    }

    .toolbar.wishlist-toolbar {
        &:last-child {
            margin-top: 40px;
            margin-bottom: 0;
            @media (max-width: (@screen__l - 1)) {
                padding-top: 24px;
                border-top: 1px solid @border-color__base;
            }

            .pager {
                justify-content: center;
            }

            .toolbar-amount, .limiter {
                display: none;
            }

            .pages {
                display: block;
            }
        }
    }

    .form-wishlist-items {
        div.actions-toolbar {
            margin-top: 30px;
            &:extend(.abs-reset-left-margin all);
        }
    }

    .action.towishlist {
        &:extend(.abs-actions-addto-gridlist all);
        .lib-icon-font-symbol(
            @themeicon-heart
        );

        span {
            display: none;
        }
    }

    .product-info-main {
        .action.towishlist {
            width: 46px;
            background-color: @color-white;
            color: @color-primary;
            box-shadow: 0 0 7px rgba(187, 176, 176, 0.25);

            &:before {
                line-height: 46px;
            }

            &:hover {
                color: @color-dark;
            }
        }
    }

    .account .table-wrapper .data.table.wishlist {
        .lib-table-bordered(
            @_table_type: horizontal
        );

        thead > tr > th {
            border-bottom: 0;
        }

        tbody > tr:last-child > td {
            border-bottom: 1px solid @table__border-color;
        }

        .product-item-name {
            display: inline-block;
            margin-bottom: @indent__s;
        }

        .box-tocart {
            margin: @indent__s 0;

            .qty {
                vertical-align: middle;
                &:extend(.abs-input-qty all);
            }
        }

        .col {
            &.item {
                width: 50%;
            }

            &.photo {
                max-width: 150px;
            }

            &.selector {
                max-width: 15px;
            }
        }

        textarea {
            margin: @indent__s 0;
        }

        .input-text.qty {
            margin-bottom: @indent__s;
        }

        .action.primary {
            vertical-align: top;
        }

        .price {
            font-weight: @font-weight__bold;
        }
    }

    .block-wishlist {
        .counter {
            &:extend(.abs-block-items-counter all);
        }

        .product-item-name {
            margin-right: @indent__m;
        }
    }

    .products-grid.wishlist {
        .product {
            &-item {
                &-photo {
                    display: block;
                    margin-bottom: @indent__s;
                }

                .comment-box {
                    .label {
                        &:extend(.abs-visually-hidden all);
                    }
                }

                &-comment {
                    display: block;
                    height: 42px;
                    margin: @indent__s 0;
                }

                &-actions {
                    > * {
                        margin-right: 15px;

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }

                .box-tocart {
                    input.qty {
                        &:extend(.abs-input-qty all);
                    }
                }
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .wishlist.link {
        position: fixed;
        top: 0;
        right: 3*@header-mobile-nav-height + 10px;
        z-index: 16;

        a {
            width: @header-mobile-nav-height;
            height: @header-mobile-nav-height;
            color: @header-mobile-nav-color;

            &:before {
                line-height: @header-mobile-nav-height;
            }
        }

        .counter.qty {
            top: 10px;
            left: 42px;
            color: @header-mobile-nav-color;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .products-grid.wishlist {
        .product {
            &-item {
                &-tooltip {
                    display: inline-block;
                }

                &-actions {
                    margin: @indent__s 0 0;
                }

                .fieldset {
                    .field.qty {
                        margin-bottom: @indent__s;
                        padding-right: @indent__s;

                        .label {
                            width: auto;
                        }
                    }
                }

                .box-tocart {
                    .actions-primary {
                        margin: 0;
                    }

                    .stock {
                        margin: @indent__base 0 0;
                    }
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .wishlist-index-index {

    }
}
