<!--@subject {{trans "Louboutin Sales - RMA Alert"}} @-->
<!--@vars {
"var environment":"Environment",
"var rmaId":"Rma Id",
"var errorMsg":"Error Message",
"var dateTime":"Date & Time"
} @-->

{{template config_path="design/email/header_template"}}

<table cellspacing="0" cellpadding="0" align="center" border="0" width="600" style="text-align:left">
    <tr>
        <td valign="top" style="color: #454545">
            <h1>Rma error</h1>

            <p>RMA ID: {{var rmaId}}</p>

            <p>Error Message: {{var errorMsg}}</p>

            <p>Date: {{var dateTime}}</p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}