<div class="block-title">
    <a class="action viewcart" data-bind="attr: {href: shoppingCartUrl}">
        <span class="text" translate="'Shopping Bag'"/>
    </a>
</div>

<div class="block-content">
    <if args="getCartParam('summary_count')">
        <div class="items-total">
            <translate args="'You have'" if="getCartLineItemsCount() >= 1" translate="'You have'" />
            <span class="count" if="maxItemsToDisplay < getCartLineItemsCount()" text="maxItemsToDisplay"/>
            <translate args="'of'" if="maxItemsToDisplay < getCartLineItemsCount()"/>
            <span class="count" text="getCartParam('summary_count')"/>
            <span class="items-in-cart">
                <translate args="'item'" if="getCartParam('summary_count') === 1" translate="'item'" />
                <translate args="'items'" if="getCartParam('summary_count') > 1" translate="'items'" />
            </span>
            <translate args="'in your shopping bag'" translate="'in your shopping bag'" />
        </div>
    </if>

    <if args="getCartParam('summary_count')">
        <strong class="subtitle" translate="'Recently added item(s)'"/>
        <div class="minicart-items-wrapper">
            <ol id="mini-cart" class="minicart-items" data-bind="foreach: { data: getCartItems(), as: 'item' }">
                <each args="$parent.getRegion($parent.getItemRenderer(item.product_type))"
                      render="{name: getTemplate(), data: item, afterRender: function() {$parents[1].initSidebar()}}"
                />
            </ol>
        </div>
    </if>

    <if args="getCartParam('summary_count')">
        <each args="getRegion('subtotalContainer')" render=""/>
        <each args="getRegion('extraInfo')" render=""/>

        <div class="actions" if="getCartParam('possible_onepage_checkout')">
            <div class="primary">
                <button
                        id="top-cart-btn-cart"
                        type="button"
                        class="action primary checkout"
                        data-action="close"
                        data-bind="attr: { title: $t('Minicart Order') }, click: redirectToCartAction"
                        translate="'Minicart Order'"
                />
            </div>

            <div data-bind="html: getCartParam('extra_actions')"></div>
        </div>
    </if>

    <ifnot args="getCartParam('summary_count')">
        <strong class="subtitle empty"
                data-bind="visible: closeSidebar()"
                translate="'You have no items in your shopping cart.'"
        />
        <if args="getCartParam('cart_empty_message')">
            <p class="minicart empty text" text="getCartParam('cart_empty_message')"/>
        </if>
    </ifnot>

    <div id="minicart-widgets" class="minicart-widgets">
        <each args="getRegion('promotion')" render=""/>
    </div>
</div>
<each args="getRegion('sign-in-popup')" render=""/>
