<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Project\Wishlist\Block\Customer\Wishlist\Item\Column\Size $block */

$product = $block->getSimpleProduct();

?>

<?php if ($product) : ?>
    <strong class="product-item-size">
        <?= $block->escapeHtml($product->getAttributeText('size')) ?>
    </strong>
<?php else: ?>
    <span class='empty-size'>&nbsp;</span>
<?php endif ?>
