//
//  Common
//  _____________________________________________
//
& when (@media-common = true) {
    .magento-rma-order-search {
        p {
            color: @color-black;
            font-size: @font-size_13;
        }

        h1 {
            color: @color-black-title;
        }

        .fieldset {
            margin-bottom: 60px;

            p {
                margin: 0 0 15px;
                line-height: 18px;
            }
        }

        .actions-toolbar > .primary {
            float: right;

            button {
                width: auto;
                margin-right: 0;
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________
//
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .magento-rma-order-search {
        h1 {
            font-size: @font-size_15;
            padding-bottom: 13px;
            border-bottom: 1px solid @color-grey-border;
            margin-right: 10%;
        }
    }
}

//
//  Desktop
//  _____________________________________________
//
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .magento-rma-order-search {
        p,
        .page-title-wrapper,
        .page.messages,
        .columns {
            width: 100%;
            margin: 0 auto;
            max-width: @content-width;
        }

        p {
            margin: 30px auto 0;
        }

        .page-main > .page-title-wrapper .page-title {
            display: block;
        }

        h1 {
            font-size: @font-size_18;
            position: relative;
            margin-bottom: 30px;

            span {
                background: @color-white;
                display: inline-block;
                z-index: 10;
                position: relative;
                padding-right: 26px;
            }

            &:after {
                content: "";
                border-bottom: 1px solid @color-grey-border;
                display: block;
                width: 100%;
                position: absolute;
                top: 15px;
                z-index: 0;
            }
        }
    }
}