<?php
// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Newsletter $block */

$standardDesignHelper = $this->helper('Synolia\StandardDesign\Helper\Cms');
?>
<?= $block->getChildHtml('form_before') ?>
    <form class="form form-newsletter-manage" action="<?= $block->escapeUrl($block->getAction()) ?>" method="post" id="form-validate">
        <fieldset class="fieldset">
            <?= $block->getBlockHtml('formkey') ?>
            <legend class="legend"><span><?= $block->escapeHtml(__('Unsubscribe option')) ?></span></legend><br>
            <div class="newsletter-top-infos">
                <?php echo $standardDesignHelper->getCmsBlockHtml('newsletter-top-info'); ?>
            </div>
            <div class="actions-toolbar unsubscribe-request">
                <div class="primary">
                    <button type="submit" title="<?= $block->escapeHtmlAttr(__('Unsubscribe ')) ?>" class="action save primary">
                        <span><?= $block->escapeHtml(__('Unsubscribe ')) ?></span>
                    </button>
                </div>
                <div class="secondary"><a class="action back" href="<?= $block->escapeUrl($block->getBackUrl()) ?>">
                        <span><?= $block->escapeHtml(__('Back')) ?></span>
                    </a></div>
            </div>
            <div class="unsubscribe-inprogress">
                <p><?php echo __('Unsubscribe to our newsletter in progress') ?></p>
            </div>
            <?php /* Extensions placeholder */ ?>
            <?= $block->getChildHtml('customer.form.newsletter.extra') ?>
            <div class="newsletter-bottom-infos">
                <?php echo $standardDesignHelper->getCmsBlockHtml('newsletter-bottom-info'); ?>
            </div>
        </fieldset>
    </form>
<?php /* Extensions placeholder */ ?>
<?= $block->getChildHtml('customer.form.newsletter.extra2') ?>
<script>
    require(['jquery','mage/cookies'],
        function ($) {
            $( ".unsubscribe-request" ).click(function() {
                $.cookie('cl_newsletter_unsubscribe_request', 'true', { path: '/'});
            });
            if($.cookie('cl_newsletter_unsubscribe_request')){
                $( ".unsubscribe-request" ).css("display", "none");
                $( ".unsubscribe-inprogress" ).css("display", "block");
            }
        });
</script>
