.catalog-product-view .fotorama__stage__shaft.fotorama__grab {
    margin-left: 0 !important;
    width: 100% !important;
}
.slick-prev.slick-disabled, .slick-next.slick-disabled {
    opacity: 1 !important;
}
.cms-home,
.page-products {
    .topbox-image,.category-cms {
        img {
            height: auto;
        }
    }
}
.cms-home,.page-products {
    #home-topbox-slider {
        .topbox-image,.topbox-video {
            @media (max-width: @ipad__landscape) {
                margin: 0;
            }
            > a {
                margin: 0;
                @media (max-width: @ipad__landscape) {
                    margin: 35.5px 0 61.5px;
                    span {
                        margin: 0;
                    }
                }
                @media (max-width: @mobile__screen) {
                    &:last-child {
                        margin: 28px 10px;
                    }
                }
            }
        }
    }
    .easycms-block.topbox-slider {
        > a {
            margin: 28px 10px;
        }
    }
    .easycms-block.images-products {
        &.images-products-left,&.images-products-right {
            .image-first,.image-second {
                background-size: cover;
                background-position: left bottom;
                img {
                    height: auto;
                }
            }
            .image-second {
                bottom: 0;
                .title {
                    top: auto;
                    bottom: -18px;
                    left: auto;
                    right: -20px;
                }
            }
        }
        .image-second img {
            height: auto;
        }
    }
    .topbox-image,.topbox-video {
        > a {
            margin: 28px 0;
        }
        .title {
            font-size: @font-size_40;
            @media (max-width: @mobile__screen) {
                font-size: @font-size_24;
            }
        }
        &.topmosaic-image .title {
            font-weight: normal;
            border-bottom: 3px solid @color-black-title;
        }
    }
    #home-topmosaic-slider {
        .title {
            margin-top: 0;
        }
    }
    .easycms-block.products-slider {
        .title {
            font-size: @font-size_24;
        }
    }
    .topbox.dynamic .title-container {
        margin-top: 28px;
    }
    #landing-home {
        #home-news {
            margin: 40px 0;
            @media (max-width: @mobile__screen) {
                .easycms-block.products-slider .title {
                    font-size: @font-size_16;
                }
            }
        }
    }
}
.catalog-product-view {
    .fotorama-item .fotorama__nav--thumbs .fotorama__nav__frame {
        padding: 0 !important;
        border: solid 1px #F1F2F2 !important;
    }
}
.catalog-category-view.page-products .category-cms,.cms-home {
    .mobile .splitter-shoe {
        display: none;
    }
}

@media (max-width: @ipad__landscape) {
    .catalog-product-view.page-layout-1column {
        .column.main {
            display: flex;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            padding: 0 !important;
            max-width: 100%;
            margin: 0;
            width: auto;
        }
        .product.media {
            width: auto;
            float: none;
            -ms-flex-order: -1;
            -webkit-order: -1;
            order: -1;
        }
        .product-info-main {
            width: auto;
            float: none;
            padding: 0 25px;
            .product.attribute.overview {
                padding: 20px 20px;
                border-top: 1px dotted @color-grey-eight;
                border-bottom: 1px dotted @color-grey-eight;
                &:after,&:before {
                    display: none;
                }
            }
            .product-info-price {
                overflow: hidden;
                text-align: center;
                 .price-box {
                     float: none;
                 }
             }
            .product-options-wrapper {
                .super-attribute-select li {
                    width: 45px;
                }
                .fieldset > .field {
                    margin: 0 0 2px;
                }
            }
            .social-share .social-list {
                border-bottom: none;
                margin: 27px 0;
                padding: 0;
            }
            .product-add-form {
                padding: 0;
            }
            .product-social-links {
                width: auto;
                padding: 0;
            }
            .product-contact,
            .social-share,
            .block.upsell,
            .product.info.detailed {
                padding: 0;
            }
        }
        .block.upsell {
            max-width: 100%;
            .block-title {
                margin-top: 15px;
            }
        }
        .fotorama__arr .fotorama__arr__arr {
            height: 31px;
            width: 31px;
        }
        .fotorama__arr--next .fotorama__arr__arr {
            right: 0;
            left: auto;
        }
        .fotorama__arr--prev .fotorama__arr__arr {
            left: 25%;
        }
    }
    .customer-account-login {
        .login-container {
            .block-customer-login {
                border-right: none;
                padding-right: 0;
            }
            .block:nth-child(1),
            .block:nth-child(2) {
                clear: none;
                float: none;
                width: auto;
                margin: 0 5px;
            }
        }
        h1 {
            font-size: 19.5px;
            padding: 0 0 20px;
            border-bottom: 1px solid #dededd;
            margin: 0 5px 20px;
        }
    }
    .customer-account-create {
        .form.password.reset,
        .form.send.confirmation,
        .form.password.forget,
        .form.create.account {
            width: auto;
            float: none;
            padding: 0 5px;
            h1 {
                padding: 0 0 20px;
                margin: 0 5px 25px;
                border-bottom: 1px solid #dededd;
                font-size: 19.5px;
            }
        }
        .big-image {
            margin: auto;
            float: none;
        }
    }
    .checkout-cart-index {
        .cart-container {
            display: flex;
            -webkit-display: flex;
            -moz-display: flex;
            -ms-display: flex;
            flex-wrap: wrap;
            padding: 0 5px;
            .cart-summary {
                width: auto;
                order: 2;
                float: none;
                top: 0 !important;
            }
            .form-cart {
                width: 100%;
                float: none;
                padding-right: 0;
                margin: 0;
            }
            .gift-options-cart {
                width: 100%;
                padding-right: 0;
            }
            .continue-shopping {
                width: 50%;
                float: left;
            }
            .cart-summary-bottom {
                width: 50%;
                float: right;
                margin-right: 0;
                display: block;
                order: 1;
            }
        }
    }
    .catalog-category-view {
        &.page-products {
            .page-main {
                padding: 40px 0 0;
            }
            .category-cms {
                padding: 11px 0 0;
                > div {
                    display: flex;
                    -moz-flex-direction: initial;
                    -ms-flex-direction: initial;
                    flex-direction: initial;
                    flex-wrap: wrap;
                }
                .page-title {
                    font-size: @font-size_40;
                    width: 100%;
                }
                .top-image {
                    .lib-css(order, 1, 1);
                }
                .block.filter {
                    margin: 20px 13px 0;
                    @media (max-width: @mobile__screen) {
                        .filter-options-item a {
                            font-size: 10px;
                        }
                    }
                }
            }
            .products-grid .product-items > .product-item {
                width: 50%;
                margin: 0 ;
                text-align: center;
                .product-item-photo-hover {
                    right: 0;
                }
                .product-item-info a img {
                    display: block;
                    margin: auto;
                }
            }
        }
    }
    .cms-home {
        .easycms-block.images-products {
            display: block;
            &.images-products-right {
                .image-first {
                    margin: 20px 20px 70px 70px;
                    display: inline-block;
                    .title {
                        top: -20px;
                        left: -50px;
                        text-transform: capitalize;
                        font-size: 24px;
                        line-height: 20px;
                        text-align: left;
                        width: auto;
                        height: auto;
                        padding: 20px;
                    }
                }
                .image-second {
                    display: block;
                    float: none;
                    margin-left: 20px;
                    max-width: 500px;
                    width: 67.5%;
                    .title {
                        line-height: 23px;
                        padding: 20px 20px 20px 40px;
                        bottom: -45px;
                        left: auto;
                        right: -20px;
                        top: auto;
                    }
                }
            }
            &.images-products-left{
                .image-first {
                    float: right;
                    margin-right: 20px;
                    margin-bottom: 80px;
                    width: 67.5%;
                    max-width: 500px;
                    .title {
                        bottom: -45px;
                        left: 0;
                        right: auto;
                    }
                }
                .image-second {
                    width: auto;
                    display: block;
                    float: none;
                    max-width: 500px;
                    margin: 0 50px 90px ;
                    .title {
                        padding: 20px;
                        top: auto;
                        bottom: -68px;
                        left: -51px;
                        right: auto;
                    }
                }
            }
        }
        .product-items > .product-item .product-item-info {
            margin: 0;
        }
    }
    .topbox.video .video-container a > img {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 66vw;
    }
    .topbox-video .video-container .play-button {
        display: block;
        position: absolute;
        bottom: 4vw;
        color: #fff;
        letter-spacing: 1.75px;
        padding: 10px 22px 10px 40px;
        font-size: 14px;
        right: 4vw;
    }
    .catalog-product-view {
        .breadcrumbs {
            margin: 20px 0 0 20px !important;
            padding: 0 !important;
        }
        .product-info-main {
            .block.upsell {
                .product-items > .product-item {
                    width: 33%;
                    margin-bottom: 0;
                    .product-item-info {
                        img {
                            height: auto;
                        }
                    }
                }
            }
        }
    }
    .topbox.video .video-container a > img {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 66vw;
    }
    .topbox-video .video-container .play-button {
        display: block;
        position: absolute;
        bottom: 4vw;
        color: #fff;
        letter-spacing: 1.75px;
        padding: 10px 22px 10px 40px;
        font-size: 14px;
        right: 4vw;
    }
    .easycms-block.images-products.images-products-right .products {
        padding-top: 35px !important;
    }
    .easycms-block.images-products.images-products-left .products {
        padding-top: 0 !important;
    }

    .cms-home #landing-home > .mobile {
        display: block;
        order: 4;
        width: 100%;
        .splitter-shoe {
            position: relative;
            width: auto;
            margin: 30px 50px;
            display: block;
            .sh {
                margin: 0 auto;
                z-index: 2;
                position: absolute;
                top: -26px;
                left: 50%;
                -webkit-transform: translateX(-50%);
                -moz-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                transform: translateX(-50%);
                &:after {
                    content: "\e00a";
                    font-family: 'LoubIcons';
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    font-size: 48px;
                    line-height: 1em;
                    color: #ed1e24;
                    vertical-align: middle;
                    display: inline-block;
                    font-weight: normal;
                    speak: none;
                    text-align: center;
                    position: absolute;
                    left: 50%;
                    -webkit-transform: translateX(-50%);
                    -moz-transform: translateX(-50%);
                    -ms-transform: translateX(-50%);
                    transform: translateX(-50%);
                    background: #ffffff;
                }
            }
            .ln {
                content: " ";
                width: 100%;
                height: 1px;
                background: #eee;
                z-index: 1;
                position: absolute;
                left: 0;
                font-size: 0;
            }
        }
    }
}
@media (max-width: 699px) {
    #cookieConsent {
        padding: 15px 20px 30px 20px !important;
        #wrapConsentCTA {
            top: 0;
            left: 0;
        }
    }
}
@media (max-width: @ipad__portrait) {
    .checkout-cart-index {
        .cart.table-wrapper {
            .col.subtotal,.col.qty {
                width: 65%;
                margin-top: 0;
            }
        }
        .cart-container {
            padding: 0 20px;
            .cart-summary-bottom {
                width: auto;
                float: none;
            }
        }
    }
    .page-products {
        .columns {
            padding-top: 0;
            .column.main {
                padding-bottom: 0;
            }
        }
        .page-main .listing-top {
            margin: 0;
            padding: 0;
        }
    }
}
@media (max-width: 640px) {
    .page-products.catalog-category-view .products-grid .product-items > .product-item {
        width: 50%;
    }
}
@media (max-width: @mobile__screen) {
    .cms-home #home-topbox-slider .topbox-image > a, .page-products #home-topbox-slider .topbox-image > a,
    .cms-home #home-topbox-slider .topbox-video > a, .page-products #home-topbox-slider .topbox-video > a {
        margin-top: 23px;
        margin-bottom: 17px;
        span {
            padding-bottom: 4px;
            margin-bottom: 11px;
        }
    }
    .catalog-product-view {
        .product-info-main {
            .block.upsell {
                .product-items > .product-item {
                    width: 50%;
                }
            }
         }
    }
    .catalog-category-view.page-products .category-cms .block.filter {
        margin: 45px 27px 0;
        &.l-mobile .filter-options-item {
            padding: 0;
            margin-right: 20px;
        }
    }
}
@media (max-width: 375px) {
    .cms-home .easycms-block.images-products.images-products-right .image-first .title  {
        font-size: 12px;
        line-height: 10px;
        padding: 10px 20px;
    }
    .cms-home .easycms-block.images-products.images-products-right .image-second .title {
        line-height: 12px;
        padding: 10px 20px;
        bottom: -22px;
    }
    .cms-home .easycms-block.images-products.images-products-left .image-second .title {
        padding: 10px 20px;
        bottom: -26px;
        line-height: 12px;
    }
    .cms-home .easycms-block.images-products .title span {
        padding-top: 0;
    }
    .cms-home .easycms-block.images-products.images-products-left .image-first .title {
        bottom: -32px;
    }
    .catalog-category-view.page-products .category-cms .block.filter.l-mobile .filter-options-item a {
        font-size: 10px !important;
    }
    .catalog-category-view.page-products .category-cms .block.filter.l-mobile .filter-options-item {
        padding: 0;
    }
    .easycms-block.products-slider .products .products-grid, .easycms-block.images-products .products .products-grid {
        margin: 0 !important;
    }
    .cms-home {
        .easycms-block.images-products .block.widget .products-grid {
            margin: 0 20px !important;
            .product-item {
                width: 44% !important;
            }
        }
    }
    .cms-home,.catalog-category-view.cms-only {
        .easycms-block.products-slider .products .products-grid {
            margin: 0 !important;
        }
    }
}
@media (max-width: @mobile__screen__s) {
    .catalog-category-view.page-products {
        .category-cms {
            .product-items > .product-item .product-item-info {
                margin: 0;
            }
            .block.filter.l-mobile {
                .filter-options-item {
                    padding: 0 4px;
                    a {
                        font-size: @font-size_12;
                    }
                }
            }
            .block-products-list {
                margin-bottom: 0;
            }
            .easycms-block {
                &.products-slider {
                    .title {
                        font-size: @font-size_16;
                    }
                }
                &.images-products {
                    .title {
                        font-size: @font-size_12;
                        &::after {
                            height: 2px;
                            bottom: 3px;
                        }
                    }
                    &.images-products-left {
                        margin-top: 58px;
                        .image-second {
                            margin-bottom: 50px;
                            width: 67.5%;
                            margin-left: 87px;
                        }
                        .image-first {
                            margin: 50px 49px 40px 0;
                        }
                    }
                    &.images-products-right {
                        .products {
                            padding: 40px 0;
                        }
                        .image-first {
                            margin: 20px 86px 41px 70px;
                        }
                        .image-second {
                            margin-left: 46px;
                        }
                    }
                }
            }
            .easycms-block.images-products.images-products-left .image-second .title {
                top: auto;
                bottom: -50px;
                left: -60px;
                right: auto;
            }
            .easycms-block.images-products.images-products-left .image-first .title {
                left: auto !important;
                right: -18px !important;
                bottom: -10px !important;
            }
        }
    }
    .page-wrapper .page-footer {
        padding: 50px 20px;
    }
}
