@import 'module/_search_results.less';

& when (@media-common = true) {

    .header .algolia-search-block-mobile {
        height: 70px;
        text-align: left;

        .control {
            position: relative;
        }

        .input-text {
            display: inline-block;
            width: 100%;
            margin: 0;
            padding: 0 0 10px;
            border: 0;
            border-bottom: solid 1px #e1e1e1;
            .lib-font-family(@f-gill);
            font-size: @font-size_16;
            font-weight: @font-weight__light;
            color: @color-black;
            text-transform: uppercase;
            background: transparent;
        }

        .clear-cross {
            display: inline-block;
            position: absolute;
            width: auto;
            height: auto;
            padding: 0;
            top: 40%;
            right: 0;
            .lib-css(transform, translateY(-50%), 1);
            vertical-align: top;
            background: none;
            .lib-css(box-shadow, none, 1);
            z-index: 1;
            cursor: pointer;

            .lib-project-icon(
                @_icon-font-content: @icon-project-close-bolder,
                @_icon-font-size: @font-size_11,
                @_icon-font-color: #cecece
            );
        }

        .magnifying-glass {
            float: left;
            position: absolute;
            top: 50%;
            width: 25%;
            height: auto;
            padding: 0;
            vertical-align: top;
            background: none;
            .lib-css(box-shadow, none, 1);
            .lib-css(transform, translateY(-50%), 1);

            .lib-project-icon(
                @_icon-font-content: @icon-project-search,
                @_icon-font-size: @font-size_24,
                @_icon-font-color: #cecece
            );
        }
    }


    /* Following styles will normaly won't show */

    .page-main #algolia-autocomplete-container .aa-dropdown-menu {
        border: 0;
    }

    #algolia-autocomplete-container .aa-dropdown-menu {
        .col9 {
            width: 100%;
            float: none;
            border: 0;
        }

        .other-sections {
            display: none; /* not displayed */
            margin: 0;

            & > * {
                .algoliasearch-autocomplete-hit,
                .aa-no-results {
                    .lib-font-family(@f-frutiger);
                    color: @color-warm-grey;
                    font-size: @font-size_14;
                }
            }

            .category {
                .lib-font-family(@f-frutiger);
                font-size: @font-size_15;
                line-height: 1.8;
                font-weight: @font-weight__roman;
                color: @color-black;
                text-transform: none;
            }
        }

        .aa-dataset-products {
            .nb-hits {
                width: 100%;
                padding-left: 40px;
                box-sizing: border-box;
                .lib-font-family(@f-frutiger);
                font-weight: @font-weight__light;
                font-size: @font-size_20;
                color: @color-black;
            }

            .algoliasearch-autocomplete-hit .info {
                .lib-font-family(@f-frutiger);
                font-weight: @font-weight__light;
                font-size: @font-size_15;
                color: @color-black-title;

                em {
                    color: @color-louboutin-red;
                }

                .heel-height-or-material {
                    .lib-font-family(@f-frutiger);
                    font-weight: @font-weight__light;
                    font-size: @font-size_13;
                    color: @color-warm-grey;
                }

                .algoliasearch-autocomplete-price {
                    display: none;
                }
            }
        }
    }

    #algolia-autocomplete-container #autocomplete-products-footer {
        width: 100%;
        left: 0;
        font-size: 0;
        background: transparent;

        span {
            display: inline-block;
            background-color: @color-button-grey;
            box-shadow: 0 2px 2px 0 @color-grey;

            a {
                &,
                &:hover,
                &:focus,
                &:visited {
                    display: inline-block;
                    padding: 13px 31px 11px 28px;
                    font-weight: @font-weight__roman;
                    font-size: @font-size_12;
                    text-transform: uppercase;
                    text-decoration: none;
                    color: @color-warm-grey;
                }
            }
        }
    }

    #algolia-autocomplete-container .aa-dropdown-menu.aa-without-products .col9 {
        display: block;
        float: none;
        width: 100%;
        background: @color-white;
    }

    #algolia-autocomplete-container .aa-dropdown-menu .aa-dataset-products .aa-no-results-products {
        padding: 0;
        text-align: center;

        .title {
            font-family: "Times New Roman", serif;
            font-size: @font-size_22;
            color: @color-warm-grey;
            text-transform: uppercase;

            .term {
                margin: 20px 0;
                color: @color-black-title;
            }
        }

        .see-all {
            display: inline-block;
            background-color: @color-button-grey;
            box-shadow: 0 2px 2px 0 @color-grey;

            a {
                &,
                &:hover,
                &:focus,
                &:active,
                &:visited {
                    display: inline-block;
                    padding: 13px 31px 11px 28px;
                    font-weight: normal;
                    font-size: @font-size_12;
                    text-transform: uppercase;
                    text-decoration: none;
                    color: @color-warm-grey;
                }
            }
        }
    }
}


.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .header .algolia-search-block {
        clear: none;
        float: right;
        width: 100%;
        box-sizing: border-box;
        background: #fafafa;
        height: 95px;

        #algolia-searchbox {
            .algolia-search-input {
                display: inline-block;
                width: 100%;
                max-width: none;
                margin: 0;
                padding: 0 0 10px;
                border: 0;
                border-bottom: solid 1px #e1e1e1;
                .lib-font-family(@f-gill);
                font-size: @font-size_12;
                font-weight: @font-weight__medium;
                color: @color-black;
                text-transform: uppercase;
                background: transparent;
            }

            .clear-cross {
                display: inline-block !important; //override a display: none; when we click on the cross
                position: absolute;
                top: 0;
                right: 2px;
                width: auto;
                height: auto;
                padding: 0;
                vertical-align: top;
                background: none;
                .lib-css(box-shadow, none, 1);
                z-index: 1;

                .lib-project-icon(
                    @_icon-font-content: @icon-project-close-bolder,
                    @_icon-font-size: @font-size_12,
                    @_icon-font-color: #cecece
                );
            }
        }
    }

    #algolia-autocomplete-tt {
        display: block;
        width: 100%;
        max-width: 664px;
        margin: 0 auto;
    }
    .header .algolia-search-block #algolia-searchbox .magnifying-glass {
        display: none !important;
    }

    body.autocomplete-update {
        overflow: hidden;

        #algolia-autocomplete-container {
            height: 100vh;
        }
    }
    .page-main #algolia-autocomplete-container .aa-dropdown-menu {
        border-top: 0;
    }
    #algolia-autocomplete-container {
        position: static !important;
    }
    #algolia-autocomplete-container .aa-dropdown-menu {
        position: fixed !important; // override Algolia autocomplete js
        width: 100%;
        border: 0;
        top: 186px !important; // override Algolia autocomplete js
        left: 0 !important; // override Algolia autocomplete js
        bottom: 0;
        padding-top: 20px;
        background: #F9F9F9;
        overflow: auto;

        .other-sections {
            display: none; /* not displayed */
            width: 100%;
            margin: 0;

            & > * {
                padding-top: 20px;
                padding-right: 20px;
                box-sizing: border-box;

                &:empty {
                    display: none;
                }

                .algoliasearch-autocomplete-hit,
                .aa-no-results {
                    padding: 0;
                }
            }

            & > .aa-dataset-0 {
                padding-left: 40px;
            }
        }

        .category {
            padding: 0 0 10px;
        }

        .aa-dataset-products {
            width: 100%;

            .aa-suggestions {
                margin: 50px auto 70px auto;
            }

            .algoliasearch-autocomplete-hit {
                padding: 15px 20px;
                text-align: center;

                .thumb {
                    float: none;

                    img {
                        display: inline-block;
                        width: 100%;
                        max-width: 420px;
                        max-height: 420px;
                        letter-spacing: 1px;
                    }
                }

                .info {
                    margin: 0;
                }
            }

            .aa-suggestion {
                width: 25%;
            }
        }
    }
    #algolia-autocomplete-container #autocomplete-products-footer {
        position: static;
    }

    body.autocomplete-update.menu-minimized {
        #algolia-autocomplete-container {
            .aa-dropdown-menu {
                top: 134px !important; // override Algolia autocomplete js and other selector for scroll down
            }
        }
    }
}