<?php
/**
 * Copyright © Zemez, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magento\Customer\Block\Account\Dashboard\Address $block */
?>
<div class="block block-dashboard-addresses">
    <div class="block-title">
        <strong><?= $block->escapeHtml(__('Address Book')) ?></strong>
        <a class="action edit" href="<?= $block->escapeUrl($block->getAddressBookUrl()) ?>"><span><?= $block->escapeHtml(__('Manage Addresses')) ?></span></a>
    </div>
    <div class="block-content">
        <div class="row">
            <div class="col-xl-6">
                <div class="box box-billing-address">
                    <strong class="box-title">
                        <span><?= $block->escapeHtml(__('Default Billing Address')) ?></span>
                    </strong>
                    <div class="box-content">
                        <address>
                            <?= $block->getPrimaryBillingAddressHtml() ?>
                        </address>
                    </div>
                    <div class="box-actions">
                        <a class="action edit" href="<?= $block->escapeUrl($block->getPrimaryBillingAddressEditUrl()) ?>" title="<?= $block->escapeHtml(__('Edit Address')) ?>" data-ui-id="default-billing-edit-link"><span><?= $block->escapeHtml(__('Edit Address')) ?></span></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="box box-shipping-address">
                    <strong class="box-title">
                        <span><?= $block->escapeHtml(__('Default Shipping Address')) ?></span>
                    </strong>
                    <div class="box-content">
                        <address>
                            <?= $block->getPrimaryShippingAddressHtml() ?>
                        </address>
                    </div>
                    <div class="box-actions">
                        <a class="action edit" href="<?= $block->escapeUrl($block->getPrimaryShippingAddressEditUrl()) ?>" title="<?= $block->escapeHtml(__('Edit Address')) ?>" data-ui-id="default-shipping-edit-link"><span><?= $block->escapeHtml(__('Edit Address')) ?></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
