<?php
// @codingStandardsIgnoreFile

/** @var $block \Magento\Catalog\Block\Product\View */
?>
<?php /** @var $productHelper Project\Core\Helper\Product */ ?>
<?php $productHelper = $this->helper('Project\Core\Helper\Product'); ?>
<?php /* @var $preOrderStockHelper \Project\PreOrder\Helper\Product */ ?>
<?php $preOrderStockHelper = $this->helper('Project\PreOrder\Helper\Product'); ?>
<?php /** @var $attributeSetHelper Project\Core\Helper\AttributeSet */ ?>
<?php $attributeSetHelper = $this->helper('Project\Core\Helper\AttributeSet'); ?>

<?php $_product = $block->getProduct(); ?>
<?php if ($productHelper->isConfigurable($_product)): ?>
    <?php if ($attributeSetHelper->isBelts($_product) || $attributeSetHelper->isBracelets($_product)): ?>
        <?php $buttonTitle = __('Select your size'); ?>
    <?php else: ?>
        <?php $buttonTitle = __('Choose your size'); ?>
    <?php endif; ?>
<?php else: ?>
    <?php $buttonTitle = __('Add to Cart'); ?>
<?php endif; ?>
<?php if (($_product->getTypeId() === \Magento\Catalog\Model\Product\Type::TYPE_SIMPLE && $_product->isSaleable()) ||
    $_product->getTypeId() === \Magento\ConfigurableProduct\Model\Product\Type\Configurable::TYPE_CODE): ?>
    <div class="box-tocart <?= $attributeSetHelper->isPerfumes($_product) ? 'beauty-parfumes-addtocart-preorder' : '' ?>">
        <div class="fieldset">
            <?php if ($block->shouldRenderQuantity()): ?>
                <div class="field qty">
                    <div class="control">
                        <input type="hidden"
                               name="qty"
                               id="qty"
                               value="<?= /* @escapeNotVerified */ $block->getProductDefaultQty() * 1 ?>"
                               title="<?= /* @escapeNotVerified */ __('Qty') ?>"
                               class="input-text qty"
                               data-validate="<?= $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"
                        />
                    </div>
                </div>
            <?php endif; ?>
            <div class="actions">
                <button type="submit"
                        title="<?= /* @escapeNotVerified */ $buttonTitle ?>"
                        class="action primary tocart"
                        id="product-addtocart-button">
                    <span><?= /* @escapeNotVerified */ $buttonTitle ?></span>
                </button>
                <?= $block->getChildHtml('', true) ?>
            </div>
        </div>
    </div>
<?php endif; ?>

<?php if ($preOrderStockHelper->isPreOrderByType($_product) && !$_product->isSaleable() &&
    $_product->getTypeId() === \Magento\Catalog\Model\Product\Type::TYPE_SIMPLE) : ?>
    <div class="box-tocart <?= $attributeSetHelper->isPerfumes($_product) ? 'beauty-parfumes-addtocart-preorder' : '' ?>">
        <div class="preorder-message">
            <?php $availabilityDate = $preOrderStockHelper->getAvailabilityDate($_product)?>
            <?php echo $preOrderStockHelper->getPreorderMessage($availabilityDate); ?>
        </div>
        <div class="fieldset">
            <div class="actions">
                <button type="submit"
                        title="<?= /* @escapeNotVerified */ __('Availability') ?>"
                        class="action primary tocart preorder">
                    <span><?= __('Pre Order') ?></span>
                </button>
            </div>
        </div>
    </div>
<?php endif; ?>

<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/js/validate-product": {}
        }
    }
</script>
