<?php

// @codingStandardsIgnoreFile

/**
 * Product additional attributes template
 *
 * @var $block \Project\Catalog\Block\Magento\Catalog\Product\View\Attributes
 */
?>
<?php
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$_product = $block->getProduct();
?>
<?php if ($_additional = $block->getAdditionalData()): ?>
    <div class="additional-attributes-wrapper table-wrapper">
            <?php foreach ($_additional as $_data): ?>
                <?php if($block->isBeautyProduct()):
                    if(in_array($_data['code'],array("beauty_volume","searchable_sku"))):
                        ?>
                        <p>
                            <?= ($_data['code']=='beauty_volume') ? "Volume" : $block->escapeHtml(__($_data['label']))?> :
                            <?php if ($_data['code']=='heel_height'): ?>
                                <?php echo __('%1 mm', $_helper->productAttribute($_product, round($_product->getHeelHeight(), 0), 'heel_height')); ?>
                            <?php else: ?>
                                <?= /* @escapeNotVerified */ $_helper->productAttribute($_product, $_data['value'], $_data['code']) ?>
                            <?php endif; ?>
                        </p>
                    <?php
                    endif;
                else:
                    ?>
                <?php $_attributes_to_check = ['heel_height', 'dimensions']; ?>
                    <?php if (in_array($_data['code'], $_attributes_to_check) && round($_data['value'], 0) == 0): ?>
                        <?php continue; ?>
                    <?php endif; ?>
                    <p>
                        <?= $block->escapeHtml(__($_data['label'])) ?> :
                        <?php if ($_data['code']=='heel_height'): ?>
                            <?php echo __('%1 mm', $_helper->productAttribute($_product, round($_product->getHeelHeight(), 0), 'heel_height')); ?>
                        <?php else: ?>
                            <?= /* @escapeNotVerified */ $_helper->productAttribute($_product, $_data['value'], $_data['code']) ?>
                        <?php endif; ?>
                    </p>
                <?php endif; ?>
            <?php endforeach; ?>
    </div>
<?php endif;?>
