<?php
// @codingStandardsIgnoreFile
?>
<?php /** @var \Project\Core\Block\Product\Relatedlink $block */ ?>

<?php if($block->isParfumeProduct() && $block->getBeautyDiscoverPage('discover-loubiworld')):?>
<a class="relatedlink" title="<?php echo __('Discover Parfums'); ?>" href="<?php /* @escapeNotVerified */ echo $block->getBeautyPerfumesHref(); ?>">
    <span><?php echo __('Discover Parfums'); ?></span>
</a>
<?php endif; ?>
<?php if($block->isBeautyLipsProduct() && $block->getBeautyDiscoverPage('discover-lips.html')):?>
    <a class="relatedlinklips" title="<?php echo __('Discover Lips'); ?>" href="<?php /* @escapeNotVerified */ echo $block->getBeautyLipsHref(); ?>">
        <span><?php echo __('Discover Lips'); ?></span>
    </a>
<?php endif; ?>
<?php if($block->isBeautyEyesProduct() && $block->getBeautyDiscoverPage('discover-eyes.html')):?>
    <a class="relatedlinkeyes" title="<?php echo __('Discover Eyes'); ?>" href="<?php /* @escapeNotVerified */ echo $block->getBeautyEyesHref(); ?>">
        <span><?php echo __('Discover Eyes'); ?></span>
    </a>
<?php endif; ?>
<?php if($block->isBeautyNailsProduct() && $block->getBeautyDiscoverPage('discover-nails.html')):?>
    <a class="relatedlinknails" title="<?php echo __('Discover Nails'); ?>" href="<?php /* @escapeNotVerified */ echo $block->getBeautyNailsHref(); ?>">
        <span><?php echo __('Discover Nails'); ?></span>
    </a>
<?php endif; ?>
