<?php /* @var $block Project\Core\Block\Product\SizeSuggestions */ ?>

<?php $sizeGuideHtml = $block->getSizeGuideHtml(); ?>
<?php if ($sizeGuideHtml): ?>
    <div class="size-guide" style="display: none">
        <?php echo $sizeGuideHtml; ?>
    </div>

    <script type="text/x-magento-init">
    {
        ".size-guide": {
            "Magento_Ui/js/modal/modal": {
                "trigger": ".size-guide-link",
                "modalClass": "size-guide-modal"
            }
        }
    }
    </script>
<?php endif; ?>

<?php $sizeSuggestionsHtml = $block->getSizeSuggestionsHtml(); ?>
<?php if ($sizeSuggestionsHtml): ?>
    <div class="size-suggestions" style="display: none">
        <div style="overflow:auto">
            <?php echo $sizeSuggestionsHtml; ?>
        </div>
    </div>

    <script type="text/x-magento-init">
    {
        ".size-suggestions": {
            "Magento_Ui/js/modal/modal": {
                "trigger": ".fit-suggestion-link",
                "modalClass": "size-suggestion-modal"
            }
        }
    }
    </script>
<?php endif; ?>

<?php $sizeGuideBeltHtml = $block->getBeltSizeGuideHtml(); ?>
<?php if($sizeGuideBeltHtml): ?>
    <div class="belt-size-guide" style="display: none">
        <?php echo $sizeGuideBeltHtml; ?>
    </div>

    <script type="text/x-magento-init">
        {
        ".belt-size-guide": {
            "Magento_Ui/js/modal/modal": {
                "trigger": ".belt-size-guide-link",
                "modalClass": "belt-size-guide-modal"
            }
        }
    }
    </script>
<?php endif; ?>

<?php $sizeGuideBraceletHtml = $block->getBraceletSizeGuideHtml(); ?>
<?php if($sizeGuideBraceletHtml): ?>
    <div class="bracelet-size-guide" style="display: none">
        <?php echo $sizeGuideBraceletHtml; ?>
    </div>

    <script type="text/x-magento-init">
        {
        ".bracelet-size-guide": {
            "Magento_Ui/js/modal/modal": {
                "trigger": ".bracelet-size-guide-link",
                "modalClass": "bracelet-size-guide-modal"
            }
        }
    }
    </script>
<?php endif; ?>

