<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Wishlist\Block\Item\Configure $block */


$params = json_decode($block->getUpdateParams());
$url = $params->action;
$productId = $params->data->product;
$uenc = $params->data->uenc;
$itemId = $params->data->id;
$qty = $params->data->qty;

?>
<?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow()) : ?>
    <form id="product_updatetowishlist_form" action="<?= /* @noEscape */ $url ?>" method="POST">
        <input type="hidden" name="product" value="<?= $productId ?>">
        <input type="hidden" name="id" value="<?= $itemId ?>">
        <input type="hidden" name="qty" value="<?= $qty ?>">
        <input type="hidden" name="uenc" value="<?= $uenc ?>">
        <input type="hidden" id="wishlist_selected_configurable_option" name="wishlist_selected_configurable_option" value="">
        <a href="#"  id="update-wishlist-button" class="action towishlist updated"><span><?= $block->escapeHtml(__('Update Wish List')) ?></span></a>
    </form>
<?php endif; ?>


<script type="text/x-magento-init">
    {
        "body": {
            "addToWishlist": <?= /* @noEscape */ $this->helper('Magento\Framework\Json\Helper\Data')->jsonEncode($block->getWishlistOptions()) ?>
        }
    }
</script>

<script>
    requirejs(['jquery', 'Magento_Ui/js/modal/alert', 'domReady!'],
        function   ($, alert) {
            $( "#update-wishlist-button" ).click(function() {
                var selected_configurable_option = $('#product_addtocart_form input[name="selected_configurable_option"]').val();
                $('#wishlist_selected_configurable_option').val(selected_configurable_option);
                $( "#product_updatetowishlist_form" ).submit();
            });
        }
    );
</script>