<!-- ko if: isAvailable() -->
    <!-- ko if: displayBothPrices() -->
        <tr class="totals giftwrapping excl">
            <th class="mark">
                <span data-bind="text: $t(title) + ' ' + $t(excludingTaxMessage)"></span>
            </th>
        </tr>
        <tr class="totals giftwrapping incl">
            <th class="mark">
                <span data-bind="text: $t(title) + ' ' + $t(includingTaxMessage)"></span>
            </th>
        </tr>
    <!-- /ko -->
    <!-- ko if: displayPriceInclTax() -->
        <tr class="totals giftwrapping">
            <th class="mark">
                <span data-bind="{i18n: title}"></span>
            </th>
        </tr>
    <!-- /ko -->
    <!-- ko if: displayPriceExclTax() -->
        <tr class="totals giftwrapping">
            <th class="mark">
                <span data-bind="{i18n: title}"></span>
            </th>
        </tr>
    <!-- /ko -->
<!-- /ko -->
