// /**
//  * Copyright © Zemez, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .banner {
        display: block;
        position: relative;
        margin-bottom: @gutter__width;

        img {
            display: block;
            width: 100%;
            height: auto;
        }

        &.hovered {
            &:before {
                display: block;
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: fade(@color-white, 30);
                opacity: 0;
                transition: 0.3s all ease;
            }
            &:hover {
                &:before {
                    opacity: 1;
                }
            }
        }

        h1 {
            p {
                margin-bottom: 10px;
            }

            .font-primary {
                font-size: 97.56%;
                line-height: 1;
                text-transform: none;
            }
        }

        * + h1 {
            margin-top: 5px;
        }

        * + h4 {
            margin-top: 7px;
        }

        * + .action {
            margin-top: 7px;
        }

        * + .heading-4 {
            margin-top: 5px;
        }

        h1 + h3 {
            margin-top: 5px;
        }

        h4 + h3 {
            margin-top: 10px;
        }

        @media (min-width: @screen__xs) {
            * + .action {
                margin-top: 20px;
            }
        }

        @media (max-width: (@screen__s - 1)) {
            h1 {
                font-size: 30px;
            }

            h2 {
                font-size: 24px;
            }

            h3 {
                font-size: 18px;
            }

            h4, .heading-4 {
                font-size: 16px;
            }
        }

        .decoration-top, .decoration-bottom {
            display: block;
            position: absolute;
            width: 95%;
            height: 100%;
            max-width: 400px;
            max-height: 506px;
            background-color: @color-default;
            opacity: 0.5;
            z-index: -1;

            &:before {
                content: '';
                display: block;
                position: absolute;
                width: 0;
                height: 0;
                border-style: solid;
            }

            &:after {
                content: '';
                display: block;
                position: absolute;
                width: 0;
                height: 0;
                border-style: solid;
            }
        }

        .decoration-top {
            top: -20px;
            left: -20px;

            &:before {
                top: 0;
                left: 100%;
                border-width: 30px 0 0 7px;
            }

            &:after {
                top: 100%;
                left: 0;
                border-width: 4px 30px 0 0;
            }

            &.primary {
                background-color: @color-primary;

                &:before {
                    border-color: transparent transparent transparent @color-primary;
                }

                &:after {
                    border-color: @color-primary transparent transparent transparent;
                }
            }

            &.secondary {
                background-color: @color-secondary;

                &:before {
                    border-color: transparent transparent transparent @color-secondary;
                }

                &:after {
                    border-color: @color-secondary transparent transparent transparent;
                }
            }
        }

        .decoration-bottom {
            right: -20px;
            bottom: -20px;

            &:before {
                right: 0;
                bottom: 100%;
                border-width: 0 0 4px 30px;
            }

            &:after {
                right: 100%;
                bottom: 0;
                border-width: 0 7px 30px 0;
            }

            &.primary {
                background-color: @color-primary;

                &:before {
                    border-color: transparent transparent @color-primary transparent;
                }

                &:after {
                    border-color: transparent @color-primary transparent transparent;
                }
            }

            &.secondary {
                background-color: @color-secondary;

                &:before {
                    border-color: transparent transparent @color-secondary transparent;
                }

                &:after {
                    border-color: transparent @color-secondary transparent transparent;
                }
            }
        }

        .row {
            width: 100%;
        }
    }

    .banner-content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: flex-start;
        padding: 15px;
        z-index: 1;

        @media (min-width: @screen__xs) {
            padding: 30px;
        }

        &.top {
            justify-content: flex-start;
        }

        &.left {
            align-items: flex-start;
            padding-left: 9%;
        }

        &.right {
            align-items: flex-end;
            padding-right: 9%;
        }

        &.bottom {
            justify-content: flex-end;
            padding-bottom: 15%;
        }
    }

    a.banner {
        &, &:hover {
            color: inherit;
        }
    }

    .custom-banner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 15px;

        @media (min-width: @screen__xs) {
            padding: 30px;
        }

        &:before {
            content: '';
            position: absolute;
            top: 15px;
            left: 15px;
            right: 15px;
            bottom: 15px;
            border: 1px solid @color-white;
        }

        .action {
            z-index: 1;
        }

        > .row {
            width: 120%;
        }

        * + ul {
            margin-top: 26px;
        }

        li + li {
            margin-top: 19px;
        }
    }

    .content-box {
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;

        p {
            margin-bottom: 0;
            font-size: 16px;
        }
    }

    .offers h3 {
        font-weight: 400;
        text-transform: none;
    }

    .percentage-label {
        display: flex;
        font-size: 70px;
        font-weight: 700;
        line-height: 0.9;
        text-transform: uppercase;

        span {
            display: block;
            font-size: 48%;
            line-height: 1.22;
        }
    }

    .contact-info {
        p + p {
            margin-top: 20px;
        }

        a {
            display: inline-block;
        }
    }
}


//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

}


//
//  Desktop
//  _____________________________________________

& when (@media-target = 'desktop') {
    .banner {
        h1 p {
            margin-bottom: 23px;
        }
    }

    @media (min-width: @screen__l) {
        .banner {
            * + .heading-4 {
                margin-top: 20px;
            }

            h1 + h4 {
                margin-top: 25px;
            }

            div + h4 {
                margin-top: 20px;
            }
        }

        .banner-content {
            &.bottom {
                padding-bottom: 70px;
            }
        }

        .offers > div {
            border-right: 1px solid @color-default;

            &:nth-child(3n+3) {
                border-right: none;
            }
        }

        .content-box {
            padding-top: 43px;
            padding-bottom: 30px;
        }
    }

    @media (min-width: @screen__xl) {
        .banner {
            .decoration-top {
                top: -30px;
                left: -30px;
            }

            .decoration-bottom {
                right: -30px;
                bottom: -30px;
            }

            .action {
                min-width: 194px;
            }

            * + .action {
                margin-top: 30px;
            }

            h4 + h3 {
                margin-top: 32px;
            }
        }

        .custom-banner {
            padding: 7%;
        }

        .percentage-label {
            font-size: 130px;
        }
    }

    @media (min-width: @screen__xxl) {
        .banner {
            * + .action {
                margin-top: 40px;
            }

            h3 + .action {
                margin-top: 26px;
            }
        }

        .percentage-label {
            font-size: 150px;
        }
    }

    @media (max-width: (@screen__xxl - 1)) {
        .banner h1 {
            font-size: 64px;
        }

        .offers h3 {
            font-size: 30px;
        }
    }

    @media (max-width: (@screen__xl - 1)) {
        .banner {
            h1 {
                font-size: 54px;
            }

            h3 {
                font-size: 24px;
            }

            h4, .heading-4 {
                font-size: 20px;
            }
        }
    }

    @media (max-width: (@screen__l - 1)) {
        .banner {
            h1 {
                font-size: 36px;
            }

            h3 {
                font-size: 20px;
            }

            h4, .heading-4 {
                font-size: 18px;
            }
        }
    }
}
