<?php
// @codingStandardsIgnoreFile
/** @var Project\ExchangeOffline\Block\Sales\Adminthml\Order\Create\Totals $block */
?>
<legend class="admin__legend"><span><?= /* @escapeNotVerified */ __('Order Totals') ?></span></legend>
<br>

<table class="admin__table-secondary data-table">
    <tbody>
        <?= /* @escapeNotVerified */ $block->renderTotals() ?>
        <?= /* @escapeNotVerified */ $block->renderTotals('footer') ?>
    </tbody>
</table>

<div class="order-totals-actions">
    <div class="admin__field admin__field-option field-append-comments">
        <input type="checkbox" id="notify_customer" name="order[comment][customer_note_notify]"
               value="1"<?php if ($block->getNoteNotify()): ?> checked="checked"<?php endif; ?>
               class="admin__control-checkbox"/>
        <label for="notify_customer" class="admin__field-label"><?= /* @escapeNotVerified */ __('Append Comments') ?></label>
    </div>
    <?php if ($block->canSendNewOrderConfirmationEmail()): ?>
    <div class="admin__field admin__field-option field-email-order-confirmation">
        <input type="checkbox" id="send_confirmation" name="order[send_confirmation]" value="1" checked="checked"
               class="admin__control-checkbox"/>
        <label for="send_confirmation" class="admin__field-label"><?= /* @escapeNotVerified */ __('Email Order Confirmation') ?></label>
    </div>
    <?php endif; ?>
    <div class="actions">
        <input type="hidden" value="<?php echo $block->getBaseUrl(); ?>" id="baseUrl"/>
        <input type="hidden" value="0" id="billingOk"/>
        <input type="hidden" value="0" id="shippingOk"/>
        <?= $block->getButtonHtml(__('Submit Order'), $block->getOnClick(), 'save primary') ?>
    </div>
</div>

<script>
require(['prototype'], function(){

//<![CDATA[
var sendEmailCheckbox = $('send_confirmation');
if (sendEmailCheckbox) {
    Event.observe(sendEmailCheckbox, 'change', notifyCustomerUpdate);
    notifyCustomerUpdate();
}

function notifyCustomerUpdate() {
    var sendEmailCheckbox = $('send_confirmation');
    var notifyCustomerCheckbox = $('notify_customer');
    if (!sendEmailCheckbox || !notifyCustomerCheckbox)
        return;
    notifyCustomerCheckbox.disabled = !sendEmailCheckbox.checked;
}
//]]>

window.notifyCustomerUpdate = notifyCustomerUpdate;
window.sendEmailCheckbox = sendEmailCheckbox;

});
</script>
