<div data-role="checkout-agreements">
    <div class="checkout-agreements" data-bind="visible: isVisible">
        <!-- ko foreach: agreements -->
            <!-- ko if: ($parent.isAgreementRequired($data)) -->
            <!--<div class="checkout-agreement required addon">-->
            <div class="checkout-agreement required">
                <input type="checkbox" class="required-entry"
                       data-bind="attr: {
                                    'id': $parent.getCheckboxId($parentContext, agreementId),
                                    'name': 'agreement[' + agreementId + ']',
                                    'value': agreementId
                                    }"/>
                <label data-bind="attr: {'for': $parent.getCheckboxId($parentContext, agreementId)}">
                    <span data-bind="html: content"></span>
                </label>
            </div>
            <!-- /ko -->
            <!-- ko ifnot: ($parent.isAgreementRequired($data)) -->
            <div class="checkout-agreement">
                <span data-bind="html: content"></span>
            </div>
            <!-- /ko -->
        <!-- /ko -->
    </div>
</div>
