<?php /** @var \Synolia\Retailer\Block\Frontend\Presentation\Index $block */?>
<?php $data = $block->getCountryContinent(); ?>
<?php /** @var \Synolia\Retailer\Helper\FormatData $helper */?>
<?php $helper = $this->helper('Synolia\Retailer\Helper\FormatData'); ?>

<ul id="retailer-continents-list" class="continent-list" data-mage-init='{"accordion":{"openedState": "active", "collapsible": true, "active": [], "animate": {"duration": "0.5s", "easing": "linear"}}}'>
    <?php foreach ($data as $continent => $countries): ?>
        <li class="continent">
            <?php $imageUrl = 'Synolia_Retailer::images/boutique_sprite_'.$helper->formatUrlKey($continent).'.jpg';?>
            <h2 data-role="collapsible" class="continent-name name" style="background-image: url('<?php echo $this->getViewFileUrl($imageUrl); ?>');"><?php echo $continent ?></h2>

            <div class="content" data-role="content">
                <?php if (count($countries)): ?>
                    <ul class="country-list">
                        <?php foreach ($countries as $countryCode => $country): ?>
                            <li class="country">
                                <h4 class="country-name"><a href="<?php echo $block->getUrl('storelocator/'.$helper->formatUrlKey($continent).'/'. $helper->formatUrlKey($country)); ?>"><?php echo $country ?></a></h4>
                            </li>
                        <?php endforeach; ?>
                    </ul>
                <?php endif; ?>
            </div>
        </li>
    <?php endforeach; ?>
</ul>

