<?php /** @var Synolia\Retailer\Block\Frontend\Presentation\Listing $block*/ ?>
<?php $retailers = $block->getRetailerByCity(); ?>
<?php /** @var \Synolia\Retailer\Helper\FormatData $helper */?>
<?php $helper = $this->helper('Synolia\Retailer\Helper\FormatData'); ?>

<?php if ($retailers): ?>
    <div class="country-area">
        <div class="country-retailers">
            <?php echo $block->getChildHtml('breadcrumbs'); ?>

            <ul>
                <?php foreach($retailers as $city => $cityRetailer): ?>
                <li class="city">
                    <a href="<?= $block->getUrl('storelocator/'.$helper->formatUrlKey($block->getContinent()).'/'. $helper->formatUrlKey($block->getCountryName())) . $helper->formatUrlKey($city); ?>"><?= $city ?></a>
                    <ul>
                        <?php foreach($cityRetailer as $retailer): ?>
                        <li class="retailer">
                            <a href="<?= $block->getUrl('store/'. $helper->formatUrlKey($retailer['url_key'])); ?>">
                                <span class="name"><?= $retailer['name']; ?></span>
                                <?php if ($retailer['street'] && $retailer['display_street']): ?><span class="street"><?= $retailer['street']; ?></span><br /><?php endif; ?>
                                <?php if ($retailer['street_bis'] && $retailer['display_street_bis']): ?><span class="street-bis"><?= $retailer['street_bis']; ?> | </span><?php endif; ?>
                                <?php if ($retailer['zip_code'] && $retailer['display_zip_code']): ?><span class="zip-code"><?= $retailer['zip_code']; ?> | </span><?php endif; ?>
                                <?php if ($retailer['city'] && $retailer['display_city']): ?><span class="city"><?= $retailer['city']; ?> | </span><?php endif; ?>
                                <?php if ($block->getCountryName()): ?><span class="country"><?= ucfirst($block->getCountryName()); ?></span><?php endif; ?>
                            </a>
                        </li>
                        <?php endforeach; ?>
                    </ul>
                </li>
                <?php endforeach; ?>
            </ul>
        </div>

        <?php echo $block->getChildHtml('retailer.listing.image'); ?>
    </div>
<?php endif; ?>