<?php /** @var Project\Retailer\Block\Frontend\Presentation\Retailer $block */ ?>
<?php /** @var Synolia\Retailer\Helper\GeneralConfig $configHelper */ ?>
<?php $configHelper = $this->helper('Synolia\Retailer\Helper\GeneralConfig'); ?>
<?php /** @var Synolia\Retailer\Model\Retailer $retailer */ ?>
<?php $retailer = $block->getRetailer(); ?>
<?php /** @var Project\Addthis\Helper\Data $addThisHelper */ ?>
<?php $addThisHelper = $this->helper('Project\Addthis\Helper\Data'); ?>
<?php /** @var \Synolia\Retailer\Helper\FormatData $helper */?>
<?php $helper = $this->helper('Synolia\Retailer\Helper\FormatData'); ?>
<?php if (!empty($retailer->getData())): ?>
    <div class="retailer-locator">
        <div class="result-container">
            <div class="map">
                <div class="retailer-panel">
                    <h1 class="title"><?= $retailer->getName(); ?></h1>

                    <?php if ($configHelper->isAddressDisplay()): ?>
                        <div class="details">
                            <?php if ($retailer->getStreet() && $retailer->getDisplayStreet()): ?><?= $retailer->getStreet(); ?> | <?php endif; ?>
                            <?php if ($retailer->getStreetBis()  && $retailer->getDisplayStreetBis()): ?><?= $retailer->getStreetBis(); ?> | <?php endif; ?>
                            <?php if ($retailer->getZipCode() && $retailer->getDisplayZipCode()): ?><?= $retailer->getZipCode(); ?> | <?php endif; ?>
                            <?php if ($retailer->getCity() && $retailer->getDisplayCity()): ?><?= $retailer->getCity(); ?> | <?php endif; ?>
                            <?php if ($block->getCountryName()): ?><?= $block->getCountryName(); ?><?php endif; ?>
                        </div>
                    <?php endif; ?>

                    <div class="image">
                        <img src="<?= $retailer->getImage(); ?>" />
                    </div>

                    <?php $schedules = $retailer->getScheduleData(); ?>

                    <div class="schedules-and-contact">
                        <?php if ($schedules && $retailer->getDisplaySchedule()): ?>
                            <div class="schedules-table">
                                <div class="subtitle"><?php echo __('Opening Hours'); ?></div>

                                <?php foreach ($schedules as $schedule): ?>
                                    <ul class="day-schedule">
                                            <li class="schedule">
                                                <span class="day-of-the-week"><?php echo $schedule['day']; ?></span>
                                                <span class="start-time"><?php echo $schedule['start_time']; ?></span>
                                                <?php if (!empty($schedule['end_time'])): ?>
                                                    <span class="separator"> - </span>
                                                    <span class="end-time"><?php echo $schedule['end_time']; ?></span>
                                                <?php endif; ?>
                                            </li>
                                    </ul>
                                <?php endforeach; ?>
                            </div>
                        <?php endif; ?>


                        <div class="contact">
                            <div class="subtitle"><?= __('Share'); ?></div>
                            <!-- Go to www.addthis.com/dashboard to customize your tools -->
                            <script type="text/javascript" src="<?= $addThisHelper->getAddThisUrl(); ?>"></script>
                            <!-- Go to www.addthis.com/dashboard to customize your tools -->
                            <div class="addthis_inline_share_toolbox_wlwv" style="margin-bottom: 30px"></div>
                            <?php if ($configHelper->isContactInfoDisplay()): ?>
                                <div class="subtitle" data-bind="i18n: 'Contact us'"></div>
                                <?php if ($retailer->getPhoneNumber() && $retailer->getDisplayPhone()): ?>
                                    <a class="action call" href="tel: <?= $retailer->getPhoneNumber(); ?>"><span><?= $retailer->getPhoneNumber(); ?></span></a><br />
                                <?php endif; ?>
                                <?php if ($retailer->getEmail() && $retailer->getDisplayEmail()): ?>
                                    <a class="action mail" href="mailto: <?= $retailer->getEmail() . '?subject=Store%20Locator%20-%20' . $retailer->getName(); ?>"><span><?= __('Email the store'); ?></span></a>
                                <?php endif; ?>
                            <?php endif; ?>
                        </div>
                    </div>

                    <div class="additional-info"><?= $retailer->getInformation(); ?></div>

                </div>
            </div>
        </div>
        <div class="how-go-there">
            <div class="store-map-canvas">
                <iframe
                        width="100%"
                        height="300"
                        frameborder="0"
                        scrolling="no"
                        marginheight="0"
                        marginwidth="0"
                        src="<?= "https://maps.google.com/maps?q=".$retailer->getLatitude().",".$retailer->getLongitude()."9&hl=".$block->getLanguage()."&z=14&amp;output=embed"?>"
                ></iframe>
            </div>
        </div>
        <div class="stores-nearby">
            <div class="subtitle"><?= __('Other stores in %1', $retailer->getCity()); ?></div>
            <ul>
                <?php foreach ($block->getOtherRetailers() as $otherRetailer): ?>
                    <li><a href="<?= $block->getUrl('store/'. $helper->formatUrlKey($otherRetailer['url_key'])); ?>"><?= $otherRetailer['name'] ?></a></li>
                <?php endforeach; ?>
            </ul>
        </div>
    </div>
<?php endif; ?>

<script>
    requirejs(['jquery' ],
        function ($) {
            $(document).on('click', '.action.call', function() {
                window.dataLayer.push({
                    'event': 'gtm.ext.event',
                    'eventTmp': 'storeLocatorClickPhone',
                    'eventCategory': 'storeLocatorClickPhone',
                    'eventAction': $('.retailer-panel > .title').text(),
                    'eventLabel': window.location.href
                });
            });

            $(document).on('click', '.action.mail', function() {
                window.dataLayer.push({
                    'event': 'gtm.ext.event',
                    'eventTmp': 'storeLocatorClickEmail',
                    'eventCategory': 'storeLocatorClickEmail',
                    'eventAction': $('.retailer-panel > .title').text(),
                    'eventLabel': window.location.href
                });
            });
        });
</script>