// /**
//  * Copyright © Zemez, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//  Footer variables
@footer__background-color: @color-lightest;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .page-footer {
        margin-top: auto;

        h4 {
            margin-bottom: 16px;
            font-size: 14px;
        }

        li + li {
            margin-top: 10px;
        }
    }

    .footer {
        &.content {
            padding-top: 30px;
            padding-bottom: 30px;
            margin-top: 40px;
            .lib-css(background-color, @footer__background-color);
        }

        .copyright,
        .bugs {
            display: block;
        }

        .copyright {
            font-size: inherit;
            margin-right: 30px;
        }
    }

    .footer-panel {
        color: @color-light;
        margin-top: 5px;

        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;

            > * {
                margin-top: 10px;
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .footer-col {
        margin-bottom: 10px;

        h4 {
            .font-icon(@themeicon-chevron-down);
            position: relative;
            padding-right: 26px;
            margin-top: 5px;
            margin-bottom: 10px;
            cursor: pointer;

            &:before {
                position: absolute;
                top: 50%;
                right: 0;
                height: 26px;
                margin-top: -13px;
                font-size: 14px;
                line-height: 26px;
            }

            &.active:before {
                content: @themeicon-chevron-up;
            }
        }
    }

    .footer-col-content {
        display: none;
    }
}

//
//  Desktop
//  _____________________________________________

& when (@media-target = 'desktop') {
    .footer.content {
        padding-top: 10px;
    }

    .footer-col {
        margin-top: 30px;
    }

    .footer-panel {
        margin-top: 20px;
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .page-footer {
        h4 {
            font-size: 18px;
        }

        li + li {
            margin-top: 15px;
        }
    }

    .footer.content {
        padding-top: 60px;
        padding-bottom: 45px;
        margin-top: 87px;
    }

    .footer-panel {
        margin-top: 40px;
    }
}
