// /**
//  * Copyright © Zemez, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//  Header variables
@header__background-color: false;
@header-icons-color: @color-gray56;
@header-icons-color-hover: @color-gray20;

@header-mobile-nav-height: 52px;
@header-mobile-nav-icons-size: 22px;
@header-mobile-nav-background: @color-primary;
@header-mobile-nav-color: @color-white;
@header-mobile-nav-box-shadow: 2px 5px 4px rgba(0, 0, 0, 0.15);

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .page-header {
        position: relative;
        .lib-css(background-color, @header__background-color);
    }

    .header {
        &.panel, &.content {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
        }

        &.content {
            padding-top: 12px;
            padding-bottom: 12px;
        }
    }

    .logo {
        &, img {
            display: block;
        }
    }

    .switcher {
        .label {
            display: none;
        }

        .toggle {
            transition: 0.3s all ease;

            &:hover, &.active {
                color: @color-primary;
            }
        }

        strong {
            font-weight: inherit;
            vertical-align: middle;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .page-header {
        padding-top: @header-mobile-nav-height;

        &:before {
            content: '';
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            height: @header-mobile-nav-height;
            z-index: 15;
            background-color: @header-mobile-nav-background;
            box-shadow: @header-mobile-nav-box-shadow;
        }

        .welcome, .switcher {
            display: none;
        }
    }

    .header.content {
        justify-content: center;
    }

    //
    //  Customer Links
    //  ---------------------------------------------
    .customer-toggle {
        .toggle-icons-via-rotation(@_size: @header-mobile-nav-height, @_font-size: @header-mobile-nav-icons-size, @_icon-before: @themeicon-user);
        display: block;
        position: fixed;
        top: 0;
        right: @header-mobile-nav-height + 10px;
        z-index: 16;
        color: @header-mobile-nav-color;
    }
    .customer-links {
        display: none;

        .ui-dialog & {
            display: block;
        }

        a {
            display: block;
        }

        > div, > div.compare a, ul.links > li {
            padding: 8px 12px;
            border-bottom: 1px solid @border-color__base;
        }

        > div.compare, .customer-account {
            padding: 0;
            border-bottom: none;
        }

        .welcome {
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }

    div.customer-links {
        .welcome, .switcher {
            display: block;
        }
    }

    .customer-wrap {
        &:before {
            content: '';
            display: block;
            position: fixed;
            top: @header-mobile-nav-height;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: @modal-overlay__background-color;
            font-size: 0;
            visibility: hidden;
            opacity: 0;
            z-index: 16;
            transition: 0.3s all ease;
        }

        .ui-dialog {
            display: block !important;
            position: fixed;
            top: @header-mobile-nav-height;
            right: 0;
            bottom: 0;
            width: 300px;
            z-index: 17;
            overflow-y: auto;
            transform: translateX(110%);
            background-color: @color-white;
            box-shadow: @header-mobile-nav-box-shadow;
            transition: 0.3s transform ease;
        }

        &.active {
            &:before {
                visibility: visible;
                opacity: 1;
            }

            .ui-dialog {
                transform: none;
            }
        }

        .action.close {
            display: none;
        }
    }

    .switcher .options {
        .action.toggle {
            cursor: pointer;
            text-align: left;

            &:after {
                display: inline-block;
                content: @dropdown-toggle-icon__content;
                font-family: @dropdown-toggle-icon__font;
                font-size: @dropdown-toggle-icon__font-size;
                line-height: @dropdown-toggle-icon__font-line-height;
                font-weight: normal;
                vertical-align: @dropdown-toggle-icon__font-vertical-align;
            }

            &.active:after {
                content: @dropdown-toggle-icon__active__content;
            }
        }

        .dropdown {
            display: none;
            padding-top: 5px;
            padding-left: 10px;
            font-size: 90%;

            a {
                display: inline-block;
                padding-top: 2px;
                padding-bottom: 2px;
            }
        }

        &.active .dropdown {
            display: block;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .header {
        &.panel {
            justify-content: space-between;
            padding-top: 12px;
            padding-bottom: 11px;
        }

        &.content {
            padding-top: 18px;
            padding-bottom: 10px;
            min-height: 97px;
        }

        .panel-left, .panel-right {
            display: flex;
            flex-wrap: wrap;
            flex-basis: 35%;
            max-width: 35%;
        }

        .panel-right {
            justify-content: flex-end;

            > div {
                margin-left: 20px;
            }
        }

        .block-search {
            flex-basis: 100%;
            max-width: 350px;
        }
    }

    .page-header {
        .panel.wrapper {
            background-color: @color-lightest;
        }
    }

    .nav-sections {
        .lib-css(background, @navigation__background);

        nav {
            .container-box;
        }
    }

    .welcome {

    }

    .customer-wrap {
        .customer-toggle, .welcome, .switcher {
            display: none;
        }
    }

    .customer-links, .header.links {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    .customer-links {
        margin-left: -25px;

        > div {
            &, &.compare a {
                margin-left: 25px;
            }

            &.compare, &.customer-account {
                margin-left: 0;
            }
        }
    }

    .header.links > li {
        margin-left: 15px;
    }

    .switcher {
        margin-right: 25px;

        .options {
            .lib-dropdown(
                @_dropdown-list-pointer-position: left,
                @_dropdown-list-position-left: -15px
            );
        }
    }
}
