<div class="legal-conditions">
    <p>
        Vos données sont collectées par Christian Louboutin Suisse SA aux seules fins de vous fournir un
        service de qualité tel qu’attendu dans le cadre de lacréation d’un compte sur notre site.
        Vous pouvez à tout moment exercer vos droits et retirer votre consentement en envoyant
        un e-mail à : <a href="mailto:privacy.europe@christianlouboutin.com">privacy.europe@christianlouboutin.com</a>.
        Veuillez consulter notre <a href="{{store url=''}}policy">Politique de Confidentialité</a> pour plus d'informations.
    </p>
</div>
