<div class="bracelet-size-guide-men">
    <table>
        <thead>
        <tr>
            <th colspan="5">Homme</th>
        </tr>
        </thead>
        <tbody>
        <tr class="type">
            <td colspan="5">Bracelets</td>
        </tr>
        <tr class="bracelet-size">
            <td></td>
            <td>FERMÉ (CM)</td>
            <td>OUVERT (CM)</td>
            <td>FERMÉ (INCH)</td>
            <td>OUVERT (INCH)</td>
        </tr>
        <tr>
            <td>Taille S</td>
            <td>14 cm</td>
            <td>34.5 cm</td>
            <td>6"</td>
            <td>13.5"</td>
        </tr>
        <tr>
            <td>Taille M</td>
            <td>16 cm</td>
            <td>38.5 cm</td>
            <td>6.5"</td>
            <td>15.5"</td>
        </tr>
        <tr>
            <td>Taille L</td>
            <td>18 cm</td>
            <td>40.5 cm</td>
            <td>7"</td>
            <td>16"</td>
        </tr>
        </tbody>
    </table>
</div>
