<p style="color: #000000; font-size: 13px; margin-bottom: 40px;">A la recherche du modèle parfait ? Une question à propos d'une boutique ? Besoin d'un conseil de style personnalisé ? Notre équipe de Service Clients est à votre disposition.</p>
<p style="color: #000000; font-size: 15px;"><strong>Nous sommes disponibles</strong></p>
<p style="color: #000000; font-size: 13px;">Lundi au samedi de 9.00 à 19.00 (GMT+1).</p>
<p style="font-size: 13px;">Vous pouvez également nous contacter par téléphone au: {{config path="general/store_information/phone2"}}</p>
