<p style="font-size: 13px; color: #000000; margin-bottom: 40px;">Nos conseillers sont prêts à vous assister pour toutes questions relatives à la boutique en ligne : passer une commande, conseil de pointure ou de style, livraison, politique de retour.</p>
<p style="color: #000000; font-size: 15px;"><strong>Nous sommes disponibles</strong></p>
<p style="font-size: 13px; color: #000000;">Lundi au samedi de 9.00 à 19.00 (GMT+1).</p>
<p style="font-size: 13px;">Vous pouvez également nous contacter par téléphone au: {{config path="general/store_information/phone"}}</p>
