<table width="100%" heigth="30" border="0" cellpadding="0" align="center" cellspacing="0" id="navigation"
       style="font-size: 1.25em; font-family: EB Garamond; font-weight: 400; margin: 0 1% 0 1%;">
    <tr>
        <td valign="top" align="center" height="30" style="border-collapse: collapse;">
            <a href="{{store url=''}}women.html" style="color: #000000; text-decoration: none;"> FEMME </a>
        </td>
        <td valign="top" align="center" height="30">
            <a href="{{store url=''}}men.html" style="color: #000000; text-decoration: none;"> HOMME </a>
        </td>
        <td valign="top" align="center" height="30">
            <a href="{{store url=''}}beauty.html" style="color: #000000; text-decoration: none;"> BEAUTÉ </a>
        </td>
        <td valign="top" align="center" height="30">
            <a href="{{store url=''}}storelocator" style="color: #000000; text-decoration: none;"> BOUTIQUES </a>
        </td>
    </tr>
</table>