<p class="form-info">
    Découvrez en exclusivité les nouvelles collections et dernières tendances en vous inscrivant à notre Newsletter.<br/>
    Vous pourrez vous désinscrire simplement en cliquant sur le lien prévu à cet effet dans les newsletters que vous recevrez.<br/>
    Vos données sont collectées par Christian Louboutin Suisse SA aux seules fins de vous tenir informé(e) de notre actualité ou
    des évènements Christian Louboutin.<br>Elles pourront dans ce cadre être transmises à d’autres sociétés du Groupe Christian
    Louboutin et à nos prestataires de services.<br>Vous pouvez exercer vos droits en vous adressant à <a href="mailto:privacy.europe@ch.christianlouboutin.com">
    privacy.europe@ch.christianlouboutin.com</a> tels que prévus
    dans notre <a href="{{store direct_url='policy'}}" target="_blank">Politique de Confidentialité</a>.
</p>