<div><br>Découvrez en exclusivité les nouvelles collections et dernières tendances en vous inscrivant à notre Newsletter.
<br>Vous pourrez vous désinscrire simplement en cliquant sur le lien prévu à cet effet dans les newsletters que vous recevrez.
<br>Vos données sont collectées par Christian Louboutin Suisse SA aux seules fins de vous tenir informé(e) de notre actualité ou des évènements Christian Louboutin.
<br>Pour cette même finalité, vos coordonnées pourront être transmises à d’autres sociétés de la maison Christian Louboutin et à nos prestataires de services.
<br>Conformément à la réglementation applicable en matière de protection des données personnelles, vous bénéficiez d'un droit d'accès, de rectification et de suppression des
<br>informations vous concernant, que vous pouvez exercer en vous adressant à <a href="mailto:privacy.europe@ch.christianlouboutin.com">privacy.europe@ch.christianlouboutin.com</a>. Vous pouvez consulter notre Politique de Confidentialité pour plus d'informations.</div>