<div class="discover-pages discover-fragrance">
    <div class="main-title"><span>Discover</span>
        <h1>Parfums</h1>
    </div>
    <div class="easycms-block topbox-video">
        <div class="video-container">{{widget type="Project\Core\Block\Widget\Video" video_url="https://player.vimeo.com/external/231566363.hd.mp4?s=154e3f7080d7a48acbfc57aca51f0bde2edfe491&amp;profile_id=175" video_placeholder_text="Defaut video label"}}<img src="{{media url='cms/page/discover-fragrance/bikini_questa_sera_1200x800.jpg'}}" alt="" />
            <div class="play-button"><span>Watch the video</span></div>
            <div class="mute-button"></div>
        </div>
        <p class="easycms-line-break"> </p>
    </div>
    <div class="fragrance-introduction scroll-notvisible">
        <p>A woman is not exactly just one person. Who is she ? She can be a different woman at different times. She can be a lover in one moment and a litte girl in the next. She is working. She is enjoying life.. Is she going on a date? Does she want to highlight herself? Does she want to have an impact on someone or does she want to forget herself ? Does she want to be more feminine ? Who is she?</p>
    </div>
    <div class="title-orange scroll-notvisible"><span>BIKINI QUESTA SERA</span></div>
    <div class="image-left-text-right scroll-notvisible"><figure><img src="{{media url='cms/page/discover-fragrance/bikini_questa_sera_1200x800.jpg'}}" alt="" /><figcaption>Behind the scene of the film Bikini Questa Sera</figcaption></figure>
        <div class="text">
            <p>Bikini Questa Sera is a sumptuous parfum that evokes the heat of the day on the skin and that golden hour as the sun slips behind the horizon and the cool of the night awakens.</p>
        </div>
    </div>
    <div class="product-image-link scroll-notvisible"><img src="{{media url='cms/page/discover-fragrance/BIKINI_QUESTA_SERA_30ML_BOX_DISCOVER.jpg'}}" /> <a href="{{store url=''}}bikini-questa-sera.html">Discover More</a></div>
    <div class="title-orange scroll-notvisible"><span>TORNADE BLONDE</span></div>
    <div class="image-left-text-right reverse scroll-notvisible"><figure><img src="{{media url='cms/page/discover-fragrance/tornade_blonde_800x1200.jpg'}}" alt="" /><figcaption>Behind the scene of the film Tornade Blonde</figcaption></figure>
        <div class="text">
            <p>Tornade Blonde is irresistible, irrepressible. With its addictive Bulgarian rose at heart, it is enchantingly feminine, adventurous and full of passion.</p>
        </div>
    </div>
    <div class="product-image-link reverse scroll-notvisible"><img src="{{media url='cms/page/discover-fragrance/TORNADE_BLONDE_30ML_BOX_DISCOVER.jpg'}}" /> <a href="{{store url=''}}tornade-blonde.html">Discover More</a></div>
    <div class="title-mauve scroll-notvisible"><span>TROUBLE IN HEAVEN</span></div>
    <div class="image-left-text-right scroll-notvisible"><figure><img src="{{media url='cms/page/discover-fragrance/trouble_in_heaven_1200x800.jpg'}}" alt="" /><figcaption>Behind the scene of the film Trouble In Heaven</figcaption></figure>
        <div class="text">
            <p>Trouble in Heaven lights the fire with its intoxicating amber resonating with notes of patchouli, tonka absolut and iris. Powerful. Compelling. Seductive.</p>
        </div>
    </div>
    <div class="product-image-link mauve scroll-notvisible"><img src="{{media url='cms/page/discover-fragrance/TROUBLE_IN_HEAVEN_30ML_BOX_DISCOVER.jpg'}}" /> <a href="{{store url=''}}trouble-in-heaven.html">Discover More</a></div>
    <div class="quote scroll-notvisible">
        <div class="desktop">
            <p>There is something very exciting about the way perfume is there one moment and then it leaves a trace. You see a woman walking towards you, she is there alongside you, just a moment, you look across, and then she walks by you and you are left with just the red flash of her soles and the trace of her parfum.</p>
            <span class="signature">Christian Louboutin</span></div>
        <div class="mobile">
            <p>Christian Louboutin fragrances has its own unique personality, what unites them is Christian’s idea behind their construction.</p>
        </div>
    </div>
</div>