<div class="discover-pages discover-beauty">
    <div class="easycms-block topbox-video">
        <div class="video-container">{{widget type="Project\Core\Block\Widget\Video" video_url="https://player.vimeo.com/external/233968824.hd.mp4?s=9d3d534a3e2aaabbcb729a122a4c3f34259c2861&profile_id=175" video_placeholder_text="Defaut video label"}} <img src="{{media url='cms/page/trouble-in-heaven/trouble_in_heaven_1200x800.jpg'}}" alt="" />
            <div class="play-button"><span>Watch the video</span></div>
            <div class="mute-button"></div>
        </div>
        <p class="easycms-line-break"> </p>
    </div>
    <div class="title-mauve scroll-notvisible"><span>TROUBLE IN HEAVEN</span></div>
    <div class="fragrance-introduction scroll-notvisible">
        <p>Powerful. Compelling. Seductive. It is both mysterious and overt as intoxicating amber resonates with notes of patchouli, tonka absolut and iris to create <i>liaisons dangereuses</i>. Warm and sexy, impactful, Trouble in Heaven lights the fire.</p>
    </div>
    <div class="product-image-link mauve with-text scroll-notvisible">
        <div class="image"><img src="{{media url='cms/page/trouble-in-heaven/TROUBLE_IN_HEAVEN_30ML_BOX_DISCOVER.jpg'}}" /></div>
        <div class="text">
            <div class="title">Parfum</div>
            <p>The parfum is designed to be experienced in the same way as a piano note being played. First, The "ping": a burst of the scent like the striking of the piano key, followed by a beautiful resonance as the note echoes its sound.</p>
            <div class="price">$ 135.00</div>
            <a href="{{store url=''}}">SHOP TROUBLE IN HEAVEN</a></div>
    </div>
    <div class="product-image-link mauve with-text reverse scroll-notvisible">
        <div class="image"><img class="half-width" src="{{media url='cms/page/trouble-in-heaven/product-large3-2.jpg'}}" /></div>
        <div class="text">
            <div class="title">Perfume Oil</div>
            <p>Perfume oil is a new and highly luxurious way to experience Trouble In Heaven. It caresses the skin, being the most indulgent and sensuous way for a woman to apply fragrance and to delight in her femininity. Intended to be massaged into the skin, it invites the sensual pleasure of touch.</p>
            <div class="price">$ 320.00</div>
            <a href="{{store url=''}}">SHOP TROUBLE IN HEAVEN</a></div>
    </div>
    <div class="highlighted-link scroll-notvisible"><a href="{{store url=''}}discover-fragrance.html">Discover parfums</a></div>
    <div class="louboutin-separator">
        <div class="image"><img src="{{media url='cms/page/bikini-questa-sera/red-sole.svg'}}" /></div>
    </div>
    <div class="discover-navigation scroll-notvisible">
        <div class="left">
            <div class="image"><a href="{{store url=''}}tornade-blonde.html"><img src="{{media url='cms/page/trouble-in-heaven/product-large1.jpg'}}" /></a></div>
            <div class="highlighted-link red"><a href="{{store url=''}}tornade-blonde.html">Tornade Blonde</a></div>
        </div>
        <div class="right">
            <div class="highlighted-link orange"><a href="{{store url=''}}bikini-questa-sera.html">Bikini Questa Sera</a></div>
            <div class="image"><a href="{{store url=''}}bikini-questa-sera.html"><img src="{{media url='cms/page/trouble-in-heaven/product-large2.jpg'}}" /></a></div>
        </div>
    </div>
</div>