<section class="top-part">
    <div class="easycms-block topbox-video">
        <div class="video-container">{{widget type="Project\Core\Block\Widget\Video" video_url="https://player.vimeo.com/external/475783862.sd.mp4?s=31fba31178eaed377f4863edec39438a401b7cec&profile_id=165" video_placeholder_text=""}} <img src="{{view url='giftGuid/IDEAS-FOR-HIM-gift-guide.jpg'}}" alt="">
            <div class="play-button">Watch the video</div>
            <div class="mute-button">&nbsp;</div>
        </div>
    </div>
    <div class="image-title">
        <div><img src="{{media url='giftGuid/THE_HOLIDAY_COUNTDOWN.jpg'}}" alt=""></div>
    </div>
    <nav class="top-links">
        <ul>
            <li><a href="#for-her">Ideas for her</a></li>
            <li><a href="#for-him">Ideas for him</a></li>
            <li><a href="#stocking-fillers">Stocking fillers</a></li>
            <li><a href="#leather-goods">Leather goods</a></li>
            <li><a href="#beauty">Beauty</a></li>
            <li><a href="#evening-her">Evening for her</a></li>
            <li><a href="#evening-him">Evening for him</a></li>
        </ul>
    </nav>
    <div class="under-links section-category">
        <div class="main-desc">
            <p>
                Whether you’re looking to gift outside of the box or on the hunt for a timeless classic, there’s something for everyone in our gift guide.
            </p>
        </div>
        <div class="products">{{widget type="Synolia\Slider\Block\Widget\Slider" code="gift-guid-main-products-slider" template="Synolia_Slider::widget/sliderProducts.phtml"}}</div>
    </div>
</section>
