<div class="content-sections">
    <section id="for-her" class="section-category for-her">
        <div class="image-title">
            <div><img src="{{media url='giftGuid/IDEAS_FOR_HER.gif'}}" alt=""></div>
        </div>
        <div class="image-big">
            <div><img src="{{media url='giftGuid/IDEAS-FOR-HER-gift-guide.jpg'}}" alt=""></div>
        </div>
        <div class="section-text">
            <p class="scroll-view show">She’s been leaving hints...</p>
        </div>
        <div class="easycms-block title-subtitle-slider">
            <div class="products">{{widget type="Synolia\Slider\Block\Widget\Slider" code="gift-guid-for-her-products-slider" template="Synolia_Slider::widget/sliderProducts.phtml"}}</div>
        </div>
        <div class="link-center">
            <p><a href="{{store url=''}}">SHE'S WORTH IT</a></p>
        </div>
    </section>
    <section id="for-him" class="section-category for-him">
        <div class="image-title">
            <div><img src="{{media url='giftGuid/IDEAS_FOR_HIM.gif'}}" alt=""></div>
        </div>
        <div class="image-big">
            <div><img src="{{media url='giftGuid/IDEAS-FOR-HIM-gift-guide.jpg'}}" alt=""></div>
        </div>
        <div class="section-text">
            <p class="scroll-view show">He's been good all year.</p>
        </div>
        <div class="easycms-block title-subtitle-slider">
            <div class="products">{{widget type="Synolia\Slider\Block\Widget\Slider" code="gift-guid-for-him-products-slider" template="Synolia_Slider::widget/sliderProducts.phtml"}}</div>
        </div>
        <div class="link-center">
            <p><a href="{{store url=''}}">THE BEST FOR HIM</a></p>
        </div>
    </section>
    <section id="stocking-fillers" class="section-category stocking-fillers">
        <div class="image-title">
            <div><img src="{{media url='giftGuid/STOCKING_FILLERS.gif'}}" alt=""></div>
        </div>
        <div class="image-big">
            <div><img src="{{media url='giftGuid/STOCKING-FILLERS-gift-guide.jpg'}}" alt=""></div>
        </div>
        <div class="section-text">
            <p class="scroll-view show">Turn to these small wonders to keep them smiling for longer.</p>
        </div>
        <div class="easycms-block title-subtitle-slider">
            <div class="products">{{widget type="Synolia\Slider\Block\Widget\Slider" code="gift-guid-stocking-fillers-products-slider" template="Synolia_Slider::widget/sliderProducts.phtml"}}</div>
        </div>
        <div class="link-center">
            <p><a href="{{store url=''}}">LITTLE EXTRAS</a></p>
        </div>
    </section>
    <section id="leather-goods" class="section-category leather-goods">
        <div class="image-title">
            <div><img src="{{media url='giftGuid/LEATHER_GOODS.gif'}}" alt=""></div>
        </div>
        <div class="image-big">
            <div><img src="{{media url='giftGuid/LEATHER-GOODS-giftguide.jpg'}}" alt=""></div>
        </div>
        <div class="section-text">
            <p class="scroll-view show">More styles than you can handle.</p>
        </div>
        <div class="easycms-block title-subtitle-slider">
            <div class="products">{{widget type="Synolia\Slider\Block\Widget\Slider" code="gift-guid-leather-goods-products-slider" template="Synolia_Slider::widget/sliderProducts.phtml"}}</div>
        </div>
        <div class="link-center">
            <p><a href="{{store url=''}}">GET CARRIED AWAY</a></p>
        </div>
    </section>
    <section id="beauty" class="section-category beauty">
        <div class="image-title">
            <div><img src="{{media url='giftGuid/BEAUTY.gif'}}" alt=""></div>
        </div>
        <div class="image-big">
            <div><img src="{{media url='giftGuid/EN/BEAUTY-gift-guide.jpg'}}" alt=""></div>
        </div>
        <div class="section-text">
            <p class="scroll-view show">Give the gift of colour</p>
        </div>
        <div class="easycms-block title-subtitle-slider">
            <div class="products">{{widget type="Synolia\Slider\Block\Widget\Slider" code="gift-guid-beauty-products-slider" template="Synolia_Slider::widget/sliderProducts.phtml"}}</div>
        </div>
        <div class="link-center">
            <p><a href="{{store url=''}}">BEST OF BEAUTÉ</a></p>
        </div>
    </section>
    <section id="evening-her" class="section-category evening-for-her">
        <div class="image-title">
            <div><img src="{{media url='images/giftGuid/titles/EN/EVENING_FOR_HER.gif'}}" alt=""></div>
        </div>
        <div class="image-big">
            <div><img src="{{media url='images/giftGuid/EVENING-gift-guide.jpg'}}" alt=""></div>
        </div>
        <div class="section-text">
            <p class="scroll-view show">It's your time to glow! </p>
        </div>
        <div class="easycms-block title-subtitle-slider">
            <div class="products">{{widget type="Synolia\Slider\Block\Widget\Slider" code="gift-guid-evening-her-products-slider" template="Synolia_Slider::widget/sliderProducts.phtml"}}</div>
        </div>
        <div class="link-center">
            <p><a href="{{store url=''}}">LUMINOUS LOOKS</a></p>
        </div>
    </section>
    <section id="evening-him" class="section-category evening-for-him">
        <div class="image-title">
            <div><img src="{{media url='giftGuid/EVENING_FOR_HIM.gif'}}" alt=""></div>
        </div>
        <div class="image-big">
            <div><img src="{{media url='giftGuid/EVENING-gift-guide.jpg'}}" alt=""></div>
        </div>
        <div class="section-text">
            <p class="scroll-view show">Step out in Christian Louboutin’s holiday-ready selection.</p>
        </div>
        <div class="easycms-block title-subtitle-slider">
            <div class="products">{{widget type="Synolia\Slider\Block\Widget\Slider" code="gift-guid-evening-him-products-slider" template="Synolia_Slider::widget/sliderProducts.phtml"}}</div>
        </div>
        <div class="link-center">
            <p><a href="{{store url=''}}">DRESS TO IMPRESS</a></p>
        </div>
    </section>
</div>



