// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

.merchandiser-app {
    &:extend(.abs-clearfix all);

    ul.tabs {
        float: right;
    }

    .merchandiser-tab, .merchandiser-tab-pool {
        padding: 0;

        .admin__data-grid-wrap {
            overflow-x: unset;
        }

        .merch-actions {
            display: inline-block;
        }
    }

    .tabs {
        &:extend(.abs-clearfix all);
        list-style: none;
        overflow: hidden;

        li {
            background-color: @color-gray94;
            float: left;

            > a {
                border: 1px solid @color-gray80;
                color: @color-very-dark-gray1;
                display: block;
                padding: 7px 10px;
                text-decoration: none;
            }
        }

        li:last-child > a {
            border-left: 0;
        }

        li.ui-tabs-active {
            background-color: @color-gray85;
        }
    }

    .catalog-category-merchandiser-list {
        overflow: hidden;
        margin: 0;
        padding: 0;
        list-style: none;
        > li {
            background-color: @color-white;
            border: 1px solid @color-gray85;
            float: left;
            height: 360px;
            list-style: none;
            margin: 0 10px 20px 0;
            padding: 10px;
            width: 23%;
            position: relative;

            ul {
                li {
                    background-color: @color-white;
                    border: 1px solid @color-gray85;
                    float: left;
                    height: 360px;
                    list-style: none;
                    margin: 0 10px 20px 0;
                    padding: 10px;
                    width: 22%;
                    position: relative;
                }
            }
        }

        .tile-checkbox {
            transform: scale(1.5);
            margin: 4px;
        }

        .disabled-product-mask {
            background-color: #DE062D;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            height: 358px;
            opacity: 0.2;
        }

        .image-holder {
            text-align: center;

            img {
                max-height: 130px;
            }
        }

        .controlbar-top {
            overflow: hidden;
            position: relative;
            z-index: 1;

            a {
                color: @color-gray85;
                display: inline-block;
                float: right;
                text-decoration: none;
            }

            a:last-child {
                float: right;
            }
        }

        .info-block {
            height: 120px;
        }

        .controlbar-bottom {
            .position {
                border-top: 1px solid @color-gray85;
                margin-top: 20px;
                padding-top: 4px;

                input {
                    float: left;
                    height: 25px;
                    margin-right: 5px;
                    width: 50px;
                }

                a {
                    color: @color-gray85;
                    display: block;
                    float: left;
                    margin-right: 5px;
                    margin-top: -2px;
                    text-decoration: none;
                }
            }
        }

        .selected {
            background-color: @color-pink-light;
        }
    }

    .draggable-handle {
        &:extend(.abs-draggable-handle all);
    }

    table.data-grid {
        th.col-draggable-position {
            margin: 0 auto;
            width: 10px;
        }

        td.col-position {
            > * {
                float: left;
                margin-right: 5px;
            }

            .position input {
                text-align: center;
                width: 40px;
            }

            a {
                color: @color-gray85;
                text-decoration: none;
            }
        }

        .selected td {
            background-color: @color-pink-light;
        }

        tr.on-mouse td {
            background-color: @color-blue-clear-sky;
        }
    }

    .mode-tile,
    .mode-grid,
    .icon-gripper,
    .icon-close-mage,
    .icon-backward,
    .icon-forward,
    .block-search .label {
        &:before {
            -webkit-font-smoothing: antialiased;
            font-family: 'Admin Icons';
            font-size: 17px;
            speak: none;
        }
    }

    .mode-grid,
    .mode-tile,
    .icon-backward,
    .icon-forward,
    .icon-close-mage,
    .icon-gripper {
        > span {
            border: 0;
            clip: rect(0, 0, 0, 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }
    }

    .mode-tile {
        &:before {
            content: '\e63d';
        }
    }

    .mode-grid {
        &:before {
            content: '\e63e';
        }
    }

    .icon-gripper {
        &:before {
            content: '\e617';
        }
    }

    .icon-close-mage {
        &:before {
            content: '\e62f';
        }
    }

    .icon-backward {
        &:before {
            content: '\e619';
        }
    }

    .icon-forward {
        &:before {
            content: '\e618';
        }
    }

    .hidden {
        display: none;
    }

    .automatic-sorting {
        margin-bottom: 5px;
        margin-top: 5px;
    }
}

.catalog-category-add-product-tabs-content {
    .admin__data-grid-header {
        .admin__data-grid-pager-wrap {
            float: right;
        }
    }

    .data-grid-search-control-wrap {
        .massassign-textarea,
        .massassign-buttons,
        .massassign-messages {
            display: block;
            margin: 5px;
        }
    }
}

//
//  Merchandiser manage rules
//  ---------------------------------------------

.manage-rules-panel {
    box-sizing: border-box;
    margin: @indent__base 0 0;

    .message {
        margin: 0 0 @indent__base;
    }

    .admin__data-grid-wrap {
        padding-bottom: 0;
    }

    .smart-category-table {
        .action-delete {
            .action-icon();

            &:before {
                &:extend(.abs-icon all);
                content: @icon-delete__content;
            }

            > span {
                display: none;
            }
        }
    }

    .hidden {
        + .action-secondary {
            margin-top: @indent__base;
        }
    }
}

//
//  Merchandiser toolbar
//  ---------------------------------------------

.regular-category-settings {
    &:extend(.abs-clearfix all);
    margin: 0 0 @indent__base;

    .actions {
        float: right;
    }
}

.merchandiser-toolbar {
    float: left;
    width: 80%;

    .admin__field {
        display: inline-block;
        margin-right: @indent__s;
    }

    .hide-disabled-products-button {
        margin-top: 2%;
    }
}

.merchandiser-toolbar,
.manage-rules-sorting {
    .admin__field {
        > .admin__field-label {
            margin-right: @indent__xs;
            text-align: left;

            span {
                white-space: nowrap;
            }
        }
    }
}

//
//  Match products by rule switcher
//  ---------------------------------------------

//  ToDo UI: refactor when refactoring yes/no switcher
.smart-category-switcher {
    &:extend(.abs-clearfix all);
    margin: 0 0 @indent__base;

    .admin__actions-switch {
        margin-left: @indent__xs;
    }
}

//
//  Merchandiser tabs
//  ---------------------------------------------

//  ToDo UI: refactor merchant tabs
.merchandiser-tabs {
    &:extend(.abs-clearfix all);
    border-top: 1px solid @color-gray80;
    padding: @indent__base 0 0;
    //ticket 772, only 4 li blocks
    max-width: 860px;
    float: left;
    width: 64%;

    .merchandiser-tab {
        border-top: 0 !important;
        clear: both;
    }

    .ui-widget-header {
        margin-bottom: 48px;
    }
    .data-grid th,
    .data-grid td {
        -webkit-user-select: all;
        -moz-user-select: all;
        -ms-user-select: all;
        user-select: all;
    }
}

.merchandiser-tabs-pool {
    &:extend(.abs-clearfix all);
    border: 1px solid red;
    padding: @indent__base 0 0;
    max-width: 510px;
    float: right;
    width: 36%;

    .pool-title {
        font-weight: 600;
    }

    .merchandiser-tab-pool {
        border-top: 0 !important;
        clear: both;

        li {
            width: 46%;
        }
        .data-grid th,
        .data-grid td {
            font-size: 1rem;
            padding: 0.2rem;
            -webkit-user-select: all;
            -moz-user-select: all;
            -ms-user-select: all;
            user-select: all;
            &.col-visibility {
                display: none;
            }
        }
    }

}

.catalog-category-merchandiser-list {
    min-height: 400px;
}

//
//  Category tree
//  ---------------------------------------------

.x-tree-node .to-merch a span {
    font-weight: bold;
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .catalog-category-edit.page-layout-admin-2columns-left {
        .page-columns {
            #mix-grid .row();
            .main-col {
                #mix-grid .width(10,12);
                float: right;
            }

            .side-col {
                #mix-grid .column(2,12);
            }
        }
    }
}
