<div class="place-order-bottom">
    <div class="payment-method _active">
        <!-- ko foreach: getRegion('after-place-agreements') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
    </div>

    <div class="actions-toolbar">
        <div class="primary">
            <button type="button" class="action primary checkout" id="place-order-trigger" value="Continue" >
                <span data-bind="i18n: 'Continue'"></span>
            </button>
        </div>
    </div>

</div>