// /**
//  * Copyright © Zemez, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    //  404
    .not-found-page {
        font-size: 16px;
        text-align: center;

        img {
            margin-bottom: 20px;
        }

        .action {
            margin-top: 15px;
        }
    }


    // Privacy policy
    .change-message {
        color: #31708f;
        background-color: #d9edf7;
        padding: 0.8rem 3.5rem 0.8rem 1rem;
        margin-bottom: 30px;
        border: 1px solid #bce8f1;
        border-radius: 2px;
        position: relative;
        font-size: 14px;
    }

    .privacy-policy-page dd {
        margin-bottom: 50px;
    }


    // Customer Service
    .customer-service {
        h3 {
            margin-bottom: 22px;
        }

        h4 {
            margin-bottom: 15px;
        }

        .customer-service__block {
            margin-bottom: 30px;
        }

        .table-block {
            margin-bottom: 30px;

            h3 {
                margin-bottom: 20px;
            }

            table {
                width: 100%;
            }

            thead {
                border-top: 1px solid @border-color__base;
                border-bottom: 1px solid @border-color__base;

                th {
                    padding: 10px;
                    border-left: 1px solid @border-color__base;
                    font-size: 16px;
                    line-height: 1;
                    vertical-align: middle;

                    &:first-child {
                        padding-left: 0;
                        border-left: none;
                    }
                }
            }

            tbody {
                td {
                    font-size: 12px;
                    line-height: 1;
                    padding: 7px;
                }
            }

            @media (max-width: (@screen__m - 1)) {
                thead {
                    display: none;
                }

                tbody td {
                    display: block;
                    text-align: center;

                    &:first-child {
                        font-size: 14px;
                        line-height: 1.5;
                        font-weight: 600;
                        background: @color-lightest;
                        margin-bottom: 1em;
                        padding: 1em 1em .8em;

                        &:before {
                            display: none;
                        }
                    }

                    &:last-child {
                        margin-bottom: 1em;
                    }
                }

                tbody td:before {
                    content: attr(data-th);
                    display: block;
                    text-align: center;
                    font-weight: 600;
                    margin-bottom: 5px;
                }
            }
        }

        .list-block {
            h3 {
                margin-bottom: 27px;
            }

            li {
                margin-bottom: 20px;
            }

            h4 {
                .font-icon(@themeicon-ui-1_check);

                &:before {
                    font-size: 26px;
                    line-height: inherit;
                    padding-right: 12px;
                }
            }
        }
    }


    // About us
    .cms-about-us {
        .section-title {
            margin-bottom: 78px;
        }

        .about-us_info {
            display: flex;
            justify-content: center;
            align-items: stretch;
            flex-wrap: wrap;
            margin-bottom: 5.2vw;

            .heading-4 {
                color: @color-dark;
                margin-bottom: 10px;
            }

            img {
                display: block;
                width: 100%;
                height: auto;
            }

            .about-us_info_txt,
            .about-us_info_img {
                flex-basis: 100%;
            }

            .about-us_info_txt {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background: @color-lightest;
                padding: 20px;

                p {
                    max-width: 680px;
                    font-size: 14px;
                    line-height: 21px;
                    margin-bottom: 1rem;
                }
            }
        }

        .skills {
            margin-bottom: 3.125vw;

            > div {
                margin-bottom: ~'calc(10px + 1.04vw)';
            }

            .value {
                color: @color-primary;
                font-weight: 700;
                font-size: ~'calc(20px + 1.56vw)';
                line-height: 1;
                letter-spacing: 2px;
                margin-bottom: 1.25vw;
            }

            .term {
                color: @color-dark;
                font-size: ~'calc(10px + 0.625vw)';
                line-height: 1;
                font-weight: 700;
            }
        }

        .team {
            margin-bottom: 3.65vw;

            h3 {
                margin-bottom: 4.0625vw;
            }

            ul {
                padding-left: 0;
            }

            li {
                margin-bottom: 30px;
            }

            img {
                margin-bottom: 8px;
            }

            .team_name {
                font-size: 18px;
                line-height: 1.2;
                font-weight: 700;
                display: inline-block;
                color: @color-dark;
                margin-bottom: 8px;
            }

            p {
                margin-bottom: 0;
            }
        }

        .testimonials {
            background: @color-lightest;
            padding: 7.3vw 20px 5.73vw;

            .testimonials_inner {
                max-width: 1180px;
                margin: 0 auto;
            }

            blockquote {
                display: flex;
                flex-wrap: wrap;
                padding: 0 8px;
                color: @color-dark;

                i {
                    color: @color-light;
                    font-size: ~'calc(20px + 1.5625vw)';
                    line-height: 1;
                    text-align: left;
                    display: none;
                }

                cite {
                    display: block;
                    text-align: center;
                    margin: 0 auto;
                    flex-basis: 100%;

                    &:before {
                        content: '- ';
                    }
                }

                q {
                    display: block;
                    text-align: left;
                    font-weight: 700;
                    margin-bottom: 1.5vw;
                    flex-basis: 100%;
                }
            }

            .owl-item blockquote {
                margin-left: 0;
            }

            .owl-testimonials {
                .owl-nav {
                    position: static;
                }

                .owl-dots {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-top: 4px;

                    button.owl-dot {
                        background: @color-light;

                        &.active,
                        &:hover {
                            background: @color-dark;
                        }
                    }
                }
            }
        }
    }

    .about-us_services {
        margin-bottom: 5.2vw;

        ul {
            display: flex;
            justify-content: center;
            align-items: stretch;
            flex-wrap: wrap;
            padding-left: 0;
        }

        li {
            flex-basis: 100%;
            @media (min-width: @screen__s) {
                flex-basis: 50%;
            }
        }

        img {
            display: block;
        }

        .about-us_services_txt {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: @color-lightest;
            height: 100%;
            padding: 20px;

            i {
                color: @color-primary;
                font-size: 50px;
                line-height: 50px;
                margin-bottom: 24px;
            }

            h4 {
                margin-top: 0;
                margin-bottom: 20px;
            }

            p {
                max-width: 490px;
                margin-bottom: 0;
            }
        }
    }


    // Template settings
    .cms-template-settings {
        &.cms-page-view h3 {
            margin-bottom: 20px;

            em {
                font-weight: 400;
            }
        }

        .data-table {
            margin-bottom: 40px;

            thead {
                border-top: 1px solid @border-color__base;
                border-bottom: 1px solid @border-color__base;
                color: @color-dark;

                th {
                    border-left: 1px solid @border-color__base;
                    background: transparent;
                    padding: 5px 5px;
                    text-transform: none;

                    &:first-child {
                        padding-left: 0;
                        border-left: none;
                    }
                }
            }

            tbody {
                tr {
                    &:first-child {
                        td {
                            padding-top: 15px;
                        }
                    }

                    &:last-child td {
                        padding-bottom: 15px;
                    }
                }

                td {
                    padding: 5px 5px;
                    border-left: 1px solid @border-color__base;

                    &:first-child {
                        border-left: none;
                        padding-left: 0;
                    }
                }
            }
        }
    }

    // Shipping & Delivery
    .shipping-delivery-page {
        p {
            margin-bottom: 20px;
        }

        .heading-5 {
            display: block;
            color: @color-dark;
            margin-bottom: 15px;
        }

        ol {
            list-style: none;
            padding-left: 0;
        }

        ul {
            li {
                padding-left: 15px;
                position: relative;
                margin-bottom: 0.8em;

                &:before {
                    content: '.';
                    font-size: 35px;
                    line-height: 25px;
                    color: @color-primary;
                    position: absolute;
                    top: -15px;
                    left: 0;
                }

                &:last-child {
                    margin-bottom: 1.5em;
                }
            }
        }

        .shipping-delivery-page__border {
            padding-bottom: 20px;
            margin-bottom: 20px;
            border-bottom: 1px solid @border-color__base;

            span:not(.heading-3) {
                margin-bottom: 15px;
                display: block;
            }
        }

        [class*='themeicon-'] {
            &:before {
                font-size: 32px;
                color: @color-primary;
                padding-right: 15px;
            }
        }
    }


    // FAQ page
    #faq-accordion {
        .accordion-trigger {
            margin-bottom: 30px;
            padding-right: 30px;
            position: relative;

            &:before {
                content: 'q';
                text-transform: uppercase;
                font-size: 20px;
                line-height: 1;
                color: @color-white;
                background: @color-primary;
                text-align: center;
                padding: 10px 0;
                width: 40px;
                display: inline-block;
                margin-right: 15px;
                cursor: pointer;
            }

            &:after {
                position: absolute;
                font-size: 16px;
                line-height: 1;
                top: 17px;
                right: 0;
                cursor: pointer;
                .font-icon__pseudo(@themeicon-arrows-1_minimal-down);
            }

            &.open:after {
                .font-icon__pseudo(@themeicon-arrows-1_minimal-up);
            }

            span {
                cursor: pointer;
                font-size: 20px;
                line-height: 50px;
                color: @color-dark;
            }
        }

        .accordion-content {
            display: none;

            p {
                padding-bottom: 50px;
                margin-bottom: 0;

                &:before {
                    content: 'a';
                    text-transform: uppercase;
                    font-size: 20px;
                    line-height: 1;
                    color: @color-primary;
                    background: @color-lightest;
                    text-align: center;
                    padding: 10px 0;
                    width: 40px;
                    display: inline-block;
                    margin: 0 15px 15px 0;
                    float: left;
                }
            }

            > ul {
                padding-bottom: 45px;
            }
        }
    }


    // Support page
    .support-page {
        .text-block {
            padding-bottom: 20px;
            border-bottom: 1px solid @border-color__base;
            margin-bottom: 30px;
        }

        .boxes-block {
            h4 {
                margin-bottom: 20px;
            }

            li {
                a {
                    transition: 0s;
                }
            }

            li div {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 30px;
                padding: 87px 10px;
                border: 1px solid @color-primary;
                background: transparent;
                transition: .3s ease;

                &:hover {
                    background: @color-primary;

                    span,
                    span:before {
                        color: @color-white;
                    }
                }

                span {
                    display: flex;
                    flex-direction: column;
                    font-size: 20px;
                    line-height: 1;
                    justify-content: center;
                    align-items: center;

                    &:before {
                        color: @color-primary;
                        font-size: 70px;
                        line-height: 1;
                    }
                }
            }

            [class*='themeicon-'] {
                &:before {
                    margin-bottom: 10px;
                }
            }
        }
    }


    // Guarantee page
    .guarantee-page {
        p {
            margin-bottom: 20px;
        }

        h3 {
            margin-bottom: 15px;
        }

        h4 {
            .font-icon(@themeicon-ui-1_check-circle-08);
            color: @color-dark;

            &:before {
                line-height: inherit;
                color: @color-primary;
                padding-right: 10px;
                margin-bottom: 5px;
            }
        }

        ul {
            padding: 10px 0 20px;

            li {
                margin-bottom: 15px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .text-block {
            padding-bottom: 20px;
            border-bottom: 1px solid @border-color__base;
            margin-bottom: 30px;

            &:last-child {
                padding-bottom: 0;
                border-bottom: none;
            }
        }
    }


    // Secure payment page
    .secure-payment-page {
        h4 {
            .font-icon(@themeicon-ui-1_check-circle-08);
            margin-bottom: 8px;

            &:before {
                line-height: inherit;
                padding-right: 10px;
                vertical-align: bottom;
            }
        }

        ul {
            padding: 15px 0 20px;

            li {
                margin-bottom: 15px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .secure-payment_icons {
            ul {
                display: flex;
                flex-wrap: wrap;
                margin-left: -16px;

                li {
                    margin-left: 16px;
                }

                a {
                    font-size: 34px;
                    line-height: 1;
                    color: @color-light;

                    &:hover {
                        color: @color-dark;
                    }
                }
            }
        }
    }


    // Terms & Conditions
    .terms-conditions-page {
        p {
            margin-bottom: 28px;
        }

        ul h4 {
            .font-icon(@themeicon-arrows-e_circle-e-right-01);
            margin-bottom: 10px;

            &:before {
                line-height: inherit;
                color: @color-primary;
                padding-right: 10px;
                vertical-align: bottom;
            }
        }
    }

    // Contact Us
    .contact-index-index {
        .contact-us-info {
            .contact-us-info-item {
                position: relative;
                padding-left: 40px;

                &:before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 40px;
                    height: 40px;
                    font-size: 30px;
                    line-height: 1;
                    color: @color-light;
                }
            }

            .contact-us-info-title {
                display: inline-block;
                font-size: 20px;
                font-weight: 600;
                line-height: 1.2;
            }

            .contact-us-info-description:not(.contact-us-info-description-email) a {
                color: inherit;

                &:hover {
                    color: @color-primary;
                }
            }

            .contact-us-info-item + .contact-us-info-item {
                margin-top: 20px;
            }
        }
    }
}


//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

}


//
//  Desktop
//  _____________________________________________

& when (@media-target = 'desktop') {
    .customer-service {
        .customer-service__block {
            margin-bottom: 94px;
        }

        .table-block {
            margin-bottom: 65px;

            h3 {
                margin-bottom: 46px;
            }

            thead {
                color: @color-dark;

                th {
                    @media (min-width: @screen__l) {
                        padding: 15px 10px 15px 35px;
                    }
                }
            }

            tbody {
                tr {
                    &:first-child td {
                        padding-top: 41px;
                    }

                    &:last-child td {
                        padding-bottom: 30px;
                    }
                }

                td {
                    border-left: 1px solid @border-color__base;

                    &:first-child {
                        padding-left: 0;
                        border-left: none;
                    }

                    @media (min-width: @screen__l) {
                        padding: 11px 10px 11px 35px;
                    }
                }
            }
        }
    }


    .cms-about-us {
        .about-us_info {
            @media (min-width: @screen__l) {
                margin-bottom: 100px;
                .heading-4 {
                    font-size: 22px;
                }
            }
            @media (min-width: @screen__xl) {
                flex-wrap: nowrap;
                .about-us_info_txt,
                .about-us_info_img {
                    flex-basis: 50%;
                }
            }
        }

        @media (min-width: @screen__l) {
            .skills {
                margin-bottom: 60px;
            }

            .value {
                font-size: 50px;
                line-height: 50px;
                margin-bottom: 24px;
            }

            .term {
                font-size: 22px;
                line-height: 22px;
            }
        }

        .team {
            @media (min-width: @screen__l) {
                margin-bottom: 70px;
                h3 {
                    margin-bottom: 50px;
                }
            }
            @media (min-width: @screen__xl) {
                .team_name {
                    font-size: 22px;
                }
            }
        }

        .testimonials {
            blockquote {
                i {
                    display: block;
                    flex-basis: 70px;

                    &:before {
                        content: @themeicon-text_quote;
                        font-family: @themeicon-font-family;
                        speak: none;
                        font-style: normal;
                        font-weight: normal;
                        font-variant: normal;
                        text-transform: none;
                        line-height: 1;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                    }

                    @media (min-width: @screen__l) {
                        font-size: 50px;
                        line-height: 50px;
                    }
                }

                q {
                    font-size: 16px;
                    line-height: 20px;
                    flex-basis: ~'calc(100% - 70px)';
                    margin-bottom: 12px;

                    @media (min-width: @screen__l) {
                        font-size: 22px;
                        line-height: 34px;
                        margin-bottom: 24px;
                    }
                }
            }

            .owl-testimonials {
                .owl-dots {
                    padding-top: 12px;

                    @media (min-width: @screen__l) {
                        padding-top: 16px;
                    }
                }
            }
        }
    }

    .about-us_services {
        @media (min-width: @screen__l) {
            margin-bottom: 100px;
        }

        li {
            @media (min-width: @screen__l) {
                flex-basis: 33.33333%;
            }
        }

        .about-us_services_txt {
            padding-top: 0;
            padding-bottom: 0;
        }
    }


    .cms-template-settings {
        .data-table {
            @media (min-width: @screen__l) {
                thead {
                    th {
                        padding: 10px 20px;
                    }
                }

                tbody {
                    tr {
                        &:first-child {
                            td {
                                padding-top: 20px;
                            }
                        }

                        &:last-child td {
                            padding-bottom: 30px;
                        }
                    }

                    td {
                        padding: 10px 20px;
                    }
                }
            }
        }
    }


    .shipping-delivery-page {
        @media (min-width: @screen__l) {
            p {
                margin-bottom: 30px;
            }

            .shipping-delivery-page__border {
                padding-bottom: 30px;
                margin-bottom: 40px;
            }
        }
    }

    #faq-accordion {
        .accordion-trigger {
            display: inline-block;
        }
    }

    @media (min-width: @screen__l) {
        .support-page {
            .boxes-block {
                li div {
                    margin-bottom: 50px;
                }
            }
        }
    }

    .secure-payment-page {
        .secure-payment_icons {
            ul {
                margin-left: -28px;

                li {
                    margin-left: 28px;
                }

                a {
                    font-size: 41px;
                }
            }
        }
    }

    .contact-index-index {
        .contact-us-info {
            .contact-us-info-item + .contact-us-info-item {
                margin-top: 40px;
            }
        }
    }
}
