<?php $creditmemo = $this->getCreditmemo(); ?>
<?php foreach ($this->getAjustments() as $code => $ajustment) : ?>
    <?php if($ajustment['active']) : ?>
        <tr>
            <td class="label"><?php echo $ajustment['label'] ?><div id=""></div></td>
            <td>
                <?php if ($creditmemo->getId()) : ?>
                    <span><?php echo $creditmemo->getOrder()->formatPrice($creditmemo->getData($code)) ?></span>
                <?php else : ?>
                    <?php if ($this->isInputSelect($code)) : ?>
                        <select name="creditmemo[<?php echo $code; ?>]"  class="input-select admin__control-select not-negative-amount" id="<?php echo $code; ?>">
                            <option value="0"><?php echo __('No'); ?></option>
                            <option value="<?php echo $this->getReturnCharge()?>"><?php echo __('Yes'); ?></option>
                        </select>
                    <?php else : ?>
                        <input type="text" name="creditmemo[<?php echo $code; ?>]" value="<?= /* @escapeNotVerified */ $creditmemo->getData($code)*1 ?>" class="input-text admin__control-text not-negative-amount" id="<?php echo $code; ?>" />
                    <?php endif; ?>
                <?php endif; ?>
            </td>
        </tr>
    <?php endif; ?>
<?php endforeach; ?>
<tr>
    <td colspan="2">
        <button title="<?php echo __('Update'); ?>" type="button" class="action-default scalable update-button"
                onclick="<?php echo "submitAndReloadArea($('creditmemo_item_container'),'" . $this->getUpdateUrl() . "')" ?>"
                data-ui-id="order-items-update-button">
            <span><?php echo __('Update'); ?></span>
        </button>
    </td>
</tr>
