<?php
/* @var $block \Magento\ProductAlert\Block\Product\View */
?>

<div class="product alert <?php echo $block->getHtmlClass() ?>">
    <button id="register-popup" type="button"
            data-role="register"
            title="<?php echo $block->escapeHtml(__($block->getSignupLabel())); ?>"
            class="action alert abstract no-display">
        <span><?php echo $block->escapeHtml(__($block->getSignupLabel())); ?></span>
    </button>
</div>
