<?php /** @var \Project\Beauty\Helper\Lips $lipsHelper */?>
<?php $lipsHelper = $this->helper('Project\Beauty\Helper\Lips'); ?>

<div class="wheel-slider" data-mage-init='{"wheelSlider":{}}'>
    <div class="wheel-colors">
        <div class="product-selector">
            <div class="product">
                <div class="navigation-arrows">
                    <i class="arrow arrow-left icon-i6"></i>
                    <i class="arrow arrow-right icon-i4"></i>
                </div>
                <div class="image">
                    <div class="lipstick"></div>
                </div>
                <div class="color-name"></div>
                <div class="category"></div>
            </div>
        </div>
        <svg width="1024px" height="1024px" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g class="svg-content" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g class="content">
                    <g class="all-colors">
                        <g class="silk_satin" transform="translate(513.000000, 0.000000)">
                            <?php for ($i = 0; $i <= 19; $i++): ?>
                                <?php echo $lipsHelper->getSvgPath($i); ?>
                            <?php endfor; ?>
                        </g>
                        <g class="sheer_voile" transform="translate(36.000000, 512.000000)">
                            <?php for ($i = 20; $i <= 28; $i++): ?>
                                <?php echo $lipsHelper->getSvgPath($i); ?>
                            <?php endfor; ?>
                        </g>
                        <g class="velvet_matte" transform="translate(0.000000, 1.000000)">
                            <?php for ($i = 29; $i <= 41; $i++): ?>
                                <?php echo $lipsHelper->getSvgPath($i); ?>
                            <?php endfor; ?>
                        </g>
                        <polygon id="Path-448_1_" fill="#000000" points="516.5 514.1 512.2 508.3 34.1582629 695.878911 36.6962596 702.238667 176.970741 646.604667 514.5 514.1"></polygon>
                        <polygon id="Path-447_1_" fill="#000000" points="584.923118 1020.07375 510.1 510.2 516.2 508.8 590.92901 1019.19075"></polygon>
                        <polygon id="Path-446_1_" fill="#000000" points="508.9 0 514.848867 0 517.4 514.3 511.2 513.8"></polygon>
                    </g>
                    <g class="product" transform="translate(344.000000, 344.000000)">
                        <circle class="outer-circle" fill="#1C1C1C" opacity="0.344" cx="167.1" cy="167.8" r="167.1"></circle>
                        <text class="silky-satin" fill="#DADADA" transform="translate(314.124600, 159.383900) rotate(90.000000) translate(-314.124600, -159.383900) " font-family="Helvetica" font-size="7.4927" font-weight="normal">
                            <tspan x="291.6246" y="162.3839"><?php echo __('SILKY SATIN') ?></tspan>
                        </text>
                        <text class="velvet-matte" fill="#DADADA" transform="translate(52.965100, 71.883841) rotate(-46.997833) translate(-52.965100, -71.883841) " font-family="Helvetica" font-size="7.4927" font-weight="normal">
                            <tspan x="25.4661493" y="74.8838408"><?php echo __('VELVET MATTE') ?></tspan>
                        </text>
                        <text class="sheer-voile" fill="#DADADA" transform="translate(64.493500, 271.097191) rotate(226.997833) translate(-64.493500, -271.097191) " font-family="Helvetica" font-size="7.4927" font-weight="normal">
                            <tspan x="39.4944539" y="274.097191"><?php echo __('SHEER VOILE') ?></tspan>
                        </text>
                        <g class="inner-circle" transform="translate(37.000000, 37.000000)" fill="#000000">
                            <circle class="oval" cx="130.2" cy="130.8" r="129.9"></circle>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
    </div>
</div>
