<?php /** @var \Project\Core\Helper\Media $mediaHelper */?>
<?php $mediaHelper = $this->helper('Project\Core\Helper\Media'); ?>
<?php $countImage = 81; ?>

<div class="image-wrapper">
    <?php for($i = 0; $i <= $countImage; $i++) : ?>
        <div class="image<?php if ($i === 0): echo ' active'; endif; ?>" data-index="<?php echo $i; ?>">
            <img src="<?php echo $mediaHelper->getMediaUrl('cms/page/discover-red/Ballerina'. sprintf('%02d', $i) .'.jpg'); ?>" />
        </div>
    <?php endfor; ?>
</div>
