// /**
//  * Copyright © Zemez, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .block.filter {
        margin-bottom: 60px;
        font-size: 14px;

        .filter-title {
            margin-bottom: @indent__base;
            color: @color-dark;
            text-transform: uppercase;

            strong {
                font-size: 20px;
                font-weight: 600;
            }
        }
    }

    .block-subtitle {
        display: inline-block;
        margin-bottom: @indent__s;
    }

    .filter-current {
        .item {
            margin-bottom: @indent__s;
        }

        .filter-label {
            display: inline-block;
            font-weight: @font-weight__semibold;

            &:after {
                content: ':';
            }
        }

        + .filter-actions {
            margin-bottom: @indent__l;
        }
    }

    .filter-content .filter-clear {
        text-decoration: underline;
        padding: 0;
    }

    .filter-options-content {
        color: @color-light;

        .filter-count-label {
            &:extend(.abs-visually-hidden all);
        }

        .item {
            a {
                display: flex;
            }

            .count {
                margin-left: auto;
            }
        }
    }

    .filter-options {
        margin: 0;
    }

    .filter-options-title {
        font-size: 20px;
        font-weight: 600;
        line-height: 1.3;
        margin: 0 0 12px;
        word-break: break-all;
    }

    .filter-current-subtitle {
        display: block;
    }

    .filter-current-subtitle, .filter-options-title {
        .font-icon(@themeicon-plus);
        position: relative;
        padding-right: 26px;
        cursor: pointer;

        &:before {
            position: absolute;
            top: 50%;
            right: 0;
            height: 26px;
            margin-top: -13px;
            font-size: 14px;
            line-height: 26px;
            color: @color-dark;
        }
    }

    .filter-current.active .filter-current-subtitle, .filter-options-item.active .filter-options-title {
        &:before {
            content: @themeicon-minus;
        }
    }

    .filter-options-item {
        margin-bottom: 30px;
    }

    .filter-options-content {
        .item + .item {
            margin-top: 8px;
        }
    }

    .action.remove {
        .font-icon();
        line-height: 0;
        vertical-align: middle;

        &:before {
            line-height: 1;
        }

        span {
            display: none;
        }
    }
}

//
//  Mobile
//  _____________________________________________

& when (@media-target = 'mobile') {
    @media (max-width: (@screen__l - 1)) {
        #layered-filter-block {
            display: block;
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            width: 300px;
            margin: 0;
            padding: 20px;
            z-index: 20;
            overflow-y: auto;
            transform: translateX(110%);
            background-color: @color-white;
            box-shadow: @header-mobile-nav-box-shadow;
            transition: 0.3s transform ease;

            &.active {
                transform: none;
            }

            .filter-toggle {
                .font-icon();
                position: absolute;
                top: 20px;
                right: 20px;
                cursor: pointer;
            }
        }

        .filter-toggle {
            span:before {
                content: '';
                display: block;
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: @modal-overlay__background-color;
                font-size: 0;
                visibility: hidden;
                opacity: 0;
                z-index: 19;
                transition: 0.3s all ease;
            }

            &.active span:before {
                visibility: visible;
                opacity: 1;
            }
        }
    }
}


//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .filter-title, .sidebar .filter-wrapper .filter-subtitle, .filter-current-subtitle {
        display: none;
    }

    .filter-toggle {
        display: none !important;
    }
}

& when (@media-target = 'desktop') {
    @media (min-width: @screen__xxl) {
        .filter-options-title {
            font-size: 24px;
            margin-bottom: 20px;
        }

        .filter-options-item {
            margin-bottom: 60px;
        }

        .filter-options-content {
            .item + .item {
                margin-top: 16px;
            }
        }

        .filter-current + .filter-actions {
            margin-bottom: 50px;
        }
    }
}
