// /**
//  * Copyright © Zemez, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@autocomplete__background-color: @color-white;
@autocomplete__border: false;
@autocomplete-item__border: 1px solid @color-gray92;
@autocomplete__box-shadow: @dropdown-list__shadow;
@autocomplete-item__hover__color: @color-lightest;
@autocomplete-item-amount__color: @color-gray60;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .block-search {
        margin-bottom: 0;

        .block-title {
            display: none;
        }

        .block-content {
            margin-bottom: 0;
        }

        .nested {
            display: none;
        }
    }

    .search-autocomplete {
        display: none;
        position: absolute;
        top: @header-mobile-nav-height;
        left: 5px;
        overflow: hidden;
        z-index: 3;
        .lib-css(border, @autocomplete__border);
        .lib-css(background, @autocomplete__background-color);
        .lib-css(box-shadow, @autocomplete__box-shadow);

        li {
            .lib-css(border-top, @autocomplete-item__border);

            &:first-child {
                border-top: none;
            }

            .amount {
                .lib-css(color, @autocomplete-item-amount__color);
            }

            a {
                display: flex;
                padding: 15px 32px 15px 14px;

                > div {
                    flex-grow: 1;
                    padding-left: 10px;
                    color: @color-default;
                }
            }

            a:hover,
            &.selected a {
                .lib-css(background, @autocomplete-item__hover__color);
            }

            .search-thumb {
                flex-basis: 50px;
                width: 50px;
                max-width: 50px;
                flex-shrink: 0;

                img {
                    display: block;
                    width: 100%;
                    height: auto;
                    background-color: @color-lightest;
                }
            }

            .qs-option-name {
                display: block;
                margin-bottom: 5px;
                font-size: 12px;
            }

            .price {
                font-size: 14px;
            }
        }
    }

    .form.search.advanced {
        .fields.range {
            .field {
                &:first-child {
                    position: relative;

                    .control {
                        padding-right: 25px;

                        &:after {
                            content: ' \2013 ';
                            display: inline-block;
                            position: absolute;
                            right: 0;
                            text-align: center;
                            top: 6px;
                            width: 25px;
                        }
                    }
                }

                &:last-child {
                    position: relative;

                    div.mage-error[generated] {
                        left: 0;
                        position: absolute;
                        top: 32px;
                    }
                }

                &.with-addon {
                    .control {
                        padding-right: 45px;
                    }
                }
            }
        }

        .group.price {
            .addon {
                .addafter {
                    background: none;
                    border: 0;
                    padding-top: 6px;
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }
        }
    }

    .search.summary {
        margin-bottom: @indent__s;
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .minisearch {
        .search .label {
            .toggle-icons-via-rotation(@_size: @header-mobile-nav-height, @_font-size: @header-mobile-nav-icons-size, @_icon-before: @themeicon-magnifier);
            display: block;
            position: fixed;
            top: 0;
            right: 2*@header-mobile-nav-height + 10px;
            z-index: 16;
            color: @header-mobile-nav-color;
            transition: 0.3s right ease;

            &:after {
                color: @color-dark;
            }

            span {
                display: none;
            }

            &.active {
                right: 0;
                z-index: 18;
            }
        }

        .control {
            position: fixed;
            top: 5px;
            left: 5px;
            right: 5px;
            transform: translateY(-@header-mobile-nav-height);
            z-index: 17;
            transition: 0.3s all ease;

            input {
                height: @header-mobile-nav-height - 10px;
            }
        }

        .actions {
            display: none;
        }

        &.active {
            .control {
                transform: none;
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .block-search {
        input {
            .lib-input-placeholder(@form-element-input-placeholder__color);
            height: 30px;
            padding-right: 40px;
            padding-left: 10px;
            background: none;

            &, &:focus {
                border: none;
            }
        }

        .action.search {
            .font-icon(@themeicon-magnifier);
            .lib-button-reset();
            padding: 0;
            color: @color-default;

            &:before {
                font-size: 22px;
                line-height: 30px;
            }

            &:hover {
                color: @color-primary;
            }

            span {
                display: none;
            }
        }
    }

    .search-autocomplete {
        margin-top: 0;
    }

    .minisearch {
        position: relative;

        .search .label {
            .toggle-icons-via-rotation(@_size: 30px, @_font-size: 22px, @_icon-before: @themeicon-magnifier);
            display: flex;
            align-items: center;
            position: absolute;
            left: 0;
            top: 0;
            padding-left: 30px;
            transition: 0.3s all ease;
            white-space: nowrap;

            &:before {
                padding-left: 1px;
                text-align: left;
                transition: .3s opacity, visibility, transform ease;
            }

            span {
                transition: 0.2s opacity ease;
                transition-delay: 0.1s;
            }

            &:hover {
                color: @color-primary;
            }

            &.active {
                left: 102%;

                span {
                    opacity: 0;
                    transition-delay: 0s;
                }
            }
        }

        .field {
            padding-right: 35px;
            overflow: hidden;

            > div {
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    right: 100%;
                    bottom: 0;
                    border-bottom: 1px solid @color-default;
                    transition: 0.3s right ease;
                }
            }

        }

        .control {
            position: relative;
            opacity: 0;
            visibility: hidden;
            z-index: 16;
            transition: 0.3s all ease;
        }

        .actions {
            position: absolute;
            right: 8px;
            top: 0;
            z-index: 1;
            opacity: 0;
            transform: scale(0);
            transition: 0.1s all ease;
        }

        &.active {
            .control {
                opacity: 1;
                visibility: visible;
            }

            .field > div {
                &:before {
                    right: 0;
                }
            }

            .actions {
                opacity: 1;
                transform: scale(1);
                transition-delay: 0.1s;
                transition-duration: 0.3s;
            }
        }
    }
}
