<div class="discover-pages discover-eyes">
    <div class="bloc-video-title">
        <div class="easycms-block topbox-video">
            <div class="video-container mobile-not-mute">
                {{widget type="Project\Core\Block\Widget\Video"
                video_url="https://player.vimeo.com/external/209911922.sd.mp4?s=37b6b65ba9bb76e1129725cd9e13aa498cc307b8&profile_id=165"
                video_placeholder_text="Defaut video label"}}
            </div>
            <p class="easycms-line-break"> </p>
        </div>
        <h1 class="title">Les Yeux Noirs</h1>
        <div class="subtitle">Eye collection</div>
    </div>
    <div class="block-quote">
        <p>“I was always fascinated by how much the eyes say. The eyes have a life. Makeup only accentuates what you want to reveal.”</p>
        <p class="author">Christian Louboutin</p>
    </div>
    <div class="block-paragraph">
        <p>Christian Louboutin expands his universe to present an opus of eye amplifiers. The result is a collection that combines sensual application with the intensely rich colour and attention to detail expected from the designer. Luxurious and uniquely slender, each product provides a precise and sensual gesture similar to that of calligraphy. The Louboutin eye collection is artfully designed to provide definition and add to the expression of a woman's eyes, amplifying the essence and power of her gaze.</p>
    </div>
    <div class="block-product lash scroll-notvisible">
        <div class="image">
            <img src="{{media url='cms/page/discover-eyes/lash-amplifying-lacquer.png'}}" alt="Lash Amplifying Lacquer" />
        </div>
        <div class="content">
            <h2 class="product-title">
                <img src="{{media url='cms/page/discover-eyes/les-yeux-noirs.png'}}" alt="Les Yeux Noirs" />
            </h2>
            <h3 class="product-name">Lash Amplifying Lacquer</h3>
            <ul class="colors">
                <li class="khol"><a href="{{store url=''}}">Khol</a></li>
                <li class="sevillana"><a href="{{store url=''}}">Sevillana</a></li>
                <li class="rouge-louboutin"><a href="{{store url=''}}">Rouge Louboutin</a></li>
            </ul>
            <p class="description">Les Yeux Noirs mascara delivers dramatic volume, enhancing the definition, length, lift and curl of lashes. Created with highly concentrated pigments that layer seamlessly – no flaking or smearing – it provides fierce colour and sets with a luminous finish for impactful colour reflection that lasts all day. Designed with a brush uniquely comprised of both vertical and horizontal bristles, it ensures smooth and precise application.</p>
            <a class="link" href="{{store url=''}}">Shop</a>
        </div>
    </div>
    <div class="block-images">
        <div class="granulated-image">
            <img src="{{media url='cms/page/discover-eyes/sect1-img-sm.jpg'}}" alt="Image 1" />
        </div>
        <div class="not-granulated-image">
            <img src="{{media url='cms/page/discover-eyes/sect1-img-lg.jpg'}}" alt="Image 2" />
        </div>
    </div>
    <div class="block-product liner scroll-notvisible">
        <div class="image">
            <img src="{{media url='cms/page/discover-eyes/luminous-ink-liner.png'}}" alt="Luminous Ink Liner" />
        </div>
        <div class="content">
            <h2 class="product-title">
                <img src="{{media url='cms/page/discover-eyes/oeil-vinyle.png'}}" alt="Oeil Vinyle" />
            </h2>
            <h3 class="product-name">Luminous Ink Liner</h3>
            <ul class="colors">
                <li class="khol"><a href="{{store url=''}}">Khol</a></li>
                <li class="rouge-louboutin"><a href="{{store url=''}}">Rouge Louboutin</a></li>
                <li class="lady-twist"><a href="{{store url=''}}">Lady Twist</a></li>
            </ul>
            <p class="description">Inspired by patent leather, a brilliant leather iconic to the house of Christian Louboutin, the designer introduces this nish for eyes with Oeil Vinyle. It imparts highly pigmented ink with a glossy sheen for eyes that are lined with intensity. Its soft and exible texture ensures that the formula applies with integrity for all-day wear. The shade range features the brand iconic Rouge Louboutin.</p>
            <a class="link" href="{{store url=''}}">Shop</a>
        </div>
    </div>
    <div class="block-quote">
        <p class="pre-quote">As Christian explains in his own words:</p>
        <p>“You can see happiness, sadness, fear, fierceness… You definitely see everything through the eyes.”</p>
    </div>
    <div class="block-product definer scroll-notvisible">
        <div class="image">
            <img src="{{media url='cms/page/discover-eyes/velvet-eye-definer.png'}}" alt="Velvet Eye Definer" />
        </div>
        <div class="content">
            <div class="product-title">
                <img src="{{media url='cms/page/discover-eyes/oeil-velours.png'}}" alt="Oeil Velours" />
            </div>
            <h3 class="product-name">Velvet Eye Definer</h3>
            <ul class="colors">
                <li class="khol"><a href="{{store url=''}}">Khol</a></li>
                <li class="deep-teal"><a href="{{store url=''}}">Deep Teal</a></li>
                <li class="zoulou"><a href="{{store url=''}}">Zoulou</a></li>
                <li class="hot-chick"><a href="{{store url=''}}">Hot Chick</a></li>
                <li class="fierce"><a href="{{store url=''}}">Fierce</a></li>
            </ul>
            <p class="description">A soft pigment rich formula that combines precise application with glide to create versatile looks. It provides bold colour usually reserved for the ultra-dense khol liners of the pharaohs. It can be smudged to transform sharp lines into a softly diffused look.</p>
            <a class="link" href="{{store url=''}}">Shop</a>
        </div>
    </div>
    <div class="block-images">
        <div class="not-granulated-image">
            <img src="{{media url='cms/page/discover-eyes/sect3-img-lg.jpg'}}" alt="Image 1" />
        </div>
        <div class="granulated-image">
            <img src="{{media url='cms/page/discover-eyes/sect3-img-sm.jpg'}}" alt="Image 2" />
        </div>
    </div>
    <div class="block-product brow-definer scroll-notvisible">
        <div class="image">
            <img src="{{media url='cms/page/discover-eyes/brow-definer-image.png'}}" alt="Bro Definer" />
        </div>
        <div class="content">
            <h2 class="product-title">
                <img src="{{media url='cms/page/discover-eyes/brow-definer.png'}}" alt="Bro Definer" />
            </h2>
            <ul class="colors">
                <li class="brunette"><a href="{{store url=''}}">Brunette</a></li>
                <li class="auburn"><a href="{{store url=''}}">Auburn</a></li>
                <li class="taupe"><a href="{{store url=''}}">Taupe</a></li>
                <li class="blonde"><a href="{{store url=''}}">Blonde</a></li>
            </ul>
            <p class="description">Brow Definer is a versatile brow pencil for defining, shaping and filling eyebrows. Its soft formula glides on easily yet provides full coverage with a matte finish for the most accurate brow primping and long-lasting wear. The Brow Definer is accessorized with a spoolie brush and comes with a sharpener to ensure precision with each use.</p>
            <a class="link" href="{{store url=''}}">Shop</a>
        </div>
    </div>
    <div class="block-link scroll-notvisible">
        <a class="link" href="{{store url=''}}">Shop the eye collection</a>
    </div>
</div>