<?php

// @codingStandardsIgnoreFile

/** @var $block \Magento\Checkout\Block\Cart\Item\Renderer */

$_item = $block->getItem();
$product = $_item->getProduct();
$isVisibleProduct = $product->isVisibleInSiteVisibility();
/** @var \Magento\Msrp\Helper\Data $helper */
$helper = $this->helper('Magento\Msrp\Helper\Data');
$canApplyMsrp = $helper->isShowBeforeOrderConfirm($product) && $helper->isMinimalPriceLessMsrp($product);
/** @var \Project\PreOrder\Helper\Product $preOrderHelperProduct */
$preOrderHelperProduct = $this->helper('Project\PreOrder\Helper\Product');
$options_info = $_item->getData('qty_options');
$option_id = 0;
if(is_array($options_info) && !empty($options_info)) {
    $option_id = array_keys($options_info);
    $option_id = $option_id[0];
}
?>
<tbody class="cart item">
    <tr class="item-info">
        <td data-th="<?= $block->escapeHtml(__('Item')) ?>" class="col item">
            <?php if ($block->hasProductUrl()):?>
                <a href="<?= /* @escapeNotVerified */ $block->getProductUrl() ?>"
                   title="<?= $block->escapeHtml($block->getProductName()) ?>"
                   tabindex="-1"
                   class="product-item-photo">
            <?php else:?>
                <span class="product-item-photo">
            <?php endif;?>
            <?= $block->getImage($block->getProductForThumbnail(), 'cart_page_product_thumbnail')->toHtml() ?>
            <?php if ($block->hasProductUrl()):?>
                </a>
            <?php else: ?>
                </span>
            <?php endif; ?>
            <div class="product-item-details">
                <strong class="product-item-name">
                    <?php if ($block->hasProductUrl()):?>
                        <a href="<?= /* @escapeNotVerified */ $block->getProductUrl() ?>"><?= $block->escapeHtml($block->getProductName()) ?></a>
                    <?php else: ?>
                        <?= $block->escapeHtml($block->getProductName()) ?>
                    <?php endif; ?>
                </strong>
                <span class="product-item-attributes">
                    <?php $heelHeightMap = $product->getAttributeText('heel_height_map'); ?>
                    <?php $heelHeight = $product->getHeelHeight(); ?>
                    <?php if($heelHeightMap && $heelHeight > 0): ?>
                        <?php $heelArr = explode('/', substr($heelHeightMap,1,-1)) ?>
                        <?php $heelArr[0] = __('%1 mm', round($heelHeight), 0); ?>
                        <?php $heelHeight_inches = round($heelHeight / 25.4, 1) ; ?>
                        <?php if (strpos($heelArr[1], 'inches')): ?>
                            <?php $heelArr[1] = __('%1 inches', $heelHeight_inches, 0); ?>
                        <?php else: ?>
                            <?php $heelArr[1] = __('%1 pouces', $heelHeight_inches, 0); ?>
                        <?php endif; ?>
                        <?php echo implode(' / ', $heelArr) . " - "; ?>
                    <?php endif; ?>

                    <?php echo "(" . $product->getSku() . ")"; ?>
                </span>
                <?php if ($_options = $block->getOptionList()):?>
                    <dl class="item-options">
                        <?php foreach ($_options as $_option) : ?>
                            <?php $_formatedOptionValue = $block->getFormatedOptionValue($_option) ?>
                            <dt><?= $block->escapeHtml($_option['label']) ?></dt>
                            <dd>
                                <?php if (isset($_formatedOptionValue['full_view'])): ?>
                                    <?= /* @escapeNotVerified */ $_formatedOptionValue['full_view'] ?>
                                <?php else: ?>
                                    <?= /* @escapeNotVerified */ $_formatedOptionValue['value'] ?>
                                <?php endif; ?>
                            </dd>
                        <?php endforeach; ?>
                    </dl>
                <?php endif;?>
                <?php if ($messages = $block->getMessages()): ?>
                    <?php foreach ($messages as $message): ?>
                        <div class="cart item message <?= /* @escapeNotVerified */ $message['type'] ?>"><div><?= $block->escapeHtml($message['text']) ?></div></div>
                    <?php endforeach; ?>
                <?php endif; ?>
                <?php $addInfoBlock = $block->getProductAdditionalInformationBlock(); ?>
                <?php if ($addInfoBlock): ?>
                    <?= $addInfoBlock->setItem($_item)->toHtml() ?>
                <?php endif;?>
                <?php if(!is_null($_item->getIsPreorder())): ?>
                    <div class="preorder-message">
                        <?php $itemProduct = $_item->getProduct(); ?>

                        <?php foreach ($_item->getQuote()->getAllVisibleItems() as $item): ?>
                            <?php if ($option = $item->getOptionByCode('simple_product')): ?>
                                <?php $itemProduct = $option->getProduct(); ?>
                            <?php endif; ?>
                        <?php endforeach; ?>

                        <?php $availabilityDate = $preOrderHelperProduct->getAvailabilityDate($itemProduct)?>
                        <?php echo $preOrderHelperProduct->getPreorderMessage($availabilityDate); ?>
                    </div>
                <?php endif; ?>
            </div>
        </td>

        <?php if ($canApplyMsrp): ?>
            <td class="col msrp" data-th="<?= $block->escapeHtml(__('Price')) ?>">
                <span class="pricing msrp">
                    <span class="msrp notice"><?= /* @escapeNotVerified */ __('See price before order confirmation.') ?></span>
                    <?php $helpLinkId = 'cart-msrp-help-' . $_item->getId(); ?>
                    <a href="#" class="action help map" id="<?= /* @escapeNotVerified */ ($helpLinkId) ?>" data-mage-init='{"addToCart":{"helpLinkId": "#<?= /* @escapeNotVerified */ $helpLinkId ?>","productName": "<?= /* @escapeNotVerified */ $product->getName() ?>","showAddToCart": false}}'>
                        <span><?= /* @escapeNotVerified */ __("What's this?") ?></span>
                    </a>
                </span>
            </td>
        <?php else: ?>
            <td class="col price" data-th="<?= $block->escapeHtml(__('Price')) ?>">
                <?= $block->getUnitPriceHtml($_item) ?>
            </td>
        <?php endif; ?>
        <td class="col qty" data-th="<?= $block->escapeHtml(__('Qty')) ?>">
            <div class="field qty">
                <label class="label" for="cart-<?= /* @escapeNotVerified */ $_item->getId() ?>-qty">
                    <span><?= /* @escapeNotVerified */ __('Qty') ?></span>
                </label>
                <div class="control qty">
                    <input id="cart-<?= /* @escapeNotVerified */ $_item->getId() ?>-qty"
                           name="cart[<?= /* @escapeNotVerified */ $product->getId() ?>][<?= /* @escapeNotVerified */ $_item->getId() ?>][qty]"
                           data-cart-item-id="<?= /* @escapeNotVerified */ $_item->getSku() ?>"
                           value="<?= /* @escapeNotVerified */ $block->getQty() ?>"
                           type="number"
                           size="4"
                           title="<?= $block->escapeHtml(__('Qty')) ?>"
                           class="input-text qty"
                           data-validate="{required:true,'validate-greater-than-zero':true}"
                           data-role="cart-item-qty"/>
                    <input id="cart-<?= /* @escapeNotVerified */ $_item->getId() ?>-qty"
                           name="cart[<?= /* @escapeNotVerified */ $product->getId() ?>][<?= /* @escapeNotVerified */ $_item->getId() ?>][option_id]"
                           value="<?= /* @escapeNotVerified */ $option_id ?>"
                           type="hidden"/>
                    <?php if(!is_null($_item->getIsPreorder())): ?>
                        <input id="is_preorder-<?= /* @escapeNotVerified */ $_item->getId() ?>"
                               name="cart[<?= 'is_preorder'?>]"
                               value="<?= /* @escapeNotVerified */ 1 ?>"
                               type="hidden"/>
                    <?php endif; ?>
                </div>
            </div>
        </td>

        <td class="col subtotal" data-th="<?= $block->escapeHtml(__('Subtotal')) ?>">
            <?php if ($canApplyMsrp): ?>
                <span class="cart msrp subtotal">--</span>
            <?php else: ?>
                <?= $block->getRowTotalHtml($_item) ?>
            <?php endif; ?>

            <div class="item-actions">
                <div class="actions-toolbar">
                    <?= /* @escapeNotVerified */ $block->getActions($_item); ?>
                </div>
            </div>
        </td>
    </tr>
    <tr class="item-actions">
        <td colspan="100">
            <div class="actions-toolbar">
                <?= /* @escapeNotVerified */ $block->getActions($_item) ?>
            </div>
        </td>
    </tr>
</tbody>
