//
//  Mixins
//  =============================================

//  Icons

.font-icon(@_font-icon_icon:@themeicon-cross2, @_font-icon_font-family: @themeicon-font-family) {
    &:before {
        content: @_font-icon_icon;
        display: inline-block;
        font-family: @_font-icon_font-family;
        font-weight: 400;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

.font-icon__pseudo(@_font-icon_pseudo_icon:@themeicon-cross2, @_font-icon_pseudo_font-family: @themeicon-font-family) {
    content: @_font-icon_pseudo_icon;
    display: inline-block;
    font-family: @_font-icon_pseudo_font-family;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}


//  Icon rotation

.toggle-icons-via-rotation(@_size: 48px, @_font-family: @themeicon-font-family, @_font-size: 24px, @_icon-before: @themeicon-arrow-right, @_icon-after: @themeicon-cross2, @_trigger-class: active) {
    display: inline-block;
    position: relative;
    text-align: center;
    cursor: pointer;
    min-width: @_size;
    min-height: @_size;
    &:before,
    &:after {
        position: absolute;
        top: 0;
        left: 0;
        width: @_size;
        height: @_size;
        font-family: @_font-family;
        font-size: @_font-size;
        line-height: @_size;
        transition: .3s ease;
    }

    &:before {
        content: @_icon-before;
        opacity: 1;
        visibility: visible;
        transform: rotate(0deg) scale(1);
    }

    &:after {
        content: @_icon-after;
        opacity: 0;
        visibility: hidden;
        transform: rotate(-90deg) scale(0);
    }

    &.@{_trigger-class} {
        &:before {
            opacity: 0;
            visibility: hidden;
            transform: rotate(90deg) scale(0);
        }

        &:after {
            opacity: 1;
            visibility: visible;
            transform: rotate(0deg) scale(1);
        }
    }
}

//  Dropdown extend

._lib-dropdown-styles(
    @_options-selector,
    @_dropdown-list-z-index
) {
    @{_options-selector} {
        display: block;
        visibility: hidden;
        .lib-css(padding, @dropdown-list__padding);
        opacity: 0;
        z-index: -1;
        transform: translateY(5%);
        transition: 0.3s all ease;
    }

    &.active {
        @{_options-selector} {
            visibility: visible;
            opacity: 1;
            z-index: @_dropdown-list-z-index;
            transform: none;

            li:hover {
                cursor: inherit;
            }
        }
    }
}

.lib-dropdown(
    @_toggle-selector : ~".action.toggle",
    @_options-selector : ~"ul.dropdown",

    @_dropdown-actions-padding: @dropdown-actions__padding,
    @_dropdown-list-min-width: @dropdown-list__min-width,
    @_dropdown-list-width: @dropdown-list__width,
    @_dropdown-list-height: @dropdown-list__height,
    @_dropdown-list-margin-top: @dropdown-list__margin-top,
    @_dropdown-list-position-top: @dropdown-list__position-top,
    @_dropdown-list-position-bottom: @dropdown-list__position-bottom,
    @_dropdown-list-position-left: @dropdown-list__position-left,
    @_dropdown-list-position-right: @dropdown-list__position-right,
    @_dropdown-list-background: @dropdown-list__background,
    @_dropdown-list-border: @dropdown-list__border,
    @_dropdown-list-pointer: @dropdown-list__pointer,
    @_dropdown-list-pointer-border: @dropdown-list-pointer__border,
    @_dropdown-list-pointer-position: @dropdown-list-pointer__position,
    @_dropdown-list-pointer-position-top: @dropdown-list-pointer__position-top,
    @_dropdown-list-pointer-position-left-right: @dropdown-list-pointer__position-left-right,
    @_dropdown-list-item-border: @dropdown-list-item__border,
    @_dropdown-list-item-padding: @dropdown-list-item__padding,
    @_dropdown-list-item-margin: @dropdown-list-item__margin,
    @_dropdown-list-item-hover: @dropdown-list-item__hover,
    @_dropdown-list-shadow: @dropdown-list__shadow,
    @_dropdown-list-z-index: @dropdown-list__z-index,

    @_dropdown-toggle-icon-content: @dropdown-toggle-icon__content,
    @_dropdown-toggle-active-icon-content: @dropdown-toggle-icon__active__content,

    @_icon-font: @dropdown-toggle-icon__font,
    @_icon-font-size: @dropdown-toggle-icon__font-size,
    @_icon-font-line-height: @dropdown-toggle-icon__font-line-height,
    @_icon-font-color: @dropdown-toggle-icon__font-color,
    @_icon-font-color-hover: @dropdown-toggle-icon__font-color-hover,
    @_icon-font-color-active: @dropdown-toggle-icon__font-color-active,
    @_icon-font-margin: @dropdown-toggle-icon__font-margin,
    @_icon-font-position: @dropdown-toggle-icon__position,
    @_icon-font-vertical-align: @dropdown-toggle-icon__font-vertical-align,
    @_icon-font-text-hide: @dropdown-toggle-icon__text-hide
) {
    ._lib-dropdown-styles(
        @_options-selector: @_options-selector,
        @_dropdown-list-z-index
    );
}

//  Utilities

.lib-css-important(
    @_property,
    @_value
) when not (@_value = '')
  and not (@_value = false)
  and not (extract(@_value, 1) = false)
  and not (extract(@_value, 2) = false)
  and not (extract(@_value, 3) = false)
  and not (extract(@_value, 4) = false)
  and not (extract(@_value, 5) = false) {
        @{_property}: @_value !important;
}
