// /**
//  * Copyright © Zemez, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@minicart__border-color: @border-color__base;
@minicart__padding-horizontal: 25px;

@minicart-qty__size: false;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Minicart
    //  ---------------------------------------------

    .block-minicart {
        .items-total {
            margin-bottom: 15px;

            .count {
                font-weight: @font-weight__bold;
            }
        }

        .subtotal {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-end;
            font-size: 18px;
        }

        .amount {
            .price-wrapper {
                &:first-child {
                    .price {
                        font-size: @font-size__l;
                        font-weight: @font-weight__bold;
                    }
                }
            }
        }

        .subtitle {
            display: block;
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;

            &.empty {
                text-align: center;
            }
        }

        .text {
            &.empty {
                text-align: center;
            }
        }

        .block-content {
            > .actions {
                margin-top: 15px;
                text-align: center;

                > .primary {
                    .action {
                        &.primary {
                            &:extend(.abs-button-l all);
                            display: block;
                            margin-bottom: 15px;
                            width: 100%;

                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }

        .block-category-link,
        .block-product-link,
        .block-cms-link,
        .block-banners {
            margin: 15px 0 0;
            text-align: center;
        }

        .action.close {
            display: none;
        }
    }

    .minicart-wrapper {
        div.block-minicart {
            .lib-css(padding, 25px @minicart__padding-horizontal);

            .block-title {
                display: none;
            }
        }

        .product {
            .actions {
                position: absolute;
                top: 3px;
                right: 0;
                color: @color-light;

                > .primary,
                > .secondary {
                    display: inline;
                    margin-left: 4px;
                }
            }
        }

        .action {
            &.close {
                .lib-button-reset();
                .font-icon();
                height: 40px;
                position: absolute;
                right: 0;
                top: 0;
                width: 40px;
                color: @color-default;

                &:hover {
                    color: @color-primary;
                }

                span {
                    display: none;
                }
            }

            &.showcart {
                .toggle-icons-via-rotation(@_size: 30px, @_font-size: 22px, @_icon-before: @themeicon-bag2);
                display: block;
                padding-left: 35px;
                white-space: nowrap;

                .counter.qty {
                    display: inline-block;
                    position: absolute;
                    left: 28px;
                    top: -2px;

                    .lib-css(height, @minicart-qty__size);
                    .lib-css(min-width, @minicart-qty__size);
                    .lib-css(line-height, @minicart-qty__size);
                    color: @color-default;
                    font-size: 12px;

                    .loader {
                        > img {
                            .lib-css(max-width, @minicart-qty__size);
                        }
                    }
                }

                .counter-label {
                    display: none;
                }
            }
        }

        .minicart-widgets {
            margin-top: 15px;
        }
    }

    .minicart-items-wrapper {
        .lib-css(border, 1px solid @minicart__border-color);
        .lib-css(margin, 20px -@minicart__padding-horizontal 20px);
        padding: 7px 0;
        border-left: none;
        border-right: none;
        overflow-x: auto;
    }

    .minicart-items {
        .product-item {
            padding: @indent__base @minicart__padding-horizontal;

            &:not(:first-child) {
                .lib-css(border-top, 1px solid @minicart__border-color);
            }
        }

        .product-image-wrapper {
            &:extend(.abs-reset-image-wrapper all);
        }

        .product-item-pricing {
            .label {
                display: inline-block;
            }
        }

        .price-minicart {
            margin-bottom: @indent__xs;
        }

        .product-item > .product {
            display: flex;
            align-items: flex-start;
        }

        .product-item-name {
            display: block;
            font-weight: @font-weight__regular;
            margin: 0 0 10px;
        }

        .product-item-photo {
            flex-shrink: 0;
        }

        .product-item-details {
            position: relative;
            flex-grow: 1;
            padding-left: 15px;
            padding-right: 40px;

            .price-including-tax,
            .price-excluding-tax {
                margin: @indent__xs 0 0;
            }

            .weee[data-label] {
                .lib-font-size(11);

                .label {
                    &:extend(.abs-no-display all);
                }
            }

            .details-qty {
                margin-top: 10px;

                label {
                    margin-right: 5px;
                }
            }

            > .options {
                position: relative;
                margin-bottom: 10px;

                .toggle {
                    .lib-icon-font(
                        @_icon-font-content: @icon-down,
                        @_icon-font-size: 28px,
                        @_icon-font-line-height: 16px,
                        @_icon-font-text-hide: false,
                        @_icon-font-position: after,
                        @_icon-font-display: block
                    );
                    cursor: pointer;
                    position: relative;

                    &:after {
                        position: static;
                        right: @indent__base;
                        top: 0;
                    }
                }

                .content {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    padding: 5px 9px 9px;
                    min-width: 150px;
                    border: 1px solid @border-color__base;
                    .lib-css(background, @dropdown-list__background);
                    .lib-css(box-shadow, @dropdown-list__shadow);
                }

                &.active {
                    > .toggle {
                        .lib-icon-font-symbol(
                            @_icon-font-content: @icon-up,
                            @_icon-font-position: after
                        );
                    }
                }

            }
        }

        dl.options {
            &:extend(.abs-add-clearfix all);
            margin-bottom: 0;

            dt, dd {
                float: left;
                margin-bottom: 0;
                margin-top: 5px;
                font-size: 82%;
            }

            dt {
                clear: left;
                margin-right: 5px;

                &:after {
                    content: ':';
                }
            }
        }

        .details-qty,
        .price-minicart {
            .label {
                &:extend(.abs-colon all);
            }
        }

        .item-qty {
            margin-right: @indent__s;
            text-align: center;
            width: 45px;
            height: 30px;
            padding-left: 5px;
            padding-right: 5px;
        }

        .update-cart-item {
            .lib-font-size(11);
            vertical-align: top;
        }

        .subtitle {
            display: none;
        }

        .action {
            &.edit,
            &.delete {
                .font-icon(@themeicon-design_pen-01);

                span {
                    display: none;
                }
            }

            &.delete:before {
                content: @themeicon-ui-1_trash-simple;
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .block-minicart {
        display: none;

        .ui-dialog & {
            display: block;
        }
    }

    .minicart-wrapper {
        &:before {
            content: '';
            display: block;
            position: fixed;
            top: @header-mobile-nav-height;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: @modal-overlay__background-color;
            font-size: 0;
            visibility: hidden;
            opacity: 0;
            z-index: 16;
            transition: 0.3s all ease;
        }

        .action.showcart {
            display: block;
            position: fixed;
            top: 0;
            right: 0;
            z-index: 15;
            color: @header-mobile-nav-color;
            min-width: @header-mobile-nav-height;
            min-height: @header-mobile-nav-height;
            padding-left: @header-mobile-nav-height + 10px;

            &:before,
            &:after {
                width: @header-mobile-nav-height;
                height: @header-mobile-nav-height;
                font-size: @header-mobile-nav-icons-size;
                line-height: @header-mobile-nav-height;
            }

            .text {
                display: none;
            }

            .counter.qty {
                top: 10px;
                left: 42px;
                color: @header-mobile-nav-color;
            }
        }

        .ui-dialog {
            display: block !important;
            position: fixed;
            top: @header-mobile-nav-height;
            right: 0;
            bottom: 0;
            width: 300px;
            z-index: 17;
            overflow-y: auto;
            transform: translateX(110%);
            background-color: @color-white;
            box-shadow: @header-mobile-nav-box-shadow;
            transition: 0.3s transform ease;
        }

        &.active {
            &:before {
                visibility: visible;
                opacity: 1;
            }

            .ui-dialog {
                transform: none;
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .minicart-wrapper {
        .lib-dropdown(
            @_toggle-selector: ~'.action.showcart',
            @_options-selector: ~'.block-minicart',
            @_dropdown-list-width: 320px,
            @_dropdown-list-position-right: 0,
            @_dropdown-list-pointer-position: right,
            @_dropdown-list-pointer-position-left-right: 26px,
            @_dropdown-list-z-index: 101,
            @_dropdown-toggle-icon-content: false,
            @_dropdown-toggle-active-icon-content: false,
            @_dropdown-list-item-padding: false,
            @_dropdown-list-item-hover: false,
            @_icon-font-position: false,
            @_icon-font-size: false,
            @_icon-font-line-height: false,
            @_icon-font-color: false,
            @_icon-font-color-hover: false,
            @_icon-font-color-active: false
        );

        .block-minicart {
            right: -15px;
            width: 390px;
        }
    }
}
