@import 'source/project.css';

/* COMMON */

.easycms-line-break {
    clear:both;
    height:0;
    padding:0;
    width:0;
    font-size:0pt;
    width:100%;
}

.easycms-line-break-space {
    font-size:0pt;
    margin:0 0 20px 0;
    width:100%;
}

.easycms-item p {
    margin:0;
    padding:0;
}

.easycms-layout-padding {
    padding:10px;
}

.easycms-text-center {
    text-align: center;
}

.easycms-text-justify {
    text-align: justify;
}

.easycms-image-full img {
    width:100%;
}

.easycms-position-se,
.easycms-position-sw,
.easycms-position-ne,
.easycms-position-nw {
    position:absolute;
    margin:0px;
}

.easycms-position-ne {
    top:0;
    right:0;
}

.easycms-position-nw {
    top:0;
    left:0;
}

.easycms-position-se {
    bottom:0;
    right:0;
}

.easycms-position-sw {
    bottom:0;
    left:0;
}

.easycms-1column,
.easycms-2columns,
.easycms-3columns {
    position:relative;
    width:100%;
    clear:both;
}

.easycms-column {
    float:left;
}

.easycms-column.oneofone{
    width:100%;
}

.easycms-column.oneoftwo{
    width:50%;
}

.easycms-column.oneofthree{
    width:33.33%;
}

.easycms-column.oneoffour{
    width:25%;
}

.easycms-column.oneoffive{
    width:20%;
}

.easycms-column.twoofthree{
    width:66.66%;
}

.easycms-content {
    position:relative;
}

/* EDITOR */

.easycms-1column:hover,
.easycms-position-sw:hover,
.easycms-position-se:hover,
.easycms-position-nw:hover,
.easycms-position-ne:hover,
.easycms-column:hover {
    -moz-box-shadow: inset 0px 0px 4px 0px #eb5202;
    -webkit-box-shadow: inset 0px 0px 4px 0px #eb5202;
    -o-box-shadow: inset 0px 0px 4px 0px #eb5202;
    box-shadow: inset 0px 0px 4px 0px #eb5202;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#eb5202, Direction=NaN, Strength=10);
}

.easycms-line-break {
    border:1px dotted #ccc;
}

.clear {
	clear:both;
    height:0;
    padding:0;
    width:0;
    font-size:0pt;
    width:100%;
}

ul.mini-bx-slider {
	border: 1px solid #ccc;
	padding:0;
	overflow: hidden;
}

ul.mini-bx-slider li {
	float:left;
	padding:10px;
	list-style: none outside none;
}

ul.mini-bx-slider li:last-child:after {
	clear:both;
}

ul.mini-bx-slider li:hover {
	-moz-box-shadow: inset 0px 0px 4px 0px #eb5202;
    -webkit-box-shadow: inset 0px 0px 4px 0px #eb5202;
    -o-box-shadow: inset 0px 0px 4px 0px #eb5202;
    box-shadow: inset 0px 0px 4px 0px #eb5202;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#eb5202, Direction=NaN, Strength=10);
}