<?php /** @var \Project\Sales\Helper\Config $salesHelper */ ?>
<?php $salesHelper = $this->helper('Project\Sales\Helper\Config'); ?>

<fieldset class="fieldset admin__fieldset">
    <div class="admin__field field required _required">
        <label class="label admin__field-label" for="customer_source">
            <span>Customer Source</span>
        </label>
        <div class="admin__field-control control">
            <select id="customer_source" name="order[source_code]" class="required-entry required-entry _required select admin__control-select" aria-required="true">
                <?php foreach ($salesHelper->getSourcesCodes() as $sourcesCode) : ?>
                    <option value="<?php echo $sourcesCode['code']; ?>"><?php echo $sourcesCode['label']; ?></option>
                <?php endforeach; ?>
            </select>
        </div>
    </div>
</fieldset>
