<div class="discover-pages discover-shoes">
    <section class="section-top">
        <div class="easycms-block topbox-image">
            <img src="{{media url=cms/page/men-city-shoes/section-top-img1.jpg}}" alt="Image mobile" />
        </div>
        <div class="list-section-top">
            <ul class="navs">
                <li>
                    <a href="#manufacturing">製作工艺</a>
                </li>
                <li>
                    <a href="#the_last">鞋楦</a>
                </li>
                <li>
                    <a href="#the_upper">鞋面</a>
                </li>
                <li>
                    <a href="#the_sole">鞋底</a>
                </li>
                <li>
                    <a href="#the_finishing">润饰</a>
                </li>
            </ul>
        </div>
        <h1>男士系列</h1>
    </section>
    <section class="know-how" id="manufacturing">
        <div class="section-inner">
            <div class="title scroll-notvisible">
                <h2>— 专业知识 —</h2>
                <p>製作工艺</p>
            </div>
            <div class="easycms-block topbox-video scroll-notvisible">
                <div class="video-container">{{widget type="Project\Core\Block\Widget\Video" video_url="https://player.vimeo.com/external/202033762.hd.mp4?s=515ec7409bf4a280ff229b46a553e2db13cd05c0&profile_id=119" video_placeholder_text="Defaut video label"}}
                    <div class="play-button"><span>Watch the video</span></div>
                    <div class="mute-button"></div>
                </div>
            </div>
            <div class="description scroll-notvisible">
                <p>从製作鞋楦到打磨，Christian Louboutin鞋履的每道製作工序也体现引人入胜的工艺。</p>
                <p>Christian Louboutin位于意大利拿坡里的厂房由同一家族世代经营，与别不同。大师级工匠利用严格挑选的顶级物料，亲手製作男装鞋履，品质不言而喻。</p>
            </div>
        </div>
    </section>
    <section class="step-1" id="the_last">
        <div class="section-inner">
            <div class="title scroll-notvisible">
                <h2>— 第一步 —</h2>
                <p>鞋楦</p>
            </div>
            <div class="step-description left">
                <div class="img scroll-notvisible">
                    <p><img src="{{media url=cms/page/men-city-shoes/step1-img1.jpg}}"/></p>
                </div>
                <div class="info">
                    <p class="scroll-notvisible"><span>製</span>作鞋楦是造鞋的第一步，因为鞋楦会决定鞋的形状。完成木製鞋楦雏型和通过检测后，便会以高科技物料複製。上图的工匠将Christian的绘图製成纸样，以便製作成品。</p>
                    <div class="scroll-notvisible"><img src="{{media url=cms/page/men-city-shoes/step1-img2.jpg}}"/></div>
                </div>
            </div>
            <div class="slider-container scroll-notvisible">
                <h2>鞋履类型</h2>
                {{widget type="Synolia\Slider\Block\Widget\Slider" code="discover-animated-shoe-slider-hk" template="Synolia_Slider::widget/sliderAnimatedShoes.phtml"}}
            </div>
        </div>
    </section>
    <section class="step-2" id="the_upper">
        <div class="section-inner">
            <div class="title scroll-notvisible">
              <h2>— 第二步 —</h2>
              <p>鞋面</p>
            </div>
            <div class="step-description">
              <div class="img scroll-notvisible">
                  <p><img src="{{media url=cms/page/men-city-shoes/step2-img1.jpg}}"/></p>
              </div>
              <div class="info">
                  <p class="scroll-notvisible"><span>完</span>成纸样后，便要组装鞋身。「Tagliere a mano」是以人手裁剪皮革图样的工序，工匠必须受训多年，才能识别皮革的瑕疵，并于剪裁时仔细避开，确保鞋履只以最完美的皮革製造。</p>
                  <div class="scroll-notvisible"><img src="{{media url=cms/page/men-city-shoes/step2-img2.jpg}}"/></div>
              </div>
            </div>
        </div>
        <div class="materials scroll-notvisible">
            <div class="info">
                <p class="materials-title">物料</p>
                <p> Christian Louboutin系列所用的物料，无不体现品牌的玩味创意，以及对卓越工艺及创新设计的坚持。</p>
            </div>
            <div>{{widget type="Synolia\Slider\Block\Widget\Slider" code="discover-materials-slider-hk" template="Synolia_Slider::widget/sliderMaterials.phtml"}}</div>
        </div>
    </section>
    <section class="step-3" id="the_sole">
        <div class="section-inner">
            <div class="title scroll-notvisible">
                <h2>— 第三步 —</h2>
                <p>鞋底</p>
            </div>
            <div class="step-description">
                <div class="img scroll-notvisible">
                    <p><img src="{{media url=cms/page/men-city-shoes/step3-img1.jpg}}"/></p>
                </div>
                <div class="info">
                    <p class="scroll-notvisible"><span>终</span>于到经典红鞋底瞩目登场！品牌的多款鞋底也採用Blake Stitching结构，体现最讲究的工艺。工匠会将鞋底妥善固定于鞋面，使鞋能配合足部的自然动作，更舒适耐穿。</p>
                    <div class="scroll-notvisible"><img src="{{media url=cms/page/men-city-shoes/step3-img2.jpg}}"/></div>
                </div>
            </div>
        </div>
    </section>

    <h2 class="types-shoe">鞋履类别：</h2>

    {{widget type="Synolia\Slider\Block\Widget\Slider" code="discover-soles-slider-hk" template="Synolia_Slider::widget/sliderSoles.phtml"}}

    <section class="step-4" id="the_finishing">
        <div class="section-inner">
            <div class="title scroll-notvisible">
                <h2>— 第四步 —</h2>
                <p>润饰</p>
            </div>
            <div class="step-description">
                <div class="img scroll-notvisible">
                    <p><img src="{{media url=cms/page/men-city-shoes/step4-img1.jpg}}"/></p>
                <div>
                    <p>工匠会以人手涂上饰面，营造深邃亮泽的色调，传统皮革难以媲美。每批饰面涂层物料也独立调配，没有特定的配方，全靠工匠的眼光和专业判断。润饰过程会重複数次，直至形成理想的颜色。润饰必须分数次进行，厂房内的资深染色工匠会凭着敏锐的直觉，决定每对鞋需要润饰的次数。</p>
                </div>
                </div>
                <div class="info">
                    <p class="scroll-notvisible"><span>从</span>工匠的手裡，鞋子变成了一件艺术品, 从内到外一丝不苟。</p>
                    <div class="scroll-notvisible"><img src="{{media url=cms/page/men-city-shoes/step4-img2.jpg}}"/></div>
                </div>
            </div>
        </div>
        <div class="materials scroll-notvisible">
            <div class="info">
                <p class="materials-title">装饰</p>
                <p>从闪石到方锥形窝钉和杂锦窝钉，Christian Louboutin的夺目装饰皆以人手仔细添上，展现独一无二的奢华风格。</p>
            </div>
            <div>{{widget type="Synolia\Slider\Block\Widget\Slider" code="discover-embellishment-slider-hk" template="Synolia_Slider::widget/sliderEmbellishment.phtml"}}</div>
        </div>
    </section>
</div>
