<div class="block-contact"><span class="title">Contact</span>
    <p>Avoid crowds, our brand experts are ready to assist you with your sizing and styling needs.</p>
    <a href="#">Start Live Chat</a>
    <p>Please contact us by phone</p>
    <p><strong>+1 888 856 8247 (1888-8LOUBIS) Option 2</strong><br /> or <strong>by <a href="mailto:{{config path="trans_email/ident_general/email"}}">e-mail</a></strong></p>
</div>
<div class="block-reassurance"><span class="title">Why shop with us?</span>
    <ul>
        <li><span>Payment methods</span>
            <div class="images"><img src="{{media url='cms/block/default/visa.png'}}" /> <img src="{{media url='cms/block/default/mastercard.png'}}" /> <img src="{{media url='cms/block/default/amex.png'}}" /> <img src="{{media url='cms/block/default/paypal.png'}}" /></div>
        </li>
        <li><span>Secure shopping</span>
            <div class="image-content"><img src="{{media url='cms/block/default/secure-icons.png'}}" /></div>
            <p>Your security is important to us. For full details on how we protect your personal and payment information, please read our <a href="{{store url=''}}">Privacy Policy</a>.</p>
        </li>
        <li><span>Shipping</span>
            <div class="image-content"><img src="{{media url='cms/block/default/shipping.png'}}" /></div>
            <p>2 to 3 business days delivery and complementary Louboutin gift wrapping. Read more about our <a href="{{store url=''}}">Shipping Policy</a> and <a href="{{store url=''}}">Holiday Shipping options and free shipping</a>.</p>
        </li>
        <li><span>Returns</span>
            <div class="image-content"><img src="{{media url='cms/block/default/returns.png'}}" /></div>
            <p>We are pleased to extend our return period through January 9th, 2018 for all orders placed between December 1st and December 26th. Read more about our <a href="{{store url=''}}">Return Policy</a>.</p>
        </li>
    </ul>
</div>