<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), attr: {'checked': isChecked() && !isAvailable()}, click: selectPaymentMethod, visible: isRadioButtonVisible(), attr: {'disabled': !isAvailable()}"/>
        <label data-bind="attr: {'for': getCode()}" class="label">
            <!--ko if: isAvailable()-->
                <span data-bind="text: getTitle()+' ('+getFeeByQuoteAmount()+'￥)'"></span>
            <!--/ko-->
            <!--ko ifnot: isAvailable()-->
                <span data-bind="text: getTitle()"></span>
            <!--/ko-->
        </label>
    </div>

    <!--ko ifnot: isAvailable()-->
        <ul><li data-bind="html: getUnavailableMessage()"></li></ul>
    <!--/ko-->

    <div class="payment-method-content">
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')},
                        enable: (getCode() == isChecked()),
                        css: {disabled: !isPlaceOrderActionAllowed()}
                        "
                        disabled>
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>

    </div>
</div>
