<section class="top-part">
    <div class="easycms-block topbox-video">
        <div class="video-container">{{widget type="Project\Core\Block\Widget\Video" video_url="https://player.vimeo.com/external/475783862.sd.mp4?s=31fba31178eaed377f4863edec39438a401b7cec&profile_id=165" video_placeholder_text="Defaut video label"}} <img src="{{view url='giftGuid/IDEAS-FOR-HIM-gift-guide.jpg'}}" alt="">
            <div class="play-button">Watch the video</div>
            <div class="mute-button">&nbsp;</div>
        </div>
    </div>
    <div class="image-title">
        <div><img src="{{media url='giftGuid/THE_HOLIDAY_COUNTDOWN.jpg'}}" alt=""></div>
    </div>
    <nav class="top-links">
        <ul>
            <li><a href="#for-her">Idées pour elle</a></li>
            <li><a href="#for-him">Idées pour lui</a></li>
            <li><a href="#stocking-fillers">Petites attentions</a></li>
            <li><a href="#leather-goods">Maroquinerie</a></li>
            <li><a href="#beauty">Beauté</a></li>
            <li><a href="#evening-her">Le soir pour elle</a></li>
            <li><a href="#evening-him">Le soir pour lui</a></li>
        </ul>
    </nav>
    <div class="under-links section-category">
        <div class="main-desc">
            <p>En quête d’une idée originale ou d’une pièce intemporelle, trouvez tout ce qu’il vous faut dans notre guide cadeaux.</p>
        </div>
        <div class="products">{{widget type="Synolia\Slider\Block\Widget\Slider" code="gift-guid-main-products-slider" template="Synolia_Slider::widget/sliderProducts.phtml"}}</div>
    </div>
</section>
