<section class="section-category pictos">
    <div class="image-big ">
        <img src="{{media url='giftGuid/ICON_DELIVERY.gif'}}" alt="">
        <img src="{{media url='giftGuid/ICON_WISHLIST.gif'}}" alt="">
    </div>
</section>
