<div class="content-sections">
    <section id="for-her" class="section-category for-her">
        <div class="image-title">
            <div><img src="{{media url='giftGuid/IDEES_POUR_ELLE.gif'}}" alt=""></div>
        </div>
        <div class="image-big image-7">
            <div><img src="{{media url='giftGuid/IDEAS-FOR-HER-gift-guide.jpg'}}" alt=""></div>
        </div>
        <div class="section-text">
            <p class="scroll-view show">Suivez les indices qu'elle a semés…</p>
        </div>
        <div class="easycms-block title-subtitle-slider">
            <div class="products">{{widget type="Synolia\Slider\Block\Widget\Slider" code="gift-guid-for-her-products-slider" template="Synolia_Slider::widget/sliderProducts.phtml"}}</div>
        </div>
        <div class="link-center">
            <p><a href="{{store url=''}}">À CHACUNE SON CADEAU</a></p>
        </div>
    </section>
    <section id="for-him" class="section-category for-him">
        <div class="image-title">
            <div><img src="{{media url='giftGuid/IDEES_POUR_LUI.gif'}}" alt=""></div>
        </div>
        <div class="image-big">
            <div><img src="{{media url='giftGuid/IDEAS-FOR-HIM-gift-guide.jpg'}}" alt=""></div>
        </div>
        <div class="section-text">
            <p class="scroll-view show">SURPRENEZ-LE AVEC LE CADEAU PARFAIT</p>
        </div>
        <div class="easycms-block title-subtitle-slider">
            <div class="products">{{widget type="Synolia\Slider\Block\Widget\Slider" code="gift-guid-for-him-products-slider" template="Synolia_Slider::widget/sliderProducts.phtml"}}</div>
        </div>
        <div class="link-center">
            <p><a href="{{store url=''}}">IL VA ADORER</a></p>
        </div>
    </section>
    <section id="stocking-fillers" class="section-category stocking-fillers">
        <div class="image-title">
            <div><img src="{{media url='giftGuid/PETITES_ATTENTIONS.gif'}}" alt=""></div>
        </div>
        <div class="image-big">
            <div><img src="{{media url='giftGuid/STOCKING-FILLERS-gift-guide.jpg'}}" alt=""></div>
        </div>
        <div class="section-text">
            <p class="scroll-view show">Misez sur notre sélection d’accessoires pour varier les plaisirs.</p>
        </div>
        <div class="easycms-block title-subtitle-slider">
            <div class="products">{{widget type="Synolia\Slider\Block\Widget\Slider" code="gift-guid-stocking-fillers-products-slider" template="Synolia_Slider::widget/sliderProducts.phtml"}}</div>
        </div>
        <div class="link-center">
            <p><a href="{{store url=''}}">C’EST DANS LA POCHE</a></p>
        </div>
    </section>
    <section id="leather-goods" class="section-category leather-goods">
        <div class="image-title">
            <div><img src="{{media url='giftGuid/MARO.gif'}}" alt=""></div>
        </div>
        <div class="image-big">
            <div><img src="{{media url='giftGuid/LEATHER-GOODS-giftguide.jpg'}}" alt=""></div>
        </div>
        <div class="section-text">
            <p class="scroll-view show">Autant de styles que vous avez d'envies.</p>
        </div>
        <div class="easycms-block title-subtitle-slider">
            <div class="products">{{widget type="Synolia\Slider\Block\Widget\Slider" code="gift-guid-leather-goods-products-slider" template="Synolia_Slider::widget/sliderProducts.phtml"}}</div>
        </div>
        <div class="link-center">
            <p><a href="{{store url=''}}">METTEZ LA MAIN DESSUS</a></p>
        </div>
    </section>
    <section id="beauty" class="section-category beauty">
        <div class="image-title">
            <div><img src="{{media url='giftGuid/BEAUTE.gif'}}" alt=""></div>
        </div>
        <div class="image-big">
            <div><img src="{{media url='giftGuid/BEAUTY-gift-guide.jpg'}}" alt=""></div>
        </div>
        <div class="section-text">
            <p class="scroll-view show">Donnez de la couleur à vos cadeaux</p>
        </div>
        <div class="easycms-block title-subtitle-slider">
            <div class="products">{{widget type="Synolia\Slider\Block\Widget\Slider" code="gift-guid-beauty-products-slider" template="Synolia_Slider::widget/sliderProducts.phtml"}}</div>
        </div>
        <div class="link-center">
            <p><a href="{{store url=''}}">DE LA TÊTE AUX PIEDS</a></p>
        </div>
    </section>
    <section id="evening-her" class="section-category evening-for-her">
        <div class="image-title">
            <div><img src="{{media url='giftGuid/LE_SOIR_POUR_ELLE.gif'}}" alt=""></div>
        </div>
        <div class="image-big">
            <div><img src="{{media url='giftGuid/EVENING-gift-guide.jpg'}}" alt=""></div>
        </div>
        <div class="section-text">
            <p class="scroll-view show">Tenue de soirée exigée </p>
        </div>
        <div class="easycms-block title-subtitle-slider">
            <div class="products">{{widget type="Synolia\Slider\Block\Widget\Slider" code="gift-guid-evening-her-products-slider" template="Synolia_Slider::widget/sliderProducts.phtml"}}</div>
        </div>
        <div class="link-center">
            <p><a href="{{store url=''}}">BRILLEZ DE MILLE FEUX</a></p>
        </div>
    </section>
    <section id="evening-him" class="section-category evening-for-him">
        <div class="image-title">
            <div><img src="{{media url='giftGuid/LE_SOIR_POUR_LUI.gif'}}" alt=""></div>
        </div>
        <div class="image-big">
            <div><img src="{{media url='giftGuid/EVENING-gift-guide.jpg'}}" alt=""></div>
        </div>
        <div class="section-text">
            <p class="scroll-view show">La saison des fêtes est officiellement ouverte !</p>
        </div>
        <div class="easycms-block title-subtitle-slider">
            <div class="products">{{widget type="Synolia\Slider\Block\Widget\Slider" code="gift-guid-evening-him-products-slider" template="Synolia_Slider::widget/sliderProducts.phtml"}}</div>
        </div>
        <div class="link-center">
            <p><a href="{{store url=''}}">MONTEZ EN STYLE</a></p>
        </div>
    </section>
</div>
