.block.newsletter {
    .title {
        display: none;
    }
    #loading-message.error{
        color: #ed1e24;
    }
    #loading-message.success{
        color: #006400;
    }
}
//Temporary code: unsubscribe Newsletter from customer account
.form-newsletter-manage{
    .unsubscribe-request{
        margin: 2.5em auto;
    }
    .unsubscribe-inprogress{
        color: #0a0a36;
        margin: 2.5em auto;
        display: none
    }
}


