@mobile-cart-padding: 15px;
@cart-price-color: @color-black;
@cart-item-cell-padding-top: 20px;
@border-color__cart: @color-grey-border;
@border-width__cart: 2px;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Shopping cart
    //  ---------------------------------------------

    .checkout-cart-index {
        .page-main {
            padding-left: 0;
            padding-right: 0;
        }

        .page-title-wrapper {
            padding-left: @layout__width-xs-indent;
            padding-right: @layout__width-xs-indent;
        }
        .cart.table-wrapper .product-item-photo  {
            img {
                height: auto;
            }
        }
    }

    //  Cart container
    .cart-container {
        .form-cart {
            &:extend(.abs-shopping-cart-items all);
            margin: 0 0 5px;

            .actions.main {
                .action.update {
                    background: inherit;
                    border: none;
                    .lib-css(box-shadow, none, 1);
                    color: @color-grey-five;
                    font-size: @font-size_13;
                    text-transform: none;
                    letter-spacing: normal;
                    .lib-project-icon(
                        @icon-project-refresh,
                        @_icon-font-size: @font-size_20,
                        @_icon-font-color: @color-grey-five
                    );

                    &:before {
                        margin: 0 5px 0 0;
                    }

                    &:hover {
                        color: @color-louboutin-red;
                        .lib-css(transition, color .3s, 1);

                        &:before {
                            color: @color-louboutin-red;
                            .lib-css(transition, color .3s, 1);
                        }
                    }
                }
            }
            .product-item-details {
                .product-item-attributes {
                    font-weight: lighter;
                }
                .item-options {
                    dt , dd {
                        font-weight: lighter;
                    }
                }
            }
        }

        .totals-bottom {
            display: none;
        }
    }

    //  Summary block
    .cart-summary-bottom {
        &:extend(.abs-add-box-sizing all);
        margin-bottom: @indent__m;
        padding: 1px 0 @indent__m;

        > .title {
            .lib-font-size(24);
            display: none;
            font-weight: @font-weight__light;
            margin: 12px 0;
        }

        .block {
            form:not(:last-of-type) {
                .fieldset {
                    margin: 0 0 @indent__m;
                }
            }

            .price {
                font-weight: @font-weight__bold;
            }

            .field {
                margin: 0 0 16px;

                &.note {
                    display: none;
                }
            }

            .actions-toolbar {
                > .primary {
                    text-align: left;

                    .action.primary {
                        &:extend(.abs-revert-to-action-secondary all);
                        width: auto;
                    }
                }
            }

            .fieldset.estimate {
                > .legend,
                > .legend + br {
                    &:extend(.abs-no-display all);
                }
            }

            &:extend(.abs-cart-block all);

            .title {
                strong {
                    font-weight: @font-weight__regular;
                }
            }

            .item-options {
                margin: 0 0 16px;

                .field {
                    .radio {
                        float: left;
                    }

                    .radio {
                        + .label {
                            display: block;
                            margin: 0;
                            overflow: hidden;
                        }
                    }
                }
            }

            &.shipping {
                &.hide-estimate-shipping {
                    display: none;
                }

                .title {
                    text-align: center;
                    color: @color-warm-grey-two;
                    margin: 0;
                    padding: 15px 20px 0;
                    background: @color-pale-grey;

                    &:after {
                        display: none;
                    }
                }

                .content {
                    padding: 15px 20px;
                    background: @color-pale-grey;
                }

                label {
                    display: none;
                }

                select {
                    visibility: visible;
                    width: 100%;
                    height: 36px;
                    padding: 5px 25px 4px 20px;
                    background: @color-select-black url('@{baseDir}images/select-black-bg.png') no-repeat center right;
                    background-size: 27.5px 15px;
                    font-size: @font-size_13;
                    color: @color-white;
                }

                input {
                    padding: 8px 20px 9px;
                    font-size: @font-size_11;
                }

                .fieldset {
                    margin: 0 0 20px;

                    &:last-child {
                        margin: 0;
                    }
                }

                form {
                    .title {
                        margin: 0 0 20px;
                    }
                }

                dt,
                dd {
                    color: @color-black;
                    font-weight: @font-weight__regular;

                    .price {
                        font-weight: @font-weight__regular;
                    }
                }
            }
        }

        .page-main & {
            .block {
                margin-bottom: 0;
            }
        }

        .checkout-methods-items {
            &:extend(.abs-reset-list all);
            margin: 0;
            padding: 0 @mobile-cart-padding;
            text-align: center;

            .action.primary.checkout {
                &:extend(.abs-button-l all);
                width: 100%;
            }

            .item {
                margin-bottom: @indent__m;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .message {
            padding-left: @indent__base;

            > *:first-child:before {
                display: none;
            }
        }

        &:extend(.abs-adjustment-incl-excl-tax all);

        .action {
            &.multicheckout {
                color: @color-blue2;
            }
        }

        .cart-totals {
            margin-bottom: 0;
        }

        .extra-links {
            display: none;
        }
    }

    //  Totals block
    .cart-totals {
        border-top: @border-width__cart solid @border-color__cart;
        padding-top: 35px;
        margin-bottom: 20px;

        tbody,
        tfoot {
            .mark {
                text-align: left;
            }
        }
    }

    .ja-jp {
        .cart-totals {
            table > caption {
                clip: unset;
                height: auto;
                width: auto;
                margin: 0;
                overflow: auto;
                position: relative;
            }

            tbody {
                tr {
                    &.grand.totals.excl,
                    &.totals-tax,
                    &.totals.shipping.incl {
                        display: none;
                    }
                }
            }

            &#cart-totals-bottom {
                tbody {
                    tr {
                        &.totals.shipping.incl {
                            display: block;

                            .value {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }

    //  Products table
    .cart {
        &.table-wrapper {
            .cart {
                thead {
                    tr th.col {
                        border-bottom: @border-width__cart solid @border-color__cart;
                        padding-bottom: 15px;
                        padding-top: 24px;
                    }
                }

                tbody {
                    td {
                        border: 0;
                    }
                }

                .items {
                    border-bottom: @border-width__cart solid @border-color__cart;
                }

                > .item {
                    position: relative;
                }
            }

            .col {
                padding-top: 15px;

                &.price,
                &.subtotal,
                &.msrp {
                    padding: 30px 0 @indent__s;
                    text-align: center;
                    &:extend(.abs-incl-excl-tax all);
                }
                &.subtotal {
                    .price {
                        font-size: 15px;
                        font-weight: 200;
                    }
                }

                &.qty {
                    padding: 30px 11px @indent__s;
                    text-align: center;

                    .input-text {
                        height: 28px;
                        text-align: center;
                        width: 50px;
                        padding: 0 5px;
                    }
                }

                > .price {
                    .lib-css(color, @primary__color__lighter);
                    .lib-font-size(18);
                    font-weight: @font-weight__bold;
                }

                &.price {
                    display: none;
                }
            }

            .item-actions {
                td {
                    padding-bottom: 0;
                    padding-left: @mobile-cart-padding;
                    padding-right: @mobile-cart-padding;
                    white-space: normal;
                }
            }

            .item {
                .col.item {
                    display: block;
                    min-height: 75px;
                    padding: 20px 0 0;
                    position: relative;
                }
            }

            .actions-toolbar {
                &:extend(.abs-add-clearfix all);
                min-height: 20px;
                padding-bottom: 15px;
                position: relative;

                > .action {
                    display: none;
                }

                > .action-edit,
                > .action-delete {
                    position: absolute;
                    right: 16px;
                    top: 0;
                    .lib-icon-font(
                        @icon-edit,
                        @_icon-font-size: 18px,
                        @_icon-font-line-height: 20px,
                        @_icon-font-text-hide: true,
                        @_icon-font-color: @minicart-icons-color,
                        @_icon-font-color-hover: @primary__color,
                        @_icon-font-color-active: @minicart-icons-color
                    );
                    display: none;
                }

                .action-delete {
                    &:extend(.abs-action-button-as-link all);
                    right: 0;
                    .lib-project-icon(
                        @icon-project-close-bold,
                        @_icon-font-size: @font-size_13,
                        @_icon-font-color: @color-warm-grey
                    );
                }
            }

            .action {
                margin-right: @indent__m;

                &:last-child {
                    margin-right: 0;
                }

                &.help.map {
                    &:extend(.abs-action-button-as-link all);
                    font-weight: @font-weight__regular;
                }

                &.action-towishlist {
                    display: none;
                }
            }

            .product {
                &-item-photo {
                    padding: 0;
                }

                &-item-name {
                    display: block;
                    margin: -3px 0 @indent__xs;
                }
            }

            .gift-registry-name-label {
                &:after {
                    content: ':';
                }
            }

            //  Product options
            .item-options {
                margin-bottom: 0;
                &:extend(.abs-product-options-list all);
                &:extend(.abs-add-clearfix all);
            }

            .product-item-name + .item-options {
                margin-top: @indent__base;
            }

            .cart-tax-total {
                &:extend(.abs-tax-total all);

                &-expanded {
                    &:extend(.abs-tax-total-expanded all);
                }
            }

            .product-image-wrapper {
                &:extend(.abs-reset-image-wrapper all);
            }

            .action.configure {
                display: inline-block;
                margin: @indent__s 0 0;
            }

            .item .message {
                margin-top: @indent__base;
            }

            .product-item-details {
                dt,
                dd {
                    font-weight: @font-weight__regular;
                    margin-bottom: 0;
                }
            }
        }
    }

    //  Products pager
    .cart-products-toolbar {
        .toolbar-amount {
            left: inherit;
            margin: @indent__m 0 15px;
            padding: 0;
            position: relative;
            text-align: center;
            top: inherit;
        }
    }

    .cart-products-toolbar-top {
        border-bottom: @border-width__cart solid @border-color__cart;
    }

    //  Discount
    .cart-discount {
        border-bottom: @border-width__cart solid @border-color__cart;
        clear: left;
        &:extend(.abs-discount-block all);
    }

    //  Empty cart
    .cart-empty {
        padding-left: @layout__width-xs-indent;
        padding-right: @layout__width-xs-indent;
    }

    .cart-tax-info,
    .cart .cart-tax-info {
        + .cart-tax-total {
            display: block;
        }
    }

    .cart.table-wrapper,
    .order-items.table-wrapper {
        .col.price,
        .col.qty,
        .col.subtotal,
        .col.msrp {
            text-align: right;
        }
    }

    .checkout-reassurance {
        background: @color-pale-grey;
        padding: 10px 0;

        .title {
            display: block;
            margin: 12px 0 20px;
            text-align: center;
            font-size: 12px;
            font-weight: bold;
            &:before {
                content:"";
                display: block;
                height: 1px;
                border: 0;
                border-top: 1px dotted #d0d0d0;
                margin: 0px 0px 13px 0px;
                padding: 0;

            }
        }

        p {
            margin-bottom: 0;

            a {
                margin: 0;
            }
        }

        a,
        strong {
            color: @color-black-title;
        }

        a {
            text-decoration: underline;
            margin: 20px 0;
            display: inline-block;
            font-weight: @font-weight__bold;
        }

        .block-contact {
            border-bottom: 1px dotted @color-pinkish-grey;
            padding: 0 20px 32px;
            text-align: center;

            p,
            a {
                font-size: @font-size_12;
                color: black;
            }


            p.notblack {
                color: #888;
            }
        }

        .block-reassurance {
            padding: 17px 15px 0;
            text-align: center;
            clear: both;

            ul {
                padding: 0;
                margin: 0;
                font-size: 12px;
            }

            li {
                list-style: none;
                margin: 0 0 45px;

                &:last-child {
                    margin: 0 0 20px;
                }

                span {
                    display: block;
                    margin: 0 0 15px;
                }

                .images {
                    img {
                        display: inline;
                        margin: 0 1.8%;
                        opacity: .3;
                        .lib-css(transition, all ease .5s, 1);

                        &:hover {
                            opacity: 1;
                            .lib-css(transition, all ease .5s, 1);
                        }
                    }
                }

                .image-content {
                    display: inline-block;
                    width: 124px;
                    height: 124px;
                    border: solid 2px @color-warm-grey-three;
                    .lib-css(border-radius, 62px, 1);
                    background-color: @color-button-grey;
                    position: relative;

                    img {
                        display: block;
                        margin: 50% auto 30px;
                        .lib-css(transform, translateY(-50%), 1);
                    }
                }
            }

            p {
                font-size: @font-size_11;
            }
        }
    }
    .checkout-cart-index {
        .cart-container {
            .form-cart {
                .table-wrapper {
                    margin-bottom: 15px;
                }
                .actions.main {
                    padding-bottom: 15px;
                    .action.update {
                        padding-top: 3px;
                    }
                }
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .cart {
        .table.items {
            .col.item,
            .item-actions td {
                &:extend(.abs-col-no-prefix all);
            }

            tbody > tr > td:last-child {
                &:extend(.abs-no-border-bottom-top all);
            }
        }

        &.table-wrapper {
            .col.qty {
                .qty {
                    div.mage-error {
                        white-space: normal;
                        font-size: 11px;
                        max-width: 115px;
                    }
                }

            }
        }
    }
    .cart-totals {
        .totals {
            &:extend(.abs-sidebar-totals-mobile all);
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .checkout-cart-index {
        .page-title {
            display: none;
            padding-top: 45px;
        }
        .cart-summary-bottom .checkout-methods-items {
            padding: 0;
            position: fixed;
            bottom: 10px;
            left: 0;
            width: 94.6%;
            right: 0;
            margin: auto;
            z-index: 99;
        }
    }

    .continue-shopping {
        display: none;
    }

    //  Cart container
    .cart-container {
        .lib-css(display, flex, 1);
        .lib-css(flex-direction, column, 1);
        padding: 0 20px;

        .form-cart {
            .lib-css(order, 0, 1);

            .actions.main {
                text-align: center;
            }
        }

        .cart-summary {
            .lib-css(order, 3, 1);

            .cart-totals {
                display: none;
            }
        }
    }

    .cart-summary-bottom {
        .lib-css(order, 2, 1);
        .lib-css(display, flex, 1);
        .lib-css(flex-direction, column, 1);

        .cart-totals {
            .lib-css(order, 1, 1);
        }

        .checkout-methods-items {
            .lib-css(order, 3, 1);
            padding: 0;
        }

        .block.shipping {
            .lib-css(order, 2, 1);
        }
    }

    .cart-discount {
        .lib-css(order, 4, 1);
        border-bottom: @border-width__cart solid @border-color__cart;
    }

    .cart {
        &.table-wrapper {
            border-top: @border-width__cart solid @border-color__cart;
            margin: 0 0 5px;

            thead {
                .col {
                    &.item,
                    &.qty,
                    &.price,
                    &.subtotal,
                    &.msrp {
                        display: none;
                    }
                }
            }

            .col {
                &.qty,
                &.subtotal,
                &.msrp {
                    box-sizing: border-box;
                    display: block;
                    white-space: nowrap;

                    &:before {
                        content: attr(data-th);
                        margin: 0 15px 0 0;
                        letter-spacing: 2px;
                    }

                    .qty,
                    &:before {
                        display: inline-block;
                        vertical-align: middle;
                    }
                }

                &.qty,
                &.subtotal {
                    width: 49%;
                    float: right;
                    clear: right;
                }

                &.qty {
                    padding: 5px 0 10px;
                    text-align: left;
                    margin-top: -75px;

                    label {
                        display: none;
                    }
                }

                &.msrp {
                    white-space: normal;
                }

                &.subtotal {
                    padding: 5px 0 35px;
                    border-top: 1px dotted @color-pinkish-grey;
                    margin-top: -35px;

                    &:before {
                        display: none;
                    }

                    .price-including-tax,
                    .price-excluding-tax {
                        .price {
                            font-size: @font-size_15;
                            font-weight: @font-weight__regular;
                        }
                    }

                    .item-actions {
                        display: none;
                    }
                }
            }

            .item .col.item {
                padding-bottom: 0;
                width: 100%;
                white-space: nowrap;
                box-sizing: border-box;

                .product-item-photo,
                .product-item-details {
                    display: inline-block;
                    vertical-align: top;
                    width: 50%;
                }
                .product-item-details {
                    max-height: 55px;
                }


                .product-item-photo {
                    text-align: right;

                    img {
                        width: 91px;
                        height: 70px;
                        margin: 0 10% 0 0;
                    }
                }

                .product-item-details {
                    font-size: @font-size_13;

                    .product-item-name {
                        font-weight: @font-weight__bold;

                        a:hover {
                            text-decoration: none;
                        }
                    }

                    .product-item-attributes {
                        display: block;
                        white-space: initial;
                        line-height: 1.38;
                    }
                }
            }

            tbody > tr > td:last-child {
                border: 0;
            }

            .cart {
                display: block;
                border-top: none;

                .item-info {
                    padding: 0 15px;
                    display: inline-block;
                    width: calc(~"100% - 30px");
                }

                .item-actions {
                    position: absolute;
                    top: 45px;

                    td {
                        width: 15px;
                        height: 15px;
                        padding: 0;

                        .actions-toolbar {
                            min-height: inherit;
                            padding: 0;
                            position: static;

                            .action-edit {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }

    .cart-totals {
        .table-wrapper {
            border-top: 0;
            padding: 0 0 20px;
            position: relative;
        }

        .totals {
            tbody > tr:not(:last-child) > td:last-child {
                border: 0;
            }
        }

        .table > tbody > tr {
            & > th,
            & > td {
                border: none;
                text-align: right;
            }
        }

        th,
        td {
            padding: 0 20px;

            strong,
            span {
                width: 100%;
            }
        }

        th {
            font-size: @font-size_14;
            color: @color-warm-grey;
            font-weight: @font-weight__regular;
            text-align: right;

            &.mark {
                text-align: right;
            }
        }

        td {
            color: @color-black;

            strong {
                font-weight: @font-weight__regular;
            }
        }

        tbody tr {
            &.grand.totals.incl {
                th,
                td {
                    box-sizing: border-box;
                    width: 70%;
                }
            }

            &.grand.totals.excl {
                strong {
                    font-weight: @font-weight__regular;
                }
            }

        }
    }
}

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    //  Cross sell
    .block {
        &.crosssell {
            .lib-css(padding, 0 @mobile-cart-padding);
            margin-top: 70px;

            .product-item-info {
                width: 200px;
            }
        }
    }

    .checkout-cart-index {
        .checkout-reassurance {
            .block-reassurance {
                li {
                    .images {
                        text-align: center;

                        .im {
                            width: 17%;
                            float: none;
                            margin: 0 3%;
                            display: inline-block;

                            img {
                                width: auto;
                                float: none;
                            }
                        }

                        &.second {
                            .im {
                                width: 24%;
                                vertical-align: middle;
                            }
                        }
                    }

                }
            }
        }
    }

}
//
//  Desktop
//  _____________________________________________

@media (max-width: 1400px) and (min-width: 1300px) {
    .checkout-cart-index .cart.table-wrapper .col.qty {
        min-width: 259px;
        text-align: left;
        .field.qty {
            width: 100%;
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .checkout-cart-index {
        .page-main {
            padding: 30px 40px 0 40px;
        }

        .page-title-wrapper {
            &:extend(.abs-revert-side-paddings all);
            padding-top: 0;
            margin-bottom: 40px;

            .page-title {
                font-size: 19.5px;
                text-transform: none;
                letter-spacing: normal;
                color: @color-black;
                display: block;
                padding: 0.83em 0;
                font-weight: 200;
                line-height: 1.4;
                margin-bottom: 0;
            }
        }
        .cart-summary-bottom {
            .checkout-methods-items .action.primary.checkout {
                padding: 15px 40px 13px 40px;
                letter-spacing: 1px;
                font-weight: 400;
                font-family: 'FrutigerBold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
                width: auto;
                display: block;
                float: right;
                line-height: 14px;
                border-bottom: 3px solid #b32025;
                -moz-box-shadow: 0 2px 0 0 #DDD;
                -webkit-box-shadow: 0 2px 0 0 #DDD;
                box-shadow: 0 2px 0 0 #DDD;
            }
            .cart-totals tbody {
                tr.grand.totals.incl th,th {
                    text-align: right;
                    padding: 6px 19px 6px 0;
                }
                td {
                    padding-left: 34px;
                }
            }
        }
        .cart-totals {
            margin-top: 0;
            .table-wrapper {
                padding: 0;
            }
        }
        .checkout-reassurance {
            .block-contact {
                p, a {
                    color: black;
                    font-weight: normal;
                }
                p {
                    &:first-child {
                        color: #888 !important;
                    }
                }
            }
            p, a {
                font-weight: normal;
                strong {
                    font-weight: normal;
                }
            }
            li {
                p {
                    padding-left: 10px;
                    margin-top: 10px;
                }
            }
        }
        .cart-container {
            .form-cart .actions.main .action.update {
                color: #888;
                &:before {
                    color: #DBDBDB;
                }
                &:hover {
                    color: #ed1e24;
                    &:before {
                        color: #ed1e24;
                    }
                }
            }
            .form-cart {
                width: 77%;
            }
        }
        .cart.table-wrapper {
            .product-item-details {
                margin-top: 30px;
            }
            .items {
                border-bottom: 3px solid #f0f1f1;
            }
            .col.subtotal {
                .price {
                    font-weight: normal !important;
                    font-size: 15px !important;
                }
            }
        }
        .table > tbody + tbody {
            border-top: none;
        }
    }

    //  Cart container
    .cart-container {
        &:extend(.abs-add-clearfix-desktop all);

        .form-cart {
            &:extend(.abs-shopping-cart-items-desktop all);
            width: 75%;

            .actions.main {
                text-align: right;
                padding-bottom: 15px;
                border-bottom: 3px solid @border-color__cart;

                .action.update {
                    padding: 0;
                }
            }
            .table-wrapper {
                margin-bottom: 15px;
            }
        }

        .widget {
            float: left;
        }
    }

    .continue-shopping {
        width: calc(~"71.3% - 300px");
        float: left;

        .action.continue {
            margin: 10px 0;
            display: inline-block;
        }
    }

    .cart-summary-bottom {
        clear: none;
        width: 339px;
        float: right;
        margin-right: 40px;
        .lib-css(display, flex, 1);
        .lib-css(flex-direction, column, 1);

        .cart-totals {
            .lib-css(order, 0, 1);
            background: @color-white;
            margin-top: 0;
            padding: 0 20px;

            tbody {
                tr.grand.totals.incl {
                    th,
                    td {
                        border: none;
                        padding: 6px 0;
                        font-size: @font-size_14;
                    }
                }

                th,
                td {
                    font-size: @font-size_14;

                }

            }

            .table-wrapper {
                padding: 0 0 25px;
            }
        }

        .block.shipping {
            .lib-css(order, 1, 1);

            .title strong {
                font-size: @font-size_13;
            }
        }

        .checkout-methods-items {
            .lib-css(order, 2, 1);
            padding: 0;

            .action.primary.checkout {
                padding: 10px 50px;
                font-size: @font-size_12;
            }
        }
    }

    //  Summary block
    .cart-summary {
        .lib-layout-column(2, 2, @layout-column-checkout__width-left);
        padding: 0;
        position: relative;
        width: 25%;

        > .title {
            display: block;
        }

        .fieldset {
            .actions-toolbar {
                margin-left: 0;

                > .secondary {
                    float: none;
                }
            }
        }

        .block {
            > .title {
                padding-left: 0;

                &:after {
                    right: 3px;
                }
            }

            .content {
                &:extend(.abs-revert-side-paddings all);
            }

            .fieldset {
                .field {
                    .lib-form-field-type-revert(@_type: block);
                    margin: 0 0 @indent__s;
                }
            }
        }

        .checkout-methods-items {
            padding: 0;
        }

        .cart-totals {
            .lib-css(order, 1, 1);
        }

        .checkout-methods-items {
            .lib-css(order, 3, 1);
            padding: 0;
        }

        .block.shipping {
            .lib-css(order, 2, 1);
        }

        .grand.totals.incl {
            td > strong {
                .price {
                    display: inline-block;
                    width: max-content;
                }
            }
        }
    }

    //  Products table
    .cart {
        &.table-wrapper {
            thead {
                display: none;
            }

            .items { // Google Chrome version 44.0.2403.107 m fix
                min-width: 100%;
                width: auto;
            }

            tbody td {
                padding-top: @cart-item-cell-padding-top;
            }

            .item {
                .col.item {
                    padding: 0 0 5px 0;
                }
            }

            .item-actions td {
                padding: 0;
            }

            .product {
                &-item-photo {
                    display: inline-block;
                    padding: 0 30px 0 0;
                    position: static;
                    vertical-align: top;
                }

                &-item-details {
                    padding-bottom: 0;
                    display: inline-block;
                    vertical-align: top;
                    white-space: normal;
                    max-width: 56%;
                }
            }

            .actions-toolbar {
                margin-top: 5px;

                .action-delete {
                    display: block;

                    &:hover {
                        text-decoration: none;
                    }

                    span {
                        width: auto;
                        clip: inherit;
                        height: auto;
                        margin: 0 0 0 5px;
                        position: static;
                        color: @color-warm-grey;
                        font-size: @font-size_12;
                        border: none;
                    }
                }
            }

            .product-item-name {
                font-weight: @font-weight__bold;
                font-size: @font-size_20;
                margin: 0 0 15px;

                a {
                    text-decoration: none;
                }
            }

            .col {
                &.qty {
                    padding-right: 0;
                    min-width: 116px;
                    font-size: 12px;


                    label,
                    .control.qty {
                        display: inline-block;
                        margin: 0 10px 0 0;
                    }

                    .field.qty {
                        border-bottom: 1px dotted #cccccc;
                        padding-bottom: 10px;
                        display: inline-block;
                        position: relative;


                        div.mage-error {
                            position: absolute;
                            left: 0;
                            margin-top: 20px;
                            margin-right: 5px;
                            text-align: center;
                        }
                    }
                }

                &.subtotal {
                    padding-left: 0;
                    min-width: 80px;

                    span {
                        line-height: 28px;
                        border-bottom: 1px dotted #cccccc;
                        padding-bottom: 10px;

                        span {
                            border: none;
                            padding: 0;
                        }
                    }

                    .action-delete {
                        span {
                            border: none;
                        }
                        &:hover {
                            &:before,span {
                                color: @color-louboutin-red;
                            }

                        }
                    }
                }
            }

            tr.item-actions {
                display: none;
            }

            .cart > .item {
                border-width: 3px;
            }
        }
    }

    //  Products pager
    .cart-products-toolbar {
        margin: 2px 0 0;

        .toolbar-amount {
            line-height: 30px;
            margin: 0;
        }

        .pages {
            float: right;

            .item {
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .cart.table-wrapper {
        .cart-products-toolbar {
            + .cart {
                thead {
                    tr {
                        th.col {
                            padding-bottom: @indent__s;
                            padding-top: @indent__s;
                        }
                    }
                }
            }
        }

        .cart {
            + .cart-products-toolbar {
                margin-top: @indent__m;
            }
        }
    }

    .cart-totals {
        border: none;
        padding: 10px;
        background: @color-grey-six;
        margin-top: 20px;

        .table-wrapper {
            margin: 0;
            padding: 0 0 45px;
            position: relative;
        }

        tbody tr {
            th,
            td {
                border: none;
                font-size: @font-size_12;
                font-weight: @font-weight__regular;
                padding: 6px 0;
                line-height: 1;
            }

            th {
                color: @color-warm-grey;
            }

            td {
                color: @color-black-title;
                text-align: right;
            }

            &.totals.sub.excl {
                .amount > span {
                    display: inline-block;
                    width: max-content;
                }
            }

            &.grand.totals.excl {
                strong {
                    font-weight: @font-weight__regular;
                }
            }

            &.grand.totals.incl {
                th,
                td {
                    border-top: 1px solid @color-pinkish-grey;
                    padding: 9px 0;
                    font-size: @font-size_13;
                    width: 100%;
                }
            }
        }
    }

    //  Discount
    .cart-discount {
        &:extend(.abs-discount-block-desktop all);
        .lib-layout-column(2, 1, @layout-column-checkout__width-main);
        border: 0;
        box-sizing: border-box;
        padding-right: 4%;

        .block {
            .title {
                &:after {
                    display: inline;
                    margin-left: @indent__s;
                    position: static;
                }
            }
        }
    }

    //  Empty cart
    .cart-empty {
        &:extend(.abs-revert-side-paddings all);
    }

    //  Cross sell
    .block {
        &.crosssell {
            .lib-layout-column(2, 1, @layout-column-checkout__width-main);
            &:extend(.abs-add-box-sizing-desktop all);
            padding: 0 4% 0 0;

            .products-grid .product-item {
                width: 100%/4;
            }
        }
    }

    .checkout-reassurance {
        .block-reassurance {
            li {
                span {
                    display: block;
                }

                p {
                    width: 100%;
                    display: inline-block;
                    text-align: left;
                    vertical-align: top;
                }

                .images {
                    text-align: center;
                    .im {
                        width: 17%;
                        float: none;
                        margin: 0 3%;
                        display: inline-block;
                        img {
                            width: auto;
                            float: none;
                        }
                    }
                    &.second {
                        .im {
                            width: 24%;
                            vertical-align: middle;
                        }
                    }
                }

                .image-content {
                    width: 62px;
                    height: 62px;
                    .lib-css(border-radius, 31px, 1);
                    display: block;
                    margin: 0 auto;

                    img {
                        max-height: 40px;
                        max-width: 40px;
                    }
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .checkout-cart-index {
        .cart-container {
            .form-cart {
                width: calc(~"100% - 390px");
                margin-right: 0;
                padding-right: 0;
            }
            .gift-options-cart {
                width: calc(~"100% - 390px") !important;
                padding-right: 0;
            }
            .cart.table-wrapper .col.subtotal span {
                padding-bottom: 9px;
            }
        }
        .cart-summary {
            width: 350px;
        }
    }


    .checkout-reassurance {
        .block-reassurance {
            li {
                span {
                    font-size: @font-size_14;
                }

                .image-content {
                    display: inline-block;
                    width: 50px;
                    height: 50px;
                    .lib-css(border-radius, 100%, 1);

                    img {
                        max-height: 35px;
                        max-width: 35px;
                    }
                }

                p {
                    font-size: @font-size_11;
                    width: calc(~"94% - 50px");
                    padding-left: 2%;
                }
                .title-reassurance {
                    text-align: center;
                    display: block;
                    width: 100%;
                    margin-top: 0;
                    padding: 0;
                    margin-bottom: 15px;
                    font-size: 12px;
                }
            }
        }
    }

    .cart {
        &.table-wrapper {
            .product-item-photo {
                padding: 0 30px 0 0;

                img {
                    width: 168px;
                    height: 130px;
                }
            }
        }

    }

    .continue-shopping {
        width: calc(~"60% - 300px");
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .checkout-reassurance {
        .block-reassurance {
            li {
                .image-content {
                    width: 62px;
                    height: 62px;
                    .lib-css(border-radius, 31px, 1);

                    img {
                        max-height: 40px;
                        max-width: 40px;
                    }
                }

                p {
                    width: calc(~"94% - 62px");
                    margin-top: 15px;
                }
            }
        }
    }
}

// Mobile
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .checkout-reassurance {
        .block-reassurance {
            li {
                margin: 0 0 3rem;

                .images {
                    margin-top: 1.8rem;

                    img {
                        width: 18%;
                    }
                }
                .image-content {
                    display: block;
                    margin: 5% auto;
                    width: 64px;
                    height: 64px;

                    img {
                        max-height: 60%;
                        max-width: 60%;
                    }
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .checkout-cart-index {
        .cart.table-wrapper {
            .product-item-details {
                max-width: 43%;
            }
            .product-item-photo {
                padding: 0 14px 0 0;
            }
        }
    }
}
@media (max-width: 767px) {
    .checkout-cart-index {
        .cart.table-wrapper {
            border-top: 1px solid #f0f1f1;
            .cart > .item {
                border-bottom: 1px solid #f0f1f1;
            }
            .item .col {
                &.item {
                    .product-item-photo {
                        width: 120px;
                        img {
                            margin: 0;
                        }
                    }
                    .product-item-details {
                        width: 54%;
                        max-height: initial;
                        .product-item-name {
                            font-weight: normal;
                        }
                        .product-item-attributes {
                            font-weight: 100;
                        }
                        dt, dd {
                            font-weight: 100;
                        }
                    }
                }
                &.qty {
                    padding: 0 0 10px 124px;
                    width: auto;
                    margin-top: 0;
                    float: none;
                    &:before  {
                        font-size: 11px;
                    }
                }
                &.subtotal {
                    width: auto;
                    margin-top: 0;
                    float: none;
                    margin-left: 96px;
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .checkout-cart-index {
        .page-main {
            padding: 30px 20px 0 20px;
        }
        .cart-container {
            padding: 0 !important;
            .form-cart {
                width: 100% !important;
                .actions.main .action.update:before {
                    color: #DBDBDB;
                }
            }
        }
        .checkout-reassurance .block-reassurance {
            li {
                .images {
                    img {
                        width: 52px;
                        margin: 0 10px;
                        float: none;
                        display: inline-block;
                        vertical-align: middle;
                    }
                    &.second {
                        img {
                            width: 88.5px;
                            margin: 0 5px;
                        }
                    }
                }
                p.title-reassurance {
                    text-align: center;
                    margin-bottom: 15px;
                }
                p {
                    text-align: left;
                    padding-left: 0;
                    a,strong {
                        font-weight: normal;
                    }
                }
            }
            .block-contact {
                p {
                    strong {
                        font-weight: normal;
                    }
                    &.notblack {
                        color: #888888;
                    }
                }
            }
        }
    }
}
