//
//  Variables
//  _____________________________________________

@minicart__border-color: @color-gray80;
@minicart__padding-horizontal: @indent__base;
@minicart__pricing-grey: #757575;

@minicart-qty__height: 24px;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Minicart
    //  ---------------------------------------------

    body.minicart-open {
        overflow: hidden;
    }

    .block-minicart {
        .items-total {
            margin: 0;
            .lib-font-family(@font-family-name__gillsans);
            font-size: @font-size_12;
            color: @minicart__pricing-grey;

            .count,
            .items-in-cart {
                color: @color-louboutin-red;
            }
            .count {
                font-weight: @font-weight__bold;
            }
        }

        .subtotal {
            margin: 0 0 25px;
            .lib-vendor-prefix-display();
            .flexbox-align-space-around();
            .lib-font-family(@font-family-name__gillsans);
            font-size: @font-size_12;
            letter-spacing: 2px;
            line-height: 1;
            color: @color-black;
            text-transform: uppercase;

            .label {
                &:extend(.abs-colon all);
            }
            .amount {
                display: inline-block;
            }
        }

        .subtitle {
            display: none;

            &.empty {
                display: block;
                padding: 30px 0;
                font-size: @font-size_14;
                .lib-font-family(@font-family-name__gillsans);
                font-weight: @font-weight__light;
                text-align: center;
                color: @color-warm-grey;
                line-height: 20px;
                letter-spacing: 0.5px;
            }
        }

        .text {
            &.empty {
                text-align: center;
            }
        }

        .block-content {
            > .actions {
                margin-top: 15px;

                > .secondary {
                    text-align: center;
                }

                > .primary {
                    margin: 0 0 15px;

                    .action {
                        &.primary {
                            &:extend(.abs-button-l all);
                            display: block;
                            width: 100%;
                            font-size: @font-size_12;
                            line-height: 1;
                            padding: 15px 11px;
                        }
                    }
                }

                .paypal-logo {
                    margin-top: 15px;
                    text-align: center;
                }
            }
        }

        .block-category-link,
        .block-product-link,
        .block-cms-link,
        .block-banners {
            margin: 15px 0 0;
            text-align: center;
        }
    }

    .minicart-wrapper {
        .lib-dropdown(
            @_toggle-selector: ~'.action.showcart',
            @_options-selector: ~'.block-minicart',
            @_icon-font: @font-family-name__project_icons,
            @_dropdown-toggle-icon-content: @icon-project-cart-big,
            @_dropdown-toggle-active-icon-content: @icon-project-cart-big,
            @_dropdown-list-item-padding: false,
            @_dropdown-list-item-hover: false,
            @_icon-font-position: before,
            @_icon-font-size: @font-size_18,
            @_icon-font-line-height: 1em,
            @_icon-font-color: @minicart-icons-color,
            @_icon-font-color-hover: @minicart-icons-color-hover,
            @_icon-font-color-active: @minicart-icons-color
        );
        float: right;

        .block-minicart {
            .header-dropdown-dialog();
            position: fixed;
            top: 63px;
            bottom: 0;
            right: 0;
            width: 100%;
            box-sizing: border-box;
            margin: 0;
            background: @color-white;
            font-size: @font-size__base;

            &:before,
            &:after {
                display: none;
            }

            li {
                display: none;

                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3) {
                    display: list-item;
                }
            }
        }

        .product {
            .actions {
                float: right;
                margin: -24px 0 0;

                > .primary,
                > .secondary {
                    display: inline;

                    &:not(:last-child) {
                        margin-right: 15px;
                    }
                }
            }
        }

        .action {
            &.close {
                height: 40px;
                position: absolute;
                right: 0;
                top: 0;
                width: 40px;
                .lib-button-reset();
                .lib-button-icon(
                    @icon-remove,
                    @_icon-font-color: @minicart-icons-color,
                    @_icon-font-size: 16px,
                    @_icon-font-line-height: 16px,
                    @_icon-font-text-hide: true
                );
            }

            &.showcart {
                position: relative;
                white-space: nowrap;

                &,
                &.empty {
                    &:before,
                    &:hover:before,
                    &:focus:before,
                    &.active:before {
                        color: @color-black;
                    }
                }

                .text {
                    &:extend(.abs-visually-hidden all);
                }

                .counter.qty {
                    position: absolute;
                    top: 0;
                    right: -18px;
                    .lib-css(background, @color-louboutin-red);
                    .lib-css(color, @color-white);
                    border-radius: 50%;
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;
                    width: 18px;
                    height: 18px;
                    padding: 3px 0;
                    box-sizing: border-box;
                    font-size: 0;
                    text-align: center;

                    &.empty {
                        display: none;
                    }

                    .counter-number {
                        font-size: @font-size_11;
                        line-height: 1em;
                        text-align: center;
                    }
                    .loader {
                        > img {
                            .lib-css(max-width, 18px);
                        }
                    }
                }

                .counter-label {
                    &:extend(.abs-visually-hidden all);
                }
            }
        }

        .minicart-widgets {
            margin-top: 15px;
        }
    }

    .minicart-items-wrapper {
        .lib-css(border-bottom, 1px solid @color-grey-four);
        margin: 20px 0;
        padding-right: 20px; /* make room for scrollbar */
    }

    .minicart-items {
        .lib-list-reset-styles();
        .product-item {
            position: relative;
            padding: 10px 15px 10px 0;

            &:first-child {
                padding-top: 0;
            }

            > .product {
                &:extend(.abs-add-clearfix all);
            }
        }

        .product-image-wrapper {
            &:extend(.abs-reset-image-wrapper all);
        }

        .product-item-pricing,
        .product-item-label {
            .lib-font-family(@font-family-name__gillsans);
            font-weight: @font-weight__bold;
            color: @minicart__pricing-grey;
        }

        .product-item-pricing {
            margin-top: 15px;

            .label {
                display: inline-block;
                width: 4.5rem;
            }
        }

        .price-minicart {
            margin-bottom: @indent__xs;
        }

        .product-item-name {
            margin-top: 10px;
            .lib-font-family(@font-family-name__gillsans);
            font-weight: @font-weight__bold;
            font-size: @font-size_12;

            a {
                .lib-css(color, @color-black);

                &:focus,
                &:hover {
                    text-decoration: none;
                }
            }
        }

        .product-item-details {
            padding-left: 104px;
            margin-top: 20px;

            .price {
                font-weight: @font-weight__bold;
            }

            .price-including-tax,
            .price-excluding-tax {
                margin: @indent__xs 0;
            }

            .weee[data-label] {
                .lib-font-size(11);
                .label {
                    &:extend(.abs-no-display all);
                }
            }

            .details-qty {
                display: inline-block;
                margin-right: 10px;

                &:after {
                    content: 'x ';
                    display: inline-block;
                }
            }

            .price-container {
                display: inline-block;
            }
        }

        .product {
            > .product-item-photo,
            > .product-image-container {
                float: left;
            }

            .toggle {
                &:extend(.abs-toggling-title all);
                &:after {
                    .lib-css(color, @color-gray56);
                    margin: 0 0 0 @indent__xs;
                    position: static;
                }
                border: 0;
                padding: 0 @indent__xl @indent__xs 0;
            }

            .active {
                > .toggle {
                    .lib-icon-font-symbol(
                        @_icon-font-content: @icon-up,
                        @_icon-font-position: after
                    );
                }
            }

            &.pricing {
                margin-top: 3px;
            }

            &.options {
                .toggle {
                    &.tooltip {
                        .lib-icon-font(
                        @icon-down,
                        @_icon-font-size: 12px,
                        @_icon-font-line-height: 12px,
                        @_icon-font-text-hide: true,
                        @_icon-font-margin: -3px 0 0 7px,
                        @_icon-font-position: after
                        );
                    }
                    > span {
                        &:extend(.abs-visually-hidden-reset all);
                    }
                }

                .details {
                    display: none;
                }
            }
        }

        .details-qty,
        .price-minicart {
            .label {
                &:extend(.abs-colon all);
            }
        }

        .update-cart-item {
            .lib-font-size(11);
            vertical-align: top;
        }

        .subtitle {
            display: none;
        }

        .action {
            position: absolute;
            right: -20px;
            top: 50%;
            .lib-css(transform, translateY(-60%), 1);

            &.edit,
            &.delete {
                font-size: 0;
            }

            &.delete {
                padding: 5px;

                .lib-project-icon(
                    @_icon-font-content: @icon-project-close,
                    @_icon-font-size: 11px,
                    @_icon-font-color: @color-grey-three,
                    @_icon-font-position: before
                );
            }
        }
    }

    .block-minicart .extra-links {
        margin-top: 20px;
        border-top: solid 1px @color-grey-four;
        padding-top: 10px;

        .action {
            .lib-project-icon (
                @_icon-font-content: @icon-project-arrow-right,
                @_icon-font-size: @font-size_14,
                @_icon-font-color: @color-louboutin-red,
                @_icon-font-position: after
            );

            position: relative;
            display: block;
            padding: 10px 0;
            .lib-font-family(@f-gill);
            font-weight: @font-weight__regular;
            font-size: @font-size_12;
            line-height: 1em;
            letter-spacing: 1px;
            color: #2e2e2e;
            text-transform: uppercase;

            &:after {
                position: absolute;
                top: 50%;
                right: 0;
                .lib-css(transform, translateY(-50%), 1);
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .minicart-wrapper .block-minicart {
        width: 290px;
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
    body.minicart-open {
        .page-wrapper {
            right: 80%;
            position: absolute;
            width: 100%;

            .block-minicart {
                width: 80%;
                top: 0;

                #minicart-content-wrapper {
                    overflow-y: auto;
                    max-height: 100%;
                }
            }
        }
    }
    .minicart-items .action {
        right: 0;
    }
}


//
//  Desktop
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .minicart-wrapper {
        .block-minicart {
            width: auto;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .minicart-wrapper {
        float: none;

        .block-minicart {
            top: 34px;
            bottom: auto;
            max-height: calc(~"100% - 40px");
            overflow: auto;

            .block-content > .actions > .primary {
                margin: 0;

                .action.primary {
                    padding: 14px 17px 11px;
                    font-size: @font-size_12;
                    line-height: 1em;
                }
            }
            .minicart-items-wrapper {
                max-height: 300px;
                overflow: auto;
            }
        }

        .action.showcart {
            .counter.qty {
                .counter-number {
                    top: 50%;
                    .lib-css(transform, translateY(-50%), 1);
                    position: absolute;
                    width: 100%;
                }
            }
        }
    }
    .minilist .action.delete,
    .minicart-wrapper .action.edit {
        .lib-icon-font-size(
            @_icon-font-size: 16px
        );
    }
}
