// Grid system
@mega-menu_column__count: @column__count;
@mega-menu_gutter__width: @gutter__width;
@mega-menu_screen__names: @screen__names;

@mega-menu_padding: 30px 60px;
@mobile-menu_icon: @themeicon-chevron-down;
@mobile-menu_icon-active: @themeicon-chevron-up;
@mobile-menu_icon-font: @themeicon-font-family;

// Colors
@mega-menu_menu-bg: @submenu-desktop__background;
@mega-menu_label-bg: #c02a2a;
@mega-menu_label-color: #ffffff;
@mega-menu_label-font-size: 11px;

// Shadows
@mega-menu_box-shadow: @submenu-desktop__box-shadow;
