<?php
/** @var Project\Wishlist\Block\Header\Wishlist $block */
?>

<div data-block="wishlist" class="wishlist-wrapper">
    <a class="opt wishlist showwishlist" href="<?= $block->getUrl('wishlist'); ?>">
        <span class="hide"><?= __('Wishlist'); ?></span>
    </a>
    <div class="block block-wishlist-header empty"
         data-role="dropdownDialog"
         data-mage-init='{"dropdownDialog":{
                            "appendTo":"[data-block=wishlist]",
                            "triggerTarget":".showwishlist",
                            "timeout": "2000",
                            "closeOnMouseLeave": false,
                            "closeOnEscape": true,
                            "triggerClass":"active",
                            "parentClass":"active",
                            "buttons":[]}}'>
        <div id="wishlist-content-wrapper" data-bind="scope: 'wishlist_content'">
            <div class="block-title">
                <strong>
                    <?= __('My wishlist'); ?>
                </strong>
            </div>
            <!-- ko if: customer().fullname -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!-- /ko -->
            <!-- ko ifnot: customer().fullname -->
                <div class="message info wishlist">
                    <span>
                        <?= $block->escapeHtml(__('Create your wishlist to easily find your favorite product.')) ?>
                    </span>
                    <a class="action-towishlist" href="<?= $block->getRedirectUrl(); ?>">
                        <span>
                            <?= $block->escapeHtml(__('Register here')) ?>
                        </span>
                    </a>
                </div>
            <!-- /ko -->
        </div>
    </div>
</div>

<!--<p> --> <?php // $block->getWishlistUrl() ?> <!--</p>-->

<script type="text/x-magento-init">
    {
        "#wishlist-content-wrapper": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "wishlist_content": {
                        "component": "Magento_Wishlist/js/view/wishlist",
                        "wishlistUrl": <?= $block->getWishlistUrl() ?>
                    }
                }
            }
        }
    }
</script>
