<div class="easycms-block title-text">
    <p class="title-text-title scroll-notvisible">Le Détail Qui Détonne</p>
    <p class="title-text-text scroll-notvisible x2">Sans doute la star de cette nouvelle sneaker, sa semelle extérieure XXL aux rainures surdimensionnées joue avec les proportions pour une allure affirmée.</p>
</div>
