<div class="easycms-block title-text">
    <p class="title-text-title scroll-notvisible">Un Chic Inné</p>
    <p class="title-text-text scroll-notvisible x2">Inspiré par l'Égypte ancienne, conçu pour la femme moderne. Alliant l'artisanat italien et l'élégance à la française, le nouveau sac Elisa a tout pour devenir une pièce d’exception.</p>
</div>
