<div class="easycms-block title-text">
    <p class="title-text-title scroll-notvisible">Forever Nudes</p>
    <p class="title-text-text scroll-notvisible x2">N’ayant cessé d’évoluer depuis son lancement, la collection Nudes se voit inventée et réinventée au rythme des saisons. Désormais une partie intégrante des valeurs de la Maison, elle est sûre de nous réserver plus d’une surprise à l’avenir.</p>
</div>
