<div class="easycms-block title-text">
    <p class="title-text-title scroll-notvisible">Le Charme Dans La Peau</p>
    <p class="title-text-text scroll-notvisible x2">Misez sur l’allure pétillante d’« Iriza » ou encore l’attitude faussement sage de « Kate ».</p>
</div>
