<div class="easycms-block title-image">
    <div class="title-image-title right">
        <p class="h2">Entrez en scène avec la nouvelle collection rouge louboutin matte fluids</p>
    </div>
    <div class="title-image-image left">
        <img src="{{media url='cms/page/discover-matte-fluid/HEADER_EU.jpg'}}" alt="DE L'EGYPTE À PARIS" />
    </div>
</div>
