<div class="easycms-block image-single-product-right">
    <div class="image-single-product-right-image scroll-notvisible">
        <img src="{{media url='cms/page/discover-elisa/43360003_007_v3_RGB_CROPPED.jpg'}}" alt="Elisa Small" />
    </div>
    <div class="single-product-right scroll-notvisible">
        {{widget type="Magento\CatalogWidget\Block\Product\ProductsList" show_pager="0" products_count="1" template="product/widget/content/grid-home.phtml" set_order="3615482993961" conditions_encoded="^[`1`:^[`type`:`Magento||CatalogWidget||Model||Rule||Condition||Combine`,`aggregator`:`all`,`value`:`1`,`new_child`:``^]^]"}}
    </div>
</div>
