<div class="easycms-block title-text">
    <p class="title-text-title scroll-notvisible">Tout Un Concept</p>
    <p class="title-text-text scroll-notvisible x2">Plus proches que jamais du cœur de Christian, les Nudes font la part belle à la diversité depuis leur lancement. Conçues pour créer l’illusion d’une jambe interminable, ces pièces viennent aujourd’hui sublimer la garde-robe moderne, quelle que soit l’occasion.</p>
</div>
