<div class="easycms-block simple-image scroll-notvisible">
    <div class="scroll-view show">
        <img src="{{media url='cms/page/discover-matte-fluid/Discover_Matte_Fluids_5.jpg'}}" alt="" />
    </div>
</div>
