<div class="easycms-block title-subtitle-slider">
    <div class="title-slider-discover">
        <p>Dites oui aux Matte Fluids!</p>
    </div>
    <div class="subtitle-slider-discover">
        <p>La collection Matte Fluids est inspirée de textures et de couleurs somptueuses chères à Christian Louboutin. Résultat : une sélection de produits pour les lèvres et les ongles, un véritable must-have !</p>
    </div>
    <div class="slider-slider-discover">
        <div class="products">{{widget type="Synolia\Slider\Block\Widget\Slider" code="discover-elisa-products-slider" template="Synolia_Slider::widget/sliderDiscover.phtml"}}</div>
    </div>
</div>
