<div class="easycms-block title-text">
    <p class="title-text-title scroll-notvisible">Une Identité Pointue</p>
    <p class="title-text-text scroll-notvisible x2">Dotée d’une silhouette avant-gardiste et graphique qui vient bouleverser les codes, la nouvelle sneaker Loubishark a tout pour se hisser au rang d’icône.</p>
</div>
