<div class="easycms-block title-subtitle-slider">
    <div class="title-slider-discover">
        <p>Hommage À L’Égypte</p>
    </div>
    <div class="subtitle-slider-discover">
        <p>Simple et sophistiqué, le corps du sac Elisa incarne les lignes du temple d’Amon à Louxor. Exigeant un savoir-faire particulier, son intérieur compact est doté de soufflets pour une plus grande souplesse.</p>
    </div>
    <div class="slider-slider-discover">
        <div class="products">{{widget type="Synolia\Slider\Block\Widget\Slider" code="discover-elisa-products-slider" template="Synolia_Slider::widget/sliderDiscover.phtml"}}</div>
    </div>
</div>
