<div class="easycms-block title-text">
    <p class="title-text-title scroll-notvisible">Partez Sur Des Bases Iconiques</p>
    <p class="title-text-text scroll-notvisible x2">Dotés d’un charme intemporel, ces escarpins n’ont pourtant rien de classique. Réponse à toute question de style quelle que soit l’occasion, les silhouettes iconiques témoignent du savoir-faire irréprochable de la Maison.</p>
</div>
