<div class="easycms-block title-text">
    <p class="title-text-title scroll-notvisible">Nuances De Nude</p>
    <p class="title-text-text scroll-notvisible x2">Cette collection, c’est avant tout une volonté de mettre l’inclusivité à l’honneur. Lancée en 2013 avec cinq teintes, la famille Nudes n’a cessé de s’agrandir et comprend aujourd’hui huit nuances afin que chacun et chacune puisse y retrouver son Nude idéal.</p>
</div>
