<div class="easycms-block title-subtitle-slider">
    <div class="title-slider-discover">
        <p>L’innovation Pour Adn</p>
    </div>
    <div class="subtitle-slider-discover">
        <p>AUDACIEUSE, MODERNE ET CREATIVE, DÉCOUVREZ CE CONCENTRÉ D’INNOVATION ESTHETIQUE ET TECHNIQUE QUI LUI CONFERE UNE SINGULARITE QUI NE PASSERA PAS INAPERÇUE.</p>
    </div>
    <div class="slider-slider-discover">
        <div class="products">{{widget type="Synolia\Slider\Block\Widget\Slider" code="discover-loubishark-products-slider1" template="Synolia_Slider::widget/sliderDiscover.phtml"}}</div>
    </div>
</div>
