<div class="easycms-block title-text">
    <p class="title-text-title scroll-notvisible">Un Sac Pour Chaque Femme</p>
    <p class="title-text-text scroll-notvisible x2">Grand, petit ou mini, le nouveau sac Elisa se décline en trois tailles. Également disponible en sac-ceinture, cette pièce intemporelle sait s'adapter aux styles de vie de celles qui la porte.</p>
</div>
