<div class="easycms-block title-subtitle-slider">
    <div class="title-slider-discover">
        <p>Pour Elle, Pour Lui, Pour Nous</p>
    </div>
    <div class="subtitle-slider-discover">
        <p>AVEC DE NOUVELLES SILHOUETTES POUR LA FEMME, LA COLLECTION NUDES SE CONJUGUE DESORMAIS AU MASCULIN, DEVOILANT POUR LA TOUTE PREMIERE FOIS DE NOUVEAUX MODELES POUR LUI MAIS AUSSI DEUX MODELES UNISEXES : LA SANDALE POOL STUD ET LA SNEAKER BASSE LOUIS JUNIOR.</p>
    </div>
    <div class="slider-slider-discover">
        <div class="products">{{widget type="Synolia\Slider\Block\Widget\Slider" code="discover-nudes-products-slider" template="Synolia_Slider::widget/sliderDiscover.phtml"}}</div>
    </div>
</div>
