<div class="easycms-block title-image">
    <div class="title-image-title right">
        <p class="h2">LES NOUVEAUX NUDES : LA COLLECTION QUI VOUS RESSEMBLE</p>
    </div>
    <div class="title-image-image left">
        <img src="{{media url='cms/page/discover-nudes/NUDES_Slider3.jpg'}}" alt="" />
    </div>
</div>
