<div class="easycms-block title-subtitle-slider">
    <div class="title-slider-discover">
        <p>Unique En Son Genre</p>
    </div>
    <div class="subtitle-slider-discover">
        <p>Le modèle Loubishark, une sneaker innovante destinée à l'univers urbain. Elle saura séduire les créateurs de tendance tout comme les personnalités les plus audacieuses.</p>
    </div>
    <div class="slider-slider-discover">
        <div class="products">{{widget type="Synolia\Slider\Block\Widget\Slider" code="discover-loubishark-products-slider2" template="Synolia_Slider::widget/sliderDiscover.phtml"}}</div>
    </div>
</div>
