<div class="easycms-block title-subtitle-slider">
    <div class="title-slider-discover">
        <p>Tantôt Hautes, Tantôt Basses</p>
    </div>
    <div class="subtitle-slider-discover">
        <p>Disponibles en petits talons, ces icônes aux contours épurés et au décolleté plongeant savent s’adapter à votre mode de vie. À vous de choisir !</p>
    </div>
    <div class="slider-slider-discover">
        <div class="products">{{widget type="Synolia\Slider\Block\Widget\Slider" code="discover-icons-products-slider" template="Synolia_Slider::widget/sliderDiscover.phtml"}}</div>
    </div>
</div>
