<div class="easycms-block title-text">
    <p class="title-text-title scroll-notvisible">Lumière sur Rouge Louboutin Matte Fluids !</p>
    <p class="title-text-text scroll-notvisible x2">Avec leur texture sensuelle, les nouveaux Matte Fluids et Metal Matte Fluids (disponibles en dix et cinq teintes) glissent sur les lèvres à l’application et leur confèrent un fini mat poudré ultra-soyeux. Leurs nuances captent la lumière et reflètent une couleur vibrante, très confortable à porter.</p>
</div>
