<div class="easycms-block title-text">
    <p class="title-text-title scroll-notvisible">Put your own show</p>
    <p class="title-text-text scroll-notvisible x2">Matte Fluids doesn’t stop at the lips! It also features five gorgeous red matte nail colours. Set your matte look with the matte manicure set.</p>
</div>
