<div class="easycms-block title-subtitle-slider">
    <div class="title-slider-discover">
        <p>L’affaire Est Dans Le Sac</p>
    </div>
    <div class="subtitle-slider-discover">
        <p>PARMI LES NOUVEAUTES, NOUS RETROUVONS LES MODELES LES PLUS EMBLEMATIQUES DE LA MAISON, DONT LA POCHETTE LOUBILAB PARFAITEMENT ADAPTEE AU VESTIAIRE MASCULIN ET FEMININ. DESORMAIS ICONIQUE, LE SAC ELISA SE VOIT EGALEMENT DECLINE EN VERSION NUDE POUR LA NOUVELLE SAISON.</p>
    </div>
    <div class="slider-slider-discover">
        <div class="products">{{widget type="Synolia\Slider\Block\Widget\Slider" code="discover-nudes-products-slider2" template="Synolia_Slider::widget/sliderDiscover.phtml"}}</div>
    </div>
</div>
