<div class="easycms-block title-text">
    <p class="title-text-title scroll-notvisible">Détails Précieux</p>
    <p class="title-text-text scroll-notvisible x2">Imaginé comme un talisman mystique, le fermoir d'Elisa fait écho aux contours des cartouches de pharaon. Sa anse en chaîne plate aux allures de bracelet rappelle l’élégance parisienne et se porte tel un bijou.</p>
</div>
