<div class="easycms-block title-text">
    <p class="title-text-title scroll-notvisible">Bienvenue au Loubi-Cabaret</p>
    <p class="title-text-text scroll-notvisible x2">Pour le lancement de la nouvelle collection Rouge Louboutin Matte Fluids, Christian Louboutin vous invite dans un univers où séduction, beauté et glamour occupent le devant de la scène.</p>
</div>
