<div class="easycms-block title-text">
    <p class="title-text-title scroll-notvisible">Objet De Désir</p>
    <p class="title-text-text scroll-notvisible x2">À la fois élégant et pointu, ce nouveau modèle incarne tout le savoir-faire technique de la Maison et son flair inné pour l’insolite.</p>
</div>
