<div class="easycms-block title-image">
    <div class="title-image-title right">
        <p class="h2">DE L'EGYPTE À PARIS</p>
    </div>
    <div class="title-image-image left">
        <img src="{{media url='cms/page/discover-elisa/ELISA-HOMEPAGE.jpg'}}" alt="DE L'EGYPTE À PARIS" />
    </div>
</div>
