<div class="easycms-block title-subtitle-slider">
    <div class="title-slider-discover">
        <p>Mat jusqu’au bout des ongles</p>
    </div>
    <div class="subtitle-slider-discover">
        <p>Pour un look à la fois audacieux et sensuel, associez un rouge à lèvres et un vernis à ongles de la collection.</p>
    </div>
    <div class="slider-slider-discover">
        <div class="products">{{widget type="Synolia\Slider\Block\Widget\Slider" code="discover-elisa-products-slider" template="Synolia_Slider::widget/sliderDiscover.phtml"}}</div>
    </div>
</div>
