.i-flag::before {
    display: inline-block;
    position: relative;
    left: 0;
    top: 0;
    content: "";
    width: 20px;
    height: 20px;
    margin-right: 8px;
    background: url('@{baseDir}Magento_Theme/images/flags/other.png') no-repeat center center;
    background-size: contain;
    border: 1px solid #eaeaea;
    border-radius: 50%;
    vertical-align: middle;
}
.i-flag.i-at::before {
    background-image:url('@{baseDir}Magento_Theme/images/flags/at.png');
}
.i-flag.i-au::before {
    background-image:url('@{baseDir}Magento_Theme/images/flags/au.png');
}
.i-flag.i-be::before {
    background-image:url('@{baseDir}Magento_Theme/images/flags/be.png');
}
.i-flag.i-ca::before {
    background-image:url('@{baseDir}Magento_Theme/images/flags/ca.png');
}
.i-flag.i-ch::before {
    background-image:url('@{baseDir}Magento_Theme/images/flags/ch.png');
}
.i-flag.i-other_ch::before {
    background-image:url('@{baseDir}Magento_Theme/images/flags/cn.png');
}
.i-flag.i-other_sch::before {
    background-image:url('@{baseDir}Magento_Theme/images/flags/cn.png');
}
.i-flag.i-cn::before {
    background-image:url('@{baseDir}Magento_Theme/images/flags/cn.png');
}
.i-flag.i-de::before {
    background-image:url('@{baseDir}Magento_Theme/images/flags/de.png');
}
.i-flag.i-es::before {
    background-image:url('@{baseDir}Magento_Theme/images/flags/es.png');
}
.i-flag.i-fr::before {
    background-image:url('@{baseDir}Magento_Theme/images/flags/fr.png');
}
.i-flag.i-gb::before {
    background-image:url('@{baseDir}Magento_Theme/images/flags/gb.png');
}
.i-flag.i-uk::before {
    background-image:url('@{baseDir}Magento_Theme/images/flags/gb.png');
}
.i-flag.i-gr::before {
    background-image:url('@{baseDir}Magento_Theme/images/flags/gr.png');
}
.i-flag.i-hk::before,
.i-flag.i-hk_and_mo::before {
    background-image:url('@{baseDir}Magento_Theme/images/flags/hk_and_mo.png');
}
.i-flag.i-ie::before {
    background-image:url('@{baseDir}Magento_Theme/images/flags/ie.png');
}
.i-flag.i-it::before {
    background-image:url('@{baseDir}Magento_Theme/images/flags/it.png');
}
.i-flag.i-jp::before {
    background-image:url('@{baseDir}Magento_Theme/images/flags/jp.png');
}
.i-flag.i-lu::before {
    background-image:url('@{baseDir}Magento_Theme/images/flags/lu.png');
}
.i-flag.i-ma::before {
    background-image:url('@{baseDir}Magento_Theme/images/flags/ma.png');
}
.i-flag.i-mc::before {
    background-image:url('@{baseDir}Magento_Theme/images/flags/mc.png');
}
.i-flag.i-my::before {
    background-image:url('@{baseDir}Magento_Theme/images/flags/my.png');
}
.i-flag.i-nl::before {
    background-image:url('@{baseDir}Magento_Theme/images/flags/nl.png');
}
.i-flag.i-other::before {
    background-image:url('@{baseDir}Magento_Theme/images/flags/other.png');
}
.i-flag.i-pt::before {
    background-image:url('@{baseDir}Magento_Theme/images/flags/pt.png');
}
.i-flag.i-sg::before {
    background-image:url('@{baseDir}Magento_Theme/images/flags/sg.png');
}
.i-flag.i-tw::before {
    background-image:url('@{baseDir}Magento_Theme/images/flags/tw.png');
}
.i-flag.i-us::before {
    background-image:url('@{baseDir}Magento_Theme/images/flags/us.png');
}
