<tr class="row"
    click="element.selectShippingMethod">
    <td class="col col-method">
        <input type="radio"
               class="radio"
               ifnot="method.error_message"
               ko-checked="element.isSelected"
               ko-value="method.carrier_code + '_' + method.method_code"
               attr="'aria-labelledby': 'label_method_' + method.method_code + '_' + method.carrier_code + ' ' + 'label_carrier_' + method.method_code + '_' + method.carrier_code,
                    'checked': element.rates().length == 1 || element.isSelected" />
    </td>
    <td class="col col-price">
        <each args="element.getRegion('price')" render="" />
    </td>
    <td class="col col-method"
        attr="'id': 'label_method_' + method.method_code + '_' + method.carrier_code"
        text="method.method_title" />
    <td class="col col-carrier"
        attr="'id': 'label_carrier_' + method.method_code + '_' + method.carrier_code"
        text="method.carrier_title" />
    <!-- ko if: $parent.isJapanDeliveryActive() -->
        <td>
            <span data-bind="i18n: 'Date to deliver'"></span><br/>

            <select class="super-attribute-select" data-bind="event:{ change: $parent.onScheduleDayChange}" name="japanShippingDaysSchedule">
                <!-- ko foreach: { data: $parent.japanShippingDaysSchedule, as: 'option'} -->
                <option data-bind="value: option.date, text: option.displayDate"></option>
                <!--/ko-->
            </select>

            <br/><span data-bind="i18n: 'Designation of delivery date'"></span><br/>
            <span data-bind="i18n: 'When you wish to receive in the shortest select No designation'"></span><br/><br/>

            <span data-bind="i18n: 'Delivery time zone desired'"></span><br/>
            <select class="super-attribute-select" data-bind="event:{ change: $parent.onScheduleHourChange}" name="japanShippingHoursSchedule">
                <!-- ko foreach: { data: $parent.japanShippingHoursSchedule, as: 'option'} -->
                <option data-bind="value: option.schedule, text: option.schedule"></option>
                <!--/ko-->
            </select>
        </td>
        <td>

    </td>
    <!-- /ko -->
</tr>
<tr class="row row-error"
    if="method.error_message">
    <td class="col col-error" colspan="4">
        <div role="alert" class="message error">
            <div text="method.error_message"></div>
        </div>
        <span class="no-display">
            <input type="radio"
                   attr="'value' : method.method_code, 'id': 's_method_' + method.method_code" />
        </span>
    </td>
</tr>
