<div id="checkout-shipping-method-load">
    <table class="table-checkout-shipping-method">
        <thead>
        <tr class="row">
            <th class="col col-method" translate="'Select Method'"></th>
            <th class="col col-price" translate="'Price'"></th>
            <th class="col col-method" translate="'Method Title'"></th>
            <th class="col col-carrier" translate="'Carrier Title'"></th>
            <!-- ko if: isJapanDeliveryActive() -->
                <th class="col col-carrier" translate="'Day'"></th>
                <th class="col col-carrier" translate="'Schedule'"></th>
            <!-- /ko -->
        </tr>
        </thead>
        <tbody>
            <!-- ko foreach: { data: rates(), as: 'method'} -->
                <!--ko template: { name: element.shippingMethodItemTemplate} --><!-- /ko -->
            <!-- /ko -->
        </tbody>
    </table>
</div>
