<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php $_shipment = $block->getShipment() ?>
<?php $_order    = $block->getOrder() ?>
<?php if ($_shipment && $_order): ?>
    <?php $_sizeLabel = $block->getSizeLabel($_shipment); ?>
    <table class="email-items">
        <thead>
            <tr>
                <!-- Item -->
                <th class="item-info">
                    <?= /* @escapeNotVerified */  strtoupper(__('Item(s)')) ?>
                </th>
                <!-- Size -->
                <th class="item-size">
                    <?= /* @escapeNotVerified */ strtoupper($_sizeLabel) ?>
                </th>
                <!-- Qty -->
                <th class="item-qty">
                    <?= /* @escapeNotVerified */ strtoupper(__('Qty')) ?>
                </th>
            </tr>
        </thead>
        <?php foreach ($_shipment->getAllItems() as $_item): ?>
            <?php
                if ($_item->getOrderItem()->getParentItem()) {
                    continue;
                }
            ?>
            <tbody>
                <?= $block->getItemHtml($_item) ?>
            </tbody>
        <?php endforeach; ?>
    </table>
<?php endif; ?>
