<?php
// @codingStandardsIgnoreFile

/** @var \Project\Sales\Block\Email\Trackings $block */
?>
<?php $_shipment = $block->getShipment() ?>
<?php $_order = $block->getOrder() ;?>
<?php if ($_shipment && $_order && $_shipment->getAllTracks()): ?>
<br />
<table class="shipment-track">
    <thead>
        <tr>
            <th><?= /* @escapeNotVerified */  __('Shipped By') ?></th>
            <th><?= /* @escapeNotVerified */  __('Tracking Number') ?></th>
        </tr>
    </thead>
    <tbody>
    <?php foreach ($_shipment->getAllTracks() as $_item): ?>
        <tr>
            <td><?= $block->escapeHtml($_item->getTitle()) ?>:</td>
            <td><a href="<?= $block->getTrackingUrl($_item); ?>"><?= $block->escapeHtml($_item->getNumber()) ?></a></td>
        </tr>
    <?php endforeach ?>
    </tbody>
</table>
<?php endif; ?>
