& when (@media-common = true) {
    .contact-index-index .page-main > .page-title-wrapper .page-title {
        display: block;
        position: relative;

        span {
            display: inline-block;
            padding: 0 20px 0 0;
            position: relative;
            background: @color-white;
            z-index: 1;
        }

        &:after {
            content: '';
            position: absolute;
            bottom: 3px;
            left: 0;
            width: 100%;
            border-bottom: solid 1px @color-grey-six;
        }
    }

    .contact-index-index .columns {
        margin-top: 50px;
    }

    .contact-index-index .contact-modal {
        width: 800px;
        margin: auto;

        .modal-inner-wrap {
            .modal-title {
                border-bottom: none;

                &:before {
                    content: @icon-project-check-empty;
                    line-height: 1em;
                    font-family: 'LoubIcons';
                    color: @color-green-olive;
                    position: absolute;
                    left: calc(48%);
                }
            }

            .modal-footer {
                text-align: center;
                border-top: none;
                padding-top: unset;
            }
        }
    }

    .contact-content {
        .lib-vendor-prefix-display();
        .lib-css(flex-direction, column-reverse, 1);

        .contact-infos-wrapper{
            display: none;
        }
        .form.contact {
            width: 100%;
        }
        .form.contact {
            margin-bottom: 20px;

            .legend {
                border-bottom-color: @color-grey-six;
            }

            .fieldset-fullname {
                .fields {
                    .field-name-prefix {
                        width: 100px;
                    }
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .contact-content {
        .lib-css(flex-direction, row, 1);

        .contact-infos-wrapper {
            box-sizing: border-box;
            img {
                margin-left: 50%;
                position: relative;
                bottom: 2.5em;
            }
        }

        .contact-us-main{
            margin: auto 8% auto auto;
            .form.contact {
                float: left;
                width: 660px;
            }
        }
    }
}

@media screen and (min-width: 1192px) {
    .contact-infos-wrapper{
        display: inline-block !important;
    }
}

#contact-submit-btn {
    display: none;
}
