//
//  Carousel custom styles
//  _____________________________________________

& when (@media-target = 'mobile') {
    .owl-carousel {
        .owl-stage {
            display: flex;
            align-items: flex-start;
            justify-content: center;
        }

        div.owl-nav {
            button {
                position: absolute;
                top: 50%;
                width: 42px;
                margin-top: -20px;
                box-shadow: none;
                text-align: center;

                &:before {
                    font-size: 14px;
                    line-height: 42px;
                }

                &:hover {
                    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
                }
            }

            button.owl-prev, button.owl-next {
                background-color: @color-white;
            }

            .owl-prev {
                left: -6px;
                .font-icon(@themeicon-chevron-left);
            }

            .owl-next {
                right: -6px;
                .font-icon(@themeicon-chevron-right);
            }
        }

        .owl-dots {
            width: 100%;
            padding-left: (@gutter__width / 2);
            padding-right: (@gutter__width / 2);
            text-align: center;

            button.owl-dot {
                width: 15px;
                height: 15px;
                border-radius: 15px;
                background: @color-light;
                transition: .3s ease;

                &.active, &:hover {
                    background: @color-default;
                }

                & + button.owl-dot {
                    margin-left: 15px;
                }
            }
        }
    }

    // RTL
    html.rtl {
        .owl-carousel {
            .owl-dots {
                button.owl-dot {
                    & + button.owl-dot {
                        margin-left: 0;
                        margin-right: 15px;
                    }
                }
            }
        }
    }
}
