// /**
//  * Copyright © Zemez, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .d-none {
        display: none;
    }

    .no-gutter {
        margin-left: 0;
        margin-right: 0;

        [class*='col-'] {
            padding-left: 0;
            padding-right: 0;
        }

        .banner {
            margin-bottom: 0;
        }
    }

    body .offset-none {
        margin: 0;
    }

    .offset-bottom {
        margin-bottom: 30px;
    }

    .custom-padding {
        padding-top: 3%;
        padding-bottom: 2%;
    }

    .text-center {
        text-align: center;
    }

    .text-right {
        text-align: right;
    }

    .font-primary {
        font-family: @font-family__primary;
    }

    .text-regular {
        font-weight: 400;
    }

    .text-bold {
        font-weight: 700;
    }

    .big {
        font-size: 120%;
    }

    .justify-content-center {
        justify-content: center;
    }

    .flex-height {
        display: flex;
        flex-direction: column;
        > * {
            flex-grow: 1;
        }
    }

    .flex-column-center {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .border-right {
        border-right: 1px solid;
    }

    .border-left {
        border-left: 1px solid;
    }

    .bg-dark {
        background: @color-dark;
        color: @color-white;
    }

    .bg-light {
        background: @color-lightest;
    }

    .bg-primary {
        background: @color-primary;
        color: @color-white;
    }

    .bg-secondary {
        background: fade(@color-secondary, 50);
    }

    .bg-white {
        background: @color-white;
        color: @color-dark;
    }

    .bg-gradient {
        background: linear-gradient(180deg, fade(@color-primary, 60) 0%, fade(@color-secondary, 60) 97.4%);
        color: @color-white;
    }

    .color-primary {
        color: @color-primary;

        a:hover {
            color: @color-dark;
        }
    }

    .color-white {
        color: @color-white;
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .hidden-mobile {
        &, &.action {
            display: none;
        }
    }
}


//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .margin-desktop-none {
        margin: 0;
    }

    .big {
        font-size: 178.05%;
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .offset-bottom {
        margin-bottom: 112px;
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .order-xl-first {
        order: -1;
    }
}
