@themeicon-font-family: 'theme-icons';

.lib-font-face(
    @family-name: @themeicon-font-family,
    @font-path: '../fonts/theme-icons/theme-icons',
    @font-weight: normal,
    @font-style: normal
);

@themeicon-close: "\e900";
@themeicon-radio_button_unchecked: "\e901";
@themeicon-check_box: "\e902";
@themeicon-check_box_outline_blank: "\e903";
@themeicon-radio_button_checked: "\e904";
@themeicon-home: "\e906";
@themeicon-pencil: "\e90e";
@themeicon-arrows-1_download: "\e916";
@themeicon-arrows-1_minimal-down: "\e926";
@themeicon-arrows-1_minimal-left: "\e927";
@themeicon-arrows-1_minimal-right: "\e928";
@themeicon-arrows-1_minimal-up: "\e929";
@themeicon-arrows-1_refresh-69: "\e92d";
@themeicon-arrows-1_simple-right: "\e939";
@themeicon-arrows-1_tail-triangle-left: "\e94b";
@themeicon-arrows-1_tail-triangle-right: "\e94c";
@themeicon-trash2: "\e982";
@themeicon-heart: "\e98e";
@themeicon-star: "\e98f";
@themeicon-envelope: "\e997";
@themeicon-arrows-e_circle-e-right-01: "\e9b1";
@themeicon-arrows-e_circle-e-right-09: "\e9b2";
@themeicon-repeat: "\e9ef";
@themeicon-users_multiple-19: "\ea04";
@themeicon-users_single-body: "\ea0a";
@themeicon-ui-1_bold-remove: "\ea18";
@themeicon-user: "\ea1f";
@themeicon-ui-1_check-circle-08: "\ea22";
@themeicon-user-plus: "\ea23";
@themeicon-user-minus: "\ea24";
@themeicon-ui-1_check: "\ea25";
@themeicon-ui-1_email-83: "\ea39";
@themeicon-ui-1_email-84: "\ea3a";
@themeicon-ui-1_home-51: "\ea40";
@themeicon-bag2: "\ea4d";
@themeicon-ui-1_simple-remove: "\ea5c";
@themeicon-ui-1_trash-simple: "\ea5d";
@themeicon-ui-1_zoom: "\ea66";
@themeicon-ui-2_chat-content: "\ea7a";
@themeicon-ui-2_chat: "\ea7d";
@themeicon-ui-2_filter: "\ea86";
@themeicon-ui-2_grid-45: "\ea88";
@themeicon-ui-2_menu-34: "\ea97";
@themeicon-ui-2_paragraph: "\ea9d";
@themeicon-ui-2_share: "\eaa0";
@themeicon-transportation_truck-front: "\eaec";
@themeicon-text_quote: "\eb16";
@themeicon-icons2: "\eb81";
@themeicon-shopping_cart-modern: "\ebb2";
@themeicon-education_hat: "\ebd8";
@themeicon-education_language: "\ebd9";
@themeicon-magnifier: "\ec23";
@themeicon-menu: "\ec2c";
@themeicon-list4: "\ec31";
@themeicon-cross2: "\ec38";
@themeicon-plus: "\ec3d";
@themeicon-minus: "\ec3e";
@themeicon-plus2: "\ec3f";
@themeicon-chevron-up: "\ec40";
@themeicon-chevron-down: "\ec41";
@themeicon-chevron-left: "\ec42";
@themeicon-chevron-right: "\ec45";
@themeicon-minus2: "\ec46";
@themeicon-arrow-left: "\ec47";
@themeicon-arrow-right: "\ec48";
@themeicon-holidays_gift: "\ec8b";
@themeicon-health_heartbeat-16: "\eca6";
@themeicon-sort-amount-asc: "\ecbb";
@themeicon-sort-amount-desc: "\ecbc";
@themeicon-files_archive-check: "\ed2f";
@themeicon-design_pen-01: "\edc3";
@themeicon-business_chart-bar-32: "\ee19";
@themeicon-ui-3_funnel-39: "\ee7d";
@themeicon-ui-e_round-e-help: "\ee97";
@themeicon-twitter_sign: "\f081";
@themeicon-facebook_sign: "\f082";
@themeicon-linkedin_sign: "\f08c";
@themeicon-github_sign: "\f092";
@themeicon-twitter: "\f099";
@themeicon-facebook: "\f09a";
@themeicon-github: "\f09b";
@themeicon-rss: "\f09e";
@themeicon-pinterest: "\f0d2";
@themeicon-pinterest_sign: "\f0d3";
@themeicon-google_plus_sign: "\f0d4";
@themeicon-google_plus: "\f0d5";
@themeicon-linkedin: "\f0e1";
@themeicon-maxcdn: "\f136";
@themeicon-rss_square: "\f143";
@themeicon-youtube_sign: "\f166";
@themeicon-youtube: "\f167";
@themeicon-youtube_play: "\f16a";
@themeicon-instagram: "\f16d";
@themeicon-tumblr: "\f173";
@themeicon-tumblr_sign: "\f174";
@themeicon-skype: "\f17e";
@themeicon-foursquare: "\f180";
@themeicon-vk: "\f189";
@themeicon-vimeo_square: "\f194";
@themeicon-google: "\f1a0";
@themeicon-calendar-clock: "\f1e6";
@themeicon-calendar-text: "\f1eb";
@themeicon-cc-visa: "\f1f0";
@themeicon-cc-mastercard: "\f1f1";
@themeicon-cc-discover: "\f1f2";
@themeicon-cc-american-express: "\f1f3";
@themeicon-cc-paypal: "\f1f4";
@themeicon-cc-stripe: "\f1f5";
@themeicon-facebook_square: "\f230";
@themeicon-ok: "\f263";
@themeicon-ok_square: "\f264";
@themeicon-vimeo: "\f27d";
@themeicon-google_plus_square: "\f2b3";
@themeicon-telegram: "\f2c6";
@themeicon-checkmark-circle: "\ec59";
@themeicon-prohibited: "\ec9c";
@themeicon-telephone: "\ea6a";
@themeicon-map-marker: "\ea7b";
@themeicon-clock3: "\ebe8";

[class^="themeicon-"], [class*=" themeicon-"], [class^="fa-"], [class*=" fa-"] {
    &:before {
        font-family: @themeicon-font-family;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}
.fa-twitter_sign {
    &:before {
        content: @themeicon-twitter_sign;
    }
}
.fa-facebook_sign {
    &:before {
        content: @themeicon-facebook_sign;
    }
}
.fa-linkedin_sign {
    &:before {
        content: @themeicon-linkedin_sign;
    }
}
.fa-github_sign {
    &:before {
        content: @themeicon-github_sign;
    }
}
.fa-twitter {
    &:before {
        content: @themeicon-twitter;
    }
}
.fa-facebook {
    &:before {
        content: @themeicon-facebook;
    }
}
.fa-github {
    &:before {
        content: @themeicon-github;
    }
}
.fa-rss {
    &:before {
        content: @themeicon-rss;
    }
}
.fa-pinterest {
    &:before {
        content: @themeicon-pinterest;
    }
}
.fa-pinterest_sign {
    &:before {
        content: @themeicon-pinterest_sign;
    }
}
.fa-google_plus_sign {
    &:before {
        content: @themeicon-google_plus_sign;
    }
}
.fa-google_plus {
    &:before {
        content: @themeicon-google_plus;
    }
}
.fa-linkedin {
    &:before {
        content: @themeicon-linkedin;
    }
}
.fa-maxcdn {
    &:before {
        content: @themeicon-maxcdn;
    }
}
.fa-rss_square {
    &:before {
        content: @themeicon-rss_square;
    }
}
.fa-youtube_sign {
    &:before {
        content: @themeicon-youtube_sign;
    }
}
.fa-youtube {
    &:before {
        content: @themeicon-youtube;
    }
}
.fa-youtube_play {
    &:before {
        content: @themeicon-youtube_play;
    }
}
.fa-instagram {
    &:before {
        content: @themeicon-instagram;
    }
}
.fa-tumblr {
    &:before {
        content: @themeicon-tumblr;
    }
}
.fa-tumblr_sign {
    &:before {
        content: @themeicon-tumblr_sign;
    }
}
.fa-skype {
    &:before {
        content: @themeicon-skype;
    }
}
.fa-foursquare {
    &:before {
        content: @themeicon-foursquare;
    }
}
.fa-vk {
    &:before {
        content: @themeicon-vk;
    }
}
.fa-vimeo_square {
    &:before {
        content: @themeicon-vimeo_square;
    }
}
.fa-google {
    &:before {
        content: @themeicon-google;
    }
}
.fa-facebook_square {
    &:before {
        content: @themeicon-facebook_square;
    }
}
.fa-ok {
    &:before {
        content: @themeicon-ok;
    }
}
.fa-ok_square {
    &:before {
        content: @themeicon-ok_square;
    }
}
.fa-vimeo {
    &:before {
        content: @themeicon-vimeo;
    }
}
.fa-google_plus_square {
    &:before {
        content: @themeicon-google_plus_square;
    }
}
.fa-telegram {
    &:before {
        content: @themeicon-telegram;
    }
}
.fa-cc-visa {
    &:before {
        content: @themeicon-cc-visa;
    }
}
.fa-cc-mastercard {
    &:before {
        content: @themeicon-cc-mastercard;
    }
}
.fa-cc-discover {
    &:before {
        content: @themeicon-cc-discover;
    }
}
.fa-cc-american-express {
    &:before {
        content: @themeicon-cc-american-express;
    }
}
.fa-cc-paypal {
    &:before {
        content: @themeicon-cc-paypal;
    }
}
.fa-cc-stripe {
    &:before {
        content: @themeicon-cc-stripe;
    }
}
.themeicon-close {
    &:before {
        content: @themeicon-close;
    }
}
.themeicon-radio_button_unchecked {
    &:before {
        content: @themeicon-radio_button_unchecked;
    }
}
.themeicon-check_box {
    &:before {
        content: @themeicon-check_box;
    }
}
.themeicon-check_box_outline_blank {
    &:before {
        content: @themeicon-check_box_outline_blank;
    }
}
.themeicon-radio_button_checked {
    &:before {
        content: @themeicon-radio_button_checked;
    }
}
.themeicon-home {
    &:before {
        content: @themeicon-home;
    }
}
.themeicon-pencil {
    &:before {
        content: @themeicon-pencil;
    }
}
.themeicon-arrows-1_download {
    &:before {
        content: @themeicon-arrows-1_download;
    }
}
.themeicon-arrows-1_minimal-down {
    &:before {
        content: @themeicon-arrows-1_minimal-down;
    }
}
.themeicon-arrows-1_minimal-left {
    &:before {
        content: @themeicon-arrows-1_minimal-left;
    }
}
.themeicon-arrows-1_minimal-right {
    &:before {
        content: @themeicon-arrows-1_minimal-right;
    }
}
.themeicon-arrows-1_minimal-up {
    &:before {
        content: @themeicon-arrows-1_minimal-up;
    }
}
.themeicon-arrows-1_refresh-69 {
    &:before {
        content: @themeicon-arrows-1_refresh-69;
    }
}
.themeicon-arrows-1_simple-right {
    &:before {
        content: @themeicon-arrows-1_simple-right;
    }
}
.themeicon-arrows-1_tail-triangle-left {
    &:before {
        content: @themeicon-arrows-1_tail-triangle-left;
    }
}
.themeicon-arrows-1_tail-triangle-right {
    &:before {
        content: @themeicon-arrows-1_tail-triangle-right;
    }
}
.themeicon-trash2 {
    &:before {
        content: @themeicon-trash2;
    }
}
.themeicon-heart {
    &:before {
        content: @themeicon-heart;
    }
}
.themeicon-star {
    &:before {
        content: @themeicon-star;
    }
}
.themeicon-envelope {
    &:before {
        content: @themeicon-envelope;
    }
}
.themeicon-arrows-e_circle-e-right-01 {
    &:before {
        content: @themeicon-arrows-e_circle-e-right-01;
    }
}
.themeicon-arrows-e_circle-e-right-09 {
    &:before {
        content: @themeicon-arrows-e_circle-e-right-09;
    }
}
.themeicon-repeat {
    &:before {
        content: @themeicon-repeat;
    }
}
.themeicon-users_multiple-19 {
    &:before {
        content: @themeicon-users_multiple-19;
    }
}
.themeicon-users_single-body {
    &:before {
        content: @themeicon-users_single-body;
    }
}
.themeicon-ui-1_bold-remove {
    &:before {
        content: @themeicon-ui-1_bold-remove;
    }
}
.themeicon-user {
    &:before {
        content: @themeicon-user;
    }
}
.themeicon-ui-1_check-circle-08 {
    &:before {
        content: @themeicon-ui-1_check-circle-08;
    }
}
.themeicon-user-plus {
    &:before {
        content: @themeicon-user-plus;
    }
}
.themeicon-user-minus {
    &:before {
        content: @themeicon-user-minus;
    }
}
.themeicon-ui-1_check {
    &:before {
        content: @themeicon-ui-1_check;
    }
}
.themeicon-ui-1_email-83 {
    &:before {
        content: @themeicon-ui-1_email-83;
    }
}
.themeicon-ui-1_email-84 {
    &:before {
        content: @themeicon-ui-1_email-84;
    }
}
.themeicon-ui-1_home-51 {
    &:before {
        content: @themeicon-ui-1_home-51;
    }
}
.themeicon-bag2 {
    &:before {
        content: @themeicon-bag2;
    }
}
.themeicon-ui-1_simple-remove {
    &:before {
        content: @themeicon-ui-1_simple-remove;
    }
}
.themeicon-ui-1_trash-simple {
    &:before {
        content: @themeicon-ui-1_trash-simple;
    }
}
.themeicon-ui-1_zoom {
    &:before {
        content: @themeicon-ui-1_zoom;
    }
}
.themeicon-ui-2_chat-content {
    &:before {
        content: @themeicon-ui-2_chat-content;
    }
}
.themeicon-ui-2_chat {
    &:before {
        content: @themeicon-ui-2_chat;
    }
}
.themeicon-ui-2_filter {
    &:before {
        content: @themeicon-ui-2_filter;
    }
}
.themeicon-ui-2_grid-45 {
    &:before {
        content: @themeicon-ui-2_grid-45;
    }
}
.themeicon-ui-2_menu-34 {
    &:before {
        content: @themeicon-ui-2_menu-34;
    }
}
.themeicon-ui-2_paragraph {
    &:before {
        content: @themeicon-ui-2_paragraph;
    }
}
.themeicon-ui-2_share {
    &:before {
        content: @themeicon-ui-2_share;
    }
}
.themeicon-transportation_truck-front {
    &:before {
        content: @themeicon-transportation_truck-front;
    }
}
.themeicon-text_quote {
    &:before {
        content: @themeicon-text_quote;
    }
}
.themeicon-icons2 {
    &:before {
        content: @themeicon-icons2;
    }
}
.themeicon-shopping_cart-modern {
    &:before {
        content: @themeicon-shopping_cart-modern;
    }
}
.themeicon-education_hat {
    &:before {
        content: @themeicon-education_hat;
    }
}
.themeicon-education_language {
    &:before {
        content: @themeicon-education_language;
    }
}
.themeicon-magnifier {
    &:before {
        content: @themeicon-magnifier;
    }
}
.themeicon-menu {
    &:before {
        content: @themeicon-menu;
    }
}
.themeicon-list4 {
    &:before {
        content: @themeicon-list4;
    }
}
.themeicon-cross2 {
    &:before {
        content: @themeicon-cross2;
    }
}
.themeicon-plus {
    &:before {
        content: @themeicon-plus;
    }
}
.themeicon-minus {
    &:before {
        content: @themeicon-minus;
    }
}
.themeicon-plus2 {
    &:before {
        content: @themeicon-plus2;
    }
}
.themeicon-chevron-up {
    &:before {
        content: @themeicon-chevron-up;
    }
}
.themeicon-chevron-down {
    &:before {
        content: @themeicon-chevron-down;
    }
}
.themeicon-chevron-left {
    &:before {
        content: @themeicon-chevron-left;
    }
}
.themeicon-chevron-right {
    &:before {
        content: @themeicon-chevron-right;
    }
}
.themeicon-minus2 {
    &:before {
        content: @themeicon-minus2;
    }
}
.themeicon-arrow-left {
    &:before {
        content: @themeicon-arrow-left;
    }
}
.themeicon-arrow-right {
    &:before {
        content: @themeicon-arrow-right;
    }
}
.themeicon-holidays_gift {
    &:before {
        content: @themeicon-holidays_gift;
    }
}
.themeicon-health_heartbeat-16 {
    &:before {
        content: @themeicon-health_heartbeat-16;
    }
}
.themeicon-sort-amount-asc {
    &:before {
        content: @themeicon-sort-amount-asc;
    }
}
.themeicon-sort-amount-desc {
    &:before {
        content: @themeicon-sort-amount-desc;
    }
}
.themeicon-files_archive-check {
    &:before {
        content: @themeicon-files_archive-check;
    }
}
.themeicon-design_pen-01 {
    &:before {
        content: @themeicon-design_pen-01;
    }
}
.themeicon-business_chart-bar-32 {
    &:before {
        content: @themeicon-business_chart-bar-32;
    }
}
.themeicon-ui-3_funnel-39 {
    &:before {
        content: @themeicon-ui-3_funnel-39;
    }
}
.themeicon-ui-e_round-e-help {
    &:before {
        content: @themeicon-ui-e_round-e-help;
    }
}
.themeicon-checkmark-circle {
    &:before {
        content: @themeicon-checkmark-circle;
    }
}
.themeicon-prohibited {
    &:before {
        content: @themeicon-prohibited;
    }
}
.themeicon-telephone {
    &:before {
        content: @themeicon-telephone;
    }
}
.themeicon-map-marker {
    &:before {
        content: @themeicon-map-marker;
    }
}
.themeicon-clock3 {
    &:before {
        content: @themeicon-clock3;
    }
}
