// /**
//  * Copyright © Zemez, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

@message__padding: 10px @indent__base;

& when (@media-common = true) {
    .page.messages .messages {
        position: fixed;
        z-index: 9999;
        top: 0;
        right: 0;
        left: 0;
        text-align: center;

        > div:not(.message) {
            display: none;
        }

        .message {
            cursor: pointer;

            > div {
                display: inline-block;
                position: relative;
                padding-left: 30px;
                &:before {
                    top: 50%;
                }
            }

            > span {
                display: block;
                margin-top: 5px;
                font-size: 10px;
                line-height: 1;
                color: @color-dark;
            }
        }
    }

    .message.info {
        .lib-message-icon-inner(info);
    }

    .message.error {
        .lib-message-icon-inner(error);
    }

    .message.warning {
        .lib-message-icon-inner(warning);
    }

    .message.notice {
        .lib-message-icon-inner(notice);
    }

    .message.success {
        .lib-message-icon-inner(success);
    }
}
