// /**
//  * Copyright © Zemez, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .nav-toggle {
        .toggle-icons-via-rotation(@_size: @header-mobile-nav-height, @_font-size: @header-mobile-nav-icons-size, @_icon-before: @themeicon-menu);
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 16;
        color: @header-mobile-nav-color;

        &:before {
            font-size: 28px;
        }

        span {
            &, &:before {
                position: fixed;
                left: 0;
                right: 0;
            }

            top: @header-mobile-nav-height;
            bottom: 0;
            background-color: @modal-overlay__background-color;
            font-size: 0;
            visibility: hidden;
            opacity: 0;
            transition: 0.3s all ease;

            &:before {
                content: '';
                display: none;
                top: 0;
                height: @header-mobile-nav-height;
            }
        }
    }

    nav.navigation {
        position: fixed;
        top: @header-mobile-nav-height;
        left: 0;
        bottom: 0;
        width: 300px;
        z-index: 17;
        overflow-y: auto;
        transform: translateX(-110%);
        background-color: @color-white;
        box-shadow: @header-mobile-nav-box-shadow;
        transition: 0.3s transform ease;
    }

    html.nav-open {
        .nav-toggle {
            z-index: 17;

            &:before {
                opacity: 0;
                visibility: hidden;
                transform: rotate(90deg) scale(0);
            }

            &:after {
                opacity: 1;
                visibility: visible;
                transform: rotate(0deg) scale(1);
            }

            span {
                visibility: visible;
                opacity: 1;

                &:before {
                    display: block;
                }
            }
        }

        nav.navigation {
            transform: none;
        }
    }

    .lib-main-navigation();
}

//
//  Desktop
//  _____________________________________________

.lib-main-navigation-desktop() {
    .navigation {
        display: flex;
        position: relative;
        justify-content: center;

        > ul {
            position: static;
            padding-bottom: 20px;
            margin-left: -@navigation-desktop-level0-item__offset;
        }

        .level0 {
            > .level-top {
                .lib-css(font-size, @navigation-desktop-level0-item__font-size);
                .lib-css(font-weight, @navigation-desktop-level0-item__font-weight);
                text-transform: uppercase;

                &.ui-state-active {
                    .lib-css(background, @navigation-desktop-level0-item__hover__background);
                    .lib-css(border, @navigation-desktop-level0-item__hover__border);
                    .lib-css(color, @navigation-desktop-level0-item__hover__color);
                }
            }

            &.parent > .level-top {
                padding-right: 24px;

                > .ui-menu-icon {
                    right: 4px;

                    &:after {
                        .font-icon__pseudo(@themeicon-chevron-down);
                        font-size: 12px;
                        line-height: 1;
                        color: @color-default;
                    }
                }
            }

            .submenu {
                .lib-css(padding, @submenu-desktop__padding);

                @media (max-width: (@screen__xl - 1)) {
                    min-width: 150px;
                    padding: 9px 12px;
                }

                a.ui-state-active {
                    .lib-css(background, @submenu-desktop-item__hover__background);
                    .lib-css(border, @submenu-desktop-item__hover__border);
                    .lib-css(color, @submenu-desktop-item__hover__color);
                }

                li.parent > a {
                    padding-right: 20px;

                    > .ui-menu-icon {
                        right: 8px;
                        transition: 0.3s right ease;

                        &:after {
                            .font-icon__pseudo(@themeicon-chevron-right);
                            font-size: 8px;
                            line-height: 1;
                            color: @color-default;
                        }
                    }

                    &.ui-state-focus, &.ui-state-active {
                        > .ui-menu-icon {
                            right: 0;
                        }
                    }
                }

                @media (min-width: @screen__xl) {
                    .submenu {
                        .lib-css-important(margin-top, -@submenu-desktop__padding-vertical);
                        .lib-css-important(margin-left, @submenu-desktop__padding-horizontal + 3);
                    }

                    li + li {
                        margin-top: 5px;
                    }
                }

                @media (max-width: (@screen__xl - 1)) {
                    .submenu {
                        margin-top: -9px !important;
                        margin-left: 15px !important;
                    }
                }
            }
        }

        @media (max-width: (@screen__xl - 1)) {
            > ul {
                margin-left: -25px;
            }

            .level0 {
                margin-left: 25px;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .nav-toggle {
        display: none;
    }

    .lib-main-navigation-desktop();
}
