<?php
// @codingStandardsIgnoreFile
?>
<?php
/** @var $block \Magento\Framework\View\Element\Template */
/** @var $helper \Magento\Search\Helper\Data */
$helper = $this->helper(\Magento\Search\Helper\Data::class);
$placeholder = __('Search');
?>
<div class="block block-search algolia-search-block-mobile hide" data-category="search">
    <div class="block block-title"><strong><?= /* @escapeNotVerified */ __('Search') ?></strong></div>
    <div class="block block-content">
        <form class="form minisearch" id="search_mini_mobile_form" action="<?= /* @escapeNotVerified */ $helper->getResultUrl() ?>" method="get">
            <div class="field search">
                <label class="label" for="search_mobile" data-role="minisearch-label">
                    <span><?= /* @escapeNotVerified */ __('Search') ?></span>
                </label>
                <div id="algolia-search-inputs" class="control">
                    <input id="search_mobile"
                           type="text"
                           name="<?= /* @escapeNotVerified */ $helper->getQueryParamName() ?>"
                           class="input-text algolia-search-input"
                           autocomplete="off"
                           spellcheck="false"
                           autocorrect="off"
                           autocapitalize="off"
                           role="combobox"
                           aria-haspopup="false"
                           aria-autocomplete="both"
                           placeholder="<?= /* @escapeNotVerified */ $placeholder; ?>" />
                    <span class="clear-cross clear-query-autocomplete" data-mage-init='{"clearInput": {}}'></span>
                    <div id="search_autocomplete_mobile" class="search-autocomplete"></div>
                    <?= $block->getChildHtml() ?>
                </div>
            </div>
            <button type="submit" id="algolia-glass" class="magnifying-glass"><span> </span></button>
        </form>
    </div>
</div>
