<?php
use Magento\Framework\App\Action\Action;

// @codingStandardsIgnoreFile
?>
<?php
/**
 * Product list template
 *
 * @var $block \Magento\Catalog\Block\Product\ListProduct
 */
?>
<?php
$_productCollection = $block->getLoadedProductCollection();
/** @var Magento\Catalog\Helper\Output $_helper */
$_helper = $this->helper('Magento\Catalog\Helper\Output');

/** @var Project\Catalog\Helper\Label $_labelHelper */
$_labelHelper = $this->helper('Project\Catalog\Helper\Label');

/** @var $mediaHelper \Project\Core\Helper\Media */
$mediaHelper = $this->helper('Project\Core\Helper\Media');

/** @var $attributeSetHelper Project\Core\Helper\AttributeSet */
$attributeSetHelper = $this->helper('Project\Core\Helper\AttributeSet');
?>
<?php if (!$_productCollection->count()): ?>
    <div class="message info empty"><div><?php echo __('We can\'t find products matching the selection.') ?></div></div>
<?php else: ?>
    <?php echo $block->getToolbarHtml() ?>
    <?php echo $block->getAdditionalHtml() ?>
    <?php
    if ($block->getMode() == 'grid') {
        $viewMode = 'grid';
        $showDescription = false;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    } else {
        $viewMode = 'list';
        $showDescription = true;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
    }

    ?>
    <div class="products wrapper <?php echo $viewMode ?> products-<?php echo $viewMode ?>">
        <?php $iterator = 1; ?>
        <ol class="products list items product-items">
            <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
            <?php foreach ($_productCollection as $_product): ?>
                <?php if ($iterator++ == 1) : ?>
                    <li class="item product product-item" data-product-id="<?php echo $_product->getId(); ?>" id="<?php echo $_product->getUrlKey(); ?>">
                <?php else: ?>
                    </li><li class="item product product-item" data-product-id="<?php echo $_product->getId(); ?>" id="<?php echo $_product->getUrlKey(); ?>">
                <?php endif; ?>

                <div class="product-item-info" data-container="product-grid">
                    <?php
                    $productImage = $block->getImage($_product, $mediaHelper->getProductListingImageId($_product), ['class' => '']);
                    $productImageHover = $block->getImage($_product, $mediaHelper->getProductListingImageIdHover($_product), ['class' => '']);
                    ?>

                    <div class="product-image">
                        <a href="<?php echo $_product->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1">
                            <?php // echo $productImage->toHtml() ?>
                        </a>
                        <a href="<?php echo $_product->getProductUrl() ?>" class="product photo product-item-photo-hover" tabindex="-1">
                            <?php // echo $productImageHover->toHtml() ?>
                        </a>
                    </div>

                    <div class="product details product-item-details">
                        <strong class="product name product-item-name">
                            <a class="product-item-link"
                               href="<?php echo $_product->getProductUrl() ?>">
                                <?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?>
                            </a>
                        </strong>

                        <?php if ($attributeSetHelper->isNails($_product)
                            || $attributeSetHelper->isEyes($_product)
                            || $attributeSetHelper->isLips($_product)
                            || $attributeSetHelper->isPerfumes($_product)) : ?>
                            <div class="material-color">
                                <?php if ($_product->getMaterialColor()) :
                                    echo $_helper->productAttribute($_product, $_product->getMaterialColor(), 'material_color');
                                endif; ?>
                            </div>
                        <?php elseif ($attributeSetHelper->isShoes($_product)) : ?>
                            <div class="heel-height-or-material">
                                <?php if ($_product->getHeelHeight() > 0): ?>
                                    <?php echo __('%1 mm', $_helper->productAttribute($_product, round($_product->getHeelHeight(), 0), 'heel_height')); ?>
                                <?php endif; ?>
                            </div>
                        <?php endif; ?>

                        <?php $label = $_labelHelper->getLabel($_product); ?>
                        <?php if ($label) : ?>
                            <p class="product-label">
                                <?php echo $label; ?>
                            </p>
                        <?php endif; ?>
                    </div>
                </div>
                <?php echo ($iterator == count($_productCollection)+1) ? '</li>' : '' ?>
            <?php endforeach; ?>
        </ol>
    </div>
    <?php echo $block->getToolbarHtml() ?>
    <?php if (!$block->isRedirectToCartEnabled()) : ?>
        <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {
                    "product_sku": "<?php echo $_product->getSku() ?>"
                }
            }
        }
        </script>
    <?php endif; ?>
<?php endif; ?>
