<?php

// @codingStandardsIgnoreFile

/**
 * @var $block \Magento\Theme\Block\Html\Title
 */
$cssClass = $block->getCssClass() ? ' ' . $block->getCssClass() : '';
$title = '';
if (trim($block->getPageTitle())) {
    $title = '<span class="base" data-ui-id="page-title-wrapper" ' .  $block->getAddBaseAttribute() . '>'
        . $block->escapeHtml($block->getPageTitle()) . '</span>';
}
/* @var $catalogHelper Magento\Catalog\Helper\Data */
$catalogHelper = $this->helper('Magento\Catalog\Helper\Data');
$currentProduct = $catalogHelper->getProduct();
?>
<?php if ($title): ?>
<div class="page-title-wrapper<?php /* @escapeNotVerified */ echo $cssClass; ?>">
    <div class="page-title">
        <h1 class="h1"
            <?php if ($block->getId()): ?> id="<?php /* @escapeNotVerified */ echo $block->getId();?>" <?php endif; ?>
            <?php if ($block->getAddBaseAttributeAria()): ?>
                aria-labelledby="<?php /* @escapeNotVerified */ echo $block->getAddBaseAttributeAria(); ?>"
            <?php endif; ?>>
            <?php /* @escapeNotVerified */ echo $title ?>
        </h1>
        <?php if ($currentProduct && round($currentProduct->getHeelHeight())): ?>
            <div class="heel-height"><?php echo __('%1 mm', round($currentProduct->getHeelHeight(), 0)); ?></div>
        <?php endif; ?>
        <?php echo $block->getChildHtml(); ?>
    </div>
</div>

<script type="text/x-magento-init">
    {
        "*": {
            "pageTitle": {

            }
        }
    }
</script>
<?php endif; ?>
