<div class="easycms-block title-subtitle-slider">
    <div class="title-slider-discover">
        <p>A Little Heel Goes A Long Way</p>
    </div>
    <div class="subtitle-slider-discover">
        <p>LADIES, YOU TRULY CAN HAVE IT ALL. THESE ICONS ALSO KNOW HOW TO LOOK GOOD IN A LITTLE HEEL – SINUOUS CONTOURS AND LOW-CUT VAMPS, ANYONE?</p>
    </div>
    <div class="slider-slider-discover">
        <div class="products">{{widget type="Synolia\Slider\Block\Widget\Slider" code="discover-icons-products-slider" template="Synolia_Slider::widget/sliderDiscover.phtml"}}</div>
    </div>
</div>
