<div class="easycms-block title-image">
    <div class="title-image-title right">
        <p class="h2">Take the stage with the new rouge louboutin matte fluids collection</p>
    </div>
    <div class="title-image-image left">
        <img src="{{media url='cms/page/discover-matte-fluid/HEADER_EU.jpg'}}" alt="" />
    </div>
</div>
