<div class="easycms-block title-text">
    <p class="title-text-title scroll-notvisible">Precious Details</p>
    <p class="title-text-text scroll-notvisible x2">Imagined as a mystical talisman, Elisa’s twist lock echoes the rounded rectangular contours of a pharaoh's cartouche whilst its flat bracelet-like chain nods to the Maison’s Parisian roots. Fitted with a leather pad, it glides freely allowing for multiple styling options.</p>
</div>
