<div class="easycms-block title-text">
    <p class="title-text-title scroll-notvisible">Spotlight on the new Rouge Louboutin Matte Fluids!</p>
    <p class="title-text-text scroll-notvisible x2">The sensual texture of this new liquid lipstick applies like a fluid and sets in a powdery matte finish and super-soft touch. Infused with luminosity, the shades deliver playful colour while providing a super-comfy texture.</p>
</div>
