<div class="easycms-block title-image">
    <div class="title-image-title right">
        <p class="h2">LOUBISHARK: FOR THOSE WHO LIKE TO STAND OUT</p>
    </div>
    <div class="title-image-image left">
        <img src="{{media url='cms/page/loubishark/Discover_Page_Loubishark_1.jpg'}}" alt="" />
    </div>
</div>
