<div class="easycms-block title-image">
    <div class="title-image-title right">
        <p class="h2">FROM EGYPT TO PARIS</p>
    </div>
    <div class="title-image-image left">
        <img src="{{media url='cms/page/discover-elisa/ELISA-HOMEPAGE.jpg'}}" alt="FROM EGYPT TO PARIS" />
    </div>
</div>
