<div class="easycms-block title-image">
    <div class="title-image-title right">
        <p class="h2">AN ICONIC SHOE IS ALWAYS A GOOD IDEA</p>
    </div>
    <div class="title-image-image left">
        <img src="{{media url='cms/page/discover-icons/HP_SLIDER_1.jpg'}}" alt="" />
    </div>
</div>
