<div class="easycms-block title-subtitle-slider">
    <div class="title-slider-discover">
        <p>Innovation First</p>
    </div>
    <div class="subtitle-slider-discover">
        <p>CRAFTED FROM A TOTAL OF 13 DIFFERENT ASSEMBLED COMPONENTS, MIXED MATERIALS AND SIGNATURE DETAILS GIVE IT A UNIQUENESS THAT’S SURE TO TURN HEADS.</p>
    </div>
    <div class="slider-slider-discover">
        <div class="products">{{widget type="Synolia\Slider\Block\Widget\Slider" code="discover-loubishark-products-slider1" template="Synolia_Slider::widget/sliderDiscover.phtml"}}</div>
    </div>
</div>
