<div class="easycms-block title-subtitle-slider">
    <div class="title-slider-discover">
        <p>His, Hers And Ours</p>
    </div>
    <div class="subtitle-slider-discover">
        <p>INTRODUCING MEN’S STYLES FOR THE FIRST TIME EVER, AS WELL AS NEW PIECES FOR WOMEN, THE NEW NUDES COLLECTION NOW COUNTS TWO UNISEX STYLES: THE POOL STUD SLIDE AND THE LOUIS JUNIOR LOW TOP SNEAKER.</p>
    </div>
    <div class="slider-slider-discover">
        <div class="products">{{widget type="Synolia\Slider\Block\Widget\Slider" code="discover-nudes-products-slider" template="Synolia_Slider::widget/sliderDiscover.phtml"}}</div>
    </div>
</div>
