<div class="easycms-block title-subtitle-slider">
    <div class="title-slider-discover">
        <p>Get the matte look</p>
    </div>
    <div class="subtitle-slider-discover">
        <p>Matte fabrics are featured in Christian Louboutin’s designs and have directly inspired Matte Fluids’ rich colours, textures and formulas. From lips to nails, the new collection comes with ten shades of Matte Fluids, five shades of Metal Matte Fluids and five shades of Matte Nail Colours.</p>
    </div>
    <div class="slider-slider-discover">
        <div class="products">{{widget type="Synolia\Slider\Block\Widget\Slider" code="discover-elisa-products-slider" template="Synolia_Slider::widget/sliderDiscover.phtml"}}</div>
    </div>
</div>
