<div class="easycms-block title-text">
    <p class="title-text-title scroll-notvisible">The Shade Of It All</p>
    <p class="title-text-text scroll-notvisible x2">Originally launched in 2013 with five hues, the Nudes collection is now made up of eight Nude shades (and counting), ensuring that there’s something for every skin tone.</p>
</div>
