<div class="easycms-block title-subtitle-slider">
    <div class="title-slider-discover">
        <p>Like No Other</p>
    </div>
    <div class="subtitle-slider-discover">
        <p>AN INNOVATIVE SNEAKER DESIGNED FOR THE URBAN PLAYGROUND AND SET TO SEDUCE TREND-SETTERS AND BOLD PERSONALITIES ALIKE.</p>
    </div>
    <div class="slider-slider-discover">
        <div class="products">{{widget type="Synolia\Slider\Block\Widget\Slider" code="discover-loubishark-products-slider2" template="Synolia_Slider::widget/sliderDiscover.phtml"}}</div>
    </div>
</div>
