<div class="easycms-block title-text">
    <p class="title-text-title scroll-notvisible">Here To Stay</p>
    <p class="title-text-text scroll-notvisible x2">Multifaceted and endlessly versatile, the Nudes have been invented and reinvented since they were first launched and show no signs of stopping now. So, expect to see more iterations of this now integral part of the Maison’s DNA over the coming seasons.</p>
</div>
