<div class="easycms-block title-subtitle-slider">
    <div class="title-slider-discover">
        <p>An Ode To Egypt</p>
    </div>
    <div class="subtitle-slider-discover">
        <p>WITH A SIMPLE YET SOPHISTICATED ARCHITECTURE THAT MIRRORS THE PROUD LINES OF THE AMON TEMPLE IN LUXOR, THE BAG’S BODY IS ENDOWED WITH A COMPLEX ACCORDION PLEAT FOR GREATER VERSATILITY.</p>
    </div>
    <div class="slider-slider-discover">
        <div class="products">{{widget type="Synolia\Slider\Block\Widget\Slider" code="discover-elisa-products-slider" template="Synolia_Slider::widget/sliderDiscover.phtml"}}</div>
    </div>
</div>
