<div class="easycms-block title-image">
    <div class="title-image-title right">
        <p class="h2">High in colour</p>
    </div>
    <div class="title-image-image left">
        <a title="Title example" href="{{store url=''}}">
            <img src="https://dummyimage.com/1200x960/000/fff" alt="Image mobile" />
        </a>
    </div>
</div>
