<div class="easycms-block title-text">
    <p class="title-text-title scroll-notvisible">One Iconic Bag, Three Sizes</p>
    <p class="title-text-text scroll-notvisible x2">Whether large, small or mini, the Elisa does it all and does it well. Also available in a belt-bag, this timeless piece knows how to adapt to the many lifestyles and needs of the modern woman.</p>
</div>
