<div class="easycms-block title-text">
    <p class="title-text-title scroll-notvisible">The Nudes Concept</p>
    <p class="title-text-text scroll-notvisible x2">Closer than ever to Christian’s heart, the Nudes collection is and always has been an ode to inclusivity, regardless of skin color and now, of gender. Designed to elongate the leg, they add the perfect finish touch to any look.</p>
</div>
