<div class="easycms-block title-subtitle-slider">
    <div class="title-slider-discover">
        <p>Matte, matte everywhere</p>
    </div>
    <div class="subtitle-slider-discover">
        <p>For a bold and sensual look, use the lip colours and apply the matte nail colour on your nails.</p>
    </div>
    <div class="slider-slider-discover">
        <div class="products">{{widget type="Synolia\Slider\Block\Widget\Slider" code="discover-elisa-products-slider" template="Synolia_Slider::widget/sliderDiscover.phtml"}}</div>
    </div>
</div>
