<div class="easycms-block title-text">
    <p class="title-text-title scroll-notvisible">Sous les projecteurs</p>
    <p class="title-text-text scroll-notvisible x2">Les Matte Fluids ne sont pas que des rouges à lèvres ! Ils se déclinent également en cinq vernis à ongles rouges, à associer au kit de manucure mat pour un fini impeccable.</p>
</div>
