<div class="easycms-block title-subtitle-slider">
    <div class="title-slider-discover">
        <p>It’s In The Bag</p>
    </div>
    <div class="subtitle-slider-discover">
        <p>IDEAL FOR STASHING THOSE ALL-IMPORTANT ESSENTIALS, THE LOUBILAB CROSS-BODY POUCH IS ON HAND FOR BOTH MEN AND WOMEN WHILST THREE OF THE MAISON’S MOST ICONIC WOMEN’S STYLES INCLUDING THE ELISA, HAVE ALSO BEEN GIVEN A NUDES MAKEOVER.</p>
    </div>
    <div class="slider-slider-discover">
        <div class="products">{{widget type="Synolia\Slider\Block\Widget\Slider" code="discover-nudes-products-slider2" template="Synolia_Slider::widget/sliderDiscover.phtml"}}</div>
    </div>
</div>
