<div class="easycms-block title-text">
    <p class="title-text-title scroll-notvisible">Inately Chic</p>
    <p class="title-text-text scroll-notvisible x2">Inspired by Christian’s lifelong fascination with ancient Egypt, designed for the modern woman. Combining Italian craftsmanship with timeless French elegance, the new Elisa bag has all the makings of an icon.</p>
</div>
