<div class="easycms-block title-text">
    <p class="title-text-title scroll-notvisible">A Sneaker With Sole</p>
    <p class="title-text-text scroll-notvisible x2">Bold, modern and creative: the Loubishark Sneaker a beacon of technical and aesthetic innovations for a style like no other. Undoubtedly the star of this new sneaker, the Loubishark’s chunky XXL outsole plays with proportions to create a look with real bite.</p>
</div>
