<p style="color: #000;">Our Customer Service remain available to assist you during the entire return creation process using our <a style="color: #888;" href="{{store url=''}}contact" target="_blank" rel="noopener">online form</a>.<br><br><strong>For all orders placed prior to the 13th of October 2020, we invite you to contact the Customer Service team to organize the return of your order at {{config path="general/store_information/phone"}} or <a style="color: #888;" href="mailto:customerservice-europe@christianlouboutin.fr">customerservice-europe@christianlouboutin.fr</a> and apologise for any inconvenience this may cause.</strong></p>
<p><br><br></p>
